content-width = 65%

*
	margin 0
	padding 0
	box-sizing border-box
	
.highlighted
	border-bottom 5px solid #e8645a !important

body
	min-width 320px
	.scroll-block
		width 100%
		overflow hidden
		color #ffffff
		position relative
		height 550px
		.scroll-left
		.scroll-right
			position absolute
			font-family FontAwesome
			font-size 40px
			padding 2px 12px 10px 12px
			margin-top 245px
			background-color #e8645a
			border-radius 0 5px 5px 0
			cursor pointer
		.scroll-right
			right 0px
			border-radius 5px 0 0 5px
		.scroll-left
			left 0px
		.scroller
			height 100%
			display flex
			flex-direction row
			position absolute
			z-index -20
			.scroll-data
				position relative
				width 100%
				height 500px
				display inline-block
				z-index -10
				.scroll-item
					display flex
					flex-direction column
					align-items center
					margin-top 162px
					span
						border-radius 5px
						padding-left 10px
						padding-right 10px
					.title
						text-transform uppercase
						background-color #e2534b
						font-size 50px
						font-family OpenSans-Extrabold
						margin-bottom 10px
						cursor pointer
					.text
						background-color #3f4646
						width 470px
						font-size 16px
						font-family OpenSans
						text-align center
						padding 10px 20px 10px 20px
						cursor pointer
			.scroll-data-1
				background-color #7f8c8c
				order 1
			.scroll-data-2
				background-color red
				order 2
			.scroll-data-3
				background-color yellow
				order 3
			.scroll-data-4
				background-color blue
				order 4
		.scroll-pointer
			position absolute
			bottom 0px
			width 100%
			height 50px
			display flex
			flex-direction row
			align-items center
			justify-content center
			background-color #f3f3f3
			.pointer
				width 60px
				border-bottom 5px solid #b0b8b9
				margin-left 10px
				cursor pointer
	.services-block
		width 100%
		overflow auto
		height auto
		background-color #f3f3f3
		.top-services
			width content-width
			height 100px
			background-color #ececec
			margin 0 auto
			position relative
			padding-top 10px
			padding-left 20px
			border-radius 5px
			.title
				color #7f8c8c
				font-size 30px
				font-family OpenSans-Semibold
			.text
				color #7f8c8c
				font-size 13px
				font-family OpenSans
				width 75%
			.button
				display inline-block
				color #ffffff
				font-size 20px
				font-family OpenSans-Semibold
				background-color #62a29e
				float right
				-webkit-box-shadow 0px 3px 0px 0px rgba(82, 139, 134, 1)
				-moz-box-shadow    0px 3px 0px 0px rgba(82, 139, 134, 1)
				box-shadow         0px 3px 0px 0px rgba(82, 139, 134, 1)
				cursor pointer
				border-radius 5px
				text-transform uppercase
				padding 10px 30px 10px 30px
				position absolute
				top 26px
				right 22px
				&:hover
					background-color #e8645a
					-webkit-box-shadow 0px 3px 0px 0px rgba(226, 83, 75, 1)
					-moz-box-shadow    0px 3px 0px 0px rgba(226, 83, 75, 1)
					box-shadow         0px 3px 0px 0px rgba(226, 83, 75, 1)
		.read-more-services
			width content-width
			height 400px
			margin 0 auto
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			> div
				position relative
				height 310px
				width 23%
				display flex
				flex-direction column
				align-items center
				background-color #ffffff
				border-radius 5px
				-webkit-box-shadow 0px 3px 0px 0px rgba(229, 230, 230, 1)
				-moz-box-shadow    0px 3px 0px 0px rgba(229, 230, 230, 1)
				box-shadow         0px 3px 0px 0px rgba(229, 230, 230, 1)
				.icon
					margin-top 40px
					margin-bottom 10px
				.title
					text-transform uppercase
					color #7f8c8c
					font-size 16px
					font-family OpenSans-Extrabold
					margin-bottom 30px
				.text
					width 95%
					color #7f8c8c
					font-size 13px
					font-family OpenSans
					text-align center
					padding 10px
				.button
					position absolute
					bottom -25px
					left 13%
					width 74%
					height 50px
					line-height 50px
					background-color #76c7c0
					-webkit-box-shadow 0px 3px 0px 0px rgba(98, 189, 189, 1)
					-moz-box-shadow    0px 3px 0px 0px rgba(98, 189, 189, 1)
					box-shadow         0px 3px 0px 0px rgba(98, 189, 189, 1)
					cursor pointer
					text-align center
					color #ffffff
					border-radius 5px
					font-family OpenSans-Semibold
					font-size 14px
					&:hover
						background-color #e8645a
						-webkit-box-shadow 0px 3px 0px 0px rgba(226, 83, 75, 1)
						-moz-box-shadow    0px 3px 0px 0px rgba(226, 83, 75, 1)
						box-shadow         0px 3px 0px 0px rgba(226, 83, 75, 1)
						cursor pointer
			.suspendisse
				.icon
					background url('../images/like.png') center no-repeat
					width 52px
					height 57px
			.maecenas
				.icon
					background url('../images/key.png') center no-repeat
					width 57px
					height 55px
			.aliquam
				.icon
					background url('../images/flag.png') center no-repeat
					width 58px
					height 53px
			.habitasse
				.icon
					background url('../images/bottle.png') center no-repeat
					width 50px
					height 52px
	.why-modus
		width 100%
		overflow auto
		height auto
		.why-ruler
			width 100%
			height 22px
			background url('../images/ruler-w-bg.jpg') center repeat-x
		.why-modus-versus
			width 100%
			overflow auto
			height auto
			.grey
				height 380px
				background-color #ececec
				width 100%
				display inline-block
				.title
					text-transform uppercase
					color #e1524b
					font-size 40px
					font-family OpenSans-Semibold
					width 100%
					text-align center
					margin-top 20px
				.text
					color #777777
					font-family OpenSans
					font-size 13px
					width 100%
					text-align center
				.windows
					width content-width
					margin 0 auto
					position relative
					> div
						background-color #b0b8b9
						border-radius 5px
						position absolute
						.menu
							float left
							width 40px
							margin-left 15px
							margin-top 10px
							.circle
								display inline-block
								background-color #ffffff
								width 10px
								height 10px
								-moz-border-radius 5px
								-webkit-border-radius 5px
								border-radius 5px
								margin-right 2px
						.minimize
							float right
							background-color #ffffff
							width 10px
							height 5px
							-moz-border-radius 3px
							-webkit-border-radius 3px
							border-radius 3px
							margin-right 10px
							margin-top 15px
						.image
							position absolute
							width 98%
							bottom 5px
							left 0
							right 0
							margin auto
							background-color #62b9b0
							border-radius 5px
							color #ffffff
							font-size 25px
							font-family OpenSans-Semibold
							text-align center
					.window-1
					.window-3
						width 370px
						height 260px
						top 148px
						z-index 1
						.image
							// width 360px
							height 80%
							line-height 213px
							vertical-align middle
					.window-1
						left 0px
					.window-2
						position relative
						width 570px
						height 360px
						margin 0 auto
						background-color #c1c7c8
						top 94px
						// left calc(100% / 2 - 285px)
						z-index 2
						.image
							// width 98%
							height 85%
							background-color #7f8c8c
							line-height 310px
							vertical-align middle
					.window-3
						right 0px
			.white
				height 215px
				background-color #f3f3f3
		.metric
			width 100%
			// height 334px
			overflow auto
			height auto
			background-color #f3f3f3
			.why-us-wrapper
				width content-width
				margin 0 auto
				display flex
				flex-direction row
				justify-content space-between
				.why-choose-us
					width 20%
					.title
						font-family OpenSans-Extrabold
						font-size 16px
						color #7f8c8c
						margin-bottom 20px
					.list
						list-style-image: url('../images/arrow-small-orange.png')
						font-family OpenSans
						font-size 13px
						color #777777
						li
							line-height 25px
				.counters-block
					width 50%
					.text
						font-family OpenSans
						font-size 13px
						color #777777
						line-height 25px
						margin-bottom 30px
						a
							color #e1524b
					.counters
						font-family OpenSans-Extrabold
						font-size 16px
						color #7f8c8c
						text-transform uppercase
						display flex
						flex-direction row
						justify-content center
						flex-wrap wrap
						div
							margin-left 5px
							height auto
							.title
								text-align center
				.what-client-say
					width 21%
					.title
						font-family OpenSans-Extrabold
						font-size 16px
						color #7f8c8c
						margin-bottom 20px
					.text
						font-family OpenSans-Italic
						font-size 13px
						color #777777
						line-height 25px
						background-color #ffffff
						padding 10px
						margin-bottom 10px
					.signature
						font-family OpenSans-Semibold
						font-size 16px
						color #777777
						text-align center
		.happy-clients
			width 100%
			height auto
			background-color #f3f3f3
			.header
				width content-width
				margin 0 auto
				display flex
				flex-direction row
				justify-content space-between
				.text
					flex 0 0 160px
					float left
					font-family OpenSans-Extrabold
					font-size 16px
					color #7f8c8c
					line-height 40px
					vertical-align middle
				.circle-line
					flex 1 1 71%
					display flex
					div
						margin-top 20px
					.circle
						background-color #e1e2e2
						width 5px
						height 5px
						-moz-border-radius 2px
						-webkit-border-radius 2px
						border-radius 2px
					.line
						height 1px
						width 100%
						background-color #e1e2e2
						margin-top 22px
				.buttons
					flex 0 0 110px
					float right
					margin-right 44px
					color #ffffff
					div
						display inline-block
						margin-left 15px
						width 40px
						height 40px
						font-family OpenSans-Extrabold
						font-size 20px
						border-radius 5px
						padding 7px 7px 7px 13px
						background-color #98a3a3
						-webkit-box-shadow 0px 3px 0px 0px rgba(127, 140, 140, 1)
						-moz-box-shadow    0px 3px 0px 0px rgba(127, 140, 140, 1)
						box-shadow         0px 3px 0px 0px rgba(127, 140, 140, 1)
						cursor pointer
						&:hover
							background-color #e2534b
							-webkit-box-shadow 0px 3px 0px 0px rgba(226, 83, 75, 1)
							-moz-box-shadow    0px 3px 0px 0px rgba(226, 83, 75, 1)
							box-shadow         0px 3px 0px 0px rgba(226, 83, 75, 1)
							cursor pointer
			.scroll-bottom
				position relative
				width content-width
				height 120px
				margin 0 auto
				margin-top 30px
				overflow hidden
				.scroller
					position absolute
					left 0px
					top 0px
					margin 0 auto
					// display flex
					// flex-direction row
					// justify-content space-between
					.client
						display inline-block
						// flex 0 1 170px
						width 170px
						height 90px
						margin-right 10px
						background #ffffff url('../images/jquery.png') center no-repeat