.fadingCircle {
  width: 1em;
  height: 1em;
  position: relative;
  margin: auto;
  display: none;
  vertical-align: middle;
}

.fadingCircle .sms-circle{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.fadingCircle .sms-circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
}

.fadingCircle .sms-circle2{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(30deg);
}
.fadingCircle .sms-circle2:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -1.1s;
}
.fadingCircle .sms-circle3{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(60deg);
}
.fadingCircle .sms-circle3:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -1s;
}
.fadingCircle .sms-circle4{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
}
.fadingCircle .sms-circle4:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.9s;
}
.fadingCircle .sms-circle5{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(120deg);
}
.fadingCircle .sms-circle5:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.8s;
}
.fadingCircle .sms-circle6{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(150deg);
}
.fadingCircle .sms-circle6:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.7s;
}

.fadingCircle .sms-circle7{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(180deg);
}
.fadingCircle .sms-circle7:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.6s;
}

.fadingCircle .sms-circle8{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(210deg);
}
.fadingCircle .sms-circle8:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.5s;
}
.fadingCircle .sms-circle9{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(240deg);
}
.fadingCircle .sms-circle9:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.4s;
}
.fadingCircle .sms-circle10{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(270deg);
}
.fadingCircle .sms-circle10:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.3s;
}
.fadingCircle .sms-circle11{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(300deg);
}
.fadingCircle .sms-circle11:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.2s;
}
.fadingCircle .sms-circle12{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(330deg);
}
.fadingCircle .sms-circle12:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #a1a1a1;
    border-radius: 100%;
    animation: a 1.2s infinite ease-in-out both;
    animation-delay: -.1s;
}
@keyframes a {
	0%,39%,to {
		opacity: 0
	}

	40% {
		opacity: 1
	}
}
