// -- MIXINS

MakeAlignItemsStart( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-items-start{suffix}
    {
        align-items: flex-start important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-items-start-{media_query_name}{suffix}
            {
                align-items: flex-start important;
            }
        }
    }

// ~~

MakeAlignItemsCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-items-center{suffix}
    {
        align-items: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-items-center-{media_query_name}{suffix}
            {
                align-items: center important;
            }
        }
    }

// ~~

MakeAlignItemsEnd( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-items-end{suffix}
    {
        align-items: flex-end important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-items-end-{media_query_name}{suffix}
            {
                align-items: flex-end important;
            }
        }
    }

// ~~

MakeAlignItemsStretch( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-items-stretch{suffix}
    {
        align-items: stretch important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-items-stretch-{media_query_name}{suffix}
            {
                align-items: stretch important;
            }
        }
    }

// ~~

MakeAlignItemsBaseline( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-items-baseline{suffix}
    {
        align-items: baseline important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-items-baseline-{media_query_name}{suffix}
            {
                align-items: baseline important;
            }
        }
    }

// ~~

MakeAlignSelfStart( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-self-start{suffix}
    {
        align-self: flex-start important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-self-start-{media_query_name}{suffix}
            {
                align-self: flex-start important;
            }
        }
    }

// ~~

MakeAlignSelfCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-self-center{suffix}
    {
        align-self: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-self-center-{media_query_name}{suffix}
            {
                align-self: center important;
            }
        }
    }

// ~~

MakeAlignSelfEnd( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-self-end{suffix}
    {
        align-self: flex-end important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-self-end-{media_query_name}{suffix}
            {
                align-self: flex-end important;
            }
        }
    }

// ~~

MakeAlignSelfStretch( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-self-stretch{suffix}
    {
        align-self: stretch important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-self-stretch-{media_query_name}{suffix}
            {
                align-self: stretch important;
            }
        }
    }

// ~~

MakeAlignSelfBaseline( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}align-self-baseline{suffix}
    {
        align-self: baseline important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}align-self-baseline-{media_query_name}{suffix}
            {
                align-self: baseline important;
            }
        }
    }
