// ============================================================
// Color palette from Google Material Design
// ============================================================
// Usage: font: $mdc.colorname.number
// ============================================================

// Red
// ------------------------------------------------------------
material-desing-color-red = {
  'base': #f44336,
  'b50':   #ffebee,
  'b100':  #ffcdd2,
  'b200':  #ef9a9a,
  'b300':  #e57373,
  'b400':  #ef5350,
  'b500':  #f44336,
  'b600':  #e53935,
  'b700':  #d32f2f,
  'b800':  #c62828,
  'b900':  #b71c1c,
  'a100': #ff8a80,
  'a200': #ff5252,
  'a400': #ff1744,
  'a700': #d50000
}

// Pink
// ------------------------------------------------------------
material-desing-color-pink = {
  'base': #e91e63,
  'b50':   #fce4ec,
  'b100':  #f8bbd0,
  'b200':  #f48fb1,
  'b300':  #f06292,
  'b400':  #ec407a,
  'b500':  #e91e63,
  'b600':  #d81b60,
  'b700':  #c2185b,
  'b800':  #ad1457,
  'b900':  #880e4f,
  'a100': #ff80ab,
  'a200': #ff4081,
  'a400': #f50057,
  'a700': #c51162
}

// Purple
// ------------------------------------------------------------
material-desing-color-purple = {
  'base': #9c27b0,
  'b50':   #f3e5f5,
  'b100':  #e1bee7,
  'b200':  #ce93d8,
  'b300':  #ba68c8,
  'b400':  #ab47bc,
  'b500':  #9c27b0,
  'b600':  #8e24aa,
  'b700':  #7b1fa2,
  'b800':  #6a1b9a,
  'b900':  #4a148c,
  'a100': #ea80fc,
  'a200': #e040fb,
  'a400': #d500f9,
  'a700': #aa00ff
}

// Deep purple
// ------------------------------------------------------------
material-desing-color-deep-purple = {
  'base': #673ab7,
  'b50':   #ede7f6,
  'b100':  #d1c4e9,
  'b200':  #b39ddb,
  'b300':  #9575cd,
  'b400':  #7e57c2,
  'b500':  #673ab7,
  'b600':  #5e35b1,
  'b700':  #512da8,
  'b800':  #4527a0,
  'b900':  #311b92,
  'a100': #b388ff,
  'a200': #7c4dff,
  'a400': #651fff,
  'a700': #6200ea
}

// Indigo
// ------------------------------------------------------------
material-desing-color-indigo = {
  'base': #3f51b5,
  'b50':   #e8eaf6,
  'b100':  #c5cae9,
  'b200':  #9fa8da,
  'b300':  #7986cb,
  'b400':  #5c6bc0,
  'b500':  #3f51b5,
  'b600':  #3949ab,
  'b700':  #303f9f,
  'b800':  #283593,
  'b900':  #1a237e,
  'a100': #8c9eff,
  'a200': #536dfe,
  'a400': #3d5afe,
  'a700': #304ffe
}

// Blue
// ------------------------------------------------------------
material-desing-color-blue = {
  'base': #2196f3,
  'b50':   #e3f2fd,
  'b100':  #bbdefb,
  'b200':  #90caf9,
  'b300':  #64b5f6,
  'b400':  #42a5f5,
  'b500':  #2196f3,
  'b600':  #1e88e5,
  'b700':  #1976d2,
  'b800':  #1565c0,
  'b900':  #0d47a1,
  'a100': #82b1ff,
  'a200': #448aff,
  'a400': #2979ff,
  'a700': #2962ff
}

// Light Blue
// ------------------------------------------------------------
material-desing-color-light-blue = {
  'base': #03a9f4,
  'b50':   #e1f5fe,
  'b100':  #b3e5fc,
  'b200':  #81d4fa,
  'b300':  #4fc3f7,
  'b400':  #29b6f6,
  'b500':  #03a9f4,
  'b600':  #039be5,
  'b700':  #0288d1,
  'b800':  #0277bd,
  'b900':  #01579b,
  'a100': #80d8ff,
  'a200': #40c4ff,
  'a400': #00b0ff,
  'a700': #0091ea
}

// Cyan
// ------------------------------------------------------------
material-desing-color-cyan = {
  'base': #00bcd4,
  'b50':   #e0f7fa,
  'b100':  #b2ebf2,
  'b200':  #80deea,
  'b300':  #4dd0e1,
  'b400':  #26c6da,
  'b500':  #00bcd4,
  'b600':  #00acc1,
  'b700':  #0097a7,
  'b800':  #00838f,
  'b900':  #006064,
  'a100': #84ffff,
  'a200': #18ffff,
  'a400': #00e5ff,
  'a700': #00b8d4
}

// Teal
// ------------------------------------------------------------
material-desing-color-teal = {
  'base': #009688,
  'b50':   #e0f2f1,
  'b100':  #b2dfdb,
  'b200':  #80cbc4,
  'b300':  #4db6ac,
  'b400':  #26a69a,
  'b500':  #009688,
  'b600':  #00897b,
  'b700':  #00796b,
  'b800':  #00695c,
  'b900':  #004d40,
  'a100': #a7ffeb,
  'a200': #64ffda,
  'a400': #1de9b6,
  'a700': #00bfa5
}
// Green
// ------------------------------------------------------------
material-desing-color-green = {
  'base': #4caf50,
  'b50':   #e8f5e9,
  'b100':  #c8e6c9,
  'b200':  #a5d6a7,
  'b300':  #81c784,
  'b400':  #66bb6a,
  'b500':  #4caf50,
  'b600':  #43a047,
  'b700':  #388e3c,
  'b800':  #2e7d32,
  'b900':  #1b5e20,
  'a100': #b9f6ca,
  'a200': #69f0ae,
  'a400': #00e676,
  'a700': #00c853
}

// Light green
// ------------------------------------------------------------
material-desing-color-light-green = {
  'base': #8bc34a,
  'b50':   #f1f8e9,
  'b100':  #dcedc8,
  'b200':  #c5e1a5,
  'b300':  #aed581,
  'b400':  #9ccc65,
  'b500':  #8bc34a,
  'b600':  #7cb342,
  'b700':  #689f38,
  'b800':  #558b2f,
  'b900':  #33691e,
  'a100': #ccff90,
  'a200': #b2ff59,
  'a400': #76ff03,
  'a700': #64dd17
}

// Lime
// ------------------------------------------------------------
material-desing-color-lime = {
  'base': #cddc39,
  'b50':   #f9fbe7,
  'b100':  #f0f4c3,
  'b200':  #e6ee9c,
  'b300':  #dce775,
  'b400':  #d4e157,
  'b500':  #cddc39,
  'b600':  #c0ca33,
  'b700':  #afb42b,
  'b800':  #9e9d24,
  'b900':  #827717,
  'a100': #f4ff81,
  'a200': #eeff41,
  'a400': #c6ff00,
  'a700': #aeea00
}

// Yellow
// ------------------------------------------------------------
material-desing-color-yellow = {
  'base': #ffeb3b,
  'b50':   #fffde7,
  'b100':  #fff9c4,
  'b200':  #fff59d,
  'b300':  #fff176,
  'b400':  #ffee58,
  'b500':  #ffeb3b,
  'b600':  #fdd835,
  'b700':  #fbc02d,
  'b800':  #f9a825,
  'b900':  #f57f17,
  'a100': #ffff8d,
  'a200': #ffff00,
  'a400': #ffea00,
  'a700': #ffd600
}
// amber
// ------------------------------------------------------------
material-desing-color-amber = {
  'base': #ffc107,
  'b50':   #fff8e1,
  'b100':  #ffecb3,
  'b200':  #ffe082,
  'b300':  #ffd54f,
  'b400':  #ffca28,
  'b500':  #ffc107,
  'b600':  #ffb300,
  'b700':  #ffa000,
  'b800':  #ff8f00,
  'b900':  #ff6f00,
  'a100': #ffe57f,
  'a200': #ffd740,
  'a400': #ffc400,
  'a700': #ffab00
}
// Orange
// ------------------------------------------------------------
material-desing-color-orange = {
  'base': #ff9800,
  'b50':   #fff3e0,
  'b100':  #ffe0b2,
  'b200':  #ffcc80,
  'b300':  #ffb74d,
  'b400':  #ffa726,
  'b500':  #ff9800,
  'b600':  #fb8c00,
  'b700':  #f57c00,
  'b800':  #ef6c00,
  'b900':  #e65100,
  'a100': #ffd180,
  'a200': #ffab40,
  'a400': #ff9100,
  'a700': #ff6d00
}
// Deep orangle
// ------------------------------------------------------------
material-desing-color-deep-orange = {
  'base': #ff5722,
  'b50':   #fbe9e7,
  'b100':  #ffccbc,
  'b200':  #ffab91,
  'b300':  #ff8a65,
  'b400':  #ff7043,
  'b500':  #ff5722,
  'b600':  #f4511e,
  'b700':  #e64a19,
  'b800':  #d84315,
  'b900':  #bf360c,
  'a100': #ff9e80,
  'a200': #ff6e40,
  'a400': #ff3d00,
  'a700': #dd2c00
}
// Brown
// ------------------------------------------------------------
material-desing-color-brown = {
  'base': #795548,
  'b50':   #efebe9,
  'b100':  #d7ccc8,
  'b200':  #bcaaa4,
  'b300':  #a1887f,
  'b400':  #8d6e63,
  'b500':  #795548,
  'b600':  #6d4c41,
  'b700':  #5d4037,
  'b800':  #4e342e,
  'b900':  #3e2723,
}
// Grey
// ------------------------------------------------------------
material-desing-color-grey = {
  'base': #9e9e9e,
  'b50':   #fafafa,
  'b100':  #f5f5f5,
  'b200':  #eeeeee,
  'b300':  #e0e0e0,
  'b400':  #bdbdbd,
  'b500':  #9e9e9e,
  'b600':  #757575,
  'b700':  #616161,
  'b800':  #424242,
  'b900':  #212121,
}
// Blue grey
// ------------------------------------------------------------
material-desing-color-blue-grey = {
  'base': #607d8b,
  'b50':   #eceff1,
  'b100':  #cfd8dc,
  'b200':  #b0bec5,
  'b300':  #90a4ae,
  'b400':  #78909c,
  'b500':  #607d8b,
  'b600':  #546e7a,
  'b700':  #455a64,
  'b800':  #37474f,
  'b900':  #263238,
}

// Black
// ------------------------------------------------------------

material-desing-color-black = {
  'base': #000
}

// White
// ------------------------------------------------------------

material-desing-color-white = {
  'base': #fff
}

// Merge colors in $mdc variable
// ------------------------------------------------------------
$mdc = {
  'red':         material-desing-color-red,
  'pink':        material-desing-color-pink,
  'purple':      material-desing-color-purple,
  'deep-purple': material-desing-color-deep-purple,
  'indigo':      material-desing-color-indigo,
  'blue':        material-desing-color-blue,
  'light-blue':  material-desing-color-light-blue,
  'cyan':        material-desing-color-cyan,
  'teal':        material-desing-color-teal,
  'green':       material-desing-color-green,
  'light-green': material-desing-color-light-green,
  'lime':        material-desing-color-lime,
  'yellow':      material-desing-color-yellow,
  'amber':       material-desing-color-amber,
  'orange':      material-desing-color-orange,
  'deep-orange': material-desing-color-deep-orange,
  'brown':       material-desing-color-brown,
  'grey':        material-desing-color-grey,
  'gray':        material-desing-color-grey, // for spelling
  'blue-grey':   material-desing-color-blue-grey,
  'black':       material-desing-color-black.base,
  'white':       material-desing-color-white.base
}
