.footer
  background var(--gray1)
  padding 80px 0
  @media (max-width: 1023px)
    padding 60px 25px 120px
  @media (max-width: 767px)
    padding 40px 16px 70px
  .container
    display grid
    grid-template-columns 1fr 1fr 1fr
    position relative
    @media (max-width: 1680px)
      display flex
      flex-wrap wrap
      justify-content space-between
  &__heading
    h2
      font-family var(--text-font)
      font-size 18px
      font-weight 400
      margin 0
      text-transform uppercase
    @media (max-width: 1680px)
      width 20%
    @media (max-width: 767px)
      order 1
      width 100%
      text-align center
      margin-bottom 20px
  &__links
    display flex
    justify-content flex-end
    @media (max-width: 767px)
      justify-content center
      order 4
      margin-top 40px
    a
      color inherit
      transition .5s
      &:hover
        @media (hover)
          color var(--gold)
  &__tc
    display flex
    @media (max-width: 1680px)
      width: 40%
    @media (max-width: 1267px)
      width 60%
    @media (max-width: 1023px)
      width 50%
    @media (max-width: 767px)
      width 100%
      justify-content space-between
      order 2
    a
      text-transform uppercase
      color inherit
      font-size 14px
      margin-right 70px
      transition .5s
      &:hover
        @media (hover)
          color var(--gold)
      &:last-child
        margin-right 0
      @media (max-width: 1023px)
        margin-right 40px
      @media (max-width: 767px)
        margin-right 0
  &__social
    margin-top 55px
    display flex
    justify-content flex-end
    @media (max-width: 1680px)
      width: auto
    @media (max-width: 1267px)
      position absolute
      right 0
      top 60px
    @media (max-width: 767px)
      order 5
      position static
      margin-top 40px
    a
      text-decoration none
      margin-left 30px
      color inherit
      transition .5s
      @media (max-width: 1680px)
        margin-left 25px
      &:first-child
        margin-left 0
      &:hover
        @media (hover)
          color var(--gold)
  &__contact
    margin-top 55px
    color var(--gray3)
    @media (max-width: 1680px)
      width auto
      margin-right 40px
      font-size 16px
    @media (max-width: 1267px)
      width 100%
      +.footer__contact
        margin-top 20px
    @media (max-width: 767px)
      order 3
      margin-top 40px
      font-size 14px
      +.footer__contact
        margin-top 20px
.copyright
  padding 20px 0
  color var(--gray3)
  @media (max-width: 1023px)
    padding 20px 25px
  @media (max-width: 767px)
    padding 15px 16px 35px
    text-align center
  .container
    display flex
    justify-content space-between
    align-items center
    @media (max-width: 767px)
      display block
  a
    color inherit
    font-size 10px
    text-transform uppercase
    @media (max-width: 767px)
      margin-top 20px
      display inline-block

.success-content
  background var(--white)
  width 750px
  text-align center
  padding 140px 90px
  @media (max-width: 1267px)
    width 650px
    padding 100px 60px
  @media (max-width: 1023px)
    width 600px
    padding 80px 40px
  @media (max-width: 767px)
    width calc(100vw - var(--scrollbar-width))
    padding 60px 25px
    p
      font-size 14px
  .btn
    margin-top 30px
