.font
    font-family Open Sans!important

.font p 
    font-weight normal!important 


#map_canvas
    height 500px
    width 500px
    margin 0px
    
#map_canvas 
    position relative

.angular-google-map-container 
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    
#header1
    padding 5px 0px 0px 0px
    width 100%
    height 50px
    background #333333
    background-color #333333
    position relative 
    
#shape
    position relative
    height: 100%;
    border-bottom: 40px solid #fff;
    border-right: 45px solid transparent;
    
#textheader    
    position relative
    top 10px
    color #fff
    strong
        font-size 12px
    
#header2      
    height 80px
    background #fff
    background-color #fff
    position relative
      
#logo
    bottom 20px
    position relative  
    
#buttonG
    position relative
    width 170px
    height 45px
    background #00a651
    text-align center  
    font-size 11px
    display block
    color #fff 
    line-height 45px
    -webkit-box-shadow: 2px 12px 11px -7px rgba(0,166,81,0.52);
    -moz-box-shadow: 2px 12px 11px -7px rgba(0,166,81,0.52);
    box-shadow: 2px 12px 11px -7px rgba(0,166,81,0.52); 
    
#buttonG:hover
    background #008440    
    //10px 10px 4px -6px
#header2 
    padding 20px 0px 0px 0px

    
.daneheader p
    font-size 13px
    margin 0px
    position relative 
    color #333333
    
.daneheader strong
    color #a91605
    font-size 13px    
             


#zawartosc
    padding: 50px;

#slider
    width 100%   
   
#slider img    
    width 100%
    height auto
    
.footer 
    position relative
    left 0px
    bottom 0px
    width 100%
    height 50px
    background-color #333333
    
.text-muted
    text-align center
    line-height 39px
    font-size 11px    
    color #fff
    
#medale
    background #D6D6D6
    height 180px
    width 100%
    position relative
    
.medalM
    position relative
    padding: 0px!important;
    padding-top 15px!important 

.boxclass
    height 550px
    position relative 
     
.box  
    position relative 
    margin-left 40px
    margin 30px
    height 180px
    width 320px
    border 1px solid #eeeeee
    -webkit-box-shadow 10px 3px 1px -6px rgba(238,238,238,1)
    -moz-box-shadow 10px 3px 1px -6px rgba(238,238,238,1)
    box-shadow 10px 3px 1px -6px rgba(238,238,238,1)

.box:hover
    background #EFEDE7   
 
.icon
    top 65px
    position absolute
    img
        width 50px
    
.shapeicon
    top 50px
    right 10px
    width 27%
    position relative
    border-bottom 80px solid #cdc7b4
    border-right 20px solid transparent

.textH
    top 50px
    left 90px 
    color #333333
    font-size 18px
    position absolute
    
.textP
    top 80px
    left 90px 
    color #333333
    font-size 12px
    position absolute 


.divparallax
     position relative
     height 520px
     width 100%
     overflow hidden
     
.parallax
     z-index 1
     position absolute 
     width 100%
     background-size: 100% 100% !important    
     height 100%
     background-position center center !important
     //background-attachment fixed !important
     background-repeat no-repeat !important
        
.color-green
     z-index 2
     height 520px
     position absolute
     width 100%
     background-color #333333
     opacity 0.8
     
.divparallax h3  
     z-index 3
     top 50px
     position absolute
     color #fff 
     
    
.divparallax img
     z-index 3  
     height 220px
     width 330px 
     top 130px
     position absolute      
    
         
.justy p
    text-align justify

.center
    text-align center
    
.center p
    text-align center
    font-size 15px
    
.flagiD
    padding-bottom 20px
    
.flagiD
    font-size 16px
    
.padding1
    padding-top 30px
    padding-bottom 60px
    
.elementB
    z-index 100
    position absolute
    top -8px
    left -5px
    height 60px
    
.elementS img
    z-index 100
    position absolute
    left -80px
    height 160px
    width 70px
    
.elementS
    p
    strong
    h1
        text-shadow: 3px 1px 24px rgba(12, 12, 12, 1);
        

.element
    //width 80px
    z-index 100
    position absolute
    //top -20px
    //left -15px
    width 50px   
    top -8px
    left 8px
    
.sprawdzButton
    z-index 90
    background #fff
    background -webkit-linear-gradient(#fff, #fff)
    background linear-gradient(#fff, #fff)
    color #333
    display inline-block
    padding 8px 20px
    font normal 400 16px/1 "Open Sans", sans-serif  

.sprawdzButton:hover
    background #eeeeee
       
.podpis
    z-index 3
    width 330px
    height 100px
    top 350px
    background #fff
    position absolute
    
.podpis p
    color black    
    text-align center
    
.podpis i
    color black      
     
.foto
    padding 10px 10px 0px 0px
    
.foto img 
    height 220px
    width 400px
     
.foto button
    color #fff
    line-height 10px
    
.foto:hover
    opacity 0.6
    background #fff
           
.podpisProdukt
    padding 20px 0px 0px 0px
    height 80px
    width 360px
    background #eeeeee
    
.podpisProdukt
    line-height 15px
    text-align center 
    text-align justify
           
.fotoMini
    padding 10px 10px 0px 0px
    
.fotoMini img
    height 110px
    width 250px
    
.fotoMini:hover
    opacity 0.6
    background #fff         
    
    
.podpis:hover
     background #eeeeee
     
.buttonList
    border-radius 0 !important
    background #a91605
    border 0px
    color #fff       
        
#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#menu.navbar-default {
    margin-bottom 0px
    font-size: 14px;   
    border-bottom-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}

#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #e84545;
}
#menu
    position relative  
    width 100%
    background #a91605
    a
        strong
            font-size 12px
            border-right 1px solid rgba(255,255,255, 0.3);
            padding-right 20px            
.dropdown-menu
    background-color #a91605
    li
        a
            color #fff
.dropdown-menu 
    li
        a:hover
        a:focus
            background transparent
    
.lastt
    a
        strong
            border 0px!important
            
#language
    a
        strong
            border 0px!important  
            
#preloader
    width:100%
    height:auto
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url('https://www.yugma.com/images/loading-animation-7.gif');
    background-position: top 50% left 50%;   
    
.divider
    opacity: 0.3
    
    
.button_base 
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;

.button_base:hover 
    cursor: pointer;

.b03_skewed_slide_in {
    overflow: hidden;
    border: #000000 solid 1px;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color: #000000;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}
   
   
            