.user_profile_header
    width 860px
    span
        font-size 36px
        display inline-block
        width 580px
    a.user_profile__dogovor
        color #2a8bf2
    a.user_profile__exit
        color red
        margin-left 20px

.user_profile_nav
    width 860px
    margin-top 50px
    margin-bottom 30px
    ul
        padding 0
        margin 0
        display table
        border-radius 5px
        li
            list-style none
            display table-cell
            //height 51px //safari
            width 215px
            a
                height 100%
                display block
                padding 17px 23px
                border 1px solid rgb(142, 153, 186);
                margin-left -1px
                text-align center
                transition .4s ease
                &:hover
                    border 1px solid rgb(42, 139, 242)
        li.active
            background rgb(42, 139, 242)
            a
                color #fff

.user_profile__information_company
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    width: 963px;
    //height: 389px
    padding 30px 20px
    .information_company__header
        font-size 18px
        font-weight 500
        margin-bottom 10px
    .information_company__item
        span
            color #181818
            &:first-child
                width 200px
                display inline-block
                line-height 30px

    .requisites_wrapp
        //float left
        display inline-block
        .information_company__item.inn
        .information_company__item.kpp
            width 200px
            span
                &:first-child
                    width 40px
        .information_company__item.okpp
        .information_company__item.invoice
            span
                &:first-child
                    width 140px
.user_profile__delivery
    width 963px
    .stock_where
    .stock_whence
        padding-top 20px
        font-size 18px
        span
            font-weight 300

.user_history_wrapp
    width: 860px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    .recent_actions_table_wrapp
        height auto
        .recent_actions_table__header
            font-size 24px
            font-weight 500
            padding 25px 20px 10px
        .recent_actions_table__header__item
        .recent_actions__item
            span
                width 23%
                font-size 15px
        .no_orders
            position static
.switch_wrapp
    padding 20px
    margin 12px
    .toggle-bg
        background-color: rgb(191, 194, 204);
        width: 63px;
        height: 25px;



//----------------Switch-------------------------

.smile-rating-container {
    position: relative;
    //max-width: 520px;
    //left: -123px;
    padding: 30px 20px 20px;
}

.submit-rating {
    display: flex;
    align-items: center;
    //justify-content: center;
}
.rating-label {
    position: relative;
    text-align: left ;
    //flex: 0.4;
    z-index: 3;
    cursor: pointer;
    transition: 500ms;
    color #181818
    font-size 14px
    margin-right 10px
}
#meh:checked ~ .rating-label-meh {
    color: #1e70c6;
    font-weight 500
}
#fun:checked ~ .rating-label-fun {
    color: #fa6239;
    font-weight 500
}
.rating-label-fun {
    left: 10px;
}
.rating-label-meh {
    //left: 100px;
    text-align: left;
}
.smile-rating-container input {
    display: none;
}

.toggle-rating-pill {
    position: relative;
    height: 23px;
    width: 63px;
    background-color: rgb(191, 194, 204);
    border-radius: 500px;
    transition: all 500ms;
}

.smile-rating-toggle {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(30, 112, 198);
    box-shadow: 0px 2px 2.82px 0.18px rgba(0, 0, 0, 0.24);
    width: 21px;
    height: 21px;
    left: 100px;
    transition: all 500ms;
    z-index: 4;
    top:35.5px
}

#fun:checked~.smile-rating-toggle {
    left: 135px;
    background-color: rgb(250, 98, 57);

}


//------страница истории по крудит.лимиту
.recent_actions_table_wrapp.credit
    .recent_actions_table__header
        color #fa6239
.procedure.replenishment
    color #649619
.procedure.write-off
    color #ff0000
.user_setting_wrapp
      width: 860px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
      max-height: 1000px;
    .user_setting__header
        font-size 24px
        font-weight 500
        padding 25px 20px 10px

#setting
    padding: 0 20px 20px;
    padding-right: 340px;
    .setting_status_all
    .setting_loading_documents_all
        margin-bottom 13px
        margin-top 21px
    .setting_status_order_fulfilled
        margin-bottom 23px
.setting_header_form
    span
        display inline-block
        width 120px
        text-align center
        &:first-child
            width 250px
            text-align left
            line-height: 30px;
            color #181818

//страница пользователя----------------

.user_profile__information_user
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    width: 963px;
    min-height 530px
    padding 30px 20px
    .information_user__header
        font-size 24px
        font-weight 500
        margin-bottom 20px

.user_profile__user_name
.user_profile__user_avatar
.user_profile__user_login
.user_profile__user_password
.user_profile__user_new_password
    display table
    label
    input
    button
    span
        display table-cell
        vertical-align middle
    label
        width 130px
        color #181818
    input[name="FIO"]
        height 34px
        width 490px
        border-radius 5px
        border 1px solid rgb(221, 224, 234);
        text-indent 10px
    input[name="FIO"]:disabled
        background 0 0
    input[name="FIO"]
        &:focus
            border-color #2a8bf2
    input[name="LOGIN"]
        height 34px
        width 270px
        border-radius 5px
        border 1px solid rgb(221, 224, 234);
        text-indent 10px
    input[name="LOGIN"]:read-only
        background rgb(221, 224, 234);
    input[name="password"]
        height 34px
        width 270px
        border-radius 5px
        border 1px solid rgb(221, 224, 234);
        font-size 24px
        text-indent 10px
    input[name="NEW_PASSWORD"]
    input[name="NEW_PASSWORD_CONFIRM"]
        height 34px
        width 270px
        border-radius 5px
        border 1px solid rgb(221, 224, 234);
        font-size 24px
        text-indent 10px
    button
        border 0
        background 0 0
        font-size 14px
        color #2a8bf2
        padding 0
        margin-left 20px
    button.delete_ava
        color #c84f2e
    span
        display inline-block
        border: 1px solid rgb(221, 224, 234);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        background url("../img/15_user_profile/no_ava.png") center no-repeat
#user
    button
        border: 0;
        background: 0 0;
    .confirm
        border 0
        border-radius: 20px;
        height: 40px;
        color #fff
        background #8ac722;
        transition: .4s ease;
        padding: 10px 18px;
        font-weight: 500;
        font-family: "Graphik LC";
    .cancel
        border-radius: 20px;
        height: 40px;
        color #fff
        background #b3bad0;
        transition: .4s ease;
        padding: 10px 18px;
        font-weight: 500;
        font-family: "Graphik LC";


.user_profile__user_name
    margin-bottom 20px
.user_profile__user_avatar
    margin-bottom 35px
.user_profile__user_login
    margin-bottom 20px
.user_profile__user_password
.user_profile__user_new_password
    margin-bottom 10px

.information_user__header.login_data
    font-size 18px
    margin-bottom 25px
    margin-top 20px

.user_profile__user_new_password__btn
    margin-top 30px
    padding-left 130px


.modal_add_avatar
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    position: absolute;
    width: 550px;
    height: 286px;
    margin auto
    top 0
    bottom 0
    left 0
    right 0
    z-index 1000
    padding 40px
    display none
    .close
        position: absolute;
        width: 25px;
        height: 25px;
        display: block;
        top: 30px;
        left: -50px;
        background: url(../img/13_card_order/close.png) no-repeat;
        cursor: pointer;
        z-index: 100;
    .ava_block
        height 100%
        width 150px
        display inline-block
        float left
        background-color #fff
        padding-top 10px
    .user__ava
        border: 1px solid #dde0ea;
        display inline-block
        width: 128px;
        height: 128px;
        border-radius: 50%;
        text-align: center;
        background: url(../img/15_user_profile/no_ava__modal.png) center no-repeat;
    .modal_add_avatar__header
        font-size 24px
        font-weight 500
        margin-bottom 20px
        display block
    .modal_add_avatar__text
        font-size 13px
        color #181818
        display block
        margin-bottom 30px
    button
        font-size 12px
    .modal_add_avatar__btn
        margin-top 30px
    .cancel
        float right


