*
  box-sizing: border-box

@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-Medium'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-Bold'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('../fonts/Roboto-Regular.ttf') format('truetype')

.container
  width: 100%
  min-width: 790px
  // height: 657px
  min-height: 100vh
  padding-bottom: 70px
  display: flex
  justify-content: center
  background-color: #FFFAE6

.content
  width: 92%
  min-height: 550px
  margin: 55px 0 0 0
  padding-bottom: 10px
  display: flex
  flex-direction: column
  font-family: 'Montserrat', sans-serif
  background-color: #FFFFFF
  border-radius: 5px
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1)
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1)

.content__back
  width: 100%
  height: fit-content
  margin: 0
  padding-left: 40px
  display: flex
  align-items: flex-end
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: .9em
  color: #646464
  // border 1px solid

.content__back--center
  margin-top: 70px
  padding-left: 0

.content__back a
  text-decoration: none
  color: #646464

.transaction
  width: 100%
  height: 100%
  display: flex

.transaction__detail
  width: 75%

.transaction__detail--center
  padding-left: 20%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.transaction__header
  width: 100%
  height: 100px
  padding: 0 40px
  display: flex
  justify-content: space-between
  align-items: center
  // border 1px solid

.transaction__header--mt
  margin-top: 60px

.header
  display: flex
  flex-direction: column
  margin: 5px

.header__title
  margin: 0
  font-family: 'Montserrat-Bold', sans-serif
  font-size: 24px

.header__title--big
  font-size: 36px

.header__title--orange
  color #FF8A00

.header__subtitle
  font-family: 'Montserrat-Medium', sans-serif
  font-size: .9em
  color: #6E6E6E

.transaction__form
  width: 100%
  padding: 0 40px
  display: flex

.transaction__form--wrap
  flex-wrap: wrap

.transaction__info
  width: 60%
  margin-right: 30px
  display: flex
  flex-direction: column

.transaction__info--center
  width: 100%
  padding-left: 10px

.transaction__dropshipper
  width: 40%
  display: flex
  flex-direction: column

.form
  width: 100%
  padding: 20px 15px
  margin: 5px
  font-family: 'Montserrat-Medium', sans-serif
  font-weight: 500
  font-size: 1em
  border: 1px solid #CCCCCC

.form__container
  width: 100%
  display: flex
  align-items: center

.form::placeholder
  opacity: .8

.form__input:focus
  outline-color: #737272

.form__input--green
  border: 2px solid #1BD97B

.form__input--green:focus
  outline-color: #1BD97B

.form__input--orange
  border: 2px solid #FF8A00

.form__input--orange:focus
  outline-color: #FF8A00

.form__textarea
  height: 120px
  resize: none

.icon
  margin: 0 10px

.icon__input
  margin: 0 0 0 -40px
  font-size: 18px

.icon--green
  color: #1BD97B

.icon--orange
  color: #FF8A00

label
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: .9em
  color: #504E60

.summary
  width: 25%
  min-width: 314px
  height: 100%
  padding: 30px 20px
  // border 1px solid
  border-left: 1px solid #FFEBD3
  display: flex
  flex-direction: column

.summary__detail
  padding: 20px 0
  border-top: 1px solid #D2D2D2
  font-size: .9em

.summary__value
  margin: 5px 0
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: 1.2em
  color: #1BD97B

.summary__payment
  margin-top: auto
  font-family: 'Montserrat', sans-serif
  font-size: .9em

.summary__cost
  margin: 5px 0
  display: flex
  justify-content: space-between
  align-items: center

.summary__cost p
  margin: 5px

.label
  margin: 0
  font-family: 'Montserrat', sans-serif
  color: #6E6E6E

.label--small
  font-size: 14px

.label--szmedium
  font-size: 18px

.label--medium
  font-family: 'Montserrat-Medium', sans-serif

.label--semibold
  font-family: 'Montserrat-SemiBold', sans-serif

.label--big
  font-family: 'Montserrat-Bold', sans-serif
  font-size: 24px

.label--orange
  color: #FF8A00

.label--black
  color: #000000

.price
  font-family: 'Montserrat-Bold', sans-serif
  color #000000

.price--big
  font-size: 24px

.price--orange
  color: #FF8A00

.btn
  max-width: 200px
  width: 30%
  height: 60px
  margin: 5px
  padding: 0 15px
  font-family: 'Montserrat-Medium', sans-serif
  font-size: 18px
  color: #82808D
  background-color: white
  border: 1px solid #D2D2D2
  cursor: pointer

.btn__flex
  padding: 1px 15px
  display: flex
  justify-content: center
  flex-direction: column

.btn__selected
  background-color: #E8FBF1

.btn:focus
  outline: 2px solid #1BD97B

.btn--outline--green
  outline: 2px solid #1BD97B

.btn--big
  min-width: 100%
  max-width: 100%
  width: 100%

.btn--orange
  color: white
  background-color: #FF8A00
  border: none

.btn--left
  text-align: left

.guide
  margin: 0 10px 10px 10px

.guide--orange
  color: #FF8A00

.breadcrumb
  width: fit-content
  height: 70px
  margin: -35px auto 0 auto
  padding: 20px 30px
  border-radius: 35px
  display: flex
  align-items: center
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: 1em
  background-color: #FFFAE6

.breadcrumb__number
  width: 30px
  height: 30px
  margin: 5px
  display: flex
  align-items: center
  justify-content: center
  color: #FF900C
  background-color: #FFE4B8
  border-radius: 30px

.breadcrumb__number--bg--orange
  color: white
  background-color: #FF8A00

.breadcrumb__label
  margin: 0 5px
  color: #FF8A00

.breadcrumb__arrow
  width: fit-content
  height: fit-content
  margin: 13px 25px

.modal
  width: 100%
  height: 100%
  padding-top: 100px
  z-index: 1
  left: 0
  top: 0
  display: none
  position: fixed
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.modal__content
  position: relative
  background-color:#FFFAE6
  margin: auto
  padding: 0
  border: 1px solid #888888
  border-radius: 10px
  width: 30%
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 1s
  animation-name: animatetop
  animation-duration: 1s

.modal__close
  padding: 0 10px
  color: #AAAAAA
  float: right
  font-size: 28px
  font-weight: bold
  cursor: pointer

.modal__close:hover, .modal__close:focus
  color: #000000
  text-decoration: none

.modal__body
  padding: 20px

.modal__warning
  width: 70px
  height: 70px
  margin: 30px auto
  text-align: center
  font-family: 'Montserrat-Bold', sans-serif
  font-size: 50px
  color: #FF8A00
  border: 5px solid #FF8A00
  border-radius: 50px

@-webkit-keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1

@keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1

@media screen and (max-width: 1040px)
  .transaction__header
    flex-direction: column
    justify-content: center
    align-items: flex-start
  
  .checkbox
    padding-left: 10px

  .transaction__form
    flex-direction: column

  .transaction__info, .transaction__dropshipper
    width: 100%

  .btn
    max-width: 100%
    width: 100%

  .transaction__detail--center
    padding-left: 0

@media screen and (max-width: 980px)
  .breadcrumb
    height: 60px
    font-size: .9em

  .breadcrumb__number
    width: 20px
    height: 20px
    border-radius: 20px

  .content__back
    margin-top: 20px

@media screen and (max-width: 450px)
  .breadcrumb
    height: 70px
    font-size: 18px

  .breadcrumb__number
    width: 40px
    height: 40px
    border-radius: 40px

  .content__back
    font-size: 1.2em
    margin-top: 30px
  
  label
    font-size: 19px

  .transaction
    flex-direction: column

  .transaction__header
    flex-direction: row
    justify-content: space-between
    align-items: center
  
  .checkbox
    padding-left: 0
  
  .transaction__detail
    width: 100%

  .summary
    margin-top: 60px
    width: 100%
    padding: 20px 40px
    border-top: 2px solid #D2D2D2

  .form
    font-size: 22px

  .header__title 
    font-size: 32px

  .header__subtitle
    font-size: 24px
  
  .label
    font-size: 22px
  
  .label--big
    font-size: 24px

  .price
    font-size: 22px

  .price--big
    font-size: 24px

  .btn
    font-size: 24px
  
  .modal__content
    width: 50%

  .modal__body .label--medium
    font-size: 22px