.index-page .event
    padding 55px 0px 25px
.index-page .header__nav-wrap
    display: none



.event
    padding 0px 0px 50px
    background url(../img/general/event__bg.png)
.event-wrap
    display: flex
    flex-wrap: wrap
    justify-content space-between



.event-slider 
    max-width: 680px
    margin-bottom 25px

.event-slider__item
    position relative
    max-width 680px
    height: 400px
    border-radius: 4px
    overflow hidden
    margin-bottom 12px
    box-shadow: 0px 6px 6px 0px rgba(211, 211, 211, 0.75);
.event-slider__item img
    width 100%
    height 100%
    object-fit: cover





.slide-info
    position: absolute
    bottom: 0
    left: 0
    width 100%
    background-color rgba(0, 0, 0, 0.6)
    padding: 15px 34px
    .slide-info__title
        display inline-block
        font-size rem(30px)
        font-weight 700
        color: #fff
        border-bottom: 1px solid #fff
        padding-bottom 8px
        margin-bottom 15px
    .slide-info__text
        font-weight 400
        font-size rem(14px)
        color: #ffffff



.event-slider .owl-dots
    padding-top 10px
    display: flex
    justify-content center
    .owl-dot
        display: block
        size 10px
        border-radius: 50%
        border: 1px solid #9d9d9d
        margin-right 20px
    .owl-dot.active
        box-shadow: inset 0 0 0 1px #fff
        background #5b9de8
    .owl-dot:last-child
        margin-right 0

    





.event-services__item
    position relative
    margin-left 25px
    width: 385px;
    min-height: 75px;
    border-radius: 3px;
    background-color #f1f2f3
    box-shadow: 0px 6px 6px 0px rgba(211, 211, 211, 0.75);
    padding: 15px 30px 15px 60px
    margin-bottom 6px
.event-services__item:last-child
    margin-bottom 0
.event-services__icon
    display: flex
    justify-content center
    align-items center
    position: absolute
    top calc(50% - 25px)
    left: -25px
    size 50px
    border-radius: 50%
    box-shadow: 0px 6px 6px 0px rgba(211, 211, 211, 0.75);
.event-services__icon--red
    background-color #ea4728
.event-services__icon--green
    background #91c444
.event-services__icon--blue
    background #5b9de8
.event-services__icon--yellow
    background #ee9b00
.event-services__icon--violet
    background #ab67f8
.event-services__title
    text-transform uppercase
    font-weight 700
    font-size rem(14px)
    color: #191919
    margin-bottom 12px
.event-services__text
    font-weight 400
    color: #000000
    font-size rem(12px)

  






.main-page-nav
    margin-top 100px
    position relative
    background-color #223869
    &:before
        content: ""
        position: absolute
        bottom: 100%
        display block
        width 100%
        height 100%
        background #f1f2f3
.main-nav
    display flex
    justify-content space-between
    align-items center
.main-nav li
    width 100%
    text-align center
    height 100px
    padding: 0px 30px
    position relative
    display flex
    justify-content center
    align-items center
.main-nav li:hover .main-nav__icon
    size: 115px
    bottom: calc( 100% - 7.5px )
    -webkit-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.75);
.main-nav li:hover .main-nav__icon:before
    display: block
.main-nav li:hover .main-nav__icon:after
    display: block
.main-nav__icon
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    bottom 100%
    width 86px
    height 100%
    border-radius: 3px;
    background #f1f2f3
    display: flex
    transition: .3s
    img
        margin: auto  
.main-nav__icon:before
    content: ""
    display: none
    position absolute
    bottom: -10px
    left: -4px
    right 0
    margin: 0 auto
    transform: rotate(45deg)
    width 7px
    height 2px
    background-color #fff
.main-nav__icon:after
    content: ""
    display: none
    position: absolute
    bottom: -10px
    left: 0
    right -4px
    margin: 0 auto
    transform: rotate(-45deg)
    width 7px
    height 2px
    background-color #fff
    
       
.main-nav li a
    text-transform uppercase
    font-size rem(12px)
    line-height rem(24px)
    font-weight 400
    color: #fff
    
    



    














.content-section__top-line
    background-color #fff
    padding: 18px 0px;
    .content-section__title-wrap
        display: flex
        flex-wrap: wrap
        justify-content space-between
        align-items center
        .content-section__title
            display: flex
            justify-content flex-start
            align-items center
            img 
                margin-right 30px
            span 
                font-weight 700
                font-size rem(24px)
                color: #ea4728
                text-transform uppercase







.content-section__wrap
    background-color #f1f2f3
    padding 45px 0px 40px
.special-offer
    margin-bottom 25px
    box-shadow: 0px 3px 6px 0px rgba(211, 211, 211, 0.75);
    .special-offer__img
        position relative
        width 100%
        height 188px
        img 
            width 100%
            height 100%
            object-fit: cover
            border-radius: 4px 4px 0px 0px
    .special-offer__price
        position: absolute
        right: 25px
        bottom: -38px
        size 76px
        border-radius: 50%
        background #ea4728
        text-align center
        display: flex
        justify-content center
        align-items center
        font-weight 400
        font-size rem(14px)
        line-height 1.3
        color: #fff
        span
            margin-top -10px
    .special-offer__info
        background-color #fff
        padding 40px 15px 15px
        .special-offer__description
            font-weight 400
            font-size rem(14px)
            line-height rem(22px)
            color: #515669
            text-transform uppercase
            margin-bottom 15px
    .special-offer__time
        display: flex
        align-items center
        margin-bottom 15px
        svg 
            font-size rem(14px)
            color: #91c444
            margin-right 12px
        span 
            font-weight 400
            font-size rem(14px)
            color: #515669

    .special-offer__icons
        display: flex
        align-items center
        svg 
            font-size rem(14px)
            color: #515669
            margin-right 10px








.excursions-box
    border-radius: 4px
    overflow hidden
    margin-bottom 25px
    box-shadow: 0px 3px 6px 0px rgba(211, 211, 211, 0.75);
.excursions-box__img
    width 100%
    height 186px
    img
        width 100%
        height 100%
        object-fit: cover
.excursions-box__info
    background-color #fff
    padding: 15px
    
    .excursions-box__title
        text-align center
        font-weight 700
        font-size rem(24px)
        color: #223869
        margin-bottom 10px
    .excursions-box__text
        line-height rem(18px)
        text-align center
        font-weight 400
        font-size rem(14px)
        color: #515669






.news_box
    background #ffffff
    border-radius: 4px
    box-shadow: 0px 3px 6px 0px rgba(211, 211, 211, 0.75);
    margin-bottom 25px
    .news_box__top
        padding: 25px 8px
        display: flex
        align-items center
        .news_box__date
            display flex
            justify-content center
            align-items center
            flex-direction: column
            size: 50px
            background: #ea4728
            border-radius: 50%
            margin-right 25px
            text-align center
            font-size rem(12px)
            line-height rem(14px)
            color: #fff
            span
                font-weight 700
                font-size rem(16px)
        .news_box__title
            font-weight 700
            font-size rem(24px)
            line-height rem(30px)
            color #223869
            max-width: 164px
    .news_box__img
        height 153px
        img
            width 100%
            height 100%
            object-fit: cover
    .news_box__text
        padding: 18px 13px
        font-weight 400
        font-size rem(12px)
        line-height rem(22px)
        color: #515669









.social-connect
    padding: 55px 0px 45px
    background #223869
    .social-connect__title
        text-align center
        font-size rem(30px)
        color: #fff
        font-weight 400
        margin-bottom 20px
        text-transform uppercase
    .social-connect__subtitle
        text-align center
        font-size rem(30px)
        font-weight 400
        color: #ffffff
        margin-bottom 60px

    .social-slider
        background-color #fff
        margin-bottom 37px
        

.social-connect__links
    text-align center
.social-connect__links a 
    display inline-block
    size 28px
    border-radius: 50%
    background-color #bbb
    margin-right 5px
    background url(../img/general/social-icons.png)
    transition: .3s

.social-connect__links a:last-child 
    margin-right 0
.social-connect__links a:hover 
    opacity 0.7
.social-connect__links a.vk
    background-position 0px 0px

.social-connect__links a.inst
    background-position -30px 0px

.social-connect__links a.fb
    background-position -63px 0px

.social-connect__links a.fl
    background-position -97px 0px

.social-connect__links a.yt
    background-position -131px 0px


// adaptability
@media only screen and (max-width : 1200px) 
    .main-page-nav
        display: none
    .event-services__item
        max-width: 100%
    .event-slider 
        margin: 0 auto 25px
    .event-services
        width 100%
    .event-services__item
        width: auto
// @media only screen and (max-width : 992px) 

// @media only screen and (max-width : 720px) 

@media only screen and (max-width : 576px)
    .event-slider__item
        height: 280px;
    .content-section__title-wrap
        flex-direction: column
        text-align center
        button 
            margin-top 15px
    .content-section__top-line .content-section__title-wrap .content-section__title
        img
            display: none
    .social-slider__item
        width 190px
        height: 190px
// @media only screen and (min-width : 1200px)