.page-customEvaluation
    .lt-header
        .menu
            background-image: url(../images/menu2.png)
			
	img
		max-width: 100%
		max-height: 100%

	.header
		height: 235px
		padding: 76px 23px 76px 30px
		background: url('../images/customEvaluation/1.png') no-repeat
		background-size: 100% auto
		box-sizing: border-box

		h2
			margin-bottom: 26px
			font-size: 30px
			font-family: Source Han Sans SC
			font-weight: 500
			color: #FFFFFF
			line-height: 35px

		p
			width: 80%
			font-size: 12px
			font-family: Adobe Heiti Std
			font-weight: normal
			color: #FEFEFE
			line-height: 14px

	.customEvaluation-main
		padding: 0 10px
		font-size: 0
		box-sizing: border-box

	.img-box
		margin-top: 17px
		padding: 0 20px

	.txt-box
		padding: 26px 0 17px 0
		text-align: center

		p
			display: inline-block
			width: 80%
			font-size: 12px
			font-family: Source Han Sans SC
			font-weight: 800
			color: #09302A
			line-height: 18px

			span
				color: #8DA19E

	.what
		margin-top: 30px
		font-size: 0

	.what-item
		min-height: 105px
		margin-bottom: 13px

	.bg-1
		background: url('../images/customEvaluation/4.png') no-repeat
		background-size: 100% 100%

	.bg-2
		background: url('../images/customEvaluation/5.png') no-repeat
		background-size: 100% 100%

	.bg-3
		background: url('../images/customEvaluation/6.png') no-repeat
		background-size: 100% 100%

	.bg-4
		background: url('../images/customEvaluation/7.png') no-repeat
		background-size: 100% 100%

	.what-txt
		padding-top: 16px
		padding-left: 160px
		font-size: 12px
		font-family: Source Han Sans SC
		font-weight: 400
		color: #FFFFFF
		line-height: 16px

		.t
			margin-bottom: 12px
			font-size: 14px

	.advantage
		margin-top: 10px

	.advantage-item
		display: inline-block
		width: 50%
		padding: 30px 12px
		text-align: center
		box-sizing: border-box

		.img
			display: inline-block
			width: 43px

		.title
			padding-top: 8px
			padding-bottom: 16px
			font-size: 15px
			font-family: Source Han Sans SC
			font-weight: bold
			color: #09302A
			line-height: 13px

		.txt
			font-size: 10px
			font-family: Source Han Sans SC
			font-weight: 400
			color: #8DA19E
			line-height: 14px
