.progress
	padding-top 111px

	.container
		flex-flow row wrap
		justify-content center

	&__col
		display flex
		flex-direction column
		align-items center
		position relative
		padding 0 6px
		margin-bottom 25px
		width 33.23%

		@media $screen-sm-max
			max-width 400px
			width 100%
			margin 0 0 111px
			padding 0 15px

		@media $md-up
			padding 0 21px
			margin-bottom 70px

		@media $lg-up
			padding 0 42px
			margin-bottom 111px

		@media screen and (min-width: 1399px)
			&:not(:last-child)::after
				content ' '
				width 285px
				height 1px
				background-color $color-font-article
				position absolute
				top 183px
				left 257px
				opacity 0
				animation progressLinesAnim 0.4s 1s
				animation-fill-mode forwards

				@keyframes progressLinesAnim
					from
						opacity 0
					to
						opacity 1

	&__content
		text-align center

	&__order
		font-size 20px
		font-weight $weight-light
		color $color-font-title
		margin 15px 0

	&__order.progress__order--last::after
		visibility hidden

	&__title
		font-size 30px
		font-weight $weight-bold
		color $color-font-title
		margin-top 0
		margin-bottom 30px

	&__text
		max-width 315px
		width 100%
		font-weight $weight-light
		font-size 15px
		line-height 28px
		text-align center
		color $color-font-article
