footer
   .footer-wrap
      padding: 60px 0
      background: linear-gradient(90deg, #0077bf 0%, #4858c9 100%);
      .footer-section
         &:last-child
            display flex
            flex-direction: column
            justify-content: space-between
         .footer-title
            display: block
            margin-bottom: 15px
            font-size: 14px
            color: #ffffff
         .footer-content
            padding-top: 30px
            border-top: 1px solid #fff
         .no-title
            margin-top: 31px
         .info
            .link
               display: block
               padding: 12px 0
               font-size: 18px
               color: #fff
               border-bottom: 1px solid #4586CA
               &:first-child
                  padding-top: 0
         .founders-and-partners
            .partner-img 
               margin-bottom: 16px
         .site-search
            .form-inline
               .form-control
                  border-radius: 0
                  border: 1px solid #404CB4
                  font-weight: 700
               .btn-search
                  padding: 6px 19px
                  background-color: #29318E
                  border-radius: 0
                  color: #fff
         .sotial-networks-container
            .footer-title
               padding-bottom: 15px
               border-bottom: 1px solid #fff
            .sotial-link
               display inline-block
               margin-right: 10px
               transition: .2s
               &:hover
                  transform: scale(1.1)
   .copywriter
      padding: 10px 0
      color: #fff
      background-color: #0B3A6E
      font-family: 'PT-Sans'
      .wrap
         display: flex
         align-items: center
         justify-content: space-between
         .biz-mark
            color: #fff
            margin-left: 15px
@media(max-width 1199px)
   footer 
      .footer-wrap 
         .footer-section 
            .site-search 
               .form-inline 
                  .form-control
                        width 154px
@media(max-width 991px)
   footer
      .footer-wrap 
         padding: 30px 0
         .footer-section 
            .no-title
               margin-top: 0
               border-top: 0
               padding-top: 12px
         .founders-and-partners
         .site-search
         .sotial-networks-container
            margin-top: 30px
         .site-search
            .form-inline 
               .form-control
                  width: 230px
      .copywriter
         padding: 20px 0
         .copy-text
            text-align: center
         .biz-mark-wrap
            margin-top: 40px
            display flex
            align-items: center
         .wrap
            flex-direction: column
                     