// -- IMPORTS

@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// -- ELEMENTS

html
{
    background: #FFFFFF;
}

// -- CLASSES

MakeCarousel( "test-" );
MakeCarouselStrip( 1, 1, "test-" );

// ~~

MakeCarouselStrip( 7, 1, "test-", "-7-1" );
MakeCarouselStripPerpetualAnimation( 7, 1, 3000, 500, "test-", "-7-1" );
MakeCarouselSlide( 7, "test-", "-7" );

MakeCarouselStrip( 8, 2, "test-", "-8-2" );
MakeCarouselStripPerpetualAnimation( 8, 2, 3000, 500, "test-", "-8-2" );
MakeCarouselSlide( 8, "test-", "-8" );

MakeCarouselStrip( 9, 3, "test-", "-9-3" );
MakeCarouselStripPerpetualAnimation( 9, 3, 3000, 500, "test-", "-9-3" );
MakeCarouselSlide( 9, "test-", "-9" );

// ~~

.test-carousel
{
    width: 100%;
}

.test-carousel-slide
{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center center;
    background-size: cover;
}

.test-carousel-slide-background-1
{
    background-image: url( "slide_1.jpg" );
}

.test-carousel-slide-background-2
{
    background-image: url( "slide_2.jpg" );
}

.test-carousel-slide-background-3
{
    background-image: url( "slide_3.jpg" );
}

.test-carousel-slide-background-4
{
    background-image: url( "slide_4.jpg" );
}

.test-carousel-slide-background-5
{
    background-image: url( "slide_5.jpg" );
}

.test-carousel-slide-background-6
{
    background-image: url( "slide_6.jpg" );
}

.test-carousel-arrow
{
    font-size: 4rem;
    color: white;

    cursor: pointer;
}

.test-carousel-left-arrow
{
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY( -50% );
}

.test-carousel-right-arrow
{
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY( -50% );
}
