.wings-box
    @extend .container
    text-align: center
    padding-top: 40px
    padding-bottom: 40px
    +media-lg()
        padding-top: 80px
        padding-bottom: 64px
    h2
        font-family: 'Bebas Neue';
        font-size: 38px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:$black;
        margin-bottom: 16px
        +media-lg()
            font-size: 54px;
            margin-bottom: 32px
    h4
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 6px;
        text-align: center;
        color: $primaryblue;
        margin-bottom: 6px
        +media-lg()
            font-size: 14px
    .btn--bordered-blue
        +media-lg()
            margin-top: 30px

.tab-detail-item
    .wings-box
        padding-top: 0

.wings-box-item
    @extend .col-lg-4
    margin-bottom: 30px
    position relative

.wings-box-item-image
    width: 100%;
    position: relative
    a
        display: block
        > img
            width: 100%;
            display: block

.wings-box-logo
    width: 116px
    height: 36px
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    position: absolute;
    right: 0
    top: 20px
    background: $white
    img
        height: 100%
        display: block

.wings-box-item-logo
    width: 90px
    height: 90px
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    position: absolute;
    left: 20px
    bottom: -30px
    background: $white
    img
        width: 100%
        display: block

.wings-box--logo-grey
    .wings-box-item-logo
        border: solid 3px $white;
        background-color: #f7f7f7;

.wings-box-item-content
    position relative
    a
        display: block
        height: 172px
        padding: 40px 40px 0 20px
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        text-align: left
        letter-spacing: normal;
        color: #222327;
        position relative
        z-index: 1

.wings-box-item-category
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $lightgrey;
    position: absolute
    left: 20px
    bottom: 20px
    z-index 0

.wings-box-item-container
    background: $white
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden
    position relative

.show-more
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(178deg, rgba(255, 255, 255, 0) -2%, #FAFAFA 38%);
    padding: 90px 0 75px 0

.wings-box-special
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.55;
    letter-spacing: normal;
    text-align: center;
    color: #69739b;
    background: $white
    position: absolute;
    left: 0
    top: 20px
    padding: 0 15px 0 28px
    display: flex;
    align-items: center;
    justify-content: center
    height: 30px

.wings-box-campaign-over
    background: RGBA(246,246,246,0.58)
    z-index 2
    position: absolute
    left: 0
    top: 0
    width: 100%;
    height: 100%;

.wings-box-campaign-over-text
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.55;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    background: #202020
    position: absolute;
    left: 0
    top: 20px
    padding: 0 15px 0 8px
    display: flex;
    align-items: center;
    justify-content: center
    height: 30px
    .icon-warning
        margin-right: 8px
        font-size: 12px
        .path1:before
            color: #ff5500
        .path2:before
            color: $black

.wings-box-campaign-over-detail
    background: RGBA(246,246,246,0.58)
    z-index 2
    position: absolute
    left: 0
    top: 0
    width: 100%;
    height: 100%;

.wings-box-campaign-over-detail-text
    background: #eb2b42
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    display: flex
    align-items: center
    justify-content: center
    height: 52px