button(bg = @css {rgb(var(--main_color))}, border = @css {rgb(var(--main_color))}, color = @css {rgb(var(--main_white))})
  position relative
  background bg
  border 1px solid border
  color color
  margin 0
  padding 5px 20px
  min-width 100px
  height var(--button_height)
  border-radius var(--border_radius)
  font-size 0.8em
  font-family var(--head_regular)
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  text-align center
  overflow hidden
  text-transform uppercase
  font-size 1em
  transition all 0.3s
  z-index 1

  span
    display inline-block
    width 20px
    overflow hidden
    align-items center
    margin-left 10px
    text-align right
    transition width 0.3s
    
    svg
      width 30px
      fill color
      height auto
      margin-left -10px
      transition all 0.3s

  &:hover
    border-color @css {rgb(var(--main_color_hover))}
    background @css {rgb(var(--main_color_hover))}
    color @css {rgb(var(--main_white))}

    span
      width 30px
      
      svg
        fill bg

  &:active
    transform scale(0.95)

    