.processapproval-img
  width 100%
  text-align center
  & img
    background #fff
    margin 30px auto
    width 80%

.myHavedone
  .btns
    .is-disabled
      .iconfont
        color: #c0c4cc;
        cursor: not-allowed
.processmanage-img
  width 100%
  text-align center
  .work-order-wrapper
  .s-carousel
    overflow hidden
  .is-active
    border none
    box-shadow none
  & img
    margin 20px auto
    width 1250px

.process-manage-kpiitem
  margin 6px;
  background-color #f7f9fa
  padding 10px

.process-manage-kpiitem-title
  color #667480

.process-manage-kpiitem-title.fr
  display block
  float right

/*NameCardHover组件样式*/
.row {
  border-left: 1px solid #DCDEE2;
  border-right: 1px solid #DCDEE2;

  &:first-child {
    border-top: 1px solid #DCDEE2;
  }
}
.row1-left {
  border-right: 1px solid #DCDEE2;
}
.row1-left .up {
  .row1-up-left {
    border-right: 1px solid #DCDEE2;
    border-bottom: 1px solid #DCDEE2;
  }
}
.item {
  border-bottom: 1px solid #DCDEE2;
}
.processEventDetail, .processModifyDetail, .processDetail
  padding 20px 20px 10px
  a
    color link_text
    &:hover
      color hover_text
  .leftMenu
    background: #F5F7FA
    // padding-bottom 50px
    .title
      display: inline-block;
      width: 90%;
      font-size: 14px
      line-height 36px
      text-align: left
      color link_text
      span
        display inline-block
        width: 2px
        height: 12px
        vertical-align middle
        margin-right 5px
  .detailBox
    .title
      font-size: 14px
      color link_text
      line-height: 36px
      margin-top: 10px
  .upload
    display inline-block
  .fileIcon
    font-size 18px
    margin-left 5px

.processEventDetail, .processModifyDetail, .processDetail
  .workInfo
    padding-left 15px
  .detailBox
    .s-tabs-border-card .s-tabs-content
      background-color mainBgColor

/* 详情页左侧 */
.process-detail-title
  display: flex
  justify-content: flex-start
  width: 175px
  height: 53px
  color: #fff
  text-align: center
  background: linear-gradient(104.71deg, theme_color_hover 3.04%, theme_iconcolor 95.54%);
  & > span
    height: 53px
    line-height: 53px
    font-size: 14px
    font-weight: 500
    &.process-detail-text
      flex: 1
    &.process-detail-icon
      width: 36px
      margin-left: 25px
      &.event
        background: url('../../../static/images/processCenter/fanta/event-detail-title.png') center no-repeat
      &.modify
        background: url('../../../static/images/processCenter/fanta/modify-detail-title.png') center no-repeat
      &.problem
        background: url('../../../static/images/processCenter/fanta/problem-detail-title.png') center no-repeat


.processDetail, .processModifyDetail
  box-sizing: border-box
  margin: 0
  padding: 20px 20px 0 0
  .leftMenu
    .title
      width: 175px
      height: 41px
      line-height: 41px
      font-size: 14px
      text-align: center
      color: #000
    .s-button
      width: 158px
      height: 40px
      border: none
      background: #F5F7FA
      color: #000
      text-align: left
      text-indent: 6px
      .iconfont
        color: theme_iconcolor
      &:hover
        color: theme_iconcolor
      &.is-disabled
        color: rgba(0, 0, 0, 0.25)
        .iconfont
          color: rgba(0, 0, 0, 0.25)
    .attention
      background: theme_iconcolor
      border: 1px solid theme_iconcolor
      border-radius: 22px
      width: auto;
      height: 32px;
      text-align: center;
      text-indent: 0;
      color: #fff;
      margin-left: 30%
      margin-bottom: 10px
      &.is-disabled
        background: #F5F7FA
        border: 1px solid #F5F7FA
        color: rgba(0, 0, 0, 0.25)
      &:hover
        color: #fff
      &.is-disabled:hover
        background: #F5F7FA
        border: 1px solid #F5F7FA
        color: rgba(0, 0, 0, 0.25)
    .attention-empty
      background: none
      color: theme_iconcolor;
      margin-left: 24%
      &:hover
        color: theme_iconcolor

.processModifyDetail, #taskOrderDetail, .processProblemDetail, .processEventDetail
  .disabledIcon
    color gray_l3_black !important
    cursor not-allowed !important
  .clickLink, .addWorkInfo .title
    color link_text

.name-card
  .key
    color #333

.flowchart-float-window
  width 100%
  padding: 10px
  .float-title
    line-height 20px
    height 20px
    padding-top 5px
    color #bad6f0
  th,td
    text-align left
  thead
    tr th
      color #9c9796
      background-color #f2f6fc
      line-height 28px
      text-indent 4px
  tbody
    tr td
      max-width 35px
      line-height 28px
      border-bottom 1px #e6e9f0 solid
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      text-indent 4px

.templateDialog
  .s-radio-group
    width 100%
    cursor pointer
    .s-table
      .s-radio__inner
        vertical-align middle
      .s-radio__label
        display none
  .temDetailBox
    border: 1px solid original_l1_black
    padding 15px 5px 0
    position relative
    &:after
      content: '详细信息'
      color: title_3
      font-weight: 600
      font-size: 14px
      padding: 5px 10px
      position absolute
      top: 0
      left: 10px
      transform: translateY(-50%)
      background block_bg

.s-table tbody .cell .iconfont
  &.failed-state
    color: red_color
  &.success-state
    color: green_color

/* 每周工作量统计 */
.process-week-work-account
  a
    color link_text
    &:hover
      color hover_text
.service-level-agreement
  .sla-title
    background: linear-gradient(104.71deg, theme_color_hover 3.04%, theme_iconcolor 95.54%);
    color rgba(255,255,255,85)
    display: flex
    justify-content: center
    align-items:center
    height: 42px
    // background: url('../../../static/images/processCenter/fanta/title-bg.png') center no-repeat
    background-size: 150% 150%
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // margin:0 3px;
    font-weight: 600;
    .sla-title-icon
      width: 36px;
      height: 36px;
      margin-right: 5px;
      margin-left: -8px;
      // background: url('../../../static/images/processCenter/fanta/SLA.png') center no-repeat

  .slaAddDialog legend
    color: title_1

  .s-tree-node.is-current > .s-tree-node-content
    border: solid 1px #e4e7ed;
    background-color: #fff;

  .listChunk
    position: relative;
    .searchFormChunk
      padding: 10px 15px;
      border: solid 1px #e4e7ed;
      border-radius: 5px;
      background: #f2f6fc;
      margin-bottom: 8px;
      .s-form-item
        margin-bottom: 0;
      .right
        float: right;
        margin-top: 3px;
  .sidebar
    .s-tabs
      position: relative;
      padding-top:20px;
      margin:0 3px;
      // background: url('../../../static/images/processCenter/fanta/menu-bg.png') center
      background-size: 120% 100%;
      .s-tabs-content
        overflow: visible;
      .slaplus
        color: link_text
        font-size:20px;
        cursor:pointer;
        position: absolute;
        right: 0;
        top: -42px;
        z-index: 100;

  .leftMenu
    background #f5f7fa
    .title
      height: 41px
      line-height: 41px
      font-size: 14px
      text-align: center
      color: rgba(0,0,0,.85)
      // background: url('../../../static/images/processCenter/fanta/menu-title-bg.png') center no-repeat
      background-size: 114.5% 100%;
      background-position: 43% 50%;
    .leftMenu-item
      display: flex;
      margin:0 3px;
      .s-button
        flex:1;
        margin:0;
        height: 40px
        border: none
        color: rgba(0,0,0,.85)
        background #f5f7fa
        // background: url('../../../static/images/processCenter/fanta/menu-bg.png') center no-repeat
        // color: link_text
        text-align: left
        text-indent: 20px
        background-size: 120%;
        i
          color: theme_iconcolor
        &:hover
          // background: url('../../../static/images/processCenter/fanta/menu-bg-hover.png') center no-repeat
          color: theme_iconcolor
          background-size: 114.5% 100%;
          background-position: 60% 50%;
        &.is-disabled
          // background: url('../../../static/images/processCenter/fanta/menu-bg-disabled.png') center no-repeat
          color: gray_l2_text
          background-size: 114.5% 100%;

.slaServiceTimeSet,.slaResultsSpotCheck
  .link-title
    color: link_text
    cursor pointer
    &:hover
      text-decoration underline
  .listChunk
    position: relative;
    .searchFormChunk
      padding: 10px 15px;
      border: solid 1px #e4e7ed;
      border-radius: 5px;
      background: #f2f6fc;
      margin-bottom: 8px;
      .s-form-item
        margin-bottom: 0;
      .right
        float: right;
        margin-top: 3px;
.serviceTargetAddDialog
  .s-upload-list__item.active
    background-color: #ffd4a9;
  .s-upload-list__item.active .icon-error-bold
    color: #ffffff;
  .s-upload-list__item.active .s-upload-list__item-name
    color: #ffffff !important;
  .s-upload-list__item.active .s-upload-list__item-name i
    color: #ffffff !important;

