@import '../../../css/quasar.variables.styl'
.card-login
	width: 100%
	max-width: 500px
	padding-top: 1%;
	box-shadow: none !important;
.contenedor_todo
{
    background-image: url("/statics/bg6.jpg");
    position: absolute;
    background-size: cover !important;
    background-position: inherit !important;
    height:100vh;
    width: 100%;
}

.login
	min-width : 400px !important;
	min-height: 450px !important;
.input-login
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 30px !important;

.input-login-2
	padding-left: 30px !important;
	padding-right: 30px !important;
	padding-bottom: 20px !important;

.botron-login
	min-width: 100px !important;

.fondo
	// background-image: url('/statics/login.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;

.login-iz
	float: left;
	background: linear-gradient(180deg, #1c074e, #570758);
	width: 35% !important;
	min-height: 450px !important;
	max-height: 700px !important;
	border-radius: 20px 0 0 20px !important;

.login-de
	float: right;
	width: 65% !important;
	min-height: 450px !important;
	max-height: 700px !important;

.contenedor
	min-width : 400px !important;
	max-width : 700px !important;
	min-height: 450px !important;
	max-height: 700px !important;
.columna-iz
	padding-top: 100px;
.texto-top
	padding-top: 20px;

.texto-bottom
	padding-bottom: 50px;
.inicio
	min-width: 150px;
	color: $primary !important;
	background-color: #ffffff;

.titulo
	font-size: 35px;
	background: -webkit-gradient(linear, left top, left bottom, from(#1c074e), to(#570758));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

.logo
	padding: 12px;
	width: 144px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 50%;

.bloq_iz {
    backdrop-filter: blur(15px) !important;
    background: #c7c7c79e
    border-radius: 25px 0px 0px 25px;
    padding: 1%;
}

.bloq_iz:before{
    background: #c7c7c79e
}
.bloq_der {
    backdrop-filter: blur(15px) !important;
    background: #c7c7c79e;
    border-radius: 0px 15px 15px 0px;
}

.bloq_der:before{
    background: #c7c7c79e
}
.sin_fondo{
    background: #c7c7c700 !important;
    box-shadow: 0px 0px 0px 0px !important;
}
.contenedor_login_iz
{
    background-image: url("/statics/fondoLogin.png");
    background-size: cover !important;
    background-position: inherit !important;
    height:100% !important;
    border-radius: 25px;
    padding: 2%;
}
.center {
    margin: auto;
    display: block;
    height:100% !important;
}
.center-img {
    bottom: 5%;
    right: 32%;
    position:absolute;
}