// keeping all mixin here temporarily till common styles are refactored fully


/*************************************************
 * common.import.styl
 *************************************************/
ul-reset()
  list-style none
  margin: 0
  padding: 0

pos-y-center-companion()
  &:before
    content ''
    inline-block()
    vertical-align: middle
    height: 100%

pos-x-center(width)
  position: absolute
  right: 50%
  margin-right: (width / -2)

dim(width, height = width)
  height: width
  width: height

inline-block(important = false)
  if important is true
    display: inline-block !important
  else
    display: inline-block
  vertical-align: middle

grid-col(num)
  margin-bottom: grid-gutter
  width: 100%

  &:last-child
    border-bottom: 0

  &.grid-no-y-space
    margin-bottom: 0
    padding-bottom: 0
    border-bottom: 0

  @media mq-med
    float: left
    border: 0
    width: (100%/num)

    if num is 4
      width: 50%
      &:nth-of-type(odd)
        clear both

    if num is 2
      &:nth-of-type(odd)
        clear both

  @media mq-lg
    border-bottom: 0
    width: (100%/num)

    if num is 3 or num is 4
      &:nth-of-type(odd)
        clear none

placeholder()
  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

  &::-webkit-input-placeholder
    {block}

row-base()
  margin-bottom: row-space
  padding-bottom: row-space
  border-bottom: border
  @extend .clearfix

row(mult = 1, nested = false)
  display: block
  row-base()

  if nested
    .last
      border-bottom: 0
      margin-bottom: 0
      padding-bottom: 0
  else
    &:last-child
      border-bottom: 0
      margin-bottom: 0
      padding-bottom: 0

stretch()
  width: 100%

iconify(name)
  @extend .icon

  &:before
    @extend .icon-{name}:before

arrow-top(color, size)
  width: 0
  height: 0
  border-left: size solid transparent
  border-right: size solid transparent

  border-bottom: size solid color


/*************************************************
 * mod.import
 *************************************************/

mod-space(mult = 1)
  margin-top: (grid-gutter/2*mult)
  margin-bottom: (grid-gutter/2*mult)

mod-space-bottom(mult = 1)
  margin-bottom: (1rem*mult)

mod-space-top(mult = 1)
  margin-top: (grid-gutter/2*mult)

mod-space-right(mult = 1)
  margin-right: (grid-gutter/2*mult)

mod-section()
  mod-space 4

mod-section-header()
  margin-top: 0
  margin-bottom: mod-section-header-divide-space
  position: relative


/*************************************************
 * ui.import.styl
 *************************************************/
ui-height(height, children = true)
  height: height
  line-height: height

  if children
    > *
      line-height: height

ui-xsmall()
  @extend .type-small
  ui-height: ui-xsmall-height

  > *
    line-height: ui-xsmall-height

ui-large()
  @extend .type-large
  ui-height: ui-large-height

  > *
    line-height: ui-large-height

ui-unbtn()
  font-size: inherit
  line-height: inherit
  font-weight: inherit
  color: inherit
  background-color: transparent
  margin: 0
  padding: 0
  border-radius: 0
  border: 0
  vertical-align: inherit

ui-btn-color(background-color, type-color = color-light)
  color: type-color
  if background-color
    background-color: background-color
    // box-shadow: 0 0.3rem 0 darken(background-color, 10)

  a
    color: type-color

  &:hover
    color: type-color
    if background-color
      background-color: darken(background-color, 8)

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
