@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import "basic.styl"
@import "blog.styl"

.header
	height 120px
	position absolute
	width 100%
	background-color white
	z-index 999
	border-bottom 2px solid turquesa
	&-social 
		position absolute
		right 48px
		border-left: 1px solid #f0f0f0;
		a 
			display inline-block
			vertical-align top 
			font-size 1.5rem
			padding: .89rem 0.5rem;
	&-top 
		text-align center
		background #000
		font-size 12px
		.header-contact-info 
			a 
				padding 0 1rem
	
	&-menu
		display none
		position absolute
		top 70px
		left 0
		right 0
		background-color verde
		z-index 999
		text-align center
		&-item
		li
			display block
			position: relative
		&-link
		a
			display block
			padding .5rem
			color white
			text-transform uppercase
			font-weight 700
			position relative
			&:hover
				color white
		.sub-menu
			position:  static
			text-align: center
			a 
				font-size: .8rem
			

			
	&-logo
		display block
		width 100px
		padding-top 5px
		z-index 200
		position absolute
		background-color white
		padding .5rem
		border-radius 50%
	&-btn-menu
		position absolute
		right 0
		top 15px
		background transparent
		border none
		font-size 2rem
		color rojo
		outline none

@media screen and (min-width: 498px)
	.header
		height 90px
		&-top 
			text-align right
@media screen and (min-width: 1024px)			
	.header
		position fixed
		//text-align center
		&-logo
			display inline-block
			background-color white
			padding .5rem
			border-radius 50%
			//width 218px
	
		&-social 
			position absolute
			right 0
			border-left: 1px solid #f0f0f0;
			a 
				display inline-block
				vertical-align top 
				font-size 1.5rem
				padding: .89rem 0.5rem;
		&-menu 
			display block !important
			background-color transparent
			top 10px
			right 7rem
			left auto
			.sub-menu
				position:  absolute
				background-color: white
				width: 200px
				text-align: center
				display: none
				li 
					border: none
				a 
					font-size: 1rem
			&-ul 
				margin-top -10px
			
			
			
			&-item
			li
				display inline-block
				border-left: 1px solid #f0f0f0;
			
				//width 115px
				//line-height 18px
				vertical-align middle
				
			&-link
			a
				padding 1.2rem 1.5rem
				color #000
				line-height 20px
				font-size: .8rem
				
				&:after
				&:before
					content ''
					background-color #eee
					width 25px
					height 6px 
					position absolute
					bottom 10px
					left 30px
					transition all .3s ease
				&:before
					width 0px
					background-color naranja
					z-index 2
				&:hover
					color celeste
					&:before
						width 25px
						
				
					
		&-btn-menu
			display none
@media screen and (min-width: 1160px)
	.header
		&-menu
			a
				padding 1.2rem 1.8rem
				font-size: 1rem
.banner 
	width: 100%;
	min-height: 465px;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	background: url(./img/bg-banner.jpg) no-repeat center center fixed;
	background-size: cover;
	height 95vh
	.item
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover
		
		/*&.bgPage
			background-position: center center;
			background-repeat repeat,no-repeat,no-repeat
			background-size auto auto,cover,cover
			position: static;
			height: 260px;*/

	&.banner-page
		min-height: auto
		height 100vh
		padding-top: 6rem
		position: fixed 
	&-logo
		position absolute
		left 50%
		top 30%
		transform translate(-50%, 30%)
		z-index 900
		color white
		text-transform uppercase
		text-align center
		h3 
			font-size 2rem
			margin-bottom 0
		
	.home-video-content
		background-color: #FFF;
		//position: relative !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	&:before
		content ""
		z-index 1
		position absolute
		background url(./img/shadow.png) no-repeat 50% 50%
		background-size cover
		top 0
		left 0
		width 100%
		height 100%
		
	video
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		margin: 0px;
		padding: 0px;
		display none
#intro-scroll
	position: absolute;
	bottom: -32px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	height: 96px;
	background: transparent url(./img/button_introscroll_bg.png) center top no-repeat;
	z-index: 4;
	cursor: pointer;
	display: none;
	transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0ms;
	
@media screen and (min-width:768px)
	.banner 
		video
			display block
		
.featured
	position relative
	background-color white
	padding 4rem 1rem
	.border-intro-bottom
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		background: url(./img/border_intro_bottom.png) repeat-x left top scroll;
		z-index: 2;
		
	&-item
		width 100%
		position relative
		overflow hidden
		margin-bottom: 1rem
		&-link
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			display block
		&-title
			position: absolute;
			bottom: 10%;
			left 50%
			transform translate(-50%, 0)
			padding .1rem 1rem
			text-align: center;
			border: 3px solid #fffefe;
			color: #f0f0f0;
			text-transform uppercase
			font-weight 900
		&:hover
			.featured-item-title
				background-color white
				color naranja
			img
				transform: scale(1.2);
		img
			width: 100%;
			margin: 0 auto;
			display: block;
			transition: all .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;
@media screen and (min-width:768px)
	.featured
		padding 4rem 0
		&-item
			width 32%



.related.products ul.products
.tours
	position relative
	background-color white
	padding 0rem 1rem
	
	li.product
	&-item
		width 100%//32%
		position relative
		overflow hidden
		margin-bottom 1.5rem
		max-height 400px
		&.size-2
			width 100%
			max-height 400px
		&-link
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			display block
		.woocommerce-loop-product__title
		&-title
			position: absolute;
			bottom: 20%;
			left 5%
			padding .1rem 1rem
			text-align: center;
			color: #f0f0f0;
			background-color #000
			text-transform uppercase
			font-weight 900
			font-size 1.2rem
		.price
		&-price
			position: absolute
			right: 0
			top 0
			background: celeste
			padding: 0 .5rem
			color white
		.add_to_cart_button
		&-button
			position: absolute;
			bottom: 10%;
			left 5%
			padding .1rem 1rem
			text-align: center;
			background-color #fff
			color: #000;
			text-transform uppercase
			font-weight 900
			border-radius: 0;
		.add_to_cart_button
			padding .5rem 1rem
			bottom: 5%;
		&:hover
			.featured-item-title
				background-color white
				color naranja
			img
				transform: scale(1.2);
		img
			width: 100%;
			margin: 0 auto;
			display: block;
			transition: all .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0ms;

.related.products ul.products
	display flex
	flex-wrap wrap
	justify-content space-between
	padding 2rem 1rem

.tours-container
	padding 0 1rem

@media screen and (min-width:768px)
	.related.products ul.products
	.tours
		padding 0rem 0
		li.product
		&-item
			width 32%
			&.size-2
				width 65.8%

	.related.products ul.products
		li.product
			width 28%

	.tours-container
		padding 1rem 0
	.related.products ul.products
		padding 3rem 0
	

			
.main 
	padding: 5.6rem 0rem
	min-height: 700px
@media screen and (min-width:498px)
	.main
		padding: 5.6rem 0rem
.page
.archive
	.entry-header
	.entry-header-shop
		padding-top: 2rem
		padding-bottom: 2rem
	.entry-content
		padding: 0 1rem
.contact
.rent
.about
	&-info
	&-media
		width: 100%
		margin-bottom: 1rem
	&-info
		background-color: rgba(0,0,0,.55)
		padding: .5rem
.rent
	&-media
		iframe
			width: auto

@media screen and (min-width:768px)
	.contact
	.rent
		&-info
		&-media
			width: 48%
		&-media
			iframe
				height: 400px
	.about
		&-info
			width: 65%
			
			//background-color: rgba(0,0,0,.75)
		&-media
			width: 30%
	.rent
		&-media
			iframe
				height: 300px
.footer
	background #000
	color white
	position: relative
	ul 
		list-style none
		li 
			margin-bottom .5rem
	
	&-top 
		width: 100%;
		height: auto//115px;
		background: #f0f0f0;
		color: #261e1e;
		font-size: 16px;
		letter-spacing: 0.07em;
		color #000
		//padding 2.5rem 0
		text-transform uppercase
		text-align: center
		padding: 1rem
		a 
			color #000
	&-email
		width: 100%
		margin-bottom: 1rem
	&-social
		width: 100%
		h3
			display inline-block
			vertical-align middle
			text-transform uppercase
		&-container
			padding-left .5rem
		a 
			display inline-block
			vertical-align top 
			font-size 1.5rem
			padding: .5rem 1rem;
			background-color #000
			color white
			&:first-child
				padding .5rem 1.2rem
	&-bottom 
		background-color #121212
		padding-top 4rem
		padding-bottom 4rem
		&-item 
			width 100%
			padding 0 1rem
		h5
			font-size 1rem
			color white
			font-weight 900
			text-transform uppercase
	&-blog
		&-text 
			line-height 20px
		em
			color naranja
	&-info
	&-menu 
		text-transform uppercase
		.sub-menu
			margin-left: 15px
		
	&-copyright
		background-color #1C1C1A
		color #5e5858
		text-align center
		a 
			color #5e5858
	.avotz
		font-size 1.5rem
		vertical-align middle
@media screen and (min-width:768px)
	.footer
		&-top
			height: 115px;
			padding 2.5rem 0
			text-align: left
		&-email
		&-social
			width: auto
		&-bottom
			&-item
				width 23%
				
		

.slider-gallery
	margin-top: -70px
	width: auto//60%
	margin-left: 5%
	position: relative
	.slick-slide
		img 
			border 2px solid white
		&:hover
			img 
				border-color naranja
	.slick-list
		padding: 0 2rem
	.slick-arrow
		position:  absolute
		top 50%
		transform: translate(0,-50%)
		z-index: 99
		background: transparent
		border: none

	.slick-prev
		left 0
		&:after
			content: '\f060'
			font-family: 'FontAwesome'
			color red
			position: absolute

	.slick-next
		right 0 
		&:after
			content: '\f061'
			font-family: 'FontAwesome'
			color red
			position: absolute

	
@media screen and (min-width:768px)
	.slider-gallery
		width: 60%

@import "wc.styl"





