#offtime
  position fixed
  top 0
  left 0
  display flex
  flex-direction column
  height 100%
  width 100%
  z-index 9
  overflow auto
  background-color var(--sec-color)
  .gradient
    background linear-gradient(to bottom, #522fa9, rgba(169, 152, 212, 0) 47%, #ffffff)
  .client-view
    background-repeat no-repeat
    background-position-x center
    background-position-y center
    background-size cover
  .content
    height 100%
    margin-bottom 72px
  .close-popup
    position absolute
    top 25px
    // right 20px
    display flex
    justify-content center
    align-items center
    width 2.5rem
    height 2.5rem
    .popup-cross
      font-size 2.5rem
      line-height 2.5rem
      color #fff
  .client-page
    .client-info
      display flex
      justify-content space-between
      padding-top 1.8rem
      padding-inline-start 1rem
      -webkit-padding-start 1rem
      -moz-padding-start 1rem
      padding-bottom 2rem
      padding-inline-end 0
      -webkit-padding-end 0
      -moz-padding-end 0
      min-height 9rem
      .navigation
        display flex
        flex-direction column
        align-items center
        justify-content center
        .popup-address
          margin 6px 0 0
          font-size 8px
          color white
        .mini
          height 20px
          width 20px
      .client-icons
        display flex
        flex-direction column
        .icons-item
          display flex
          align-items center
          margin-bottom 0.75rem
          .wrap-icons
            display flex
            justify-content center
            align-items center
            width 1rem
            height 1rem
          span
            display flex
            align-items center
            font-size 0.75rem
            line-height 1rem
            padding-inline-start .5rem
            -webkit-padding-start .5rem
            -moz-padding-start .5rem
            color #fff
          .vip
            width 16px
            height 16px
  .user-def
    height 1.5rem
    width 1.5rem
    margin-inline-end 0.4rem
    -webkit-margin-end 0.4rem
    -moz-margin-end 0.4rem
  .strip-name
    display flex
    width 100%
    justify-content center
    align-items center
    padding 1rem 0 0.5rem
    .client-name
      display flex
      align-items center
      margin 0
      padding 5px 23px 4px
      border-radius .9rem
      font-weight bold
      font-size 18px
      background-color var(--main-bgcolor)
      color #fff
  .status
    max-width 50%
    // width 10rem
    .status-text
      margin 0
      height 100%
      line-height 1rem
      // display flex
      // align-items center
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      font-size 12px
      color var(--dark-color)
    .full
      white-space inherit
      display flex
      height auto
  .strip-phone
    display flex
    justify-content space-between
    padding .1rem 1rem .8rem .8rem
    .call
      display flex
      align-items center
      flex-grow 1
    .no-status
      justify-content center
    .wrap-tel
      display flex
      padding-inline-start .6rem
      -webkit-padding-start .6rem
      -moz-padding-start .6rem
      .img-tel
        width 15px
        height 15px
        margin-inline-end 10px
        -webkit-margin-end 10px
        -moz-margin-end 10px
      .tel
        display flex
        align-items center
        color var(--dark-color)
        font-size 16px
        font-weight bold
        text-decoration none
        span
          display flex
          align-items center
          line-height 1rem
          // padding-top 0.2rem
    .btn-sms
      display flex
      box-sizing border-box
      padding 0
      align-items center
      justify-content center
      border none
      background-color transparent
      .img-sms
        width 1.1rem
        height 1.1rem
      .tel
        color white
        font-size 16px
        font-weight bold
        text-decoration none
  .service-wrapper
    height 100%
    width 100%
    background-color var(--sec-color)
    margin-bottom 4.4rem
    .img
      display flex
      justify-content center
      margin-inline-end .7rem
      -webkit-margin-end .7rem
      -moz-margin-end .7rem
      position relative
    .img-wrap
      display flex
      justify-content center
      // align-items center
      // width 1rem
      // height 1rem
      margin-inline-end .7rem
      -webkit-margin-end .7rem
      -moz-margin-end .7rem
    .wrap-item
      border-radius .5rem
      padding-top 1rem
      padding-bottom .7rem
      padding-inline-end 0.5rem
      -webkit-padding-end 0.5rem
      -moz-padding-end 0.5rem
      padding-inline-start 1.75rem
      -webkit-padding-start 1.75rem
      -moz-padding-start 1.75rem
      // width 96%
      margin 0.3rem auto
      background-color #fff
    .date-info
      display flex
      justify-content space-between
      .service-date
        display flex
        .approved
          color var(--dark-color)
        .img-service
          width 1.2rem
          height 1.1rem
      .time-dur
        text-align end 
        .mini
          width 0.6rem
          height 0.6rem
          margin 0 3px
        .event-duration
          font-size 0.75rem
          height 0.75rem
          color var(--main-color)
      .duration
        display flex
        align-items center
        // align-items baseline
        justify-content flex-end
        .minutes
          padding 0 0.2rem
        .hours
          padding-inline-end 0.2rem
          -webkit-padding-end 0.2rem
          -moz-padding-end 0.2rem
    .caption
      margin 0
      font-size .9rem
      font-weight normal
    .service-cont
      display flex
      justify-content space-between
      .service-wrap
        display flex
        flex-grow 1
      .img-service
        width 1.2rem
        height 1.1rem
      .service-name
        display flex
        flex-direction column
        width 85%
        .item-wrap
          margin-top 0.3rem
          font-size 0.75rem
          color var(--main-color)
          span
            padding-inline-end 5px
            white-space nowrap
            
      .price
        font-size 0.9rem
        white-space nowrap
  .location
    display flex
    justify-content space-between
    .location-circle
      position absolute
      top 10%
    .location-wrap
      display flex
      width 80%
    .img-location
      width 1rem
      height 1.5rem
    .location-cont
      .address-loc
        margin 0
        font-size .75rem
        color var(--main-color)
    .location-icon
      display flex
    .link-maps
      display flex
      align-items center
      justify-content center
      &:first-child
        margin-inline-end 0.6rem
        -webkit-margin-end 0.6rem
        -moz-margin-end 0.6rem
  .notes
    display flex
    .notes-cont
      width 80%
    .img-notes
      width 1.2rem
      height 1.2rem
    .notes-txt
      white-space pre-wrap
      font-size .75rem
      color var(--main-color)
  .btn-section
    display flex
    justify-content center
    position fixed
    background-color var(--sec-color)
    padding-bottom 0.4rem
    width 100%
    bottom 0
    left 0
    .btn-wrap
      display flex
      width 96%
    .btn-styl
      border none
      flex-grow 1
      width 100px
      display flex
      align-items center
      justify-content center
      height 4rem
      padding 0
      font-size 18px
      letter-spacing 0.2px
      background-color var(--main-bgcolor)
      color #fff
    .btn-img
      margin-inline-start .4rem
      -webkit-margin-start .4rem
      -moz-margin-start .4rem
    .edit
      height 16.7px
      width 16.7px
    .delete
      background-color #fff
      color var(--dark-color)
  .client-page
    display flex
    align-items center
    justify-content center
    height 180px
  .backgroundForOfftime
    background-color rgba(107, 68, 190, 0.8)
  .service-relative
    position relative
    padding-top 1.7rem
    .upperWrap
      margin auto
      position absolute
      width 83%
      top -2.6rem
      margin-inline-start 54%
      -webkit-margin-start 54%
      -moz-margin-start 54%
    .notes
      margin 0.2rem auto
    .location
      margin 0.3rem auto
  .client-name
    display flex
    align-items center
    margin 0
    padding-top 0.2rem
    padding-bottom 0.1rem
    padding-inline-end 1.4rem
    -webkit-padding-end 1.4rem
    -moz-padding-end 1.4rem
    padding-inline-start 1.4rem
    -webkit-padding-start 1.4rem
    -moz-padding-start 1.4rem
    border-radius .9rem
    font-weight bold
    font-size 18px
    color #fff
    