@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$manrope-font = 'Manrope', sans-serif;

$very-dark-grayish-blue = hsl(217, 19%, 35%)
$desaturated-dark-blue = hsl(214, 17%, 51%)
$grayish-blue =  hsl(212, 23%, 69%)
$light-grayish-blue = hsl(210, 46%, 95%)


*
  margin 0
  padding 0
  font-family $manrope-font

p, span
  color $desaturated-dark-blue

html
  font-size 13px

body
  display flex
  justify-content center
  align-items center
  flex-direction column
  height 100vh
  background-color $light-grayish-blue

.card
  box-shadow 0 10px 20px -1px rgba($grayish-blue, 0.3)
  border-radius 1rem
  background-color white
  width 325px
  margin 0 1.5rem
  display flex
  flex-direction column
  @media (min-width: 600px)
    flex-direction row
    max-width 730px
    width auto

  header
    > img
      width 100%
      height 200px
      object-fit cover
      object-position center 29%
      border-top-left-radius @border-radius
      border-top-right-radius @border-radius
      @media (min-width: 600px)
        width 285px
        height 100%
        border-top-right-radius 0
        border-top-left-radius @border-radius
        border-bottom-left-radius @border-radius
        object-position left

  main
    display flex
    flex-direction column
    align-items center
    padding 0 2.6rem
    @media (min-width: 600px)
      padding 0 3rem

    > h1
      font-size 16px
      font-weight 700
      margin-top 2.5rem
      color $very-dark-grayish-blue
      @media (min-width: 600px)
        font-size 20px

    > p
      font-size 13px
      font-weight 500
      margin-top 1rem
      line-height 1.6em

  footer
    border-bottom-left-radius @border-radius
    border-bottom-right-radius @border-radius
    padding 1.25rem 2.6rem
    margin-top 1.5em
    display flex
    justify-content flex-start
    align-items center
    position relative
    @media (min-width: 600px)
      margin-top 0
      padding 1.5rem 3rem 2.5rem

    > img
      width 3rem
      height 3rem
      border-radius 2rem
      object-fit cover

    .user-info
      display flex
      flex-direction column
      margin-left 1.5rem
      span
        color $very-dark-grayish-blue
        font-weight 700
      time
        color $grayish-blue
        margin-top 0.2rem

    .share
      background-color $very-dark-grayish-blue
      border-bottom-left-radius @border-radius
      border-bottom-right-radius @border-radius
      position absolute
      top 0
      right 0
      bottom 0
      left 0

      @media (min-width: 600px)
        top -60px
        right 0
        left auto
        bottom auto
        border-top-left-radius @border-radius
        border-top-right-radius @border-radius
        box-shadow 0 10px 10px -1px rgba($grayish-blue, 0.4)
        @media (min-width: 1024px)
          right -70px
        &:after
          content ''
          width 0
          border-top 15px solid $very-dark-grayish-blue
          border-left 15px solid transparent
          border-right 15px solid transparent
          position absolute
          left calc( 80% - 15px)
          bottom -14px
          @media (min-width: 1024px)
            left calc( 50% - 15px)


      > div
        display flex
        justify-content space-between
        align-items center
        padding 0 2.6rem
        height 100%
        @media (min-width: 600px)
          padding 1.2rem 3.1rem

        >span
          text-transform uppercase
          letter-spacing .3em
          font-size 13px
          color $grayish-blue

      .socials
        display flex
        margin-left 1.5rem
        justify-content space-between
        align-items center
        width 100px
        @media (min-width: 600px)
          width 90px

        a
          height 21px
          &:hover
            opacity 65%
            transition opacity 200ms

        img
          width 20px
          height 21px

      button
        background-color $desaturated-dark-blue
        color white
        @media (min-width: 600px)
          display none

    button
      width 2.5rem
      height 2.5rem
      border-radius 2rem
      border none
      background-color $light-grayish-blue
      color $desaturated-dark-blue
      margin-left auto
      cursor pointer

      svg
        width 15px
        height 13px

      &:hover
        background-color $desaturated-dark-blue
        color white

      &:focus
        background-color $desaturated-dark-blue
        color white

[x-cloak] { display: none !important; }