@import 'variables'
.humane
  pointer-events none!important
*
  box-sizing border-box
a
  background-color transparent
  text-decoration none
  color vs-text
  transition color .2s
a[href]
  color vs-link
.row
  display flex
  align-items baseline
  width 100%
  .right
    justify-content flex-end
    display flex
    flex 1
hr
  width 100%
  opacity 0.3
  margin-bottom 1.6rem
html
  font-size 62.5%
button, input[type="submit"]
  vs-button()
.sort
  a
    margin-left 1rem
body
  font-family ProximaNova-Light, sans-serif
  margin 0
  color #333
  min-height 100%
  background #fff!important
  position relative
  display flex
  flex-direction column
  font-size 1.4rem
  line-height 2.52rem
  -webkit-text-size-adjust 100%
  sub
    bottom auto
  a
    text-decoration none
  th
    vertical-align top
    text-align left
    font-size 1rem
    &.shrink
      width 1%
  td
    vertical-align top
    font-size 1.4rem
    padding 0.5rem
  .holder
    flex 1
    width 100%
    z-index 2
    background vs-white
    transition 0.4s
    transform translateX(0px)
    &.mobile-menu-out
      transform translateX(-180px)
  .header-dir, .body, .footer-dir
    display flex
    justify-content center
    width 100%
    box-sizing border-box
    .container
      width 90%
      max-width 1100px
  .body
    margin-top 72px
    flex 1
    z-index 10
    background vs-white
    &:before
      position absolute
      top -100%
      left 0
      width 100%
      height 100%
      display flex
      align-items center
      justify-content center
      content "y'allright there?"
      background linear-gradient(0deg, vs-white, vs-orange, black)
  .has-dropdown
    position relative
  .dropdown
    list-style-type none
    margin 0
    padding 1rem
    position absolute
    min-width 160px
    border-radius 4px
    background #fff
    z-index 10
    border 1px solid #ccc
    box-shadow 2px 2px 2px rgba(0,0,0,0.3)
  .search
    input
      padding 10px 15px
      width 300px
      border-radius 5px
      border 1px solid vs-lightgrey
      font-size 1.6rem
  .sorting
    text-decoration underline
.confirm-backdrop.open .confirm-box 
  padding 20px 40px 40px 40px
  border 1px solid vs-orange
  h1
    width 100%
    text-align center
    border-bottom 1px solid vs-lightgrey
    padding-bottom 10px
  .message
    margin-bottom 20px
.desktop-hide
  display none!important
.small-mobile-show
  display none!important
@media screen and (max-width: 80rem)
  .mobile-hide
    display none
  .desktop-hide
    display block!important
@media screen and (max-width: 700px)
  .small-mobile-hide
    display none
  .small-mobile-show
    display block!important
.lt-1024
  body
    background vs-grey!important
.mobile
  body
    display block!important
    .body
      min-height 100vh