// === Heading 1 =======================================================================================================
Heading1DefaultProperties = {
  geometry: {
    fontSize: 40px,
    lineHeight: 44px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__4--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level1(preset = Heading1DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 2 =======================================================================================================
Heading2DefaultProperties = {
  geometry: {
    fontSize: 32px,
    lineHeight: 36px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__12--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level2(preset = Heading2DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 3 =======================================================================================================
Heading3DefaultProperties = {
  geometry: {
    fontSize: 26px,
    lineHeight: 30px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__16--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level3(preset = Heading3DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 4 =======================================================================================================
Heading4DefaultProperties = {
  geometry: {
    fontSize: 24px,
    lineHeight: 26px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__18--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level4(preset = Heading4DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 5 =======================================================================================================
Heading5DefaultProperties = {
  geometry: {
    fontSize: 20px,
    lineHeight: 20px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__18--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level5(preset = Heading5DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)



// === Heading 6 =======================================================================================================
Heading6DefaultProperties = {
  geometry: {
    fontSize: 16px,
    lineHeight: 18px,
    customDeclarations: {}
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadeOfGray__20--W3C_Palette,
    customDeclarations: {}
  }
}


Heading-Level6(preset = Heading6DefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  // { Required for appended/prepended badge alignment
  display flex
  align-items center
  // }


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)
