.commission_view
  width 100%
  background-color #F2F2F2
  .v-modal
    z-index 999 !important
  .commission_header
    width 100%
    height 55px
    line-height 55px
    background #FFF
    .com_hr_lf
      float left
      height 32px
      line-height 32px
      width 120px
      border 1px solid #6B89FE
      border-radius 19.5px
      margin-top 9px
      margin-left 15px
      text-align center
      .com_hr_lf_p
        width 100%
        height 35px
        line-height 35px
        position relative
        .icon_henggang
          width 16px
          height 16px
          position absolute
          top 9px
          left 12px
        .spanText
          display inline-block
          height 35px
          text-align center
          line-height 35px
    .com_hr_rt
      float right
      height 32px
      line-height 32px
      margin-top 9px
      margin-right 15px
      border 1px solid #f0f0f0
      border-radius 19.5px
      width 170px
      position relative
      box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.06)
      input
        display inline-block
        width 80%
        height 30px
        line-height 30px
        outline none
        margin-left 10px
      input::placeholder
        font-family PingFang-SC-Medium
        font-size 12px
        color #C1BFC2
      .icon_search
        position absolute
        top 8px
        width 18px
        height 18px
  .commission_content
    width 100%
    margin-top 15px
    padding-right 18px
    padding-left 18px
    box-sizing border-box
    position relative
    .com_content
      background-color #FFF
      width 100%
      margin-bottom 14px
      .commiss_header
        width 100%
        height 40px
        line-height 40px
        text-align left
        box-sizing border-box
        position relative
        .icon_Invite
          position absolute
          height 30px
          width 35px
          padding-top 10px
          padding-left 15px
          box-sizing border-box
        span
          float left
          height 30px
          line-height 30px
          margin-top 6px
          margin-left 40px
        .link_rebeat
          float right
          text-align center
          margin-right 20px
          margin-left 0
          color #5288f8
      .commis_type
        padding-left 15px
        padding-right 15px
        width 100%
        box-sizing border-box
        .commis_type_p1
          width 100%
          box-sizing border-box
          border-top 0.1px solid #f4f4f4
          border-bottom 0.1px solid #f4f4f4
          height 40px
          line-height 40px
          span
            font-family PingFang-SC-Medium
            font-size 12px
            color #9B9B9B
            padding-left 5px
        .commis_type_p2
          width 100%
          height 30px
          line-height 30px
          .span1
            font-family PingFang-SC-Medium
            font-size 12px
            color #9B9B9B
            padding-left 5px
            float left
          .span2
            font-family PingFang-SC-Medium
            font-size 12px
            color #9B9B9B
            padding-right 10px
            float right
      .commis-footer
        width 100%
        height 56px
        box-sizing border-box
        .commis-footer-p
          width 100%
          padding-left 25px
          padding-right 25px
          box-sizing border-box
          height 25px
          line-height 25px
          span
            display inline-block
            width 135px
            font-family PingFang-SC-Medium
            font-size 12px
            color #9B9B9B
            text-align center
.noData_icon
  padding-top 60px
  i
    width 150px
    height 150px
    margin 0px auto 0
    display block
    svg
      fill #ddd
  p
    text-align center
    font-size 20px
    color #ddd
    font-weight 600
.top_title
  height 35px
  position relative
  text-align center
  line-height 35px
  .icon_spinner
    position absolute
    height 35px
    width 35px
    left 90px
.pop_con
  width 100%
  .pop_b_header
    width 100%
    height 45px
    line-height 45px
    position relative
    .pop_p1
      width 100%
      text-align center
      font-family PingFang-SC-Medium
      font-size 14px
      color #4A4A4A
      height 45px
      line-height 45px
      padding-top 10px
      padding-left 15px
      padding-right 15px
      box-sizing border-box
      .icon_Invite
        float left
        height 27px
        width 27px
      span
        position absolute
        left 50px
        top 5px
        font-size 15px
        font-family PingFang-SC-Medium
        color #4A4A4A
        font-weight bold
    .pop_p2
      position absolute
      width 150px
      height 35px
      line-height 35px
      text-align right
      right 10px
      top 8px
      & .mt-radio
        width 75px
        float left
        height 35px
        line-height 35px
        .mint-radiolist-title
          display none
        .mint-cell
          float left
          // width 95px
          height 35px
          line-height 35px
          min-height 0
          .mint-cell-wrapper
            background 0
            height 100%
            box-sizing border-box
            padding 0
            .mint-radiolist-label
              font-family PingFang-SC-Medium
              font-size 14px
              color #4A4A4A
        // padding 0
        .mint-cell:last-child
          background 0
  .pop_con_sec
    width 100%
    padding-right 15px
    padding-left 15px
    box-sizing border-box
    & .sec_1
      width 100%
      height 350px
      overflow-y auto
    & .rk_b
      width 100%
      padding-bottom 15px
      padding-top 5px
      .d1-header
        width 100%
        height 35px
        line-height 35px
        .p1
          font-family PingFang-SC-Medium
          font-size 14px
          color #4A4A4A
          float left
          height 35px
          line-height 35px
        .p2
          float right
          height 35px
          line-height 35px
          .span1
            display inline-block
            width 22px
            height 22px
            line-height 20px
            background #7ED321
            border-radius 50%
            text-align center
            font-size 22px
            font-weight bold
            color #FFF
            font-family PingFang-SC-Medium
            margin-right 8px
          .span2
            display inline-block
            width 22px
            height 22px
            line-height 20px
            background #EA3826
            border-radius 50%
            text-align center
            font-size 22px
            font-weight bold
            color #FFF
            font-family PingFang-SC-Medium
    .mt-range
      width 100%
      .slot-start
        width 35px
        font-family PingFang-SC-Medium
        font-size 14px
        color #4A4A4A
      .mt-range-content
        // width 150px
        // display block
      .slot-end
        width 35px
        text-align right
        margin-left 12px
  .foot_bottom
    width 100%
    box-sizing border-box
    margin-top 35px
    height 45px
    // margin-bottom 65px
    .cancel
      float left
      width 105px
      height 35px
      line-height 35px
      text-align center
      border 1px solid #6B89FE
      border-radius 5px
      color #6B89FE
      margin-left 35px
      margin-right 25px
    .confirm
      float left
      width 105px
      height 35px
      line-height 35px
      text-align center
      background #6B89FE
      border 1px solid #6B89FE
      border-radius 5px
      margin-left 25px
      color #fff
      margin-right 35px
.pop_con_b
  margin-bottom 35px
.top_title
  height 35px
  position relative
  text-align center
  line-height 35px
  .icon_spinner
    position absolute
    height 35px
    width 35px
    left 90px
.change_radio_min
  float right
  .radio_change_user
    margin-left 10px
.mint-toast
  z-index 9999
