
.mat-drawer-container
    background-color:#c4e5f6
    height: 70em;
.resumenCompra
    color: #002361;
    font-size: 21px;
    position: absolute;
    margin-top: -14px;
.mat-drawer-container-pagos
    background: red;
    width: 71em;
    height: 25em;
    margin-left: 19em;
.tusDatos
    color:#002361;
    font-size: 21px;
    position: absolute;
    margin-top: -14px;
.card-header
    border-bottom: 2px solid #dadada;
    margin-top: 1px;
.imgProfile
    width: 7em;
    position: absolute;
.containerPayMethods
    background: white;
    height: 45em;
    width: 76em;
    border-radius: 9px;
    margin-top: 7em;
.medioDePago
    color: #002361;
    font-size: 23px;
    margin-top: 6px;
    position: absolute;


ul
    list-style: none;
    color: #002361;
    font-size: 17px;
    font-family: 'Gotham', 'Avenir', Helvetica, Arial, sans-serif;
    margin-top: 5em;
    position: absolute;
    width: 12em;
.logo-visa
    margin-left: 11em;
    margin-top: -3em;
    width: 5em;
    cursor: pointer;
.logo-mastercard
    margin-left: 16em;
    margin-top: -6em;
    width: 5em;
    cursor pointer
.logo-pse
    margin-left: 11em;
    margin-top: -2em;
    width: 5.5em;
    cursor pointer
.recuerdaPagos
  width: 21em;
  color: #808080;
  margin-left: 26em;
  margin-top: -6em;
  font-size: 11px;
.logo-baloto
    max-width: 14em;
    margin-left: 10em;
    cursor pointer
.borderGray
  border-bottom:2px solid #dadada
  width: 48em
.borderGrayTwo
  border-bottom:2px solid #dadada
  width: 48em
  margin-top: 3em
.signoAdmiracion
  margin-left: 16em;
  margin-top: -8em;
.spanUser
    position: absolute;
    margin-left: 5.6em;
    margin-top: 1.5em;
    color: #00236a;
    font-size: 15px;
.spanEmail
    margin-top: 2em;
    margin-left: 7em;
    position: absolute;
    color: #00236a;
.referencia
    margin-top: 4em;
    position: absolute;
    color: #002361;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto';
.spanReferencia
    margin-top: 4.45em;
    margin-left: 6em;
    position: absolute;
    color: #00236a;
.deposito
    margin-top: 72px;
    margin-left: 6.3em;
    position: absolute;
    color: #00236a;
.totalPagar
    position: absolute;
    margin-top: 91px;
    color: #002361;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto'
    width: 27em;
.descripcion
    position: absolute;
    margin-top: 5.5em;
    font-size: 13px;
    font-weight: bold;
    color: #002361;
    font-family: 'Roboto';
  background-color:#c4e5f6
.tusDatos
    background: white;
    height: 10em;
    width: 27em;
    margin-left: 2em;
    border-radius: 12px;
.resumenDeCompra
    background: #fff;
    height: 10em;
    width: 27em;
    margin-left: 73em;
    border-radius: 12px;
    margin-top: -10em;
.resumen
    background: white;
    width: 30em;
    height: 14em;
    border-radius: 5px;

@media screen and (min-device-width :320px) and (max-device-width : 421px) {
   .card{
    margin-left: 1em !important;
    max-width: 74em !important;
    margin-top: 1em !important;
    width: 25em;
  }
  .resumen{
    width: 25em;
    margin-top: 8em;
}

.containerPayMethods{
    width: 25em;
    height: 53em;
    margin-top: -1em;
}

.spanUser{
    font-size: 13px;
}
.spanEmail {
    margin-left: 8em;
    font-size: 10px;
    margin-left: 7.5em
}
.spanReferencia {
    margin-top: 5.5em;
    margin-left: 7em;
    font-size: 10px;
    width: 21em;
}
.totalPagar {
    font-size: 12px;
    width: 23em;
   }

.mat-drawer-container{
    height: 89em;
  }

  .medioDePago{
    font-size: 17px;
    width: 17.6em !important;
    }
.logo-visa[_ngcontent-serverApp-c7] {
    margin-left: 5em;
    margin-top: -1em;
    width: 4em;
}
.logo-mastercard {
    margin-left: 10em;
    margin-top: -4em;
    width: 4em;
}
  }
@media screen and (min-device-width :422px) and (max-device-width : 560px) {
  .mat-drawer-container{
    height: 89em;
  }
  .card
  {
    margin-left: 4em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 30em;
  }
  .resumen{
    margin-top: 8em !important;
    }
  .containerPayMethods{
    width: 30em;
    height: 53em
    margin-top: -1em;
    }
  .medioDePago{
    width: 19.9em !important;
    font-size: 18px;
  }
  .logo-visa{
    margin-left: 6em;
    margin-top: 0em;

    }
  .logo-mastercard{
    margin-left: 12em;
    margin-top: -4em;
    }
  .borderGray{
    width: 21.3em;
    margin-left: -2.5em;
    margin-top: 2em;
    }
  .logo-pse{
    margin-left: 5em;
    margin-top: -1em;
    }
  .recuerdaPagos{
      width: 11em;
      margin-left: 16em;
    }
  .signoAdmiracion{
      margin-left: 10em;
    }
  .logo-baloto{
        margin-left: 1em
    }
  .borderGrayTwo{
    margin-left: -2.3em;
    width: 21.2em;
    }
}

@media screen and (min-device-width :561px) and (max-device-width : 752px) {
  .card
  {
    margin-left: 7em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 43em;
  }
  .resumen{
    margin-top: 8em !important;
    width: 43em;
    }
 .mat-drawer-container{
    height: 89em;
  }
.containerPayMethods{
    width: 43em;
    height: 53em
    margin-top: -1em;
    }
   .medioDePago{
    width: 22.4em !important;
  }
  .recuerdaPagos {
    width: 15em;
  }
  .borderGray{
    width: 26em;
    margin-top: 2em;
    }
  .borderGrayTwo{
    width: 26em;
    margin-left: 0em;
  }
}

@media screen and (min-device-width :753px) and (max-device-width :910px) {
  .card
  {
    margin-left: 9em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 49em;
  }
  .resumen{
    margin-top: 8em !important;
    width: 49em;
    }
 .mat-drawer-container{
    height: 89em;
  }
.containerPayMethods{
    width: 49em;
    height: 53em
    margin-top: -1em;
    }
   .medioDePago{
    width: 22.4em !important;
  }
  .recuerdaPagos {
    width: 15em;
  }
  .borderGray{
    width: 26em;
    margin-top: 2em;
    }
  .borderGrayTwo{
    width: 26em;
    margin-left: 0em;
  }
 }
@media screen and (min-device-width :911px) and (max-device-width :1024px) {
  .card
  {
    margin-left: 5em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 35em;
  }
  .resumen{
    margin-left: 37em;
    width: 31em;
    position: absolute;
    margin-top: -7em;
    }
.containerPayMethods{
    width: 68em;
    height: 46em;
    margin-top: 7em;
    }
  .medioDePago{
    width: 35.4em  !important;
}

.borderGray{
    width: 43em
 }

 .borderGrayTwo {
    width: 43em;
}
}
@media screen and (min-device-width :1025px) and (max-device-width :1337px) {
   .card{
    margin-left: 17em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 44em;
   }
  .resumen{
    margin-left: 45em;
    width: 31em;
    position: absolute;
    margin-top: -7em
    }
  }

  @media screen and (min-device-width :1338px) and (max-device-width :2500px) {
   .card{
    margin-left: 17em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 44em;
   }
  .resumen{
    margin-left: 45em;
    width: 31em;
    position: absolute;
    margin-top: -7em
    }
  }
@media screen and (min-device-width :1500px) and (max-device-width :2560px) {
 .card{
    margin-left: 40em !important;
    max-width: 74em !important;
    margin-top: 2em !important;
    width: 44em;
   }
  .resumen{
    margin-left: 45em;
    width: 31em;
    position: absolute;
    margin-top: -7em
    }

 }
