// @media (max-width: 991px)
//     .resultado-busca-filtro .orderBy
//         margin: 15px 0 

// #main__container 
//     max-width: 1320px
//     width: 100% 
//     margin: 0 auto
    
// .tags__filter
//     display: flex
//     align-items: center
//     justify-content: space-between
//     margin-top 30px
//     padding-top 30px
//     margin-bottom 30px
//     border-top: 1px solid #EDEDED

//     @media(max-width: 991px)
//         flex-wrap: wrap
//         border: none
//         margin-top 0
//         padding-top 0

//     .tags__filter-title
//         font-size: 13px
//         color: #453F3F
//         font-weight: 500
//         display: block
//         margin-right 30px

//         @media(max-width: 991px)
//             width: 100%
//             text-align: center
//             margin-bottom: 20px
//             margin-right: 0

//     .tags__filter-list
//         display: flex
//         justify-content: space-between
//         flex-wrap: wrap
//         align-items: center
//         max-width 875px
//         width 100%

//         @media(max-width: 991px)
//             width 100%
//             max-width 100%
//             justify-content: center

//             li
//                 margin: 5px

//         li
//             background: #F3ECF2
//             border-radius: 7px
//             padding: 5px 

//             &:hover
//                 background-image    : linear-gradient(90deg, #BA69C8 0%, #F48FB1 100%)

//                 a
//                     color: #fff 
//                     display: block

//             a
//                 font-size: 13px
//                 color: #333333 
//                 display: block

//                 &:hover
//                     text-decoration: none 


// .main .sub
//     display: flex
//     flex-direction: row-reverse
//     justify-content: space-between

// .title__seoCategory
//     h1 
//         font-size: 30px
//         color: #453f3f


// .sidebar-seo.seo--description
//     .seo--description
//         font-size: 14px
//         font-weight: 400
//         color: #8b8a8a
//         h1,h2,h3,h4,h5,h6
//             font-size: 14px
//             font-weight: 600
//             color: #8b8a8a
//             margin: 5px 0
//         a
//             color: color[0]
//         p
//             font-size: 14px
//             font-weight: 400
//             color: #8b8a8a
            

.department-new


    .vitrine
        + .searchResultsTime
            + .sub .orderBy
                display         : none

    .titulo-sessao
        margin: 0;

    .breadcrumb
        ul
            display: flex
            li
                padding: 10px;
                padding-top: 0px;
                position: relative
                a
                    text-transform: lowercase;
                    margin-right: 20px;
                    font-family: Montserrat,sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #888;
                &:after
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #c6c6c6;
                    position: absolute;
                    top: 11px
                    right: 10px;
                &:last-child
                    &:after
                        display: none

    .resultado-busca-filtro
        font-size           : 13px
        font-weight         : regular
        display             : flex     
        justify-content: flex-end   
        margin-bottom: 30px

        .compare, .filterBy
            display         : none

        .orderBy
            white-space     : nowrap
            margin          : 0
            text-align      : center
            border: none

            label
                display: none

            .SumoSelect
                display         : inline-block
                vertical-align  : middle

            .SumoSelect
                max-width       : 150px

                .SumoUnder
                    z-index         : 1

                > .CaptionCont
                    border-color    : #c8ba9f
                    border-radius   : 3px
                    > span
                        height: 35px;
                        line-height: 35px;
                    > label 
                        display         : flex 
                        justify-content : center 
                        align-items     : center  
                        &:before 
                            font-icon   : url('./svg/down.svg') 
                            font-size   : 5px
                            color       : #c8ba9f

                        > i
                            display     : none 

                > .optWrapper
                    width       : calc(100% + 100px)

    .pager.top
        display: none

    .pager.bottom
        display: flex
        justify-content: center

    ul.pages 
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 200px
        width 100%
        flex-wrap: wrap

        li
            padding: 0
            background: #fff;
            border: none;
            padding: 0;
            background: #fff;
            border: none;
            padding: 5px 12px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: #247471;
            font-weight: 700;
            transition: all 0.3s;
            box-shadow: 0 4px 40px -15px rgba(0,0,0,0.61);
            border: 1px solid;

            &:hover
                background: #247471
                color: #fff

        li.first.pgEmpty, li.previous.pgEmpty, .next, .last
            display: none

    .section-products 
        @media(max-width 991px)
            .main 
                padding-top: 0
        .section
            &__content
                margin-top: 30px
                .main 
                    padding: 0
                    .searchResultsTime 
                        display: none
    
                .shelf
                    >ul
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-between
                        >li
                            padding: 0
                            width: 33%
                            margin: 0 0 20px
