.integralMall-wrapper
  min-height: 900px;
  background-image: url('../img/integralMall/bg.jpg')
  padding-bottom: 0;
  overflow: hidden
  line-height: 1
  .cash-list
    ul
      width: 1140px;
      margin: 0 auto;
      padding-top: 30px;
    li
      display: inline-block;
      width: 356px;
      position: relative;
      height: 283px;
      float: left;
      background-image: url('../img/integralMall/cash_bg.jpg')
      .seevalue
        font-size: 40px;
        color: #f60;
        position: absolute;
        left: 42px;
        top: 65px;
      .letnum
        font-size: 14px;
        color: #333;
        position: absolute;
        left: 89px;
        top: 160px;
      .needbonus
        font-size: 14px;
        color: #333;
        position: absolute;
        left: 99px;
        top: 235px;
      .clickchg
        position: absolute;
        bottom: 28px;
        right: 10px;
        height: 32px;
        width: 120px;
        border-radius: 16px;
        background-color: #e24147;
        line-height: 32px;
        color: #fff;
  .bonus-record-list
    height: 400px
    .list_part
      ul
        width: 1000px;
        margin: 0px auto;
      span
        width: 14.2%;
        display: inline-block;
        height: 48px;
        line-height: 48px;
    .filter_part
      height: 60px;
      border-bottom: 1px solid #dcdddd;
      font-size: 16px;
      input
        width: 128px;
        height: 28px;
        border: 1px solid #e6e6e6;
    .likebtn
      color: #fff
    select
      display: inline-block !important;
    .vdp-datepicker
      display: inline-block
  .integralMall-content
    margin: 0 auto
    width: main_width
    overflow: hidden
    .current-integral
      margin: 170px auto 0 auto
      font-size: 0
      text-align: center
      .inner
        display: inline-block
        padding: 3px 5px 3px 8px
        border-radius: 24px
        background #fff
        .num
          display: inline-block
          vertical-align: top
          color: #c56b22
          font-size: 14px
          margin-top: 2px
        .more
          position relative
          display: inline-block
          vertical-align: top
          width: 18px
          height: 18px
          border-radius: 50%
          background: #ff687a
          font-size: 12px
          line-height: 18px
          color: #fff
          text-align: center
          cursor: pointer
          margin-left: 15px
          &:hover
            div.tips
              display block
          div.tips
            display none
            position absolute
            top 10px
            left 30px
            width 510px
            height 180px
            padding 10px
            z-index 100
            background #fff
            border 1px solid #DCDDDD
            text-align left
            border-radius 10px
            h6
              color #FF687A
              font-size 16px
              line-height 50px
            p
              color #666
              font-size 12px
              line-height 26px
    .navitem_set0
      background-image: url('../img/integralMall/nav-item-1.png')
    .navitem_set1
      background-image: url('../img/integralMall/nav-item-2.png')
    .navitem_set2
      background-image: url('../img/integralMall/nav-item-3.png')
    .navitem_set3
      background-image: url('../img/integralMall/nav-item-4.png')
    .navitem_set4
      background-image: url('../img/integralMall/nav-item-5.png')
    .navitem_set5
      background-image: url('../img/integralMall/nav-item-6.png')
    .current-level
      margin-top: 5px
      text-align: left
      .detail
        font-size: 0
        span
          font-size: 16px
          color: #222222
          display: inline-block
          vertical-align: top
          padding-top: 4px
        .level
          background: url('../img/integralMall/current-level.png')
          display: inline-block
          width: 80px
          height: 24px
          margin-left: 2px
          vertical-align: top
      .promt-info
        color: #fe3242
        padding-top: 6px
        font-size: 12px
      .level-progress
        height: 40px
        background: url('../img/integralMall/level-bg.png') no-repeat left bottom
        width: 100%
        padding: 0 10px
        .word
          margin-top: 8px
          display: flex
          justify-content: space-between
          flex-flow: row wrap
          li
            font-size: 14px
            color: #222222
            position: relative
            &:before
              content: ''
              width: 10px
              height: 10px
              border-radius: 50%
              background-color: #fff
              position: absolute
              top: 26px
              left: 50%
              margin-left: -5px
            &.active
              width: 22px
              &:before
                width: 22px
                height: 32px
                top: 6px
                margin-left: -11px
                background: url('../img/integralMall/level-arrow.png')
            &:last-child:before
              left: 100%
              margin-left: -10px
            &.active:last-child:before
              margin-left: -16px
            &:first-child:before
              left: 0
              margin-left: 0
            &.active:first-child:before
              left: 0
              margin-left: -4px
    .nv-item
      margin-top: 32px
      ul
        height: 146px
        display: flex
        justify-content: space-between
        flex-flow: row wrap
        li
          width: 146px
          position: relative
          border-radius: 50%
          cursor: pointer
          .item
            width: 100%
            height: 100px
            background-position: center
            background-repeat: no-repeat
          p
            color: #333333
            text-align: center
            line-height: 1
            padding-top: 8px
            font-size: 20px
          .active-nav
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-image: url('../img/integralMall/nav-item-active.png')
    .VIP-level,.free,.birthday,.upgrade,.deposit,.goods-list
      width 100%
      background #fff
      overflow hidden
      margin 15px 0 0 0
    .free,.birthday,.upgrade
      border 1px solid #DCDDDD
      text-align left
      padding 20px
      h6
        color #FF5868
        font-size 16px
        line-height 50px
      p
        color #666
        font-size 14px
        line-height 30px
        padding-bottom 15px
    .VIP-level
      margin 15px 0 50px 0
      background transparent
      ul
        display flex
        background #fff
        li
          flex 1
          border 1px solid #E0E0E0
          div.title
            height 65px
            background #FF687A
            line-height normal
            img
              padding 10px 0 5px
            p
              color #fff
              font-size 14px
              font-weight bold
          &:not(:first-child):hover
            border 1px solid #FF687A
          div
            height 90px
            line-height 90px
            font-size 16px
            border-bottom 1px solid #E0E0E0
            color #aaa
            i
              color #E0E0E0
              font-size 30px
            &:last-child
              border-bottom none
        li:first-child
          flex 1.5
      .content
        //margin 15px 0 0 0
        background transparent
        img.logo
          padding 15px 0
    .deposit
      height 300px
      line-height 300px
      h1
        font-size 25px
        color #FF5868
    .goods-list
      .type-item
        font-size: 0
        text-align: left
        margin-top: 22px
        margin-bottom: 22px
        li
          font-size: 12px
          color: #999999
          padding: 3px 8px 4px 8px
          margin-left: 12px
          border-radius: 4px
          line-height: 1
          display: inline-block
          vertical-align: top
          cursor: pointer
          &:first-child
            margin-left: 14px
            color: #0a0e0a
          &.active
            background: #e34148
            color: #fff
      .shop-item
        padding: 0 22px
        font-size: 0
        text-align: left
        margin-bottom: 100px
        overflow: hidden
        .item
          float: left
          margin-right: 6px
          margin-top: 10px
