body
  font-family Arial, "Trebuchet MS", Verdana, sans-serif
  font-size 12px
  padding 0 !important
  margin 0

.slideMenu
  li
    width 170px !important

.cuerpoFacturaCajero
  padding-top 250px

.columna3
  width 100% !important

.botonBuscarProducto
  position static

.sinEstiloFila
  background none !important
  border-color inherit !important

.letrasAzules
  color #026890 !important

.cabezeraFacturaCajero
  position fixed
  width 98.4%
  top 48px
  overflow hidden
  background-color #FCFDFD
  height 250px

.cuerpoCabezeraFacturaCajero

.clienteFactura
  height 540px !important
  width 400px !important

.imagenReporte
  width 128px !important

.ocultarBotones
  display none !important

.fila
  text-align center !important

.calendarioCobro
  input
    margin-bottom 10px !important

.w100
  width 100% !important
  input
    width 100% !important
  label
    width 100% !important

.autoCodigo
  input
    width 100% !important

.espacios
  margin 10px 0px 10px 0px !important

select
  color black !important

hr
  margin 10px 0px 10px 0px !important

.menu
  ul
    &.ui-widget-content
      width 195px !important

span
  &.fa-barcode
    text-indent 0px !important
    overflow visible !important
    margin-top -5px !important
    background-image none !important
  &.fa-bars
    text-indent 0px !important
    overflow visible !important
    margin-top -10px !important
    background-image none !important
    font-size 19px

.comboFecha
  input
    width 410px !important

.fechaFinCobro
  input
    width 445px

.calendarioCompra
  input
    width 300px !important

.nombreProducto
  input
    width 200px !important

.comboBodega
  label
    width 100% !important

.comboPrecio
  label
    width 100% !important

.menuLateral
  margin-top 45px !important
  height auto !important
  margin-top 135px !important
  height auto !important
  margin-top 135px !important
  height auto !important

.ui-menu-child
  width 110% !important

.ui-menu
  &.ui-menu-dynamic
    width 145px !important

.ui-menuitem-text
  font-size 12px !important

.calendarBitacora
  input
    width 445px

.ui-selectonemenu
  width 190px !important
  .ui-selectonemenu-trigger
    width 25px !important

.b
  float right

.r
  width 90px

.ui-menubar
  .ui-menu-child
    .ui-menuitem-link
      width 100% !important

label
  display block !important
  margin-bottom 0px !important
  font-weight 100 !important

#formCabecera
  &:j_idt43_label
    width 500px !important

h3, input, select, textarea, button, .ui-widget, .ui-widget input,
 .ui-widget select, .ui-widget textarea, .ui-widget button,
	.ui-widget-header, .ui-widget-content, .ui-widget-header .ui-widget-header,
	.ui-widget-content .ui-widget-content
  font-family Arial, "Trebuchet MS", Verdana, sans-serif
  font-size 11px !important

#bookTree
  width auto

.ui-treenode
  padding 2px 0 0

.ui-chkbox
  vertical-align middle

.ui-selectoneradio label, .ui-selectmanycheckbox label
  margin-top 2px

.logo
  margin 10px 0 18px 0

.chaptersMenuColumn
  vertical-align top
  padding-left 10px

.chaptersContentColumn
  vertical-align top
  padding 120px 10px 0 40px

.slogan
  position absolute
  color #A2A1A1
  font-weight bold
  bottom 30px
  right 40px

table .formLabel, table .formEdit
  vertical-align middle
  padding 2px 20px 2px 0

table
  .formLabel
    padding 2px 7px 2px 0
    text-align right
    white-space nowrap
    width 1%

table .formEdit input, table .formEdit textarea
  width 160px

.normal
  background #FFD700

.activo
  background #7CFC00

.desactivo
  background #FA8072

.txtFormNuevo
  width 180px

.ventanaTelefono
  text-align center !important

.ui-selectonemenu-filter
  width 160px !important

.ui-layout-unit
  .cabezera
    height auto !important
    top 50px !important
    width auto !important
    visibility hidden !important
  .cuerpo
    height auto !important
    top 170px !important
    visibility hidden !important
  .cabezeraFactura
    height auto !important
    width auto !important
    visibility hidden !important
  .cuerpoFactura
    visibility hidden !important

.tablaCabezera
  display table !important

.FormBotonNuevo
  text-align center !important

.ui-inputfield, .txtCalendario
  width 180px

.btnsFactura
  text-align center
  width 1000px
  position absolute
  bottom 0

.btnEncabezado
  top -3px

.txtCliente
  width auto !important

.linkClave
  color #222222
  text-decoration none
  &:HOVER
    color #6eac2c !important
  &:ACTIVE
    font-weight bold

.txtUsuario
  background red

.formLogin
  background yellow
  position absolute
  top 50%
  left 50%
  margin-top -100px
  margin-left -100px

.titulo
  text-align center

.lblUsuario
  text-align center

.opcionesCuenta
  position absolute
  right 0px

.fechaInicio
  position relative
  left 52px
  input
    width 50px

.fechaFin
  position relative
  left 70px
  input
    width 50px

.lblFechaFin
  position relative
  left 60px

.negrita
  font-weight bold !important

.letrasGrandes
  color royalblue
  font-size 1.5em
  font-weight bold

.abc
  padding-right 20px

.oclutarFiltro
  visibility hidden !important

.txtFactura
  height 20px
  width 80px

.colorLetras
  color red !important
  font-size 20px !important
  text-align right !important
  margin-top -6px !important

.leyendaDesactivo
  background-color #FA8072
  border-radius 500px
  color #FA8072
  float left

.leyendaActivo
  background-color #FFF
  color #FFF
  float left
  border-radius 500px

.ui-datatable-scrollable-body
  margin-right 0px !important

.centrar5
  text-align left !important

.centrar
  text-align center !important

.row
  margin-right 15px !important

.mostrar
  color black !important
  border none !important
  box-shadow none !important
  background none !important
  width auto
  height 50px
  color black !important
  width 100% !important
  border none !important
  box-shadow none !important
  background none !important
  padding-bottom 0px !important
  height 30px

.imagenFondo
  background-image url(../resources/images/error2.jpg)
  height 100%
  text-align center

.textoError
  color white

.calendarioInsertarCliente
  input
    width 100% !important

.comboNacimientoCliente
  label
    width 100% !important

.a
  width 1px

.txtDinamicos
  width 100% !important

.unaColumna
  display block !important

tfoot
  text-align center

.btnMenu
  display none !important
  margin -5px -35px 0px 0px !important

@media
  all
    and
      (max-width
        &:
          1026px)
            .btnMenu {
		display inline !important
            float right
            margin-top -4px !important
            width 35px
            height 35px

.menu, .nombreUsuario
  display none !important

}
  @media
    all
      and
        (max-width
          &:
            2220px)
              and
                (min-width
                  &:
                    1025px)
                      .reporteProducto {
		margin-left 60px !important
            1024px)
              and
                (min-width
                  &:
                    769px)
                      .ui-datatable-scrollable-body {
		margin-right 0px !important
            768px)
              and
                (min-width
                  &:
                    501px)
                      .ui-datatable-scrollable-body {
		margin-right 0px !important
            500px)
              and
                (min-width
                  &:
                    5px)
                      and
                        (orientation
                          &:portrait)
                            .ui-datatable-scrollable-body {
		margin-right 0px !important
        (orientation
          &:portrait)
          &:landscape)

.asterisco
  font-weight bold
  color maroon
  font-weight bold
  color yellow
  font-weight bold
  color black
  font-weight bold
  color blue

.dialogoInsertarCliente
  overflow-y scroll
  height 425px !important
  width 450px !important
  height 425px !important
  width 450px !important
  overflow-y scroll
  width 350px !important
  overflow-y scroll
  height 427px !important
  width 300px !important
  overflow-y scroll
  height 427px !important

.dialogoInsertarPersona
  overflow-y scroll
  height 65% !important
  width 35% !important
  overflow-y scroll
  height 65% !important
  width 50% !important
  overflow-y scroll
  height 65% !important
  width 75% !important
  overflow-y scroll
  height 65% !important
  width 80% !important

.gestionarCliente
  text-align center
  width 14% !important
  text-align center
  width 3% !important
  text-align center
  width 3% !important
  text-align center
  width 3% !important

.dialogoMostrarCliente
  width 600px !important
  overflow-y scroll
  height 370px !important
  width 600px !important
  overflow-y scroll
  height 370px !important
  overflow-y scroll
  height 40% !important
  width 80% !important
  overflow-y scroll
  width 80% !important
  height 50% !important

.dialogoInsertarProducto
  overflow-y scroll
  height 425px !important
  width 600px !important
  overflow-y scroll
  height 425px !important
  width 600px !important
  overflow-y scroll
  height 60% !important
  width 85% !important
  overflow-y scroll
  height 60% !important
  width 85% !important

.dialogoMostrarProducto
  overflow-y scroll
  height 425px !important
  width 600px !important
  overflow-y scroll
  height 425px !important
  width 600px !important
  width 80% !important
  overflow-y scroll
  height 60% !important
  width 80% !important
  overflow-y scroll
  height 60% !important

.txtResponsive
  width 300px !important
  width 300px !important

.dialogoBuscarProducto
  width 50% !important
  width 50% !important
  width 80% !important
  width 85% !important

.btnDialogoBuscarProducto
  left 10px
  left 10px
  left 10px
  left 10px

.txtDialogoBuscarProducto
  width 60%
  width 85%
  width 80%
  width 75%

.dialogoMostrarBodega
  width 30% !important
  overflow-y scroll
  height auto !important
  width 50% !important
  overflow-y scroll
  height auto !important
  width 50% !important
  overflow-y scroll
  height auto !important
  width 80% !important
  height auto !important

.dialogoResponsableBodega
  width 60% !important
  height auto !important
  width 60% !important
  height auto !important
  width 70% !important
  height auto !important
  width 80% !important
  height auto !important

.dialogoInsertarEmpleado
  width 30% !important
  overflow-y scroll
  height 25% !important
  width 50% !important
  overflow-y scroll
  height 25% !important
  width 80% !important
  overflow-y scroll
  height 35% !important
  width 80% !important
  overflow-y scroll
  height 25% !important

.dialogoMostrarCiudades
  width 20% !important
  width 20% !important
  width 50% !important
  width 70% !important

.botonInsertarCiudad
  left 25px
  left 25px
  left 20px
  left 10px

.totales
  float left !important
  float left !important

