/***************************************/

.sc-sophrology
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden
    background-color                    $color3

.scs-content
    position                            absolute
    z-index                             1
    top                                 50%
    left                                50%
    transform                           translate( -50%, -50% )
    width                               100%
    min-width                           $innerWidth

.scs-title-1
    display                             block
    margin-bottom                       45px
    font-size                           4.5rem
    color                               $color2
    text-align                          center
    text-transform                      uppercase
    opacity                             0
    font-l()
    transition2()

    &.animated
        opacity                         1

.scs-diagram
    display                             table
    margin-bottom                       45px

.scs-diagram_figures
    display                             table-cell
    width                               1%
    transform                           translateY( -50px )
    opacity                             0
    transition2()

    &.animated
        opacity                         1
        transform                       translateY( 0 )

.scs-diagram_title
    position                            relative
    display                             block
    font-size                           2rem
    text-transform                      uppercase
    color                               $color2
    width                               120px
    height                              @width
    margin                              0 auto
    border                              10px solid $color2
    border-radius                       100%
    line-height                         6.5
    text-align                          center
    font-b()

    &:before
        content                         ""
        display                         block
        position                        absolute
        z-index                         -1
        top                             0
        left                            @top
        width                           100%
        height                          100%
        border                          10px solid $color4
        border-radius                   100%

    &:after
        content                         ""
        display                         block
        position                        absolute
        z-index                         -1
        bottom                          -60px
        left                            50%
        margin-left                     1.5px
        transform                       translateX( -50% )
        width                           3px
        height                          40px
        border-left                     3px dashed $color2

.scs-diagram_description
    display                             block
    margin-top                          50px
    font-size                           1.4rem
    line-height                         1.3
    color                               $color2
    text-align                          center
    font-sb()

.scs-text
    float                               left
    width                               50%
    transform                           translateX( 50px )
    opacity                             0
    transition2()

    &.animated
        opacity                         1
        transform                       translateX( 0 )

.scs-paragraph
    color                               $color5
    font-size                           1.4rem
    line-height                         1.4
    padding-right                       20px

.scs-list
    color                               $color5
    font-size                           1.4rem
    line-height                         1.3
    padding-right                       20px

.scs-itm
    padding-left                        25px

    &:before
        content                         "\f105"
        position                        relative
        display                         inline
        font-family                     "FontAwesome"
        font-size                       1.6rem
        color                           $color5
        margin-left                     -10px

.scs-text_highlight
    position                            relative
    float                               left
    width                               50%
    background-color                    $color2
    box-sizing                          border-box
    padding                             20px
    opacity                             0
    transition2()

    &.animated
        opacity                         1

        &:before
            opacity                     1
            transform                   translate( 0, 0 )

    &:before
        content                         ""
        display                         block
        position                        absolute
        z-index                         -1
        top                             10px
        left                            @top
        width                           100%
        height                          100%
        background-color                $color4
        opacity                         0
        transform                       translate( -10px, -10px )
        transition4()

    .scs-paragraph
        color                           $color3

    .scs-list
        color                           $color3

    .scs-itm
        &:before
            color                       $color3


/* Mediaqueries Tablet (640px => 1023px) */
@media all and ( min-width: $smallScreenContentMinWidth ) and ( max-width: $largeScreenContentMinWidth )

    .sc-sophrology
        overflow                        visible

    .scs-diagram_title
        font-size                       1.6rem
        width                           80px
        height                          @width
        border                          5px solid $color2
        line-height                     5.2

        &:before
            top                         0
            left                        @top
            border                      5px solid $color4

        &:after
            bottom                      -30px
            height                      20px

    .scs-diagram_description
        margin-top                      30px
        font-size                       1.2rem


    .scs-paragraph
        font-size                       1.3rem

    .scs-list
        font-size                       1.3rem


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .sc-sophrology
        overflow                        visible

    .scs-content
        position                        relative
        top                             inherit
        left                            inherit
        transform                       inherit
        width                           90%
        min-width                       inherit
        margin                          0 auto

    .scs-title-1
        display                         block
        margin-top                      17px
        margin-left                     20px
        font-size                       2.3rem

    .scs-diagram_title
        font-size                       1.4rem
        width                           70px
        height                          @width
        border                          5px solid $color2
        line-height                     5.2

        &:before
            top                         0
            left                        @top
            border                      5px solid $color4

        &:after
            bottom                      -30px
            height                      20px

    .scs-diagram_description
        margin-top                      30px
        font-size                       1.2rem

    .scs-text
    .scs-text_highlight
        float                           none
        width                           100%
        margin-bottom                   30px

    .scs-paragraph
        font-size                       1.3rem

    .scs-list
        font-size                       1.3rem
