@import "../bower_components/nib/"
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.login{
  font-family: 'Josefin Sans', sans-serif;

}

//h1{
//  font-weight:600;
//  font-family: 'Josefin Sans', sans-serif;
//  text-transform:capitalize;
//  text-align:center;
//  color:#FFF;
//  background:#72d6f5;
//  padding:25px 0px;
//}
.form-login
  padding 80px


.title-login
  text-align center
  font-family Helvetica
  font-weight 100
.col-lg-6.col-lg-offset-3
  position relative
.inner-form
  background #FFF;
  box-shadow  0 1px 2px 0 rgba(0,0,0,0.2)
  border-radius 5px

  margin 0 auto
  //position: absolute;
  //left 50%
  //top 50%
  height 700px
  max-width 500px
  width 80%


.login-label
  font-weight:400
  font-size:15px

.col-lg-12
  margin-top 50px
.form-control-login
  background-color #f5f5f5
  box-shadow none
  color #565656
  font-size 14px
  padding 30px 10px
  margin-bottom 30px
  border 1px solid #f1f1f1


.btn.btn-default-login
  background #3995de
  color #FFF
  border-radius 6px
  margin 0 auto
  height 48px
  line-height 38px
  display table
  font-size 15px
  width 100%

.btn.btn-default-login-google
  background rgba(232, 19, 54, 0.87)
  color #FFF
  border-radius 6px
  margin 0 auto
  height 48px
  line-height 38px
  display table
  font-size 15px
  width 100%
.btn.btn-default-login-google:hover
  background-color #b13928

.btn.btn-default-login:hover
  background: #397a81


.forgot
  text-align center
  font-size 16px


input[type=text], input[type=password], input[type=email]
  background-color transparent
  border none
  border-bottom 1px solid #72d6f5
  border-radius 0
  width 100%
  margin 0 0 30px 0
  padding 0
  box-shadow: none


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
  box-shadow none
  border-bottom 1px solid #6eafc4


body
  background-color #fff
  color #333
.collapse.navbar-collapse

.collapse.navbar-collapse ul  li
  list-style-type none
.navbar-toggler.navbar-toggler-right
  //z-index 2
  //position fixed
  //top 37px
  //left 0
.navbar-toggler-icon
  height 20px
  width 20px
.navbar-brand
  margin-left 50px

/* menu style project */
.action-bar
  float right
/* table */
.table-responsive
  overflow-y auto
  height 500px
.column
  padding 1rem !important
  &.width-5
    width 5%

  &.width-20
    width 20%

  &.width-25
    width 25%

  &.width-45
    width 45%
.column-task
  padding 1rem !important
  &.width-3
    width 3%
  &.width-10
    width 10%
  &.width-7
    width 7%
  &.width-13
    width 13%


.column-td
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.tag-input-ctn
  border 1px solid #CCCCCC
  padding 2px
  width 30rem
  border-radius 3px
  display inline-block

  input
    border 0
    padding 0
    margin 2px
    display inline-block
    font-size 13px
    color black
    line-height 18px
    height 18px
    float left

  inputfocus
    outline 0

  .input-tag
    padding 2px 4px
    line-height 12px
    font-size 12px
    background-color #5bc0de
    display inline-block
    float left
    border-radius 2px
    margin 5px 2px 5px 0
    color white

    .delete-tag
      display inline-block
      font-size 11px
      cursor pointer
      padding 0 4px

    .delete-tag:hover
      background-color #5bc0de

.tag-name
  background-color #55bbcc
  color white
  margin-right 5px
  border-radius 5px
  padding 0 4px 2px
  font-size 13px
  white-space nowrap

.progress-bar
  font-size 12px
  font-weight bold
  margin 0
  position relative
  padding 4px 11px 5px 11px
  height auto
  width auto
  color #f5f5f5
  border-radius 3px
  -webkit-border-radius 3px
  -moz-border-radius 3px
  -o-border-radius 3px

@media all and (max-width 320px)
  body
    background-color #0b2e13
    color black

.fa
  margin-right 3px

input.ng-invalid.ng-dirty
  border-color red


/* tag element HTML */

//a.nav-link.active
//  background-color #428bca
//  border-radius 5px
//  width 217px
//  color white
//  height 50px
  //margin-top 10px

//a.nav-link.active:hover
//  color wheat

.search
  position absolute
  opacity 1
  float right
  width 300px
  margin-top -20px
  display inline-block
  margin-left 1050px
.search-action
  position absolute
  width 100%
  top 0
  right 0
  height 34px
  padding-left 30px
  border 1px #ccc solid
  border-radius 4px
  transition border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
  box-shadow inset 0 1px 1px rgba(0,0,0,0.075)

.search i
    color #aaa
    font-size 10px
    position absolute
    top: 12px
    z-index 10
    margin-left .5rem
.search i.fa.fa-close
   right 10px
.btn.btn-search
  margin-top -66px
  margin-left 259px
  background-color white
  border 70px

.btn.btn-search:hover
  background-color whitesmoke

button.btn.btn-outline-dark
  margin-top -58px
  width 30px
  height 30px
  margin-left 270px
  color black
  padding 0 2px 0 7px

/* Responsive table*/
table
  border 1px solid #ccc
  border-collapse collapse
  margin 0
  padding 0
  width 100%

  tr
    backgroun: #f8f8f8
    border 1px solid #ddd
    padding .35em

    td
      text-align left
      margin 0
      position relative
    th
      font-size .85em
      letter-spacing .1em
      padding .625em

@media all and (max-width 580px)
  .inner-form
    //width 80%
  menu
    float: right
    margin-top 12px
  menu button span
    display none
  menu button i
    margin 0
  table
    border 0

  table thead
    border none
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

  table tr
    border-bottom 3px solid #ddd
    display block
    margin-bottom .625em

  table td
    border-bottom 1px solid #ddd
    display block
    font-size .8em
    text-align right
  table td button span
    display: none

  table td:before
    content attr(data-label)
    float left
    font-weight bold
    text-transform uppercase

  table td:last-child
    border-bottom 0
@media all and (max-width: 1024px)
  table td
    white-space nowrap
  table td button span
    display none


/* Delete Comments */
a#deleteComment:hover
  background-color #00aa88
  color white
  border-radius 2px

/* responsive */
img
  width 30px
  height 30px
  line-height 200px
  border-radius 50%
  text-align center
  color white
  font-size 16px
  text-transform uppercase
  font-weight 700
  margin 0 auto 40px

.text
  margin-left 50px
  margin-top -65px
  background-color #f4f5e8
  border-radius 15px 10px 10px 0
  text-align left

.small
  margin-right 20px
.notifications .new-message
  position relative

.notifications > .new-message a
  font-size 12px
  font-weight bold
  line-height 20px
  position absolute
  height 20px
  width 20px
  top -10px
  right -4px
  color #f5f5f5
  background #cc0000
  border-radius 50%
  -webkit-border-radius 50%
  -moz-border-radius 50%
  -o-border-radius 50%
  z-index 1

.notifications > .messages a
  font-size 12px
  font-weight bold
  margin 0
  position relative
  padding 4px 11px 5px 11px
  height auto
  width auto
  color #f5f5f5
  background #5bc0de
  background -moz-linear-gradient(top, #5bc0de 0, #5bc0de, 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #5bc0de))
  border-radius 3px
  -webkit-border-radius 3px
  -moz-border-radius 3px
  -o-border-radius 3px
  border 1px solid rgba(91, 192, 222, 0.5)
  box-shadow 0 1px 3px rgba(91, 192, 222, 0.35), inset 0 1px 0 rgba(91, 192, 222, 0.2)
  -webkit-box-shadow 0 1px 3px rgba(91, 192, 222, 0.35), inset 0 1px 0 rgba(91, 192, 222, 0.2)
  -moz-box-shadow 0 1px 3px rgba(91, 192, 222, 0.35), inset 0 1px 0 rgba(91, 192, 222, 0.2)
  -o-box-shadow 0 1px 3px rgba(91, 192, 222, 0.35), inset 0 1px 0 rgba(91, 192, 222, 0.2)

.notifications > .messages a:hover
  color #fff
  background #4cd7de
  background linear-gradient(top, #4cd7de 0, #4cd7de, 100%)
  border-radius 3px
  border 1px solid rgba(76, 215, 222, 0.5)
  box-shadow 0 1px 3px rgba(76, 215, 222, 0.35), inset 0 1px 0 rgba(76, 215, 222, 0.2)
  cursor pointer
.notifications > .messages a:active
  background #5bc0de
  background linear-gradient(top, #5bc0de 0, #5bc0de, 100%)
  border-radius 3px
  border 1px solid rgba(91, 192, 222, 0.5)
  box-shadow 0 0 0 rgba(91, 192, 222, 0.35), inset 0 1px 0 rgba(91, 192, 222, 0.2)
a.lengthComment
  float left

.pagination-sm.pull-right
  margin-top 13px

/* navbar toggler button */
.custom-navbar-toggler
  display inline-block
  width 3rem
  height 2.5rem
  position relative
  top 12px
  left 12px
  background transparent
.custom-navbar-collapse

  .custom-navbar-sidenav
    list-style-type none
    padding-left: 0;

    .nav-item
      padding: 5px 10px;

      .active
        background-color #428bca
        border-radius .25rem
        width 13rem
        color white

        &:hover
          color wheat
.menu-switcher
  display none

  & ~ .custom-navbar-collapse
    height 0
    overflow hidden
    transition ease height 250ms

.menu-switcher:checked
  & ~ .custom-navbar-collapse
    height 10rem
    background-color #245682;





@media (min-width: 992px)


  .custom-navbar-toggler
    display none

  .custom-navbar-collapse
    display block


    .custom-navbar-sidenav
      height 0
      margin-bottom: 0;
      width: 15.5rem;

      .nav-item
        padding: 5px 10px;

        .active
          background-color: #428bca
          border-radius .25rem
          color #fff
          height 48px
          margin-top 2px
          width 14.2rem

          &:hover
            color wheat

  .menu-switcher
    & ~ .custom-navbar-collapse
      height auto
      overflow inherit

  .menu-switcher:checked
    & ~ .custom-navbar-collapse
      height 0