.all-brands 
  display flex
  flex-wrap wrap
  justify-content center

.brands-item
  width 100%
  height auto
  box-shadow 0 0 15px rgba(0, 0, 0, 0.12)
  border-radius 5px
  background-color $color-white
  display flex
  flex-direction column
  &__
    &header
      display flex
      padding 15px 10px
      height 130px
      align-items center
      +lg()
        height auto
        flex-direction column
      +xl()
        height 130px
        flex-direction row
    &footer
      padding 10px 20px 20px
    &logo 
      width 100px
      min-width 100px
      height 100px
      overflow hidden
      border-radius 50%
      cursor pointer
      +lg()
        margin-bottom 10px
      +xl()
        margin-bottom 0
      form
        +xl()
          height 100%
    &logo-link
      height 100%
      width 100%
      padding 20px
      background initial
      border 0
      outline 0
      cursor pointer
    &img
      object-fit contain
      height 100%
      width 100%
    &info
      width 100%
      text-align center
    &title
      color $light-blue
      font-size 18px
      font-weight 500
      line-height 24px
      text-decoration underline
      background initial
      border 0
      outline 0
      cursor pointer
      &:hover
        text-decoration none
    &stars
      .vue-star-rating
        margin 5px 0
      .star-rating-caption
        font-size 1.4rem !important
        font-weight 400
        text-align center
        color $purple-light
    &tooltip-line
      height 25px

    &bonuses
      display flex
      align-items center
      justify-content center
      height 50px
      min-height 50px
      width 100%
      background-color $main-green
      color $color-white
      font-size 18px
      font-weight 400
      padding 0 10px
      text-align center

    &buttons
      padding 20px
    &btn
      &--
        &reviews
          margin-bottom 10px
    &features-list
      margin 0 !important
    &featur
      color $purple-light
      font-size 14px
      font-weight 400
      line-height 30px
      list-style none !important
      &:before
        @extend $icon
        display inline-block
        content $icon-close-icon
        color $red-3
        font-size 13px
        margin-right 10px
        position relative
        top 3px
    &site-name
      color $light-blue
      font-size 15px
      font-weight 400
      text-transform lowercase
      text-decoration underline
      background initial
      border 0
      outline 0
      text-align center
      width 100%
      margin-top 10px
      cursor pointer
      &:hover
        text-decoration none


  &--
    &worst-casinos
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.12), inset 0 -5px 0 $red-3
      .brands-item
        &__
          &logo
            border 5px solid $red-3
            cursor default
          &bonuses
            background-color $red-3
            font-weight 500
          &title
            text-decoration none
            cursor default

    &bonus-card
      .brands-item
        &__
          &header
            +md()
              height auto
              flex-direction column
            +xl()
              height 130px
              flex-direction row
          &body
            height 100%
            display flex
            flex-direction column
            justify-content space-between
          &features-items 
            display flex
            justify-content space-around
            padding 10px 20px 0 20px
          &features
            margin 0 5px
          &feature
            list-style none !important
            color $purple-light
            font-size 12px
            font-weight 400
            line-height 22px
            &:before
              content ''
              width 5px
              height 5px
              border-radius 50%
              display inline-block
              background-color $purple-light
              margin-right 4px
              margin-bottom 2px


  form
    width 100%
    height auto
