.page-home
  overflow-y auto
  overflow-x hidden
  .home-header
    width 100%
    height 35rem
    background-size 100% 100%
    background-repeat no-repeat
    background-image url('../image/homeBg.png')
    color #ffffff
    @media only screen and (max-width: 768px)
      background-size cover
    .home-header-title
      margin-top 5rem
      width 65%
      text-align center
      color #ffffff
      @media only screen and (max-width: 768px)
        width 100%
        font-size 1.4rem
    .logo-text
      margin-right 1rem
      margin-bottom 0.2rem
      height 3.5rem
      @media only screen and (max-width: 768px)
        height 2.5rem
        margin-right 0.6rem
        margin-bottom 0.2rem
    .home-header-content
      width 60%
      margin 1.2rem 0rem
      text-align center
      font-size 1rem
      font-weight 300
      @media only screen and (max-width: 768px)
        width 98%
    .home-header-banner
      width 90%
      margin 2rem 0
      height 15rem
      display flex
      align-items center
      .banner-container
        position relative
        width 100%
        height 90%
        list-style none
        padding 0
        margin-top 5%
      .banner-item
        width 33%
        height 100%
        position absolute
        padding 1rem
        transform scale(1) translateX(40px)
        opacity 0
        box-shadow 0 10px 5px rgba(0, 0, 0, 0.1)
        border-radius 0.5rem
        transition all 0.5s ease-in-out
        background-color #7D9BC7
        background-size 100%
        background-repeat no-repeat
        background-position center
        display flex
        flex-direction column
        justify-content space-between
        cursor pointer
        @media only screen and (max-width: 768px)
          height 60%
          padding 0.5rem
          width 80%
      .banner-prev
        opacity 0.6
        transform scale(1) translateX(40px)
        z-index 1
        left 0
        @media only screen and (max-width: 768px)
          left 10%
          transform scale(1) translateX(-80px)
      .banner-next
        opacity 0.6
        z-index 2
        transform scale(1) translateX(-40px)
        left 66%
      .banner-inactive
        transform scale(1) translateX(0px)
        z-index 1
        opacity 0
        left 0
      .banner-active
        z-index 99
        opacity 1
        left 33%
        transform scale(1.2) translateY(-10%)
        @media only screen and (max-width: 768px)
          height 70%
          padding 0.5rem
          left 10%
      .active-content-bottom
        font-size 1.5rem
        width 40%
        @media only screen and (max-width: 768px)
          font-size 0.8rem
          width 100%
  .home-highlight
    width 100%
    height auto
    background-image url('../image/right-bottom-line.svg')
    background-repeat no-repeat
    background-size 12rem
    background-position bottom right
    @media only screen and (max-width: 768px)
      background-size 4rem
    .top-line
      background-image url('../image/left-top-line.svg')
      background-repeat no-repeat
      background-size 12rem
      background-position top left
      @media only screen and (max-width: 768px)
        background-size 4rem
    .highlight-title
      color #2E5890
      font-size 1.6rem
      font-weight 800
    .highlight-detail
      padding 1rem 0rem
      width 100%
      overflow hidden
      .highlight-item
        float left
        margin 0.2rem auto
        @media only screen and (max-width: 768px)
          float none
          width 100% !important
      .detail-item
        border-left 0.14rem solid #EBEBEB
        padding-left 1rem
        @media only screen and (max-width: 768px)
          border none
      .highlight-border
        width 2rem
        margin 0.2rem auto
        border-bottom 2px solid #FF6D19
.home-advance
  width 100%
  background-image url('../image/bCloud.png')
  background-repeat no-repeat
  background-size 8rem
  background-color #F5F5F3
  background-position top right
  margin-top 1rem
  @media only screen and (max-width: 768px)
    background-size 4rem
  .top-bird
    background-image url('../image/topBird.png')
    background-repeat no-repeat
    background-size 4rem
    background-color #F5F5F3
    background-position top left
    width 60vw
    margin-left 20vw
    @media only screen and (max-width: 768px)
      background-size 2rem
      width 100vw
      margin-left 0
  .advance-detail
    width 80vw
    margin-left 10vw
    margin-right 10vw
  .advance-icon
    height 3rem
    width 3rem
    border 1px solid #ffffff
    border-radius 50%
    img
      height 100%
      width auto
  .advance-item
    text-align center
    padding 1.2rem 0
  .advance-name
    margin 0.4rem 0
.home-experience
  background-image url('../image/homeExp.png')
  background-repeat no-repeat
  background-size 100% 100%
  padding 3.5rem 0.12rem 8rem
  color #ffffff
  @media only screen and (max-width: 768px)
    background-size cover
.slider-title
  margin-bottom -2rem !important
  align-items flex-start
  @media only screen and (max-width: 768px)
    margin 0.1rem !important
    align-items center !important
.left-icon
  color #0059B3
  font-size 2rem
  cursor pointer
.right-icon
  color #0059B3
  font-size 2rem
  cursor pointer
.partner-area
  background-image url('../image/montain.png')
  background-repeat no-repeat
  background-size 12rem
  background-position bottom left
  position relative
  margin-bottom 0.5rem
  @media only screen and (max-width: 768px)
    background-size 4rem
  .right-middle-line
    position absolute
    background-image url('../image/right-bottom-line.svg')
    background-repeat no-repeat
    background-size 8rem
    top 75%
    right -2rem
    width 10vw
    height 2rem
    z-index -100
  .partner-slider
    width 90vw
    @media only screen and (max-width: 768px)
      width 80vw
  .partner-item
    display flex !important
    width 100%
    flex-direction row !important
    justify-content space-between
    @media only screen and (max-width: 768px)
      flex-direction column !important
  .partner-item-content
    display flex !important
    width 60%
    height 100%
    align-items center
    @media only screen and (max-width: 768px)
      width 100% !important
  .partner-item-name
    margin-top 1rem
    margin-right 1rem
    align-self flex-end
    white-space nowrap
  .partner-item-src
    width 40%
    height 100%
    @media only screen and (max-width: 768px)
      width 100% !important
