@css {

  .content a {
    @apply text-blue-royal-700;
    @apply underline;
  }


  .content a:hover {
    @apply text-blue-royal-500;
  }

  .content address {
    @apply font-georgia;
    @apply italic;
    @apply leading-normal;
    @apply px-4;
    @apply text-base;
  }

  @screen lg {
    .content address {
      @apply px-0;
    }
  }


  .content .alignleft {
    float: left;
    margin-right: 0px;
    @apply max-w-lg;
    @aplly mx-auto;
  }


  @screen lg {
    .content .alignleft {
    @apply w-1/2;
    margin-right: -16px;
    }
  }


  .content .alignright {
    float: right;
    margin-right: -16px;
    @apply max-w-lg;
    @aplly mx-auto;
  }


  @screen lg {
    .content .alignright {
    @apply w-1/2;
    }
  }

  .content .alignrightp {
    margin-left: 0px;
  }


  @screen lg {
    .content .alignrightp {
    margin-left: 160px;
    }
  }

  .content article{
    @apply font-georgia;
    @apply mb-4;
    @apply ml-0;
    @apply leading-tight;
    @apply text-gray-600;
    @apply text-lg;
  }

  .content .article-text{
    @aplly clearfix;
    @aplly flex;
    @aplly flex-col;
    @aplly clearfix;
    @aplly mx-auto;
    @aplly max-w-md;
    @aplly w-full; 
  }

  .content blockquote {
    @apply bg-no-repeat;
    @apply mb-8;
    @apply ml-0;
    @apply pt-12;
    background-image: url(../img/icons/quotes.png);
    background-position: top center;
    background-size: 3rem;
  }


  .content blockquote p {
    @apply italic;
    @apply mb-0;
    @apply ml-0;
    @apply text-2xl;
    @apply text-center;
  }

  .content cite{
    @apply text-sm;
    @apply font-georgia;
    @apply text-gray-300;
  }

  .content cite::before{
    content: "-";
  }

  .content code{
    @apply border;
    @apply border-gray-100;
    @apply bg-gray-50;
    @apply text-sm;
    @apply ml-2;
    @apply px-2;
  }

  .content dd {
    @apply mb-8;
    @apply leading-loose;
  }

  .content dl {
    @apply font-georgia;
    @apply text-base;
    @apply text-gray-600;
  }

  .content dt {
    @apply font-bold;
    @apply mb-2;
  }

  .content figure {
    @apply block;
    @apply mb-4;
  }

  .content figure img {
    @apply block;
    @apply w-full;
    }

  @screen lg {
    .content figure img {
      @apply flex-row;
    }
  }

  .content figure figcaption {
    @apply flex;
    @apply flex-col;
    @apply w-full;
  }
  
  @screen lg {
    .content figure figcaption {
      @apply px-0;
    }
  }


  .content figure figcaption span {
    @apply block;
    @apply font-georgia;
    @apply text-gray-450;
    @apply text-right;
    @apply my-1;
    @apply text-xs;
    @apply uppercase;
    @apply px-4;
  }

  @screen lg {
    .content figure figcaption span {
      @apply px-0;
    }
  }

  .content figure figcaption p {
    @apply mb-0;
    @apply ml-0;
    @apply max-w-xl;
    @apply text-sm;
    @apply leading-normal;
    @apply font-georgia;
    @apply mt-1;
    @apply text-gray-450;
  }

  @screen lg {
    .content figure figcaption p {
      @apply px-0;
    }
  }

  .content h1 {
    @apply font-chronicle-display;
    font-size: 3rem;
    @apply mx-auto;
    @apply px-4;
  }

  @screen lg {
    .content h1 {
      @apply px-0;
    }
  }

  .content h2 {
    font-size: 2.75rem;
    @apply font-chronicle-display;
    @apply my-4;
    @apply px-4;
  }

  @screen lg {
    .content h2 {
      @apply px-0;
    }
  }

  .content h3 {
    font-size: 2.5rem;
    @apply font-chronicle-display;
    @apply my-4;
    @apply px-4;
  }

  @screen lg {
    .content h3 {
      @apply px-0;
    }
  }

  .content h4 {
    font-size: 2.25rem;
    @apply font-chronicle-display;
    @apply my-4;
    @apply px-4;
  }

  @screen lg {
    .content h4 {
      @apply px-0;
    }
  }

  .content h5 {
    font-size: 2rem;
    @apply font-chronicle-display;
    @apply my-4;
    @apply px-4;
  }

  @screen lg {
    .content h5 {
      @apply px-0;
    }
  }

  .content h6 {
    font-size: 1.75rem;
    @apply font-chronicle-display;
    @apply my-4;
    @apply px-4;
  }

  @screen lg {
    .content h6 {
      @apply px-0;
    }
  }

  .content.has-foto-cerita figure figcaption p {
    @apply mb-4;
  }


  .content.has-foto-cerita figure figcaption span{
    @apply text-left;
  }
  
  
  .content img {
    @apply block;
    @apply w-full;
  }


  @screen md {
    .images {
      padding-bottom:75%;
      @apply mr-0;
      @apply w-full;
      }
  }


  .content ol{
    @apply font-georgia;
    @apply leading-loose;
    @apply ml-0;
    @apply px-4;
    @apply text-gray-600;
    @apply text-lg;
    @apply w-full;
    counter-reset: inst;
    list-style: none;
  }

  .content ol li::before {
    @apply mr-4;
    counter-increment: inst;
    content: counter(inst)".";
  }


  .content p {
    @apply font-georgia;
    @apply leading-loose;
    @apply my-4;
    @apply ml-0;
    @apply px-4;
    @apply text-gray-600;
    @apply text-lg;
    @apply w-full;
  }

  @screen lg {
    .content p {
      @apply mx-auto;
      @apply max-w-md;
      @apply px-0;
    }
  }

  .content p iframe[src*=youtube] {
    @apply w-full;
    max-height: 56.25vw;
  }

  @screen lg {
    .content p iframe[src*=youtube] {
      @apply mx-auto;
      @apply max-w-lg;
      max-height: 21.688rem;
    }
  }

  @screen xl {
    .content p iframe[src*=youtube] {
      @apply mx-auto;
      @apply max-w-lg;
      max-height: 21.688rem;
    }
  }

  .content pre {
    @apply border;
    @apply border-gray-100;
    @apply text-gray-450;
    @apply p-4;
    @apply mx-4;
    @apply whitespace-pre-wrap;
  }

  .content q {
    @apply font-georgia;
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    text-align: left;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    @apply flex-wrap;
  }

  .content table {
    @apply mx-4;
    @apply max-w-md;
    @apply mx-auto;
    @apply font-georgia;
    @apply mb-8;
    @apply w-full;
    @apply px-4;
  }

  .content table tbody {
    @apply text-gray-450;
  }

  .content table td {
    @apply border-t;
    @apply border-b;
    @apply border-gray-100;
    @apply text-xs;
    @apply py-2;

  }

  .content table th {
    @apply py-2;
  }

  .content ul{
    @apply font-georgia;
    @apply leading-loose;
    @apply ml-0;
    @apply px-4;
    @apply text-gray-600;
    @apply text-lg;
    @apply w-full;
    list-style: none;
  }

  .content ul li::before {
    content: "\203A";
    @apply mr-4;
  }

  .content .wp-caption.alignleft {
    margin: 0.4375rem 1rem 0.4375rem 0;
  }

  @screen sm {
    .content .wp-caption.left {
      margin: 0.4375rem 0rem 0.4375rem 0;
    }
  }

  .content .wp-caption.alignright {
    margin: 0.4375rem 0 0.4375rem 0;
  }

  @screen lg {
    .content .wp-caption.alignright {
      margin: 0.4375rem 0 0.4375rem 0.875rem;
    }
  }

  .entry-content {
    @apply mx-auto;
    @apply max-w-md;

  }


}