$path           = 'http://r.syyx.com/events/p019/'
$bg             = $path'bg.jpg'
$main           = $path'main.jpg'
$btn            = $path'btn.jpg'
$btn2           = $path'btn2.jpg'
$jws            = $path'jws.jpg'
$qxs            = $path'qxs.jpg'
$ynz            = $path'ynz.jpg'
$gdj            = $path'gdj.jpg'
$right_wrong    = $path'right_wrong.png'
$loader         = $path'ajax-loader.gif'
$float_reg      = $path'float_reg.jpg'
$success        = $path'success.jpg'
$fail           = $path'fail.jpg'
$reg_head       = $path'reg_head.jpg'
$reg            = $path'reg.jpg'

body
    font-size 12px
    margin 0
    color #26424e
    background #07102f
img
    border none
a
    outline none
    color #7a584c
    text-decoration none
    &:hover
        color #fff
.disnone
    display none
.wrapper
    width 100%
    height 100%
    background url($main) no-repeat center 480px
.container
    position relative
    width 100%
    height 1000px
    min-width 980px
    background url($bg) no-repeat center top
.main
    height 100%
    width 980px
    margin 0 auto
    position relative
.nav
    color #7a584c
    padding-left 170px
    line-height 30px
.logo
    width 151px
    height 76px
    position absolute
    left 85px
    top 30px
.mini_download
    position absolute
    width 197px
    height 47px
    top 440px
    left 110px
    background url($btn) no-repeat -22px -25px
    &:hover
        background-position -22px -74px
#prize
    width 284px
    height 55px
    position absolute
    top 50px
    left 250px
#flash
    height 238px
    left 4px
    position absolute
    top 510px
    width 425px
#job
    width 540px
    position absolute
    right 1px
    top 0
    height 755px
    color #00baff
    .con
        height 755px
        width 100%
        display none
        position absolute
        top 0
        left 0
    div.qxs
        background url($qxs) no-repeat
        display block
        .skill
            background-position -22px -168px
    div.ynz
        background url($ynz) no-repeat
        .skill
            background-position -22px -203px
    div.jws
        background url($jws) no-repeat
        .skill
            background-position -22px -238px
    div.gdj
        background url($gdj) no-repeat
        .skill
            background-position -22px -273px
    #j_tab
        height 38px
        width 100%
        position absolute
        top 508px
        span
            display block
            height 38px
            width 112px
            background url($btn) no-repeat 999cm
            float left
            cursor pointer
        .check_0
            background-position -22px -123px
        .check_1
            background-position -134px -123px
        .check_2
            background-position -246px -123px
        .check_3
            background-position -358px -123px
    .info
        position absolute
        top 560px
        left 25px
        strong
            color#00e5e2
        ul
            padding 5px 0 10px
            width 320px
            height 40px
            margin 0
            li
                list-style none
                width 160px
                float left
                height 20px
                line-height 20px
        p
            line-height 20px
            margin 0 0 10px
        .skill
            height 33px
            margin 5px 0 0
            width 271px
            background url($btn) 999cm no-repeat
            em
                display inline-block
                width 33px
                height 33px
                cursor pointer
                float left
                margin-right 5px
    #j_swf
        width 188px
        height 105px
        border 1px solid #0165ff
        position absolute
        right 20px
        top 565px
        background #000
        span
            visibility hidden
            position absolute
            width 188px
            height 105px
            top 0
            left 0
    #reg_1
        position absolute
        width 197px
        height 47px
        top 450px
        right 2px
        background url($btn) no-repeat -221px -25px
        &:hover
            background-position -221px -74px
    #reg_2
        position absolute
        width 143px
        height 36px
        background url($btn) no-repeat -420px -47px
        top 695px
        right 45px
        &:hover
            background-position -420px -85px
.copy_right
    width 700px
    position absolute
    top 913px
    line-height 23px
    padding-left 240px
    .feet_logo
        position absolute
        width 130px
        height 45px
        left 95px
        top 0
.reg_box
    right 0
    top 80px
    position absolute
    height 462px
    width 72px
    left auto
    z-index 10
    #reg1
        width 72px    
        height 293px
        background url($reg) no-repeat
        text-indent -9999cm
        position absolute
        &:hover
            background-position -73px 0
    #reg2
        display none
        position absolute
        left -212px
        background url($reg_head) #11406C no-repeat
        width 282px
        height 360px
        padding-top 100px
        border 1px solid #0876B3
        color rgb(189,241,255)
        overflow hidden
        a
            color #00E5E2
            &:hover
                color #fff
        .reg
            padding 0 20px 0 25px
        table
            height 162px
            td
                height 27px
                width 20px
            input
                background #85bbe5
                border 1px solid #009cff
                height 18px
                color #002c7a
                line-height 18px
                width 145px
            .focus_in_inut
                background #cce9ff
        .agreement
            height 21px
        .reg_form_item_name
            width 60px
        .reg_form_item_input
            width 150px
        .validate_num_input
            height 30px
            vertical-align top
            padding-top 3px
        #txtValidate
            width 50px
        #validateimg
            width 90px
            margin-left 5px
            height 27px
            vertical-align top
            cursor pointer
        #reg_step2,#reg_step3,#reg_step4,#reg_step5
            width 220px
            margin 0 auto
            padding-top 30px
            line-height 25px
            display none
            height 120px
            input
                background #85bbe5
                border 1px solid #009cff
                height 18px
                color #002c7a
                line-height 18px
                width 145px
        #reg_step2
            height auto
            .active
                height 200px
                line-height 30px
        #active_link
            display block
            margin 20px auto
            width 128px
            height 32px
            background url($btn2) no-repeat -144px -227px
            &:hover
                background-position -145px -260px
        .download
            height 50px
            width 266px
            margin 0 auto
            background url($btn2) no-repeat -301px -137px
            position relative
            a
                position relative
                top 60px
            .mini_download
                height 30px
                width 127px
                position absolute
                left 0
                background url($btn2) no-repeat -12px -158px
                &:hover
                    background-position:-12px -188px
            .full_download
                height 30px
                width 127px
                position absolute
                right 0
                background url($btn2) no-repeat -155px -158px
                &:hover
                    background-position:-155px -188px
        .reg_submit
            height 55px
            position relative
        #reg_button
            width 128px
            height 32px
            position absolute
            left 51px
            top 7px
            background url($btn2) no-repeat -11px -227px
            &:hover
                background-position -11px -261px
        .success
            height 50px
            padding-left 50px
            line-height 50px
            background url($success) no-repeat left center
            color rgb(255,191,0)
        .fail
            height 50px
            padding-left 50px
            line-height 50px
            background url($fail) no-repeat left center
            color rgb(255,191,0)
            margin-left 50px
        #back
            text-decoration underline
            cursor pointer
            margin 20px 0 0 100px
        .download_tip
            text-align center
            padding-top 90px
            color rgb(7, 218, 239)
    #close
        width 22px
        height 22px
        cursor pointer
        position absolute
        top 0
        right 0
.check_result_wrong
    background url($right_wrong) no-repeat 0 -32px
    height 100%
    width 16px
.check_result_right 
    background: url($right_wrong) no-repeat 0 4px
    height: 25px;
    width: 16px;

.check_result_loading 
    background url($loader) no-repeat 0 4px
    height 25px
    width 16px