@import "_variables.styl"
@import "_ui.styl"
@import "_elements.styl"

font-size = 14px  

body
  min-width 320px
  -webkit-font-smoothing antialiased
  overflow-x hidden
  font-family 'Montserrat', sans-serif
  font-size 14px
	

.router-view-container {
  min-height: 80vh;
}

h1,h2,h3,h4,h5,h5
  font-family: 'Lora', sans-serif

.wrapper
  max-width: 1340px
  margin: 0 auto

.content-container
  max-width: 1120px;
  margin: 0 auto

  @media only screen and (min-width:1280px) {
    max-width: 1200px
  }

.container 
  margin: 0
  padding: 20px
  box-sizing: border-box
  width: auto

.px-2-sm
  @media $media_sm
    padding 20px

.px-0-lg
  @media $media_lg
    padding 0

.max-xs-item-2
  @media $media_xs_max
    & > *:nth-child(1n+3)
      display none

.max-xs-item-3
  @media $media_xs_max
    & > *:nth-child(1n+4)
      display none

.max-sm-item-2
  @media $media_sm_max
    & > * 
      display initial
      
    & > *:nth-child(1n+3)
      display none

.max-sm-item-4
  @media $media_sm_max
    & > * 
      display initial
      
    & > *:nth-child(1n+5)
      display none

.max-md-item-3
  @media $media_md_max
    & > *:nth-child(1n+4)
      display none

.max-lg-item-3
  @media $media_lg
    & > *:nth-child(1n+4)
      display none

.max-lg-item-4
  @media $media_lg
    & > *:nth-child(1n+5)
      display none


.max-lg-item-9
  @media $media_lg
    & > *:nth-child(1n+10)
      display none

.col-gap-4-sm
  @media $media_sm
    margin-right: -2rem
    margin-left: -2rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 2rem
      padding-left: 2rem

.col-gap-3-sm
  @media $media_sm
    margin-right: -1.25rem
    margin-left: -1.25rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 1.25rem
      padding-left: 1.25rem

.col-gap-4-lg
  @media $media_lg
    margin-right: -2rem
    margin-left: -2rem

    .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12,
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-0, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12,
    .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-0, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12
      padding-right: 2rem
      padding-left: 2rem

/* text alignment */
.text-start   { text-align: start }
.text-center  { text-align: center }
.text-end  { text-align: end }

@media $media_md {
  .text-start-md {
    text-align: start
  }
}

.pre-line
  white-space: pre-line

.vertical-container 
  padding: 20px 0

.horizontal-container
  padding: 0 20px


.spacer
  height: 20px

.hero-main
  // background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/84/Lake_Bled_from_the_Mountain.jpg')
  // background-color: rgb(44, 75, 38)

.ca-main
  //background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HFFjMuKnit5srlmq/asian-candles-in-religious-ceremony-dolly-right-shot_r9gtwvfrlg_thumbnail-full01.png')
  //background-color: rgb(5, 27, 28)

.bg-hero
  min-height 416px
  display: flex
  position: relative
  align-items: flex-end

  & > .content-container
    z-index: 2

  &:before
    content: ''
    display block
    position:absolute
    background-image: linear-gradient(to bottom, rgba(97,118,127,0), rgba(0,0,0,0.61));
    top: 0
    left: 0
    width: 100%
    height 100%

.sticky-footer-container
  display: flex
  min-height: 100vh
  flex-direction: column

.content 
  flex: 1
  width: 100%

.text-upper
  text-transform: uppercase

.tc-white
  color: #fff
  
.width-100
  width 100%

.height-100
  height 100%
  
.fill
  width 100%
  height 100%

.align-center
  display flex
  justify-content center
  align-items center

.weight-300
  font-weight: 300;


.square-block {
  background-size: cover;
  background-position: center center;

   &:before {
    content: '';
    padding-top: 100%;
    display: block;
  } 

  &-wide {
    &:before {
      padding-top: 70%;
    } 
  }
}

.carousel-wrap {
  position: relative;
  display: block;
  min-height: 120px;
  background: #f7f7f7;

  @media $media_md {
    margin-top: 10px;
  }

  @media $media_lg {
    margin-top: 20px;
  }
}


.tabs-wrap {
  text-align: left;

  ul, ol {
    margin-bottom: 25px;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71em;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-left: 16px;
  }

  h4 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.09em;
    color: #000000;
  }

  * {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71em;
    letter-spacing: normal;
    color: #4a4a4a;
    white-space: pre-wrap;
  }

  h1 {
    font-size: 20px;
    margin: 0;
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    margin: auto 0;
  }  
}

.row.contacts {
  .contact-details {
    padding: 50px 0;

     @media $media_lg {
       padding: 0;
     }
  }

  .contact-item {
    padding: 18px 0;
    border-left: none;

    @media $media_md {
      padding: 0 25px;
      border-left: 1px solid rgba(#7e8f97, 0.2);
    }

    &:first-child {
      @media $media_md {
        border: none;
        padding-left: 0;
      }
    }
  }
}

.product-desc
  margin-bottom: 20px;

  p {
    margin: 0;
    line-height: 1.25em;
    white-space: pre-wrap;
    line-height: 1.7em;
    margin-bottom: 10px;
    font-size: 14px;

    a {
      font-size: 14px;
    }
  }

  a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(16, 51, 36);
    text-decoration: none;
  }

figcaption
  display none !important

figure
  text-align: center !important
  max-width: 100%;
  margin: 0;
  
  img {
    max-width: 100%;
    height: auto;
  }