@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"


.vaktatal {

ul.uk-breadcrumb {
 background white
 margin-bottom 0px
 border-top 2px solid llpurple
 border-bottom 2px solid llpurple

li {

a {
 color gray
}// a

span  {
 color llpurple
}// span

}// li

}// ul.uk-breadcrumb

// tabs
ul.uk-tab-bottom {
 background rgba(dark .1)
 margin 0
 padding 0

&::before {
 border none
}// &::before

li {
 background llpurple
 padding-left 32.5px
 padding-right 33px
 margin-left 0px
 margin-right 0px

a {
 color white
 border none

span {
 color llorange
}// span

}// a

}// li

li.uk-active {
 background white
 margin-left 0px

a {
 color llpurple
 border none
}// a

}// li.uk-active

}// ul.uk-tab-bottom

// vaktatalid /o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o/o
.uk-card.mobile {

@media (min-width: 768px) {
 display none

}// @media only screen and (min-width: 768px)

// height
.uk-card-header {
 max-height 47px
 margin-top -8px
 padding-top 0px
 padding-left 0

.uk-grid-small {
 margin 0
 padding 0
 
.uk-width-auto {
 padding 0
 margin-top 10px

img {
 margin-top 0px
 
}// img

}// .uk-width-auto

.uk-width-expand {
 //margin-left -8px
 margin-left -15px
 margin-top 10px

h3.uk-card-title {
 color recipe
 font-size 13px

}// h3

p.uk-text-meta {
 margin 0
 padding 0

time {
 display block
 width 114%
 border-bottom 2px solid llpurple

// ODINN
// fyrri vakt
&.fyrri {
 background white
 color gray
 font-size 18px
 padding-top 6px
 padding-bottom 6px
 border-bottom 2px solid dark

span.vakt {
 background llpurple
 color white
 padding-top 1px
 padding-bottom 1px
 padding-left 15px
 padding-right 15px
 box()
}// span

span.cal {

svg {
 color gray
 width 15px
 margin-top -1px
 margin-left 2px
 margin-right 2px
}// svg

}// span

span.dag {
 color llpurple
 font-size 14px
 text-transform uppercase
 margin-left 10px
}// span.dag

span.date {
 background llpurple
 color white
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color gray
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 color dark
 font-size 14px
}// span.time

}// &.fyrri

// seinni vakt
&.seinni {
 background white
 color gray
 font-size 18px !important
 padding-top 5px
 padding-bottom 7px
 border-bottom 2px solid dark

span.vakt {
 background lblue
 color white
 padding-top 1px
 padding-bottom 1px
 padding-left 5px
 padding-right 5px
}// span

span.cal {

svg {
 color gray
 width 15px
 margin-top -1px
 margin-left 2px
 margin-right 2px
}// svg

}// span

span.dag {
 color lblue
 text-transform uppercase
 font-size 14px
 margin-left 10px
}// span.dag

span.date {
 background lblue
 color white
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color gray
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 color dark
 font-size 14px
}// span.time

}// &.seinni 

// helgivakt vakt
&.helgivakt {
 background white
 color llpurple
 font-size 18px
 padding-top 6px
 padding-bottom 6px
 border-bottom 2px solid dark

span.vakt {
 background llorange
 color white
 padding-top 1px
 padding-bottom 1px
 margin-top -1px
 padding-left 5px
 padding-right 5px
}// span

span.cal {

svg {
 color gray
 width 15px
 margin-top -1px
 margin-left 2px
 margin-right 2px 
}// svg

}// span

span.dag {
 color llorange
 text-transform uppercase
 font-size 14px
 margin-left 10px
}// span.dag

span.date {
 background llorange
 color white
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color gray
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 color dark
 font-size 14px
}// span.time

}// &.helgivakt  

// varmahlid
&.varmahlid {
 background white
 color gray
 font-size 18px
 padding-top 6px
 padding-bottom 6px
 border-bottom 2px solid dark

span.vakt {
 background vhlid
 color white
 padding-top 1px
 padding-bottom 1px
 margin-top -1px
 padding-left 15px
 padding-right 15px
}// span

span.cal {

svg {
 color gray
 width 15px
 margin-top -1px
 margin-left 2px
 margin-right 2px 
}// svg

}// span

span.dag {
 color vhlid
 text-transform uppercase
 font-size 14px
 margin-left 10px
}// span.dag

span.date {
 background vhlid
 color white
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color gray
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 color dark
 font-size 14px
}// span.time
}// &.varmahlid  

// fri
&.fri {
 background llgreen
 color white
 font-size 18px
 padding-top 6px
 padding-bottom 6px

span.vakt {
 background green
 color white
 padding-top 3px
 padding-bottom 3px
 margin-top -3px
 padding-left 15px
 padding-right 15px
}// span

span.cal {

svg {
 color white
 width 15px
 margin-top -1px
 margin-left 2px
 margin-right 2px 
}// svg

}// span

span.dag {
 color green
 text-transform uppercase
 font-size 14px
 margin-left 10px
}// span.dag

span.date {
 background green
 color white
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

}// &.fri 

// heida ////////////////////
// morgunvakt
&.morgun {
 background llpurple
 color white
 padding-top 3px
 padding-bottom 3px
 border-bottom 2px solid dark

span.vakt {
 background white
 color llpurple
 padding-top 2px
 padding-bottom 2px
 padding-left 15px
 padding-right 15px
}// span

span.cal {

svg {
 color white
 width 13px
 margin-top -1px
 margin-left 2px
 margin-right 2px 

}// svg

}// span

span.dag {
 text-transform uppercase
 font-size 18px
}// span.dag

span.date {
 color llorange
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color white
 width 11px
 margin-top -1px
 margin-left 2px
 margin-right 2px 

}// svg

}// span

span.time {
 font-size 11px
}// span.time

}// &.morgun

// kvold
&.kvold {
 background llpurple
 color white
 padding-top 3px
 padding-bottom 3px
 border-bottom 2px solid dark

span.vakt {
 background lbrunn
 color white
 padding-top 2px
 padding-bottom 2px
 padding-left 30px
 padding-right 30px
}// span

span.cal {

svg {
 color white
 width 13px
 margin-top -1px
 margin-left 2px
 margin-right 2px 

}// svg

}// span

span.dag {
 text-transform uppercase
 font-size 18px
}// span.dag

span.date {
 color llorange
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color white
 width 11px
 margin-top -1px
 margin-left 2px 
 margin-right 2px 

}// svg

}// span

span.time {
 font-size 11px
}// span.time

}// %.kvold

// helgi
&.helgi {
 background llpurple
 color white
 font-size 18px
 padding-top 3px
 padding-bottom 3px
 border-bottom 2px solid dark

span.vakt {
 background white
 color llpurple
 padding-top 3px
 padding-bottom 3px
 padding-left 40px
 padding-right 40px
}// span

span.cal {

svg {
 color white
 width 15px
 margin-top -1px
 margin-left 2px 
 margin-right 2px
}// svg

}// span

span.dag {
 text-transform uppercase
 font-size 18px
}// span.dag

span.date {
 color llorange
 font-size 18px

}// span.date

span.month {
 color white
}// span.month

span {

svg {
 color white
 width 15px
 margin-top -1px
 margin-left 2px 
 margin-right 2px 

}// svg

}// span

span.time {
 font-size 18px
}// span.time

}// &.helgi

// annad
&.annad {
 background dark
 color white
 font-size 18px
 padding-top 6px
 padding-bottom 6px
 border-bottom 2px solid dark

span.vakt {
 background white
 color llpurple
 padding-top 1px
 padding-bottom 1px
 margin-top -1px
 padding-left 15px
 padding-right 15px
}// span

span.cal {

svg {
 color white
 width 15px
 margin-top -1px
 margin-left 2px 
 margin-right 2px 

}// svg

}// span

span.dag {
 color white
 text-transform uppercase
 font-size 14px
 margin-left 10px
}// span.dag

span.date {
 background white
 color llpurple
 padding 3px
 font-size 18px

}// span.date

span.month {
 color gray
}// span.month

span {

svg {
 color gray
 width 13px
 margin-top -1px
 margin-right 2px
}// svg

}// span

span.time {
 font-size 14px
}// span.time

}// &.annad 

span.vakt {
 color recipe
}// span.vakt

}// time

}// p.uk-text-meta

}// .uk-width-expand

}// .uk-grid-small

}// .uk-card-header

.uk-card-footer {
 background rgba(dark .1)
 padding 0
 margin-top -1px

a.uk-accordion-title {
 color recipe
 font-size 11px

&::before {
 width 0.8em
 height 0.8em
 margin-top 4px
 margin-left 5px
}// &::before

}// a

}// .uk-card-footer

}// .uk-card.mobile

}// .vaktatal