.spinner
  margin auto

@keyframes ldio-usmpauu9t4r {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-usmpauu9t4r div { box-sizing: border-box!important }
.ldio-usmpauu9t4r > div {
  position: absolute;
  width: 55.87px;
  height: 55.87px;
  top: 47.565px;
  left: 47.565px;
  border-radius: 50%;
  border: 4.53px solid #000;
  border-color: #3b3b3b transparent #3b3b3b transparent;
  animation: ldio-usmpauu9t4r 1.5384615384615383s linear infinite;
}

.ldio-usmpauu9t4r > div:nth-child(2), .ldio-usmpauu9t4r > div:nth-child(4) {
  width: 43.79px;
  height: 43.79px;
  top: 53.605px;
  left: 53.605px;
  animation: ldio-usmpauu9t4r 1.5384615384615383s linear infinite reverse;
}
.ldio-usmpauu9t4r > div:nth-child(2) {
  border-color: transparent #485d7f transparent #485d7f
}
.ldio-usmpauu9t4r > div:nth-child(3) { border-color: transparent }
.ldio-usmpauu9t4r > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-usmpauu9t4r > div:nth-child(3) div:before, .ldio-usmpauu9t4r > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 4.53px;
  height: 4.53px;
  top: -4.53px;
  left: 21.14px;
  background: #3b3b3b;
  border-radius: 50%;
  box-shadow: 0 51.34px 0 0 #3b3b3b;
}
.ldio-usmpauu9t4r > div:nth-child(3) div:after {
  left: -4.53px;
  top: 21.14px;
  box-shadow: 51.34px 0 0 0 #3b3b3b;
}

.ldio-usmpauu9t4r > div:nth-child(4) { border-color: transparent; }
.ldio-usmpauu9t4r > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-usmpauu9t4r > div:nth-child(4) div:before, .ldio-usmpauu9t4r > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 4.53px;
  height: 4.53px;
  top: -4.53px;
  left: 15.1px;
  background: #485d7f;
  border-radius: 50%;
  box-shadow: 0 39.26px 0 0 #485d7f;
}
.ldio-usmpauu9t4r > div:nth-child(4) div:after {
  left: -4.53px;
  top: 15.1px;
  box-shadow: 39.26px 0 0 0 #485d7f;
}
.loadingio-spinner-double-ring-b94u8etx224 {
  width: 151px;
  height: 151px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-usmpauu9t4r {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-usmpauu9t4r div { box-sizing: content-box; }
/* generated by https://loading.io/ */
