*
  margin 0
  padding 0

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

ul
  list-style none

li span
  display inline-block

.me span
  border-bottom 1px solid black

.listOfUsers
  position absolute
  width 200px
  border-right 1px solid #000000
  padding-top 10px
  padding-left 5px
  top
  left 0
  height 100%



li input
  border none
  border-bottom 1px solid black
  outline none


.chat
  position absolute
  bottom 0
  left 200px
  width 500px
  height 100%
  /*border 1px solid #000000*/


.chat ul
  position absolute
  list-style none
  display inline-block
  width 100%
  height 470px
  /*border-bottom 1px solid #000000*/
  overflow scroll


.chat li
  width 100%
  padding 5px
  border-bottom 1px dotted #000000


.chat input
  position absolute
  bottom 0
  left 0
  width 400px
  height 30px


.chat button
  position absolute
  bottom 0
  right 0
  width 100px
  height 30px


.gameState
  position absolute
  top 0
  left 50%
  padding 10px
  border 1px solid #000000
  -ms-transform translateX(-50%)
  -webkit-transform translateX(-50%)
  transform translateX(-50%)

.timer
  position absolute
  padding 5px
  top 58px
  left 50%
  -ms-transform translateX(-50%)
  -webkit-transform translateX(-50%)
  transform translateX(-50%)
  border 1px solid #000000


.container
  position absolute
  width 900px
  height 500px
  left 50%
  top 50%
  border 1px solid #000000
  -ms-transform translate(-50%,-50%)
  -webkit-transform translate(-50%,-50%)
  transform translate(-50%,-50%)


.playerClass
  position absolute
  right 0
  top 0
  width 200px
  padding 10px
  display inline-block
  text-align center
  border-bottom 1px solid #000000
  border-left 1px solid #000000

.couseList
  position absolute
  right 0
  bottom 0
  width 200px
  height 450px
  border-left 1px solid #000000
  padding 5px

.couseList h3
  padding-top 5 px
  padding-bottom 10px
button
  width 100%
  height 30px

.died span
  color gray
  text-decoration line-through

