$carousel-arrow-width = 2rem
$carousel-arrow-thickness = 1px
$carousel-dot-size = 0.5rem

.carousel {

    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: $carousel-arrow-width;
    overflow: visible;

    .slides {

        font-size: 0;
        flex: 1;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        height: 100%;
        overflow: hidden;

        .slide {
            transition: left 1s ease;
            position: relative;
            font-size: 1rem;
            display: block;
            flex: 0 0 100%;
            align-self:stretch;
            left: 0;
            white-space: normal;
            background-size: cover;
            background-position: center;

            section {
                width: 100%;
            }

        }
    }

    .arrow {

        position: absolute;
        height: 100%;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self:stretch;
        cursor: pointer;
        z-index:50;

        &-left {

            left: ($carousel-arrow-width)rem;

            &:after {

                display: block;
                content: '';
                border: $carousel-arrow-thickness solid #999;
                border-width: 0 0 $carousel-arrow-thickness $carousel-arrow-thickness;
                width: $carousel-arrow-width;
                height: $carousel-arrow-width;
                transform: rotate(45deg);

                @media $small {
                    display: none;
                }

                @media $medium {
                    display: none;
                }

            }

        }

        &-right {

            right: ($carousel-arrow-width)rem;

            &:after {

                display: block;
                content: '';
                border: $carousel-arrow-thickness solid #999;
                border-width: $carousel-arrow-thickness $carousel-arrow-thickness 0 0 ;
                width: $carousel-arrow-width;
                height: $carousel-arrow-width;
                transform: rotate(45deg);

                @media $small {
                    display: none;
                }

                @media $medium {
                    display: none;
                }

            }

        }

    }

    .dots {
        flex: none;
        width: 100%;
        position: absolute;
        bottom: 1.6rem;
        text-align: center;
        margin-top: 3rem;

        @media $small {

        }

        .dot {
            display: inline-block;
            vertical-align: middle;
            width: $carousel-dot-size;
            height: $carousel-dot-size;
            border: $carousel-arrow-thickness solid #999;
            border-radius: 50%;
            margin: 0 1rem;

            &.selected {
                background-color: #999;
            }
        }
    }

    &.light {

        .slides .slide {

        }

        .arrow-left, .arrow-right {
            &:after {
                border-color: $color-white;
            }
        }

        .dots .dot {
            border: $carousel-arrow-thickness solid $color-white;

            &.selected {
                background-color: $color-white;
            }
        }

    }

    &.dark {

        .slides .slide {
            color: $color-dark-grey;
        }

        .arrow-left, .arrow-right {
            &:after {
                border-color: $color-dark-grey;
            }
        }

        .dots .dot {
            border: $carousel-arrow-thickness solid $color-dark-grey;

            &.selected {
                background-color: $color-dark-grey;
            }
        }

    }

    &.contain {

        .arrow-left {
            left: -($carousel-arrow-width*2)rem;
        }
        .arrow-right {
            right: -($carousel-arrow-width*2)rem;
        }

        .dots {

            @media $small {
                width: calc(100% - 4rem)
            }

        }

    }

    &.align-middle {

        .slides .slide {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

}
