/*
* Archivo Stylus Generado - Feb. 2020
* -----------------------------------
* Autor: @jhonazsh (Jhon F. Medina Zapata)
* Colaboradores (Lista de Mantenedores y Modificadores de este archivo:
* - ...
* - ...
*/

//Variables color
color-ccc = #ccc
color-000 = #000

//Variable compuestas
border-1px-ccc = 1px solid color-ccc

//Borde izquiero color ccc
.border-first_left
	border-left: border-1px-ccc

//Borde derecho color ccc
.border-first_right
	border-right: border-1px-ccc

//Borde arriba color ccc
.border-first_top
	border-top: border-1px-ccc

//Borde abajo color ccc
.border-first_bottom
	border-bottom: border-1px-ccc

//Borde de 3em abajo color ccc
.border-3em_bottom
	border-bottom: 3px solid color-ccc
	
//Suprimir relleno padding a 0
.supr-padding
	padding: 0
	//Suprimir relleno padding a 0, pero arriba(top)
	&-top
		padding-top: 0
	//Suprimir relleno padding a 0, pero abajo(bottom)
	&-bottom
		padding-bottom: 0
	//Suprimir relleno padding a 0, pero izquierda(left)
	&-left
		padding-left: 0
	//Suprimir relleno padding a 0, pero derecha(right)
	&-right
		padding-right: 0
	//Suprimir relleno padding a 0, pero arriba (top) y abajo (bottom)
	&-top_and_bottom
		padding-top: 0
		padding-bottom: 0
	//Suprimir relleno padding a 0, pero derecha (right) y izquierda (left)
	&-left_and_right
		padding-left: 0
		padding-right: 0

//colocar relleno padding de 1em
.put-padding-1
	padding: 1em
	//colocar relleno padding de 1em arriba
	&-top
		padding-top: 1em
	//colocar relleno padding de 1em abajo
	&-bottom 
		padding-bottom: 1em
	//colocr relleno padding de 1em izquierda
	&-left
		padding-left: 1em
	//colocar relleno padding de 1em derecha
	&-right 
		padding-right: 1em
	//colocar relleno padding de 1em arriba y abajo
	&-top_and_bottom
		padding-top: 1em
		padding-bottom: 1em
	//colocar relleno padding de 1em izquierda y derecha
	&-left_and_right
		padding-left: 1em
		padding-right: 1em

//color de fuente ccc
.font-color-ccc
	color: color-ccc

//color de fuente 000
.font-color-000
	color: color-000

//color de fuente rojo
.font-color-red
	color: red
	
//margenes
.margin-1
	&-top
		margin-top: 1em
	&-bottom
		margin-bottom: 1em
	&-left
		margin-left: 1em

.margin-m1
	&-left
		margin-left: .8em
	&-mid_bottom
		margin-bottom: .5em
	

//suprimir margenes
.supr-margin
	margin: 0

//span color
.span-color
	padding: 0.18em
	border-radius: 3px
	font-weight: bold
	&_emerald
		background-color #2ecc71
	&_sun-flower
		background-color #f1c40f
	&_alizarin
		background-color #e74c3c
	&_turquoise
		background-color #1abc9c
	&_wet-asphalt
		background-color #34495e
	&_peter-river
		background-color #3498db
	&_pumpkin
		background-color #d35400
	&_nephritis
		background-color #27ae60
	&_wisteria
		background-color #8e44ad

//vista-previa-color

.preview-color
	height 100px
	&_nav
		height 15px
		background-color #f1c40f
	&_main
		height 100px
		&_wrap
			border-left 1px solid #ccc
		&_aside-left
			&>.pc_mal_menu
				background-color #ccc
				height 200px

.menu-perfil
	&:hover
		cursor pointer
		background-color #eee
		font-weight bold

