.v[data-class=v] .vwrap {
    border-radius: 0.4em;
    border: 0px;
    background-color: var(--widget-background-color);
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px
    box-shadow: 0.2em 0.2em 0.3em var(--global-shadow);
}

.v[data-class=v] .vwrap .vheader .vinput{
    width: 31% !important;
    border-bottom: 0px !important;
    border-radius: 0.4em;    
}

.v[data-class=v] .vwrap input.vnick{
    margin-left: 1em;
    background-color: var(--global-pink);
}

.v[data-class=v] .vwrap input.vmail{
    background-color: var(--global-yellow);
}

.v[data-class=v] .vwrap input.vlink{
    background-color: var(--global-cyan);
    color: var(--widget-font-color) !important;
}

.v[data-class=v] .vwrap input{
    color: var(--widget-font-color);
    font-weight: 600;
}

.v[data-class=v] .vinput{
    margin: 0 1em 0 0;    
}

.v[data-class=v] .vbtn[type=button]{
    color: var(--widget-font-color);
    border: 0px;
    border-radius: .4em;
    background-color: var(--global-blue);
}

.v[data-class=v] .vcount{
    border-bottom: .1em solid var(--link-blue);
}

.v[data-class=v] .vcount:before{
    content: "一共只有 ";
}

.v[data-class=v] .vcards{
    margin: 1.5em 0 0 0;    
}

.v[data-class=v] .vcards .vcard{
    border-radius: 0.4em;
    background-color: var(--widget-background-color);
    box-shadow: 0.2em 0.2em 0.3em var(--global-shadow);
    padding: 1.25em 1.25em 1em 1.25em;
    margin-bottom: 1em;
}

.v[data-class=v] .vcards .vcard .vquote{
    border-left: 0px !important;
}

.v[data-class=v] .vcards .vcard .vquote .vcard{
    border: 1px solid var(--site-background-color);
    box-shadow: 0.1em 0.1em 0.2em var(--global-shadow);
    margin-bottom: 0.5em;
}

.v[data-class=v] .vcards .vcard .vh{
    border-bottom: 0px !important;
}

.v[data-class=v] .vcards .vcard .vh .vmeta span.vat{
    color: var(--link-blue);
    font-weight: 600;
}

.v[data-class=v]  div.txt-right{
    text-align: left;
}

.v[data-class=v]  div.txt-right a{
    color: var(--link-blue);
}

.v[data-class=v] a{
    color: var(--link-blue) !important;    
}

.v[data-class=v] .emoji, .v[data-class=v] img.vemoji{
    max-width: 5em;
}

.v[data-class=v] .vwrap .vemojis i{
    width: auto !important;    
}

@media screen and (min-width 680px) and (max-width 1180px)
    .v[data-class=v] .vinput{
        margin: 0 .6em 0 0;    
    }
    .v[data-class=v] .vwrap input.vnick{
        margin-left: 0em;    
    }

@media screen and (max-width 680px)
    .v[data-class=v] .vinput{
        margin: 0 .6em 0 0;    
    }
    .v[data-class=v] .vwrap input.vnick{
        margin-left: 0em;    
    }