/* Colors */
$companyColor = #E7C257
$mpBackgroundBlue = #D9DFE9
$mpLightBlue = #EFF1F6
$mpAltLightBlue = #EFF2F9
$mpActiveAltLightBlue = #F6F8FC
$mpMidBlue = #DFE2EC
$mpPrimaryBlue = #747D94
$mpActionBlue = #61ADF0 // #53A2EB
$mpActionActiveBlue = #4D98E2
$mpDarkBlue = #3E506A
$mpGreen = #3DD79F
$mpGrey = #F4F4F6
$mpRed = #C22860
$mpBrandRed = #ED5D65
$mpBrandGrey = #8C989E
$mpBrandLightGrey = #F7FAFC
$mpSuccessGreen = #61CACD
$mpChartBlue = #54A2EB
$mpChartGreen = #30BBBD
$mpChartPurple = #A28BCB
$mpChartRed = #DA7A80
$mpChartCyan = #2AB5E2
$mpChartYellow = #E7BC66
$mpChartPink = #ECA9CF
$mpChartLavender = #96ABE6
$axisColor = #FBFCFD
$buttonActionColor = $mpActionBlue
$buttonActionActiveColor = $mpActionActiveBlue
$buttonDisabledColor = #F5F6F8
$buttonEnabledColor = white
$chartDashBackgroundColor = $mpBackgroundBlue
$chartHorizontalDividerDashedColor = #E6E8EB
$chartHorizontalDividerSolidColor = #F2F3F5
$chartVerticalDividerColor = $mpMidBlue
$dividerColor = #DFE6EF
$containerChartBackgroundColor = $mpMidBlue
$containerChartContentBackgroundColor = white
$containerReportBackgroundColor = $mpBackgroundBlue
$containerSectionBackgroundColor = $mpLightBlue
$flowsChartHeaderBackgroundColor = $mpGrey
$flowsChartAreaBackgroundColor = white
$flowsChartPointBackgroundColor = white
$flowsChartPointDropOffBackgroundColor = $mpDarkBlue
$flowsChartPointTextColor = $mpDarkBlue
$flowsChartPointHighlightColor = $mpPrimaryBlue
$flowsChartPointAltHighlightColor = $mpDarkBlue
$flowsChartDropOffColor = $mpBrandRed
$flowsChartSuccessColor = $mpSuccessGreen
$flowsChartDropOffTextColor = $flowsChartDropOffColor
$flowsChartSuccessTextColor = $flowsChartSuccessColor
$lineChartLineColor = $mpActionBlue
$lineChartPointColor = $lineChartLineColor
$lineChartPointBorderColor = white
$meterColor = $mpMidBlue
$meterValueCircleColor = white
$mpDropdownItemHighlightTextColor = $mpActionBlue
$mpDropdownItemTextColor = $mpPrimaryBlue
$mpDropdownBackgroundColor = white
$paletteColors = (#416DA6 #2292D8 #5EAEEB #B6D7F2 #EDF4FA #F7FAFC) // (#416DA6 #2292D8 #5EAEEB #95C7ED #B6D7F2 #EDF4FA)
$pickerBackgroundColor = white
$pickerBorderColor = $mpMidBlue
$pieChartFill = transparent
$strokeColor = $companyColor
$strokeGoodColor = $mpGreen
$strokeBadColor = $mpRed
$textPrimaryColor = $mpPrimaryBlue
$textChartTitleColor = $textPrimaryColor
$textButtonActionColor = white
$textButtonEnabledColor = $textPrimaryColor
$textButtonDisabledColor = #87929C
$tableRowOddColor = #F5F6F8
$tableRowEvenColor = white
$tableHeaderColor = $tableRowOddColor
$chartColors = ($mpChartBlue $mpChartGreen $mpChartPurple $mpChartRed $mpChartCyan $mpChartYellow $mpChartPink $mpChartLavender)
/* Sizes */
$axisSize = 30px
$yAxisPaddingTop = 4px
$yAxisValueLineHeight = 10px // For Firefox
$yAxisValueMarginTop = 21px // Add an extra pixel for divider
$yAxisTextSize = 0.500rem
$xAxisTextSize = 0.500rem
$barChartXAxisMarginLeft = 33px // 30px + 3px
$barChartXAxisMarginRight = 3px
$barChartXAxisTextBoxWidth = 12.5% // 16/516 * 100
$barMarginLeft = 20px
$barWidth = 25px
// $$RG$$ added begin
$bodyPadding = 0
// $$RG$$ added end
$borderWidth = 1px
$borderRadiusLarge = 4px
$borderRadiusSmall = 2px
$buttonCommonUserFlowsColor = $mpAltLightBlue
$buttonCommonUserFlowsActiveColor = $mpActiveAltLightBlue
$buttonWidth = 200px
$buttonHeight = 40px
$showCommonUserFlowsButtonWidth = 180px
$showAllPathsButtonHeight = 30px
$buttonTextSize = 0.625rem
$buttonLineHeight = 0.875rem
$buttonPaddingLR = 15px
$buttonPaddingTB = 13px
$buttonRangePickerMarginRight = 24px
$containerBarMarginLeft = $barChartXAxisMarginLeft
$containerBarWidth = $barChartXAxisTextBoxWidth
$containerBarsPositionLeft = 33px
$containerBarsPositionBottom = 30px
$containerBarsWidthFactor = 36px // 33px (left) + 3px (right)
$containerChartContentHeight = 215px // 30px margin
// $$RG$$ modified begin
// $containerReportWidth = 980px
$containerReportWidth = 100%
$containerReportMaxWidth = 980px
$containerReportMinWidth = 850px
// $$RG$$ modified end
$chartDashBigHeight = 10px
$chartDashHeight = 5px
$chartDashMarginRight = 15px
$chartDashWidth = 1px
$lineChartHeight = 330px
$chartHeight = 210px
$chartHorizontalDividerMarginTop = 30px
$chartHorizontalDividerWidth = 100%
$chartHorizontalDividerHeight = 1px
$chartVerticalDividerWidth = 1px
$chartVerticalDividerHeight = 100%
$chartVerticalDividerPositionTop = 0
$chartVerticalDividerPositionLeft = 50%
$chartTitleTextSize = 1.000rem
$chartTitleShadowHeight = 1px
$chartTitleShadowWidth = 100%
$columnWidth = 50%
$companyLogoHeight = 30px
$containerChartPaddingDefault = 1px
$containerChartPaddingTop = 1px // 0px
$containerChartTitlePaddingTB = 8px
$containerLogoTitleHeight = 40px
$containerLineChartPointsPositionLeft = 30px
$containerLineChartPointsPositionBottom = 24px
// $$RG$$ modified begin
// $containerPieChartLegendMarginLeft = 50px
$containerPieChartLegendMarginLeft = 14px
// $$RG$$ modified end
$containerPieChartPadding = 20px
$containerMargin = 20px
$containerPadding = 20px
$containerInnerPadding = 10px
$conversionInstructionsMarginTop = 28px
$conversionInstructionsStartEventOnlyMarginLeft = 20px
$disclosureIndicatorWidth = 10px
$disclosureIndicatorHeight = 7px
$disclosureIndicatorTop = 16px
$disclosureIndicatorRight = 15px
$flowsChartAreaPaddingLR = 18px // changed from 20px
$flowsChartAreaPaddingTB = 10px
$flowsChartDiagramContainerHeight = 520px // update this if points are ever more than 6 per column
$flowsChartDiagramMarginTop = 30px
$flowsChartHeaderHeight = 80px
$flowsChartHeaderPadding = 20px 20px 19px 20px // Account for border
$flowsChartHeaderSelectMarginLeft = 10px
$flowsChartLegendItemWidth = 30px
$flowsChartLegendItemHeight = 20px
$flowsChartLegendTextSize = 0.375rem
$flowsChartLegendTextBottom = -5px
$flowsChartLegendTextLR = -10px
$flowsChartPointBorderSize = 5px
$flowsChartPointEffectSize = 60px
$flowsChartPointEffectDuration = 0.7s
$flowsChartPointSize = 50px
$flowsChartPointBorderSize = 5px
$flowsChartPointInnerSize = 40px
$flowsChartPointCountTextSize = 0.625rem
$flowsChartPointNameBottom = -21px // 1px space for padding
$flowsChartPointNameLeft = 50%
$flowsChartPointNameHeight = 20px
$flowsChartPointNameLineHeight = 0.625rem
$flowsChartPointNameMinWidth = 50px
$flowsChartPointNameMaxWidth = 100px
$flowsChartPointNamePadding = 5px
$flowsChartPointNameTextSize = 0.500rem
$flowsChartPointMarginLeft = 156px
$flowsChartPointMarginRight = $flowsChartPointMarginLeft
$flowsChartPointMarginBottom = 36px
$flowsChartPointTooltipContentsPadding = 10px
$flowsChartPointTooltipItemPadding = 8px 10px
$flowsChartPointTooltipItemLargeTextSize = 1.250rem
$flowsChartPointTooltipItemLargeLineHeight = 1.6875rem // $flowsChartPointTooltipItemLargeTextSize
$flowsChartPointTooltipItemSmallTextSize = 0.625rem
$flowsChartPointTooltipItemSmallLineHeight = 0.875rem // $flowsChartPointTooltipItemSmallTextSize
$flowsChartRowMarginBottom = 36px
$lineChartDayOfMonthMarginRight = 16px
$lineChartDayOfNewMonthMarginRight = 8px
$lineChartDayOfNewMonthMarginLeft = -6px // Subtract four to make up for width
$lineChartDayOfMonthWidth = 16px
$lineChartDayOfNewMonthWidth = 30px
$lineChartPointSize = 8px
$lineChartPointBorderSize = 1px
$lineChartPointMarginLeft = 8px
$lineChartPointFirstMarginLeft = 7px
$lineChartXAxisMarginLeft = 30px // 36px - 1px for chart container border
$lineChartDayOfNewMonthFirstMarginLeft = -3px
$lineChartDashFirstMarginLeft = 11px
$loadingSymbolWidth = 100px
$loadingSymbolHeight = 100px
$loadingSymbolLeft = 50%
$loadingSymbolMarginLeft = -50px
$loadingSymbolMarginTop = -50px
$loadingSymbolTop = 50%
$meterHeadingTextSize = 1.000rem
$meterSize = 150px
$meterValueCircleSize = 130px
$meterValueCircleMargin = 10px
$meterValueTextSize = 2.000rem
$mpDropdownBorderRadius = 8px
$mpDropdownItemLineHeight = 0.875rem
$mpDropdownItemTextSize = 0.625rem
$mpDropdownItemMargin = 8px 10px
$mpDropdownPadding = 10px 20px
$mpDropdownWidth = 200px
$pickerHeight = 24px
$pickerTextSize = 0.625rem
$pickerLineHeight = $pickerHeight
$pickerMarginTB = 0
$pickerMarginLR = 4px
$propertyFilterCloseButtonSize = 13px
$propertyFilterCloseButtonTop = 33px
$propertyFilterCloseButtonRight = 25px
$numberPickerWidth = 30px
$unitPickerWidth = 52px
$combinedPickerLineHeight = 22px
$combinedPickerDividerWidth = 1px
$combinedPickerDividerHeight = $combinedPickerLineHeight
$combinedPickerDividerLeft = 30px
$combinedPickerDividerTop = 0
// $$RG$$ modified begin
// $pieChartLegendItemMarginBottom = 6px
$pieChartLegendItemMarginBottom = 0
// $pieChartLegendSize = 0.875rem
$pieChartLegendSize = 0.625rem
// $pieChartLegendTextMarginLeft = 10px
$pieChartLegendTextMarginLeft = 6px
// $$RG$$ modified end

$pieChartLegendTextSize = $pieChartLegendSize
$pieChartSize = 170px
$reportTitleTextSize = 1.375rem // 22px / 16
// $sectionOptionsHeight = 140px
$tableRowPaddingTB = 6px
$tableRowPaddingLR = 20px
$tableHeaderPaddingLR = $tableRowPaddingLR
$tableHeaderPaddingTB = 5px
$tableRowTextSize = 0.750rem
$tableHeaderTextSize = 0.500rem
