// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$size-small-s = 2.6667vw  /* 10px */
$size-small = 3.2vw  /* 12px */
$size-medium = 3.7338vw  /* 14px */
$size-medium-x = 4.2672vw  /* 16px */
$size-large = 4.8vw  /* 18px */
$size-large-x = 5.3334vw  /*20px*/
$size-large-xx = 5.8674vw  /*22px*/
$size-large-xxx = 6.4vw  /*24px*/
$size-huge = 8vw  /*30px*/
$size-huge-x = 8.5344vw  /*32px*/
$size-huge-xx = 9.6vw  /*36px*/
$size-huge-xxx = 10.1346vw  /*38px*/

$small-s = 2.9337vw  /* 11px */
$small = 3.4671vw  /* 13px */
$medium = 4vw  /* 15px */
$medium-x = 4.5339vw  /* 17px */
$large =5.0673vw  /* 19px */
$large-x = 5.6vw  /*21px*/
$large-xx = 6.1341vw  /*23px*/
$large-xxx = 6.6675vw  /*25px*/

$style-size-1px = 0.2667vw
$style-size-small-s = 1.3335vw /* 5px */
$style-size-small = 2.6667vw  /* 10px */
$style-size-small-x = 4vw  /* 15px */
$style-size-medium-s = 5.3334vw  /*20px*/
$style-size-medium = 6.6675vw  /*25px*/
$style-size-medium-x = 8vw  /*30px*/
$style-size-large-s = 9.3345vw  /*35px*/
$style-size-large = 10.6668vw /* 40px */
$style-size-large-x = 13.3335vw /* 50px */
$style-size-large-xx = 16vw /* 60px */
$style-size-large-xxx = 18.6669vw /* 70px */
$style-size-huge-s = 21.3336vw /* 80px */
$style-size-huge = 24vw /* 90px */
$style-size-huge-x = 26.6667vw /* 100px */
$style-size-huge-xx = 32vw /* 120px */
$style-size-huge-xxx = 40vw /* 150px */

$style-size-header = 11.73333vw /* 44px */

$style-img-$small-s = 6.4vw  /*24px*/
$style-img-$small = 8.5344vw /* 32px */
$style-img-$small-x = 10.6668vw /* 40px */
$style-img-$medium-s = 12.8vw /* 48px */
$style-img-$medium = 14.9352vw /* 56px */
$style-img-$medium-x = 17.0688vw /* 64px */
$style-img-$large-s = 19.2024vw /* 72px */
$style-img-$large = 21.3336vw /* 80px */
$style-img-$large-x = 23.4696vw /* 88px */

//  颜色定义规范
//  $color-theme = #ff9900
$color-theme = #FFAE35
$color-light-theme = #FFCC66
$color-light-orange = #FF9500
$color-deep-orange = #FF5E3A
$color-blue = #36A9CE
$color-gray = #999999
$color-deep-gray = #E4E4E4
$color-light-gray = #fbf9fe
$color-placeholder = #b2b2b2
