// -- VARIABLES

MediaQueryMap = {
    max-height-20em: "(max-height: 19.98em)",
    max-height-25em: "(max-height: 24.98em)",
    max-height-30em: "(max-height: 29.98em)",
    max-height-35em: "(max-height: 34.98em)",
    max-height-40em: "(max-height: 39.98em)",
    max-height-45em: "(max-height: 44.98em)",
    max-height-50em: "(max-height: 49.98em)",
    max-height-55em: "(max-height: 54.98em)",
    max-height-60em: "(max-height: 59.98em)",
    max-height-65em: "(max-height: 64.98em)",
    max-height-70em: "(max-height: 69.98em)",
    max-height-75em: "(max-height: 74.98em)",
    max-height-80em: "(max-height: 79.98em)",
    max-height-85em: "(max-height: 84.98em)",
    max-height-90em: "(max-height: 89.98em)",
    max-height-95em: "(max-height: 94.98em)",
    max-height-100em: "(max-height: 99.98em)",
    max-height-105em: "(max-height: 104.98em)",
    max-height-110em: "(max-height: 109.98em)",
    max-height-115em: "(max-height: 114.98em)",
    max-height-120em: "(max-height: 119.98em)",
    max-height-125em: "(max-height: 124.98em)",
    min-height-20em: "(min-height: 20em)",
    min-height-25em: "(min-height: 25em)",
    min-height-30em: "(min-height: 30em)",
    min-height-35em: "(min-height: 35em)",
    min-height-40em: "(min-height: 40em)",
    min-height-45em: "(min-height: 45em)",
    min-height-50em: "(min-height: 50em)",
    min-height-55em: "(min-height: 55em)",
    min-height-60em: "(min-height: 60em)",
    min-height-65em: "(min-height: 65em)",
    min-height-70em: "(min-height: 70em)",
    min-height-75em: "(min-height: 75em)",
    min-height-80em: "(min-height: 80em)",
    min-height-85em: "(min-height: 85em)",
    min-height-90em: "(min-height: 90em)",
    min-height-95em: "(min-height: 95em)",
    min-height-100em: "(min-height: 100em)",
    min-height-105em: "(min-height: 105em)",
    min-height-110em: "(min-height: 110em)",
    min-height-115em: "(min-height: 115em)",
    min-height-120em: "(min-height: 120em)",
    min-height-125em: "(min-height: 125em)",
    max-width-20em: "(max-width: 19.98em)",
    max-width-25em: "(max-width: 24.98em)",
    max-width-30em: "(max-width: 29.98em)",
    max-width-35em: "(max-width: 34.98em)",
    max-width-40em: "(max-width: 39.98em)",
    max-width-45em: "(max-width: 44.98em)",
    max-width-50em: "(max-width: 49.98em)",
    max-width-55em: "(max-width: 54.98em)",
    max-width-60em: "(max-width: 59.98em)",
    max-width-65em: "(max-width: 64.98em)",
    max-width-70em: "(max-width: 69.98em)",
    max-width-75em: "(max-width: 74.98em)",
    max-width-80em: "(max-width: 79.98em)",
    max-width-85em: "(max-width: 84.98em)",
    max-width-90em: "(max-width: 89.98em)",
    max-width-95em: "(max-width: 94.98em)",
    max-width-100em: "(max-width: 99.98em)",
    max-width-105em: "(max-width: 104.98em)",
    max-width-110em: "(max-width: 109.98em)",
    max-width-115em: "(max-width: 114.98em)",
    max-width-120em: "(max-width: 119.98em)",
    max-width-125em: "(max-width: 124.98em)",
    min-width-20em: "(min-width: 20em)",
    min-width-25em: "(min-width: 25em)",
    min-width-30em: "(min-width: 30em)",
    min-width-35em: "(min-width: 35em)",
    min-width-40em: "(min-width: 40em)",
    min-width-45em: "(min-width: 45em)",
    min-width-50em: "(min-width: 50em)",
    min-width-55em: "(min-width: 55em)",
    min-width-60em: "(min-width: 60em)",
    min-width-65em: "(min-width: 65em)",
    min-width-70em: "(min-width: 70em)",
    min-width-75em: "(min-width: 75em)",
    min-width-80em: "(min-width: 80em)",
    min-width-85em: "(min-width: 85em)",
    min-width-90em: "(min-width: 90em)",
    min-width-95em: "(min-width: 95em)",
    min-width-100em: "(min-width: 100em)",
    min-width-105em: "(min-width: 105em)",
    min-width-110em: "(min-width: 110em)",
    min-width-115em: "(min-width: 115em)",
    min-width-120em: "(min-width: 120em)",
    min-width-125em: "(min-width: 125em)",
    orientation-landscape: "(orientation: landscape)",
    orientation-portrait: "(orientation: portrait)",
    screen: "screen",
    print: "print",
    "!": "not",
    "&&": "and",
    "||": ","
    ",": ","
};

// -- MIXINS

Media()

    media_query_expression_array = arguments
    media_query_text_array = ();

    for media_query_expression in media_query_expression_array
    {
        media_query_part_array = ();
        media_query_name_array = split( " ", media_query_expression );

        for media_query_name in media_query_name_array
        {
            if ( media_query_name in MediaQueryMap )
            {
                push( media_query_part_array, MediaQueryMap[ media_query_name ] );
            }
            else
            {
                push( media_query_part_array, media_query_name );
            }
        }

        media_query_text = join( " ", media_query_part_array );
        push( media_query_text_array, media_query_text );
    }

    media_query_text = join( ", ", media_query_text_array );

    @media media_query_text
        {block}
