.catalog
	&&--list
		.page
			padding-top 80px
			@media (min-width: scr_sm)
				padding-top 0
		.filter
			display block !important
			@media (min-width: scr_md)
				.col-sm-8, .col-sm-4
					margin-top 0
			@media (min-width: scr_lg)
				padding-bottom: 0

				&__content, &__inputs
					display: flex
					justify-content: space-between
					padding-bottom 0
				&__content
					align-items: center
					min-height: 145px
				&__title
					border-bottom: 0
					flex-basis: 320px
					font-size 25px
					height: auto
					line-height 50px
					flex-grow: 1
					padding: 7px 0
					.col-xs-6
						text-align left !important
					.row
						flex-direction: column
						display: flex
				&__submit
					height: 39px
					font-size 17px
				&__inputs
					position relative
					flex-basis: 1240px
					flex-grow: 5
					min-height: 85px
					.dropdown
						&__trigger
							height: 39px
							line-height 40px
							font-size 16px
							padding 0 15px
							svg
								right: 15px
								top 16px
						&__frame
							max-height: 125px
					> .row:nth-child(1)
						flex-basis: 1000px
						margin-top 0
						flex-grow: 4
						.col-lg-3
							margin-top 0
					> .row:nth-child(2)
						flex-basis: 240px
						margin-top 0
						flex-grow: 1
						padding-left 15px
						position: static
						.col-lg-3
							width: 100%
							margin-top 0
						.col-lg-9
							position absolute
							left: -5px
							bottom: 0
							width: 100%
							.filter__description
								font-size 15px
								width: 100%

		@media (min-width: scr_lg)
			.page > .container > .row
				> .col-lg-8, > .col-lg-4
					width 100%
	.pages
		margin-top 40px
	.page
		@media (min-width: scr_sm)
			padding-top 0px
		&__content
			margin-bottom 15px
			@media (min-width: scr_md)
				margin-bottom 0px
			@media (min-width: scr_md) and (max-width: scr_lg)
				margin-right 0px
		&__title
			@media (min-width: scr_md)
				border-bottom 0px
				.catalog--detail&
					margin-top 24px
					line-height 1
					height auto
					margin-bottom 52px
		&__nav
			@media (min-width: scr_md)
				border-bottom 1px solid #777d86
				padding-bottom 0px
				padding-top 10px

			.nav
				@media (min-width: scr_md)
					display: flex
				&__item
					width 100%
					@media (min-width: scr_sm)
						width auto
					@media (min-width: scr_md)

						background-color #dce0e3
						display inline-block
						padding 10px 15px 8px
						margin-right 3px
						font-size 13px
						line-height 1.2
						flex 1
						.s1&
							max-width 135px
							&:nth-child(2)
								max-width 170px
							&:nth-child(3)
								max-width 125px
							&:nth-child(4)
								max-width 220px
							&:nth-child(5)
								max-width 170px
						.s2&
							&:nth-child(1)
								max-width 136px
							&:nth-child(2)
								max-width 187px
							&:nth-child(3)
								max-width 121px
							&:nth-child(5)
								max-width 139px
						&:hover
							background-color alpha(blue, .1)
							color blue_bg
						&--active, &--active:hover
							background-color blue
							color white
					@media (min-width: nav_rows)
						padding 9px 20px 8px
						font-size 15px
						.s2&
							&:nth-child(1)
								max-width 159px
							&:nth-child(2)
								max-width 220px
							&:nth-child(3)
								max-width 141px
							&:nth-child(5)
								max-width 162px
						.s1&
							max-width 165px
							&:nth-child(2)
								max-width 270px
							&:nth-child(3)
								max-width 151px
							&:nth-child(4)
								max-width 280px
							&:nth-child(5)
								max-width 200px



	@media (min-width: scr_lg)
		.page > .container > .row
			> .col-lg-push-8
				left 80%
			> .col-lg-pull-4
				left -20%
			> .col-lg-8
				width 80%
			> .col-lg-4
				width 20%
	.sections
		@extend .index .sections
		.section

			background-image url("/layout/images/catalog-section-bg.jpg")
			float left

			&__image
				top 0 !important
			&__logo
				@media (min-width: scr_md)
					margin-bottom 10px
				@media (min-width: scr_lg)
					margin-bottom 15px
					margin-top 5px
					svg
						max-width: 160px
			&__name
				align-items: flex-start
				justify-content: flex-start

				@media (min-width: scr_md)
					background-color alpha(#22262f, .9)
					bottom 30px
					min-height: 155px
					font-size 15px
				@media (min-width: scr_lg)
					font-size 19px

					height: 160px
	.filter
		@extend .index .filter
		position relative
		float left
		width 100%
		t min-height
		display none
		@media (min-width: scr_sm) and (max-width: scr_md)
			display block
			.col-sm-6
				margin-top 17px
			.col-sm-8, .col-sm-4
				margin-top 25px


		@media (min-width: scr_md)
			min-height 100px
			.col-sm-8
				width 75%
			.col-sm-6, .col-sm-4
				width 25%
			.col-sm-6
				margin-top 20px
			.col-sm-8, .col-sm-4
				margin-top 30px
	.dropdown
		margin-top 0 !important
		margin-bottom 0 !important
	&:not(&--list) .filter
		@media (min-width: scr_lg) and (min-height: 700px)
			min-height calc(100vh - 172px)

		@media (min-width: scr_lg)
			background url("/layout/images/catalog-section-bg.jpg")
			background-size cover
			display block
			.col-lg-3, .col-xs-6
				width 100%
				position static
			&__description
				display none
			&__title
				border-bottom 0
				font-size 30px
				white-space inherit
				font-weight 200
				line-height 1
				height auto
				margin-bottom 30px
				.row
					position static
			&__submit
				font-size 23px

				height 50px
				margin-top 10px
			.dropdown
				//margin-bottom 20px
				&__trigger
					line-height 49px
					font-size 14px
					height 50px
					padding 0 30px 0 15px
					svg
						top 21px
						right 15px
						width 9px
						height 9px
			&__link
				position absolute
				bottom 0px
				top auto
				left 20px
				height 40px
				line-height 1
				font-size 15px
				span
					color white
					border-line alpha(@color, .5)
			&__content
				position absolute
				top 50%
				width 100%
				t all
				left 0
				padding 0 20px
				transform translateY(-50%)
				padding-bottom 80px

		@media (min-width: nav_rows)
			&__title
				font-size 34px
		@media (min-width: hide_feedback)
			&__title
				font-size 40px
		@media (min-width: 1750px)
			&__title
				font-size 47px
				margin-bottom 35px
			&__submit
				font-size 28px
			.dropdown
				&__trigger
					font-size 16px
					svg
						top 21px
						right 15px
						width 12px
						height 12px

		.dropdown
			@extend .index .filter .dropdown


.params
	margin 30px 0
	float left
	position relative
	width 100%
	&__frame
		float left
		overflow auto
		width 100%
		position relative
		-webkit-overflow-scrolling: touch
	&:after, &:before
		content ""
		width 70px
		height 100%
		position absolute
		top 0
		right 0
		z-index 30
		t opacity
		pointer-events none
		background: linear-gradient(to right, rgba(236,238,241,0) 0%,rgba(236,238,241,1) 100%)
		@media (min-width: scr_sm)
			display none !important
	&:before
		right auto
		left 0
		background: linear-gradient(to right, rgba(236,238,241,1) 0%, rgba(236,238,241,0) 100%)
	&:before
		opacity 0
	&--right
		&:after
			opacity 0
	&--left
		&:before
			opacity 1
	.param
		float left
		width 100%
		font-size 90%
		border-top 1px solid #ccd2d7
		padding-top 8px
		min-width 600px
		& + .param
			margin-top 5px
		&  + .param--title
			margin-top 40px
		&--title
			font-weight 400
			color black
			font-size 105%
			border 0
			a
				color black
				text-decoration none
				background transparent
			& + .param
				border-top-color black
		&__col
			float left
			padding 0 15px
			&:first-of-type
				padding-left 0px

.products
	padding-bottom 40px
	.product
		padding 30px 0 15px
		full-width()
		&__title
			margin-bottom 30px
			@media (min-width: scr_md)
				display table
				table-layout: fixed
				width 100%
				.col-lg-6
					display table-cell
					float none
					vertical-align middle
			h3, h2, h4
				font-weight 300
				margin-top 0px
				margin-bottom 30px
				@media (min-width: scr_md)
					margin-bottom 0px
			a
				color blue_bg
				&:hover
					color blue

		&__image
			& + .product__description
				margin-top 30px
			&--detail
				position relative
				display block
				&:after
					content ""
					position absolute
					size 45px
					background alpha(black, .5) url(/layout/images/svg/zoom.svg) center center no-repeat
					background-size 20px auto
					top 50%
					left 50%
					border-radius 50%
					margin -23px 0 0 -23px
					opacity 0
					t opacity
				&:hover:after
					opacity 1
			img
				max-width 100%
				max-height 630px
		&__seo
			margin-top 35px
			padding-top 20px
			font-size 80%
			border-top 1px solid #ccd2d7
		&__description
			.button
				background-color blue
				color white
				padding 0 30px
				&:hover
					background-color blue2
					border-color blue2
			p:last-of-type
				margin-bottom 0px

		& + .product:not(.product--vertical)
			margin-top 50px
			border-top 1px solid #cbd2d7
		&__content
			display inline-block
			vertical-align middle
			line-height 1.4
			@media (min-width: scr_sm)
				vertical-align top
		&__divider
			full-width()
			margin-bottom 50px
			&--first
				margin-bottom 0px
			& + .product--vertical
				border-left 0
		&--vertical
			float left
			margin-bottom 30px
			width 100%
			border-top 1px solid #cbd2d7
			line-height 350px
			@media (min-width: scr_md)
				border-left 1px solid #cbd2d7
				border-top 0
				padding 0 50px 0 50px

			&:first-of-type
				border 0 !important
			.product
				&__title
					margin-top 10px
				&__image
					text-align center
					width 100%
					display inline-block
					img
						max-width none
						max-height 350px
			@media (min-width: scr_sm)
				width 100%
			@media (min-width: scr_md)
				width (100/2)%
		&:not(.product--vertical)
			& + .product__divider
				border-top 1px solid #cbd2d7
				margin-top 40px
