base-color = #535353
accent = #3498db
font-stack = "Helvetica Neue", Helvetica, Arial, sans-serif

transition(props)
    -webkit-transition props
    -moz-transition props
    -o-transition props
    transition props

*
    margin 0
    padding 0
    box-sizing border-box
    -webkit-box-sizing border-box
    -moz-box-sizing border-box

.hidden
    display none

body
    font-family font-stack
    font-size 14px
    line-height 1.35
    font-weight 200
    color base-color
    background #F5F8FA

.container
    padding-top 75px
    margin-top 15px
    margin-bottom 15px
    .section
        width 860px
        margin 0 auto

        .welcome
            text-align: center;
            font-size: 2em;
            padding-bottom: 1em;
            color accent

h1
    font-weight 200
    span.slash
        color accent

h2
    font-size 48px
    font-weight 200
    line-height: 1
    padding-top: 0
    padding-bottom 40px
    span.line
        color accent

.footer
    font-size 12px
    text-align center
    display none

.centered-block
    text-align center
    width 490px
    margin 0 auto

.centered-page-wrap
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background #ecf0f1
    z-index 99999
    .centered-block
        height 275px
        width 490px
        position fixed
        top 50%
        left 50%
        margin-left -245px
        margin-top -170px

.rs-logo-wrapper
    position relative

.rs-logo
    width 200px

.header
    position fixed
    top 0
    left 0
    width 100%
    z-index: 99999
    border-bottom 1px solid #ddd
    padding: 10px
    background rgba(255, 255, 255, 0.94)

.tri-column
    clear both
    // padding-top 15px
    .col
        float left
        width 33%
        min-height 100px
    h3
        text-align center
        font-weight 200
        margin-bottom 5px
    ul, li
        list-style-type none

.card, li.contributor
    .initials
        background white
        display block
        padding 5px
        float left
        width 30px
        height 30px
        line-height 30px - 10px
        border-radius 30px
        text-align center
        box-shadow: inset 0 0 0 1px #ccc
        margin-right 10px
        color: #ccc
        transition(box-shadow 0.5s ease-in)
        transition(color 0.5s ease-in)

.card
    .initials
        float none

li.note
    background: white
    box-shadow #BFBFBF 0px 1px 3px 0px
    border-radius 24px
    margin-top: 15px
    border 1px solid #ddd
    padding 10px
    padding-bottom 24px
    position relative
    min-height 30px + 20px
    a.fa-times
        position absolute
        top 5px
        right 8px
        font-size 12px
        color #888
    a.note-rating
        font-size 12px
        color base-color
        &:hover,&.active
            color accent

.active-users
    position: absolute
    top: 14px
    right: 50px
    ul, li
        list-style-type none
    li
        float left

li.contributor
    cursor: pointer;

    .initials.filter
    .initials.typing
        box-shadow: inset 0 0 0 20px accent
        color: white
        transition(box-shadow 0.5s ease-in)
        transition(color 0.5s ease-in)
    .initials.selected
        background accent
        color #fff

li
    textarea
        border 0
        font-size 14px
        outline none
        -webkit-outline none
        padding 10px
        min-height 50px
        width 100%
        border-radius 15px

a, .faux-link
    text-decoration none
    cursor pointer
    color accent
    font-style normal

.popup-menu
    position absolute
    top 0
    right 0
    >a
        font-size 24px
        padding 17px
        &:hover
            color accent
        &.active
            background accent
            color white
            &:hover
                color white
    ul
        position absolute
        right 0
        list-style-type none
        top 100%
        padding: 10px
        background: accent
        a
            font-size 14px
            color white
            &:hover
                text-decoration underline
        li
            white-space nowrap

.retrospective-list
    margin-top 15px
    padding-top 15px
    p
        text-align center
        font-size 20px
        font-weight 200
        padding-bottom 15px

.user-rating-popup
    position absolute
    bottom 10px
    right 11px
    z-index 999
    div
        opacity 0
        transition(opacity 0.2s ease-in)
        &.hover
            opacity 1
            transition(opacity 0.2s ease-in)
        position absolute
        left 100%
        top 100%
        margin-top -23px
        margin-left 8px
        i
            color base-color
            font-size 20px
            position absolute
            left 0
            top 5px
            margin-left -6px
        ul
            background base-color
            padding 5px
            li
                white-space nowrap
                margin-top 1px
                font-size 12px
                color white
                &:first-child
                    margin-top 0

.card-wrapper
    color base-color
    width 33%
    padding 10px
    float left
    &.full-width
        width 100%
        float none

.card
    border 1px solid #eee
    background white
    border-radius 24px
    &.small-radius
        border-radius 15px
    &.squared
        height 263px
    position relative
    font-size 14px
    .card-header, h4
        &, & input
            text-align center
            font-weight 400
            font-size 20px
        input[type='text']
            border 0
            outline none
            -webkit-outline none
            font-family font-stack
        padding 15px 5px
        border-bottom 1px solid #eee
    .card-content
        padding 15px 20px
        line-height 1.4
    .card-footer
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        padding: 15px 24px
        &.relative
            position relative
        &.bordered
            border-top 1px solid #eee
    &.small-radius
        .card-footer, .card-content
            padding 15px

.chart-wrapper
    padding 0 51px
    padding-top 16px

.card-footer
    .initials
        box-shadow: inset 0 0 0 1px #eee
        margin-top -24px
    .note-rating
        font-weight 400
    .fa-times
        float: right;
        margin-right: 28px;
        margin-top: -11px;
        color: #c0392b;
        border-right: 1px solid #ddd;
        padding-right: 10px;

.circles
    padding 10px
    margin-top 27px
    canvas
        margin-left 10px
    >div
        position relative
        width 33%
        float left
        span.status
            font-size 24px
            position absolute
            top 13px
            display block
            text-align center
            width 100%
            &.well
                color #27ae60
            &.needs-work
                color #f39c12
            &.unwell
                color #c0392b
        i
            font-size 13px
            font-style normal
            display block
            text-align center
            color #aaa

.no-retrospectives
    line-height: 1.4
    font-size: 18px
    padding: 15px 0
    font-weight 200

.faint
    opacity 0.95

.clear
    clear both

.create-note
    padding 10px
    padding-top 0

.create-retrospective-form
    input[type='text']
        background none
        border 0
        width 100%
        border-bottom 1px solid #eee
        font-size 16px
        padding-bottom 10px
        margin-bottom 15px
        outline none
        -webkit-outline none

.big-spinner
    padding 25px 0
    text-align center
    .fa-spin
        font-size 68px
        color #ddd

.load-all-wrapper
    padding: 10px
    font-size 18px
    text-align center
    a
        color #aaa

.login-panel
    width 430px
    margin-top 100px
    margin-left auto
    margin-right auto
    .shared-links
        text-align center
        margin-top 2em
        margin-bottom 1em
        ul, li
            list-style-type none
        li
            display inline-block
            margin-left 5px
            border-left 1px solid #ddd
            padding-left: 5px
            &:first-child
                margin-left 0
                padding-left 0
                border-left 0
    .actions
        input
            border 0
            background accent
            color white
            padding 10px
            border-radius 4px
            font-size 14px
    .field
        margin-top 1.5em
    input[type='email'], input[type='password'], input[type='text']
        font-size 24px
        font-weight 200
        border none
        border-bottom 1px solid #ddd
        -webkit-outline none
        outline none
        width 100%
    >div
        padding 1em 2.5em
        background white
        // border-radius 25px
        box-shadow rgba(0, 0, 0, 0.1) 0px 1px 3px 0px

.pull-right
    float right

.remember-me
    padding-top 8px
