
amarillo = #f7be68
blanco = #fff
negro = #000
transition()
-webkit-transition: arguments
-moz-transition: arguments
-o-transition: arguments
transition: arguments
p
  text-align justify
#social-iconos
  display inline-flex
  list-style none
  margin-left 89%
  margin-top 5px
  li
    padding-right 20px
    a
      color blanco
.pt-menu
  li

  li:hover
    a:hover
      color blanco
    a
      padding 19px 0 38px 23px
      color amarillo
.site-title
  a
    color amarillo !important
.pt-navbar
  height 140px
  background negro !important
  transition all 0.5s ease-in-out
#primary
  margin-top 0px
#mensaje1
  padding-top 241px
  text-align center
  background-image -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.8) 3px)
  background-image -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.8) 3px)
  background-image -o-repeating-linear-gradient(135deg, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.8) 3px)
  background-image repeating-linear-gradient(135deg, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.8) 3px)
  -webkit-background-size 4px 4px
  -moz-background-size 4px 4px
  background-size 4px 4px
  h1
    margin-left 80px
    margin-right 80px
    font-size 35px
    color blanco
.valores-div1
  float left
  margin-top 12%
  margin-right 60px
  p
    font-size 7em
    color blanco

.valores-div2
  p
    margin-top 4%
    width 98%
    text-align justify
    color blanco
#formulario-de-contacto
  input[type="text"]
    width 100% !important
  input[type="email"]
    width 100% !important
  textarea
    width 100% !important
.amazingcarousel-image

  div

    a
      display none
.ug-tile-navigation-wrapper
  display none

.valores-valores
  position absolute
  margin-top 19.4%
  margin-left 19%
.valores-div
  width 930px
.valo-res
  font-size 40px
.parrafo1
  text-align justify !important
  width 930px
  margin-left 80px
#caja_slider
  margin-top 44px !important
.parallax-primero
  width 100%
  top 70%
  left 0
  -webkit-filter grayscale(20%)
  filter grayscale(20%)

#parallax-uno
  height 300px
  background: url('http://localhost:8888/partnumbersolutions.com/wp-content/uploads/2017/04/FANUC_R2000iB_AtWork.jpg')
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover
#parallax-dos
  height 300px
  background #f9b000
#parallax-tres
  height 300px
  background url('http://localhost:8888/partnumbersolutions.com/wp-content/uploads/2017/04/home_factory_products_bg.jpg')
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover
#parallax-cuatro
  height 100px
  background #706f6f
  h2
    color #fff
    padding-top 35px
.pt-content-wrap-border
  border: none
.pt-logo img
  width 92% !important
  margin-top 30px
.ug-thumb-wrapper
  border-color rgb(255, 255, 255) !important
  outline 0px solid rgb(139, 139, 139) !important
  background-color rgb(255, 255, 255) !important
@media (max-width:2954px)
  .parallax-primero
    width 2954px

@media (max-width:2532px)
  .parallax-primero
    width 2532px
    margin-left -67%
@media (max-width:1920px)
  .parallax-primero
    width 1920px
    margin-left -38.1%

@media (max-width:1440px)
  .parallax-primero
    width 1440px
    margin-left -16%

  #pinitt
    width 80% !important
    margin-left 8%
  #parallax-uno
    margin-left -16.7%
@media (max-width:1280px)
  .parallax-primero
    width 1280px
    margin-left -9.6%
  #pinitt
    width 90% !important
    margin-left 6%
  #mensaje1

    h1
      font-size 25px
@media (max-width:980px)
  .valores-div
    width 100%
  .pt-menu-sm
    top 47px !important
  #social-iconos
    display none
  #pinitt
    width 100% !important
  #mensaje1

    h1
      font-size 22px
  .parallax-primero
    width 980px
    margin-left -23.1%
  .valores-div1
    margin-top 13%
    p
      font-size 4em
      margin-top 16%
  #div-fomulario-contact
    width 100% !important
  .valores-div2
    p
      margin-top 4%
      width 100%
      text-align justify
      color #fff
      font-size 13px
  .parrafo1
    margin-left 0px
    width 666px
  .valores-div
    width 666px
  #parallax-uno
    margin-left -23.6%
@media (max-width:800px)
  .valores-div
    width 100%
  .parallax-primero
    width 800px
    margin-left -9.7%
  #parallax-uno
    margin-left -11.1%
  .pt-menu-sm-wrap
    ul
      width 76% !important
      margin-top 114px !important
  .pt-menu-sm-wrap
    .fa
      right 41px
  .valores-div2
    p
      width 97%
@media (max-width:768px)
  .parallax-primero
    width 768px
    margin-left -9%
  .valores-div
    width 100%
@media (max-width:500px)
  .parallax-primero
    width 500px
    margin-left -9.5%
  #parallax-uno
    margin-left -14.1%
  .valores-div
    width 100%
  .valores-div1
    float none
    margin-left 0px
    margin-top 7%
    p
      font-size 2em
      margin-top 8%
      padding-left 24px
      padding-left 20px
  .valores-div2
    p
    width 93%
    margin-left 4%
    margin-top -13px
    line-height 1.8
  .parrafo1
    width 418px
@media (max-width:414px)
  .parallax-primero
    width 414px
    margin-left -11.9%
  .parrafo1
    width 340px
  #parallax-uno
    margin-left -18%
  #mensaje1
    margin-top 49.2%
@media (max-width:360px)
  .parallax-primero
    width 360px
    margin-left -14.2%
  .parrafo1
    width 280px
  #parallax-uno
    margin-left -22%
  .valores-div2
    p
      margin-top -36px
@media (max-width:320px)
  h2
    font-size 20px
  .parallax-primero
    width 320px
    margin-left -16.5%
  #parallax-uno
    margin-left -26%
  .parrafo1
    width 240px
    p
      font-size 12px
      line-height 1.5
  .valores-div1
    margin-left 10px
  .valores-div
    width 96%
    p
      padding-left 11px
  .valores-div2

    p
      font-size 11px
      margin-top -23px
