/* roboto-400 - latin_cyrillic */
// @font-face {
//   font-family: 'franklin';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''),
//        url('../fonts/franklin-gothic-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/franklin-gothic-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display swap
// }
// /* roboto-700 - latin_cyrillic */
// @font-face {
//   font-family: 'franklin';
//   font-style: normal;
//   font-weight: 600;
//   src: local(''),
//        url('../fonts/franklin-gothic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/franklin-gothic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//   font-display swap
// }

// @import '../../copy/fonts/HelveticaNeueCyr/stylesheet';
  // font-family: 'HelveticaNeueCyr', sans-serif;

@import '../../copy/fonts/AkzidenzGrotesk/regular/akzidenzgroteskpro-regular';
// font-family: 'AkzidenzGroteskPro-Regular';
@import '../../copy/fonts/AkzidenzGrotesk/light/akzidenzgroteskpro-light';
// font-family: 'AkzidenzGroteskPro-Light';
@import '../../copy/fonts/AkzidenzGrotesk/medium/akzidenzgroteskpro-md';
// font-family: 'AkzidenzGroteskPro-Md';
