*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1340px;
    margin: 0 auto;
    @media (max-width: 1200px){
        width: 1100px;
        margin: 0 auto;
    }
    @media (max-width: 1000px){
        width: 900px;
        margin: 0 auto;
    }
    @media (max-width: 900px){
        width: 800px;
        margin: 0 auto;
    }
    @media (max-width: 800px){
        width: 700px;
        margin: 0 auto;
    }
    @media (max-width: 700px){
        width: 600px;
        margin: 0 auto;
    }
    @media (max-width: 600px){
        width: 500px;
        margin: 0 auto;
    }
    @media (max-width: 500px){
        width: 400px;
        margin: 0 auto;
    }
    @media (max-width: 400px){
        width: 350px;
        margin: 0 auto;
    }
}
header{
    height: auto;
    height: 75px;
    background: #FFFFFF;
    @media (max-width: 500px){
        height: auto;
    }
    .header_block{
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .block_shop{
            padding-top: 30px;
            a{
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #000000;
                margin-right: 30px;
            }
            @media (max-width: 500px){
                display: none;
            }
        }
        .block_logo{
            padding-top: 29px;
            @media (max-width: 500px){
                padding: 30px;
            }
        }
        .block_cart{
            padding-top: 31px;
            a{
                font-size: 14px;
                line-height: 16px;
                text-align: right;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #000000;
            }
            @media (max-width: 500px){
                display: none;
            }
        }
    }
}
section{
    .section_desk{
        background: url('../img/header.png');
        height: 504px;
        background-size: cover;
        .desk_nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 43px;
                line-height: 46px;
                text-align: center;
                color: #FFFFFF;
                padding: 188px 0 12px 0;
                @media (max-width: 500px){
                    font-size: 39px;
                }
                @media (max-width: 400px){
                    font-size: 30px;
                }
                @media (max-width: 350px){
                    font-size: 25px;
                }
            }
            .subtit{
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.8px;
                color: #FFFFFF;
            }
            .text{
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 28px 0;
            }
        }
    }
    .section_design{
        background: #E5E5E5;
        .design_nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                font-size: 43px;
                line-height: 58px;
                color: #000000;
                padding: 80px 0 23px 0;
                @media (max-width: 350px){
                    padding-right: 15px;
                    font-size: 35px;
                }
            }
            p{
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.8px;
                color: #A0A0A0;
                @media (max-width: 350px){
                    font-size: 15px;
                    padding: 0 15px;
                }
            }
            a{
                font-size: 13px;
                line-height: 21px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #000000;
                padding: 26px 0 81px 0;
            }
        }
        .design_gallery{
            display: flex;
            @media (max-width: 800px){
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .gallery_desk{
                padding-right: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media (max-width: 800px){
                    padding: 0;
                }
                img{
                    border-radius: 50px;
                    height: auto;
                    width: auto;
                    @media (max-width: 1200px){
                        width: 570px;
                    }
                    @media (max-width: 1100px){
                        width: 480px;
                    }
                    @media (max-width: 1000px){
                        width: 430px;
                    }
                    @media (max-width: 900px){
                        width: 380px;
                    }
                    @media (max-width: 800px){
                        width: auto;
                    }
                    @media (max-width: 700px){
                        width: 600px;
                    }
                    @media (max-width: 600px){
                        width: 500px;
                    }
                    @media (max-width: 500px){
                        width: 400px;
                    }
                    @media (max-width: 400px){
                        width: 300px;
                    }
                    @media (max-width: 350px){
                        width: 270px;
                    }
                }
                h5{
                    font-size: 27px;
                    line-height: 30px;
                    color: #000000;
                    padding: 48px 0 23px 0;
                }
                p{
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
            .gallery_laptor{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 50px;
                    @media (max-width: 1200px){
                        width: 570px;
                    }
                    @media (max-width: 1100px){
                        width: 480px;
                    }
                    @media (max-width: 1000px){
                        width: 430px;
                    }
                    @media (max-width: 900px){
                        width: 380px;
                    }
                    @media (max-width: 800px){
                        width: auto;
                    }
                    @media (max-width: 700px){
                        width: 600px;
                    }
                    @media (max-width: 600px){
                        width: 500px;
                    }
                    @media (max-width: 500px){
                        width: 400px;
                    }
                    @media (max-width: 400px){
                        width: 300px;
                    }
                    @media (max-width: 350px){
                        width: 270px;
                    }
                }
                h5{
                    font-size: 27px;
                    line-height: 30px;
                    color: #000000;
                    padding: 48px 0 23px 0;
                }
                p{
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 1.4px;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
    }
}