/* You can add global styles to this file, and also import other style files */
@import './themes/primary-light.scss';
.dark-theme {
  @import './themes/primary-dark.scss';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** For all charts **/
.chartContainer canvas {
  max-height: 500px;
  width: auto;
}

.chartContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: dodgerblue;
}
