@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*menu 1*/
.topheader {
    background-color: #ffffff;
    color: #4f5255;
    font-size: 15px;
}
.topheader>ul {
    list-style: none;
}

.topheader li {
    display: inline;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
}
.fa-bars{
    padding: 0 10px;
}
.topsr {
    background-color: #E5E5E5;
    margin-bottom: 20px;
}
#logousarb{
    margin-left: 5px;
}
.csrt {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    font-size: 0.9rem;
    margin-left: 2%;
}
/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.grid-container {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.grid-container {
		width: 100%;
	}
}

/*menu items*/
.level1 a{
    display: block;
    margin-left: 20px;
    margin-top: -20px;
    text-align:left;
    text-indent: -2em;
}
.dropbtn{
    margin-left: 180px;
    padding: 0 18px;
}
.dropdown .is-dropdown-submenu a {
    margin-top: -40px;
    line-height: 30px;
}
.is-dropdown-submenu{
    width: 250px;
}

/*mainphoto*/
.usarbphoto{
    margin-top:-5px;
    width: 100%;
    height: auto;
}
/*search bar*/
form input[type=text]{
    border-radius: 15px;
    width: 450px;
    margin-top: 20px;
    margin-right: 15px;
}
form button {
    float: right;
    margin-top: -45px;
    margin-right: -55px;
    cursor: pointer;
    color: rgb(102, 100, 100);
  }

.csrt a i {
    margin-left: 130px;
    margin-top: 25px;
    color: rgb(96, 97, 100);
}
/*Canvas menu*/
#offCanvas{
    margin-top: 150px;
    width: 1410px;
    margin-left: 15px;
}
.btn-menu{
    padding-top: 20px;
    width: 150px;
    margin-left: -20px;
}
.menu-vertical{
font-family: 'Montserrat', sans-serif;
list-style: none;
padding: 25px;
line-height: 3;
}
.vertline {
    border-left: 2px solid rgb(96, 100, 96);
    height: 590px;
    margin-left: 200px;
    margin-top:-350px;
  }

/*section1*/
.line {
    border-left: 2px solid #548562;
    height: 20px;
    margin-left: 130px;
    margin-top:-22px;
  }
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 135px;
    margin-top: 15px;
    color: rgb(49, 47, 47);
}
/*Cards Noutati*/
.card{
    margin-top: 20px;
}
.card img{
    width: 400px;
    height: 250px;
}
.card-section{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 380px; 
}
.card p{
    word-wrap: break-word;
}
.fa-arrow-right{
    margin-left: 240px;
}
h6{
    font-family: 'Montserrat', sans-serif;
}
/*CARDS AVIZE*/
.cards {
    display: flex;
    width: 1320px;
}
.card_item {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 100px;
    margin-top: 25px;
    padding-left: 10px;
    box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
    transition: 0.2s;
}
.card_item h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgb(10, 10, 10);
}
.card_item:not(:first-child) {
    margin-left: -2rem;
}
.card_item:not(:last-child):hover,
.card_item:not(:last-child):focus-within {
transform: translateY(-1rem);
~ .card_item {
    transform: translateX(2rem);
    }
  }
.cards img{
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}
.cards h5{
    text-align: center;
}
/*footer*/
.footer {
	width: 100%;
	background: #e7e5e5;
	display: block;
    margin-top: 30px ;
 }

 .inner-footer {
	width: 95%;
	margin: auto;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: rgb(80, 79, 79);
}

.footer-items h3 {
	color:  #4f5255;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif ;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #6ba17b;
	color: #6ba17b;
	background-color: #6ba17b;
	border: 0px;
}

.footer ul {
	list-style: none;
	color:  #4f5255;;
	font-size: 15px;
	letter-spacing: 0.5px;	
    font-family: 'Montserrat', sans-serif;
}


 .footer ul a {
	text-decoration: none;
	outline: none;
	color:  #464749;;
	transition: 0.3s;
 }

.footer ul a:hover {
	color: #548562;
}

.footer ul li {
	margin: 10px 0;
	height: 25px;
}

.footer li i {
	margin-right: 20px;
}

.footer .social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.footer .social-media a {
	text-decoration: none;
}

.footer .social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.footer .social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #6ba17b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.center{
    margin-left: 40px;
}
/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
