.advantages {
  //background-color: var(--light);
  background: linear-gradient(180deg, var(--white) 100px, var(--light) 100px, var(--light) 100%);

  padding-bottom: 83px;

}

.advantages__controls {
  padding-top: 80px;
  position: relative;
  border-right: 7px solid var(--black);
  width: 284px;
}
.advantages__controls-item {
  margin-bottom: 23px;
}


.advantages__content {
  width: calc(100% - 284px);
}

.advantages__item {
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 55px;
  padding-left: 116px;
  padding-right: 305px;
}
/*
.advantages__item:not(:first-of-type) {
  display: none;
}
*/
.advantages__item:not(:nth-child(3)) {
  display: none;
}
.advantages__item--delivery {
  background-image: url(../images/tabs/delivery.png);
  background-position: 91% 107%;
}

.advantages__item--garanty {
  background-image: url(../images/tabs/garanty.png);
  background-position: 93% 122%;
}

.advantages__item--credit {
  background-image: url(../images/tabs/credit.png);
  background-position: 90% 71%;
}

.advantages__header {
  font-size: 50px;
  margin-bottom: 16px;
}

.special-offer {
  padding: 90px 0;
}

.special-offer__link {
  position: relative;
  text-align: center;
  display: block;
  background-color: var(--light);
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  line-height: 24px;
  color: var(--black);
  padding: 38px 0;
  letter-spacing: 4px;
  font-size: 20px;
}

.special-offer__link::before {
  content: "";
  position: absolute;
  background-color: var(--yellow);
  width: 125px;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/delivery-truck.svg");
}

.special-offer__link::after {
  content: "";
  position: absolute;
  background-color: var(--gray);
  opacity: 0.3;
  width: 40px;
  height: 40%;
  border-radius: 50%;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/info.svg");
}

.special-offer__link:focus {
  outline: 5px solid var(--violet);
}

.special-offer__link:hover {
  outline: none;
}

.special-offer__link:hover::before {
  outline: none;
  background-color: var(--yellow-hover);
}

.special-offer__link:hover::after {
  outline: none;
  opacity: 1;
}

.special-offer__link:active::before {
  background-color: transparent;
}

.special-offer__link:active {
  background: linear-gradient(90deg, var(--yellow-hover) 125px, var(--light) 125px, var(--light) 100%);
}

.special-offer__link:active p,
.special-offer__link:active::before,
.special-offer__link:active::after {
  opacity: 0.3;
}

.special-offer__text {
  margin: 0;
  color: var(--black);
}
