.accordions-wrapper {

    @include tablet-portrait{
        margin: -60px auto 0;
        padding: 30px 20px 0;
        background: $white;
        position: relative;
    }

    @include desktop{
        margin: -100px auto 0;
        padding: 70px 100px 0;
        box-sizing: border-box;
    }

    &.faq-accordions-wrapper{
        margin-top: 0;
    }

}
    .accordion-wrapper{}
        
    .accordion-heading-wrapper {
        padding: 13px 35px 9px 45px;
        background: $accordion-header-bg-color;
        border-radius: 20px;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;

        

        @include tablet-portrait{
            padding: 22px 65px 17px 80px;
        }

        @include desktop{
            padding: 26px 65px 20px 120px;
        }

        .no-icon &{
            padding: 13px 35px 9px 15px;
            
            @include tablet-portrait{
                padding: 22px 65px 17px 25px;
            }

            @include desktop{
                padding: 26px 65px 20px 40px;
            }
        }

        &:before,
        &:after{
            content: "";
            width: 15px;
            height: 15px;
            border: 1px solid $black;
            position: absolute;
            right: 15px;
            transform: rotate(-45deg);
            pointer-events: none;

            @include transition(all,0.4s,ease-in-out,0s);

            @media (min-width: 768px) {
                width: 25px;
                height: 25px;
                right: 30px
            }
        }

        &:before{
            border-left: none;
            border-bottom: none;
            top: 8px;
            opacity: 0;

            @media (min-width: 768px) {
                top: 20px
            }
            @media (min-width: 1200px) {
                top: 23px;
            }

            .acco-open &{
                top: 18px;
                opacity: 1;

                @media (min-width: 768px) {
                    top: 30px
                }
                @media (min-width: 1200px) {
                    top: 33px;
                }
            }
        }
        &:after{
            border-right: none;
            border-top: none;
            top: 10px;
            opacity: 1;

            @media (min-width: 768px) {
                top: 13px
            }
            @media (min-width: 1200px) {
                top: 20px;
            }

            .acco-open &{
                top: 20px;
                opacity: 0;

                @media (min-width: 768px) {
                    top: 23px
                }
                @media (min-width: 1200px) {
                    top: 30px;
                }
            }
        }

        .acco-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 11px;
            left: 12px;

            @include tablet-portrait{
                width: 30px;
                height: 30px;
                top: 17px;
                left: 30px;
            }

            @include desktop{
                width: 45px;
                height: 45px;
                left: 45px;
            }

            .no-icon &{
                display: none;
            }
        }
        .acco-title {
            text-align: left;
            font-size: 18px;
            margin: 0;

            @include tablet-portrait{
                font-size: 22px;
            }

            @include desktop{
                font-size: 25px;
            }
        }
    }
    .accordion-content-wrapper{
        display: none;
    }
   



.details-accordion-wrapper{
    .full-width-image-wrapper {
        position: relative;
        @include tablet-portrait{
            margin-bottom: 0;
            overflow: hidden;
        }

        .full-width-image-heading {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            line-height: 1;
            bottom: -16px;

            @include tablet-portrait{
                bottom: 30px;
            }
            @include tablet-landscape{
                bottom: 22px;
            }
            @include desktop{
                bottom: 54px;
            }
        }
    }
}

.faq-section{
    padding: 20px 0;
    background-color: $primary-background-color;

    @include tablet-portrait{
        padding: 40px 0;
    }

    @include desktop{
        padding: 70px 0;
    }

    .faq-accordions-wrapper{
        background-color: transparent;
        padding-top: 0;

        @include desktop{
            padding-top: 20px;
        }

    }
    .faq-answer-sub-title{
        text-transform: uppercase;
    }
}
