@import "../../../utils/css/index.scss";

.hero-stats {
  font-size: 30px;
  @include absoluteCenter;
  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.8);
  cursor: default;
  z-index: 2000;

  &__container {
    display: grid;
    grid-template-columns: 1fr 165px 75px 55px 70px 1fr;
    grid-template-rows:
      85px
      [name-row] 63px [name-row
      level-row] 45px [level-row]
      13px
      [health-row] 27px [health-row]
      6px
      [experience-row] 27px [experience-row]
      60px
      [power-row] 30px [power-row]
      8px
      [defence-row] 30px [defence-row]
      8px
      [vitality-row] 30px [vitality-row]
      8px
      [initiative-row] 30px [initiative-row]
      26px
      max-content;
    @include absoluteCenter;
    width: 85%;
  }

  & > * {
    color: white;
  }

  &__bg {
    @include absoluteCenter;
    width: 360px;
    height: calc(591px * 0.7);
    background-image: url(../../../img/hero-stats/hero-stats_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__dismiss-btn {
    font-family: inherit;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    color: black;
    border-color: red;
    border-radius: 5px;
    z-index: inherit;
    cursor: pointer;

    grid-row: 18;
    grid-column: 2 / 6;
    justify-self: center;
    margin-top: 20px;

    &:hover {
      transform: scale(1.05);
      background-color: lightcoral;
    }

    &--text {
      margin: 10px;
    }

    &__hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__name {
    position: relative;
    grid-row: name-row;
    grid-column: 2/6;
    align-self: center;
    justify-self: center;
    @include strokeText;
  }

  &__level {
    position: relative;
    grid-row: level-row;
    grid-column: 2 / span 2;
    align-self: center;
    margin-left: 20px;
    margin-top: 4px;
    @include strokeText;

    &--text {
      color: lightblue;
    }
  }

  &__gold {
    position: relative;
    grid-row: level-row;
    grid-column: 5;
    align-self: center;
    justify-self: flex-end;
    margin-right: 65px;
    margin-top: 4px;
    @include strokeText;
  }

  &__portrait {
    position: relative;
    grid-row: 4;
    grid-column: 2;
    width: 96px;
    height: 93px;
    margin-left: 20px;

    & > * {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @each $type in "warrior" "paladin" "thief" "mage" "healer" {
      &--#{$type} {
        background-image: url(../../../img/portraits/portrait-#{$type}.png);
      }
    }
  }

  &__health-bar {
    grid-row: health-row;
    grid-column: 3;
    align-self: center;
    transform: translateX(3px);
  }

  &__experience-bar {
    grid-row: experience-row;
    grid-column: 3;
    align-self: center;
    transform: translateX(3px);
  }

  &__health {
    font-size: 20px;
    grid-row: health-row;
    grid-column: 5;
    align-self: center;
    transform: translateY(2px) translateX(5px);
    @include strokeText;
  }

  &__experience {
    font-size: 20px;
    grid-row: experience-row;
    grid-column: 5;
    align-self: center;
    transform: translateY(2px) translateX(5px);
    @include strokeText;
  }

  &__power {
    grid-row: power-row;
    grid-column: 4;
    align-self: center;
    transform: translateY(2px);
    @include strokeText;

    &-surplus {
      grid-row: power-row;
      grid-column: 5;
      align-self: center;
      transform: translateY(2px);
      @include strokeText;
    }
  }

  &__defence {
    grid-row: defence-row;
    grid-column: 4;
    align-self: center;
    transform: translateY(2px);
    @include strokeText;

    &-surplus {
      grid-row: defence-row;
      grid-column: 5;
      align-self: center;
      transform: translateY(2px);
      @include strokeText;
    }
  }

  &__vitality {
    grid-row: vitality-row;
    grid-column: 4;
    align-self: center;
    transform: translateY(2px);
    @include strokeText;

    &-surplus {
      grid-row: vitality-row;
      grid-column: 5;
      align-self: center;
      transform: translateY(2px);
      @include strokeText;
    }
  }

  &__initiative {
    grid-row: initiative-row;
    grid-column: 4;
    align-self: center;
    transform: translateY(2px);
    @include strokeText;

    &-surplus {
      grid-row: initiative-row;
      grid-column: 5;
      align-self: center;
      transform: translateY(2px);
      @include strokeText;
    }
  }

  &__activity {
    grid-row: 17;
    grid-column: 1 / -1;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
  }

  &__equipment {
    position: relative;
    display: grid;

    grid-row: 9;
    grid-column: 2;

    margin-left: 16px;

    grid-template-rows: repeat(4 1fr);
    grid-template-columns: repeat(4 1fr);
    gap: 7px;

    & > * {
      display: flex;
      width: 76px;
      height: 72px;
      margin-top: -1px;
      margin-left: 1px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--stats {
      display: grid;
      width: 100%;

      &-level {
        grid-row: 2;
        display: block;
        font-size: 20px;
        font-weight: bold;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 8px;
        @include strokeText;
      }

      &-tier {
        grid-row: 1;
        justify-self: center;
        margin-top: 5px;
        color: yellow;
      }
    }

    &-weapon {
      grid-row: 1;
      grid-column: 1;

      &--rusty_sword {
        background-image: url(../../../img/equipment/equipment-weapon-rusty_sword.png);
      }

      &--bent_staff {
        background-image: url(../../../img/equipment/equipment-weapon-bent_staff.png);
      }

      &--no_image {
        background-image: url(../../../img/equipment/equipment-weapon-no_image.png);
      }
    }

    &-armor {
      grid-row: 1;
      grid-column: 2;

      &--simple_shirt {
        background-image: url(../../../img/equipment/equipment-armor-simple_shirt.png);
      }

      &--no_image {
        background-image: url(../../../img/equipment/equipment-weapon-no_image.png);
      }
    }

    &-shield {
      grid-row: 2;
      grid-column: 1;
    }

    &-accessory {
      grid-row: 2;
      grid-column: 2;
    }
  }

  &__items {
    grid-column: 6;
    grid-row: 3;
    @include strokeText;
    margin-right: 10%;

    &--header {
      color: lightskyblue;
      margin-bottom: 10px;
      text-align: center;
    }

    &--list {
      font-size: 20px;
      list-style: none;

      & ul {
        margin-bottom: 10px;
      }
    }
  }

  &__perks {
    grid-column: 6;
    grid-row: 9;
    @include strokeText;
    margin-right: 10%;

    &--header {
      color: lightskyblue;
      margin-bottom: 10px;
      text-align: center;
    }

    &--name {
      color: yellowgreen;
    }

    &--list {
      font-size: 20px;
      list-style: none;

      & ul {
        margin-bottom: 10px;
      }
    }
  }

  &__skills {
    grid-column: 1;
    grid-row: 3;
    @include strokeText;
    margin-left: 10%;

    &--header {
      color: lightskyblue;
      margin-bottom: 10px;
      text-align: center;
    }

    &--name {
      color: yellowgreen;
    }

    &--list {
      font-size: 20px;
      list-style: none;

      & ul {
        margin-bottom: 10px;
      }
    }

    &--disabled {
      opacity: 0.2;
    }
  }
}
