// estilos de slider
// #carrouseNB {
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   margin-bottom: 20px;
// }

#blackDrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.034);
  z-index: 990;
}

.imgfluid {
  object-fit: scale-down;
  object-position: top;
  width: 100%;
  height: 100%;
}

// estilos de barra de navegacion

#Navigation {
  padding: 0.25rem 2rem;
  display: flex;
  width: 100%;
  height: 4rem;
  font-family: var(--normalFont);
  box-shadow: var(--shadowCard);
  background-color: var(--azul-ita);
  align-items: center;

}

.logo--input {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 3rem;
    height: 3rem;
    height: auto;
    
  }
}

.tools__header__menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.menu--header {
  flex-basis: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: var(--white-bg);

  a {
    margin: 14px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      left: 0;
      right: 0;
      bottom: -10px;
      background: linear-gradient(to right, rgb(168, 168, 168), var(--white-bg));
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }

    &:hover:before {
      color: var(--blue-bg);
      opacity: 1;
    }
  }

}

.menu--sm--header {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--white-bg);
  font-family: var(--normalFont);
  box-shadow: var(--shadowCard);

  a {
    margin: 1px 10px;
    font-weight: 600;
  }
}


// Estilos de buscador

.engine--shearch {
  padding: 0.35rem;
  flex-basis: 40%;
  position: relative;

  > div {
    display: flex;
    align-items: center;
    background: var(--white-bg);
    border-radius: 4px;
    width: fit-content;
    
    input{
    border: none;
    border-left: 10px;
    box-sizing: border-box;
    width: 20rem;
    font-size: 1rem;
    padding: 0.65rem 2.75rem 0.65rem 0.65rem;
    margin: 0 0 0 8px;  
    z-index: 991;
    
    &:focus {
      box-shadow: var(--shadowCard);
      border: 4px solid var(--esmeralda);
      outline-style: none;

    }}

    &::after{
      content: url("../assets/icons/search.svg");
      width: 2rem;
      height: 2rem;
  }    

  }

}

.hits--results{
  top: 60px;
  position: absolute;
  background-color: #fff;
  box-shadow: var(--shadowCard);
  width: 32rem;
  right: calc(10%);
  color: var(--black);
  z-index: 1000;
  border-radius: 4px;

  ul{
    margin: 4px 0;
    padding: 4px;
    list-style-type: none;
  }

  ul li a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    padding: 0.45rem;
    border-bottom: 1px solid var(--blue-bg);

    &:hover {
      background-color: var(--black);
      color: var(--white-bg);
    }

  }

  ul li a p {
    width: 50%;

  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
  }  
  
  li:last-child{
    background-color: var(--white-bg);
    color: var(--black);
    font-weight: bold;
  }

}


// notify button
.ntf--popup{
  p{
    cursor: pointer; 

    &:hover{
      width: 100%;
      padding: 0 0.68rem;
      color: var(--black);
    }
  }
}

.ntf--popup p:hover {
  background-color: var(--selected);
  color: white;
  width: 100%;
}

.notify--cart {
  display: flex;
  flex-direction: column;
  background-color: var(--esmeralda);
  box-shadow: var(--shadowCard);
  color: #fff;
  position: absolute;
  top: 20rem;
  right: 1%;
  width: 20rem;
  min-height: 8.75rem;
  padding: 1.25rem;
  margin: 10px;
  text-align: center;
  animation: opacity 300ms ease-in-out;
  z-index: 100;

  *{
    margin: 10px;
  }
}

.ntf--foto{
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.ntf--title{
  white-space: nowrap;
  overflow: hidden;
  width: 15rem;
  text-overflow: ellipsis;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ntf--exist{
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: var(--esmeralda);
  color: var(--white-bg);
  font-size: 1.25rem;
}



.menu__login {
  margin: 8px;

  li{
    position: relative;
  }

  span{
    cursor: pointer;
    margin: 0;
    width: 10px;
    background-color: violet;
  }
  
  li,
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  img:hover{
    opacity: 0.75;
  }

}

.submenu__login{
  position: absolute;
  z-index: 1000;
  float: left;
  right: -10px;
  display: none;  

  li{
    padding: 0.25rem;
    width: 120px;
    float: left;
    background-color: var(--selected);
    color: #FFFF;
    z-index: 200;
    border-bottom: 1px solid transparent;
  }

  button{
    width: 100%;
    border: none;
    background: transparent;

  }

  li:hover{
    background: var(--white-bg);
    color: #000000;
  }
}

.open__submenu{
  display: block;
}


// los media querys
@media (max-width:60rem) {

  #Navigation {
    padding: 2px;
    justify-content: space-between;
    img{
      margin-left: 10px;
    }
  }

  .menu--header {
    display: none;
  }

  .menu--sm--header {
    display: flex;
  }

  .engine--shearch {
    div input {
      width: 7rem;
      background-position: calc(85% + 10px);

      &::placeholder {
        font-size: medium;
      }

    }
  }

  .hits--results {
    width: 95%;
    left: 0;
    height: 70vh;
    margin: 8px;
    overflow-y: scroll;

    ul a li p {
      font-size: small;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80px;
      height: 80px;

    }
  }

  // #carrouseNB {
  //   width: 100%;
  //   height: 184px;
  // }

}
