@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:500;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"raleway",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces1";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

@import "../../../slagence_X_V5/sources/scss/multiple-select.scss";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";


// PERSO MAROZINE74

// GENERAL
.bg-block {
	background:$color-block;
}

// MENU & NAV
.logo  {
	margin-left:-10px;
	margin-top: -5px;
}
.nav-social-menu {
	font-size: 0.9em;
}
.menu-principal {
	margin-top: 50px;
}
.menu-principal>li>a {
	padding: 13px 3px;
	font-size: 0.8em;
	background:$color-important;
	color:$color-primary;
	&:hover {
		color:$color-nav-footer;
	}
}
.navigation {
	@include background-image(linear-gradient(120deg, lighten($color-body, 10), $color-block, $color-nav-footer, $color-block, lighten($color-body, 10) ));
	border-bottom: $color-border-nav 19px solid;
}

// VISUEL ACCUEIL
.h1-index {
	background: rgba($color-body, 0.6);
}
.slogan-index {
	background: rgba($color-body, 0.6);
	margin-bottom: -10px;
}

// ENCART PA
.module-annonces-homepage {
	background:$color-important;
}

.module-annonces-homepage .typo-body {
	color:$color-primary;
}

.homepage-bloc-type-bien-transaction .bg-white {
	background:$color-secondary;
	color:$color-block;
}

// ENCART PUB
.zone-pub {
	color:$color-primary;
}

.bloc-detail-prix {
	background: $color-secondary;
	color: white;
	padding: 5px;
	border-radius: 4px;
}

.nav-immobilier {
    a,
    .typo-action {
        color: $color-font-body;
    }
    a:focus,
    a:hover,
    a:active {
        font-weight: bold;
    }
}