@import './variables.scss';

body{
  margin: 0px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html, #body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header{
  background-color: $main-color;
  box-shadow: 0px 1px 8px $main-color;

  #title{
    padding-bottom: 0.2em;
    margin: 0px;
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0px 1px 4px rgba(234, 242, 248, 0.8);
    font-family: 'Patrick Hand', cursive;
    
    a{
      text-decoration: none;
      color: white;
    }
  }
}

/* Block PRESENTATION */
#me {
  box-shadow: 0px 1px 8px $main-color;

  img{
    width: 350px;
    max-width: 100%;
  }

  section{
    margin-top: -5em;
    color: white;
    background-color: $main-color;
    padding-bottom: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    h2{
      font-size: 1.8em;
      padding-top: 3em;
      margin: 1em 25% 0px;
    }

    p{
      font-size: 1.5em;
      margin: 1em 20% 1em;
    }

    a{
      text-decoration: none;
      padding: 0.5em;
      border: solid white 2px;
      border-radius: 25px;
      color: white;
      font-size: 1.3em;
      font-weight: bold;
      background-color: $main-color;
      transition: all 0.4s ease-out;
    }

    a:hover,
    a:focus{
        background-color: white;
        color: $main-color;
        cursor: pointer;
    }
  }
}
// Fin Block PRESENTATION

// Block Compétences / Qualités / Défauts
#switch{
  display: flex;
  margin-top: 1.5em;
  justify-content: center;
  flex-wrap: wrap;

  button{
    padding: 0.5em;
    border: solid $main-color 2px;
    font-size: 1.4em;
    font-weight: bold;
    color: $main-color;
    background-color: white;
    cursor: pointer;
  }

  .active{
    color: white;
    background-color: $main-color;
    transition: all ease-in;
  }

  #button1{
    border-right: none;
  }
}

#competences{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin: 0px 0.5em;

  section{
    margin: 1em 0px 0px 0px;
    border: solid $main-color 2px;
    padding: 0em 1em;

    ul{
      padding: 0px;
    }

    li{
      list-style: none;
    }
  }

  #frontend{
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  #backend{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.hidden{
    display: none;
}

#softskills{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin: 0px 0.5em;

  section{
    margin: 1em 0px 0px 0px;
    border: solid $main-color 2px;
    padding: 0em 1em;

    ul{
      padding: 0px;
    }

    li{
      list-style: none;
    }
  }

  #qualites{
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  #defauts{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

// Fin Block Compétences / Qualités / Défauts

// Block REALISATION
#realisation{
  background-color: $main-color;
  color: white;
  margin-top: 2em;
  padding: 0px 5em 4em;
  
  h2{
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.8em;
  }

  p{
    font-size: 1.2em;
    margin: 0px 15% 1em;
  }

  #flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0em 1em;
  
    section{
      max-width: 435px;
      max-height: 200px;
      border: 1px solid white;
      background-color: $main-color-dark;
      border-radius: 25px;
      margin: 0.8em;

      figure{
        position: relative;
        margin: 0px;
        width: 100%;
        height: 100%;
        border-radius: 25px;

        img{
          width: inherit;
          height: inherit;
          border-radius: 25px;
          transition: .45s ease-in-out;
        }

        figcaption{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.5s ease-in-out;

          .margin{
            margin-right: 0.4em;
          }

          .text{
            margin: 1.5em 10% 0px;
          }

          a{
            text-decoration: none;
            padding: 0.5em;
            border: solid white 2px;
            border-radius: 25px;
            color: white;
            font-size: 1.3em;
            font-weight: bold;
            background-color: $main-color-dark;
            transition: all 0.5s ease-out;
          }

          a:hover,
          a:focus{
            background-color: white;
            color: $main-color;
            cursor: pointer;
          }
        }

        figcaption:hover,
        figcaption:focus{
          opacity: 1;
        }
      }

      figure:hover,
      figure:focus{
        img{
          opacity: 0;
        }
      }
    }
  }
}
// Fin Block REALISATION

// TROU DESIGN
#void{
  height: 5em;
  background-color: white;
}
// FIN TROU

// Block Formulaire
form{
  font-size: 1.5em;
  color: white;
  background-color: $main-color;
  margin: 1em 15%;
  padding: 1em 0px;
  border-radius: 25px;
  flex: 1 0 auto;

  #nomPrenom, #emailNumTel, #description{
    display: flex;
    justify-content: center;

    .marginRight{
      margin-right: 3em;
    }

    label{
        text-align: left;
        display: block;
    }

    #marginBottom{
      margin-bottom: 2px;
    }

    input, textarea{
      font-size: 1em;
      outline: none;
      border: solid 1px $main-color;
      border-radius: 0.3em;
      box-shadow: 0px 0px 0px lightblue;
      transition: box-shadow 0.3s;
      margin-bottom: 1em;
    }

    textarea{
      height: 5em;
      width: 35em;
      max-width: 35em;
    }

    input:focus, textarea:focus{
      box-shadow: 0px 0px 10px lightblue;
    }

    ::placeholder{
      opacity: 1;
      transition: opacity 0.3s;
    }

    :focus::placeholder{
      opacity: 0;
    }
  }

  .button{
      text-decoration: none;
      padding: 0.7em;
      border: solid white 2px;
      border-radius: 1.5em;
      color: white;
      font-size: 0.9em;
      font-weight: bold;
      background-color: $main-color;
      transition: all 0.4s ease-out;
      margin-bottom: 0.5em;
  }

  .button:hover,
  .button:focus{
      background-color: white;
      color: $main-color;
      cursor: pointer;
  }

  .precision{
    font-size: 0.7em;
    font-style: italic;
  }
}

// Block Footer
footer{
  background-color: $main-color;
  padding: 1.5em 0px 1.5em;

  article{
    margin: -11em 25% 2em;
    padding: 2.5em 1em;
    font-size: 0.8em;
    background-color: $main-color-dark;
    border-radius: 2em;
    color: white;

    #question{
      margin-top: 0.3em;
      padding: 0px 0.5em;
      font-size: 1.9em;
    }

    #contact{
      text-decoration: none;
      margin-bottom: 5em;
      font-size: 1.8em;
      padding: 0.5em;
      border: solid white 2px;
      border-radius: 30px;
      color: white;
      font-weight: bold;
      background-color: $main-color-dark;
      transition: all 0.4s ease-out;
    }

    #contact:hover,
    #contact:focus{
        background-color: white;
        color: $main-color-dark;
        cursor: pointer;
    }
  }

  a{
    color: white;
    font-size: 2.5em;
    padding: 0.4em;
  }

  a:focus{
    outline: none;
    border: 1px solid white;
  }

  i{
    transition: all .5s ease-in-out;
  }
  
  i:hover,
  i:focus{
    transform: scale(1.25);
  }
}

#stick{
  flex-shrink: 0;
}
// Fin Block Footer

// MEDIA QUERIES
@media screen and (max-width: 767px){
  // PRESENTATION

  #header{
    #title{
      font-size: 4em;
    }
  }

  #me{
    section{

      h2{
        font-size: 1.5em;
        margin: 1em 0px;
      }

      p{
        font-size: 1.2em;
        margin: 1em 0px;
      }
    }
  }

  #switch{
    flex-direction: column;

    #button1{
      border-right: solid $main-color 2px;
      border-bottom: none;
      margin-right: 25%;
      margin-left: 25%;
    }

    #button2{
      margin-right: 15%;
      margin-left: 15%;
    }
  }

  #competences{
    font-size: 1.2em;

    section{
      padding: 0em 0.5em;
    }
  }

  #softskills{
    font-size: 1.3em;

    section{
      padding: 0em 0.7em;
    }
  }

  // REALISATION
  #realisation{
    padding: 0px 0em 4em;

    p{
      margin: 0px 0px 1em;
    }

    #flex{
      padding: 0px;

      section{
        figure{
          figcaption{
            .text{
              font-size: 0.8em;
              margin: 0px;

              h3{
                margin: 0.5em 1em 0.5em;
              }
            }
          }
        }
      }
    }
  }

  footer{
    article{
      margin: -11em 3em 2em;

        p{
          padding: 0px;
          font-size: 1.5em;
        }
      }
  }

  form{
    font-size: 1.1em;
    margin: 1em 1%;

    #nomPrenom, #emailNumTel, #description{
      flex-direction: column;

      label{
        text-align: center;
        margin-bottom: 2px;
      }

      textarea{
        width: 15em;
        max-width: 15em;
      }

      .marginRight{
        margin-right: 0px;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1439px){
  form{
    #nomPrenom, #emailNumTel, #description{
      flex-direction: column;

      label{
        text-align: center;
        margin-bottom: 2px;
      }

      textarea{
        width: 15em;
        max-width: 15em;
      }

      .marginRight{
        margin-right: 0px;
      }
    }
  }
}