@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

/* animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  transition: opacity 0.3s ease;
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}
.before-grid {
  margin-bottom: 5px;
  width: 80vw;
}

.logo {
  font: 0/0 a;
  width: 180px;
  display: block;
  margin-left: 18px;
  margin-right: 24px;
  border: 0;
  outline: 0;
}

.App {
  text-align: center;
  color: white;
}

.App-wrapper {
  min-height: 100vh;
  font-size: 1.2rem;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header {
  display: flex;
  position: relative;
  z-index: 7000;
  padding: 0 20px 0 0;
  background: #0b0c0f;
  margin: 0;
  align-items: center;
  height: 64px;
  font-size: 16px;
}
.header > nav {
  flex: 1;
}
.header > nav > ul {
  display: flex;
  height: 100%;
}
.header > nav > ul > li {
  display: grid;
  place-items: center;
  height: 100%;
  position: relative;
}
.header > nav > ul > li > a {
  line-height: 1.5;
  font-size: 14px;

  display: block;
  padding: 0.5rem;
  white-space: nowrap;
}
.primary-edit {
  margin-right: auto;
}
.component-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-container,
.form-container {
  min-width: 60%;
  padding: 30px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 0.5em;
  input {
    width: 100%;
  }
  @media (min-width: 400px) {
    max-width: 650px;
  }
}
.quote-container {
  background: rgba(225, 0, 255, 0.45);
}
.form-container {
  background: #222628;
}
.form-input-wrapper {
  // width: calc(100% - 40px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
}
.form-input-wrapper > textarea,
input {
  // width: 45vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#create-quote {
  margin-bottom: 20px;
}
.form-label {
  margin-bottom: 5px;
  font-size: 14px;
}
.quote-text {
  text-shadow: 2px 2px rgba(150, 137, 137, 0.5);
  line-height: 1.5em;
}
.fa-quote-right {
  margin-bottom: 15px;
}
.page {
  margin-top: 10px;
  font-size: 14px;
}
.description {
  font-size: 14px;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.8);
  max-width: max(50vw, 280px);
}
a,
a:visited {
  color: #61dafb;
  text-decoration: none;
}
h2 {
  font-weight: normal;
  margin: 50px 24px 24px 24px;
}
button {
  margin: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  appearance: button;
  background-color: black;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  vertical-align: middle;
  white-space: nowrap;
  filter: brightness(1.1);
}
button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-clip: padding-box;
  background-color: #333;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
}
button:focus {
  outline: 1px solid white;
}
#edit-grid {
  height: 48vh;
  width: 80vw;
}

@media (max-width: 500px) {
  .form-container {
    min-width: calc(80% - 20px);
    // margin: 0 10px;
    // padding: 0;
    // background: inherit;
  }
}

@media (max-width: 600px) {
  .header-chunk {
    width: 100%;
    margin: 0;
    height: auto;
    object-position: 50% 50%;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    margin-top: 10px;
  }
  .description {
    padding: 0 10px;
  }
  .form-container {
    min-width: 60%;
    // margin: 0 10px;
    // padding: 0;
    // background: inherit;
  }
  h2 {
    margin-top: 18px;
  }
  .header {
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
  }
  .form-input-wrapper {
    margin: 0;
  }
  .form-input-wrapper > textarea,
  input {
    width: 80vw;
  }
  #edit-grid {
    height: 42vh;
  }
}

@media (max-width: 1000px) {
  .form-container {
    min-width: 65%;
  }
}
@media (min-width: 1500px) {
  .form-container {
    min-width: 33%;
  }
}
