// https://v2.vuepress.vuejs.org/zh/reference/default-theme/styles.html#palette-%E6%96%87%E4%BB%B6
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url("../public/fonts/FiraCode-Regular.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
:root {
  scroll-behavior: smooth;
  --font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --c-brand: #3B82F6;
  --c-brand-light: #60A5FA;
}
html.dark {
  --c-brand: #F59E0B;
  --c-brand-light: #FBBF24;
}
// 导航下拉框样式
.dropdown-wrapper .nav-dropdown {
  box-shadow: 0px 4px 8px #1e1e1e;
}
// 侧边栏样式
.sidebar {
  a.sidebar-item {
    transition: transform .25s;
    &.active {
    }
  }
}
// 文章内容样式
.page {
  font-size: 15px;
  code {
    @apply
    leading-none
    text-xs;
    font-family: 'Fira Code';
    font-variant-ligatures: normal;
  }
  h1 {
    @apply
      leading-loose
      font-bold
      text-4xl
      text-center
      mb-2;
  }
  h2 {
    @apply
      leading-loose
      border-b
      border-gray-300
      text-2xl
      my-4
      text-center
      tracking-wide
      font-bold;
  }
  h3 {
    @apply
      text-2xl
      leading-normal
      my-3
      font-bold;
  }
  a:not([aria-hidden]) {
    @apply
      mx-2
      transition-colors
      duration-150;
  }
  p, ul, ol {
    @apply leading-7;
  }
  ul {
    @apply
      pl-4;
    li {
      @apply list-disc ml-4 mt-1.5;
      ul {
        li {
          list-style: circle;
        }
      }
    }
  }
  ol {
    @apply pl-4;
    li {
      @apply list-decimal pl-2;
      &::marker {
        @apply font-bold;
      }
    }
  }
  table {
    @apply w-full;
    tr {
       td {
         @apply border-b border-gray-300 border-l;
         &:last-child {
           @apply border-r;
         }
       }
    }
    thead {
      tr {
        @apply
          bg-gray-300
          text-gray-600;
        th {
          @apply
            border-r
            border-gray-300
            ;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          @apply bg-gray-200 bg-opacity-50 transition-colors duration-200;
        }
        td {
          @apply px-4 text-sm leading-loose;
        }
      }
    }
  }
  code:not(pre code) {
    @apply border rounded bg-gray-200 text-gray-800 px-2 py-1 mx-2 text-sm;
  }
}
