@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:670;

// SIZE NAVIGATION
$height-navigation:30;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:1.5em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra2";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.titre-pub, .titre-extra {color:$color-secondary;}
.titre-bas {margin-top:419px;}

.btn-home a.bg-black:hover {color:$color-secondary;}
.btn-home > div:hover > .btn-action, .btn-home > div:hover > .bg-black {background:none; border-color:transparent; box-shadow:none;}
.btn-home > div:hover a {text-decoration:none; color:$color-secondary;}

.btn-home a .ico-home {background: 0 0 url(../images/home/btn-home.png); width: 75px; height: 75px; margin: 10px auto 0 auto;}
.btn-home a .ico-acheter{width: 75px; background-position: 0 0; }
.btn-home a:hover .ico-acheter{background-position: 0 -75px; }
.btn-home a .ico-vendre{width: 112px; background-position: -288px 0;}
.btn-home a:hover .ico-vendre{background-position: -288px -75px; }
.btn-home a .ico-louer{ width: 120px; background-position: -75px 0; }
.btn-home a:hover .ico-louer{background-position: -75px -75px; }
.btn-home a .ico-outils{width: 93px; background-position: -195px 0;  }
.btn-home a:hover .ico-outils{background-position: -195px -75px; }
.btn-home a .ico-neuf{width: 75px; height:75px; margin:10px auto 0 auto;}
.btn-home a .ico-neuf-fr {background: 0 0 url(../images/icones/programme-neuf-fr.png); }
.btn-home a:hover .ico-neuf-fr{background-position: 0 -75px; }
.btn-home a .ico-neuf-en {background: 0 0 url(../images/icones/programme-neuf-en.png); }
.btn-home a:hover .ico-neuf-en{background-position: 0 -75px; }
.btn-home a .ico-neuf-pt {background: 0 0 url(../images/icones/programme-neuf-pt.png); }
.btn-home a:hover .ico-neuf-pt{background-position: 0 -75px; }

.accordion-heading a {font-weight:bold;}
.logo {margin-top:-10px;}
.margin-top-under-nav-fixe {margin-top:150px;}
.margin-navigation{margin-top: 145px;}

@media screen and (max-width:767px) {
	.logo {margin-top:5px;}
	.titre-bas {margin-top:5px;}
	
}



.pub-mobile {
    background-image: url("../images/pub/encart.png");
}