@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:yes;
$picture-bg-url: #333333;
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:365;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"ff-tisa-web-pro",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:1.6em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces1";

// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";



//PERSO BESTHOME

.scrollToTop {background:url("/z/webagency/slagence_X_V5/images/widget/white/arrow-up.png") no-repeat scroll center center #000000;}

.rounded-60 {
	.biggest {
		color:$color-primary;
	}
}

.h1-index {font-weight:normal;}
.btn-action, .bouton-alerte {background:$color-primary; border-color:$color-primary; color:#fff;}

.prix-annonce {font-weight:normal;}
.texte-info-agences {font-size:1.4em;}

.theme-default .nivo-directionNav a {opacity:0.8;background-color:#87212E !important;}
.nav-fiche li {font-size:1.1em;}
.bloc-detail-reference {
font-family:$font-title;
color: $color-font-body;
font-size:1.62em;
font-weight:bold;
}


.bloc-nav-left-fix{background: black;}