//メインコンテンツ
.insight--bonus--guest--index--all--container {
  @include clearfix();
  font-family: 'HelveticaNeue';
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 40px;
}

.insight--bonus--guest--index--all--item--container {
  @include clearfix();
  width: 100%;
  margin-top: 1.8vw;
}

.insight--bonus--guest--index--all--item--guest--content {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--guest--content--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  font-size: 1.0vw;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--bonus--guest--index--all--item--amount--content {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--amount--content--box{
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--bonus--guest--index--all--item--kind--content {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--kind--content--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--bonus--guest--index--all--item--time--content {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--time--content--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// each

.insight--bonus--guest--index--all--item--one--container {
  @include clearfix();
  width: 100%;
  margin-top: 0.3vw;
  display: flex;
}

.insight--bonus--guest--index--all--item--guest--content--one {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--guest--content--one--box {
  height: 100%;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;
  position: relative;
}

.insight--bonus--guest--index--all--item--guest--content--one--box--no--link {
  height: 100%;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;
  position: relative;
}

.insight--bonus--guest--index--all--item--guest--content--one--box:hover {
  background-color: $thin-gray;
}

.insight--bonus--guest--index--all--item--guest--content--one--image {
  float: left;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  width: 3vw;
  height: 3vw;
  img {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
  }
}

.insight--bonus--guest--index--all--item--guest--content--one--name {
  float: left;
  margin-left: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insight--bonus--guest--index--all--item--guest--content--one--name--no--link {
  float: left;
  width: 50%;
  margin-left: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insight--bonus--guest--index--all--item--amount--content--one {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--amount--content--one--box {
  height: 100%;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  margin-left: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight--bonus--guest--index--all--item--amount--content--one--math {
  float: left;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 2.0vw;
}

.insight--bonus--guest--index--all--item--kind--content--one {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--kind--content--one--box {
  height: 100%;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  margin-left: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight--bonus--guest--index--all--item--kind--content--one--content {
  float: left;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2vw;
  line-height: 2.0vw;
}

.insight--bonus--guest--index--all--item--kind--message {
  float: right;
  background-color: $minithank-blue;
  color: $white;
  padding: 0.1vw 0.3vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all 0.5s;
}

.insight--bonus--guest--index--all--item--kind--thank {
  float: right;
  background-color: $green;
  color: $white;
  padding: 0.1vw 0.3vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.insight--bonus--guest--index--all--item--time--content--one {
  float: left;
  width: 25%;
}

.insight--bonus--guest--index--all--item--time--content--one--box {
  height: 100%;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
}

.insight--bonus--guest--index--all--item--time--content--one--comment {
  float: left;
  font-size: 1.0vw;
  line-height: 2.0vw;
  color: $thin-black;
}

//開閉ボタン
.insight--bonus--guest--message--open--container {
  float: left;
  width: 100%;
  margin-top: -3px;
  position: relative;
}

.insight--bonus--guest--message--open--container label {
  float: left;
  font-size: 12px;
  position: absolute;
  top: -3vw;
  right: 32.5%;
  bottom: 4px;
  width: 8vw;
  //opacity: 0;
  cursor :pointer;
  transition: all 2s;
}

.insight--bonus--guest--message--open--container input{
  display: none;
}

.insight--bonus--guest--message--open--content {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.insight--bonus--guest--message--kind--opened:checked ~ .insight--bonus--guest--message--open--content{
  opacity: 1;
  height: auto;
  background-color: #F8FBFE;
  border-radius: 0px 0px 6px 6px / 0px 0px 6px 6px;
  padding: 0.2vw 1vw 0 1vw;
  margin-bottom: 0.3vw;
  font-size: 1.0vw;
  display: flex;
  align-items: center;
}

.insight--bonus--guest--message--open--content--image {
  float: left;
  img {
    width: 5vw;
  }
}

.insight--bonus--guest--message--open--content--thank--message {
  float: left;
  margin-left: 1vw;
}
