@import "./scss/bootstrap/variables";
@import "./scss/bootstrap/mixins";
@import "./scss/bootstrap/utilities";
@import "./scss/bootstrap/root";
@import "./scss/bootstrap/reboot";
@import "./scss/bootstrap/containers";
@import "./scss/bootstrap/grid";
// @import "./scss/bootstrap/accordion";
// @import "./scss/bootstrap/progress";
// @import "./scss/bootstrap/modal";
// @import "./scss/bootstrap/tooltip";
// @import "./scss/bootstrap/carousel";
// @import "./scss/bootstrap/offcanvas";
// @import "./scss/bootstrap/helpers";
@import "./scss/bootstrap/utilities/api";

// Variables
$main-color: #101010;
$secondary-color: #1c1c1c;
$font-color: white;
$blue-accent: #00b0ef;

// Fonts
@font-face {
	font-family: SFbold;
	src: url(./fonts/SF-UI-Display-Bold.otf);
}

@font-face {
	font-family: SFlight;
	src: url(./fonts/SF-UI-Display-Ultralight.otf);
}

@font-face {
	font-family: SFregular;
	src: url(./fonts/SF-UI-Text-Regular.otf);
}

// Mixins
@mixin sfbold {
	font-family: SFbold;
}

@mixin sflight {
	font-family: SFlight;
}

@mixin sfreg {
	font-family: SFregular;
}

// Global
body {
	margin: 0;
	background-color: $main-color;
}

* {
	@include sfreg;
	color: $font-color;

	&:last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
}

// Typography
h2 {
	@include sflight;
	font-size: 3.5rem;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin-bottom: 2rem;
	font-weight: 300;
	color: #ebebeb9a;
}

h2 {
	@include sflight;
	font-size: 2.5rem;
	text-transform: capitalize;
	letter-spacing: 3px;
	margin-bottom: 2rem;
	font-weight: 300;
	color: #ebebeb9a;

	@include media-breakpoint-down(lg) {
		font-size: 2.25rem;
	}
}

h3 {
	@include sfbold;
	font-size: 1.5rem;
	margin-top: 1rem;
}

p {
	font-size: 1.15rem;
	letter-spacing: 2px;
	max-width: 60ch;
	margin: auto;

	@include media-breakpoint-down(lg) {
		font-size: 1rem;
	}
}

h2,
p {
	@include media-breakpoint-down(lg) {
		text-align: center;
	}
}

a {
	text-decoration: none;
	color: $font-color;
	transition: 0.25s;

	&:hover {
		color: $blue-accent;
	}
}

// Layout
.f {
	display: flex;

	&-col {
		@extend .f;
		flex-direction: column;
	}

	&-row {
		@extend .f;
		flex-direction: row;
	}

	&-c {
		@extend .f;
		justify-content: center;
		align-items: center;
	}
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-contain {
	background-size: contain;
	background-repeat: no-repeat;
}

.bg-left {
	background-position: left center;
}

.bg-right {
	background-position: right center;
}

.bg-center {
	background-position: center;
}

.shadow {
	box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.65);
}

.sec-pad {
	padding: 8rem 0;

	@include media-breakpoint-down(lg) {
		padding: 4rem 2rem;
	}
}

// Components
.nav {
	position: fixed;
	padding: 1rem;
	top: 0;
	right: 0;
}

.header {
	height: 100vh;
	max-height: 1920px;
	background-image: url(./img/header-bg.jpg);

	@include media-breakpoint-down(lg) {
		height: 60vh;
	}

	img {
		width: 100%;

		@include media-breakpoint-up(lg) {
			max-width: 45rem;
		}
	}
}

.cta {
	background-color: $secondary-color;
	text-align: center;
	@extend .sec-pad;
}

.content-row {
	@extend .sec-pad;
	min-height: 50rem;

	@include media-breakpoint-down(lg) {
		min-height: 35rem;
	}
}

.nft-gif {
	@extend .sec-pad;
}

.slider {
	max-width: 100%;
}

.slide {
	transform: scale(0.75);
	transition: 300ms;
	opacity: 0.5;

	img {
		margin: 0 auto;
		@extend .shadow;
	}
}

.activeSlide {
	transform: scale(1);
	opacity: 1;
}

.arrow {
	cursor: pointer;
	position: absolute;
	z-index: 10;
	top: 50%;

	@include media-breakpoint-down(lg) {
		display: none;
	}

	svg {
		fill: $font-color;
		transition: 300ms;

		&:hover {
			fill: $blue-accent;
		}
	}

	&.prev {
		left: 0;
	}

	&.next {
		right: 0;
	}
}

.social {
	border: solid 1px $blue-accent;
	color: $font-color;
	background-color: transparent;
	transition: 0.25s;
	aspect-ratio: 1;
	width: fit-content;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.75rem;

	&:last-child {
		margin: 0;
	}

	&:hover {
		color: $blue-accent;
		svg {
			fill: $blue-accent;
		}
	}

	svg {
		margin: 0;
		font-size: 2rem;
		transition: 0.25s;
		cursor: pointer;
		fill: $font-color;
	}
}

.music {
	@extend .social;
	width: fit-content;
	aspect-ratio: auto;
	padding: 0 1rem;
	opacity: 1;
	animation: inOut 4s ease-in-out infinite;

	svg {
		margin-left: 0.5rem;
		font-size: 1.5rem;
	}
}

@keyframes inOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.cus-btn {
	padding: 0.75rem 1rem;
	border: solid 1px $blue-accent;
	font-size: 1.5rem;
	background: transparent;
	transition: 0.25s;

	&:hover {
		background-color: $blue-accent;
	}

	@include media-breakpoint-down(lg) {
		font-size: 1rem;
	}
}

.map {
	@extend .sec-pad;

	p {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-row {
		margin-top: 8rem;
		text-align: center;
	}
}

.merch {
	width: 50%;

	@include media-breakpoint-down(lg) {
		width: 70%;
	}
}

.team-card {
	p {
		margin: 2rem auto;
		font-size: 1.5rem;
		text-align: center;
	}
}

// Modal
.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 5;

	&-bg {
		background-color: rgba($black, 0.65);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-wrapper {
		position: relative;
		display: flex;
		justify-content: start;
		align-items: start;
		flex-direction: column;
		padding: 4rem;
		@extend .shadow;
		z-index: 6;
		max-width: 60rem;
		background-color: $main-color;
		overflow-x: hidden;
		overflow-y: scroll;
		max-height: 80vh;
		text-align: start;

		h2 {
			margin-top: 1rem;
		}

		p {
			max-width: 100%;
			margin: 0 0 1rem;
		}
	}

	&-btn {
		color: $font-color;
		background: transparent;
		border: none;
		transition: 0.25s;
		cursor: pointer;

		&:hover {
			color: $blue-accent;
		}
	}
}

.close {
	position: sticky;
	padding: 0.5rem;
	top: 0;
	right: 0;
	color: $font-color;
	background: transparent;
	border: none;
	transition: 0.25s;
	cursor: pointer;
	line-height: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;

	&:hover {
		color: $blue-accent;
	}
}

::-webkit-scrollbar {
	width: 0.75rem;
	background-color: $font-color;
}

::-webkit-scrollbar-track {
	background: $secondary-color;
}

::-webkit-scrollbar-thumb {
	background: $blue-accent;
}

.lightbox {
	position: fixed;
	height: auto;
	width: auto;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&-close {
		position: fixed;
		top: -2.5rem;
		right: -2.5rem;
		padding: 0.5rem;
		color: $font-color;
		background: transparent;
		border: none;
		transition: 0.25s;
		cursor: pointer;
		line-height: 1;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width: 100%;
	}

	&-bg {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(2px);
		width: 100vw;
		height: 100vh;
		z-index: 98;
		top: 0;
		left: 0;
	}
}

#showModal {
	display: block;
}

#hideModal {
	display: none;
}
