// Color system
$black: #000;
$white: #fff;
$xr-primary: #14aa7d;
$xr-secondary: #3860aa;
$xr-green: #4ea648;
$xr-light-green: #bed276;
$xr-light-blue: #75d0f1;

$gray-900: #212529;
$primary: $xr-primary;
$secondary: $xr-secondary;

// Options
$enable-validation-icons: false;

// Body
$body-color: $gray-900;

// Links
$link-color: $secondary;

// Typography
$font-family-base: 'Lucida Sans', serif;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3.5;
$h6-font-size: $font-size-base * .75;

$headings-font-family: 'FucXed', 'serif';
$headings-font-weight: bold;

$hr-color: #6c757d;

// Buttons
$btn-font-family: $headings-font-family;

// Forms
$input-btn-focus-width: 0;
$input-focus-border-color: $secondary;

$form-floating-height: 56px;
$form-floating-padding-y: .8rem;
$form-floating-input-padding-t: 1.525rem;
$form-floating-input-padding-b: .525rem;

// Navs
$nav-link-font-size: 1.2rem;
$nav-link-padding-y: 0;
$nav-link-padding-x: .5rem;

// Navbar
$navbar-brand-padding-y: 0;
$navbar-brand-font-size: 2rem;
$navbar-padding-y: .75rem;
$navbar-light-color: $white;
$navbar-dark-toggler-border-color: $white;

// Cards
$card-color: $body-color;

// Toasts
$toast-box-shadow: 0 .5rem 1rem rgba($black, .5);

// Modals
$modal-dialog-margin-y-sm-up: 3rem;
$modal-content-color: $black;
$modal-sm: 400px;
$modal-md: 80vw;

// Offcanvas
$offcanvas-title-line-height: 1;

// Import only bootstrap variables and functions (no styles), so
// that we can import this file in component files and
// use the variables we need without duplicating the styles.
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_utilities";

// Custom variables
$navbar-height: 69px;
$navbar-height-md: 80px;
$content-top: calc(#{$navbar-height} + #{$grid-gutter-width});
$sidebar-width: 300px;
