@import"variables";
@import"index";
@import"historia";
@import"productos";
@import"locales";
@import"contacto";

@mixin footerFormato ($grid, $align) {
  grid-area: $grid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgprincipal;
  background-image: $gradiente;
  font-family: 'Comfortaa', cursive;
  color: $colorletraprincipal;

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    color: $colorletraprincipal;
    font-family: $letrah2;
    font-size: 65px;
  }
}

header {
  .sectionIndexHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .logoHeader {
      border-radius: 200px;
      width: 200px;
    }
  }

  .navColorBg {
    background-color: $bgsecundario;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      a {
        color: $coloralternativoletra1;
        text-transform: uppercase;
        text-shadow: black;
        font-size: 18px;
        font-family: $letratexto;

        &:hover {
          transform: scale(1.2, 1.2);
          background-color: #747267;
          border-radius: 10px;
          color: #000000;

        }
      }
    }
  }
}


footer {

  .sectionFooter {
    display: grid;
    grid-template-areas: "div1 div2 div3";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    .div1 {
      grid-area: div1;
      margin: 10px;
      padding: 10px;
    }

    .div2 {
      @include footerFormato (div2, flex-end);

      h3 {
        font-family: $letratexto;
        font-size: 20px;
        color: $coloralternativoletra1;
      }
    }

    .div3 {
      @include footerFormato (div3, center);

      a {
        text-decoration: none;
        font-family: $letratexto;
        color: $coloralternativoletra1;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}