.header {
  height: 100vh;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-tertiary, 0.9),
      rgba($color-tertiary, 0.9)
    ),
    url(../img/Indianapolis.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__container {
    position: absolute;
    top: 20%;
    right: 50%;
    // background-color: $color-tertiary;
    // width: 40%;
    // border-radius: 25px;
  }

  &__speaker {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}
