@import "mixins.scss";
#AreaHlasenie2_ST8_GroupBox6 {
	@include elemTop(0);
}
#AreaHlasenie2_ST8_GroupBox6 {
	@include elemLeft(0);
}
#AreaHlasenie2_ST8_GroupBox6 {
	@include elemWidth(500);
}
#AreaHlasenie2_ST8_GroupBox6 {
	@include elemHeight(300);
}
#AreaHlasenie2_ST8_GroupBox6 {
		z-index: 0;
}
#AreaHlasenie2_ST8_GroupBox6 {
		border-width: 7px;
}
#AreaHlasenie2_ST8_GroupBox6 {
	> .header{
		border-width: 7px;
	}
}
#AreaHlasenie2_ST8_GroupBox6 {
	@include border-radius(6px 6px 6px 6px);
}
#AreaHlasenie2_ST8_GroupBox6 {
		background-color: rgba(255, 192, 128, 1);
}
#AreaHlasenie2_ST8_GroupBox6 {
		border-style: groove;
}
#AreaHlasenie2_ST8_GroupBox6 {
	> .header{
		border-bottom-style: groove;
	}
}
#AreaHlasenie2_ST8_GroupBox6 {
	> .header span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_GroupBox6 {
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
}
#AreaHlasenie2_ST8_Label1 {
	@include elemTop(57);
}
#AreaHlasenie2_ST8_Label1 {
	@include elemLeft(22);
}
#AreaHlasenie2_ST8_Label1 {
	@include elemAutoWidth(443);
}
#AreaHlasenie2_ST8_Label1 {
	@include elemAutoHeight(100);
}
#AreaHlasenie2_ST8_Label1 {
		z-index: 0;
}
#AreaHlasenie2_ST8_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Label1 {
	@include text-alignment-all('center');
}
#AreaHlasenie2_ST8_Label1 {
		font-size: 24px;
}
#AreaHlasenie2_ST8_Label1 {
	@include font-weight-bold(true);
}
#AreaHlasenie2_ST8_Label1 {
	span{
	@include text-decoration-underline(false);
	}
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include elemTop(205);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include elemLeft(55);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include elemAutoWidth(149);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include elemAutoHeight(45);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
		z-index: 1;
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include border-radius(10px);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(192, 255, 192, 1) 20%,rgba(0,255,0,1) 100%)');
	}
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	@include text-alignment(center);
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Button_OpatovnyDopyt {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include elemTop(205);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include elemLeft(277);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include elemAutoWidth(149);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include elemAutoHeight(45);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
		z-index: 2;
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include border-radius(10px);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, rgba(255, 192, 192, 1) 20%,rgba(255,0,0,1) 100%)');
	}
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	@include text-alignment(center);
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	&:not(.active):not(.checked){
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	&.disabled.active{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Button_OznacPaletkuNG {
	&.disabled.checked{
	@include box-shadow(4px 4px 14px rgba(0, 0, 0, 1));
	}
}
#AreaHlasenie2_ST8_Label4 {
	@include elemTop(13);
}
#AreaHlasenie2_ST8_Label4 {
	@include elemLeft(79);
}
#AreaHlasenie2_ST8_Label4 {
	@include elemAutoWidth(328);
}
#AreaHlasenie2_ST8_Label4 {
	@include elemAutoHeight(39);
}
#AreaHlasenie2_ST8_Label4 {
		z-index: 3;
}
#AreaHlasenie2_ST8_Label4 {
		border-width: 4px;
}
#AreaHlasenie2_ST8_Label4 {
	@include border-radius(2px);
}
#AreaHlasenie2_ST8_Label4 {
		background-color: rgba(169, 169, 169, 1);
}
#AreaHlasenie2_ST8_Label4 {
		border-color: rgba(0, 0, 0, 1);
}
#AreaHlasenie2_ST8_Label4 {
	&:before{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Label4 {
	&:after{
		border-color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Label4 {
		border-style: double;
}
#AreaHlasenie2_ST8_Label4 {
	&:before{
		border-style: double;
	}
}
#AreaHlasenie2_ST8_Label4 {
	&:after{
		border-style: double;
	}
}
#AreaHlasenie2_ST8_Label4 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#AreaHlasenie2_ST8_Label4 {
	@include text-alignment-all('center');
}
#AreaHlasenie2_ST8_Label4 {
		font-size: 20px;
}
#AreaHlasenie2_ST8_Label4 {
	@include font-weight-bold(true);
}
