@import '../../../../scss/variables';

.grid-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

:host ::ng-deep [gridCell] {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  .card-title {
    display: flex;
    justify-content: space-between;
    position: relative;

    &.left {
      justify-content: left;
    }
  }
  .card-title-text {
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  .total-legend {
    font-size: 12px;
    color: $white;
    display: flex;
    gap: 5px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px 5px;
    justify-content: center;

    &.treemap {
      left: calc(50% - 115px);
      border-radius: 10px 10px 0px 0px;
      bottom: 15px;
      padding: 5px;
      position: absolute;
      width: 230px;
    }

    div {
      border-radius: 3px;
      color: $white;
      display: flex;
      align-self: center;
      padding: 1px 4px;
      cursor: pointer;
      width: 47px;
      justify-content: center;
    }
    .good {
      background-color: $green-color;
    }
    .warn {
      background-color: $yellow-color;
    }
    .caution {
      background-color: $orange-color;
    }
    .late {
      background-color: $red-color;
    }
    .firm {
      background-color: $tertiary-color-b;
    }
    .forecast {
      background-color: $tertiary-color-a;
    }
    .buffer {
      background-color: $tertiary-color-c;
    }
  }
  .legend {
    font-size: 12px;
    color: $white;
    display: flex;
    gap: 5px;
    margin-left: 5px;

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      font-size: 14px;

      li {
        padding: 10px 0;
        &.all-color {
          color: $tertiary-color-b;
        }
        &.late-color {
          color: $red-color;
        }
        &.demand-color {
          color: $tertiary-color-a;
        }
      }
    }
  }
  .map-to {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      display: inline-block;
      border-width: 4px;
      border-style: solid;
      border-radius: 10px;
      position: relative;
      top: 3px;
      margin-left: 3px;
      cursor: pointer;
      border-color: $tertiary-color-c;
      background-color: $tertiary-color-c;
    }
  }
  .map-from {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      display: inline-block;
      border-width: 4px;
      border-style: solid;
      border-radius: 10px;
      position: relative;
      top: 3px;
      margin-left: 3px;
      border-color: $tertiary-color-a;
      background-color: $tertiary-color-a;
      cursor: pointer;
    }
  }
  .my-reports {
    color: $blue-color;
    cursor: pointer;
    margin-left: 20px;
  }
  .my-reports::before {
    content: '';
    border-left: 1px solid $white;
    position: absolute;
    width: 1px;
    height: 20px;
    margin-left: -10px;
  }
  .moreinfo-icon {
    display: flex;
    width: 10px;
    position: relative;
    margin-left: 3px;
    cursor: pointer;
    justify-content: flex-end;
    top: 4px;
    padding-right: 10px;
    margin-right: -10px;

    span {
      display: block;
      width: 2px;
      height: 2px;
      background-color: white;
      top: 10px;
      position: absolute;
    }
  }
  .moreinfo-icon::before {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
  }
  .moreinfo-icon::after {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
    top: 5px;
  }
  .card-icons {
    display: flex;
    position: relative;
  }
  .maximize-icon {
    content: '';
    width: 15px;
    height: 12px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 4px;
  }
  .maximize-icon::before {
    content: 'View Detailed Report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 0px;
    min-width: 0px;
    font-size: 12px;
    background: $blue-color;
    color: white;
    padding: 0px;
    top: -3px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.15s ease-out all;
    font-weight: 600;
    white-space: nowrap;
  }
  .maximize-icon:hover::before {
    content: 'View Detailed Report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 120px;
    font-size: 12px;
    background: $blue-color;
    padding: 2px 10px;
    top: -3px;
    border-radius: 3px;
  }
  .moreinfo-block {
    position: absolute;
    width: 0px;
    max-height: 0px;
    opacity: 0;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 0px 0px;
    background: #191818;
    top: -10px;
    right: -15px;
    font-size: 14px;
    transition: 0.3s ease-out all;
    overflow: hidden;
    border-color: #29272a;

    ul {
      margin: 0px 0px 5px;
      padding: 0;

      li {
        padding-bottom: 5px;
        font-size: 12px;
      }
    }

    button {
      font-size: 14px;
      padding: 6px 10px;

      span {
        border-radius: 50%;
        border: 1px solid white;
        width: 14px;
        height: 15px;
        display: inline-block;
      }
    }
  }
  .moreinfo-active {
    width: 190px;
    opacity: 1;
    padding: 5px 10px 10px;
    max-height: 150px;
    border-color: $grey-lightest;
  }
  .moreinfo-block .title {
    font-weight: 600;
  }
  .moreinfo-header {
    display: flex;
    justify-content: space-between;
  }

  a.close-more {
    transform: rotate(45deg);
    font-size: 30px;
    position: relative;
    top: -11px;
    right: -8px;
    cursor: pointer;
  }
  .menu-list ul {
    margin: 10px 0px;
    padding: 0px;
    border: 1px solid #333;
    max-height: 225px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px 0px 0px 10px;
  }

  .menu-list ul li {
    list-style: none;
    font-size: 14px;
    background-color: $black;
  }
  .menu-list ul li:nth-child(odd) {
    background-color: #111111;
  }
  .menu-list ul li:nth-child(1) a {
    font-weight: 600;
  }
  .menu-list ul li a {
    width: 100%;
    display: block;
    padding: 5px;
  }
  .menu-list ul li.active {
    background-color: $blue-color;

    a {
      font-weight: bold;
      color: white;
    }
  }
  .menu-list ul li:hover {
    background: darken($blue-color, 25%);
  }
}
:host ::ng-deep .card {
  display: block;

  &.card-body {
    background: $black;
    color: $grey-lighter;
    display: block;
    min-height: 200px;
    transition: background 0.5s;

    img {
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
      height: calc(100% - 35px);
    }
  }
}
:host ::ng-deep .card-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: calc(100% - 20px);
}
:host ::ng-deep .card-element {
  text-align: center;
  width: 100%;
  height: calc(100% - 10px);
  flex-direction: column;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  .lines-value {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lines-shipped {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .numbers {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .title {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .gridline {
    border-top: 1px solid white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .lines {
    padding: 20px 0px;
  }
}

:host ::ng-deep .filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:host ::ng-deep .filter-label {
  font-size: 12px;
  padding-bottom: 1px;
}

@media (min-width: 768px) and (max-width: 1399px) {
  ::ng-deep .card-items.part-overview {
    flex-direction: column;
  }
  :host ::ng-deep .card-element .title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  :host ::ng-deep [gridCell] {
    grid-column: span 3 !important;
  }
  :host ::ng-deep [gridCell] .left-side-content .total-legend {
    display: block;

    div {
      margin: 5px 0;
    }
  }
  ::ng-deep .card-title-text {
    font-size: 14px;
    letter-spacing: 0px !important;
  }
}

:host ::ng-deep .coming-soon {
  position: absolute;
  background: $white;
  transform: rotate(40deg);
  padding: 0 30px;
  color: $black;
  right: -30px;
  top: 38px;
  z-index: 1;
}
