#staffs--new {
  #staff_shop_field {
    p, li {
      position: relative;
      padding: 0 2vw;
      border-right:  1px solid $gray;
      border-left:   1px solid $gray;
      border-bottom: 1px solid $gray;
      i {
        position: absolute;
        font-size: 1em;
        top: 0.5em;
        bottom: 0.5em;
        right: 1vw;
        color: $blue;
      }
    }
  }
}

.nickname{
  font-size: 14px;
  text-align: center;
}

.staff--new--shop--label-container {
  @include clearfix();
  float: left;
  height: 30px;
  width: 100%;
  padding-top: 10px;
  float: left;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.staff--new--shop--label {
  font-family: 'HelveticaNeue';
  color: $thin-black;
  width:60px;
  float: left;
  font-size: 14px;
}

.staff--new--shop--search--result {
  @include clearfix();
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  //margin-bottom: 20px;
}

.staff--new--search--result--shop--detail {
  width: 100%;
  display: flex;
//justify-content: center;
  align-items: center;
}

.staff--edit--shop--search--result {
  @include clearfix();
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //margin-bottom: 20px;
}

.staff--edit--search--result--shop--detail {
  width: 100%;
  display: flex;
//justify-content: center;
  align-items: center;
}

.staff--new--search--result--shop--name {
  font-family: 'HelveticaNeue';
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.staff--new--grade--label-container {
  @include clearfix();
  //font-family: 'HelveticaNeue';
  height: 30px;
  width: 100%;
  //padding-top: 20px;
  float: left;
  display: flex;
  align-items: center;
}

.staff--new--grade--label {
  font-family: 'HelveticaNeue';
  color: $thin-black;
  font-size: 14px;
}

.staff--new--grade--label--after {
  //content: '必須';
  color: $white;
  background-color: $red;
  font-size: 11px;
  border-radius: 2px;
  margin-left: 8px;
  margin-bottom: 3px;
  //margin-bottom: 8px;
  font-family: 'HelveticaNeue';
  //display: block;
  width: 26px;
  height: 18px;
  text-align: center;
  padding: 0px 2px;
  //float: left;
}
