.userWrap {
  flex-direction: row;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: $softGrey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.banner h1 {
  color: $orange;
  font-size: 64px;
  line-height: 83px;
}

.userPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &--detail {
    flex-direction: column;
  }
  &--contact {
    padding-left: 6rem;
    padding-top: 0.5rem;
  }
  &--description {
    text-align: start;
  }
  &__city {
    color: $bordeaux;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: start;
    padding-bottom: 1rem;
  }
  &__citation {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #525252;
  }
  &__tag {
    padding-top: 1rem;
  }
}

.userDetailImg {
  align-self: flex-end;
  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-position: center 60%;
  }
}

.imgMin {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.photo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

video {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.userHeader {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 3rem;
  align-items: center;
}

.picDescription {
  color: $bordeaux;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  width: calc(100% - 20%);
}

.sortBy {
  padding-top: 3rem;
  &__text {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
  }
}

.tri {
  border: #777 1px solid;
  margin: 0 0 1.5em 0;
  overflow: hidden;
  background-color: $bordeaux;
  color: white;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.photoSection {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 350px;
  height: 350px;
}

.footerPhoto {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.likeSection {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
}

.nbLike {
  padding-right: 0.3rem;
  color: $bordeaux;
  font-weight: 500;
  font-size: 24px;
}

.contactSection {
  background-color: $saumon;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.25px;

  &--like {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 3rem;
    align-items: baseline;
  }

  & i {
    padding-left: 0.5rem;
    color: black;
  }
}

.bground {
  background-color: $saumon;
  padding: 2rem 2rem 2rem 2rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 5px;
  display: none;
}

.modal-title {
  font-weight: 400;
  font-size: 42px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

.formData {
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
  color: #312e2e;
  padding-top: 1rem;
}

.text-control {
  border-radius: 5px;
  width: 100%;
  height: 32px;
  font-size: 18px;
  background-color: white;
  border-style: none;

  &__message {
    height: 64px;
  }
}

.btn-submit {
  background-color: $bordeaux;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  appearance: none;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1rem;
}

.close {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

// MODAL LIGHT

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fefefe;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  background-color: #fefefe;
  max-height: 100%;
  margin: 3rem;
  vertical-align: middle;
}

.closeModal {
  color: $bordeaux;
  font-size: 55px;
  font-weight: bold;
  transform: translate(100%);
  max-height: 0px;
}
.closeModal:hover,
.closeModal:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: flex;
  flex-direction: column;

  & img,
  video {
    width: auto;
    height: auto;
    max-height: 700px;
    max-width: 100%;
    object-fit: cover;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 40%;
  padding: 1rem;
  color: $bordeaux;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  transform: translate(40%);
  border-radius: 0 5px 5px 0;
}

.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
  transform: translate(-100%);
}

.slideTitle {
  color: $bordeaux;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  padding-top: 1rem;
}

@media screen and (max-width: 1134px) {
  .logo {
    padding: 0;
  }

  .userPage {
    &--contact {
      position: fixed;
      left: 50%;
      margin-left: -85px;
      bottom: 5%;
      padding: 0;
    }
  }

  .openContact {
    height: 40px;
  }
}

@media screen and (max-width: 1019px) {
  .userWrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .photo {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  .imgMin {
    object-fit: cover;
    width: 100%;
  }
  .banner h1 {
    max-width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .userDetailImg {
    align-self: auto;
    padding-top: 1rem;
    &__img {
      width: 130px;
      height: 130px;
    }
  }
  .banner h1 {
    width: auto;
  }

  .banner {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 671px) {
  .userDetailImg {
    &__img {
      width: 100px;
      height: 100px;
    }
  }

  .banner h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 490px) {
  .banner h1 {
    font-size: 20px;
  }

  .contactSection {
    display: none;
  }

  .userPage {
    &__city {
      font-size: 18px;
    }
    &__citation {
      font-size: 18px;
    }
  }
}
