*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
 /*  background-image: url(/projects/music_blog/img/background2.png); */
 background-image: url(/projects/music_blog/img/backgroun3.png);
}

/* @media (prefers-reduced-motion: no-preference) {
  body {
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0;
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-margin: 15vh;
  }
}
 */
$header_height: 12.6vh;
$section_height: 83.4vh;
$div_a_height: 51.8vh;
$div_b_height: 31.6vh;
$gr_a_height: 61.8vh;
$gr_b_height: 38.2vh;

$headline: "Spartan";
$menu: "Balsamiq Sans";
$span: "Nerko One";

$deeporange: rgba(255, 85, 1, 1);
$orange: rgba(249, 116, 31, 1);
$blue: rgba(2, 134, 254, 1);
$deepblue: rgba(41, 0, 226, 1);
$lightblue: rgba(179, 224, 246, 1);
$fluorescentyellow: rgba(247, 255, 0, 1);
$yellow: rgba(223, 195, 2, 1);
$brighyellow: rgba(243, 236, 43, 1);
$pink: rgba(244, 8, 158, 1);
$lightcoral: rgba(255, 182, 156, 1);
$lightpink: rgba(241, 196, 219, 1);
$bluepurple: rgba(102, 0, 205, 1);
$purple: rgba(179, 0, 255, 1);
$deepred: rgba(193, 32, 3, 1);
$pinkred: rgba(255, 0, 77, 1);
$red: rgba(255, 51, 0, 1);
$fluoerescentturqois: rgba(0, 255, 179, 1);
$fluorescentgreen: rgba(0, 244, 105, 1);
$brightluorescentgreen: rgba(26, 255, 125, 1);
$deepgreen: rgba(2, 137, 1, 1);

$menugradient: linear-gradient(
  20deg,
  rgba(255, 85, 1, 1) 0%,
  rgba(255, 85, 1, 1) 10%,
  rgba(0, 255, 179, 1) 100%
);

$headergradient: linear-gradient(
  250deg,
  rgba(255, 255, 255, 0) 11.5%,
  rgba(0, 255, 179, 1) 11.5%
);

@mixin center_section {
  width: 95vw;
  margin-bottom: 2.5vw;
  margin-left: auto;
  margin-right: auto;
}

@mixin span_position ($top, $left){
  position: absolute;
    display: block;
    top: $top;
    left: $left;
}

@function shadow-string($color1, $color2, $length) {
  $total-length: $length;
  $string: $color1 0 0;
  @while $length > 0 {
    $mix-amount: 100 - (($length / $total-length) * 100);
    $mixed-color: mix($color1, $color2, $mix-amount);
    $string-addition: -$length + px $length + px;
    $string: $mixed-color $string-addition, $string;
    $length: $length - 1;
  }
  @return $string;
}

@mixin longshadow($color1, $color2, $length) {
  text-shadow: shadow-string($color1, $color2, $length);
}



header {
  position: fixed;
  top: 1vh;
  left: 1vw;
  height: $header_height;
  background: $headergradient;
  width: 98vw;
  display: grid;
  grid-template-columns: 38.2% 61.8%;
  z-index: 4;
  h1 {
    display: block;
    --contentWidth: 38.2vw;
    padding: 1rem calc((100% - var(--contentWidth)) / 2);
    font-family: $headline;
    font-size: clamp(2rem, 1.4286rem + 2.381vw, 6rem);
    font-weight: 500;
    color: $fluoerescentturqois;
    text-align: center;
    @include longshadow($deeporange, $fluoerescentturqois, 90);
    overflow: hidden;
    span {
      display: block;
      &:nth-child(2) {
        text-indent: 25px;
      }
    }
  }
  nav {
    display: flex;
    --contentWidth: 61.8vw;
    height: 100%;
    padding: 0.5rem calc((100% - var(--contentWidth)) / 2);
    ul {
      align-self: flex-end;
      display: flex;
      justify-content: flex-start;
      height: 105%;
      width: 100%;
      margin-right: 2vw;
      li {
        list-style-type: none;
        align-self: flex-end;
        display: inline-block;
        height: 100%;
        width: 28%;
        text-align: right;
        .menu_div {
          height: 100%;
          display: flex;
          justify-content: flex-end;
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: transparent;
            transition: width .3s;
          }
          &:hover::after {
            width: 900%;
            transition: width .3s;
          }
          a {
            text-decoration: none;
            align-self: flex-end;
            white-space: nowrap;
            width: 100%;
            color: $deeporange;
            font-size: clamp(1rem, 0.7143rem + 1.1905vw, 3rem);
            font-family: $menu;
          }
        }
        &:hover .menu_div {
          transform: skew(20deg);
          background: $menugradient;
          a {
            display: block;
            color: $fluoerescentturqois;
            margin-right: 1vw;
          }
        }
      }
    }
  }
}



main {
  margin-top: 14.5vh;
  section {
    height: $section_height;
    @include center_section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $div_a_height $div_b_height;
    .div_a.left {
      grid-area: 1/1/2/2;
      margin-right: 1.25vw;
      position: relative;
      display: grid;
      grid-template-columns: 10px 1fr 10px;
      grid-template-rows: 10px 1fr 10px;
      img {
        width: 100%;
        max-width: 200px;
        justify-self: center;
        grid-area: 2/2/3/3;
      }
    }
    .div_a.right {
      position: relative;
      margin-left: 1.25vw;
      grid-area: 1/2/2/2;
    }
    .div_b {
      position: relative;
      margin-top: 2.5vw;
      grid-area: 2 / 1 / 3 / 3;
      display: flex;
      justify-content: center;
      background: linear-gradient(to top, $purple, transparent);
      .topjump {
        align-self: flex-end;
        padding-bottom: 2rem;
        font-family: $menu;
        font-size: 2rem;
        text-decoration: none;
      }
    }
  }
}

img {
  border-radius: 40%;
}

.self_text_background {
  height: 100%;
  width: 100%;
  background: $fluorescentyellow;
  clip-path: polygon(80% 0%, 0% 80%, 90% 90%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.projects_text_background {
  height: 100%;
  width: 100%;
  background: $fluorescentyellow;
  clip-path: polygon(80% 0%, 0% 80%, 90% 90%);
  overflow: hidden;
  position: absolute;
  z-index: -4;
  top: 0;
  left: 0;
}

.contact_text_background {
  height: 100%;
  width: 100%;
  background: $fluorescentyellow;
  clip-path: polygon(80% 0%, 0% 80%, 90% 90%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.about_text_background {
  height: 100%;
  width: 100%;
  background: $fluorescentyellow;
  clip-path: polygon(80% 0%, 0% 80%, 90% 90%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.self_text {
  position: absolute;
  top: 0;
  left: 0;
}

.contact_text {
  position: absolute;
  top: 0;
  left: 0;
}
.projects_text {
  position: absolute;
  top: 0;
  left: 0;
 /*  z-index: 100; */
}
.about_text {
  position: absolute;
  top: 0;
  left: 0;
}

.self-text article {
  display: grid;
  width: 100%;
  height: $div_a_height;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  .wavy-text{
    margin-top: 10%;
    padding-left: 2%;
    color: $purple;
    -webkit-text-stroke: 0.5px white;
    filter:url('#wavy');
    @include longshadow($purple,$purple , 2);
    font-family: $headline;
    font-size: clamp(2rem, 1.5714rem + 1.7857vw, 5rem);
    z-index: 1;
    grid-area: 1 / 1 / 3 / 2;
   }
}


.projects_text {
  article {
    width: 100%;
    height: $div_a_height;
    grid-area: 2 / 2 / 3 / 3;
    justify-self:center;
    overflow: visible;
    .wavy-text{
      margin-top: 10%;
      padding-left: 2%;
      color: $purple;
      -webkit-text-stroke: 0.5px white;
      filter:url('#wavy');
      @include longshadow($purple,$purple , 2);
      font-family: $headline;
      font-size: clamp(2rem, 1.5714rem + 1.7857vw, 5rem);
      z-index: 1;
      
     }
  }
}

.contact_text {
  article {
    width: 100%;
    height: $div_a_height;
    grid-area: 2 / 2 / 3 / 3;
    justify-self:center;
    overflow: visible;
    .wavy-text{
      margin-top: 10%;
      padding-left: 2%;
      color: $purple;
      -webkit-text-stroke: 0.5px white;
      filter:url('#wavy');
      @include longshadow($purple,$purple , 2);
      font-family: $headline;
      font-size: clamp(2rem, 1.5714rem + 1.7857vw, 5rem);
      z-index: 1;
      
     }
  }
}

.about_text {
  article {
    width: 100%;
    height: $div_a_height;
    grid-area: 2 / 2 / 3 / 3;
    justify-self:center;
    overflow: visible;
    .wavy-text{
      margin-top: 10%;
      padding-left: 2%;
      color: $purple;
      -webkit-text-stroke: 0.5px white;
      filter:url('#wavy');
      @include longshadow($purple,$purple , 2);
      font-family: $headline;
      font-size: clamp(2rem, 1.5714rem + 1.7857vw, 5rem);
      z-index: 5;
      
     }
  }
}

#slider {
  padding-top: 10vh;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translateZ(0);
  transition: all 0.5s ease-out;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slider .slidediv img {
  border-radius: 0;
  width: 50%;
  height: auto;
}
#slides .inner {
  width: 500%;
  line-height: 0;
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#slides .slidediv {
  width: 20%;
  float: left;
}
#slide1:checked ~ #active label:nth-child(1), 
#slide2:checked ~ #active label:nth-child(2), 
#slide3:checked ~ #active label:nth-child(3), 
#slide4:checked ~ #active label:nth-child(4), 
#slide5:checked ~ #active label:nth-child(5) {
    background: #333;
    border-color: #333 !important;
}
label, #active, img {
    -moz-user-select:none;
    -webkit-user-select:none;
}

#slide1:checked ~ #slides .inner {
    margin-left:0;
}
#slide2:checked ~ #slides .inner {
    margin-left:-100%;
}
#slide3:checked ~ #slides .inner {
    margin-left:-200%;
}
#slide4:checked ~ #slides .inner {
    margin-left:-300%;
}
#slide5:checked ~ #slides .inner {
    margin-left:-400%;
}


.projects_background {
  width: 100%;
  height:100%;
  background: $deeporange;
  clip-path: polygon(10% 10%, 10% 80%, 90% 90%, 90% 0%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.contact {
  form {
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    grid-area: 2 / 2/ 3 / 3;
    label {
      font-family: $headline;
    }
    input{
      width: 50%;
    }
  }
}


@media screen and (min-width:1045px){
  header {
    height: 18vh;
  }
  header h1 {
    font-size: 6rem;
    --contentWidth: 38.2vw;
    padding: 0.7rem calc((100% - var(--contentWidth)) / 2);
    @include longshadow($deeporange, $fluoerescentturqois, 120);
  }
  main{
    margin-top: 22vh;
    scroll-margin: 22vh;
  }
}




