@import "color";
// BG SOLO
$bg-uni:no;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:yes;
$picture-bg-url:'../images/bg-wrapper.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:0;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// SIZE NAVIGATION
$height-navigation:65;

// VAR SITE TYPO
$font-body:"Yrsa",Georgia,serif;
$font-title:"Yrsa",Georgia,serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES9
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


//--------------------------------------------------------------------------------------
//    PERSO IDLG28
//--------------------------------------------------------------------------------------

// SUPPRESSION DEGRADE HEADER
.navigation {
background-image:none;}

.ie8 .navigation, .ie9 .navigation {
filter:none;
}

.icon-v5-heart:before{ color:$color-icone-cdc;}
.icon-v5-heart.opacity-4{opacity:1;}

.cookie-banner {
  background-color: $color-primary;
  color: $color-nav-footer;
}

.text_cookies .button_submit {
  background-color: $color-action !important;
}


.rounded-200 {
    border: 2px solid $color-secondary;
}


//--------------------------------------------------------------------------------------
//    MENU & NAV
//--------------------------------------------------------------------------------------

.menu-principal>li>a {
color:$color-nav-footer;
padding: 10px 8px;
font-size:1.20em;
font-weight: bold;
background-color:transparent;
&:hover {
color:$color-secondary;
}
}

.logo img {
  padding: 8px 2px;
}

@media only screen and (max-width : 767px) {
header .logo img {
width: 70%;
}
}

.navigation {
  border-top: 4px solid $color-important;
  border-bottom:2px solid $color-secondary;
  @include box-shadow(0px 2px 3px 0px $color-nav-footer);
}


//--------------------------------------------------------------------------------------
//    INDEX
//--------------------------------------------------------------------------------------

.btn-important {color:$color-action;}


//--------------------------------------------------------------------------------------
//    FOOTER
//--------------------------------------------------------------------------------------

.bg-secondary-footer {
    border-bottom: 4px solid $color-important;
    border-top: 4px solid $color-important;
}

//--------------------------------------------------------------------------------------
//    DETAIL
//--------------------------------------------------------------------------------------
.breadcrumb {background-image: linear-gradient(to bottom, $color-block 0%,$color-block 100%);}
