
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'app/constants.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kation-primary: mat.define-palette(mat.$indigo-palette);
$kation-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kation-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kation-theme: mat.define-light-theme((
  color: (
    primary: $kation-primary,
    accent: $kation-accent,
    warn: $kation-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kation-theme);

/* You can add global styles to this file, and also import other style files */

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


html, body { height: 100%; }

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
    max-width: 1500px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.margin {
    &-top {
        &-50 {
            margin-top: 50px;
        }
    }
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &-40 {
        flex: 1;
    }

    &-60 {
        flex: 2;
    }
}

.view {
    padding-top: 100px;

    section {
        display: flex;
        padding: 0 20px;
        position: relative;

        .with-bg {
            background-color: $blue-grey;
            flex: 1.5;
            padding: 30px;
            height: 100%;

            .section-title {
                background-color: $dark-blue;
                width: 50%;
                padding: 10px 30px;
                margin-left: -50px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bolder;
                font-size: 1.2rem;
            }

            p {
                font-size: .85rem;
                line-height: 1.5;
                width: 80%;
            }
        }

        .plain {
            flex: 1;
            padding: 30px;

            .image-border {
                .content {
                    .border {
                        border: 3px solid $green-blue;
                        border-radius: 25px;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                }
            }
        }
    }

    .service {
        padding: 0;
        display: block;
        
        .section-title {
            background-color: $orange;
            width: 30%;
            padding: 10px 30px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bolder;
            font-size: 1.2rem;
        }
    }

    // @include keyframes(fade){
    //     0% {
    //         opacity: 0;
    //     }
    //     50% {
    //         opacity: 0.7;
    //     }
    //     100% {
    //         opacity: 1;
    //     }
    // }

    // @include animate(fade, 0.3s, linear, 1);
}

.center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.btn {
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;

    a {
        pointer-events: none;
    }

    &-green {
        background-color: $green-blue;
        border: 2px solid white;
        color: white;
    }

    &-blue {
        background-color: $dark-blue;
        color: white;
        border: 2px solid white;
    }

    &-orange {
        background-color: #ED672C;
        color: white;
    }

    &-orange-outline {
        border: 1px solid #ED672C;
        color: #ED672C;
        background-color: transparent;
    }

    &-outline {
        background-color: transparent;
        color: white;
    }

    &-slide {
        color: #FFF;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #D80286;
        transition: ease-out 0.6s;

        &:hover {
            box-shadow: inset 400px 0 0 0 #D80286;
        }
    }
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.50);
}

.mat-dialog-container {
    position: relative;
    border-radius: 25px !important;
    padding: 50px 24px !important;
    transition: all 0.3s;
    transform: scale(0.5);
}

.mat-dialog-content {
    overflow: hidden !important;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.type-container {
    justify-content: space-around;

    .radio-wrapper {
        flex: 1;
        position: relative;

        input {
            visibility: hidden;
        }

        label {
            text-align: center;
            margin: 0 10px;
            border-radius: 50px;
            cursor: pointer;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
            display: block;
            padding: 10px 0;
            text-transform: uppercase;
            color: white;
        }

        .customer {
            background-color: #18488A;
            border: 2px solid #18488A;
            box-shadow: inset 0 0 0 0 #18488A;
    
            &:hover {
                box-shadow: inset 400px 0 0 0 white;
                color: #18488A;
            }
        }

        .supplier {
            background-color: #F4BA6D;
            border: 2px solid #F4BA6D;
            box-shadow: inset 0 0 0 0 #F4BA6D;
    
            &:hover {
                box-shadow: inset 400px 0 0 0 white;
                color: #F4BA6D;
            }
        }
    
        .reseller {
            background-color: #466F7A;
            border: 2px solid #466F7A;
            box-shadow: inset 0 0 0 0 #466F7A;
    
            &:hover {
                box-shadow: inset 400px 0 0 0 white;
                color: #466F7A;
            }
        }

        #customer:checked ~ .customer {
            box-shadow: inset 400px 0 0 0 white;
            color: $dark-blue;
        }

        #supplier:checked ~ .supplier {
            box-shadow: inset 400px 0 0 0 white;
            color: $yellow;
        }

        #reseller:checked ~ .reseller {
            box-shadow: inset 400px 0 0 0 white;
            color: $green-blue;
        }
    }
}

.mat-select {
    border-bottom: 1px solid grey;
    padding: 10px 0 10px 25px;
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        left: 5px;
        bottom: 13px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 15px;
    }
}

.business::before {
    background-image: url('assets/images/icons/icon-1.png');
}

.looking::before {
    background-image: url('assets/images/icons/icon-2.png');
}

.company::before {
    background-image: url('assets/images/icons/icon-3.png');
    background-size: 100% 70%;
}

.tech::before {
    background-image: url('assets/images/icons/icon-4.png');
}

.with-input {
    div {
        flex: 1;
    }

    .input {
        padding: 10px;
        box-sizing: border-box;

        label {
            margin-top: 5px;
            flex: 1;
        }

        input {
            margin-left: 10px;
            appearance: none;
            border: 0;
            border-bottom: 1px solid black;
            text-align: center;
            padding: 5px 0;
            flex: 1;
        }
    }
}

.back {
    position: relative;
    padding: 10px 0 10px 15px;
    margin: 0 0 0 10px;
    cursor: pointer;

    a {
        color: white;
        text-transform: uppercase;
        font-size: .85rem;
    }
    
    &:before {
        content: ' ';
        background-image: url('assets/images/icons/back.png');
        background-repeat: no-repeat;
        background-size: 8px 10px;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 5px;
        top: 15px;
    }
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: $green-blue;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid $green-blue;
    border-right: 12px solid transparent;
    border-top: 12px solid $green-blue;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

@media (max-width: $large-screen) {
    body {
        max-width: 1200px;
        margin: auto;
    }
}

@media (max-width: $tablet) {
    .view {
        padding-top: 80px;

        section {
            flex-direction: column;
        }
    }

    .mat-dialog-content {
        overflow: auto !important;
    }
}