.questions {
    background-image: url(../img/shape-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f6f6;

    &__container {
        padding-top: 80px;
        padding-bottom: 80px;
        @media (max-width: 1024px) {
            padding-top: 60px;
            padding-bottom: 60px;
            max-width: 550px;
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @media (max-width: 576px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__title {
        max-width: 528px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 34px;
            max-width: 400px;
        }
        @media (max-width: 576px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
            max-width: 350px;
        }
        @media (max-width: 360px) {
            font-size: 18px;
            line-height: 23.4px;
            margin-bottom: 20px;
            max-width: 250px;
        }
    }

    &__accordion {
        @media (max-width: 1024px) {
            margin-bottom: 30px;
        }
    }

    &__content {
        display: grid;
        column-gap: 60px;
        align-items: flex-start;
        grid-template-columns: auto 1fr;
        @media (max-width: 1024px) {
            display: block;
        }
    }

    &-right {
        min-width: 400px;
        
        @media (max-width: 576px) {
            min-width: auto;
        }

        &__form {
            padding: 42px 40px;
            background-color: #fff;
            box-shadow: 0 64px 134px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 25px;

            @media (max-width: 576px) {
                padding: 30px 20px;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 576px) {
                flex-direction: column;
            }
        }
    }

    &-contacts {
        display: flex;
        align-items: center;

        &__desc {
            font-family: "FuturaPT", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: #212121;
            max-width: 98px;
            @media (max-width: 576px) {
                max-width: none;
                margin-bottom: 15px;
            }
        }

        &__social {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &-item {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background-color: #fff;

                svg {
                    display: block;
                    width: 16px;
                    object-fit: cover;
                }
            }
        }
        
        &__tell {
            span {
                display: block;
                color: #212121;
                margin-bottom: 3px;
            }
            
            a {
                font-size: 20px;
                line-height: 25px;
                color: #212121;
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 32px;
            line-height: 35.2px;
            margin-bottom: 14px;
            @media (max-width: 576px) {
                font-size: 23px;
                line-height: 25px;
                margin-bottom: 10px;
            }
            @media (max-width: 360px) {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }

        &__desc {
            margin: 0;
            margin-bottom: 21px;
            font-size: 16px;
            line-height: 25.6px;
            color: #212121;
            @media (max-width: 576px) {
                font-size: 14px;
                line-height: 22.4px;
                margin-bottom: 20px;
            }
        }

        &__input {
            padding: 22px 27px;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 15px;
            @media (max-width: 576px) {
                padding: 18px 20px;
            }
        }

        &__btn {
            padding: 27px 0 23px;
            font-size: 14px;
            line-height: 14px;
            @media (max-width: 576px) {
                padding: 20px 0 16px;
            }
        }
    }
}