/*Миксины*/
/*Миксины*/
/*Подключение шрифтов*/
//&subset=cyrillic-ext (подключение кириллицы)
//&display=swap (влияет на оптимизацию)

@import url("https://fonts.googleapis.com/css?family=Saira:regular,500,600,italic,600italic&subset=cyrillic-ext&display=swap");
/*Подключение шрифтов*/

//<Шрифт по умолчанию>
//</Шрифт по умолчанию>
/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
active {
   outline: none;
}
a:focus,
s:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   font-family: "Saira";
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   font-weight: 500;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
//<ПЕРЕМЕННЫЕ>
//</ПЕРЕМЕННЫЕ>

//<ОБОЛОЧКА, убирает горизонтальный скрол при уменьшении экрана>
.wrapper {
   min-height: 100%;
   overflow: hidden; /*избаляет от горизонтального скрола, если добавить это дл body, то не сможем вертикально скролить сайт*/
   display: flex;
   flex-direction: column;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
._container {
   padding: 0 10px;
   max-width: 964px;
   margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>

/*..ШАПКА..................................................*/

.header {
   height: 88px;
   /*зафикисровать меню при скролле*/
   background: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   opacity: 0.97;
   border-bottom: 1px solid #828282;
   @media (max-width: 992px) {
      height: 60px;
   }
   @media (max-width: 550px) {
      height: 80px;
   }

   &__container {
   }

   &__menu {
      font-size: 18px;
      line-height: 22 / 18 * 100%;
      color: #adbdc0;
      font-weight: 600;
   }
}
.menu {
   @media (max-width: 992px) {
      height: 60px;
      @media (max-width: 550px) {
         height: 80px;
      }
   }
   &__body {
   }
   &__list {
      height: 88px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      padding: 10px 0px;
      @media (max-width: 992px) {
         height: 60px;
      }
      @media (max-width: 550px) {
         height: 80px;
         flex: 0 1 50%;
      }
      li {
         margin: 0px 10px;
         @media (max-width: 550px) {
            margin: 0px 20px;
         }
      }
   }

   &__link {
      color: inherit;
      &:hover {
         color: #314249;
         font-size: 20px;
      }
   }
}

/*..ШАПКА..................................................*/

/*---PAIG--------------------------------------------------*/
.page {
   padding: 88px 0px 0px 0px;
   @media (max-width: 768px) {
      padding: 60px 0px 0px 0px;
   }

   &__hello {
   }
   &__aboutme {
   }
   &__skills {
   }
   &__hobby {
   }
   &__contacts {
   }
}
/*---PAIG--------------------------------------------------*/

/*---HEADER-BLOCK--------------------------------------------------*/

.header-block {
   text-align: center;
   &__title {
      font-size: 34px;
      line-height: 42 / 34 * 100%;
      font-weight: 600;
      color: #314249;
      @media (max-width: 992px) {
         font-size: 30px;
      }
      @media (max-width: 768px) {
         font-size: 28px;
      }
   }
   &__subtitle {
      margin: 30px 0px 40px 0px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22 / 18 * 100%;
      @media (max-width: 992px) {
         margin: 20px 0px 30px 0px;
      }
      @media (max-width: 768px) {
         margin: 20px 0px 20px 0px;
      }
   }
}
/*---HEADER-BLOCK--------------------------------------------------*/

/*..HELLO..................................................*/
.hello {
   padding: 38px 0px 70px 0px;
   @media (max-width: 670px) {
      padding: 30px 0px 40px 0px;
   }
   &__container {
      max-width: 850px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 670px) {
         text-align: center;
         flex-direction: column-reverse;
      }
   }

   &__content {
      padding: 5px 80px 0px 0px;
      :last-child {
         margin: 0;
      }
      @media (max-width: 992px) {
         padding: 0px 50px 0px 0px;
      }
      @media (max-width: 670px) {
         padding: 0px;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 44px;
      line-height: 60 / 44 * 100%;
      color: #314249;
      margin: 0px 0px 25px 0px;
      @media (max-width: 670px) {
         padding: 20px 0px 0px 0px;
         margin: 0 auto;
      }
   }

   &__text {
      font-size: 18px;
      line-height: 23 / 16 * 100%;
      margin: 0px 0px 20px 0px;
      @media (max-width: 670px) {
         margin: 0px 0px 10px 0px;
      }
   }

   &__link {
      color: inherit;
      color: #000;
      font-size: 18px;
      line-height: 23 / 16 * 100%;
      :hover {
         text-decoration: underline;
      }
      :active {
         color: #54afc9;
      }
   }

   &__avatar {
      flex: 0 0 230px;
      height: 230px;
      order-radius: 30%;
      margin: 0 auto;
      padding: 30px 0px;
      @media (max-width: 670px) {
         flex: 0 0 200px;
         max-width: 200px;
      }
      img {
         border-radius: 10%;
         max-width: 100%;
      }
   }
}

/*..HELLO..................................................*/

/*..SKILLS..................................................*/

.skills {
   background: #edfbff;
   padding: 60px 0px 60px 0px;
   @media (max-width: 992px) {
      padding: 50px 0px 80px 0px;
   }
   @media (max-width: 768px) {
      padding: 40px 0px 20px 0px;
   }

   &__header {
      margin: 0px 0px 60px 0px;
      @media (max-width: 992px) {
         margin: 0px 0px 50px 0px;
      }
      @media (max-width: 768px) {
         margin: 0px 0px 40px 0px;
      }
   }
   &__title {
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}

.body-programs {
   &__content {
      background: #fff;
      border-radius: 10px;
      border-bottom: 3px solid #3e7c8f;
      margin: 0px 10px 20px 10px;
   }
   &__text {
      text-align: center;
      margin: 20px 0px 10px 0px;
      color: #070707;
      font-size: 16px;
   }

   &__column {
      display: flex;
      justify-content: center;
   }

   &__item {
   }

   &__icon {
      margin: 15px;
      img {
         height: 100px;
      }
      @media (max-width: 768px) {
         min-height: 100px;
      }
   }
}
/*..SKILLS..................................................*/

/*..ABOUTME..................................................*/

.aboutme {
   padding: 60px 0px 60px 0px;

   @media (max-width: 992px) {
      padding: 50px 0px 50px 0px;
   }
   @media (max-width: 768px) {
      padding: 40px 0px 40px 0px;
   }
   &__container {
   }
   &__header {
      margin: 0px 0px 35px 0px;
      @media (max-width: 992px) {
         margin: 0px 0px 30px 0px;
      }
   }

   &__items {
      font-size: 18px;
      color: #070707;
      line-height: 22 / 18 * 100%;
      @media (max-width: 768px) {
         font-size: 16px;
      }
   }

   &__text {
      text-align: center;
      margin: 0px 0px 30px 0px;
      &:last-child {
         margin: 0px;
      }
      @media (max-width: 992px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &_container {
   }
}

/*..ABOUTME..................................................*/

/*..HOBBY..................................................*/

.hobby {
   background: #edfbff;
   padding: 60px 0px 50px 0px;
   @media (max-width: 992px) {
      padding: 50px 0px 40px 0px;
   }
   @media (max-width: 768px) {
      padding: 30px 0px 30px 0px;
   }
   &__container {
   }

   &__header {
      margin: 0px 0px 20px 0px;
      @media (max-width: 992px) {
         margin: 0px 0px 35px 0px;
      }
      @media (max-width: 768px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__items {
      padding: 10px 0px 10px 0px;
   }
}

.items-hobby {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

   &__item {
      text-align: center;
   }
   img {
      margin: 0px 30px 10px 0px;
      max-height: 190px;
      @media (max-width: 550px) {
         margin: 0px 15px 20px 15px;
      }
   }
}

/*..PORTFOLIO..................................................*/

/*..CONTACTS..................................................*/

.contacts {
   padding: 80px 0px 20px 0px;
   text-align: center;
   @media (max-width: 992px) {
      padding: 50px 0px 15px 0px;
   }
   @media (max-width: 768px) {
      padding: 40px 0px 10px 0px;
   }

   &__container {
   }

   &__header {
      margin: 0px 0px 20px 0px;
   }

   &__text {
      margin: 0px 0px 20px 0px;
   }

   &__button {
      background: #070707;
      color: #fff;
      border-radius: 30px;
      display: flex;
      min-height: 42px;
      max-width: 180px;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 22 / 18 * 100%;
      text-align: center;
      padding: 5px 24px;
      margin: 0 auto;

      &:hover {
         background: #6b6a6a;
      }
   }
}
/*..CONTACTS..................................................*/

/*..FOOTER..................................................*/
.footer {
   padding: 40px 0px 40px 0px;
   text-align: center;
   line-height: 17 / 14 * 100%;
   color: #828282;
   font-size: 18px;
   @media (max-width: 992px) {
      padding: 15px 0px 40px 0px;
   }
   @media (max-width: 768px) {
      padding: 10px 0px 30px 0px;
   }

   &__container {
   }
}

/*..FOOTER..................................................*/
