/* Paquetes seccion promociones */

$negro: rgb(0, 0, 0);
$amarillo: #F7760C;
$naranja: #D9490B;
$rojo1: #F02400;
$rojo2: #D90B0B;
$rosa: #F70C7E;

/* Promociones */
.imgTamaño img{
  width: 100%;
}

/* Promociones carousel */
.carousel-item img{
  height: 890px;
  width: 100%;
} 


.promos {
  display: block;
text-align: center;
  font-size: 18px;
  font-family: "Lato", sans-serif; 
  line-height: 1.6;
  width: 880px;
height: 500px;
  margin: 2rem auto;
}
  
  .precios-tabla {
  width:250px;
  margin: auto;
  background: #fff;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.4);
  transition: .25s;
  position: relative;
  margin: 1rem;

  &:hover  {
    z-index: 10;
    transform: scale(1.15);
    cursor: pointer;
  }
  
  &__cabeza {
    min-height: 150px;
    background: $rosa;
    color: #fff;
    padding: 0 0 30px;
    &--uno {
      background:$amarillo;
      color: #FFF;
    }
    
    &--tres {
      background:$rojo1;
      color: #fff;
    }
  }
  
  &__paquete {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 700;
    padding: 7px;
    background: rgba(0,0,0,.1);
    margin-bottom: 1.5em;
  }
  
  &__precio {
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    position: relative;
    &:after, &:before {
        font-size: .5em;
    }
    &:before {
      content: "$";
      top: 0;
      margin-left: -20px;
      position: absolute;
    }
    
  }
  
  &__info {
    padding: 15px 20px 2px;
    color: #999;
  
    
    li {
      padding-bottom: 1em;
      border-bottom: 1px solid rgba(0,0,0,0.15);
      margin-bottom: 1em;
      &:last-child {
        border: 0;
      }
    }
  }
  }





// RESPONSIVE
// Tablet

@media(min-width: 600px) and (max-width: 1023px){
  .carousel-item img{
    height: 600px;
  } 
 
  .precios-tabla {
    width: 29%;
    &__cabeza {
      min-height: 158px;
    }

    &__precio {
      font-size: 3em;
  
  }
    
  &__info {
    padding: 20px;
    color: #999;
  }
}
}

//   Smartphone
@media(min-width:320px) and (max-width: 599px){
  .carousel-item img{
    height: 350px;
  } 
 
  .precios-tabla {
    width: 15%;
    &__cabeza {
      min-height: 100px;
    }

    &__precio {
      font-size: 2em;
    }
      
  &__info {
    padding: 10px;
    color: #999;
  }
  }
};