.feed {
flex: 0.4;
border-right: 3px solid #E1E8ED;
border-left: 3px solid #E1E8ED;
min-width: fit-content;
overflow-y: scroll;


}

.feed::-webkit-scrollbar {
    display: none;
}
.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  
    padding: 10px 20px;
}



.feed_header> h2 {
    font-size: 20px;
    font-weight: 800;
}

.btn-file {
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    background: #fff314;
    border-radius: 10px;
    
   
}
.btn-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity= 0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;

};
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
