@import "../../bower_components/reset-css/_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);

$Fnav: 'Poiret One', cursive;
$Ftext: 'Open Sans Condensed', sans-serif;

$sizeFonElement:250px;
$marginApp:15px;
$heightFooter:80px;

@keyframes AppEfect1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes AppEfect2 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}


body{
	background: #000;
	overflow: hidden;
}
.App{
	position: relative;
	display: block;
    overflow: hidden;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    background: linear-gradient( to top left, #B8E8C7, #57C698, #3E9A8B, #2E7F82);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2E7F82', endColorstr='#57C698');/*For IE7-8-9*/
    margin: $marginApp;
    width: calc(100%-$marginApp);
	z-index: 1;
    @media (min-width: 560px) {
        &:after{
            position: absolute;
            top: 25%;
            right: 25%;
            content:"";
            width: 50%;
            height: 50%;
            background: #46A98F;
            z-index: 2;
            animation-play-state:0;
            animation-delay:0;
            animation-duration: 35s;
            animation-name: AppEfect1;
            animation-iteration-count: infinite;
        }
        &:before{
            position: absolute;
            top: 25%;
            left: 25%;
            content:"";
            width: 50%;
            height: 50%;
            background: #46A98F;
            z-index: 2;
            animation-play-state:0;
            animation-delay:0;
            animation-duration: 35s;
            animation-name: AppEfect2;
            animation-iteration-count: infinite;
        }
    }
}
nav{
	@media (min-width: 560px) {
		.mainMenu{
			display: flex;
			height: auto;
			justify-content:space-around;
			z-index: 4;
			li{
				z-index: 4;
				overflow: hidden;
				a{
					display: inline-block;
					position: relative;
				    text-decoration: none;
					text-transform: capitalize;
					line-height: 30px;
				    font-family: $Fnav;
				    font-size: 18px;
				    overflow: hidden;
				    color:#fff;
				    &:after{
				        content:"";
				        position: absolute;
				        bottom: 0;
				        left:-100%;
				        width: 100%;
				        height: 2px;
				        background: #fff;
				        transition: all 1s;
				    }
				    &:hover{
				        &:after{
				            content:"";
				            left:0;
				            transition: all .7s;
				        }
				    }
				}
			}
		}
		.smallMenu{
			display: none;
		}
	}
	@media (max-width: 560px) {
		.mainMenu{
			display: none;
			flex-direction: column;
			background: url("../img/back.png");
            // z-index: 4;
			li{
				text-align: center;
				text-transform: capitalize;
                z-index: 4;
				a{
					display: block;
					text-decoration: none;
					color:#fff;
					font-family: $Fnav;
				    font-size: 18px;
					padding: 10px 0px;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.smallMenu{
			@extend .mainMenu;
			display: flex;
		}
	}
}
section{
	z-index: 3;
    position: relative;
    display: flex;
    height: calc(100% - 50px);
    overflow: hidden;
	.space{
		width: 100%;
		height: 10px;
	}
    .slide{
        position: absolute;
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
        transition: all 3s;
        overflow-y: auto;
        overflow-x: hidden;
        align-items:center;
    }
    .textBox{
        padding:20px;
        line-height: 24px;
        font-family: $Ftext;
        color:#fff;
        background: url("../img/back.png") repeat;
        overflow: hidden;
        border-radius: 5px;
        margin: 20px;
    }
    h3{
        text-align: center;
        font-family: $Fnav;
        text-transform: capitalize;
    }
    .one{
        justify-content:center;
        flex-flow: row wrap;
        .logobox{
            width: 300px;
            height: auto;
            .logo{
                width: 240px;
                height: 240px;
                border:2px solid #fff;
                border-radius: 50%;
                background: url("../img/logoWhite512.png") repeat;
                background-size: contain;
                overflow: hidden;
                margin: 20px;
            }
            h1{
                text-align: center;
                color:#fff;
                font-family: $Fnav;
				font-size: 35px;
				text-transform: capitalize;
            }
        }
        .about{
            width: 500px;
            height: auto;
            font-size: 18px;
        }
    }
    .two{
        justify-content:center;
        flex-flow: row wrap;
        .boxService{
            margin: 10px;
            width: 250px;
            height: auto;
            padding: 10px;
            border-radius: 5px;
            background: url("../img/back.png");
            color:#fff;
            font-family: $Fnav;
            h2{
                margin:10px 0px;
                text-align: center;
                text-transform: capitalize;
                font-size: 23px;
            }
            .desc{
                font-size: 16px;
                margin:10px 0px;
                text-align: center;
            }
            .img{
                margin: 0 auto;
                width: 70px;
                height: 70px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .three{
        flex-flow: row wrap;
        justify-content:center;
        .boxStepsDevelop{
            width: 200px;
            height: auto;
            .stepView{
                margin: 20px auto;
                border: 2px solid #fff;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                background: #4AAF91;
                text-align: center;
                span{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 95px;
                }
            }
            .stepDesc{
                margin: 0 auto;
                display: block;
                width: 180px;
                height: auto;
                text-align: center;
            }
        }
        .aboutDevelop{
            max-width: 500px;
            height: auto;
        }
    }
    .four{
        flex-flow: row wrap;
        justify-content:center;
        .work{
            position: relative;
			display: inline-block;
            width: 200px;
            height: 150px;
            border-radius: 5px;
            overflow: hidden;
            background: url("../img/back.png") repeat;
            margin: 20px;
            .title{
                position: absolute;
                // display: block;
                top:40%;
                left:calc(50% - 70px);
                width: 140px;
                height: 50px;
                text-align: center;
                transition: all .3s;
                p{
                    color:#fff;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            &:hover{
                .title{
                    top:-100%;
                }
            }
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .five{
        display: flex;
        flex-direction:column;
        justify-content:center;
        h2{
            font-family: $Fnav;
            color:#fff;
        }
        .contacts{
            margin: 20px;
            border-radius:5px;
            ul{
                .skype{
                    font-weight: bold;
                    color:#3BADE5;
                }
                .twitter{
                    font-weight: bold;
                    color:#3BADE5;
                }
                .phone{
                    font-weight: bold;
                    color:#EE7E01;
                }
                .G1{
                    font-weight: bold;
                    color:#0169FF;
                }
                .G2{
                    font-weight: bold;
                    color:#E60020;
                }
                .G3{
                    font-weight: bold;
                    color:#EE7E01;
                }
                .G4{
                    font-weight: bold;
                    color:#0EA824;
                }
                li{
                    list-style-type: none;
                    margin: 10px 30px 0px 0px;
                    a{
                        text-decoration: none;
                        color:#fff;
                    }
                }
            }
        }
    }
}
footer{
	z-index: 3;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: $Fnav;
	color:#fff;
	height: $heightFooter;
	flex-direction: column;
	p{
		font-weight: bold;
		text-align: center;
        letter-spacing: 2px;
	}
	div{
		margin: 8px auto;
		text-align: center;
		a{
			text-decoration: none;
			text-transform: uppercase;
			color:#fff;
			font-family: $Ftext;
			font-weight: bold;
			padding: 5px;
			&:hover{
				color:#308283;
			}
		}
	}
}
