@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:450;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.9em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:191;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

//----------------------------------------------------------------------------------------
// PERSO PECQ78
//----------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------
// GENERAL
//----------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------
	// MENU & NAV
	//----------------------------------------------------------------------------------------
.navigation {
	border-bottom:solid 1px $color-secondary;
	box-shadow:none;
}

.menu-principal {
	font-size:1.3em;
	line-height:140px;
	>li>a {
		padding: 8px 12px;
		&:hover {
			background:$color-primary-dark-5;
			border-top: solid 2px $color-important;
			border-bottom: solid 2px $color-important;
		}
	}
}


	//----------------------------------------------------------------------------------------
	// BTN
	//----------------------------------------------------------------------------------------
.btn-important {
	color:$color-primary;
	&:hover {
		color:$color-primary;
	}
}

.btn-cdc .opacity-4 {
	opacity:1;
}

.icon-v5-heart {
	color:$color-important;
}

//----------------------------------------------------------------------------------------
// INDEX
//----------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------
	// PUB FULL
	//----------------------------------------------------------------------------------------
.bg-pub-bottom .container {
	width:100%;
}

.zone-pub {
	background:$color-secondary;
	@include border-radius (4px);
	padding:10px;
}