@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.youtube {
  position: relative;
  height: 720px;
  background-color: #333;
  overflow: hidden;
  border: none;
  outline: none;
  .youtube__area {
    width: 1920px;
    position: absolute;
    /*16비율 */
    left: 50%;
    margin-left: calc(1920px / -2);
    /*9비율 */
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2);
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
    }
    #player {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .youtube__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    &::after {
      background-image: url("../../Assets/square.png");
      opacity: 0.1;
    }
    h1 {
      margin-top: 250px;
      color: rgb(255, 255, 255);
      font-size: 6rem;
      font-family: "Black Han Sans", sans-serif;
      text-shadow: 2px 2px black;
    }
    p {
      font-size: 1.4rem;
      color: #fff;
      text-shadow: 1px 1px black;
      font-family: "Jua", sans-serif;
    }
    .btn {
      margin: 10px 0;
      width: 200px;
      display: inline-block;
      border-radius: 2rem;
      position: relative;
      box-sizing: content-box;
      mix-blend-mode: difference;
      outline: none;
      border: none;
      &::before {
        transition: all 0.85s ease;
        display: inline-block;
        content: "";
        position: absolute;
        border-radius: 4rem;
        width: 0;
        box-sizing: border-box;
        z-index: -2;
        left: 50%;
        top: 50%;
        height: 0;
      }
      &:hover {
        color: rgb(65, 65, 65);
        &::before {
          background: #35c6ff;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
      span {
        font-family: "Jua", sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}
