@media only screen and (max-width: 376px) {
  body {
    width: 375px;
    max-width: 375px;
  }
  .hero {
    height: 961px;
    max-height: 961px;
    width: 100%;
    overflow: hidden visible;
    &__bg {
      width: 375px;
      overflow: hidden;
      background-color: $white-color;
      > img {
        &:first-child {
          top: 0;
          overflow: hidden;
          background-size: cover;
          height: auto;
          width: auto;
        }
        &:last-child {
          bottom: -103px;
          height: 500px;
        }
      }
    }
    nav {
      max-height: 84px;
      height: 84px;
      .logo {
        @include rechange-pos(4.27%, 23.81%);
        height: 44px;
        width: 61px;
      }
      .navbar-btn {
        @include rechange-pos(54.67%,26.19%);
        
        min-width: 154px;
        height: 42px;
        max-height: 42px;
        padding: 12px 16px 12px 18px;
        @include font(600, 14px, 21px, $btn-color);
      }
    }
    &__content {
      @include flex-img(15px, 127px);
      width: 343px;
      max-width: 343px;
      color: $white-color;
      > div {
        &:first-child {
          margin-bottom: 16px;
          @include font(700, 24px, 32px, #FDFDFD);
        }
        &:nth-child(2) {
          margin-bottom: 34px;
          width: 100%;
          @include font(400, 14px, 21px, $white-color);
        }
        &:nth-child(3) {
          margin-bottom: 50px;
          > div {
            &:last-child {
              margin-left: 15px;
            }
            li {
              &:first-child {
                @include font(700, 24px, 30px, $white-color);
              }
            }
          }
        }
      }
    }
    &__footer {
      top: unset;
      bottom: 0;
      margin: 0 auto 44px;
      @include font(700, 23px, 31px, $blue-color);
      padding: 0;
      width: 100%;
      height: 71px;
      letter-spacing: unset;
    }
    &__flexImage {
      > img {
        position: absolute;
        &:first-child {
          top: 416px;
          left: 42px;
          width: 324.16px;
          height: 342.27px;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(4) {
          display: none;
        }

        &:last-child {
          top: 705px;
          right: -43px;
          width: 194.5px;
          height: 107.47px;
          overflow: hidden;
        }
      }
    }
  }
  .make-ice {
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 66px;
    margin-bottom: 272px;
    padding-top: 0px;
    &__left-side {
      width: 343px;
      height: 270px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__right-side {
      position: relative;
      width: 343px;
      height: 420px;
      max-height: 420px;
      margin: 27px 16px 0 16px;
      h2 {
        height: 31px;
        padding-right: 40px;
        @include font(700, 24px, 31px, $blue-color);
      }
    }
    &__paragraph {
      margin-top: 11px;
      @include font(400, 14px, 21px, $paragraph-color);
      li {
        list-style-type: "-";
        padding-left: 5px;
        margin-left: 5px;
      }
    }
    &__heading {
      margin: 34px 40px 34px 0px;
      height: 24px;
      width: 100%;
      @include font(700, 16px, 22px, $blue-color);
    }
    
    &__list-item {
      margin-left: 15px;
    }
    .flex-image {
      img {
        position: absolute;
        width: 87px;
        height: 75px;
        left: 288px;
        top: -100px;
        z-index: -2;
      }
    }

  }
  .dipenser {
    height: 843px;
    flex-direction: column-reverse;
    margin-bottom: 0px;
    background-position: bottom;
    background-size: auto 625px;
    max-height: 674px;
    &__right-side {
      max-width: 328px;
      height: 325px;
      margin-top: 0;
      top: -169px;
      > img {
        &:first-child {
          left: 47px;
          width: 240px;
          height: 318px;
        }
        &:last-child {
          left: unset;
          width: 89px;
          height: 92px;
          right: 8px;
          top: 242px;
        }
      }
    }
    &__left-side {
      // margin: 0; 
      margin: 64px 14px 58px 16px;
      width: 345px;
      max-width: 345px;
      h2 {
        width: 343px;
        max-width: 343px;
        height: 31px;
        max-height: 31px;
        padding-right: 0;
        @include font(700, 24px, 31px, $white-color);
      }
      div {

        &:nth-child(2) {
          li {
            list-style-type: "-";
            @include font(400, 14px, 21px, $white-color);
          }
          margin-top: 12px;
          margin-bottom: 24px;
        }
        &:nth-child(3) {
          @include font(bold, 16px, 22px, $white-color);
        }
      }
      button {
        // align-items: center;
        width: 190px;
        height: 44px;
        margin-top: 30px;
        padding: 10px 32px;
      }
    }
    > img {
      display: none;
    }
  }
  .flake-ice {
    width: 100%;
    height: 724px;
    margin-top: 103px;
    margin-bottom: 101px;
    flex-direction: column;
    &__left-side {
        width: 375px;
        height: 375px;
        margin: 0;
        background-size: contain;
        background-repeat: no-repeat;
        img {
        &:last-child {
            @include flex-img(230px, 163px);
            border: 10px solid $white-color;
            border-radius: 50%;
            transform: scale(0.6);
        }
        }
    }
    &__right-side {
      
      width: 343px;
      margin: 27px 17px 0 15px;
      h2 {
        width: 100%;
        font-size: 24px;
        line-height: 21px;
        height: auto;
      }
      div {
        &:nth-child(2) {
          line-height: 21px;
          li {
            list-style-type: "-";
            @include font(400, 17px, 25px, $paragraph-color);
            padding-left: 7px;
            margin-left: 7px;
          }
        }
        &:nth-child(3) {
          width: 100%;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 28px;
        }
      }
      button {
        padding: 10px 32px;
        margin-top: 33px;
      }
    }
    > img {
      display: none;
    }
  }
  .video-make-ice {
    background-size: 1180px 100%;
    background-position-x: 60%;
    height: 646px;
    &__heading {
      max-width: 343px;
      min-height: 155px;
      h2 {
        @include font(bold, 24px, 31px, $white-color);
      }
    }
  }
  .partner {
    margin: 43px 15px 125px;
    h2 {
      height: auto;
    }
    > div {
      &:last-child {
        flex-wrap: wrap;
        row-gap: 35px;
        > img {
          width: 172px;
          height: 50px;
          
        }
      }
    }
  }
  .comments {
    padding-top: 50px;
    &__quote{
      font-size: 90px;
      line-height: initial;
    }
    .comment {
      margin: 9px 19px 27px;
      &__content {
        font-size: 15px;
        line-height: 22px;
      }
      .placeholder {
        margin: 27px 16px;
        &__name {
          font-family: $alternative-font-family;
          
        }
        &__company {
          font-family: $sec-alterenative-font-family;
        }
        &__avatar {
          width: 69px;
          height: 69px;
        }
      }
    }
    .flex-image {
      display: none;
    }
  }
  .footer {
    min-height: 733px;
    &__info {
      padding: 48px 15px 32px;
    }
    &__info--company {
      .footer-offers {
        label {
          font-family: $sec-alterenative-font-family;
          @include font(800, 16px, 20px,  $white-color);
        }
        div {
          width: 343px;
          height: 42px;
          margin-top: 10px;
          margin-bottom: 43px;
          input[type="text"] {
            @include font(500, 16px, 26px,  $white-color);
          }
          button {
            @include flex-img(259px,2px);
            width: 82px;
            height: 38px;
            font-family: 'Montserrat';
            color: #000000;
            text-transform: capitalize;
          }
        }
      }
      .footer-content {
        font-size: 14px;
        line-height: 24px;
        > p {
          &:nth-child(4) {
            .address--header {
              width: 94px;
            }
            .address--details {
              >span {
                &:not(.address--first) {
                  padding-left: 0px;
                }
              }
            }
          }
        }
      }
    }
    &__info--contact {
      bottom: 75px;
      right: unset;
      left: 17px;
      h4 {
        text-align: left;
        font-family: $sec-alterenative-font-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }
    .footer__lisense {
      font-size: 14px;
      line-height: 22px;
      font-family: 'Montserrat', sans-serif;
      width: auto;
      height: auto;
      left: 23px;
      bottom: 32px;
      top: unset;
    }
  }
}
