@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

$margin-top-under-nav-fixe:100;

// SIZE SCROLLING
$height-scrolling:680;

// SIZE NAVIGATION
$height-navigation:68;

// VAR SITE TYPO
$font-body:"raleway",verdana,sans-serif;
$font-title:"raleway",sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.1em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:300;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra4";
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.btn-action-no-gradient {color: $color-body; background: #13234d; border: 1px solid $color-body;}
.btn-action-no-gradient:hover {color: $color-body; background: #0e1a39; border: 1px solid $color-body;}
.btn-important {border: 1px solid $color-body; &:hover {border: 1px solid $color-body;}}

.bold {
font-weight:700;
}

.bouton-comparer-selection, .bouton-vider-selection, .bouton-comparer-selection-detail, .bouton-supprimer-selection-detail {@extend .btn-action-no-gradient; }
.bg-picture .height-100-pourcent {background-attachment: fixed !important;}
.moteur-avantage {margin-top:15px;}
.box-shadow-bottom {@include box-shadow(0px 8px 13px -9px rgba(0,0,0,0.6));}
.bloc-nav-left-fix {background:$color-important; display:none;}
.scrollToTop {background: url("/z/webagency/slagence_X_V5/images/widget/black/arrow-up.png") center no-repeat $color-body;}
.bienvenue {text-transform:none;}
a {text-decoration:underline;}
.MapPushpinBase .btn-action {border:1px solid $color-body;@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));}
#recherche-resultats-listing .transition-bg{ border-bottom:1px solid $color-action; }
.sous-type-recherche {font-size:1em;}
.recherche-annonces .h2-like.typo-action {display:block;}

// NAV  ------------------
.navigation {border-bottom:1px solid $color-body;}
.menu-principal {margin-top: 6px; font-size:$font-size-title * 0.5;}
.menu-principal > .dropdown {display:none;}
.menu-principal>li {border-left: 0px; border-right: 0px; border-bottom: 5px solid transparent; &:hover {border-bottom: 5px solid $color-body;background:none;}}
.menu-principal>li>a {padding: 0px 8px; font-size:0.91em; line-height: 66px; text-decoration:none; &:hover {background:$color-primary-light-5; color:$color-nav-footer; text-decoration:none;}}
.menu-sub ul li a, .liste-immobilier .h3-like a, .nav-rotation a, .social-ico a, .social-footer a {text-decoration:none;}
.menu-sub {@include box-shadow(0px 5px 10px rgba(0,0,0,0.2));}
.smallest, .dropdown-menu a {font-size: 0.9em; text-decoration:none;}
.dropdown-menu a {padding: 5px 50px;}
.menu-sub ul li a:hover {background: #182c61; color: $color-body; text-decoration: none;}

.btn-langue{display:none;}

// MODULE CLASSIQUE  ------------------
.module-annonces-homepage .bg-black { background:$color-body; opacity: 0.9; filter: alpha(opacity=90);}
.module-annonces-homepage .typo-white {color:#000;}
.module-typebien-annonces {margin-top:45px; color:$color-important; font-family:"raleway";font-weight:700; text-transform:uppercase; font-size:1.7em;}
.module-villes-annonces ville  {color:$color-important; font-family:"raleway"; text-transform:uppercase; font-size:1.7em;}
.module-homepage h2, .aside-pub h2 {font-weight:700; font-size:3.1em;}
.module-annonces-homepage .hover-infos-bien:hover{ border:1px solid $color-action; }

// MODULE EXTRA  ------------------
.aside-extra {height:800px;}
nav-rotation-extra  {margin-top:2px;}
.nav-rotation-extra a {width:20px; height:20px; line-height:18px; font-size:0.8em; text-decoration:none;}
.module-homepage-extra .bloc-info { background:$color-secondary; opacity: 0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); filter:alpha(opacity=80);} 
.module-homepage-extra .typo-white { color:$color-action; }
.module-annonces-homepage-extra .h1-like, .module-annonces-homepage-extra .type-transaction-extra {color:$color-important;font-weight:200;}
.module-annonces-homepage-extra .h1-like {font-weight:700;}
.module-homepage-extra .h2-like {font-size:1.2em; font-weight:700; color:$color-important;}

// PUBS  ------------------
.aside-pub { background-repeat:no-repeat; background-position:center; background-image:url('../images/homepage/homepage_scrolling_4.jpg'); background-attachment: fixed; background-size:100% 100%;}
.background-pub-social {background-attachment: fixed;}
.zone-pub {background-color:$color-body; padding:10px; border:1px solid $color-pub;}
.pub-full-social .h1-like, .pub-full-social p {color:$color-body;}
.zone-pub .btn-action-no-gradient {background-color:$color-body; color:$color-primary; border:2px solid black;}
.zone-pub .btn-action-no-gradient:hover {background-color:$color-primary;}
.pub-full-social h1 {font-size:2.3em; font-weight:700;}
.pub-full-social .social-ico a {font-size:2.3em;color:$color-body;}
.social-ico > a:hover {color:#ccc;}
/*
.pub-login-suivi-client-rond {
	background-image:url('../images/pub/pub-login.png'); 
	.ie7 &, .ie8 & {
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/pub-login.png', sizingMethod='image');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/pub-login.png', sizingMethod='image')";
	}
}

.pub-outils {background-image:url('../images/pub/picto-outils.png');
  .ie7 &, .ie8 & {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/picto-outils.png', sizingMethod='image');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/picto-outils.png', sizingMethod='image')";
	}
}

.pub-estimation {
	background-image:url('../images/pub/picto-estimation.png');
  .ie7 &, .ie8 & {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/picto-estimation.png', sizingMethod='image');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/webagency/A_Nexi/confiance74160_37299/images/pub/picto-estimation.png', sizingMethod='image')";
    }
}
*/

// TITRES  ------------------
.titre-milieu {margin-top: 85px;}
.titre-extra { font-weight:700; font-size:2.2em; margin-top:20px; margin-bottom:20px;}
.title-bold {font-family:"raleway"; font-weight:700;}
.font-700 {font-weight:700;}
.font-200 {font-weight:200;}
.icon-v5-heart {color:$color-heart; opacity:1;}
.social-footer .h3-like {font-size:1em;}
.bloc-nav-left-fix img {opacity:0.7;}
.bloc-nav-left-fix > a:hover > img {opacity:1;}
.phrase-recherche{ font-size:0.9em;text-align:justify;}

// DETAIL  ------------------
.descriptif-prestige p[itemprop="description"] + p, .descriptif-prestige p[itemprop="description"] + p + p {font-size:0.85em; line-height:normal;}
.detail-annonce .btn-important, .detail-annonce .btn-action-no-gradient {font-weight:700; border:2px solid #bbb;}

@media only screen and (max-width: 767px) {
	.pub-full-social h1 {font-size:2em; }
	.pub-full-social .social-ico a {font-size:2em;}
	.module-homepage-extra .h2-like {font-size:1.3em; }
	.module-homepage h2, .aside-pub h2 { font-size:2em;}
	.titre-milieu {margin-top: 15px;}
	
	.box-shadow-bottom .bg-secondary.absolute.background-center{display: none;}
}


/* demandes sav */
.charges-annuelles{font-size: 0.3em;}
.social.pinit {display: none; }
.bouton-video-imprimer.btn-tooltip,
.bouton-envoyer-ami,
.bouton-ajouter-selection-detail.btn-tooltip,
.bouton-calculette.btn-tooltip,
.detail-annonce .btn-tooltip
{background: #bbb; }
.detail-annonce .tooltip-inner{background:#bbb;}
.detail-annonce .tooltip.top .tooltip-arrow{border-top-color:#bbb;}
.btn-action-no-gradient:hover, .bouton-comparer-selection:hover, .bouton-vider-selection:hover, .bouton-comparer-selection-detail:hover, .bouton-supprimer-selection-detail:hover{ color: #fff; background: #999; border: 2px solid #999;}
.popup-envoyer-ami{background: #eee;}
.bouton-zoom-detail, .theme-default .nivo-directionNav a{ background-color: rgba(19, 35, 77, 0.26) !important; border: none;}
.bouton-zoom-detail:hover{border: none;}
.ul-homepage-biens .module-prix-annonces {font-size:1.5em; font-weight:700;}
.ul-homepage-biens .btn-cdc, .ul-homepage-biens .btn-exclusif { display:none; }
.breadcrumb{font-size: 0.8em; }


/* fix cédric pour ahmed */
#bouton-telephonez-nous, .bouton-envoyer-message-agence,
#bouton-telephonez-nous-detail, .detail-annonce .bouton-formulaire-agence
{border: 2px solid #0e1a39; &:hover {background: #fff; color:#0e1a39; border: 2px solid #0e1a39;}}
a { text-decoration: none; }
@media only screen and (max-width: 960px) and (min-width: 767px) {	
	.menu-principal > li > a  { font-size: 0.75em; padding: 0 4px; }
}
