@mixin plusicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 5.2rem;
    height: 13rem;
    & div:nth-child(1) {
        width: 60%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        * {
            margin-top: 1.8rem;
        }
    }
    & div:nth-child(2) {
        width: 60%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        transform: translateX(-1.1rem);
        * {
            margin-top: 1.8rem;
            margin-left: -0.4rem;
        }
    }
    & div:nth-child(3) {
        width: 60%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        transform: translateX(-2.1rem);
        * {
            margin-top: 1.8rem;
            margin-left: 0.4rem;
        }
    }
}

.UploadImages {
    margin-top: 5rem;
    &__h1div {
        margin-left: 5.32rem;
        h1 {
            font-size: 1.67rem;
            font-weight: 500;
            color: var(--darkblue);
        }
    }
    &__plus {
        display: grid;
        grid-template-columns: 33% 65%;
        margin-top: -0.3rem;
        &__bigplus {
            height: 26.5rem;
            font-size: 10rem;
            color: var(--darkblue);
            filter: opacity(0.3);
            width: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            div {
                border: 1px solid #d8c1c1;
                margin-left: 4.4rem;
                width: 82%;
                height: 26.3rem;
                display: grid;
                justify-items: center;
                align-items: center;
                justify-content: center;
            }
        }
        &__plusicons {
            display: grid;
            &__first3plus {
                @include plusicons();
            }
            &__second3plus {
                @include plusicons();
                margin-top: 0.8rem;
            }
        }
    }
}
