@media screen and (min-width: 1200px) {
    .sidebar {
        max-width: 30%;
        width: 30%;

        // Social Links
        .social {
            -webkit-box-flex: 1;
            flex: 1;
            position: relative;
            display: block;
            margin-bottom: 15px;

            .social-container {
                overflow: hidden;
                box-sizing: border-box;

                .social-header {
                    position: relative;
                    padding: 23px 23px;
                    margin-bottom: 0;
                    background-color: #292929;
                    z-index: 1;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    color: #fff;
                    line-height: 1.2;
                    margin-top: 0;
                    box-sizing: border-box;
                    display: block;
                    // margin-block-start: 1.33em;
                    // margin-block-end: 1.33em;
                    // margin-inline-start: 0px;
                    // margin-inline-end: 0px;

                    .text {
                        display: inline-block;
                        background-color: #292929;
                        padding-right: 23px;

                        span {
                            color: #03b00c !important;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 32px;
                        right: 1px;
                        left: 30px;
                        height: 3px;
                        background-color: #fff;
                        z-index: -1;
                    }
                }
                .social-content {
                    // background-color: #292929;
                    border: 1px solid #293030;

                    .social-list {
                        padding: 20px 23px;
                        list-style-type: none;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: -21px;
                        margin-right: -24px;
                        margin-bottom: -21px;
                        margin-left: -24px;

                        .ra-twitter {
                            background-color: #505050;
                            transition: background-color 0.2s ease-in-out;

                            &:hover {
                                background-color: #1da1f2;
                            }
                        }

                        .ra-twitch {
                            background-color: #5c5c5c;
                            transition: background-color 0.2s ease-in-out;
                            &:hover {
                                background-color: #9146ff;
                            }
                        }

                        .ra-youtube {
                            background-color: #505050;
                            transition: background-color 0.2s ease-in-out;
                            &:hover {
                                background-color: #f00;
                            }
                        }

                        .ra-facebook {
                            background-color: #5c5c5c;
                            transition: background-color 0.2s ease-in-out;
                            &:hover {
                                background-color: #4267b2;
                            }
                        }

                        .ra-reddit {
                            background-color: #505050;
                            transition: background-color 0.2s ease-in-out;
                            &:hover {
                                background-color: #ff4500;
                            }
                        }

                        .ra-discord {
                            background-color: #5c5c5c;
                            transition: background-color 0.2s ease-in-out;
                            &:hover {
                                background-color: #5865f2;
                            }
                        }

                        li {
                            width: 33.3%;
                            display: list-item;
                            height: 60px;
                            text-align: center;
                            padding-top: 8%;

                            a {
                                img {
                                    width: 30px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Recent Posts
        .side-three-posts {
            -webkit-box-flex: 1;
            flex: 1;
            position: relative;
            display: block;

            .side-three-posts-container {
                overflow: hidden;
                box-sizing: border-box;

                .side-three-posts-header {
                    position: relative;
                    padding: 23px 23px;
                    margin-bottom: 0;
                    background-color: #292929;
                    z-index: 1;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    color: #fff;
                    line-height: 1.2;
                    margin-top: 0;
                    box-sizing: border-box;
                    display: block;

                    .text {
                        display: inline-block;
                        background-color: #292929;
                        padding-right: 23px;

                        span {
                            color: #03b00c !important;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 32px;
                        right: 1px;
                        left: 30px;
                        height: 3px;
                        background-color: #fff;
                        z-index: -1;
                    }
                }

                .side-three-posts-content {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 23px;
                    background-color: #505050;
                    border: 1px solid #293139;

                    .side-three-posts-content-post {
                        padding-left: 110px;

                        .side-three-posts__image {
                            float: left;
                            width: 90px;
                            margin-left: -110px;
                            overflow: hidden;
                            transition: opacity 0.2s ease-in-out;
                            text-decoration: none;
                            color: #03b00c;
                            background-color: transparent;

                            img {
                                width: 100%;
                                height: auto;
                                transition: transform 0.2s ease-in-out;
                                webkit-transform: 0.2s ease-in-out;
                                transform: scale(1);
                                will-change: transform;
                                vertical-align: middle;
                                border-style: none;
                            }
                        }

                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        .side-three-posts__title {
                            display: inline-block;
                            width: 100%;
                            margin-top: 0;
                            margin-bottom: 10px;
                            font-size: 1.0rem;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 600;
                            color: #fff;
                            text-transform: uppercase;
                            line-height: 1.2;
                            // margin-block-start: 1em;
                            // margin-block-end: 1em;
                            // margin-inline-start: 0px;
                            // margin-inline-end: 0px;
                            -webkit-box-direction: normal;
                            letter-spacing: .015em;
                            word-wrap: break-word;
                            -webkit-font-smoothing: antialiased;

                            a {
                                color: inherit;
                                text-decoration: none;
                                transition: .15s color;
                                background-color: transparent;

                            }
                        }
                    }

                    .side-three-posts-content-post + .side-three-posts-content-post {
                        padding-top: 20px;
                        margin-top: 22px;
                        border-top: 1px solid #5c5c5c;
                    }
                }
            }
        }
    }
}
