/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

// @import '~bootstrap/scss/bootstrap';
.countRow h4 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.text-center {
    width: 100%;
    text-align: center;
}

body {
    background-color: #dee2e6;
}

.countRowBG .card {
    border: 1px solid #252b3b;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

table.dataTable thead .sorting {
    font-size: 13px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    font-size: 12px;
}

// table.dataTable.custWidth thead .sorting{
//     min-width: 120px;
// }
// .filterScroll{
//     height: 10rem;
//     overflow-y: scroll;
// }
.scroll {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
    background: #ff9400;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 148, 0, 0.7);
}

.bgText {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 3px;
    line-height: 20px;
    width: 100%;
    display: block;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 9px;
}

table.dataTable.custWidth thead .sorting {
    width: 12.5% !important;
    color: #dcdcdc;
}

table.dataTable {
    background: #f3f4fb;
}

table.bg-white {
    background: #fff !important;
}

table.dataTable thead .sorting.w-15p {
    width: 15% !important;
}

table.dataTable thead .sorting.w-10p {
    width: 10% !important;
}

.custDetCard span {
    min-width: 90px;
    display: inline-block;
}

.eventsList {
    list-style: none;
}

.custTable .thead-light th {
    background-color: transparent !important;
    padding: 5px !important;
}

.custTable td {
    padding: 5px !important;
    font-size: 12px !important;
}

.custText span {
    min-width: 150px;
    display: inline-block;
}

.cardProgress {
    border: 1px solid #dadada;
    padding: 1.5rem 0;
}

.cardProgress h5 {
    font-size: 26px !important;
    font-weight: 600;
}

.counts {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

// .dropdown-menu.show {
//     display: inline;
// }
.dropdown-menu.dropDown-outline {
    border: 1px solid rgba(37, 43, 59, 0.3);
    margin-top: 5px;
    .dropdown-item {
        &:hover {
            font-weight: 700;
        }
    }
}

.dropdown-menu {
    display: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

@media only screen and (max-width: 600px) {
    .dropdown-menu.show {
        display: block;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    color: #000;
    font-weight: 600;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    color: #000;
    font-weight: 600;
}

.nav-pills .nav-link {
    color: #000;
    padding: 0.5rem 0rem;
}

.settingsNav {
    padding-left: 0;
    list-style: none;
    li {
        // padding: 0.5rem 0;
        // padding: 0.5rem;
        // background: #fff;
        // margin: 0.5rem;
        a {
            // font-weight: 500;
            // color: #505d69;
            // font-size: 15px;
            font-weight: 500;
            font-size: 14px;
            padding: 0.5rem;
            background: #565656;
            margin: 0.5rem;
            color: #f1f1f1;
            display: block;
            &:hover {
                color: #fff;
                background: rgba(37, 43, 59, 0.5);
            }
        }
        a.text-success {
            color: #fff !important;
            background: rgba(37, 43, 59, 0.5);
        }
    }
}

.dataTables_wrapper {
    .dataTables_length select {
        border: 1px solid #bdbdbd !important;
        border-radius: 0 !important;
        padding: 2px !important;
    }
}

.dataTables_wrapper {
    .dataTables_filter input {
        border: 1px solid #bdbdbd !important;
        border-radius: 0 !important;
        padding: 3px 5px !important;
    }
}

.donate-now {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}

.donate-now li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.donate-now label,
.donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.donate-now input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
    background: yellow;
}

.donate-now label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
}

.donate-now label:hover {
    background: #DDD;
}

table.dataTable thead th,
table.dataTable thead td {
    // border-bottom: 1px solid #d2d2d2 !important;
    border-bottom: transparent !important;
    background: #252b3b;
    color: #dcdcdc;
}

.modal-dialog-all {
    opacity: 1 !important;
}

.modal-dialog-all .modal-title {
    font-family: "Open Sans", sans-serif !important;
}

.modal-dialog-all .modal-footer {
    margin-top: 15px;
    padding: 15px 40px !important;
}

.modal-dialog-all .modal-content .modal-body {
    padding: 0px 0px;
}

.modal-dialog-all .modal-content .modal-footer {
    text-align: center;
}

.modal-dialog-all .btn-all-item {
    margin: 0px 15px !important;
}


/* Common Modal */

.common-modal .modal-content {
    border-radius: 6px;
}

.common-modal .modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
    margin-top: 0px;
}

.common-modal .modal-content .modal-header {
    padding: 10px 20px;
    color: #442489;
    margin-bottom: 15px !important;
    border-bottom-color: #908d8d78 !important;
}

.common-modal .modal-content .modal-header button.close {
    font-size: 27px;
    color: #29017b;
}

.common-modal .modal-content .modal-header .close {
    font-weight: 400;
}

.common-modal .modal-content .modal-body {
    padding: 0px 40px;
}

.common-modal .modal-content .modal-footer {
    padding: 20px 40px;
    padding-top: 0;
    border-top: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: transparent !important;
    padding: 10px !important;
    height: 25px !important;
    line-height: 4px !important;
    border: none !important;
    color: #111 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: transparent !important;
    padding: 10px !important;
    height: 25px !important;
    line-height: 4px !important;
    border: none !important;
    color: #e77913 !important;
    font-weight: 700;
}

.cst-button {
    background-color: transparent !important;
    border: none !important;
    color: #e77913;
    font-weight: 600;
}

.cst-button:hover {
    background-color: transparent !important;
    border: none !important;
    color: #e77913;
    font-weight: 600;
}

.card-text1.custTextValues {
    font-weight: 700;
    span {
        font-weight: 100;
    }
}

.bb-none {
    border-bottom: none !important;
}

.custTable .thead-light th {
    border-top: none;
    border-bottom: 1px solid #dadada;
}

.timeline.customeTimeLine {
    .time-show-btn {
        position: relative;
        left: 50% !important;
        right: 50% !important;
        text-align: left!important;
        height: auto;
        background: #252b3b;
        font-weight: 700;
        /* border: 1px solid #e77913; */
        padding: 10px;
        color: #ddd;
    }
}

@media (min-width: 768px) {
    .timeline.customeTimeLine {
        .time-show-btn {
            position: relative;
            left: 50% !important;
            right: 50% !important;
            text-align: left!important;
            height: auto;
            background: #252b3b;
            font-weight: 700;
            /* border: 1px solid #e77913; */
            padding: 10px;
            color: #ddd;
        }
    }
}

.repetationList li {
    font-weight: 700;
    display: flex;
}

.repetationList li span {
    font-weight: 100;
    min-width: 150px;
    display: block;
}

span.headFont {
    font-size: 14px !important;
    color: #000;
    font-weight: 700;
}

// body{
//     overflow-x: scroll;
// }

/* width */

body::-webkit-scrollbar {
    width: 4px;
}


/* Track */

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: #ff9400;
}


/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table.dataTable tbody tr {
    color: #000 !important;
    font-weight: 500;
}

.text-warning span {
    background: #fcb92c;
    padding: 1px 10px;
    font-size: 0.7rem;
    color: #000;
}

.text-success span {
    background: #1cbb8c;
    padding: 1px 10px;
    font-size: 0.7rem;
    color: #000;
}

.modal-content {
    background-color: #fff;
}

.modal-body.scrollModal {
    height: 400px;
    overflow-y: auto;
    padding: 0px 20px;
}

.scrollModal::-webkit-scrollbar {
    width: 10px;
}

.scrollModal::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollModal::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollModal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-header.mb-0 {
    margin-bottom: 0 !important;
}

.form-group {
    .sLine {
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            width: 40%;
        }
    }
}

.printBtn {
    width: 100%;
    button {
        padding: 3px 15px;
        border-radius: 0;
        color: #fff;
        margin-right: 1rem;
    }
}

.viewHead {
    font-size: 0.95rem;
    font-weight: 900;
    color: #000;
}

.card-title-desc {
    color: #505050;
    margin-bottom: 24px;
}

.status_lowLabel {
    background: #99cc19;
    padding: 0 10px;
    color: #fff;
}

.status_highLabel {
    background: #ffa550;
    padding: 0 10px;
    color: #fff;
}

.status_criticalLabel {
    background: #db101a;
    padding: 0 10px;
    color: #fff;
}