.thanks--timeline--message--admin--title {
  font-family: 'HelveticaNeue';
  float: left;
  width: 100%;
  margin: 5px 0px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.4pt;
  color: $thin-black;
}

.admin--thank--timeline--detail--container {
  font-family: 'HelveticaNeue';
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(202, 202, 202, 0.7);
}

.admin--thank--timeline--advice--detail--container {
  font-family: 'HelveticaNeue';
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.admin--thank--timeline--detail--title {
  float: left;
  width: 100%;
  margin: 5px 0px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.4pt;
  color: $thin-black;
}

.admin--thank--timeline--detail--type--weight {
  float: left;
  width: 100%;
}

.admin--thank--timeline--detail--type {
  float: left;
  color: $white;
  background-color: $green;
  height: 26px;
  width: 68px;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin--thank--timeline--detail--weight {
  float: left;
  color: $white;
  background-color: $material-skyblue;
  height: 26px;
  width: 38px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin--thank--timeline--detail--type--yet {
  float: left;
  color: $white;
  background-color: $high-gray;
  height: 26px;
  width: 68px;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin--thank--timeline--detail--weight--yet {
  float: left;
  color: $white;
  background-color: $high-gray;
  height: 26px;
  width: 68px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin--thank--timeline--detail--tag {
  float: left;
  width: 100%;
  margin-top: 8px;
  margin-left: 2px;
}

.admin--thank--timeline--detail--tag--one {
  float: left;
  text-align: left;
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 2px;
  letter-spacing: 0.4pt;
  line-height: 150%;
  opacity: 0.9;
}
