/* #search-results-bottom {
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  transform: scale(1.09);
  background-color: var(--primaryColor);
} */

.search-overlay {
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9999;
  position: absolute;
  top: 0;
  /*   left: 0; */
  right: 12%;
  /*   bottom: 0; */

  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: all /* opacity 0.3s, transform 0.3s, visibility*/ 0.3s;
  box-sizing: border-box;
  height: 0;
  min-height: 0rem;
  border-radius: 1rem;
  width: 0;
  padding-bottom: 10%;
  p {
    padding-top: 15px;
  }

  .event-summary p {
    padding-top: 0;
  }

  .event-summary {
    margin-bottom: 0;
    margin-top: 20px;
  }

  body.admin-bar & {
    top: 0.6rem;
  }

  &__top {
    background-color: rgb(250, 250, 250);
    & > div {
      padding: 0 0 0 2%;
    }
  }

  &__icon {
    margin-right: 10px;
    font-size: 1.8rem;
    color: var(--greenPrimary);
    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    width: 76%;
  }

  &__section-title {
    margin: 30px 0 1px 0;
    font-weight: 400;
    color: var(--darkPrimary);
    font-size: 2rem;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }

  &__close {
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #fff;
    color: var(--greenPrimary);
    line-height: 0.7;
    @mixin atSmall {
      top: 18px;
      font-size: 2.1rem;
    }
    @mixin atMedium {
      top: 26px;
      font-size: 2.8rem;
    }
  }

  &__close:hover {
    opacity: 1;
  }
  &::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    transition: background-color 0.8s;
  }
  &::-webkit-scrollbar-corner {
    border-radius: 5px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #e6e6e69f;
  }
  .one-half {
    padding-bottom: 0;
  }
  & > div {
    border-radius: 1rem;
    & #search-overlay__results > div > .row {
      overflow: visible;
      & > a.link-search-results {
        border: white 0.3rem solid;
        border-radius: 1.3rem;
        margin: 1rem 0;
        min-height: 15rem;
        &.servico {
          border-radius: 0;
          border-color: var(--lightPrimary);
          & > .search-product-wraper {
            border-radius: 0;
            & > .row > .col-img-search > .img-wraper-search {
              border-radius: 0;
            }
          }
        }
        & > .search-product-wraper {
          background-color: var(--greenPrimary);
          color: white;
          border-radius: 1rem;
          padding-left: 0;
          transition: all 0.3s;
          height: 100%;
          &.servico {
            border-radius: 0;
          }
          &:hover {
            background-color: white;
            color: var(--greenPrimary);
          }
          & > .row {
            height: 100%;
            & > .col-img-search > .img-wraper-search {
              background: white;
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              border-radius: 1rem 0 0 1rem;
              & > img {
                width: 100%;
                height: auto;
              }
            }
            & > .col-text-search {
              padding: 2rem;
              & > .row {
                width: 100%;
                & > .title-search {
                  font-size: 2.3rem;
                  font-weight: 700;
                  letter-spacing: 0.1vw;
                }
                & > .title-price-search {
                  color: var(--lightPrimary);
                }
              }
              & > .text-search {
                margin-top: 2rem;
                height: auto;
                max-height: 70%;
              }
            }
          }
        }
      }
    }
  }
}

.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 1vw;
  font-weight: 300;
  outline: none;
  color: var(--greenPrimary);
  @mixin atSmall {
    font-size: 1.5rem;
  }
  @mixin atMedium {
    width: 80%;
    font-size: 3rem;
  }
}

.body-no-scroll {
  overflow: hidden;
}
.spinner-loader {
  margin: auto;
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgb(255 255 255 / 20%);
  border-top-color: #fff;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.active-bottom {
  background-color: var(--greenPrimary);
  height: 60vh;
  min-height: 37rem;

  overflow-y: scroll;
}
#navbarNavAltMarkup {
  position: relative;
}
.search-trigger {
  margin-left: auto;
}
@media (max-width: 500px) {
  .search-term {
    font-size: 3.6vw;
  }
  .search-overlay--active {
    width: 100%;
  }
  .search-overlay {
    right: 0;
    height: 100%;
    padding: 0;
  }
  /* .search-overlay__top {
    height: 100%;
  }
  .search-overlay__top > div {
    height: 100%;
  } */
}
