@font-face {
  font-family: "Audi Extended Normal";
  src: url("./fonts/AudiType-ExtendedNormal_4.03.woff2") format("woff2"),
    url("./fonts/AudiType-ExtendedNormal_4.03.woff") format("woff"),
    url(".//fonts/AudiType-ExtendedNormal_4.03.ttf") format("truetype");
}

@font-face {
  font-family: "Audi Wide Normal";
  src: url("./fonts/AudiType-WideNormal_4.03.woff2") format("woff2"),
    url("./fonts/AudiType-WideNormal_4.03.woff") format("woff"),
    url("./fonts/AudiType-WideNormal_4.03.ttf") format("truetype");
}

h1,h2,h3,h4,h5,h6{
  font-family: "Audi Extended Normal";
}

a,p{
  font-family: "Audi Extended Normal";
}

.page-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 80px;
  background: #ffffff;
  padding-left: 5%;
  padding-right: 5%;

  .header-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logo-container {
    margin-right: 20px;
    @media only screen and (max-width: 800px) {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .desktop-nav {
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  .mobile-menu {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      flex: 1;
    }
  }
}

.header-align-block {
  display: none;
  @media only screen and (max-width: 800px) {
    height: 100%;
    display: block;
    flex: 1;
  }
}

.billboard {
  height: 700px;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background: url("./assets/billboard.webp");
  background-position: center;
  background-size: cover;

  h1 {
    font-family: "Audi Extended Normal";
    font-weight: normal;
    margin-bottom: 30px;
  }

  p {
    margin-top: 25px;
    margin-bottom: 25px;
  } 

  a{
    @media only screen and (max-width: 850px) {
      width: 100%;

      &:nth-child(2){
        margin-bottom: 5px;
      }
    }
  
  }
}

.latest-updates {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  .latest-updates-grid-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));

    gap: 20px;
    margin: 0 auto;

    div {
      img {
        width: 100%;
      }
    }
  }
}

.advert-container {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 5%;
  padding-right: 5%;

  @media only screen and (max-width: 800px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .advert-wrap {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 800px) {
      flex-direction: column !important;
    }
  }

  .advert-container-text {
    margin-top: 20px;
    margin-left: 50px;
    display: block;

    @media only screen and (max-width: 800px) {
      margin-left: 0;
    }

    h2 {
      font-family: "Audi Extended Normal";
      font-weight: normal;
    }

    p{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    a{
      @media only screen and (max-width: 800px) {
        width: 100%;
      }
    
    }
  }

  .img-zoom-container {
    width: 100%;
    max-width: 50%;
    overflow: hidden;

    @media only screen and (max-width: 800px) {
      height: 600px;
      max-width: none;
    }

    img {
      width: 100%;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
      }

      @media only screen and (max-width: 800px) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &:nth-child(4) {
    .advert-wrap {
      flex-direction: row-reverse;
    }

    .advert-container-text {
      margin-left: 0;
      margin-right: 50px;

      @media only screen and (max-width: 800px) {
        margin-right: 0;
      }
  
    }
  }
}

.text-banner {
  padding-top: 250px;
  padding-bottom: 250px;
  padding-left: 5%;
  padding-right: 5%;

  @media only screen and (max-width: 800px) {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  .text-banner-wrap {
    text-align: center;
  }
}

.updates {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  color: white;

  p {
    width: 60%;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
}

.register {
  display: flex;
  height: 100vh;
  align-items: flex-end;

  @media only screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }

  color: white;

  .register-left {
    height: 100%;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: black;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .register-right {
    height: 100%;
    width: 50%;
    background-image: url("./assets/my-audi.jpg");
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
}
