#passenger_order_info{
    display: flex;
    .container{
        width: 1200px;
        display: flex;
        justify-content: flex-end;
    }
}
.passenger_info_block{
    margin-top: 50px;
    align-items: flex-start;
    h2,h3{
        margin: 0px;
        text-align: center;
    }
    .passenger_info_block__forms_block{
        width: 100%;
        input:not(input[type="checkbox"]){
            border: none;
            border-bottom: 1px solid $black_gray;
        }
        h3{
            text-align: left;
        }
        .passenger_info_block__forms_block__form_feedback{
            margin-top: 50px;
            padding: 10px;
            background: $white;
            box-shadow: 0px 10px 15px 5px rgba(34, 60, 80, 0.2);
            
            .passenger_info_block__forms_block__form_feedback__input_block{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                input{
                    font-size: $fz_base;
                    height: auto;
                    padding: 6px 12px;
                }
                &:last-child{
                    flex-direction: row;
                    align-items: center;
                    input{
                        margin-bottom: 4px;
                    }
                    span{
                        margin-left: 20px;
                        a{
                            color: red;
                            padding-bottom: 2px;
                            border-bottom: 2px solid transparent;
                            &:hover{
                                border-color: $light_green;
                            }
                        }
                    }
                }
            }
            
        }
        .passenger_full_info__forms_block{
            margin-top: 50px;
            .passenger_full_info__forms_block__item{
                padding: 10px;
                background: $white;
                box-shadow: 0px 10px 15px 5px rgba(34, 60, 80, 0.2);
                .warning_text{
                    margin-bottom: 20px;
                }
                .passenger_full_info__forms_block__form_passenger{
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    // align-items: center;
                    .passenger_full_info__forms_block__form_passenger__input_block{
                        position: relative;

                        &:nth-child(4){
                            display: flex;
                            .btn_gender_form_passenger{
                                background: $light_green;
                                color: $white;
                                margin: 0;
                                width: calc(250px/2);
                                font-size: $fz_second;
                                &:last-child{
                                    border-left: 2px solid $white;
                                }
                                &:hover{
                                    background: $blue;
                                    color: $white;
                                }
                            }
                            .select_btn_gender_form_passenger{
                                background: $blue;
                                color: $white;
                            }
                        }
                        .date_bithday_input_form_passenger::-webkit-calendar-picker-indicator {
                            background: transparent;
                            bottom: 0;
                            color: transparent;
                            cursor: pointer;
                            height: auto;
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: auto;
                        }
                        &:nth-child(n+1){
                            margin-top: 20px;
                        }

                        .passenger_type_document__dropbtn,.passenger_citizenship__dropbtn{
                            position: absolute;
                            right: 0;
                            top: 10px;
                        }
                        
                        .passenger__type_document_list,.passenger__citizenship_list{
                            transform-origin: 0 0;
                            transform: scaleY(0);
                            transition: 0.2s;
                            background: $white;
                            display: flex;
                            flex-direction: column;
                            height: 0;
                            max-height: 200px;
                            overflow-y: auto;
                            border-top: 0;
                            border-bottom: 1px solid $gray_3;
                            // position: relative;
                            max-width: 250px;
                            z-index: 1000;
                            @include custom_scroll_bar;
                            .passenger__type_document_list__item,.passenger__citizenship_list__item{
                                padding: 10px;
                                border:1px solid $gray_3;
                                background: $white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                color: $black;
                                &:hover{
                                    cursor: pointer;
                                    background: $gray_4;
                                }
                                &:last-child{
                                    border-bottom: none;
                                }
                                &:not(:first-child){
                                    border-top: none;
                                }
                            }
                            .select_list__item{
                                background: $light_green_2;
                                color: $white;
                                &:hover{
                                    color: $black;
                                    background: $light_green_2;
                                }
                            }
                        }
                        .show_drop_content{
                            transition: 0.2s;
                            transform: scaleY(1);
                            height: auto;
                        }
                        .passenger_full_info__type_document_input{
                            &:hover{
                                cursor: auto;
                            }
                        }
                    }
                }
                &:not(:first-child){
                    margin-top: 30px;
                }
            }
            
        }
    }
    #payment_ticket_btn{
        margin-top: 50px;
        background: #A01010;
        color: $white;
        font-size: $fz_last;
        padding: 15px 20px;
        &:hover{
            background: $light_green;
            color: $black;
        }
    }
}


@media (max-width: 1080px) {
    .passenger_info_block {
        .passenger_info_block__forms_block{
            .passenger_full_info__forms_block{
                .passenger_full_info__forms_block__item{
                    .passenger_full_info__forms_block__form_passenger{
                        flex-direction: column;
                        .passenger_full_info__forms_block__form_passenger__input_block{
                            margin-left: 0;
                            width: 100%;
                            &:nth-child(4){
                                margin-left: 0;
                                .btn_gender_form_passenger{
                                    width: 100px;
                                }
                            }
                            
                            &:nth-last-child(n-2){
                                margin-left: 0;
                            }
                            &:first-child{
                                margin-left: 0;
                            }
                            &:nth-child(5){
                                margin-left: 0;
                            }
                            .sm_input{
                                width: 100%;
                            }

                            .passenger_type_document__dropbtn,.passenger_citizenship__dropbtn{
                                position: absolute;
                                right: 0;
                                top: 10px;
                            }
                            
                            .passenger__type_document_list,.passenger__citizenship_list{
                                max-width: 100%;
                                .passenger__type_document_list__item,.passenger__citizenship_list__item{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}