%button {
  border: 1px solid #5C98F1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  padding: 16px;
  width: 100%;
}

.button {
  &_primary {
    @extend %button;
    background: #5C98F1;
    color: #fff;
    &:hover {
      background: #4583DE;
      border-color: #4583DE;
    }

    &:active {
      background: #2C6AC7;
      border-color: #2C6AC7;
    }

    &:disabled {
      background: #D1D1D1;
      border-color: #D1D1D1;
      cursor: auto;
    }
  }

  &_secondary {
    @extend %button;
    background: #fff;
    color: #5C98F1;

    &:hover {
      background: #F3F8FF;
      border-color: #5C98F1;
    }

    &:active {
      background: #DFECFF;
      border-color: #5C98F1;
    }

    &:disabled {
      background: #fff;
      border-color: #D1D1D1;
      color: #D1D1D1;
    }
  }
}
