@import "color";
// BG SOLO
$bg-uni:yes;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI 
$picture-bg:no;
$picture-bg-url:'../images/bg_moteur.jpg';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:0;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// SIZE NAVIGATION
$height-navigation:90;

// VARIABLE SITE TYPO
$font-body:"Open Sans",arial,verdana,sans-serif;
$font-title:georgia,arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.5em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:none;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra13";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------
// PERSO DECARNE062
//---------------------------------------------------------------------------------


//---------------------------------------------------------------------------------
// 		GENERAL
//---------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------
	// 		BG SUPPL
	//---------------------------------------------------------------------------------
	
.bg-index {
	background:$color-block;
	padding:10px;
}

	//---------------------------------------------------------------------------------
	// 		MENU & NAV
	//---------------------------------------------------------------------------------
	
.logo img {
    position: absolute;
    margin-left: -110px;
    margin-top: 15px;
	@media only screen and (max-width : 767px) {
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
	}
}


.menu-principal {
	text-align:right;
	font-size:1.0em;	
	margin-bottom: 30px;
	>li>a {	
		padding: 16px 12px;
		text-transform:uppercase;
		border-bottom:1px solid $color-secondary;
	}
}

//---------------------------------------------------------------------------------
// 		INDEX
//---------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------
	// 		MODULE & EXTRA
	//---------------------------------------------------------------------------------
	
.hr-module {
	display:none
}

.module-annonces-homepage {
	background:$color-block;
	padding:10px;
}

.moteur-avantage {
    margin-bottom: 40px;
    margin-top: 20px;
}

	//---------------------------------------------------------------------------------
	// 		PUB
	//---------------------------------------------------------------------------------
	
.zone-pub {
	background:$color-block;
	padding:10px;
	height: 160px;
}

	//---------------------------------------------------------------------------------
	// 		PUB FULL
	//---------------------------------------------------------------------------------
	
aside.bg-pub-bottom {
	margin-bottom: -10px;
	background-image:url('../images/pub/bg-pub-alerte.jpg');
	margin-top: -115px;
}

.pub-alerte-helsinki {
	box-shadow:none;
}

.titre-pub {
	font-size: 1.7em;
    margin-top: 10px;
}