/* -exploitation-rules */

.exploitation-rules {
    padding-top: 506px;
    padding-bottom: 660px;
    background-color: $yello;

    &__inner {
        max-width: 1013px;
        width: 100%;
        background-color: $white;
        border-radius: $border-radius-56;
        padding: 140px 93px 264px 93px;
        margin-right: auto;
        position: relative;
    }

    &__title {
        margin-bottom: 72px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        max-width: 362px;
        width: 100%;
        margin-bottom: 82px;

        &-img {
            margin-bottom: 20px;
        }

        &-title {
            @include fontSize35;
            margin-bottom: 16px;
        }

        &-subtitle {
            @include fontSize21;
        }
    }

    &__info {
        color: $white;
        background-color: $green;
        border-radius: $border-radius-56;
        @include fontSize31;
        max-width: 641px;
        width: 100%;
        padding: 83px;
        position: absolute;
        bottom: -440px;
        right: -92px;
        z-index: $z-index-1;
    }

    &__subtitle {
        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .exploitation-rules__position {
        width: 885px;
        height: 462px;
        position: absolute;
        top: -362px;
        right: -92px;
        z-index: $z-index-1;
        overflow: hidden;
    }
    .exploitation-rules-slider {
    }
    .swiper-container {
    }
    .exploitation-rules-slider__wrapper {
    }
    .swiper-wrapper {
    }
    .exploitation-rules-slider__slide {
        height: 462px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 734px;
        // height: 414px;
        // border-radius: $border-radius-32;
        // margin-bottom: 40px;
    }
    .swiper-slide {
    }
    .exploitation-rules-slider__video {
    }
    .swiper-pagination {
        width: 734px;
        bottom: 35px;
        position: relative;
        left: 151px;
    }

    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background-color: $grey-3;
        margin: 3px;
        transition: background-color $transition-3;
    }

    .swiper-pagination-bullet:hover {
        background-color: $grey-2;
    }

    .swiper-pagination-bullet-active {
        background-color: $black;
    }
}

/* #exploitation-rules */
