$card-color: #393E46;
$border-color: #4ECCA3;
$text-color: #EEEEEE;
$background-color: #232931;
$category-color: #7d7d7d;

.select {
  width: 17rem;
  margin: 0 auto;
  outline: none;
  margin: 0 auto;
  padding: 10px 15px;
  transition: 400ms all;
  border-radius: 10px;
  color: #EEEEEE;
  border: 2px #4ECCA3 solid;
  background-color: transparent;


  &__group {
    color: $background-color;
    font-weight: bold;

    &-opt {
      background-color: transparent;
      color: $category-color;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    background-color: $border-color;
    box-shadow: 1px 1px 7px 1px #EEEEEE;
  }
}