@import "include/reset";
@import "include/mixin";
@import "include/variables";
@import "include/animation";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    background: var(--backGround);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color : var(--color);
    transition: 0.3s;
    /* border:1px solid #fff; */
}

header {
    background-color: var(--backGround);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    z-index: 99;

    //nav
    nav {
        margin: 0 auto;
        height: 100%;
        max-width: 1024px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 150px;

            &>a {
                font-size: 20px;
                font-weight: bold;
                width: 42px;
                display: inline-block;
                overflow: hidden;
                transition: 0.3s;

                &>svg {
                    margin-top: 5px;

                    &>path {
                        transition: 0.3s;
                        fill: var(--color);
                    }
                }

                &:hover>svg>path:nth-of-type(1) {
                    fill: var(--mainColor);
                }
            }

            &:hover>a {
                width: 150px;
            }
        }

        //main_nav
        .main_nav {
            display: flex;
            position: relative;
            height: 100%;

            &>li {
                min-width: 100px;

                &>a {
                    width: 100%;
                    @include flex_center;
                    height: 100%;
                    font-size: 18px;
                    margin-right: 20px;
                    position: relative;
                    font-weight: bold;
                }

                &>a::before {
                    content: '';
                    position: absolute;
                    top: 48px;
                    background-color: var(--mainColor);
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0);
                    transition: transform 0.3s;
                    transform-origin: right;
                }

                &:hover>a {
                    color:  var(--mainColor);
                }

                &:hover>a::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }


                &:last-of-type {
                    a {
                        margin-right: 0;
                    }
                }
            }

            .main_nav_sub {
                top: 50px;
                position: absolute;
                left: 0;
                width: 100%;
                box-shadow: 0 0 6px rgba(200, 200, 200, 0.25);
                transform: scaleY(0);
                transform-origin: top;
                border-radius: 0 0 10px 10px;
                transition: 0.3s;
                overflow: hidden;

                &.active {
                    transform: scaleY(1);
                }

                & li a {
                    display: inline-flex;
                    text-transform: none;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 20px;
                    width: 100%;
                    height: 50px;
                    transition: 0.3s;
                    background-color: var(--backGround);

                    &:hover {
                        color: #fff;
                        background-color: var(--mainColor);
                    }
                }

            }
        }
        .mob_nav_on{
            display: none;
        }
    }
    #mode_btn{
        display: none;
    }
    #mode_btn +label{
        position: fixed;
        width: 100px;
        height: 100px;
        @include flex_center;
        background-color: var(--mainColor);
        border-radius: 50%;
        right: 20px;
        bottom: 20px;
        color: #fff;
        border:1px solid var(--backGround);
        cursor: pointer;
        &:hover{
            animation: shake 1.2s  infinite linear;
        }
        @include mq('639'){
            &{
                width: 80px;
                height: 50px;
                border-radius: 10px;
                font-size: 14px;
            }
        }
    }
    @include mq('1023'){
        nav{
            .logo>a{
                width: 150px;
            }
            .main_nav{
                width: 100%;
                height: calc(100vh - 50px);
                background-color: var(--backGround);
                position: fixed;
                top:50px;
                left: 0;
                flex-direction: column;
                transition: 0.3s;
                transform: scaleX(0);
                transform-origin: left;
                overflow: hidden;
                &>li{
                    transition: 0.3s;
                    a{
                        padding:20px;
                        height: auto;
                        &::before{
                            display: none;
                        }
                    }
                }
                .main_nav_sub{
                    position: relative;
                    top: 0;
                    border-radius: 0;
                    transform: scaleY(1);
                    height: 0px;
                    
                }

                &.mo_active{
                    transform: scaleX(1);
                }
            }
            .mob_nav_on{
                width: 50px;
                height: 50px;
                display: block;
                position: fixed;
                top: 0;
                right: 20px;
                cursor: pointer;
                span{
                    position: absolute;
                    top: 13px;
                    right: 0;
                    display: inline-block;
                    width: 32px;
                    height: 4px;
                    background-color: var(--color);
                    transition: 0.3s;
                    &:nth-of-type(2){
                        top: 23px;
                        background-color: var(--mainColor);
                    }
                    &:nth-of-type(3){
                        top: 33px;
                    }
                }
                &.mo_active{
                    span{
                        top: 23px;
                        transform: rotate(135deg);
                        &:nth-of-type(2){
                            top: 23px;
                            transform: rotate(90deg);
                            opacity: 0;
                        }
                        &:nth-of-type(3){
                            transform: rotate(225deg);
                        }
                    }
                }
            }
        }
    }
}

// base

.main_container {
    width: 100%;
    max-width: 1024px;
    margin: 50px auto 0;
    min-height: calc(100vh - 50px);
    padding: 0 20px 20px;

    .title {
        padding-top: 40px;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1.5;

        &::first-letter {
            font-size: 36px;
            color: var(--mainColor);
        }
    }

    .contents {
        margin-top: 20px;
    }

    .btn {
        display: inline-block;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #efefef;
        position: absolute;
        color: var(--color);
        font-weight: bold;
        text-decoration: none;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: 0.3s;
        box-shadow: 10px 10px 0px rgba(200, 200, 200, 0.25);

        &::after {
            transition: transform 0.3s;
            transform-origin: right;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            background: var(--mainColor);
            transform: scaleX(0);
        }

        &:hover {
            border-color: transparent;
            color:#fff;

            &::after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }

}

// main
.home{
    .main_container{
        div{
            @include flex_center;
            height: calc(100vh - 70px);
            svg{
                width: 100%;
                overflow:visible;
                .path_item {
                    fill: transparent;
                    stroke:var(--color);
                    stroke-miterlimit: 1;
                    stroke-dasharray: 181;
                    stroke-dashoffset: 181;
                    animation: dash2 1s linear  both;
                }
                
                .path_item:nth-of-type(1){
                    stroke: var(--mainColor);
                    stroke-dasharray: 500;
                    stroke-dashoffset: 500;
                    animation: dash 1.5s linear  both;
                }
                .path_item:nth-of-type(2){
                    animation-delay: 0.5s;
                }
                .path_item:nth-of-type(3){
                    animation-delay: 0.8s;
                }
                .path_item:nth-of-type(4){
                    animation-delay: 1.1s;
                }
                .path_item:nth-of-type(5){
                    animation-delay: 1.3s;
                    animation-duration: 0.5s;
                }
                .path_item:nth-of-type(6){
                    animation-delay: 1.4s;
                    animation-duration: 0.5s;
                
                }
                .path_item:nth-of-type(7){
                    animation-delay: 1.5s;
                    animation-duration: 0.5s;
                
                }
                .path_item:nth-of-type(8){
                    animation-delay: 1.6s;
                    animation-duration: 0.5s;
                
                }
                .path_item:nth-of-type(9){
                    animation-delay: 1.7s;
                    animation-duration: 0.5s;
                
                }
                .path_item:nth-of-type(10){
                    animation-delay: 1.8s;
                    animation-duration: 0.5s;
                
                }
            }
        }
    }
 

}






