// |--------------------------------------------------------------------------
// | Image
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .path-frontpage
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin path-frontpage-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.path-frontpage {
  .field--name-field-os2web-page-paragraph-wide > .field__item > .paragraph {
    padding: 25px 0 20px 0;
  }

  h3, .h3 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
