#kelquartier-quartier, #kelquartier-ville, #kelquartier {
	position: relative;
	margin: auto;
	margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
	#kelquartier-quartier, #kelquartier-ville, #kelquartier {
		width: 1000px;
	}
}

@media only screen and (max-width: 1024px) {
	#kelquartier-quartier, #kelquartier-ville {
		width: 100%;
		padding: 0 30px;
	}
}

@media only screen and (max-width: 1023px) {
	.detail-poi-kelquartier .detail-accordeon-item-txt {
		display: block;
	}
}

.wide-img {
	width: 100%;
	height: 250px;
	overflow-y: hidden;
	cursor: pointer;
	margin: auto;

	background-color: grey;
	background-repeat: no-repeat;
	background-size: 100%;
	transition: all .2s linear;
	background-position: center;
	background-blend-mode: soft-light;
}

@media only screen and (max-width: 480px) {
	.wide-img {	
		height: 180px;
	}
}

.wide-img.inactive {
	background-blend-mode: initial;
	cursor: initial;
}

#kelquartier-quartier .wide-img.inactive {
	background-blend-mode: soft-light;
}

.detail-poi-kelquartier .detail-poi-ttl {
  font-size: 2.85714em;
  font-family: "Raleway",arial,sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #f89d21;
  margin-bottom: 50px
}

.topville-kelquartier {
	margin-top: 50px;
}	

.wide-img:not(.inactive):hover {
	background-size: 110%; 
}

.wide-img > img  {
	width: 100%;
	height: auto;

	display: block;
}

.title-text {
	text-align: center;
	color: black;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

.text {
	text-align: center;
	color: black;
	margin-top: 15px;
}

.inside-text {
	position: absolute;
	height: 250px;
	left: 0; right: 0;
	top: 0;
	line-height: 250px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	pointer-events: none;
}

.inside-text > div {
	line-height: 100%;
	vertical-align: middle;
	display: inline-table;
	font-weight: bolder;
	font-size: 1.8em;
	color: white;
	font-family: "Raleway",arial,sans-serif;
}

@media only screen and (max-width: 480px) {
	.inside-text {
		height: 180px;
		line-height: 180px;
	}
	.inside-text > div {	
		font-size: 1em;
	}
}

.infos-poi-container {
	border: 4px solid lightgrey;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.infos-poi-container.span4 {
		width: 380px !important;
		margin: auto !important;
	}
}

@media only screen and (max-width: 480px) {
	.infos-poi-container.span4 {
		height: 780px !important;
	}
}

.infos-poi-title {
	margin-top: 10px;
	margin-bottom: 15px; 
	text-align: center;
}

.infos-poi {
	padding-left: 15px;
	font-size: 0.9em;
}

@media only screen and (min-width: 480px) {
	.row-fluid .infos-poi.span6 {
		float: left;
		width: 47%;
	}
}

@media only screen and (min-width: 480px) {
	.row-fluid .infos-poi.span3 {
		float: left;
		width: 47%;
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 768px) {
	.row-fluid .infos-poi.span3 {
		float: left;
		width: 23%;
	}
}

@media only screen and (max-width: 480px) {
	.row-fluid .infos-poi.span3 {
		margin-bottom: 15px;
	}
}

.infos-poi-container .infos-poi {
	height: 72px;
}

.infos-poi img {
	margin-right: 5px;
} 

.infos-poi .poiPopulation,
.infos-poi .poiCommerces,
.infos-poi .poiPaysage,
.infos-poi .poiTransports,
.infos-poi .poiSoleil,
.infos-poi .poiSports,
.infos-poi .poiEcoleCreche,
.infos-poi .poiEspacesVert,
.infos-poi .poiQuartierAnime,
.infos-poi .poiRestaurants {
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 0.9em;
	text-align: initial;
	margin: auto;
	display: inline-block;
}

.poiPopulation {
	padding-left: 27px;
	line-height: 22px;
}
.poiCommerces {
	padding-left: 27px;
	line-height: 22px;
}
.poiPaysage {
	padding-left: 27px;
	line-height: 22px;
}
.poiTransports {
	padding-left: 27px;
	line-height: 22px;
}
.poiSoleil {
	padding-left: 27px;
	line-height: 22px;
}
.poiSports {
	padding-left: 27px;
	line-height: 22px;
}
.poiEcoleCreche {
	padding-left: 27px;
	line-height: 22px;
}
.poiEspacesVert {
	padding-left: 27px;
	line-height: 22px;
}
.poiQuartierAnime {
	padding-left: 27px;
	line-height: 22px;
}
.poiRestaurants {
	padding-left: 27px;
	line-height: 22px;
}

.annonces-simi {
	padding-top: 0;
}
