@import "color";
// BG UNI
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:380;

// VARIABLE SITE TYPO
$font-body:"proxima-nova",arial,verdana,sans-serif;
$font-title:"open-sans",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:normal;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// BORDER EFFECT ON NAV
$border-nav:no;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN TOP NAV
$margin-top-navigation:8;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces3";

// IMPORT MODULE PUB LIB1 = MODELE BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// CSS PERSO
.zone-pub p {min-height:75px;}

.menu-principal {margin-top: 40px;}

.nav-footer-titre {text-transform: uppercase;}

.txt-agence p { text-align:justify;}
.bigger.bouton-selection-annonces {background:$color-block;}
.caret {border-top-color:$color-block;}
.scrollToTop {background-color:$color-block; border:1px solid $color-body;}
.MicrosoftMap a {color:$color-important;}
.zone-galerie .theme-default .nivo-directionNav a {background-color:$color-important!important;}
.btn-action {
	background-color: $color-block;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='$color-body', endColorstr='$color-block');
	background-image: -webkit-linear-gradient(top, $color-body,$color-block 100%);
	background-image: -moz-linear-gradient(top, $color-body,$color-block 100%);
	background-image: -o-linear-gradient(top, $color-body,$color-block 100%);
	background-image: linear-gradient(to bottom, $color-body,$color-block 100%);
}

.menu-principal>li>a {font-size:18px;}
.zone-galerie .theme-default .nivoSlider { background-color: transparent;}
