@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:540;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:2.0em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:170;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/extra/extra13";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------------------------------------
//		PERSO GILLBELIMMO
//---------------------------------------------------------------------------------------------------------------


//---------------------------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//---------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:100%;
	}
}

.btn-action-no-gradient {
	color:$color-primary;
	&:hover {
		color:$color-primary;
	}
}

	//---------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------------------------

.navigation {
	border-bottom:solid 1px $color-secondary;
}

.menu-principal {
	line-height:124px;
	>li {
		padding: 10px 12px;
		>a:hover {
			background:$color-action;
			color:$color-primary;
		}
	}
}

//---------------------------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------------------------
	//		VISEUL
	//---------------------------------------------------------------------------------------------------------------

/*.emplacement-header {
	background-color:rgba($color-primary,0.8);
}*/


	//---------------------------------------------------------------------------------------------------------------
	//		MODULE PA
	//---------------------------------------------------------------------------------------------------------------

.module-homepage .height-220 {
	height:260px;
}

.module-annonces-homepage {
	background:$color-block;
	padding:10px;
	border:none;
	&:hover {
		border:none;
	}
}

	//---------------------------------------------------------------------------------------------------------------
	//		EXTRA
	//---------------------------------------------------------------------------------------------------------------

.module-homepage .height-190 {
	height:240px;
}

.module-annonces-homepage .pagination-left {
	text-align:center;
}

	//---------------------------------------------------------------------------------------------------------------
	//		SERVICES
	//---------------------------------------------------------------------------------------------------------------

.zone-pub {
	background:$color-block;
	padding:10px;
}

.bg-index-text {
	background:$color-block;
	padding:10px;
}

.menu-acc > li {
	line-height:35px;
	>a:hover {
		text-decoration:none;
	}
}

	//---------------------------------------------------------------------------------------------------------------
	//		PUB FULL
	//---------------------------------------------------------------------------------------------------------------
.bg-pub-bottom .container {
	width:100%;
}

.bg-pub-bottom .h1-like {
	display:none;
}

#map-bing {
	margin-top:0px;
}