@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:820;

// VARIABLE SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"futura-pt-condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:152;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra13";

.container {
    width: auto;
    max-width: 1280px;
    @media only screen and (max-width : 1310px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* --------------------------------------------------------------------- */
/* -- PERSO
/* --------------------------------------------------------------------- */
.h1-index {
    a {
        display: block;       
        transition: background 0.5s;
        text-transform: inherit;
    }
    a:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.1);
    }
}
.padding-top-content-logo-big {
    padding-top:60px;
}

.menu-big {
    &-item {
        &:hover {
            background-color: $color-secondary;
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.big {
    font-size: 1em;
}

.menu-principal {
    font-size: 1.5rem;
}
.menu-responsive {
    a {
        color: white;
    }
}

/* --------------------------------------------------------------------- */
/* -- HOMEPAGE - RECHERCHE AGENCES
/* --------------------------------------------------------------------- */

.section-intro {
    padding-top: 0;
    font-size: 1.25em;
    line-height: 1.4;
}


.homeagc-moteur {
    margin-top: 2rem;
}
.homeagc-moteur-ttl {
    margin-bottom: 1rem;
    font-size: .875em;
    text-transform: uppercase;
}

.homeagc-form-field {
    position: relative;
    select {
        height: auto;
        min-height: 50px;
        padding: 1.25rem 2.5rem 1.25rem 1.25rem;
        cursor: pointer;
        color: lighten($color-font-body,50);
        border: 1px solid lighten($color-font-body,50);
        border-radius: 3px;
        line-height: normal;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;;
        &:focus {
            outline: none;
        }
        &::-ms-expand,
        &::-ms-clear {
            display: none;
        }
        &[disabled] {
            cursor: default;
            border-color: darken($color-block,15);
            background-color: darken($color-block,15);
        }
    }
    &:after {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 10px;
        bottom: 0;
        content: "";
        margin: auto;
        pointer-events: none;
        border-width: 5px 5px 0 5px;
        border-style: solid;
        border-color: $color-font-body transparent transparent transparent;
    }
}

.agents-form-btn  {padding: 1.50rem 2.5rem 1.50rem 1.50rem;}

.module-annonces-homepage-extra    {background:$color-block;}


.homeagc-map .MicrosoftMap {
    width: 50% !important;
    height: 80% !important;
}


.height-190 {
    height: 245px;
}

h3, .h3-like {
    font-size: 1.25em;
}

.bloc-prase-nb {
display:none;
}


.h1-phrase-recherche {
display:none;
}

.cookie-banner {
 background-color: $color-important;  
 color: $color-body;
}


@media only screen and (max-width: 767px) {
.typo-action {
    color: #949494;
}
}