.header {
    @include center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 4vw);
    padding: 2vw;
    text-align: center;
    overflow: hidden;
    transition: .5s ease;
    z-index: 10;
    &.scroll-active {
        pointer-events: none;
        .logo {
            transform: translate(-90px, 0px);
            transition: .5s ease;
            opacity: 0;
        }
        .marquee-wrap {
            transition: .5s ease;
            opacity: 0;
            .marquee { animation-play-state: paused; }
        }
        .menu-btn {
            transition: .5s ease;
            transform: translate(90px, 0px);
            opacity: 0;
        }
    }
    .logo { position: relative; line-height: 0px; transform: translate(0px, 0px); transition: .5s ease; }
    .menu-btn {
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: .5s ease;
        z-index: 11;
        span {
            display: block;
            width: 40px;
            height: 5px;
            margin: 10px;
            background: #111;
        }
    }
    .menu-view {
        @include center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: 0.5s ease-in-out;
        &.active { pointer-events: all; opacity: 1;
            .menu-view-menubox {
                .menubox-list {
                    .list {
                        a { transform: translateY(0); }
                    }
                }
            }
        }
        .menu-dim { width: 100%; height: 100%; background: #fff; opacity: 0.95; }
        .menu-view-menubox { display: flex; position: fixed; flex-wrap: nowrap; align-items: center; -webkit-box-align: center; text-align: left;
            .menubox-list {
                .list { padding: 0px 20px; overflow: hidden; transition: 0.5s ease;
                    &:hover { transform: translate3d(-10px, -10px, 0px); }
                    a {
                        display: inline-block;
                        font-size: 125px;
                        font-weight: bold;
                        transform: translateY(100%);
                        transition: 0.5s ease;
                        text-shadow: 1px 1px 1px #545454;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50px;
                            right: -10px;
                            width: 30px;
                            height: 30px;
                            display: block;
                            background: linear-gradient(45deg, $primary-color, #6C63FF00);
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}
.marquee-wrap {
    width: calc(100% - 104px);
    margin: 0px 100px;
    overflow: hidden;
    transition: .5s ease;
    .marquee {
        display: inline-block;
        font-size: 20px;
        white-space: nowrap;
        animation: 10s marquee linear infinite;
        p {
            display: inline-block;
            vertical-align: middle;
        }
        &::after {
            content: '';
            white-space: nowrap;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}
.prologue {
    padding: 14vw 0px;
    overflow: hidden;
    &--text {
        position: relative;
        height: 270px;
        line-height: 250px;
        font-size: 300px;
        font-family: $futura-logo;
        color: $black-color;
        letter-spacing: 15px;
        text-transform: uppercase;
        transition: 1s cubic-bezier(0.74, 0.51, 0.51, 1.26);
        animation: 0.8s introTextAnimation forwards;
        opacity: 0;
        text-shadow: 1px 1px 5px #111;
        &.effect-dot { width: 960px;
            .inner-dot {
                position: absolute;
                bottom: 30px;
                right: -225px;
                width: 85px;
                height: 70px;
                border-radius: 100%;
                background: $primary-color;
                animation: 1.5s dotAnimation forwards;
                animation-delay: 1s;
                transition: 1s cubic-bezier(0.32, 0.18, 0.26, 0.84);
                opacity: 0;
                box-shadow: 1px 1px 10px 0px #151414
            }
        }
        &.effect-blur { animation-delay: 0.4s; }
        &.effect-line { animation-delay: 0.2s;
            &:after {
                content: '';
                position: absolute;
                bottom: -80px;
                left: 570px;
                width: 500px;
                height: 150px;
                border-radius: 100px;
                background: rgb(0, 54, 255, 0.8);
                box-shadow: 1px 1px 1px 0px #151414;
                transition: 1s ease-in-out;
                animation: 0.5s TopBottomAnimation forwards;
                animation-delay: 2s;
                opacity: 0;
            }
        }
    }
}
.loading {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 300px auto;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #ccc9c4, -20px -20px 60px #ffffff;
    &--circle {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        width: 20px;
        height: 20px;
        background: $primary-color;
        border-radius: 13px;
        box-shadow: 1px 1px 2px 0px #5d1717;
        transition: 0.2s ease-in-out;
        animation: 1s dotBadge infinite both;
        &:nth-child(1) { left: 20%; animation-delay: 0.1s; }
        &:nth-child(2) { animation-delay: 0.3s; }
        &:nth-child(3) { left: auto; right: 20%; animation-delay: 0.5s; }
    }
}
.work {
    counter-reset: section;
    .work__list {
    	cursor: default;
    	position: relative;
    	padding: 0 5vw;
        .work__list--link {
        	display: inline-block;
            position: relative;
            line-height: 1.15;
        	padding: 0 1vw;
            font-family: 'logo';
            font-size: $item-font-size;
        	font-weight: 900;
            color: transparent;
        	-webkit-text-stroke: 1.5px #000;
        	text-stroke: 1.5px #000;
        	-webkit-text-fill-color: transparent;
        	text-fill-color: transparent;
        	transition: opacity 0.4s;
            white-space: nowrap;
            cursor: pointer;
            &::before {
                all: initial;
            	counter-increment: section;
            	content:  counter(section);
            	position: absolute;
            	bottom: 60%;
            	left: 0;
            	pointer-events: none;
            }
            &:hover {
                transition-duration: 0.1s;
            	opacity: 0;
            }
        }
        .work__list--img {
        	pointer-events: none;
        	position: absolute;
        	height: 50vh;
        	max-height: 400px;
        	opacity: 0;
        	left: 100%;
        	top: 50%;
        	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
        }
        .work__list--marquee {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: $marquee-width;
        	overflow: hidden;
        	pointer-events: none;
        	mix-blend-mode: color-burn;
            .marquee--text {
            	width: fit-content;
            	display: flex;
            	position: relative;
            	transform: translate3d($move-initial, 0, 0);
            	animation: text-marquee 5s linear infinite;
            	animation-play-state: paused;
            	opacity: 0;
            	transition: opacity 0.1s;
                .text {
                    line-height: 1.15;
                    padding: 0 1vw;
                    font-family: 'logo';
                	font-size: $item-font-size;
                	font-weight: 900;
                    font-style: italic;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    }
    .work__list--link:hover + .work__list--img {
    	opacity: 1;
    	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
    	transition: all 0.4s;
    }
    .work__list--link:hover ~ .work__list--marquee .marquee--text {
    	animation-play-state: running;
    	opacity: 1;
    	transition-duration: 0.4s;
    }
}
.asof {
    padding: 10vw 0px;
    .asof__preview {
        @include center;
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: -2;
        .asof__preview--img {
            width: calc(100vw - 26px);
            text-align: center;
            justify-content: center;
            .image {
                width: 50%;
            }
        }
        .asof__preview--top_text {
            position: absolute;
            top: 50%;
            left: 16%;
            z-index: 10;
            font-size: 250px;
            color: #0036ff;
            font-weight: bold;
            font-family: 'logo';
            text-shadow: 4px 5px 7px black;
        }
        .asof__preview--bottom_text {
            position: absolute;
            top: 0px;
            left: 36%;
            z-index: -1;
            font-size: 250px;
            color: #fff;
            font-weight: bold;
            font-family: 'logo';
            text-shadow: 4px 6px 7px #000;
        }
    }
}
