// SECTION environments :: START

.environments {
  padding-top: 45px;
  padding-bottom: 150px;

  &__wrapper {
    display: flex;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-left {
      padding-top: 100px;
      width: 100%;
      max-width: 458px;
      @include adaptive(1023) {
        max-width: 50%;
        padding-top: 50px;
        padding-right: 30px;
      }
      @include adaptive(767) {
        max-width: 100%;
        padding-top: 0;
        padding-right: 0;
      }

      > div {
        width: 100%;
        max-width: 380px;
        @include adaptive(767) {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
      }
    }

    &-right {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
    }
  }

  &__title {
    padding-bottom: 35px;
    text-align: left;
  }

  &__subtitle {
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    @include adaptive(767) {
      font-size: 20px;
      padding-bottom: 15px;
    }
  }

  &__desc {
    padding-bottom: 50px;
    font-size: 14px;
    @include adaptive(767) {
      padding-bottom: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: #ee5253;
    font-size: 14px;
    font-weight: 700;
    @include adaptive(767) {
      justify-content: center;
      margin-bottom: 50px;
    }

    span {
      padding-right: 10px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ee5253;
    box-shadow: 0 1px 4px 2px rgba(#ee5253, 0.3);
    will-change: opacity;
    @include transition(opacity);

    &.swiper-button-disabled {
      opacity: 0.3;
      @include transition(opacity);
    }

    &-wrapper {
      display: flex;
      align-items: center;
      padding-top: 75px;
      @include adaptive(767) {
        display: none;
      }
    }

    .icon-font {
      color: $c-white;
      font-size: 10px;
    }

    &--next {
      margin-right: 10px;
    }

    &--prev {
      .icon-font {
        transform: scale(-1);
      }
    }
  }

  .swiper {
    &-container {
      &-environments2 {
        padding-bottom: 50px;

        .swiper {
          &-slide {
            overflow: hidden;
            opacity: 0.3;
            filter: grayscale(1);
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 400px !important;
            height: 450px;
            backface-visibility: hidden;
            will-change: opacity, filter;
            @include transition(opacity, filter);
            @include adaptive(1279) {
              width: 100% !important;
            }
            @include adaptive(767) {
              height: 350px;
            }

            &:last-of-type {
              width: calc(100% - 420px) !important;
              box-shadow: none;
              background-color: transparent;
              @include adaptive(1279) {
                width: 100% !important;
              }
            }

            > div {
              overflow: hidden;
              position: relative;
              width: calc(100% - 138px);
              height: 60%;
              border-radius: 5px;
              background-color: #ffffff;
              box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
              backface-visibility: hidden;
              will-change: width, border-radius, height, margin;
              @include transition(width, border-radius, height, margin);
              @include adaptive(1279) {
                width: 100% !important;
                height: 100%;
              }
            }

            &-next {
              div {
                margin-right: auto;
              }
            }
            &-prev {
              div {
                margin-left: auto;
              }
            }

            &-active {
              opacity: 1;
              filter: grayscale(0);
              @include transition(opacity, filter);

              > div {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                @include transition(width, border-radius, height, margin);
              }
            }

            img {
              @extend %imageResCoverAbs;
            }
          }

          &-pagination {
            display: flex;
            align-items: center;
            justify-content: center;

            &-bullet {
              outline: none;
              opacity: 1;
              width: 6px;
              height: 6px;
              background-color: #e8e8e8;
              will-change: width, border-radius, background-color;
              @include transition(width, border-radius, background-color);

              &-active {
                width: 20px;
                border-radius: 2em;
                background-color: #ee5253;
                @include transition(width, border-radius, background-color);
              }
            }
          }
        }
      }
    }
  }
}

// SECTION environments :: END