
.wrapper{
   display: flex;   
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5vh;

   .logo{
      img{
         width: 300px;
         height: 80px;
      }
   }

   .links{
      align-self: center;       
      a{
         margin-right: 1rem;
         text-decoration: none;
         font-weight: 300;
         font-size: 1rem;         
         color: #241E6B;
         transition: all .5s ease-in-out;
         &:hover{
            color: #948ce7;
         }
         img{
            width: 20px;
            height: 20px;
         }
      }
   }
}

.copyright{
   margin-top: 2rem;
   color:#8FAABE;
   font-size: .9rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .policy{
      small{
         margin-right: 1rem;
      }
   }
}

