:root {
  --side-bg-color: rgb(62, 68, 95);
  --side-bg-color-hover: rgb(84 92 128);
  --side-color: #fff;
  --header-bg-color: rgb(65, 69, 100);
  --header-color: white;
  --status-color: #06ef61;
  /** these vars used for translating the toolbar from the sidebar to the header
    when w toggle the sidebar*/
  --toolbar-trans-x: -1366px;
  --toolbar-trans-y: 630px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #2c3e50;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

a {
  color: #3e445f;
}

ol, ul {
  list-style-position: inside;
}

/****************/

// Most important part
.expand {
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.4s; // Durations can be changed without touching JS
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); // Timing functions also!
  &[aria-expanded="false"] {
    height: 0 !important;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); // Timing function can be different for each direction
  }
}

.u-no-transition {
  transition-duration: 0s !important;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.blocks-space {
  height: 16px;
}

.entities-list {
  &-item {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    color: #222;
    display: block;
    padding: 1rem;
    transition: background-color 0.1s linear;

    &--hoverable {
      &:hover {
        background-color: #eee;
      }
    }

    &--tiny {
      padding: 0.25rem 0.4rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-wrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0;
  }

  &-footer {
    margin: 16px 0 16px 0;
    text-align: center;
  }
}

.block {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.3);
  color: #000;
  display: block;
  margin: 0 0 2rem;
  padding: 1rem;

  &--tiny {
    padding: 0;
  }

  &-title {
    color: #222;
    font-weight: 300;
    margin: 0 0 0.8rem;
  }

  &-subtitle {
    color: #222;
    font-weight: 300;
    margin: 0 0 1rem;
  }
}

.form {
  &-control {
    display: block;
    margin: 0 0 1.5rem;
    width: 100%;
  }

  &__label {
    color: #444;
    display: block;
    font-size: 0.875rem;
    margin: 0 0 0.4rem;
    width: 100%;
  
    &--required:after {
      content: ' *';
      color: #f00;
    }

    &--filter {
      color: #444;
      font-size: 0.8rem;
    }
  }

  &__input {
    border-radius: 2px;
    border: 1px solid #ddd;
    max-width: 100%;
    padding: 0.5rem;
    width: 100%;
  }

  &__select {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
  }
}

.buttons-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;

  @media (--mobile) {
    flex-direction: column;
  }
}

.info-item {
  display: flex;
  margin: 0 0 1rem;

  &__label {
    color: #444;
    min-width: 100px;
    padding: 0 1rem 0 0;
    user-select: none;
  }

  &__value {
    display: inline-block;
    user-select: all;
    word-break: break-word;
  }
}

.crm-table {
  border-collapse: collapse;
  width: 100%;

  &-wrapper {
    width: 100%;
    overflow-x: scroll;
  }

  & > thead {
    background-color: var(--side-bg-color);

    & > tr {
      & > td {
        color: #fff;
        font-size: 0.8rem;
        padding: 8px;
        text-align: center;
      }
    }
  }

  & > tbody {
    & > tr {
      &:nth-child(2n) {
        background-color: #eee;
      }

      &:hover {
        background-color: #ddd;
      }

      & > td {
        font-weight: 400;
        padding: 8px;

        &.crm-table-cell--align-center {
          text-align: center;
        }

        &.crm-table-cell--type-date {
          & > time {
            color: #666;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.page-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 400;

  &__actions {
    margin: 0 0 0 1rem;
  }

  &__link {
    align-items: center;
    background-color: var(--side-bg-color);
    border-radius: 4px;
    border-style: none;
    box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    letter-spacing: 2px;
    outline: 0;
    padding: 0.4rem 1rem;
    transition: background-color 0.1s ease;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      background-color: var(--side-bg-color-hover);
    }
  }
}

@import './styles/grid.scss';
@import './styles/style.scss';
