.profile{
    width: 100%;
    .heading{
        padding-top: 60px;
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
        padding-left: 0;
        padding-right: 0;
        .heading-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 30px;
            padding-left: 10px;
            .pagetitle{
                h1{
                    span{
                        color: #e55523;
                    }
                }
            }
            .pagetext{
                .notification{
                    cursor: pointer;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    i.fa-bell{
                        font-size: 30px;
                        color: #e55523;
                        // filter: invert(1);
                    }
                    .btn-edit{
                        background: #fff;
                        color: #e55523;
                        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-right: 15px;
                    }
                    .btn-active{
                        background: #fff;
                        color: #15286a;
                        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-right: 15px;
                        i{
                            color: #15286a;
                        }
                    }
                }
            }
        }
    }
}
.booking{
    padding: 20px 0px;
    .header-tabs {
        border-bottom: 0;
        margin-bottom: 20px;
        li{
            a{
                white-space: nowrap;
                text-decoration: none;
                color: #fff;
                display: block;
                text-align: center;
                padding: 5px 10px;
                margin-right: 15px;
            }
            a{
                &::after{
                    display: none!important;
                }
            }
            a.accepeted{
                color: #008080;
            }
            a.accepeted.active{
                border: none;
                background: #008080;
                color: #fff;
                // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
            }
            a.sla{
                color: #15286a;
            
            }
            a.sla.active{
                border: none;
                background: #15286a;
                color: #fff;
                // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
            }
            a.rejecting{
                color: #ff002d;
            
            }
            a.rejecting.active{
                border: none;
                background: #ff002d;
                color: #fff;
                // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
            }
            a.processing{
                color: #ffc312;
            }
            a.processing.active{
                border: none;
                background: #ffc312;
                color: #fff;
                // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
            }
        }
    }
    .inner-header-tabs{
        margin-bottom: 2rem;
        padding-left: 0;
        border-bottom: 1px solid #e3ebf6;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: #6c757d;
                padding: 0 1.5rem 1rem 1.5rem;
                display: block;
                font-weight: 600;
                position: relative;
                // overflow: hidden;
                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 1px;
                    background: var(--primary);
                    display: none;
                    animation: 1s size;
                    @keyframes size{
                        0%{
                            width: 0px;
                        }
                        100%{
                            width: 100%;
                        }
                    }
                }
            }
            a.active{
                &::after{
                    display: block;
                    
                }
            }
        }
    }
    .hotel_btn{
        li{
            button{
                padding: 15px 10px;
            }
        }
    }
    .font-color-admin{
        color: #008080;
    }
    .font-color-agent{
        color: #383c47;
    }
    .font-color-cop{
        color: #ff002d;
    }
    .font-color-user{
        color: #f232b2;
    }
    table{
        tbody{
            tr{
                margin-top: 5px;
                margin-bottom: 5px;
                td{
                    position: relative;
                    &::after{
                        width: 1px;
                        height: 70%;
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #ccc;
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                        text-align: center;
                    }
                }
            }
        }
        thead{
            tr{
                th{
                    &:last-child{
                        text-align: center;
                    }
                }
            }
        }
    }
    .alert_msg{
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        display: grid;
        justify-content: center;
        align-items: center;
    
        .alert_card{
            border-radius: 10px;
            animation: boxsize 1.5s;
            @keyframes boxsize{
                0%{
                    transform: scale(0);
                }
                100%{
                    transform: scale(1);
                }
            }
        }
    }
}

.booking-data{
    h5{
        color: #51cbce;
    }
    p{
        display: inline-block;
        margin-right: 10px;
    }
    margin-bottom: 15px;
}
.show_room_modal{
    // display: none;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .modal-dialog{
        
        // background: #f5f5f5;
        max-width: 100%;
        .modal-content{
            .modal-body{
                .booking-heading{
                    h4{
                        font-weight: 500;
                    }
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.dataTables_wrapper{
    .dataTables_filter{
        float: right;
    }
}
@media (max-width: 414px) {
    .booking .header-tabs{
        width: 100%;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 0;
        li{
            a{
                font-size: 12px;
            }
        }
    }
}