@import '_var';

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

a,
li,
button {
    text-decoration: none;
    // color: $White;
    background-color: transparent;
    list-style: none;
    outline: none;
    border: none;
}

html{
    font-size: 50%;
}


body {
    font-size: 15px;
    font-family: $Alata;
    min-width: 375px;
    font-weight: 200;

}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.container {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    width: 100%;

    .header {
        position: relative;
        height: 100vh;
        color: $White;
        width: 100%;
        @extend .flex-col-center;
        padding: 2rem 1.5rem;

        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -100;

            img {
                object-fit: cover;
                // max-width: 375px;
                width: 100%;
                height: 100%;
            }
        }


        &__nav {
            @extend .flex-col-center;
            position: absolute;
            top: 0;
            margin-top: 5rem;
            padding: 0 1rem;
            width: 100%;

            .nav__logo {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                z-index: 2;

                img {
                    width: 45%;
                }

                .nav-menu-btn {
                    background-color: transparent;

                    .bar {
                        width: 55px;
                        height: 5px;
                        margin-bottom: 9px;
                        background-color: #fff;
                    }

                    &.close {

                        .bar1 {
                            transform: rotate(45deg);
                        }

                        .bar2 {
                            display: none;
                        }

                        .bar3 {
                            transform: rotate(135deg);
                        }

                    }
                }

            }

            .nav__links {
                display: none;




                &.show {
                    @extend .flex-col-center;
                    align-items: start;
                    background-color: $Black;
                    position: fixed;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem 2rem;
                    text-transform: uppercase;
                    font-family: $Josefin;
                    font-size: 4rem;
                    font-weight: 200;
                    letter-spacing: 0.2rem;
                    
                    a {
                        margin-top: 1rem;
                        margin-bottom: 1.7rem;
                        margin-left: 2rem;
                        color:white ;
                    }
                }

            }
        }

        &__hero {
            align-self: center;
            border: $White solid 3px;
            padding: 2rem 2rem;
            font-family: $Josefin;
            font-size: 1.7rem;
            line-height: 4.3rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            width: 80%;
            transform: translateY(25%);
            .break {
                display: table;
            }
        }
    }

    .section {
        @extend .flex-col-center;
        padding: 3rem 2rem;
        position: relative;
        width: 100%;
        // height: 50rem;

        &1 {

            &__img {
                margin: 3.75rem 0;
            }

            &__titel {
                padding: 2.5rem 2rem;
                text-align: center;

                h2 {
                    width: 100%;
                    text-transform: uppercase;
                    letter-spacing: .4rem;
                    font-size: 3rem;
                    font-family: $Josefin;
                    padding: 0 2rem;
                    margin-bottom: 1.5rem;

                    .break {
                        display: block;
                        text-align: center;
                    }
                }

                p {
                    padding: .5rem 3rem;
                    font-size: 1.65rem;
                    line-height: 2;
                    color: $Very-Dark-Gray;

                }
            }
        }

        &2 {
            display: grid;
            grid-auto-flow: row;
            gap: 2.5rem;
            position: relative;
            width: 100%;

            &__itemes {
                &--titel {
                    font-family: $Josefin;
                    text-transform: uppercase;
                    place-self: center;
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                }

                &--btn {
                    order: 1;
                    place-self: center;

                    button {
                        padding: 1.5rem 4.5rem;
                        border: black 2px solid;
                        text-align: center;
                        // font-family: $Josefin;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                        letter-spacing: 0.4rem;
                        font-weight: 400;
                        cursor: pointer;


                    }
                }



                position: relative;

                img {

                    width: 100%;

                }

                h3 {
                    position: absolute;
                    bottom: 0;
                    font-size: 2.2rem;
                    line-height: 1.2;
                    letter-spacing: .2rem;
                    font-family: $Josefin;
                    text-transform: uppercase;
                    color: $White;
                    margin-left: 2.5rem;
                    margin-bottom: 2.5rem;

                    .break {
                        display: table;
                    }
                }



            }
        }

    }

    .footer {
        background-color: $Black;
        @extend .flex-col-center;
        width: 100%;

        &_right {
            @extend .flex-col-center;

            &__logo {
                margin-top: 5rem;
                margin-bottom: 2rem;
            }

            &__links {
                @extend .flex-col-center;

                a {
                    padding: 1rem 2rem;
                    color: $White;
                    font-size: 1.5rem;
                }
            }
        }

        &_left {
            @extend .flex-col-center;
            width: 100%;
            margin-top: 4rem;

            &__social {
                width: 40%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 3rem;

                img {

                    transform: scale(1.5);

                    &.fb {
                        filter: drop-shadow(#4267B2 2px 2px 15px);
                    }

                    &.tw {
                        filter: drop-shadow(#1DA1F2 2px 2px 15px);
                    }

                    &.pin {
                        filter: drop-shadow(#E60023 2px 2px 15px);
                    }


                    &.insta {
                        filter: drop-shadow(#fd1d1d 2px 2px 15px);

                    }
                }
            }

            &__copy {
                color: $Dark-Gray;
                margin: 2rem 0;
            }
        }

        .editor {
            font-size: 11px;
            text-align: center;
            margin: 1rem 0;
            color: coral;

            a {
                color: rgb(189, 182, 182);
            }
        }

    }
}