.profile{
    display: flex;
    margin-top: 50px;
    width: 900px ;
}
.profileRight{
flex: 9;
margin-bottom: 45px;
}

.profileRightBottom{
    display: flex;
}

.profileCover{
    width: 900px;
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 900px;
    height: 300px;
    object-fit:initial;
    justify-content: flex-start;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 15px;
  
}

.profileuserImg{
width: 150px;
height: 150px;
border-radius: 50% ;
object-fit: cover;
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 150px;
border:3px solid white;

}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    color: #000000;
    font-size: 30px;
    margin-top: 20px;
}

.profileInfoName{
    font-size: 24px;
    margin-left: 25px;

}
.profileInfoDesciption{
    font-weight: 300;
}