$very-dark-blue: hsl(233, 47%, 7%);
$desaturate-blue: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$paragraph-white: hsla(0, 0%, 100%, 0.75);
$heading-white: hsla(0, 0%, 100%, 0.6);

// Test setup
.test {
  border: 1px solid white;
}

// Basic styling
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  // font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  // letter-spacing: 0.5px;
}

body {
  background-color: $very-dark-blue;
  color: $paragraph-white;
  padding: 65px 0;
}

img {
  width: 100%;
  display: block;
}

h1,
strong {
  color: $white;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.1;
}

strong {
  font-size: 1.6rem;
}

p {
  line-height: 1.7;
  margin-bottom: 23px;
}

// utility classes
.accent {
  color: $violet;
}

.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

// card styling
.card {
  background-color: $desaturate-blue;
  width: 327px;
  margin: 0 auto 2rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__image {
    background-color: $violet;

    img {
      mix-blend-mode: multiply;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 40px 2rem 35px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__statistic {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      font-size: 0.8rem;
      letter-spacing: 1.15px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .centered {
    text-align: left;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  p {
    margin-bottom: 48px;
  }

  body {
    padding: 180px 0;

    .card {
      max-width: 1110px;
      width: 77%;
      flex-direction: row-reverse;

      &__image {
        flex: 0 0 48%;
      }

      &__information {
        flex: 0 0 52%;
        padding: 70px 8rem 2rem 5rem;
        gap: 25px;
      }

      &__stats {
        flex-direction: row;
        gap: 63px;
      }

      // &__statistic {
      //   margin-right: 4rem;
      // }
    }
  }
}
