@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:yes;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:200;

// SIZE NAVIGATION
$height-navigation:40;

// MARGIN SOUS NAV SI FIXE
$margin-top-under-nav-fixe:0;

// PLACEMENT TOP CONTENT
$placement-top-content:65;

// VAR SITE TYPO
$font-body:arial,verdana,sans-serif;
$font-title:"alternate-gothic-no-3-d",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE AMSTERDAM
@import "../../../slagence_X_V5/sources/scss/templates/amsterdam";

// IMPORT MODULE ANNONCES7
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";



.menu-principal li a {padding-right:10px; padding-left:10px; font-size:1em;}
.module-annonces-homepage, .recherche-annonces {background-color:$color-secondary; padding:10px;}
.typo-action, .small {color:white;}
.moteur-refine, .conteneur-checkbox {background-color:$color-secondary;}
#recherche-moteur {background-color:$color-secondary;}
.bg-secondary {background-color:$color-action;}
.detail-bloc-contact {background-color:$color-secondary;}
.h2-title-moteur .bg-primary {background-color:$color-secondary;}
.h2-title-moteur, .moteur-avantage > .row-fluid, .moteur-alerte > .row-fluid {@include gradient-secondary;}



// PAGE GESTION-SYNDIC

.charges, .carnet {background-color:$color-secondary; padding:10px;}
.contactez {color:$color-important;}
.dynamique ul li, .gestion ul li, .garantie ul li {list-style-type:disc; list-style-position:inside;}
.important {font-weight:bold; color:$color-important;}

.gestion {padding:10px; background-color:$color-secondary;}
.gestion img {margin-bottom:10px;}
.garantie {background-color:$color-important; padding:10px;}
.gestion, .dynamique, .garantie, .charges, .contrats, .carnet {text-align:justify;}

// PAGE RECRUTEMENT

.intro {color:$color-important;}
.intro-recrutement ul {display:inline-block; padding-left:15px;}
.intro-recrutement li {list-style-type:disc; margin-right:20px;}
.haut-de-page {background-color:$color-secondary; padding:10px;}

// PAGE AGENCE
.qui-sommes-nous {text-align:justify;}
.ligne-annonces-agence, .horaires-agence, .tbody {background-color:$color-secondary; padding:10px;}
.table-bordered, .table th, .table td, {border-color:white;}
.accordion-group{background-color:$color-secondary;}
.accordion-inner {background-color:$color-secondary-clair;}
.accordion-inner li a{color:white;}

//PAGE ANNONCE

.impair, .detail-bloc-agence, .nav-fiche li, .show-poi, .detail-bloc-annonce-similaire{background-color:$color-secondary;}
.dpe-show, .dpe-bloc-chiffre, .dpe-bloc-lettre {background-color:$color-secondary;} 




// VERSION MOBILES

@media only screen and (max-width:767px)
{
.hidden-desktop {color:white;}
.hidden-desktop:hover {color:black;}
.texte-info-agences,.texte-info-agences a{color:white;}
}


.cookie-banner {
	background: #000;
}
.cookie-banner .button_submit {
	background: #007AC3 !important;
}