.dashboard {
  .navbar {
    max-width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-bottom: 4rem;
    &-brand {
      margin-left: 0;
      margin-right: 0;
      height: 100px;
      color: transparent;
      display: block;
      background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/hsinyuuu/1632063617106.png?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=b6m6MB3tT8YdjjXrGEIfYOiPG7WiLWZQh70t%2FiztTby%2FoE94oXKk4Z4rTNA6ZdY0FP2KaOABNqQi71oBxXmq6RaZGfyyS8IanBY9P5HNnq7fewbWcVa%2BfD55IO9byGARZuxNsN8130QuQ%2B6etybXOW1G4X%2FxCl18V6FVDx6chD0LVpvzRPoMeQ3KvljB7JERnE6tjTdfICs6lVIK2syEzzX77vgnslWKMW4srn70Tf9hWASe7fXQsCveRTyMnIGBxNoTXFUYxGmIbcarBykBpqp7X2318frUkZ4%2FsvFRwCmJyAoef73yxE0uQ%2BGyE%2BFijCc2xbkfRBAcUWEFuhZDAA%3D%3D');
    }
    .nav-link{
      font-size: 1.25rem;
      &.active {
        .icon {
          background-color: $gray-200;
          margin-right: 2rem;
          transition: all 0.3s;
        }
        .bi {
          transform: translateX(50%);
          background-color: $gray-200;
          line-height: 1;
        }
      }
      &:hover {
        background-color: $gray-200;
      }
    }
    .btn {
      font-size: 1.25rem;
      &:hover {
        background-color: $gray-200;
      }
    }
  }
  .main {
    margin-left: 300px;
  }
  th, td {
    vertical-align: middle;
  }
  th {
    padding: 1rem 0.5rem;
    color: $gray-600;
    font-weight: bold;
  }
  .modal-header {
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  }
}
.product-modal-pictures {
  overflow-y: auto;
  max-height: calc(100vh - 250px);
}
.coupon.table {
  table-layout: fixed;
}
.ck-editor__editable_inline {
  min-height: 300px;
}
.ck-body-wrapper .ck.ck-balloon-panel {
  z-index: 1080;
}
.ck-content a {
  text-decoration: underline;
  background-color: $light;
  color: $teal;
}