@import "color";
// BG SOLO
$bg-uni: yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg: yes;
$picture-bg-url: "../images/dark_wall.png";
$picture-bg-repeat-horizontal: no;

// SIZE SCROLLING
$height-scrolling: 1004;

// SIZE NAVIGATION
$height-navigation: 123;

// VAR SITE TYPO
$font-body: "Source Sans Pro",verdana,sans-serif;
$font-title: "Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text: 1.5em;
$font-size-title: 1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title: uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title: normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi: yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT TEMPLATE HELSINKI
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES11
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

//PERSO

div.featherlight {
    .featherlight-content {
        overflow: visible;
    }
    .featherlight-close-icon{
        width: auto;
        right: 10px;
        &:hover {
            color: $color-action;
        }
    }
}
.titre-milieu {
    margin-top: 35px;
}
.padding-top-30 {
    padding-top: 30px;
}

.aside-home-2 {
    height: 1200px;
    background-color: $color-body;
    background-image: url("../images/homepage/homepage_scrolling_4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

.aside-home-5 {
    color: #fff;
    background-color: $color-body;
    background-image: url("../images/homepage/homepage_scrolling_5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

.aside-home-4 {
    height: auto;
    color: #fff;
    background-color: $color-body;
    background-image: url("../images/homepage/homepage_scrolling_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    padding-top: 30px;
    padding-bottom: 150px;
}

.ligne-titre {
    margin-top: 30px;
    margin-bottom: 30px;
}

.module-annonces-homepage {
    margin-bottom: 20px;
    background: none;
    &:hover {
        background: none;
    }
}

.module-homepage .height-300 {
    height: 380px;
}

.hover-infos-bien .bg-black {
    background-color: $color-action;
}

.module-infos-annonces {
    top: 40px;
    left: 7px;
}

.bloc-index {
    margin-left: 9%;
     > [class*="span"] {
        min-height: 165px;
        padding-top: 40px;
        cursor: pointer;
        color: $color-primary;
        background: url("../images/bg-nav-home.png") center center no-repeat;
        background-size: 96% 96%;
        font-family: $font-title;
        font-size: 1.0em;
        text-transform: uppercase;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        &:hover {
            color: $color-important;
            background-size: 102% 102%;
            text-decoration: none;
        }
    }
    .icon-v5 {
        display: block;
        margin-bottom: 8px;
        font-size: 1.8em;
    }
}

.menu-principal > li > a {
    padding: 0 6px;
    font-size: .9em;
}

.bg-inside {
    background-color: $color-body;
    background-image: url("../images/inside/inside_scrolling.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

.moteur-refine {
    .titre-section-refine {
        color: $color-primary;
        background-color: $color-action;
    }
}

.nav {
    &.nav-fiche-new {
        li,
        .impair {
            color: $color-primary;
            background-color: $color-action;
        }
    }
}

.btn-exclusif {
    &.btn-important {
        border-color: darken($color-exclu,10);
        border-radius: 3px;
        background-color: $color-exclu;
        background-image: none;
        filter: none;
        &:hover,
        &:active,
        &:focus {
            background-color: darken($color-exclu,10);
        }
    }
}

.btn-cdc {
    &.btn-neutre {
        color: $color-cdc;
        border-color: $color-cdc;
        border-radius: 3px;
        .opacity-4 {
            opacity: 1;
        }
    }
}

.agence-info-bien {
    .ellipsis {
        overflow: inherit;
        font-size: 1.4em;
    }
}

// SCROLL ARROW
.arrow-wrap {
    position: absolute;
    display: block;
    width: 10em;
    height: 10em;
    bottom: 10em;
    left: 50%;
    z-index: 125;
    margin-left: -4.4em;
    padding: 4em 2em;
    opacity: .7;
    border-radius: 50%;
    background: $color-important;
    box-shadow: 0 0 5px 0 #333;
    font-size: .5em;
    .arrow {
        position: relative;
        float: left;
        width: 0;
        height: 0;
        border-width: 3em 3em 0 3em;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        -webkit-transform: rotate(360deg);
        &:after {
            position: absolute;
            width: 0;
            height: 0;
            top: -3.2em;
            left: -3em;
            content: "";
            border-width: 3em 3em 0 3em;
            border-style: solid;
            border-color: $color-important transparent transparent transparent;
            -webkit-transform: rotate(360deg);
        }
    }
}
.hint {
    position: absolute;
    width: 100%;
    top: .6em;
    left: 0;
    opacity: 0;
    color: #fff;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}
.arrow-wrap:hover .hint {
    opacity: 1;
}
@-webkit-keyframes arrows {
    0% {
        top: 0;
    }
    10% {
        top: 12%;
    }
    20% {
        top: 0;
    }
    30% {
        top: 12%;
    }
    40% {
        top: -12%;
    }
    50% {
        top: 12%;
    }
    60% {
        top: 0;
    }
    70% {
        top: 12%;
    }
    80% {
        top: -12%;
    }
    90% {
        top: 12%;
    }
    100% {
        top: 0;
    }
}
.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s .4s;

    -webkit-animation-delay: 3s;
}


@media only screen and (max-width : 767px) {
    .titre-milieu {
        margin-top: 0;
    }
    #Menu-bloc .typo-white {
        color: $color-secondary;
    }
    #Menu-bloc .text-shadow-1 {
        text-shadow: none;
    }
}


.bg-pub-txt {
    background-color: rgba($color-primary,.2);

    @include border-radius(2px);
}

.iframe-responsive {
    position: relative;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.bg-seo {
    background-color: rgba($color-primary,0.7);
    padding: 1rem;
}


#PopUrgent {
    background-color: $color-primary;
    padding: 10px;
    right: 0;
    top: 40%;
    position: absolute;
    z-index: 1500;
}