@import "./variables.module.scss";

.patch_container{
    position: relative;
    height: auto;
    z-index: 1;
    background-color: $color_background_dark;
    .patch_header_container{
        position: relative;
        width: 100%;
        height: 450px;
        background-color: white;
        @include breakpoint(mobile) {
            height: 300px;
        }
        .patch_background_image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .patch_preview_blur{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: $color_background_dark;
            background: linear-gradient(180deg, #05102000 20%, #051020 90%);
        }
    }

    .patch_content_container{
        display: grid;
        grid-template-columns: 1fr .7fr;
        grid-template-rows: 1fr;
        margin: 0rem 6rem;
        column-gap: 6rem;
        margin-top: 2.1rem;
        @include breakpoint(laptop) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
        @include breakpoint(mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin: unset;
        }

        .patch_main_content{
            width: 100%;
            padding: 0 1rem;
            //Small Header
            h2{
                @include h2(big);
            }
            //Header
            h1{
                @include h1(big);
            }
            //Date
            h4{
                @include h4;
            }
            //List Header
            h3{
                @include h1(small)
            }
            //Default Text
            p{
                @include p(big);
                margin-bottom: 1rem;
                margin-top: .5rem;
            }
            ul{
                margin-left: 3.5rem;
                margin-bottom: 1rem;
                line-height: $font_p_line_height;
                li{
                    @include p(big);
                }
            }
            img{
                position: relative;
                margin: 1rem 0;
                width: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
            strong{
                font-weight: 10 00;
                color: $color_white;
            }
            .patch_go_back{
                position: relative;
                background-color: unset;
                outline: none;
                border-style: none;
                margin-top: 1.5rem;
                margin-bottom: 5rem;
                a{
                    @include a;
                    
                    @include breakpoint(mobile) {
                        padding: 0;
                    }
                }
            }
        }

        .patch_forward_container{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 4rem;
            width: 100%;
            
            @include breakpoint(laptop) {
                align-items: flex-start;
            }
            @include breakpoint(mobile) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .patch_forward_content_container{
                display: flex;
                width: 100%;
                &:hover{
                    cursor: pointer;
                    background-color: $color_main_blue_hover;
                }
                .patch_forward_img_container{
                    position: relative;
                    width: 200px;
                    height: 100%;
                    @include breakpoint(mobile) {
                        width: 100%;
                    }
                    .patch_forward_image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                
                }

                .patch_forward_info_content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 2rem 1rem;
                    @include breakpoint(mobile) {
                        padding: 2rem 1rem;
                    }
                    h2{
                        @include h2(medium);
                        user-select: none;
                    }
                    p{
                        @include p(medium);
                        user-select: none;
                    }
                }
            }
            span{
                @include next_section_line;
                margin: 2rem 0rem;
                    
                
            }
        }
        
    }

    .nav_shadow{
        @include nav_shadow;
    }
}

