@import "../../styles/index.scss";

//***align to left***//

.left {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .title {
    font-family: $outline;
    font-size: $h4;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    writing-mode: vertical-rl;
    width: auto;
    height: fit-content;
    margin: 0 !important;
    width: 40px;
    letter-spacing: 7.25px;
  }
  .list {
    width: 100%;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    li {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin-bottom: 15px;
      span {
        text-align: end;
        font-size: $body-big;
      }
    }
  }
  //_________ VERTICAL __________//

  // bigger than 667 an smaller than
  @include media(">=iphone8-horizontal", "<ipad-mini-vertical") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      li {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 40px !important;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body-big !important;
        }
      }
    }
  }

  // more than 896
  @include media(">=iphone11-horizontal", "<ipad-pro-vertical") {
    justify-content: flex-start;
    flex-direction: column;
    .title {
      writing-mode: horizontal-tb;
      font-size: $subtitle1 !important;
      margin: 0 !important;
      margin-bottom: 25px !important;
    }
    .list {
      width: 100%;
      li {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 40px !important;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body !important;
        }
      }
    }
  }

  //ipad mini
  @include media(">=ipad-mini-vertical", "<ipad-pro-vertical") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        span {
          text-align: center;
          font-size: $body;
        }
      }
    }
  }

  //ipad pro
  @include media(">=ipad-pro-vertical", "<16-9-vertical") {
    justify-content: flex-start;
    flex-direction: column;
    .title {
      writing-mode: horizontal-tb;
      font-size: $subtitle1 !important;
      margin: 0 !important;
      margin-bottom: 25px !important;
      width: 100%;
    }
    .list {
      li {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 40px !important;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body-big !important;
        }
      }
    }
  }

  //_________ HORIZONTAL __________//

  //desktop-small
  @include media(">=16-9-vertical", "<desktop-horizontal") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $body;
        }
      }
    }
  }

  //desktop
  @include media(">=desktop-horizontal", "<16-9-horizontal") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $body-big;
        }
      }
    }
  }
  //desktop more than 1920 and less then 2560
  @include media(">=16-9-horizontal", "<4k") {
    flex-direction: column;
    .title {
      font-size: $h4;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $subtitle2;
        }
      }
    }
  }
  //desktop huge
  @include media(">=4k", "<4k-huge") {
    flex-direction: column;
    .title {
      font-size: $h4;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $subtitle1;
        }
      }
    }
  }
}

//***align to right***//

.right {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  .title {
    letter-spacing: 7.25px;
    font-family: $outline;
    font-size: $h4;
    width: 40px;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    writing-mode: vertical-rl;
    width: auto;
    height: fit-content;
    margin: 0 !important;
  }
  .list {
    width: 100%;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    li {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin-bottom: 15px;
      span {
        text-align: end;
        font-size: $body-big;
      }
    }
  }

  //_________ VERTICAL__________//

  // bigger than 667 an smaller than
  @include media(">=iphone8-horizontal", "<ipad-mini-vertical") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      li {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 40px !important;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body-big !important;
        }
      }
    }
  }

  // more than 896
  @include media(">=iphone11-horizontal", "<ipad-pro-vertical") {
    justify-content: flex-start;
    flex-direction: column;
    .title {
      writing-mode: horizontal-tb;
      font-size: $subtitle1 !important;
      margin: 0 !important;
      margin-bottom: 25px !important;
    }
    .list {
      width: 100%;
      li {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 40px !important;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body !important;
        }
      }
    }
  }

  //ipad mini
  @include media(">=ipad-mini-vertical", "<ipad-pro-vertical") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        span {
          text-align: center;
          font-size: $body;
        }
      }
    }
  }

  //ipad pro
  @include media(">=ipad-pro-vertical", "<16-9-vertical") {
    flex-direction: column;
    .title {
      font-size: $subtitle1 !important;
      writing-mode: horizontal-tb;
      margin-bottom: 25px !important;
    }
    .list {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;

        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $body-big;
        }
      }
    }
  }

  //iphone11
  @include media(">=iphone11-horizontal", "<ipad-mini-horizontal") {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .title {
      letter-spacing: 7.25px;
      font-family: $outline;
      font-size: $subtitle2;
      width: 40px;
      -webkit-text-orientation: upright;
      text-orientation: upright;
      writing-mode: horizontal-tb;
      width: auto;
      height: fit-content;
      margin: 0 !important;
      margin-bottom: 20px !important;
    }
    .list {
      width: 100% !important;
      list-style: none;
      padding: 0 !important;
      margin: 0 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        span {
          text-align: end;
          font-size: $caption;
        }
      }
    }
  }

  //ipad-pro
  @include media(">=ipad-pro-horizontal", "<desktop-horizontal") {
  }

  //desktop-small
  @include media(">=16-9-vertical", "<desktop-horizontal") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $body;
        }
      }
    }
  }

  //desktop
  @include media(">=desktop-horizontal", "<16-9-horizontal") {
    flex-direction: column;
    .title {
      font-size: $subtitle1;
      writing-mode: horizontal-tb;
      margin-bottom: 30px !important;
    }
    .list {
      width: 100% !important;
      list-style: none;
      padding: 0 !important;
      margin: 0 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        span {
          text-align: end;
          font-size: $body-big;
        }
      }
    }
  }
  //desktop more than 1920 and less then 2560
  @include media(">=16-9-horizontal", "<4k") {
    flex-direction: column;
    .title {
      font-size: $h4;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $subtitle2;
        }
      }
    }
  }
  //desktop huge
  @include media(">=4k", "<4k-huge") {
    flex-direction: column;
    .title {
      font-size: $h4;
      writing-mode: horizontal-tb;
      margin-bottom: 20px !important;
      width: 100%;
    }
    .list {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      li {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 30px;
        span {
          text-align: end;
          font-size: $subtitle1;
        }
      }
    }
  }
}
