.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@supports (backdrop-filter: blur()) {
  %backdrop-blur {
    background: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
  }

  %bg-easy-blur {
    background: rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }

  %outline-blur {
    border: 1px solid rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background: none;
  }
}

@supports not (backdrop-filter: blur()) {
  %backdrop-blur {
    background: rgba(255, 255, 255, 1);
  }

  %bg-easy-blur {
    background: rgba(255, 255, 255, 1);
  }

  %outline-blur {
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, 1);
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }
}

.background-shape {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  transform: translate(0, -50%);
  z-index: 0;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  position: relative;
  margin: 0;
  color: $text-color;
  font-size: 36px;
  font-weight: $font-weight-sbold;
  line-height: 44px;

  /*.tm {
    position: relative;

    &::after {
      content: 'TM';
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
    }
  }*/

  sup {
    font-size: 14px;
    font-weight: 600;
  }
}

.styler-text {
  position: relative;
  width: 100%;
  padding-left: 24px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 4px;
    height: calc(100% - 25px);
    background: #ED9528;
    transform: translate(0, -50%);
  }
}

.blur-text {
  padding: 30px;
  border: 1px solid #ffffff;
  font-size: 18px;
  line-height: 30px;
  @extend %bg-easy-blur;
}

.btn {
  padding: 23px 15px;
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  outline: 0 !important;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  transition: $transition-base;

  svg {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  &-lg {
    padding: 27px 25px;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0 !important;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    transition: $transition-base;

    svg {
      width: 25px;
      height: 25px;
      margin-left: 25px;
    }
  }

  &-sm {
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    outline: 0 !important;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    transition: $transition-base;

    svg {
      width: 25px;
      height: 25px;
      margin-left: 25px;
    }
  }

  &-primary {
    background: linear-gradient(235.38deg, #39AFFD 4.23%, #3A76FF 95.84%);
    background-size: 100%;
    background-position: 0 0;

    &:hover {
      background-size: 200%;
      background-position: 50% 50%;
    }
  }

  &-more {
    padding: 0 0 10px !important;
    border-bottom: 1px solid $text-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;

    &:hover {
      border-color: $link-hover;
      color: $link-hover;
    }
  }
}

.form-wrap {
  max-width: 510px;
  padding: 15px;
  margin: 0 auto;
  @extend %bg-easy-blur;
}

.form {
  .form-group {
    margin-bottom: 25px;

    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
  }

  &__name-input {
    display: inline-block;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 17px;
  }

  &__input {
    &_textarea.form-control {
      min-height: 100px;
      height: 100px;
      max-height: 200px;
    }
  }

  &__check {
    &-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }

    &-box {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #BFBFBF;
      margin-right: 20px;
      cursor: pointer;
      transition: $transition-base;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        background: $link-hover;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) scale(0);
        transition: $transition-base;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }
  }

  input[type="checkbox"]:checked + .form__check-wrap > .form__check-box {
    &::before {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__submit {

  }
}

.form-control {
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  @extend %bg-easy-blur;
}

.list-style {
  padding-left: 30px;
  margin: 0 0 30px;
  list-style: square;

  li {
    font-size: 18px;
    line-height: 30px;

    &::marker {
      color: #3a76ff;
    }
  }
}

.select2 {
  &-container {
    width: 100% !important;

    .select2-selection--single {}

    &--default {
      .select2-selection--single {
        height: auto;
        border: none;
        border-radius: 0;
        @extend %bg-easy-blur;

        .select2-selection {
          &__rendered {
            padding: 20px 50px 20px 20px;
            color: $text-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
          }

          &__arrow {
            width: 50px;
            height: 100%;

            b {
              border-top-color: $text-color;
            }
          }
        }
      }

      &.select2-container--open {
        .select2-selection__arrow {
          b {
            border-bottom-color: $text-color;
          }
        }
      }
    }
  }

  &-dropdown {
    border: none;
    border-radius: 0;

  }
}

.modal {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    overflow: hidden;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
  }

  &-body {
    padding: 30px;
  }
}

#to_top {
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: white;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: $transition-base;
  cursor: pointer;
  z-index: 3;

  &.show {
    transform: rotate3d(0, 0, 0, 90deg);
  }

  svg {
    width: 14px;
    height: 14px;
    fill: $link-hover;
  }
}