.steps{
    padding: 5px 0;
    @include sm{
        padding: 10px 0 20px;
    }
    &-item{
        width: 100%;
        height: 50px;
        background: #fff;
        border: 1px solid $color-blue;
        color: $color-blue;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active{
            background: $color-green;
            border-color: $color-green;
            color: #fff;
        }
        &.done{
            background: $color-blue;
            border-color: $color-blue;
            color: #fff;
        }
        @include lg{
            height: auto;
            justify-content: space-between;
            align-items: stretch;
            height: 55px;
            font-size: 16px;
            &-numder{
                width: 37px;
                border-right: 1px solid $color-blue;
            }
            &-text{
                flex: 1;
                position: relative;
            }
            &.active{
                .steps-item-numder{
                    border-color: #fff;
                }
                .steps-item-text{
                    &::after{
                        content: '';
                        display: block;
                        background: url(./../images/icons/arrow.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 100%;
                        height: 17px;
                        position: absolute;
                        top: calc(100% + 1px);
                        left: 0;
                    }     
                }
            }
            &.done{
                .steps-item-numder{
                    border-color: #fff;
                }
            }
        }
    }
}

.hexagon{
    &-wrapper{
        width: 100%;
    }
    background-color: $color-green;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px 10px;
    display: flex;
    line-height: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &::after,
    &::before{
        content: "";
        left: 0;
        width: 100%;
        height: 12px;
        position: absolute;
        border-left: 48vw solid transparent;
        border-right: 48vw solid transparent;
    }
    @include lg{
        padding: 22px 15px 20px;
    }
}

.section{
    &-summary{
        .hexagon{
            margin-top: 25px;
            margin-bottom: 25px;
            &-wrapper{
                @include lg{
                    width: 500px;
                }
            }
            &:before, &:after{
                height: 25px;
                @include lg{
                    border-left: 243px solid transparent;
                    border-right: 243px solid transparent;
                }
                
            }
            &:before {
                top: -25px;
                border-bottom: 25px solid $color-green;
            }
            &:after {
                bottom: -25px;
                border-top: 25px solid $color-green;
            }
            .title{
                font-size: 20px;
                @include lg{
                    font-size: 31px;
                }
            }
            .total{
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.302);
                .color-white{
                    font-size: 16px;
                    @include lg{
                        font-size: 31px;
                    }
                }
                .color-text{
                    font-size: 50px;
                    @include lg{
                        font-size: 31px;
                    }
                }
            }
            .tax{
                font-size: 20px;
                @include lg{
                    font-size: 31px;
                }
            }
        }
    }

    &-availability{
        @include lg{
            background-color: rgb(244, 251, 255);
        }
        ul{
            li{
                position: relative;
                padding-left: 20px;
                &::before{
                    content: '⭑';
                    color: $color-blue;
                    position: absolute;
                    left: 0;
                    font-size: 13px;
                    line-height: 10px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
        .hexagon{
            min-height: 280px;
            &-wrapper{
                @include lg{width: 276px;}
            }
            @include lg{
                margin: 12px 0;
                padding: 22px 15px 20px;
            }
            &::after,
            &::before{
                @include lg{
                    border-left: 130px solid transparent;
                    border-right: 130px solid transparent;
                }
            }
            &:before {
                top: -12px;
                border-bottom: 12px solid $color-green;
            }
            &:after {
                bottom: -12px;
                border-top: 12px solid $color-green;
            }
            &.sold-out{
                background: $color-text;
                &::after{
                    border-top-color: $color-text
                }
                &::before{
                    border-bottom-color: $color-text;
                }
            }
            &-price{
                font-size: 50px;
            }
            .sold-out-text{
                font-size: 40px;
                @include lg{font-size: 32px;}
                &::after,&::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    display: block;
                    width: calc(100% + 60px);
                    height: 2px;
                    background: rgba(246,246,247,.302);
                    @include lg{
                        width: calc(100% + 120px);
                    }
                }
                &::after{
                    left: 0;
                    transform: rotate(34deg) translate(32px, 101px);
                    @include lg{
                        transform: rotate(47deg) translate(60px,138px);
                    }
                }
                &::before{
                    right: 0;
                    transform: rotate(-34deg) translate(-32px, 101px);
                    @include lg{
                        transform: rotate(-47deg) translate(-60px,138px);
                    }
                }
            }
        }
        &-top{
            select, .button{
                width: 100%;
                max-width: 190px;
            }
        }
        .cards-item{
            margin-bottom: 30px;
            @include md{
                margin-bottom: 75px;
            }
            .white-block{
                flex: 1;
            }
            &-img{
                overflow: hidden;
                max-height: 310px;
                img{max-height: 100%;}
                
            }
            &-right{
                flex: 1;
            }
            &-left{
                width: 100%;
                @include md{
                    width: 50%;
                }
                @include lg{
                    width: 40%;
                    min-width: 350px;
                }
                @include xl{
                    width: 490px;
                }
            }
            &-photos{
                position: absolute;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                background: $color-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;
                left: 0;
                padding: 0;
                z-index: 1;
                transition: $transition;
                img{width: 20px;height: 16px;}
                &:hover{
                    opacity: 0.7;
                }
            }
        }
        .icon{
            width: 35px;
        }
    }

    &-extras{
        
        &-item{
            border-bottom: 1px solid $color-green;
            &:last-child{border-bottom: none;}
            @include xl{
                border-bottom: none;
            }
            &-quantity{
                width: 150px;
            }
            &-img{
                min-width: 45px;
                max-width: 46px;
            }
            &-descr{
                min-width: 230px;
            }
        }
    }

    &-your-details{
        h2{
            font-size: 20px;
            margin-bottom: 15px;
            @include lg{
                font-size: 31px;
            }
        }
    }

    &-payment{
        &-totals{
            border-bottom: 2px solid $color-blue;
        }
        .white-block{
            background: rgb(236, 247, 253);
        }
    }
} 
.with-after-blue,
.with-after{
    position: relative;
    box-shadow: 0px -2px 16px 0px rgb(226, 226, 226);
    margin-bottom: 80px;
    &:after{
        content: "";
        width: 100%;
        height: 75px;
        display: block;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        top: calc(100% - 5px);
    }
}
.with-after::after{
    background-image: url('../images/after-box.png');
}
.with-after-blue::after{
    background-image: url('../images/after-box-blue.png');
}