@import '/assets/style/_util.*';

:root {
  --font-face-serif: 'Source Serif Pro', serif;
  --font-face-sans-serif: 'Source Sans Pro', sans-serif;
  --font-face-display: 'Compita', sans-serif;

  --font-face-h1: var(--font-face-serif);
  --font-face-h2: var(--font-face-serif);
  --font-face-h3: var(--font-face-sans-serif);
  --font-face-text: var(--font-face-serif);
  --font-face-note: var(--font-face-sans-serif);
  --font-face-code: 'Iosevka SS08', monospace;

  --font-size-s1: 0.875rem;
  --font-size-md: 1rem;
  --font-size-l1: calc(var(--font-size-md) * 1.5);
  --font-size-l2: calc(var(--font-size-l1) * 1.5);
  --font-size-l3: calc(var(--font-size-l2) * 1.5);
  --font-size-l4: calc(var(--font-size-l3) * 1.5);
}

:root {
  color-scheme: light dark;
}

.light {
  --color-bg: var(--white);
  --color-text: var(--gray-800);
  --color-h2: var(--gray-800);
  --color-h3: var(--gray-800);
  --color-link: var(--blue-500);
  --color-link-hover: var(--blue-700);
  --color-toc: var(--gray-500);
  --color-code: var(--teal-800);
  --color-pre-bg: var(--gray-100);
  --color-blockquote-strong-fg: var(--purple-600);
  --color-blockquote-strong-bg: var(--purple-050);
  --color-figure-border: var(--gray-200);
  --color-mark-fg: var(--gray-800);
  --color-mark-bg: var(--yellow-300);
  --color-h2-before: var(--gray-400);
  --color-h2-line: var(--gray-500);
  --color-text-shadow-retro: var(--gray-200);

  --color-muted--text: var(--gray-500);
  --color-muted--link: var(--gray-500);
  --color-muted--link-hover: var(--gray-700);

  --color-nav--text: var(--gray-500);
  --color-nav--link: var(--gray-300);
  --color-nav--link-hover: var(--gray-100);

  --color-shaded--bg: var(--gray-150);
  --color-shaded--text: var(--gray-800);
  --color-shaded--link: var(--gray-600);
  --color-shaded--link-hover: var(--gray-900);
}

.dark {
  --color-bg: var(--gray-850);
  --color-text: var(--gray-200);
  --color-h2: var(--gray-100);
  --color-h3: var(--gray-100);
  --color-link: var(--blue-300);
  --color-link-hover: var(--blue-200);
  --color-toc: var(--gray-400);
  --color-code: var(--teal-200);
  --color-pre-bg: var(--gray-800);
  --color-blockquote-strong-fg: var(--purple-100);
  --color-blockquote-strong-bg: var(--purple-900);
  --color-figure-border: var(--gray-700);
  --color-mark-fg: var(--gray-100);
  --color-mark-bg: var(--red-700);
  --color-h2-before: var(--gray-500);
  --color-h2-line: var(--gray-600);
  --color-text-shadow-retro: var(--black);

  --color-muted--text: var(--gray-300);
  --color-muted--link: var(--gray-300);
  --color-muted--link-hover: var(--gray-100);

  --color-nav--text: var(--gray-500);
  --color-nav--link: var(--gray-300);
  --color-nav--link-hover: var(--gray-100);

  --color-shaded--bg: var(--gray-700);
  --color-shaded--text: var(--gray-200);
  --color-shaded--link: var(--gray-200);
  --color-shaded--link-hover: var(--gray-100);
}

.btn-toggle-theme {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dark {
  .only-light {
    display: none;
  }
}

.light {
  .only-dark {
    display: none;
  }
}

:root {
  counter-reset: h2;
}

html {
  line-height: 1.5; /* 24 px */

  text-rendering: geometricPrecision;
}

@media (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }
}

body {
  font-family: var(--font-face-text);

  color: var(--color-text);
  background: var(--color-bg);
}

p {
  margin-top: 1.5rem;

  widows: 2;
  orphans: 2;
}

p + p,
.run-in + p {
  margin-top: 0;
  text-indent: 1.5rem;
}

li:first-child > p {
  margin-top: 0;
}

h2,
h3 {
  break-after: avoid;
  break-inside: avoid;
}

h1 {
  font-family: var(--font-face-h1);
  font-weight: 400;
  font-size: 2.25rem;

  letter-spacing: -0.02ch;

  line-height: 3rem;
}

h2 {
  color: var(--color-h2);
}

h3 {
  margin: -0.06rem 0 0.06rem 0;
  padding: 0 0.75em 0 0;

  color: var(--color-h3);

  font-family: var(--font-face-h3);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;

  float: left;
}

h3 + * {
  clear: left;
}

h3 + p {
  clear: none;
  margin-top: 0;
}

.run-in {
  margin-top: 3rem;
}

ul,
ol {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

ol.toc {
  padding-left: 2rem;
}

ol.toc li {
  color: var(--color-toc);

  padding-left: 0.5rem;

  list-style-type: upper-roman;
}

ul.no-bullets {
  list-style-type: none;
  @extend .pl-0;
}

a {
  color: var(--color-link);

  text-underline-offset: 0.1875em;
}

a:hover {
  color: var(--color-link-hover);
}

blockquote {
  font-style: italic;
  padding-left: 1.5rem;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-face-code);
  font-size: 0.905rem;
  font-weight: 400;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code {
  color: var(--color-code);
}

pre code {
  color: var(--color-text);
}

pre {
  break-before: avoid;
  break-inside: avoid;

  margin-top: 1.5rem;
  padding: 1rem;
  background: var(--color-pre-bg);

  white-space: pre-wrap;
}

blockquote strong {
  font-weight: normal;
  font-style: italic;

  color: var(--color-blockquote-strong-fg);
  background-color: var(--color-blockquote-strong-bg);

  padding: 0.0625rem 0.2rem 0;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

figure {
  margin: 1.5rem 0 0 0;

  border: 1px solid var(--color-figure-border);
}

figure img {
  display: block;
}

mark {
  color: var(--color-mark-fg);
  background: var(--color-mark-bg);
}

/** NAV / SHADED **********/

.nav {
  --color-text: var(--color-nav--text);
  --color-link: var(--color-nav--link);
  --color-link-hover: var(--color-nav--link-hover);

  color: var(--color-text);
}

.nav a {
  text-decoration: none;
}

.shaded {
  color: var(--color-shaded--text);
  background: var(--color-shaded--bg);

  --color-text: var(--color-shaded--text);
  --color-link: var(--color-shaded--link);
  --color-link-hover: var(--color-shaded--link-hover);
}

/** WRAPPER **********/

@media screen {
  .cols {
    display: grid;

    column-gap: 0;
  }

  .cols > * {
    grid-column: base;

    position: relative;
  }
}

@media screen {
  // grid: 1.5 + 0 + 34 + 0 + 1.5

  .cols {
    grid-template-columns:
      [full-start] 1.5rem
      [wide-start base-start] minmax(0, 34rem)
      [base-end wide-end] minmax(1.5rem, 1fr)
      [full-end];
  }
}

@media screen and (min-width: 50.5rem) {
  // grid: 1.5 + 0 + 34 + 1.5 + 12 + ≥1.5

  .cols {
    grid-template-columns:
      [full-start] 1.5rem
      [wide-start base-start] 34rem
      [base-end] 1.5rem 12rem
      [wide-end] 1fr
      [full-end];
  }
}

@media screen and (min-width: 64rem) {
  // grid: ≥1.5 + 12 + 1.5 + 34 + 1.5 + 12 + ≥1.5

  .cols {
    grid-template-columns:
      [full-start] 1fr
      [wide-start] 12rem 1.5rem
      [base-start] 34rem
      [base-end] 1.5rem 12rem
      [wide-end] 1fr
      [full-end];
  }
}

/** H2 **********/

h2 {
  font-family: var(--font-face-h2);
  font-weight: 400;
  font-size: 1.5rem;

  line-height: 1.5rem;

  margin: calc(4 * 1.5rem) 0 0 0;

  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 1rem;
}

h2::after {
  content: '';
  align-self: center;
  border-top: 1px solid var(--color-h2-line);
}

h2::before {
  counter-increment: h2;

  content: counter(h2, upper-roman) '.';

  color: var(--color-h2-before);
}

.subdued h2::before {
  display: none;
}

@media screen and (min-width: 64rem) {
  h2 {
    grid-template-columns: auto 1fr;
  }

  h2::before {
    position: absolute;
    left: -5rem;

    color: var(--color-h2-before);
    width: calc(5rem - 0.75rem);
    text-align: right;
  }
}

/** BLOCKS **********/

* + .blocks {
  @extend .mt-3;
}

.block-detail {
  @extend .pl-3;
}

.blocks-inline .block-title,
.blocks-inline .block-detail {
  display: inline;

  @extend .pl-0;
}

/** SIDENOTES **********/

.sidenote {
  text-indent: 0;

  font-family: var(--font-face-sans-serif);
}

@media screen {
  .sidenote {
    display: inline;
    font-style: italic;
  }
}

@media screen and (min-width: 50.5rem) {
  .sidenote {
    display: block;
    font-style: normal;

    position: absolute;

    width: 12rem;
    left: calc(100% + 1.5rem);

    margin-top: -1.5rem;
  }

  .sidenote,
  .sidenote code {
    font-size: 0.85rem;
    line-height: 1.35;
  }

  .sidenote-pre,
  .sidenote-post {
    display: none;
  }

  .sidenote {
    display: block;
    font-style: normal;
  }
}

/** META **********/

@media screen and (min-width: 64rem) {
  .lhs {
    position: absolute;
    left: calc(-12.5rem - 1.5rem);
    width: 10rem;
  }
}

/** UTILITIES **********/

.col-base {
  grid-column: base;
}

.col-wide {
  grid-column: wide;
}

.col-full {
  grid-column: full;
}

.max-width-base {
  max-width: 34rem;
}

.max-width-md {
  max-width: calc(34rem + 2 * 12rem + 2 * 1.5rem);
}

@media screen and (min-width: 64rem) {
  .lg\:max-width-md {
    max-width: calc(34rem + 2 * 12rem + 2 * 1.5rem);
  }
}

.max-width-md-left {
  max-width: calc(34rem + 1 * 12rem + 1 * 1.5rem);
}

@media screen and (min-width: 64rem) {
  .lg\:max-width-md-left {
    max-width: calc(34rem + 1 * 12rem + 1 * 1.5rem);
  }
}

.sep-dot > *::after {
  content: '•';
  padding: 0 0.5rem;
}

.sep-dot > *:last-child::after {
  content: '';
  padding: 0;
}

@media screen and (min-width: 64rem) {
  .lg\:sep-none > *::after {
    content: '';
    padding: 0;
  }

  .lg\:sep-none > *:last-child::after {
    content: '';
    padding: 0;
  }
}

.font-face-sans-serif {
  font-family: var(--font-face-sans-serif);
}

.font-face-display {
  font-family: var(--font-face-display);
}

.font-size-s1 {
  font-size: var(--font-size-s1);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-l1 {
  font-size: var(--font-size-l1);
}

.font-size-l2 {
  font-size: var(--font-size-l2);
}

.font-size-l3 {
  font-size: var(--font-size-l3);
}

.font-size-l4 {
  font-size: var(--font-size-l4);
}

@media screen and (min-width: 64rem) {
  .lg\:font-size-l3 {
    font-size: var(--font-size-l3);
  }

  .lg\:font-size-l4 {
    font-size: var(--font-size-l4);
  }
}

.text-muted {
  color: var(--color-muted--text);

  --color-text: var(--color-muted--text);
  --color-link: var(--color-muted--text);
  --color-link-hover: var(--color-muted--link-hover);
}

.lh-rel-s3 {
  line-height: 1.1;
}

.lh-rel-s2 {
  line-height: 1.215;
}

.lh-rel-s1 {
  line-height: 1.35;
}

.lh-rel-base {
  line-height: 1.5;
}

.lh-md {
  line-height: 1.5rem;
}

.height-30vh {
  height: 30vh;
}

.text-shadow-retro {
  text-shadow: 0.12ch 0.12ch 0 var(--color-text-shadow-retro);
}

.list-style-type-none {
  list-style-type: none;
}
