.insight--analysis--show--container {
  @include clearfix();
}

.insight--analysis--show--title--container {
  @include clearfix();
  border-bottom: 1px solid $gray;
}

.insight--analysis--show--title--main {
  @include clearfix();
  font-family: 'HelveticaNeue';
  margin-left: 2vw;
  margin-right: 2vw;
}

.insight--analysis--show--title {
  float: left;
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  font-family: 'HelveticaNeue';
  font-weight: bold;
}

.insight--analysis--show--title--the--month {
  float: left;
  width: 80%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5vw;
  font-family: 'HelveticaNeue';
  font-weight: bold;
}

.insight--analysis--show--subtitle {
  float: left;
  width: 100%;
  font-size: 1.2vw;
  font-family: 'HelveticaNeue';
}

.insight--analysis--show--subtitle--page--the--month {
  float: left;
  margin-bottom: 8px;
  font-size: 1.0vw;
  color: $gray;
}

.insight--analysis--show--subtitle--select--margin {
  float: left;
  width: 15px;
  height: 0.1px;
}

.insight--analysis--show--subtitle--select--one {
  float: left;
  margin-bottom: -1px;
  text-align: center;
  color: $blue;
  font-weight: 600;
  border-bottom: 2.5px solid $blue;
  padding-left: 1vw;
  padding-right: 1vw;
}

.insight--analysis--show--subtitle--select--between {
  float: left;
  width: 20px;
  height: 30px;
}

.insight--analysis--show--subtitle--select--two {
  float:left;
  //width: 125px;
  text-align: center;
  color: $gray;
  padding-left: 1vw;
  padding-right: 1vw;
}

.insight--analysis--show--subtitle--select--two--sentence {
  color: $gray;
}

.insight--analysis--show--subtitle--select--two--sentence:hover {
  color: $blue;
}

.insight--analysis--show--subtitle--the--month {
  float: left;
  margin-left: 0.2vw;
  //width: 100%;
  font-size: 1.0vw;
  color: $gray;
}

.insight--analysis--show--all--container {
  @include clearfix();
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 40px;
}

.insight--analysis--show--big--item--container {
  @include clearfix();
  font-family: 'HelveticaNeue';
  width: 100%;
  margin-top: 2vw;
}

.insight--analysis--show--first--item--container {
  float: left;
  width: 20%;
}

.insight--analysis--show--first--item--box {
  width: 90%;
  height: 8vw;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--first--item--box--center--left {
  width: 90%;
  margin-left: 2.5%;
  height: 8vw;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--first--item--box--center {
  width: 90%;
  margin-left: 5%;
  height: 8vw;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--first--item--box--center--right {
  width: 90%;
  margin-left: 7.5%;
  height: 8vw;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--first--item--box--right {
  width: 90%;
  margin-left: 9.25%;
  height: 8vw;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--first--item--title {
  float: left;
  height: 2vw;
  width: 100%;
}

.insight--analysis--show--first--item--title--content {
  float: left;
  margin-left: 0.4vw;
  margin-top: 0.2vw;
  font-size: 1.1vw;
  color: $high-gray;
}

.insight--analysis--show--first--item--thanks {
  float: left;
  width: 100%;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight--analysis--show--first--item--thanks--all {
  float: left;
  color: $blue;
  font-size: 2.2vw;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.insight--analysis--show--first--item--thanks--gap {
  float: left;
  margin-top: 0.5vw;
  margin-left: 6%;
  font-size: 1.6vw;
  color: #6DEAA3;
  font-weight: 900;
}

.insight--analysis--show--first--item--thanks--gap--minus {
  float: left;
  margin-top: 0.5vw;
  margin-left: 6%;
  font-size: 1.6vw;
  color: $red;
  font-weight: 900;
}

.insight--analysis--show--first--item--thanks--gap--zero {
  float: left;
  margin-top: 0.5vw;
  margin-left: 6%;
  font-size: 1.6vw;
  color: $high-gray;
  font-weight: 900;
}

.insight--analysis--show--first--item--thanks--supply {
  float: left;
  width: 100%;
  height: 2vw;
  position: relative;
}

.insight--analysis--show--first--item--thanks--supply--content {
  font-size: 0.9vw;
  color: $gray;
  position: absolute;
  right: 0;
  bottom: 0;
}

//グラフ
.insight--analysis--show--title--graph--container {
  @include clearfix();
  width: 100%;
  font-family: 'HelveticaNeue';
  margin-top: 3vw;
  margin-bottom: 0.5vw;
}

.insight--analysis--show--title--graph--first--container {
  float: left;
  width: calc(49% + 1px);
}

.insight--analysis--show--title--graph--first--box {
  margin-left: 3px;
  font-size: 1.3vw;
  color: $thin-black;
}

.insight--analysis--show--title--graph--second--container {
  float: right;
  width: calc(49% + 1px);
}

.insight--analysis--show--title--graph--second--box {
  font-size: 1.3vw;
  color: $thin-black;
}

.insight--analysis--show--graph--container {
  @include clearfix();
}

.insight--analysis--show--graph--first--box {
  @include clearfix();
  width: 100%;
}

.insight--analysis--show--graph--second--box {
  @include clearfix();
  width: 100%;
}

.insight--analysis--show--graph--third--box {
  @include clearfix();
  width: 100%;
  margin-top: 20px;
}

.insight--analysis--show--graph--thanks--container {
  float: left;
  width: 49%;
  padding: 1vw 0;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--graph--thanks--grade--container {
  float: right;
  width: 49%;
  padding: 1vw 0;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--graph--fans--container {
  float: left;
  width: 49%;
  padding: 1vw 0;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--graph--repeater--container {
  float: right;
  width: 49%;
  padding: 1vw 0;
  border: 1px solid $gray;
  border-radius: 6px;
  box-shadow: $white-shadow;
}

.insight--analysis--show--fourth--item--title--the--month {
  float: left;
  width: 100%;
  font-size: 12px;
  color: $high-gray;
}

.insight--analysis--show--fourth--item--title--the--month:before {
  content:"";
  display: block;
  padding-top: 15%;
}

.insight--analysis--show--fifth--item--title--the--month {
  float: left;
  width: 100%;
  font-size: 12px;
  color: $high-gray;
}

.insight--analysis--show--fifth--item--title--the--month:before {
  content:"";
  display: block;
  padding-top: 15%;
}
