.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
    &__logo {
        font-family: "NotoSans";
        font-style: normal;
        font-weight: bold;
        font-size: 41px;
        line-height: 56px;
        position: relative;
        z-index: 5;
        padding: 0 0 0 10px ;
        span {
            color: #ff7551;
        }
    }
    &__menu {
    }
}
.menu {
    position: relative;
    &__icon {
    }
    &__body {
    }
    &__list {
        display: flex;
        li {
            margin: 0px 20px;
        }
        li:hover {
            cursor: pointer;
        }
    }
    &__link {
        font-family: "Niramit";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        transition: color 0.8s ease-in-out 0s;
        // padding: 0 0 30px 0;
        &:hover {
            color: #ff7551;
            font-weight: 600;
        }
    }
    &__arrow {
        display: none;
    }

    &__sub-list {
        z-index: 4;

        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0;
        display: none;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(40px);
        padding: 30px;
        li {
            margin: 0 0 20px 0;
        }
        li:last-child {
            margin: 0;
        }
    }
    &__sub-link {
        font-family: "Niramit";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }
}
.icon-menu {
    display: none;
}

// SUB MENU
body._pc .menu__list li:hover > .menu__sub-list,
body._pc .menu__list li .menu__sub-list:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 150px;
    text-align: left;
    margin: 10px 0 0 0;
    box-shadow: 0px 3px 5px -1px #262628;
}
body._pc .menu__list li .menu__sub-list li {
    clear: both;
    width: 100%;
    text-align: left;
    // margin-bottom: 20px;
    border-style: none;
}

body._touch .menu__list > li {
    display: flex;
    // align-items: center;
}
body._touch .menu__link {
    flex: 1 1 auto;
}

body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 5px 0 0 5px;

    // transition: transform 0.3s ease-in-out 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}
body._touch .menu__list > li._active-menu .menu__sub-list {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 150px;
    text-align: left;
    top: 80%;
    box-shadow: 0px 3px 5px -1px #262628;
}
body._touch .menu__list > li._active-menu .menu__arrow {
    transform: rotate(-180deg);
}
// ПРОБЛЕМА ВОТ ТУТ НАЙТИ!!!!!

@media (min-width: 767px) {
    .menu__link:hover {
        font-weight: 700;
        text-decoration-line: underline;
        color: #ff7551;
        // color: #865BCE;
    }
    .menu__sub-link:hover {
        color: #ff7551;
        // color: #865BCE;
        text-decoration: underline;
    }
    .menu__list > li {
        padding: 10px 0;
    }

    // SUB MENU
    // .menu__sub-list {
    //     transform: translate(0px, 10%);
    //     opacity: 0;
    //     visibility: hidden;
    //     pointer-events: none;
    //     transition: all 0.3s ease-in-out 0s;
    // }
}

@include tablet{
    .menu {
        &__list {
            display: flex;
            justify-content: flex-end;
            li {
                margin: 0px 15px;
            }
            li:hover {
                cursor: pointer;
            }
        }
        &__sub-list {
           li {
                margin: 0 0 20px 0;
            }
            li:last-child {
                margin: 0;
            }
        }
    }
}
@include small-tablet {
    .header {
        &__logo {
            font-size: 24px;
        }
    }
   
}


@include small-tablet {
    .menu {
        display: flex;
        justify-content: end;
        margin: 0 30px 0 0;
        padding: 30px 0;
    }
    .icon-menu {
        z-index: 5;
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        cursor: pointer;

        span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease-in-out;
            background-color: #fff;
        }
        &::before,
        &::after {
            content: "";
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }
    .icon-menu._active {
        span {
            top: 50%;
            transform-origin: center center;
            transform: scale(0) translate(0px, -50px);
        }
        &::before {
            top: 50%;
            transform-origin: center center;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
            transform-origin: center center;
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
    .menu {
        &__body {
            z-index: 2;
            position: fixed;
            // position: absolute;
            top: 0;
            left: -200%;
            width: 88%;
            height: 100%;
            background-color: #262628;
            padding: 120px 40px 40px 40px;
            transition: left 0.5s ease-in-out;
            overflow: auto;
        }
        &__arrow {
            display: block;
        }
        &__list {
            display: block;
            padding: 0;
        }
        &__list > li {
            flex-wrap: wrap;
            margin: 0px 0px 35px 0px;
        }
        &__list > li._active-menu .menu__sub-list {
            display: block;
            visibility: visible;
            transform: translate(0px, 0px);
            pointer-events: all;
        }
        &__link {
            font-size: 24px;
        }
        &__sub-list {
            position: relative;
            flex: 1 1 100%;
            left: 0;
            right: 0;
            margin: 20px 10px 0 0;
            display: none;
        }
        &__sub-link {
            font-size: 20px;
        }
    }
}

.menu__body._active {
    left: 0;
}
