@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// HEIGHT PUB - EXTRA
$height-extra:350;
$height-pub:570;

// PICTURE SUR BG-MINIMOTEUR = YES / NO = BACKGROUND COLOR
$bg-minimot:yes;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// MARGIN CONTENT SI NAV FIXE 
$margin-top-under-nav-fixe:172;

// MARGIN LOGO ABSOLUTE
$margin-logo-absolute:-30;

// SIZE NAVIGATION
$height-navigation:101;

// VAR SITE TYPO
$font-body:"Source Sans Pro",arial,verdana,sans-serif;
$font-title:"Oswald",arial,verdana,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB6
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE ROME
@import "../../../slagence_X_V5/sources/scss/templates/tokyo";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces12";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


// CLASS GINZA

// SOCIAL FIXE
.bloc-nav-left-fix {
	background:$color-important;
}



//----------------------------------------------------------------------------------------------------------------
//		PERSO ARJ24700
//----------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------
//		GENERAL
//----------------------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//----------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:100%;
	}
}

	//----------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//----------------------------------------------------------------------------------------------------------------

.navigation {
	border-bottom:solid 1px $color-secondary;
}

.menu-principal {
	font-size:1.1em;
	>li>a {
		padding:17px 26px;
		@media only screen and (max-width : 1280px) {
		padding:17px 15px;
		}
		&:hover {
			color:$color-important;
		}
	}
}



//----------------------------------------------------------------------------------------------------------------
//		INDEX
//----------------------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------------------------
	//		EXTRA
	//----------------------------------------------------------------------------------------------------------------

.titre-extra {
	margin-top:50px;	
	font-size: 1.5em;
	color:$color-primary;
	text-shadow: 1px 1px 4px #000000;
  	filter: dropshadow(color=#000000, offx=1, offy=1);
}

.module-annonces-homepage-extra .h1-like {
	font-size: 1.8em;
}

/*.bg-module-extra {
	background-color: rgba(0, 0, 0, 0.3);
}*/

.bg-module-annonces-homepage-extra {
	background-color:rgba($color-block,0.8);
	margin: 10px;
}

.bg-extra {
	margin-top: 141px;
}

	//----------------------------------------------------------------------------------------------------------------
	//		MOTEUR
	//----------------------------------------------------------------------------------------------------------------

.moteur-avantage {
	background:$color-block;
	padding:10px;
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

	//----------------------------------------------------------------------------------------------------------------
	//		MODULE PA
	//----------------------------------------------------------------------------------------------------------------

.box-module-home {
	background:$color-block;
	padding:7px 10px 0;
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.module-annonces-homepage {
	box-shadow:none;
	&:hover {
		box-shadow:none;
	}
}


	//----------------------------------------------------------------------------------------------------------------
	//		MODULE SERVICES
	//----------------------------------------------------------------------------------------------------------------

.bg-pub {
	background-image:none;
	height:auto !important;
}


//----------------------------------------------------------------------------------------------------------------
//		LISTING PA
//----------------------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//----------------------------------------------------------------------------------------------------------------

.recherche-annonces .height-370 {
	height:490px;
}

//----------------------------------------------------------------------------------------------------------------
//		DETAIL PA
//----------------------------------------------------------------------------------------------------------------

	//----------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//----------------------------------------------------------------------------------------------------------------

.vertical-pano {
	background:$color-block;
}