/*
**********************************
**********************************
* =========	Author: Vũ Mixins ======== *
**********************************
**********************************
**/

@mixin aspect-ratio($width, $height) {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;

  padding-top: calc((#{$height / $width} * 100%) + calc(0 * 1px));
  & > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
// modified
.p-pk {
  .l-pd-body {
    &__left {
      width: 57.328%;
    }
    &__right {
      width: calc(100% - 57.328% - 40px);
    }
    &__wrapper {
      & > .card {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .st {
    &-param {
      ul {
        counter-reset: section;
        list-style-type: none;
        li {
          align-items: unset;
          &:last-child {
            margin-bottom: 0;
          }
          &:before,
          &:after {
            display: none;
          }
          &:before {
            content: "•";
            counter-increment: section;
            visibility: visible;
            opacity: 1;
            background: transparent;
            position: unset;
            transform: unset;
            padding: 0;
            color: #939ca3;
            margin-right: 8px;
          }
        }
      }
    }
    &-card--article {
      position: relative;
    }
    &-slider {
      margin-bottom: 45px;
      .swiper {
        &-container {
          height: 427px;
        }
        &-slide {
          @include flexCenter();
          position: relative;
          @include aspect-ratio(585, 428);
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            -o-object-fit: contain;
            object-fit: contain;
            color: transparent;
          }
        }
      }
      &--thumbnail {
        display: flex;
        padding: 0 81px;
        .swiper {
          &-container {
            flex: 1;
          }
          &-slide {
            width: 96px;
            height: 64px;
            padding: $padding-sm $padding - 2;
            position: relative;
            border-radius: 4px;
            border: 1px solid $white;
            overflow: hidden;
            opacity: 0.7;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: inline-block;
              margin: auto;
              max-width: calc(100% - 12px);
              max-height: calc(100% - 8px);
              background-position: 50%;
              background-repeat: no-repeat;
              background-size: contain;
              -o-object-fit: contain;
              object-fit: contain;
            }
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
            &.active {
              border: 1px solid $red-500;
              opacity: 1;
            }
          }
        }
      }
      &__feature {
        width: 86px;
        margin-left: 16px;
        &__item {
          margin: 0;
          span {
            color: #495057;
            font-size: 46px;
            line-height: 32px;
            display: block;
            margin: -6px 0 6px 0;
          }
          p {
            line-height: 20px;
          }
        }
      }
    }
  }
}
/*
**********************************
**********************************
* =========	Author: Vũ  ======== *
**********************************
**********************************
**/

//layout
.l-pd {
  &-top {
    .st-rating {
      align-items: baseline;
    }
    .badge {
      align-self: baseline;
      font-size: 12px;
      padding: 8px 6px;
      margin-top: calc(#{$margin} - 4px);
    }
  }
  &-right {
    .st-oldProduct {
      a {
        display: block;
      }
    }
  }
  &-body__left {
    min-height: 1px;
  }
}
//tìm shop
.c-fs__block--location {
  .c-fs {
    &__location {
      max-height: 100%;
      overflow-x: hidden;
      padding: 4px 10px 0;
      ul li {
        padding-top: 6px;
      }
    }
  }
}
//dropdown tìm shop
.c-fs__dropdown .c-dropdown-menu a {
  width: 50%;
  box-shadow: unset;
}
.c-fs__dropdown {
  .c-dropdown {
    &-menu__wrapper {
      min-width: 372px;
    }
  }
}
//form
.form-control {
  &.error {
    border-color: $danger-500;
    &:hover {
      border-color: $danger-600;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $danger-200;
    }
    + .error {
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 1;
      padding: 5px 12px;
      border-radius: 4px;
      border: solid 1px #cbd1d6;
      color: #444b52;
      font-size: 14px;
      line-height: 14px;
      border: solid 1px $danger-200;
      background-color: $danger-100;
      color: $danger-700;
      margin-top: 4px;
    }
  }
}
.swiper-custom .swiper-button-next i {
  transform: translate(2px, 2px);
}
.st-boxPromo__list--more li i {
  margin-top: 1px;
}
.swiper-lazy-preloader {
  animation: unset;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  border: 0;
  border-radius: 6px;
  &-white {
    --swiper-preloader-color: unset;
    animation: 1.5s ease-in-out 0s infinite normal none running gdgdEO;
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(
      90deg,
      rgb(238, 238, 238),
      rgb(245, 245, 245),
      rgb(238, 238, 238)
    );
  }
}

//
.st-pd {
  &-content {
    p {
      &:last-child {
        margin-bottom: 0;
      }
      img {
        border-radius: 6px;
      }
    }
  }
}

//question
.c-question__icon span {
  top: 50%;
  left: 52%;
}
//modal
.modal {
  z-index: 100;
  &__header {
    * {
      font-size: 24px;
      font-weight: 500;
    }
  }
  &__close-btn {
    position: absolute;
    z-index: 9;
    right: 20px;
    top: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background: transparent;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 18px;
      height: 2px;
      background: #b8b8b8;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .icon {
      display: none;
      visibility: hidden;
    }
  }
  .c-modal--close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

//lặt vặt & linh tinh, vân vân & mây mây
p,
.intro-para,
.para,
.small-para {
  margin: 0;
}
//comment
.totalproduct4.btn-disable {
  background-color: #f9c7c9;
  cursor: no-drop;
  pointer-events: auto;
}
.l-pd-comment .card-body .row .c-user-rate-form {
  margin: 0 5px 10px;
}
//header
.fs-mnstit {
  a {
    color: inherit;
  }
}
.fs-mnsub {
  z-index: 20;
}
.fs-mnul > li:hover .fs-hdmsub,
.fs-mnul > li:hover .fs-mnsub {
  display: none;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.scroll-disable {
  overflow-y: hidden;
}
@keyframes gdgdEO {
  0% {
    background-position: -220px 0px;
  }
  100% {
    background-position: calc(220px + 100%) 0px;
  }
}

// sale
@font-face {
  font-family: "UTM";
  src: url("/phu-kien/content/ver2/fonts/UTMSharnay.eot");
  src: url("/phu-kien/content/ver2/fonts/UTMSharnay.eot?#iefix")
      format("embedded-opentype"),
    url("/phu-kien/content/ver2/fonts/UTMSharnay.woff2") format("woff2"),
    url("/phu-kien/content/ver2/fonts/UTMSharnay.woff") format("woff"),
    url("/phu-kien/content/ver2/fonts/UTMSharnay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

.fs-sale-border {
  display: none;
  pointer-events: none;
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: 2;
}

.st-slider.fs-sale .fs-sale-border {
  display: block;
}

.st-slider.fs-sale .fs-sale-border img {
  height: inherit;
}

.st-slider.fs-sale .fs-sale-price {
  font-family: "UTM", Roboto, Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 12px;
  z-index: 3;
}

.st-slider.fs-sale .fs-sale-price strong {
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  color: #fbee35;
}
