@import "color";
// BG SOLO
$bg-uni: yes;

// PICTURE BG
$picture-bg: no;
$picture-bg-url: "../images/degrade_bg.png";
$picture-bg-repeat-horizontal: no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container: 620;

// VARIABLE SITE TYPO
$font-body: "Source Sans Pro", Arial, sans-serif;
$font-title: "Open Sans Condensed", Arial, sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text: 1.6em;
$font-size-title: 2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title: uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title: normal;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi: no;

// BORDER EFFECT ON NAV
$border-nav: no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu: no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape: no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe: 153;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// PERSO

.container {
    width: auto;
    max-width: 1280px;
}

.menu-principal {
     > li {
         > a {
            &:hover {
                background-color: darken($color-important,15);
            }
        }
    }
}

.scrollToTop {
    background-color: $color-important;
}

.bouton-selection-annonces {
    &.typo-white {
        color: $color-important;
    }
}

.menu-principal {
    line-height: 94px;
}


.theme-default .nivo-directionNav a {
    background-color: #f00 !important;
}

.nav-biens-agence a {
    color: #3f3f3f;
    text-decoration: none;
}

.choix-selection-refine {
    .typo-white {
        color: #3f3f3f;
    }
}

.liste-checkbox .ligne {
    .typo-white {
        color: #3f3f3f;
    }
}

.quartier-annonce {
    display: none;
}

.btn-action {
    color: #000;
    border: 1px solid #e4d203;
    background-image: linear-gradient(to bottom, #fee903,#fee900 100%);
}


.v2-icon-v5-blog.typo-black {
    color: #fffefe;
}

.slogan-index.text-shadow-2 {
    text-shadow: 1px 1px 5px #dadfe5;
}

.btn-navbar {
    color: #222;
}

.choix-selection-refine,
.choix-selection-refine:hover,
.bloc-btn-change-affichage .btn-action-no-gradient {
    background-color: $color-important;
}

@media only screen and (max-width: 767px) {
    .logo img {
        width: 45% !important;
    }
    .big {
        font-size: 1.1em;
    }
}

.agence-info-bien .ellipsis {
    overflow: visible;
}
