.div1 {
    height: 63%;
    width: 40%;
    background-color: white;
    display: inline-block;
    padding-top: 13.2em;
    margin-top: 88px;

}
.div2 {
    height: 100%;
    width: 60%;
    background-color: rgb(129, 0, 95);
    /* margin-top: -50em; */
    display: inline-block;
}
// של מי הקלאס הזה
// של מישהו פנימי או שהוא מיותר
.div{
    height: 100vh;
}
.giveGift{
    height: 40vh;
    margin-top: 25vh;
}
#root{
    height: 100%; 
}.DivAll{
    width: 100%;
    height: 100%;
}
.ui[class*="very relaxed"].grid {
    margin-left: -30rem;
    margin-right: 12.5rem;
}
a {
    color: #81005F;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: none;
}
body {
    text-align: center;
}
.hh{
    color: black !important;
}
.form {
    // width: 500px;
    // height: 300px;
    margin-top: 65px;
}
.ui.primary.button, .ui.primary.buttons .button {
    background-color: #81005F;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
// .ui.primary.button, .ui.primary.buttons .button {
//     background-color: #C25DC2;
//     color: #fff;
//     text-shadow: none;
//     background-image: none;
// }