@import "color";
// BG SOLO
$bg-uni:no;

// PICTURE BG
$picture-bg:yes;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:275;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"source-sans-pro",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN TOP NAV
$margin-top-navigation:10;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

@import "../../../slagence_X_V5/sources/scss/extra/extra2";

// SPRITE NOIR
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.menu-principal > li > a {
	background:$color-action;
	color:$color-primary;
		&:hover {
		background:$color-action;
		color:$color-important;	
	}
}

.navigation {
	border-bottom:1px solid $color-primary-dark-5;
	@include box-shadow(0px 2px 3px 0px #555555);
}
.nav-tabs>li>a, .nav-pills>li>a {
	padding-right: 14px;
	padding-left: 14px;
}

.bg-picture {@include background-image(linear-gradient(top, $color-block 0%,  $color-block-dark-10 100%));
@include filter-gradient($color-block-light-10,$color-block,vertical);
}

.btn-nouveau, .btn-cdc, .btn-exclusif{font-size: 1em;  color: $color-action; border-color:  $color-action;  font-weight: bold;}