@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;

// SIZE SCROLLING
$height-scrolling:600;

// SIZE NAVIGATION
$height-navigation:60;

// MARGIN TOP UNDER NAV FIXE
$margin-top-under-nav-fixe:113;

// VAR SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"kepler-std-condensed-display",arial,sans-serif;
$font-deco:"grafolita-script",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB2
@import "../../../slagence_X_V5/sources/scss/boutons/lib2";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB5
@import "../../../slagence_X_V5/sources/scss/pubs/lib5";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/helsinki";

// IMPORT MODULE ANNONCES5
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra5";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT MODULE SOUS MENU ORPI
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";


// PERSO ANN_FLW

// GENERAL
.typo-deco {
	font-family:$font-deco;
}

.typo-concevoir {
	color:$color-concevoir;
}

.typo-accompagner {
	color:$color-accompagner;
}

.phraserotation {
	font-size:4.0em;
	margin-top: 290px;
}

.phraserotation2 {
	font-size:4.0em;
	margin-top: 450px;
}

// MENU & NAV
header.border-solid-bottom-primary-1 {
	border-bottom: 1px solid $color-primary-dark-5;
}

.menu-principal>li {
	border-left: 1px solid $color-primary-dark-5;
	border-right: 1px solid $color-primary-dark-5;
}

.menu-principal>li>a {
	padding: 0px 14px;
	color:$color-action;
	font-size:1.2em;
	&:hover {
		background:$color-primary-dark-5;
	}
}

.titre-milieu {
	margin-top: 503px;
}

// ACCUEIL - ENCART
.aside-home-1 {
	border-bottom:$height-navigation+px solid $color-primary;
}

.aside-home-2, .pub-alerte-helsinki, .aside-extra {
	box-shadow:none;
}

.aside-extra {
	height:auto;
}

.background-pub-alerte {
	border-bottom:$height-navigation+px solid $color-primary;
	border-top:$height-navigation+px solid $color-primary;
}

.pub-alerte-helsinki .pagination-centered {
	text-align:right;
}

.titre-pub, .titre-extra {
	color:$color-body;
	@include single-text-shadow;
}


// LISTING PA
.recherche-annonces {
	border-bottom:10px solid $color-primary;
	@include single-box-shadow;
}

// DETAIL PA
.bloc-detail-adresse-agence, .detail-bloc-vendre, #detail-agence-adresse {
	display:none;
}


// FOOTER
.bg-secondary-footer {
	background:$color-primary-dark-5;
}

