.checkout {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr auto;

  @include md {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__empty {
    font-family: $lobster;
    font-size: 42px;
    line-height: 55px;
    @include center-flex-column;

    &_link {
      text-decoration: none;
      font-family: $jost;
      color: $black-text;
      font-size: 15px;

      &:hover {
        color: $green;
      }
    }

    &_animate {
      position: relative;
      animation: messageMove 2s;
    }
  }

  &__link {
    color: $green;
    &:hover {
      cursor: pointer;
    }
  }

  &__form {
    padding-right: 74px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
    position: relative;

    @include md {
      margin-top: 20px;
      padding: 40px 10px 10px;
      grid-row-start: 2;
    }

    &-title {
      margin-bottom: 30px;

      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }

    & input,
    & textarea,
    & select {
      background-color: $grey-input-bg;
      padding: 12px 20px;
      border: 0;
      border-left: 5px solid transparent;
      outline: none;
      font-family: $jost;
      font-size: 16px;
      line-height: 22px;
      color: $black-text;

      &:focus,
      &:active {
        background-color: darken($color: $grey-input-bg, $amount: 5);
        border-left: 5px solid $grey;
      }

      &::placeholder {
        font-family: $jost;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $grey;
      }

      &.error,
      &:focus.error {
        border-color: $red-sale;
        background-color: lighten($color: $red-sale, $amount: 45);
      }
    }
  }
  &__text {
    position: absolute;
    top: 0;
    right: 74px;
  }

  &__box {
    position: relative;
    font-family: $jost;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    display: flex;
    align-items: center;

    @include md {
      font-size: 14px;
      grid-column: 1 /2;
    }

    & #keepUpTo,
    & #keepUpToDate {
      margin-right: 5px;
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border: 1px solid $black-text;
      border-radius: 2px;
      padding: 0;

      &:checked {
        background-color: $black-text;

        & + .check {
          opacity: 1;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    & .check {
      opacity: 0;
      display: block;
      width: 9px;
      height: 6px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      left: 3px;
      top: 13px;
      transform: translateX(50%);
      transform: rotate(-45deg);
      position: absolute;
      pointer-events: none;
    }
  }

  &__bill {
    padding-left: 75px;
    border-left: 1px solid $grey-border;

    @include md {
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
    }
  }

  &__reserve:last-child {
    padding-bottom: 50px;
  }

  &__count {
    border-top: 1px solid $grey-border;
    padding-top: 30px;
    padding-bottom: 29px;
    @include flex-between;
    border-bottom: 1px solid $grey-border;
  }

  &__total {
    padding-top: 30px;
    @include flex-between;
  }

  &__return_link {
    position: absolute;
    bottom: 0;
    right: 74px;

    @include md {
      right: 10px;
    }
  }

  &__button {
    @include md {
      grid-column: 1 /3;
    }

    &_wrapper {
      grid-column: 1 /3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 20px;
    }
  }
}

.error-message {
  font-family: $jost;
  background-color: lighten($color: $red-sale, $amount: 45);
  position: fixed;
  top: 50px;
  left: 50px;
  width: 300px;
  padding: 20px;
  border-left: 5px solid $red-sale;
  z-index: 101;
  visibility: hidden;

  @include md {
    top: 100px;
    left: 20px;
  }

  &.active {
    visibility: visible;
  }
}

.return_link {
  font-family: $jost;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: $red-sale;

  & span {
    font-family: $icons;
  }
}

.form-title {
  font-family: $jost;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $black;
}

.form-text {
  font-family: $jost;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: $black-title;
}

.count {
  &__names {
    font-family: $jost;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: $black-text;
  }

  &__value {
    font-family: $jost;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    text-align: right;
    color: $black-title;
  }
}

.total {
  .total__name {
    font-family: $jost;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: $black-text;
  }
  &__value {
    font-family: $jost;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;

    & span {
      font-weight: 400;
      font-size: 15px;
      color: $grey;
    }
  }
}

.input {
  &__range {
    padding: 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__full {
    grid-column: 1 / 3;

    @include md {
      grid-column: 1 /2;
    }
  }

  &__color {
    padding: 0;
    height: 50px;
    width: 100%;
  }
}
.amount {
  text-align: right;
}

.phone {
  margin-bottom: 5px;
}

label {
  font-family: $jost;
  font-size: 16px;
}

.delivery {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    & label:hover {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__options {
    margin-bottom: 20px;

    &_title {
      font-family: $jost;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      color: $black-text;
      margin-bottom: 20px;
    }
  }

  &__address,
  &__nova {
    width: 100%;
  }

  &__address,
  &__nova_warehouses {
    margin-bottom: 20px;
  }
}

.payment {
  &__wrapper {
    position: relative;
    margin-bottom: 10px;

    & label:hover {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__radio {
    & + .check {
      top: 3px !important;
    }
  }
}

.label__radio {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  & .check {
    top: 3px !important;
  }
}

input[type="radio"].delivery__radio,
input[type="radio"].billing__radio,
input[type="radio"].payment__radio {
  -webkit-appearance: none;
  padding: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid $black-text;

  &:hover {
    cursor: pointer;
  }

  &:checked + .check {
    opacity: 1;
  }

  & + .check {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $black-text;
    top: 5px;
    left: 3px;
    opacity: 0;
    pointer-events: none;
  }
}

.map {
  height: 300px;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: stretch;
  }

  &__pickup {
    height: 400px;
    width: 70%;
  }

  &__info {
    width: 30%;
    padding: 5px;
    position: relative;
    z-index: 2;
    box-shadow: 3px 0 5px rgb(139, 139, 139);
  }
}

.shop {
  &__wrapper {
    font-family: $jost;
    font-size: 18px;
    color: $black-text;
    &:hover {
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.active {
      color: $green;
    }
  }

  &_info__wrapper {
    font-family: $jost;
    font-size: 14px;
    line-height: 17px;
    color: $black-text;
    margin-bottom: 10px;
  }
}

.shipping,
.billing {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $grey-border;

  & .input__wrapper {
    padding-top: 30px;
  }
}

.formatted {
  &__address {
    margin-bottom: 5px;
  }

  &_phone_number {
    margin-top: 5px;
  }
}

.rating {
  & span {
    font-family: $lobster;
    color: $red-sale;
  }
}

.work_hours {
  font-size: 11px;
}

.pickupAddress__wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list__cities {
  margin-bottom: 10px;
}
.search__filter {
  width: 100%;
  margin-bottom: 10px;
}

.novaPost__message {
  font-family: $jost;
  font-size: 18px;
  line-height: 30px;
  color: $black-text;
}

.order {
  &__wrapper {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $jost;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 400;
    opacity: 0;
    transition: all 1s;

    & h4 {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 5px;
    }
  }

  &__window {
    position: absolute;
    overflow: scroll;
    top: 0;
    bottom: 0;
    @include center-position;
    background-color: $white;
    padding: 40px;
    width: 50%;
    height: 100%;
  }

  &__phonenumber {
    margin-bottom: 10px;
  }
  &__number {
    margin-bottom: 10px;
  }
  &__items {
    padding: 30px 10px;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    margin-bottom: 20px;
  }

  &__reserve {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__money {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-border;

    & p {
      display: flex;
      margin-bottom: 7px;
      justify-content: space-between;
    }
  }

  &__grand_total {
    padding-top: 10px;
    font-weight: 800;
    font-size: 18px;
    text-align: right;
    margin-bottom: 20px;
  }

  &__pickup_address,
  &__nov_poshta,
  &__address {
    width: 30%;
  }

  &__billing {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  &__payment {
    margin-bottom: 5px;
  }

  &__button {
    background-image: linear-gradient(45deg, $green 50%, $white 50%);
    background-size: 250%;
    background-position: center left;
    border: 1px solid transparent;
    color: $white;
    &_back {
      background: none;
    }

    &:hover {
      background-position: center right;
      border: 1px solid $green;
      color: $black-text;
    }
  }
}

.order__wrapper.open {
  opacity: 1;
  pointer-events: initial;
  transition: all 1s;
}

.order__items .reserve {
  &__img {
    min-width: 80px;
    width: 80px;
    height: 80px;
  }

  &__name {
    font-size: 15px;

    &:hover {
      color: $black-text;
    }
  }

  &__count {
    font-size: 16px;
  }
}

@keyframes messageMove {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0);
  }
}
