.task {
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: $navyBlue;
  color: $white;
  min-height: 85px;
  box-sizing: border-box;
}

.taskName {
  margin: 0px 20px;
  width: 75%;
  font-family: "Source Code Pro", sans-serif;
}

#addTaskForm {
  width: 100%;
  border: 1px solid $navyBlue;
  border-radius: 25px;
  min-height: 85px;
  padding: 15px 20px;
  box-sizing: border-box;
  color: white;
  input {
    background: none;
    border: none;
    color: $white;
    outline: none;
    width: 100%;
    font-size: 18px;
  }
  button {
    border: none;
    background: none;
    font-size: 24px;
  }
  // #datetimeinput {
  //   // width: 10px;
  // }
}
