/* ==========================================================================
   Component: search-results-list
   ========================================================================== */

/* Variables
  ========================================================================== */

$g-auk-search-results-list-z: 70 !default;

/* Component
  ========================================================================== */

.auk-search-results-list  {
  background: #FFF;
  width: 100%;
  min-width: 23rem;
  max-height: 30rem;
  margin-top: 1rem;
  padding: 1rem 0;
  overflow-y: auto;
  border-radius: 0.3rem;
  box-shadow: $auk-shadow-medium;
  
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: $g-auk-search-results-list-z;
}

.auk-search-results-list--left {
  left: 0;
}

.auk-search-results-list--right {
  right: 0;
}

.auk-search-results-list--no-results,
.auk-search-results-list--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.auk-search-results-list--no-results {
  padding: 1.5rem;
}

.auk-search-results-list__item {
  color: $auk-blue-600;
  text-decoration: none;
  display: flex;
  padding: 0.8rem 1.6rem;

  &:hover {
    background-color: $auk-gray-100;
    color: $auk-blue-600;
  }

  &:focus {
    outline: 0;
    border-color: $auk-yellow-500;
    box-shadow: inset 0 0 0 0.1rem $auk-yellow-500;
  }
}

.auk-search-results-list__item--multiline {
  flex-direction: column;
}

.auk-search-results-list__subline {
  font-size: 1.3rem;
  color: rgba($auk-blue-600, .6);
}

.auk-search-results-list.auk-search-results-list--visible.js-no-action {
  position: static;
}

.auk-search-results-list--visible {
  opacity: 1;
  visibility: visible;
}
