/* Product Class */
#product{
    .grid .grid-item{
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        

    }

    .grid .text-center h6{
    display: block;
    }

    .grid .width-items{
       width: 167px;
    }

    .box-product {
        width: 100%;
        height: 130px;
    
      }

    .grid  .img-grid {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    .bg-card-pop{
        border-radius: 20px;
        background: white;
        box-shadow: rgba(22, 26, 31, 0.2) 1px 2px 3px;
        border-radius: 10px;
    
        }

    .bg-card-pop:hover{
      border: $color-orange solid 3px;
      cursor: pointer;
    
      
    }
    
    .cart-add{

    padding-top: 5px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background: white;
  
    border: none;
    border-radius: 20px;
    box-shadow: rgba(22, 26, 31, 0.2) 1px 2px 3px;
  
  }

  .cart-add:hover{
    background: $color-orange;
  }
  .cart-add i:hover{
    color: white;
  }


  .multi-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

  }


  .img-new{
    margin-top: -5px;
    width: 45px;
    margin-right: 15px;
  }


}





#btn-process{
text-align: center;


  .bg-process{
    width: 80%;
    position: fixed;
    margin-left: 40px;
    height: 68px;
    border: 1px;
    background: rgba(255, 254, 254, 0.6);
    border-radius: 5px;
    bottom: 20px;
    z-index: 99;
    border: none;
  }
}

#product-detail{
  
  .bg-detail{
    background: white;
    border-radius: 5px;
    font-size: 13px;
  }

  .bg-img{
    background: white;
    border-radius: 5px;
  
  }

  .bg-detail .pro-stock{
    font-size: 14px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right:3px;
    background: rgba(233, 233, 233, 0.6);
    box-shadow: rgba(22, 26, 31, 0.2) 1px 2px 3px;
    
  }


  .btn-favorite i {

    font-size: 26px;
    cursor: pointer;
    
  }

  .pro-price{
    display: flex;
  }

  .pro-price b{
    font-size: 25px;
    
  }

  .pro-price h6{
    display: flex;
    font-size: 20px;
    margin-left: 20px;
  
  }

  .pro-detail p{
    font-size: 14px;
    font-family: $font-siemreap;
  }




// Start Image Product
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #F58C52;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #F58C52;
  color: #f2f2f2;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background: rgba(233, 233, 233, 0.6);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  // background-color: #222;
  padding: 2px 16px;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
//End  Image Product


.pro-price{
  font-size: 26px;

}

#qty-pro{
  .control-qty{
    display: flex;
    text-align: center;
  }
  
  .qty_input{
    width: 50px;
  }


}

#warranty{
  .icon-pro{
    font-size: 38px;
    color: $color-primary;
  }
}


}

#description{
  background: white;
  border-radius: 5px;
}














/* !Product Class */