@import "../../Assets/styles/App.scss";

.products {
  border: 0.1px solid rgb(221, 219, 219);
  background: $bg-gradient;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container-products {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-img-products {
  height: 70%;
  background-image: url("../../Assets/images/section3-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.my-slider-products {
  background-color: $color-brand;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-content {
  height: 67%;
  width: 80%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.products-subtitle {
  @include my-text;
}

.products-h2 {
  @include h2-products;
}

.products-p {
  margin-top: 2rem;
  @include text-products;
}

.products-arrows {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  img{
    margin-left: 1.5rem;
  }
}

/* .section-products__content {
  grid-area: 3 / 7 / 4 / 12;
  background-color: $color-brand;
  padding: 8.85vh 3.66vw 0 3.66vw;
  display: flex;
  flex-direction: column;

    h3 {
        @include texto;
                
    }
    h2 {
        @include h2__section-products;
        margin-top: -1vh;
    }
    p {
        @include texto;
        @include roboto-regular;
        margin-top: 2.47vh;
    }
    div {
        margin-top: 4.16vh;
        align-self: flex-end;
        img{
            margin-left: 0.3vw;
        }
    }
}
 */
