// Colors
$ag-black: #000000;
$ag-white: #ffffff;
$ag-grey: #f2f2f2;
$ag-blue: #2685DC;
$ag-blue-2: #3D99EE;
$ag-shadow: 0px 1px 24px rgba(49, 53, 59, 0.08);
$ag-text-gray: rgba(0, 0, 0, 0.68);
$ag-text-gray-2: rgba(0, 0, 0, 0.32);;


// Grid
$gap: 1rem;
// 3.0 Media Query
@mixin max-responsive($media) {
  @media (max-width: $media) {
    @content;
  }
}
@mixin min-responsive($media) {
  @media (min-width: $media) {
    @content;
  }
}
@mixin range-responsive($media, $media2) {
  @media (min-width: $media) and (max-width: $media2) {
    @content;
  }
}

$xlg: 1600px;
$lg: 1100px;
$md: 992px;
$sm: 768px;
$xs: 360px;
$xxs: 320px;

// Typography
$font-1: 'Inter', sans-serif; 
$font-2: 'Raleway', sans-serif; 

.title {
  font-family: $font-2;  
  margin-bottom: 1rem;
  &__main {
    font-size: 2rem;
  }
  &__sub {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom: 1rem;

  &--white {
    color: $ag-white;
  }
}

// Button
.btn {
  width: 100%;
  padding: $gap;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: 8px;
  transition: all .3s ease;
  &-primary {
    color: $ag-white;
    background-color: $ag-blue;
    &:hover {
      background-color: $ag-blue-2;
    }
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: $ag-grey;
}

main {
  max-width: 768px;
  margin: auto;
  background-color: $ag-white;
  height: 100%;
  min-height: 100vh;
}

.container {
  position: relative;
  padding-left: $gap;
  padding-right: $gap;
}

.header {
  position: relative;
  padding-top: 1.5rem;
}

section:not(:last-child) {
  margin-bottom: 2rem;
}

.cover {
  background-color: #FBFCFF;
}

.brand {
  display: inline-block;
  height: 33px;
  overflow: hidden;
  &__item {
    position: relative;
    top: 0;
    animation-name: move; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-out;
    animation-delay: 2s;
    &-1 {
      color: #E50817;
    }
    &-2 {
      color: #1DB954;
    }
    &-3 {
      color: #F5BA18;
    }
  }
}

.guarantee {
  display: flex;
  margin: $gap 0px;
  justify-content: center;
  &__item {
    display: flex;
    color: rgba(33, 33, 33, 0.48);
    margin-right: 8px;
    img {
      margin: 0px 6px;
    }
  }
}

.display {
  position: relative;
  height: 241px;
  width: 300px;
  margin: auto;
  text-align: center;
  img {
    opacity:0; 
    animation-name: slideshow; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0;
    margin: auto; 
    &:nth-child(1) { animation-delay: 0s; }
    &:nth-child(2) { animation-delay: 2s; }
    &:nth-child(3) { animation-delay: 4s; }
  }
}

.wrapper {
  display: flex;
  overflow-x: auto;
  margin: 0 -1rem .5rem;
  padding: 1rem 0;
}

.carousel-slider {
  max-height: 300px;
  overflow: hidden;
}

.card {
  padding: 1rem 20px;
  box-shadow: $ag-shadow;
  border-radius: 1rem;
  flex: 1;
  margin: 10px 4px;
  &__text {
    color: $ag-text-gray;
    p {
      line-height: 24px;;
    }
  }
  &__price {
    .old {
      color: $ag-text-gray-2;
      text-decoration: line-through;
      font-size: 16px;
      line-height: 19px;
    }
    .new {
      font-size: 1.5rem;
      line-height: 29px;
      font-weight: 600;
    }
  }
  &__data {
    .name {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    .profesi {
      font-size: 14px;
      line-height: 17px;
      color: $ag-text-gray-2;
    }
  }
}

.testimoni {
  background: url(../images/right-quote.png) no-repeat bottom right;
  min-width: 260px;
}

// Accordion
.accordion {
  .icon {
    position: absolute;
    top: 18px;
    right: 12px;
  }
}
.accordion{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 18px;
  margin-bottom: 8px;
}
.accordion > a{
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.accordion > a i{
  float: right;
  margin-top: 2px;
}
.accordion > a.active{
  background: rgba(38, 133, 220, 0.04);
  color: $ag-blue;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.content{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background: rgba(38, 133, 220, 0.04);
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

// Biodata 
.biodata {
  background-color: #152135;
  color: $ag-white;
  padding: 32px 0px 24px;
}

.form {
  label {
    margin-bottom: 12px;
    font-family: $font-2;
    font-weight: 700;
    display: block;
  }
  &__group {
    margin-bottom: 1rem;
  }
}

input, select {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.68);
  a {
    color: $ag-blue;
  }
}

// Hamburger Menu
#hamburger {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(0.5);

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 16px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 100;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 15px;
    }
    &:nth-child(3) {
      top: 30px;
    }
  }
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu__mobile {
  position: absolute;
  top: .5rem;
  right: -8px;
  z-index: 99;
}

.navigation{  
  background: $ag-white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translateX(100%);
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show{
    transform: translateX(0%);
  }

  ul{
    li{
      margin: 5px 15px;
      position: relative;
      display: block;
      margin: 50px 10px;
      text-align: center;
      font-size: 1.5em;      
      &.active{
        a{
          color: $ag-blue;
        }
      }
      a{
        color: $ag-black;
        font-size: 1rem;
        &:hover{
          color: $ag-blue;
        }
      }
    }
  }
}

// Animation Slideshow
@keyframes slideshow {
  0%     { opacity: 0; }
  11.11% { opacity: 1; }
  33.33% { opacity: 1; }
  44.44% { opacity: 0; }
  100%   { opacity: 0; }
}

// Animation SlideTop
@keyframes move{
  0%   { top: 0px; }
  33%  { top: -48px; }
  66% { top: -88px; }
}