@import "color";

// LARGEUR DU SITE
$sitewrap: 1170px;

// AGRANDISSEMENT HAUTEUR SLIDER (0 par défaut, doit être  > 500px)
// NE FONCTIONNE PAS SI MF_MOTEUR_TYPE = 2
$slider-height:500px;

// HAUTEUR PHOTOS LISTING (235px par défaut)
$listing-img-height:235px;

// REQUIS MAIS NE SERT PAS
$bg-uni: yes;
$picture-bg: yes;
$picture-bg-url:'';
$picture-bg-repeat-horizontal: no;

// VAR SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE (NONE, UPPERCASE...)
$type-title: uppercase;

// WEIGHT (BOLD, NORMAL, 700, 300...)
$weight-title: normal;

// ARRONDI (YES / NO)
$arrondi: yes;

// IMPORT ALL
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

// IMPORT TEMPLATE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirstv2";

// IMPORT RECHERCHE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/recherche/mobilefirst";

// IMPORT MOTEUR MOBILEFIRST (SUR RECHERCHE)
// SEULEMENT SI RECHERCHE AUTRE QUE MF
//@import "../../../slagence_X_V5/sources/scss/moteur/mobilefirst";


// IMPORT AGENCE MOBILEFIRST
@import "../../../slagence_X_V5/sources/scss/agence/mobilefirst";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/mobilefirst";

// IMPORT MODULE SOUS MENU
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT PUB
@import "../../../slagence_X_V5/sources/scss/pubs/mobilefirst";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra23";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces18";

.section-h1 {
    .social-link-fb {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 .25rem;
        border-radius: 50%;
        line-height: 8rem;
    }
}

.footer-list {
    a {
        display: inline;
    }
    img {
        width: 30%;
        padding: 1rem;
    }
}

.recherche-mobilefirst .annonce-img {
    min-height: 393px;
}

//--------------------------------------------------------------------------------------
//    PERSO CHAI22000
//--------------------------------------------------------------------------------------

.cookie-banner {
    background-color: $color-primary;
    color: $color-nav-footer;
}

.text_cookies .button_submit {
    background-color: $color-action !important;
}


//--------------------------------------------------------------------------------------
//    HEADER
//--------------------------------------------------------------------------------------
.menu-principal>li {
    padding: 0px 0px;
    @media only screen and (max-width : 1340px) {
        padding: 0 2px;
        font-size: 0.8em;
    }
    @media only screen and (max-width : 1100px) {
        padding: 0 2px;
        font-size: 0.7em;
    }
    >a {
    color: $color-important;
    }
    >a:hover {
    color: $color-action;
    }
}

.logo img {
    max-width: 300px;
    max-height: 120px;
}

.slidermf-h1 {margin-top:200px;}

@media only screen and (max-width: 767px) {
.slidermf-h1 {
margin-top:60px;
}
}

/* --------------------------------------------------------------------- */
/* -- HOMEPAGE - MOTEUR
/* --------------------------------------------------------------------- */

.moteurmf-body {background-color: rgba(163,171,177,0.7);}
.moteurmf-tab {background-color: rgba(255,255,255,0.7); opacity:0.7; color:$color-pub;}
.moteurmf-tab.is-active {background-color: rgba(0,169,238,0.6);}

//--------------------------------------------------------------------------------------
//    MODULES ANNONCES
//--------------------------------------------------------------------------------------
.module-annonces-img {
    border-radius: 5px 5px 0 0;
    border: 2px solid $color-important;
}

.module-annonces-prix {
    color:$color-important;
    font-size: 1.2em;
    font-weight: bolder;
}

.module-annonces-type {font-weight: bolder;}

//--------------------------------------------------------------------------------------
//    PAGE RECHERCHE
//--------------------------------------------------------------------------------------
.recherche-mobilefirst .annonce-prix {
    color:$color-important;

    font-weight: bolder;
}

.recherche-mobilefirst .annonce-type {font-weight: bolder;}

//--------------------------------------------------------------------------------------
//    PAGE DETAIL
//--------------------------------------------------------------------------------------
body > main > div > div.row-fluid.margin-top-20 > div > ul > li:nth-child(1) > div > div > div > div > div > div > a.btn.btn-action.btn-small.pull-right.detail-bloc-annonce-similaire-lien {display:none;}

.bloc-detail-prix {
    color:$color-important;
    font-weight: bolder;
}

/* --------------------------------------------------------------------- */
/* -- HOMEPAGE - MOTEUR
/* --------------------------------------------------------------------- */

.moteurmf-more {
    .span6:nth-child(odd) {
        margin-left: 0;
    }
}

/* --------------------------------------------------------------------- */
/* -- HOMEPAGE - EQUIPE
/* --------------------------------------------------------------------- */

.hrteam {
    margin: 2px 0;
    border-top: 2px solid #eee;
}
