@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.myContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
@media (min-width: 576px) {
    .myContainer {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .myContainer {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .myContainer {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .myContainer {
        width: 1140px;
    }
}

.con {
    display: flex;
    align-items: center;

    .hide {
        display: none;
    }

    .content {
        width: 50%;

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.25rem;
        }

        h1 {
            margin-top: 5%;
            font-family: 'Open Sans', sans-serif;
            font-size: 3.75rem; 
        }

        .iconsCon {
            margin-top: 5%;
            // margin-left: 50%;
            // margin-right: 50%;
            // transform: translate(-50%);
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                margin-top: 5%;
                color:  #545454;
                font-size: 1.5rem;
                padding: 3%;
                border: 1.25px solid #B5B5B5;
                border-radius: 8px;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: #545454;
                    color: #fff;
                }
            }
        }

        form {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1%;
            border: 2px solid #B5B5B5;
            box-sizing: border-box;
            border-radius: 20px;

            &:hover  {
                border: 2px solid #3423A6;
            }
            
            input {
                padding: 3%;
                width: 70%;
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                background: none;
                border: none;
                outline: none;
                color: #3423A6;

                &::placeholder {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1rem;
                    color: #B5B5B5;
                }
            }

            button {
                padding: 3%;
                width: 30%;
                color: #fff;
                background: #3423A6;
                border-radius: 15px;
                border: none;
                outline: none;
                font-size: 1rem;
            }
        }
    }

    .imgCon {
        width: 50%;
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media screen and (max-width:1024px) {
    .con {
    
        .content {
            width: 50%;
    
            p {
                font-size: 1rem;
            }
    
            h1 {
                margin-top: 5%;
                font-size: 2.5rem; 
            }
    
            .iconsCon {
                // margin-left: 50%;
                // margin-right: 50%;
                // transform: translate(-50%);
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                a {
                    font-size: 1rem;
                    padding: 2%;
                }
            }
    
            form {
                margin-top: 5%;
                margin-bottom: 5%;
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1%;
                border: 2px solid #B5B5B5;
                box-sizing: border-box;
                border-radius: 20px;
    
                
                
                input {
                    padding: 3%;
                    width: 70%;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 0.8rem;
                    background: none;
                    border: none;
                    outline: none;
                    color: #3423A6;
    
                    &::placeholder {
                        font-size: 0.8rem;
                    }
                }
    
                button {
                    padding: 3%;
                    width: 30%;
                    color: #fff;
                    background: #3423A6;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                    font-size: 0.8rem;
                }
            }
        }
    
        .imgCon {
            width: 50%;
            height: 450px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    } 
}

@media screen and (max-width:768px) {
    .con {
        display: flex;
        align-items: center;
        flex-direction: column;

        .hide {
            display: block;
        }

        .show {
            display: none;
        }
    
        .content {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            h1 {
                width: 100%;
                font-size: 2rem;
            }
    
            .iconsCon {
                margin-top: 0%;
                margin-left: 50%;
                margin-right: 50%;
                transform: translate(-50%);
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom:5%;
    
                a {
                    margin-top: 5%;
                    color:  #545454;
                    border: 1.25px solid #B5B5B5;
                    border-radius: 8px;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &:hover {
                        background: #545454;
                        color: #fff;
                    }
                }
            }
    
            form {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2%;
                border: 2px solid #B5B5B5;
                box-sizing: border-box;
                border-radius: 20px;
    
            
                
                input {
                    padding: 3%;
                    width: 70%;
                    font-family: 'Open Sans', sans-serif;
                    background: none;
                    border: none;
                    outline: none;
                    color: #3423A6;
    

                }
    
                button {
                    padding: 3%;
                    width: 30%;
                    color: #fff;
                    background: #3423A6;
                    border-radius: 15px;
                    border: none;
                    outline: none;
                }
            }
        }
    
        .imgCon {
            width: 100%;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}