@import "color";
// BG UNI
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:260;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",arial,verdana,sans-serif;
$font-title:"PT Sans Caption",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:normal;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// BORDER EFFECT ON NAV
$border-nav:no;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN TOP NAV
$margin-top-navigation:8;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces14";

// IMPORT MODULE PUB LIB1 = MODELE BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB6
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";



//--------------------------------------------------------------------------------------------------------------------------------------------
//		PERSO LOCAROSAS
//--------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//--------------------------------------------------------------------------------------------------------------------------------------------

	//--------------------------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//--------------------------------------------------------------------------------------------------------------------------------------------
.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:100%;
	}
}

	//--------------------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//--------------------------------------------------------------------------------------------------------------------------------------------
	
.navigation {
	@include gradient-primary;
}
.menu-principal {
	line-height:150px;
	>li>a {		
		background:$color-secondary-light-5;
		font-size:1.4em;
		padding: 15px 20px;
		@media only screen and (max-width : 1440px) {
			padding: 10px 10px;
		}
	}
}	

.menu-principal>li>a.menu-active {
	background:$color-action;
}

//--------------------------------------------------------------------------------------------------------------------------------------------
//		INDEX
//--------------------------------------------------------------------------------------------------------------------------------------------

	//--------------------------------------------------------------------------------------------------------------------------------------------
	//		SLIDE
	//--------------------------------------------------------------------------------------------------------------------------------------------
.cycle-slideshow {
	background-color:$color-block;
	height:230px;
	>img {
		margin-left:75px;
		margin-top:8px;
	}
}

.vertical-pano {
	background:$color-block;
}

//--------------------------------------------------------------------------------------------------------------------------------------------
//		DETAIL PA
//--------------------------------------------------------------------------------------------------------------------------------------------

	//--------------------------------------------------------------------------------------------------------------------------------------------
	//		CALENDRIER
	//--------------------------------------------------------------------------------------------------------------------------------------------

.calendar-dispo {
	background:$color-action;
	color:$color-body;
}

.calendar-non-dispo {
	background:$color-important;
	color:$color-body;
}

#Mini_Ref .hidden-phone{display: block !important;}

.control-group .legend { color: white; }