@import "myVars";

html,body{
    height: 100%;
}
@media (min-width: 1400px) {
    body{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: $browser_screen_width;
        height: $browser_screen_height;
        background: url("/form2.svg") bottom right no-repeat, $radient_bgc;
        background-size: 26%, cover;
        background-attachment: fixed;

        .wrapper{
            display: flex;
            flex: 1 0 auto;
            min-height: 100vh;
            @import "aside";

            .content__block{
                display: flex;
                flex: 1 0 auto;
                color: $text_on_bg_color;
                width: 83.9vw;
                height: 100%;
                min-height: 100vh;
                padding: 0.5em;

                .row{
                    margin-left: 0.5em;
                    width: 99%;

                    .main__content__block{
                        width: 65%;

                        .content__cloud{
                            display: flex;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;

                            .contact__danger{
                                width: 100%;
                                margin: 5em 0 0 0;
                                padding: 0.5em 1em;
                                text-align: center;
                            }

                            .form-group{
                                .form-control{
                                    background: $text_area;
                                    color: #198754;
                                }
                            }

                            .content__cloud__header{
                                text-align: center;
                            }
                        }
                        @import "accordionBlock";

                        .call__messages{
                            width: 100%;
                            margin: 5em 0 0 0;
                            padding: 0.5em 1em;
                            text-align: center;
                        }
                    }
                    .users__content__block{
                        width: 27%;

                        .content__cloud{
                            display: flex;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }

        footer{
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            background-color: $footer_color;
            color: $text_on_block_color;
            width: 99.9vw;
            height: 8vh;
            div{
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100vw;
                h5{
                    margin: 0;
                }

                p{
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: $browser_screen_width;
        height: $browser_screen_height;
        background: url("/form2.svg") bottom right no-repeat, $radient_bgc;
        background-size: 26%, cover;
        background-attachment: fixed;
        .wrapper{
            display: flex;
            flex: 1 0 auto;
            min-height: 100vh;
            @import "aside";

            .content__block{
                display: flex;
                flex: 1 0 auto;
                color: $text_on_bg_color;
                width: 83.9vw;
                height: 100%;
                min-height: 100vh;
                padding: 0.5em;
                .row{
                    margin-left: 0.5em;
                    width: 99%;
                    .main__content__block{
                        width: 65%;
                        .content__cloud{
                            display: flex;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;
                            .content__cloud__header{
                                text-align: center;
                            }

                            .CCbutton{
                                width: 100%;
                                margin: 5em 0 0 0;
                                padding: 0.5em 1em;
                                text-align: center;
                                background-color: $footer_color;
                                color: $text_on_block_color;
                            }

                            .form-group{
                                .form-control{
                                    background: $text_area;
                                    color: #198754;
                                }
                            }
                        }
                        @import "accordionBlock";

                        .call__messages{
                            width: 100%;
                            margin: 5em 0 0 0;
                            padding: 0.5em 1em;
                            text-align: center;
                        }
                    }
                    .users__content__block{
                        width: 27%;
                        .content__cloud{
                            display: flex;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }

        footer{
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            background-color: $footer_color;
            color: $text_on_block_color;
            width: 99.9vw;
            height: 8vh;
            div{
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100vw;
                h5{
                    margin: 0;
                }

                p{
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 576px){
    body{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: $browser_screen_width;
        height: $browser_screen_height;
        background: url("/form2.svg") bottom right no-repeat, $radient_bgc;
        background-size: 26%, cover;
        background-attachment: fixed;
        .wrapper{
            display: flex;
            flex: 1 0 auto;
            min-height: 100vh;
            flex-direction: column;
            @import "aside";

            .content__block{
                display: flex;
                flex: 1 0 auto;
                color: $text_on_bg_color;
                width: 99.9vw;
                height: 100%;
                min-height: 100vh;
                padding: 1.5em;
                .row{
                    width: 100%;
                    .main__content__block{
                        width: 85%;
                        .content__cloud{
                            display: flex;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;
                            .content__cloud__header{
                                text-align: center;
                            }

                            .CCbutton{
                                width: 100%;
                                margin: 5em 0 0 0;
                                padding: 0.5em 1em;
                                text-align: center;
                                background-color: $footer_color;
                                color: $text_on_block_color;
                            }

                            .form-group{
                                .form-control{
                                    background: $text_area;
                                    color: #198754;
                                }
                            }
                        }
                        @import "accordionBlock";

                        .call__messages{
                            width: 100%;
                            margin: 5em 0 0 0;
                            padding: 0.5em 1em;
                            text-align: center;
                        }
                    }
                    .users__content__block{
                        width: 27%;
                        .content__cloud{
                            display: none;
                            flex-direction: column;
                            background-color: $block_color;
                            border-radius: $border_rad_norm;
                            padding: $little_padding_all_sides;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }

        footer{
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            background-color: $footer_color;
            color: $text_on_block_color;
            width: 99.9vw;
            height: 8vh;
            div{
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100vw;
                h5{
                    margin: 0;
                }

                p{
                    margin: 0;
                }
            }
        }
    }
}
