// .signup-action {
//   transform: translateY(7rem);
//   transition: all 0.5s ease-in;
// }

.button-signup {
  width: 100%;
}

.button-signin {
  width: 100%;
}

.resize-button {
  width: 100%;
}

.button-finished {
  margin-top: 16px;
  margin-bottom: 16px;
}

input[type="submit"].secondary,
input[type="reset"].secondary,
input[type="button"].secondary,
button.secondary,
.button.secondary {
  background-color: #6b33ed;
  box-shadow: none !important;
  color: #ffffff !important;
}

input[type="submit"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="button"].secondary:hover,
button.secondary:hover,
.button.secondary:hover {
  background-color: #6432da !important;
}

input[type="submit"].secondary:active,
input[type="reset"].secondary:active,
input[type="button"].secondary:active,
button.secondary:active,
.button.secondary:active {
  background-color: #6131cf !important;
}

input[type="submit"].powerful,
input[type="reset"].powerful,
input[type="button"].powerful,
button.powerful,
.button.powerful {
  background-color: #1294fd;
  box-shadow: none !important;
  color: #ffffff !important;
}

input[type="submit"].powerful:hover,
input[type="reset"].powerful:hover,
input[type="button"].powerful:hover,
button.powerful:hover,
.button.powerful:hover {
  background-color: #188ae7 !important;
}

input[type="submit"].powerful:active,
input[type="reset"].powerful:active,
input[type="button"].powerful:active,
button.powerful:active,
.button.powerful:active {
  background-color: #0981e2 !important;
}

.friend-list-button {
  position: absolute;
  right: 0;
  background-color: #1294fd;
  border-radius: 35px;
  font-size: 11px;
  padding: 0px 20px;
  text-transform: none;
}
