  /* You can add global styles to this file, and also import other style files */


  body,
  .navbar,
  .sidebar {
      font-family: 'Source Sans Pro', sans-serif !important;
  }

  // .sidebar .menu .list a {
  //     padding-right: 2px;
  //     padding-left: 2px;
  // }

  html,
  body,
  .theme-black .navbar.active {
      background: #FAFAFA;
      background-color: #FAFAFA !important;
  }

  .sidebar,
  .logo-white .navbar-header {
      background: #295B84 0% 0% no-repeat padding-box;
      opacity: 1;
  }

  .logo-white .navbar-header .logo-name,
  .sidebar .menu .list a span,
  .sidebar .menu .list a {
      color: white !important;
  }

  .theme-black .sidebar .menu .list :hover {
      background: #082339 0% 0% no-repeat padding-box;
      border-radius: 25px;
  }

  .theme-black .sidebar .menu .list li a:hover i,
  .theme-black .sidebar .menu .list li a:hover span,
  .theme-black .sidebar .menu .list li.active> :first-child i,
  .theme-black .sidebar .menu .list li.active> :first-child span {
      color: white;
  }

  .theme-black .sidebar .menu .list li.active> :first-child i,
  .sidebar .menu .list a,
  .sidebar .menu .list a span {
      color: white !important;
  }

  .theme-black .sidebar .menu .list li.active {
      background: #082339 0% 0% no-repeat padding-box;
      border-radius: 25px;
  }

  .sidebar .menu .list li.active> :first-child span {
      font-weight: normal;
  }

  .mb-30 {
      margin-bottom: 30px !important;
  }

  .b-r-0 {
      border-right: none !important;
  }

  .m-b-0 {
      margin-bottom: 0px !important;
  }

  .m-b-10 {
      margin-bottom: 10px !important;
  }

  .m-b-20 {
      margin-bottom: 20px !important;
  }

  .m-t-5 {
      margin-top: 5px !important;
  }

  .m-t-10 {
      margin-top: 10px !important;
  }

  .m-t-30 {
      margin-top: 30px !important;
  }

  .m-b-5 {
      margin-bottom: 5px !important;
  }

  .light {
      font-weight: normal !important;
  }

  .breadcrumb .page-title {
      color: #BFC2C4 !important;
      font-weight: normal;
  }

  .page-title {
      color: #082339 !important;
      font-size: 20px;
      font-weight: bolder;
  }

  .nav-item .nav-link {
      font-size: 16px !important;
  }

  .nav-tabs li a.active {
      color: #EB9335 !important;
  }

  .theme-black .nav-tabs>li>a:before {
      border-bottom: 2px solid #EB9335;
  }

  .dash-card {
      box-shadow: 1px 2px 6px #00000029;
      margin-bottom: 10px;
      padding: 10px 5px;

      .body {
          padding-bottom: 0px;
          padding-top: 0px;
      }
  }

  .theme-black .card .header h2 strong {
      color: #5A5555 !important;
  }

  .kpi-card {
      box-shadow: 1px 2px 6px #00000029;
      margin-bottom: 10px;

      .body {
          padding-bottom: 0px;
          padding-top: 0px;
      }
  }

  .cus-btn {
      color: white;
      text-align: center;
      border-radius: 50px;
      width: max-content;
      padding: 0px 18px;
      font-size: 12px;

      .purple {
          background-color: #A92BB9;
      }

      .green {
          background-color: #2BB9A8;
      }
  }

  .cus-btn2 {
      color: white;
      padding: 10px;
      border-radius: 4px;
      opacity: 100%;
      cursor: pointer;
      margin: 10px;
  }

  .primaryBlue {
      background: #3B7C98;
      border: 1px solid #3C5560;
  }

  .color1 {
      background: #4050B5;
      border: 1px solid #192CA8;
  }

  .color2 {
      background: #8022FF;
    //   border: 1px solid #651FC3;
  }

  .color3 {
      background: #9D26B0;
    //   border: 1px solid #510E5C;
  }

  .color4 {
      background: #4050B5;
    //   border: 1px solid #192CA8;
  }

  .color5 {
      background: #DDA715;
      border: 1px solid #BF9112;
  }


  .customInput {
      label {
          color: #52504F;
          opacity: 100%;
          font-size: 12px;
          font-weight: bold;
      }

      input {
          border: 1px solid #ddd !important;
          padding-left: 10px !important;
          border-radius: 4px !important;
      }
  }

  .form-sub-header {
      color: #082339 !important;
      opacity: 100% !important;
      font-size: 16px !important;
      font-weight: bold !important;

  }


  .card-sub-title {
      color: #95928A !important;
      font-size: 14px !important;
  }

  .card-sub-value {
      color: #291F03 !important;
      font-size: 18px !important;
  }

  .box1 {
      border: 2px solid #4050B5;
      border-radius: 6px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px;
  }

  .box2 {
      border: 2px solid #FF5622;
      border-radius: 6px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px;
  }

  .box3 {
      border: 2px solid #4BC62E;
      border-radius: 6px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px;
  }

  .box4 {
      border: 2px solid #18A1A7;
      border-radius: 6px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px;
  }

  .box5 {
      border: 2px solid #C9BE35;
      border-radius: 6px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px;
  }

  .validation-errors {
      .error-message {
          color: red
      }
  }

  .m-b-40 {
      margin-bottom: 40px;
  }

  .newrow {
      // position: relative;

  }

  .popoverdiv {
      position: absolute;
      background: #fff;
      right: 6vw;
      top: 6vw;
      width: 200px;

      h4 {
          font-size: 15px;
          margin: 10px 15px;
          cursor: pointer;
          color: #2C2727 !important;

          a {
              color: #2C2727 !important;

          }
      }
  }


  .containerdiv {
      background: #EFF5F7;
      padding: 15px;

      h4 {
          color: #082339;
          font-size: 16px;
          margin: 0;
          font-weight: normal;
      }

      .rowdiv {
          width: 100%;
          display: flex;
          margin-top: 1vw;

          .carddiv {
              width: 25%;
              float: left;

              h5 {
                  color: #2C2727;
                  font-size: 12px;
              }

              p {
                  color: #646262;
                  font-size: 12px;
              }

              .subcarddiv {
                  width: 50%;
                  float: left;

                  h6 {
                      color: #2C2727;
                      font-size: 12px;
                  }

                  p {
                      color: #646262;
                      font-size: 12px;
                  }
              }

              .finstatus_approv {
                  background: #6CC668;
                  padding: .2vw 1vw;
                  border-radius: 5vw;
                  color: #fff;
                  width: max-content;
                  font-size: 11px;
              }

              .finstatus_pending {
                  background: orange;
                  padding: .2vw 1vw;
                  border-radius: 5vw;
                  color: #fff;
                  width: max-content;
                  font-size: 11px;
              }

              .finstatus_reject {
                  background: red;
                  padding: .2vw 1vw;
                  border-radius: 5vw;
                  color: #fff;
                  width: max-content;
                  font-size: 11px;
              }
          }
      }
  }


  .editcenter {
      .disqualify {
          color: #FF4A63 !important;
      }

      .reactivate {
          color: #EB9335 !important;
      }
  }


  td.color_text {
      color: #227386 !important;
  }

  .table {
      color: #585555 !important
  }

  .container-fluid {
      margin-bottom: 50px !important
  }

  .box {
      border-radius: 10px;
      background: white 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 5px;
      box-shadow: 1px #00000029;

      .title {
          color: #5A5555;
          line-height: normal;
      }

      .value {
          color: #291F03;
          font-size: 14px !important;
          font-weight: bolder;
      }
  }

  .kpi-small-card {
      box-shadow: 1px 2px 6px #00000029;
      margin-bottom: 5px;

      .body {
          padding: 0px 15px !important;
      }

      .info {
          margin: auto !important;
          margin-top: 10px !important;
      }

  }

  .w-30 {
      width: 30%;
  }

  .tr {
      color: #082339;
  }

  .nationalId {
      color: #227386 !important;
  }

  .phoneNumber {
      color: #082339 !important;
  }

  .name {
      color: #585555 !important;
  }

  .amount {
      color: #082339 !important;
  }

  .date {
      color: #082339 !important;
  }

  .view-details {
      color: #EB9335 !important;
  }

  .pwdreset {
      background: #DDA715 !important;
      width: max-content;
      padding: 5px 15px;
      color: #fff !important;
      border-radius: 10px;
  }


  .iconDwnld {
      display: flex;

      p {
          color: #0A68FF !important;
          font-size: 12px;
          margin: 10px;
          cursor: pointer;
      }

      .dwnldtext{
        color: #0A68FF !important;
        font-size: 12px;
        margin: 10px;
        cursor: pointer;
      }

      a{
        color: #316180 !important;
        font-size: 12px;
        margin: 10px;
        cursor: pointer;
        text-decoration: none;
      }
  }



  .cus-label {
      color: #52504F !important;
      font-size: 14px;
      opacity: 1;
      font-weight: 600;
  }