#barra-menu{
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    font-size: 9px;
    .logo-menu{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0 20px;
        box-sizing: border-box;
        a{
            .logo{
                width: 100px;
            }
        }
    }
    .categoria{
        flex: 1 1 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &-nombre{
            margin: 0;
            transition: .3s ease all;
        }
        &:hover{
            text-decoration: underline;
        }
        .subcategoria-contenedor{
            opacity: 0;
            top: -10px;
            position: absolute;
            background: #eaeaead1;
            backdrop-filter: blur(4px);
            color: #000;
            width: 30%;
            margin-left: 0px;
            padding: 10px 5px;
            box-sizing: border-box;
            list-style: none;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            box-shadow: #000 0px 0px 10px -5px;
            pointer-events: none;
            transition: .3s ease all;
            &.active{
                opacity: 1;
                top: 130px;
                pointer-events: all;
            }
            &.primero{
                left: 10px;
            }
            .subcategoria{
                margin:10px auto;
                display: flex;
                a{
                    color: #000;
                    width: 100%;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    @include MQ(L){
        font-size: 19px;
        .categoria{
            .subcategoria-contenedor{
                &.active{
                    top: 170px;
                }
            }
        }
    }
}