@import "vars";
@import "libs";
@import "global";


.header{
    margin-bottom: 85px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: #F9BDBD;
        width: 40%;
        height: 800px;
        border-radius: 0 0 0 186px;
        z-index: -1;
    }
    &__container{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 28px 0 80px;
    }
    &__inner{
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        @extend %btn;
        padding: 9px 35px;
        margin-left: 48px;
        @extend %nunito-700;
        font-size: 16px;
        line-height: 22px;
        background: #F9BDBD;
        text-transform: uppercase;
    }
}



.furniture{
    padding-bottom: 180px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__box{
        max-width: 504px;
    }
    &__subtitle{
        font-size: 36px;
        line-height: 49px;
        margin-bottom: 16px;
        @extend %nunito-400;
    }
    &__title{
        font-size: 62px;
        line-height: 81px;
        color: #313235;
        margin-bottom: 16px;
        @extend %nunito-700;
    }
    &__link{
        font-size: 16px;
        line-height: 22px;
        padding: 14px 23px;
        color: #fff;;
        background: #DAA520;
        border-radius: 4px;
    }
    &__img{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -61px;
            left: -85px;
            width: 382px;
            height: 382px;
            background-image: url(../images/furniture/furneture-icon_bg.png);
            z-index: -1;
        }
    }
}




























































.footer{
    padding-bottom: 24px;
    background-image: url(../images/footer/footer-bg.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.footer-top{
    margin-bottom: 86px;
    display: flex;
    align-items: center;
    padding-top: 53px;
    &__info{
        max-width: 470px;
        margin-right: 25px;
        color: #000000;
    }
    &__title{
        @extend %nunito-700;
        font-size: 18px;
        line-height: 24px;
        
    }
    &__text{
        @extend %nunito-400;
        font-size: 16px;
        line-height: 21px; 
    }
    &__label{
        display: flex;
        align-items: center;
    }
    &__input{
        width: 328px;
        height: 40px;
        font-size: 18px;
        border: 1px solid #DAA520;
        border-radius: 4px;
        padding: 9px 16px;
        &::placeholder{
            font-size: 16px;
            line-height: 22px;
            color: #AFAFAF;
            @extend %nunito-400;
        }
    }
    &__btn{
        background: #DAA520;
        border-radius: 4px;
        padding: 9px 24px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-left: -3px;
    }
}


.footer-bottom{
    padding-bottom: 45px;
    &__inner{
        max-width: 800px;
        border-top: 1px solid #C4C4C4;
        padding-top: 24px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__item + .footer-bottom__item{
        margin-left: 52px;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__item-phone,
    &__item-mail,
    &__item-adress{
        font-size: 14px;
        line-height: 19px;
        color: #8D8D8D;
        margin-bottom: 16px;
        display: block;
    }
    &__item-title{
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        margin-bottom: 16px;
    }
    &__item-link{
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 19px;
        color: #8D8D8D;
        display: block;
    }
}

.footer-date{
    font-size: 12px;
    line-height: 16px;
    color: #8D8D8D;
    text-align: center;
}




@import "media";