@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:620;

// VARIABLE SITE TYPO
$font-body:"Source Sans Pro",verdana,sans-serif;
$font-title:"Open Sans Condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:160;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib3";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";



//------------------------------------------------------------------------------------------------------------------------------------
//		PERSO FARGEON33
//------------------------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------------------------
//		GENERAL
//------------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------------
	//		CONTAINER
	//------------------------------------------------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:100%;
	}
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		MENU & NAV
	//------------------------------------------------------------------------------------------------------------------------------------

.navigation {
	@include border-navigation(77px, 6px, $color-action);
}

.menu-principal {
	line-height: 78px;
	font-size:1.2em;
	>li {
		padding: 10px 14px;
		>a:hover {
			color:$color-important;
		}
	}
}

	//------------------------------------------------------------------------------------------------------------------------------------
	//		FOOTER
	//------------------------------------------------------------------------------------------------------------------------------------

.bg-secondary-footer {
	background:$color-action;
}


//------------------------------------------------------------------------------------------------------------------------------------
//		LISTING PA
//------------------------------------------------------------------------------------------------------------------------------------

	//------------------------------------------------------------------------------------------------------------------------------------
	//		VISUEL
	//------------------------------------------------------------------------------------------------------------------------------------

.recherche-annonces {
	border-bottom:solid 10px $color-action;
}

.recherche-annonces .height-370 {
	height:490px;
}