/* @mixin fz16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.04em;
}
@mixin fz16-600 {
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.04em;
}
@mixin fz18-700 {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
}
@mixin fz18-800 {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
} */
@mixin gradient-color {
    background-image: linear-gradient(90deg, #B31982 0%, #FD4E5A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#B31982;
   
}
@mixin d-flex {
    display: flex;
    align-items: center;
}
@mixin d-flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin d-flex-col {
    display: flex;
    flex-direction: column;
}
@mixin d-flex-start {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}
@mixin d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
