@font-face {
  font-family: Swiss;
  src: url("../../assets/fonts/Swiss-721-Black-No-2-BT.ttf"); }

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 130ms, transform 130ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 130ms, transform 130ms;
  }
  
  .S-Grid2 {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    grid-column-gap: 1.5%;
    grid-row-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

.S-grid__item {
    position: relative;
    width: 100%;
    border: .5px solid #dedede;
    border-radius: 2px;
}
.S-Grid2-sideways {
  display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1.5fr) );
    grid-auto-flow: column;
    grid-auto-columns:  minmax(340px, 1.5fr);
    grid-column-gap: 1.5%;
    grid-row-gap: 20px;
    padding-left: 0%;
    padding-right: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5vh;
    margin-bottom: 7vh;;
}
.S-Grid2-sideways-display {
  display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1.5fr) );
    grid-auto-flow: column;
    grid-auto-columns:  minmax(340px, 1.5fr);
    grid-column-gap: 1.5%;
    grid-row-gap: 20px;
    padding-left: 0%;
    padding-right: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5vh;
    margin-bottom: 7vh;;
}
.blackbar::-webkit-scrollbar-thumb {
  background-color:  black;
  border-radius: 0px;
  width: .02px;
  outline: 1px solid green;
}

.S-Grid2-sideways::-webkit-scrollbar-thumb {
  background-color:  black;
  border-radius: 0px;
  width: .02px;
  outline: 1px solid green;
}

.header_img{
  max-width: 100%; 
  min-height: 40vh;
  height: 50vh;
  max-height: 60vh;
  margin-top: 30vh;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header_img2{
  max-width: 100%; 
  min-height: 40vh;
  height: 60vh;
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header_wording{
  background-color: transparent;
height: 51px;
position: absolute;
left: 125px;
top: 52vh;
width: 236px;
color: white;
font-size: 35px;
font-family: Swiss;
text-shadow: 2px 2px 8px black;

}
.thumbBar{
  background-color: black;
  position: relative;
  height: 5px;
  border-radius: 10px;    
  left: 0;
  top: 0;
}
.header_wording2{
  background-color: transparent;
  height: 51px;
  position: absolute;
  left: 20px;
  top: 305px;
  width: 236px;
  color: white;
  font-size: 25px;
  font-family: HelveticaNeue-Medium;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .S-Grid2 {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(162px, 1fr) );
    grid-column-gap: 2%;
    grid-row-gap: 0px;
    padding-bottom: 15vh;
  }
  .header_img{
    margin-top: 0vh;
    max-width: 100%; 
    min-height: 375px;
    max-height: 375px;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .stream_header{
    width: 100%;
    // height: 15%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 10px;
  }
  .S-Grid2-sideways-display {
    display: grid;
    background-color: chartreuse;
      grid-template-columns: repeat( auto-fit, minmax(340px, 1.5fr) );
      grid-auto-flow: column;
      grid-auto-columns:  minmax(340px, 1.5fr);
      grid-column-gap: .5%;
      grid-row-gap: 20px;
      padding-left: 0%;
      padding-right: 0%;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 5vh;
      margin-bottom: 7vh;;
  }
  .header_wording{
  background-color: transparent;
  height: 51px;
  position: absolute;
  left: 20px;
  top: 305px;
  width: 236px;
  color: white;
  font-size: 35px;
  font-family: Swiss;
  text-shadow: 2px 2px 8px black;

  }
  .header_wording2{
    background-color: transparent;
    height: 51px;
    position: absolute;
    left: 20px;
    top: 305px;
    width: 236px;
    color: white;
    font-size: 25px;
    font-family: HelveticaNeue-Medium;
    font-weight: 600;
    // text-shadow: 2px 2px 8px black;
  
    }
    .header_img2{
      max-width: 100%; 
      min-height: 40vh;
      height: 45vh;
      max-height: 60vh;
      width: 100%;
      object-fit: cover;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  .S-Grid2-sideways {
    display: grid;
      grid-template-columns: repeat( auto-fit, minmax(180px, 1.5fr) );
      grid-auto-flow: column;
      grid-auto-columns:  minmax(180px, 1.5fr);
      grid-column-gap: 1.5%;
      grid-row-gap: 5px;
      padding-left: 0%;
      padding-right: 5%;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 0vh;
  
  }
}