@media only screen and (max-width: media("tablet")) {
    .component9{
        .content{
            .downside{
                grid-template-columns: 1fr;
                grid-template-rows: 453px 435px;
                margin-top: 20px;
                height: auto;
                justify-items: center;
                .center{
                    width: 0;
                    height: 0;
                    margin: 0;
                    .leftside{
                        margin: 0;
                        grid-column: 1/2;
                        grid-row: 1/2;
                        grid-template-rows: 143px 143px 143px;
                        height: auto;
                        .item{
                            grid-template-columns: 50px 250px;
                            i{
                                grid-area: 1/1/2/2;
                            }
                            h6{
                                grid-column: 2/3;
                            }
                            img{
                                grid-area: 1/1/2/2;
                            }
                            p,h6{
                                text-align: center;
                            }
                        }
                    }
                    .rightside{
                        margin: 0;
                        grid-column: 1/2;
                        grid-row: 2/3;
                        grid-template-rows: 143px 143px 143px;
                        height: auto;
                        .item{
                            p,h6{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
        
    .content .downside {
        grid-template-columns: 1fr;
        grid-template-rows: 453px 435px;
        margin-top: 20px;
        height: auto;
        justify-items: center;
    }
    .component9 .content .downside .center {
        width: 0;
        height: 0;
        margin: 0;
    }
    .component9 .content .downside .leftside {
        margin: 0;
        grid-column: 1/2;
        grid-row: 1/2;
        grid-template-rows: 143px 143px 143px;
        height: auto;
    }
    .component9 .content .downside .rightside {
        margin: 0;
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-rows: 143px 143px 143px;
        height: auto;
    }
    .component9 .content .downside .leftside .item {
        grid-template-columns: 50px 250px;
    }
    .component9 .content .downside .leftside .item i {
        grid-area: 1/1/2/2;
    }
    .component9 .content .downside .leftside .item h6 {
        grid-column: 2/3;
    }
    .component9 .content .downside .leftside .item img {
        grid-area: 1/1/2/2;
    }
    .component9 .content .downside .leftside .item p, .component9 .content .downside .leftside .item h6, .component9 .content .downside .rightside .item p, .component9 .content .downside .rightside .item h6 {
        text-align: center;
    }
}