.insight--staffs--goodpoints--all--container {
  @include clearfix();
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px; //最後にautoにする
}

.insight--staffs--goodpoints--supplement--container {
  width: 100%;
  margin-top: 0.8vw;
  font-family: 'HelveticaNeue';
}

.insight--staffs--goodpoints--supplement--content {
  margin-left: calc(65% + 0.3vw);
  font-size: 1.0vw;
  color: $high-gray;
}

.insight--staffs--goodpoints--all--item--container {
  @include clearfix();
  width: 100%;
  //margin-top: 1.8vw;
  font-family: 'HelveticaNeue';
}

.insight--staffs--goodpoints--all--item--goodpoint--content {
  float: left;
  width: 30%;
}

.insight--staffs--goodpoints--all--item--goodpoint--content--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  font-size: 1.0vw;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--count {
  float: left;
  width: 20%;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate {
  float: left;
  width: 15%;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating {
  float: left;
  width: 11%;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 0.8vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insight--staffs--goodpoints--all--item--goodpoint--repeater--rating {
  float: left;
  width: 11%;
}

.insight--staffs--goodpoints--all--item--goodpoint--repeater--rating--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 0.8vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--repeater--rating--content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--total {
  float: left;
  width: 13%;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--total--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 0.8vw;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

//each
.insight--staffs--goodpoints--all--item--one--container {
  @include clearfix();
  font-family: 'HelveticaNeue';
  width: 100%;
  margin-top: 0.3vw;
}

.insight--staffs--goodpoints--all--item--goodpoint--content--one {
  float: left;
  width: 30%;
}

.insight--staffs--goodpoints--all--item--goodpoint--content--box--one {
  height: 3.0vw;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;
}

.insight--staffs--goodpoints--all--item--goodpoint--content--box--one--character {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--one {
  float: left;
  width: 20%;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--box--one {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.2vw;
  height: 3.0vw;
  display: flex;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--box--one--math {
  float: left;
  width: 20%;
  color: $blue;
  font-weight: 900;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--box--one--bar--wrapper {
  float: left;
  width: 70%;
}

.insight--staffs--goodpoints--all--item--goodpoint--count--box--one--bar {
  float: left;
  height: 0.5vw;
  background-color: $bar-blue;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--one {
  float: left;
  width: 15%;
  //height: 30px;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.4vw;
  height: 3.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--wrapper {
  display: flex;
  justify-content: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--math {
  float: left;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--unit {
  float: left;
  margin-top: 0.2vw;
  margin-left: 0.1vw;
  font-size: 1.0vw;
  color: $gray;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--between {
  float: left;
  margin-top: 0.1vw;
  margin-left: 0.5vw;
  color: $gray;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--shop--member {
  float: left;
  margin-top: 0.35vw;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  color: $gray;
}

.insight--staffs--goodpoints--all--item--goodpoint--inshop--rate--box--one--shop--member--unit {
  float: left;
  margin-top: 0.35vw;
  font-size: 0.9vw;
  color: $gray;
}


.insight--staffs--goodpoints--all--item--goodpoint--rating--one {
  float: left;
  width: 11%;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--box--one {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.4vw;
  color: $thin-black;
  height: 3.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--repeater--rating--one {
  float: left;
  width: 11%;
}

.insight--staffs--goodpoints--all--item--goodpoint--repeater--rating--box--one {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.4vw;
  color: $thin-black;
  height: 3.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--total--one {
  float: left;
  width: 13%;
}

.insight--staffs--goodpoints--all--item--goodpoint--rating--total--box--one {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.4vw;
  color: $thin-black;
  height: 3.0vw;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
