@import "color";
// BG UNI
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:340;

// VARIABLE SITE TYPO
$font-body:"proxima-nova",verdana,sans-serif;
$font-title:"alternate-gothic-no-3-d",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.4em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:yes;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES3
@import "../../../slagence_X_V5/sources/scss/modules/annonces15";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

.nav-tabs>li>a, .nav-pills>li>a {
	padding-right:8px;
	padding-left:8px;
}
.pagination-center {
	margin-bottom:10px;
}

.btn-listing-annonces {
background:$color-content;
@include lightnessColor($color-content,no);
}

@media only screen and (max-width : 767px) {
	.h1-index {
	margin-left:0px;
	color:#000;
	text-shadow:none;
	}
}

.pub-qui {
	background-image:url('../images/picto-qui.jpg');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-qui.jpg', sizingMethod='image'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-qui.jpg', sizingMethod='image')";
}
.pub-contact {
	background-image:url('../images/picto-contact.jpg');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-contact.jpg', sizingMethod='image'); 
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picto-contact.jpg', sizingMethod='image')"; 
}


.titre-milieu {
	margin-top:220px;
}