.user-show-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid black;

    .user-show-left-nav {
        margin-left: 15%;
    }

    .main-nav-links {
        margin-right: 15%;

        .get-started-btn {
            color: green;
            background: none;
            border: 1px solid green;
            margin-right: 20px;
        }

        .nav-link-login {
            text-decoration: none;
            color: green;

            &:visited {
                color: green;
            }
        }
    }

    .user-profile-nav {
        margin-right: 15%;
    }

    .user-show-left-nav {
        display: flex;
        align-items: center;
        width: 700px;

        #user-show-logo-link {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 30px;
            color: green;
            margin-right: 5%;
            text-decoration: none;

            &:visited {
                color: green;
            }
        }

        .follow-user-btn {
            background: green;
            border-radius: 30px;
            border: none;
            padding: 10px 10px;
            color: white;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
        }

        #user-show-author {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            margin-right: 8%;
        }
    }
}

.user-show-article {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 40%;
    margin-left: 35%;
    border-bottom: 1px solid lightgray;

    .article-date {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 2%;
    }

    .article-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
        text-decoration: none;
        color: black;
        margin-bottom: 2%;

        &:visited {
            color: black;
        }
    }

    .story-show-para {
        font-size: 20px;
    }
}
