@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 31px 100px;
    }
    &__navigation{
        display: flex;
        align-items: center;
    }
    &__btn{
        padding: 9px 20px;
        color: #fff;
        font-size: 15px;
        line-height: 107%;
        border: 1px solid $title;
        background-color: $title;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
    }
    &__content{
        text-align: center;
    }
    &__title{
        font-size: 48px;
        line-height: 133%;
        font-weight: 400;
        color: $title;
        padding-bottom: 30px;
        max-width: 818px;
        margin: 0 auto;
    }
    &__button{
        padding: 13px 25px;
        color: #fff;
        font-size: 17px;
        line-height: 141%;
        background-color: $title;
        border: 1px solid $title;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        margin-right: 16px;
        margin-bottom: 88px;
    }
    &__demo-details{
        border: 1px solid #DADEDF;
        border-radius: 4px;
        color: $title;
        font-size: 18px;
        line-height: 133%;
        padding: 13px 25px;
    }
    &__img{
        margin: 0 auto;
        padding-bottom: 36px;
    }
    &__img-cars{
        margin: 0 auto;
        padding-bottom: 148px;
    }
}
.menu{
    &__list{
        display: flex;  
    }
    &__item{
        font-size: 16px;
        line-height: 19px;
        margin-right: 22px;
    }
    &__link:hover{
        color: #036FC7;
    }
    &__link{
        color: #72787D;
    }
}
.specifications{
    margin-bottom: 142px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-align: center;
    }
    &__img{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    &__title{
        color: $title;
        font-size: 18px;
        line-height: 133%;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 16px;
        line-height: 150%;
    }
}
.chaos{
    margin-bottom: 144px;
    text-align: center;
    &__title{
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__img{
        margin: 0 auto;
    }
}
.blockquote{
    padding-bottom: 168px;
    max-width: 800px;
    margin: 0 auto;
    &__text{
        font-size: 32px;
        line-height: 150%;
        color: $title;
        text-align: center;
    }
}
.care{
    margin-bottom: 71px;
    &__inner{
        display: flex;
    }
    &__title{
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 28px;
    }
    &__text--styled{
        color: $title;
        position: relative;
        z-index: 1;
    }
    &__text--styled::after{
        content: '';
        position: absolute;
        width: 250px;
        height: 16px;
        background-color: #FFD042;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
.partners{
    margin-bottom: 78px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-top: 1px solid #EEF2F3;
        border-bottom: 1px solid #EEF2F3;
        padding: 56px 0;
    }
    &__img{
        margin-right: 30px;
        margin-bottom: 10px;
    }
    &__img:nth-child(5){
        margin-right: 0;
    }
}
.what-is{
    margin-bottom: 143px;
    &__title{
        margin-bottom: 21px;
        text-align: center;
    }
    &__text{
        padding-bottom: 28px;
        text-align: center;
        max-width: 827px;
        margin: 0 auto;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__item:nth-child(even){
        flex-direction: row-reverse;
    }
    &__item-box--first{
        max-width: 500px;
        margin-right: 90px;
    }
    &__item-box--second{
        max-width: 515px;
        margin-left: 100px;
    }
    &__item-box--third{
        max-width: 550px;
        margin-right: 34px;
    }
    &__item-title{
        color: $title;
        font-size: 18px;
        line-height: 133%;
        margin-bottom: 20px;
    }
    &__item-text{
        font-size: 16px;
        line-height: 150%;
    }
}
.delivery{
    margin-bottom: 125px;
    &__title{
        margin-bottom: 21px;
        text-align: center;
    }
    &__text{
        text-align: center;
        max-width: 645px;
        margin: 0 auto;
        padding-bottom: 43px;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 33px 27px;
        margin-bottom: 22px;
    }
    &__item{
        position: relative;
        padding-left: 64px;
    }
    &__item-title{
        font-size: 18px;
        line-height: 133%;
        color: $title;
        margin-bottom: 11px;
    }
    &__item-text{
        font-size: 16px;
        line-height: 150%;
    }
    &__item-img{
        position: absolute;
        left: 0;
    }
    &__other-item{
        text-align: center;
    }
    &__other-item span{
        color: $title;
        position: relative;
        z-index: 1;
    }
    &__other-item span::after{
        content: '';
        position: absolute;
        width: 285px;
        height: 16px;
        background-color: #FFD042;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
.reliability{
    margin-bottom: 144px;
    &__content{
        text-align: center;
        margin-bottom: 62px;
    }
    &__title{
        margin-bottom: 17px;
        position: relative;
    }
    &__title::after{
        content: '';
        position: absolute;
        background-image: url(../images/reliability-icon-title.svg);
        width: 42px;
        height: 40px;
        right: 398px;
        top: -20px;
    }
    &__text{
        min-width: 857px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    &__box{
        display: flex;
    }
    &__item-img{
        margin: 0 auto;
        padding-bottom: 19px;
    }
    &__item-title{
        color: $title;
        font-size: 18px;
        line-height: 133%;
        margin-bottom: 11px;
    }
    &__item-text{
        font-size: 16px;
        line-height: 150%;
    }
    &__bottom{
        background-color: #F6F8F9;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 40px;
    }
    &__bottom-img{
        margin-right: 24px;
    }
    &__bottom-text{
        font-size: 18px;
        line-height: 32px;
        color: $title;
        margin-right: 64px;
    }
    &__bottom-text span{
        font-weight: 500;
    }
    &__bottom-btn{
        padding: 13px 25px;
        color: $title;
        font-size: 18px;
        line-height: 133%;
        background-color: #fff;
        border: 1px solid #DADEDF;
        border-radius: 4px;
    }
}
.app{
    background-color: $title;
    position: relative;
    margin-bottom: 143px;
    &__inner{
        display: flex;
        padding-top: 143px;
    }
    &__content{
        max-width: 590px;
        margin-bottom: 127px;
    }
    &__title{
        color: #fff;
        margin-bottom: 50px;
    }
    &__list{
        margin-bottom: 26px;
    }
    &__item{
        position: relative;
    }
    &__item::before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 8px;
    }
    &__item-title{
        font-size: 18px;
        line-height: 133%;
        color: #fff;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    &__item-text{
        padding-left: 40px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.75);
    }
    &__img{
        position: absolute;
        right: 0;
    }
    &__btn{
        padding: 13px 25px;
        color: $title;
        font-size: 17px;
        line-height: 141%;
        background-color: #fff;
        border: 1px solid #DADEDF;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        margin-right: 16px;
    }
    &__details{
        border: 1px solid #DADEDF;
        border-radius: 4px;
        color: #fff ;
        font-size: 18px;
        line-height: 133%;
        padding: 13px 25px;
    }
    &__boxes{
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 118px;
    }
    &__box-img{
        margin: 0 auto;
        padding-bottom: 20px;
    }
    &__box-title{
        font-size: 18px;
        line-height: 133%;
        color: #fff;
        margin-bottom: 10px;
    }
    &__box-text{
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.75);
    }
}
.how-to{
    margin-bottom: 96px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 465px;
    }
    &__title{
        margin-bottom: 21px;
    }
    &__text{
        margin-bottom: 60px;
    }
    &__box{
        max-width: 520px;
    }
    &__list{
        list-style: none;
        counter-reset: number;
    }
    &__item{
        counter-increment: number;
        position: relative;
        padding-left: 72px;
    }
    &__item::before{
        content: '' counter(number);
        position: absolute;
        left: 0;
        border: 1px solid #DADEDF;
        padding: 10px 16px 11px 17px;
    }
    &__title{
        font-size: 17px;
        line-height: 141%;
        color: $title;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
    &__btn{
        padding: 13px 25px;
        color: #fff;
        font-size: 17px;
        line-height: 141%;
        background-color: $title;
        border: 1px solid $title;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        margin-right: 16px;
    }
    &__detail{
        border: 1px solid #DADEDF;
        border-radius: 4px;
        color: $title;
        font-size: 18px;
        line-height: 133%;
        padding: 13px 25px;
    }
}