.HomeContact__box {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    width: 100%;

    .HomeContact__left_box {
        width: 60%;

        .HomeContact__background_image {
            margin-top: 7em;
            background-image: url(../../../assets/Background-Contact-Form.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            
            opacity: 10%;
            height: 80vh;
            transform: scale(1.5);

        }
    }

    .HomeContact__right_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        min-width: 40em;

        .HomeContact__items {
            width: 90%;

            .HomeContact__title {
                display: flex;
                justify-content: center;
                font-size: 2.5em;

            }

            .HomeContact__form_box {
                .HomeContact__form {
                    .HomeContact__form_top {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        color: $two;

                        label {

                            font-weight: 600;

                        }

                        input {

                            margin-top: 1em;
                            margin-bottom: 1em;
                            padding: 0.6em;
                            width: 90%;
                            border: none;
                            border-bottom: 2px solid $two;


                        }

                        .HomeContact__form_top_item {
                            width: 50%;

                            // .HomeContact__form_top_item_text {}

                        }

                    }

                    .HomeContact__form_bottom {
                        display: flex;
                        flex-direction: column;

                        .HomeContact__textarea_label {
                            margin: 1em 0;
                            font-weight: 600;
                        }

                        .HomeContact__textarea {

                            font-family: $font-alt;
                            outline: 3px solid transparent;
                            resize: none;
                            border: none;
                            border-bottom: 2px solid $two;
                        }
                    }
                }

                .HomeContact__form_submit_box {
                    margin-top: 2em;
                    display: flex;
                    justify-content: flex-end;

                    .HomeContact__form_submit_button {

                        font-family: $font-alt;
                        font-weight: 300;
                        border: 1px solid $five;
                        width: 6em;
                        height: 2.5em;
                        font-size: 1.2em;
                        color: $five;
                        background-color: white;
                        transition: transform 0.1s ease-in-out;

                        &:hover {
                            transition: transform 0.1s ease-in-out;
                            transform: scale(1.05);
                        }
                    }
                }

            }
        }

    }

    .validation__error {
        margin-top: 1em;
        color: red;
        font-weight: 600;

    }

    .validation__success {
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgb(18, 184, 18);
        font-weight: 700;
        margin-bottom: 2em;
    }
}