.manager--big--container {
  @include clearfix();
}

.manager--big--title--container {
  @include clearfix();
  width: 100%;
  border-bottom: 1px solid $gray;
}

.manager--big--title--main {
  @include clearfix();
  padding: 1vw 2vw 0vw 2vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.manager--big--title--one--liner {
  float: left;
  width: 100%;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager--big--title--left--box {
  float: left;
  display: flex;
  align-items: center;
}

.manager--big--title {
  float: left;
  font-weight: 600;
  font-family: 'HelveticaNeueBold';
}

.manager--big--title--arrow {
  float: left;
  width: 3vw;
  text-align: center;
  img {
  width: 1vw;
  }
}

.manager--big--title--name--after--arrow {
  float: left;
}

.manager--big--title--subtitle {
  float: left;
  width: 100%;
  font-size: 1.2vw;
  font-family: 'HelveticaNeue';
}

.manager--big--title--subtitle--select--one {
  float:left;
  text-align: center;
  color: $gray;
}

.manager--big--title--subtitle--select--blue {
  margin-bottom: -1px;
  color: $blue;
  font-weight: 600;
  border-bottom: 2.5px solid $blue;
  padding-left: 1vw;
  padding-right: 1vw;
}

.manager--big--title--subtitle--select--gray {
  color: $gray;
  padding-left: 1vw;
  padding-right: 1vw;
}

.manager--big--title--subtitle--select--gray:hover {
  color: $blue;
}
//コンテンツの中身
.manager--staffs--management--all--container {
  @include clearfix();
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 40px;
  font-family: 'HelveticaNeue';
}

.manager--staffs--management--top--container {
  @include clearfix();
  width: 100%;
  margin-top: 1vw;
}

.manager--staffs--management--top--container--plus--border--bottom {
  @include clearfix();
  width: 100%;
  margin-top: 1vw;
  padding-bottom: 0.5vw;
  border-bottom: 1px solid $gray;
}

.manager--staffs--management--search--container {
  @include clearfix();
  float: left;
  width: 50%;
  height: 3vw;
  display: flex;
  align-items: center;
}

.manager--staffs--management--search--container--2 {
  @include clearfix();
  float: left;
  width: 40%;
  height: 3vw;
  display: flex;
  align-items: center;
}

#manager_management_staff_search {
  float: left;
  width: 47%;
  background-color: $white;
  padding: 0.4vw 1%;
  border: 2px solid $gray;
  border-radius: 3px;
  line-height: 1.25;
  font-size: 0.9vw;
  transition: box-shadow 200ms, border-color 200ms;
  box-sizing: content-box;
}

#manager_management_staff_search_2 {
  float: left;
  width: 72%;
  background-color: $white;
  padding: 0.4vw 1%;
  border: 2px solid $gray;
  border-radius: 3px;
  line-height: 1.25;
  font-size: 0.9vw;
  transition: box-shadow 200ms, border-color 200ms;
  box-sizing: content-box;
}

.manager--staffs--management--option--container {
  @include clearfix();
  float: left;
  width: 50%;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.manager--staffs--management--option--container--2 {
  @include clearfix();
  float: left;
  width: 60%;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.manager--staffs--management--stop--staff--container {
  float: right;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--stop--staff--container--2 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--stop--staff--box {
  font-family: 'HelveticaNeue';
  background-color: $thin-gray;
  border-radius: 1vw;
  padding: 0.4vw 1.2vw;
  font-size: 0.9vw;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.manager--staffs--management--contain--stop--staff--box {
  font-family: 'HelveticaNeue';
  color: $white;
  background-color: $blue;
  border-radius: 1vw;
  padding: 0.4vw 1.2vw;
  font-size: 0.9vw;
  text-align: center;
}

.manager--staffs--management--stop--staff--box :hover {
  color: $blue;
}

.manager--staffs--management--update--submit--box {
  float: right;
}

#manager_staff_end_update {
  float: left;
  font-family: 'HelveticaNeue';
  color: $white;
  background-color: $green;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14);
  padding: 0.4vw 1.2vw;
  font-size: 1.2vw;
  border: none;
  border-radius: 3px;
}

.manager--staffs--management--all--title--container {
  @include clearfix();
  width: 100%;
  margin-top: 1vw;
}

.manager--staffs--management--all--title--staff--content {
  float: left;
  width: 25%;
}

.manager--staffs--management--all--title--staff--content--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  font-size: 1.0vw;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--all--title--user--content {
  float: left;
  width: 18.75%;
}

.manager--staffs--management--all--title--user--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--all--title--shop--content {
  float: left;
  width: 18.75%;
}

.manager--staffs--management--all--title--shop--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--all--title--basics--start--content {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--all--title--basics--start--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--all--title--basics--end--content {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--all--title--basics--end--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--all--title--basics--end--form--content {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--all--title--basics--end--form--box {
  background-color: $gray;
  color: $white;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  height: 2.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager--staffs--management--one--staff--container {
  @include clearfix();
  width: 100%;
  margin-top: 0.3vw;
}

.manager--staffs--management--one--staff--name--container {
  float: left;
  width: 25%;
}


.manager--staffs--management--one--staff--name--box {
  height: 3.5vw;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;
}

.manager--staffs--management--one--staff--name--box--no--link {
  height: 3.5vw;
  background-color: #F8FBFE;
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px/6px 0px 0px 6px;
}

.manager--staffs--management--one--staff--name--box:hover {
  background-color: $thin-gray;
}

.manager--staffs--management--one--staff--image--box {
  width: 3vw;
  height: 3vw;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}

.manager--staffs--management--one--staff--nickname--box {
  float: left;
  margin-left: 1vw;
  font-size: 1.2vw;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manager--staffs--management--one--staff--user--container {
  float: left;
  width: 18.75%;
}

.manager--staffs--management--one--staff--user--box {
  height: 3.5vw;
  background-color: #F8FBFE;
  margin-left: 0.3vw;
  display: flex;
  align-items: center;
}

.manager--staffs--management--one--staff--user--content {
  font-size: 1.0vw;
  margin-left: 2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manager--staffs--management--one--staff--shop--container {
  float: left;
  width: 18.75%;
}

.manager--staffs--management--one--staff--shop--box {
  background-color: #F8FBFE;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 3.5vw;
  display: flex;
  align-items: center;
}

.manager--staffs--management--one--staff--shop--content {
  font-size: 1.0vw;
  margin-left: 2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manager--staffs--management--one--staff--basics--start--container {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--one--staff--basics--start--box {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.manager--staffs--management--one--staff--basics--end--container {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--one--staff--basics--end--box {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.manager--staffs--management--one--staff--basics--end--form--container {
  float: left;
  width: 12.5%;
}

.manager--staffs--management--one--staff--basics--end--form--box {
  background-color: #F8FBFE;
  text-align: center;
  margin-left: 0.3vw;
  font-size: 1.0vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
}

.manager-management-basics-end-form {
  width: 80%;
  height: 2vw;
  position: relative;
  border: 2px solid $high-gray;
  border-radius: 3px;
}

.manager-management-basics-end-form::-webkit-datetime-edit {
  font-size: 1.2vw;
}

.manager-management-basics-end-form::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.manager-management-basics-end-label {
  img {
    width: 1.5vw;
    height: 1.5vw;
  }
}

.manager--staffs--management--both--one--staff--basics--end--finish--box {
  width: 80%;
  padding: 0.3vw 0;
  background-color: $high-gray;
  color: $white;
  font-size: 0.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HelveticaNeue';
  border-radius: 3px;
}
