.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
  transition-timing-function: 250ms;
  @media screen and (max-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 481px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 769px) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    transition-timing-function: 250ms;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: $primary-white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 8px;
  padding-right: 8px;
  @media screen and (max-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 481px) {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 70%;
  }
  @media screen and (min-width: 769px) {
    min-width: 528px;
    min-height: 581px;
    background-color: $primary-white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 8px;
    padding-right: 8px;
  }
}
.button-position {
  margin-top: 8px;
  padding-left: 498px;
  @media screen and (max-width: 480px) {
    width: 443px;
    padding-left: 435px;
  }
  @media screen and (min-width: 481px) {
    padding-left: 478px;
  }
  @media screen and (min-width: 769px) {
    margin-top: 8px;
    padding-left: 488px;
  }
}
.button-data-modal-close {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white-color;
  &:hover {
    fill: $accent-color;
  }
}
.button-data-modal-close-icon {
  width: 11px;
  height: 11px;
  color: currentColor;
}
.modal-section__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 87;
  margin-bottom: 14px;
  padding-left: 41px;
  color: $title-text-color;
  @media screen and (max-width: 480px) {
    width: 360px;
    height: 60px;
    text-align: center;
    padding-left: 112px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 769px) {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1, 87;
    margin-bottom: 14px;
    padding-left: 41px;
    color: $title-text-color;
  }
}
.modal-text {
  margin-top: 140px;
  padding-left: 41px;
}
.modal-section__item {
  width: 448px;
  height: 58px;
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 12px;
  color: $title-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  &:focus-within {
    fill: $accent-color;
  }
}

.modal-section__label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 17;
  color: $primary-text-color;
  margin-bottom: 4px;
  @media screen and (max-width: 480px) {
    margin-left: 40px;
  }
}
.modal-section__input {
  width: 448px;
  height: 40px;
  padding: 0;
  color: $title-text-color;
  position: relative;
  padding-left: 42px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus + .modal-section__item:hover,
  .modal-section__item:focus {
    border: 1px solid $accent-color;
    border-radius: 4px;
    fill: $accent-color;
  }
  @media screen and (max-width: 480px) {
    width: 370px;
    margin-left: 40px;
  }
}
.icon-name {
  position: absolute;
  top: 127px;
  left: 56px;
  width: 18px;
  height: 18px;
  color: currentColor;
  @media screen and (max-width: 480px) {
    top: 149px;
    left: 95px;
  }
}
.icon-name-size {
  width: 12px;
  height: 12px;
}
.icon-tel {
  position: absolute;
  top: 195px;
  left: 56px;
  color: currentColor;
  @media screen and (max-width: 480px) {
    top: 217px;
    left: 95px;
  }
}
.icon-tel-size {
  width: 18px;
  height: 18px;
}
.icon-email-size {
  width: 18px;
  height: 18px;
}
.icon-email {
  position: absolute;
  top: 260px;
  left: 56px;
  color: currentColor;
  @media screen and (max-width: 480px) {
    top: 282px;
    left: 95px;
  }
}
.modal-section__comments {
  width: 448px;
  height: 120px;
  padding-left: 40px;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
  padding-left: 16px;
  position: relative;
  &::placeholder {
    position: absolute;
  }
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  @media screen and (max-width: 480px) {
    width: 370px;
    margin-left: 40px;
  }
}
.checkbox-section {
  padding-top: 90px;
  padding-left: 25px;
}
.checkbox-section__input {
  appearance: none;
  position: absolute;
  padding-right: -35px;
  &:checked + .checkbox {
    background-color: $primary-white-color;

    border: 1px solid $title-text-color;
    fill: $primary-white-color;
  }
}
.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: 35px;
  border-radius: 2px;
  fill: $primary-white-color;
  background-color: $accent-color;
  border: none;
  background-image: url(../images/icons.svg#email);
  @media screen and (max-width: 480px) {
    margin-left: 60px;
  }
}

.label {
  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: $accent-color;
    border: 1px solid $title-text-color;
  }
}

.checkbox-section__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  color: currentColor;
}
.text-checkboxs {
  color: $primary-text-color;
  height: 24px;
  width: 400, 62px;
  text-align: center;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 1, 17;
  }
}
.terms-contract {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  color: $accent-color;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 1, 17;
  }
}
.button-send {
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 17;
  width: 200px;
  height: 50px;
  margin-left: 95px;
  margin-bottom: 40px;
  margin-top: 30px;
  background-color: $accent-color;
  color: $primary-white-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $button-send-color;
  }
  @media screen and (max-width: 480px) {
    margin-left: 135px;
    margin-bottom: 40px;
  }
}
