.gym__header{
    clip-path: polygon(0 0, 100% 0, 100% 77%, 72% 92%, 33% 79%, 0 91%);
    height: auto;
    width: 100%;
}
.gym__body{
    height: 100%;
    text-align: center;
    width: 100%;
}
// INFORMACION 1
.gym__top{
    height: 100%;
    width: 100%;
}
.gym__offerings-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 2em;
}
.gym__offerings{
    display: block;
    font-size: 60px;
    padding-bottom: 14px;

    transition: transform 1s ease;

    &:hover{
        transform: rotate3d(2,1,0,360deg);
    }
}
.gym__offerings-box span{
    font-weight: 700;
}
.gym__titulo-principal{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}
.gym__content-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em;
    box-sizing: border-box;
}
.gym__reazon-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gym__reazon{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 10px;
    box-sizing: border-box;
}
.gym__reazon-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-box-shadow: 7px 7px 13px -2px rgba(0,0,0,0.48); 
box-shadow: 7px 7px 13px -2px rgba(0,0,0,0.48);
}
.gym__info-reazon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 1em;
}
.gym__info-reazon h3{
    margin: 0px;
}
.gym__info-reazon p{
    text-align: start;
    padding-left: 15px;
    box-sizing: border-box;
}

// INFORMACION 2
.gym__medium{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lighten($color: #000, $amount: 14);
    width: 100%;
    height: 100%;
}
.gym__content-info-2{
    padding: 20px;
    width: auto;
    height: 100%;
    background-color: lighten($color: $primary, $amount: 8);
    clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 5%);
    box-sizing: border-box;
}
.gym__img-adri{
    width: 400px;
    height: 520px;
    transform: translate(4em,-2em);
}
.gym__info-h2{
    color: #fff;
    font-size: 30px;
}
.gym__info-text{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
// gym bottom
.gym__bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.gym__info-title{
    font-size: 40px;
    font-weight: 800;
    color: $primary;
}
.gym__info-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.gym__info-title-table{
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.gym__info-table{
    width: 300px;
    height: 100%;
    background-color: lighten($color: $primary, $amount: 14);
    border-radius: 5px;
    margin: 1em 0px;
}
.gym__icon-table{
    text-align: start;
    display: block;
    padding: 1em 3em;
    color: #fff;
}
// footer
footer{
    display: flex;
    flex-wrap: wrap;
    padding:10px ;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(47, 47, 47);
    padding: 70px;
    box-sizing: border-box;
}
.gym__footer-gym{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    text-align: start;
    padding-top: 1em;
}
.gym__footer-title{
    display: block;
    text-align: center;
}
.gym__footer-politica{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}
.gym__footer-contact{
    padding: 10px;
}
.gym__footer-redes{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: $primary;
    cursor: pointer;
    color: #fff;
    text-decoration: none;

    transition: transform .2s ease;

    &:hover{
        transform: translateY(-8px);
    }
}
@media (max-width:964px){
    .gym__img-adri{
        display: none;
    }
    .gym__medium{
        clip-path: none;
    }
}
@media (max-width:800px){
    .gym__medium{
        clip-path: none;
    }
    .gym__offerings{
        font-size: 40px;
    }
    .gym__offerings-box span{
        font-size: 12px;
        font-weight: 700;
    }
}
@media (max-width:685px){
    .gym__img-adri{
        transform:none;
    }
    .gym__info-h2{
        font-size: 26px;
    }
    .gym__info-text{
        font-size: 20px;
    }
}
@media (max-width:626px){
    .gym__reazon{
        width: 100%;
        flex-direction: column;
    }
    .gym__reazon-img{
        width: 100%;
    }
    .gym__info-reazon{
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 600px){
    .gym__img-adri{
        display: none;
    }
}
@media (max-width: 442px){
    .gym__titulo-principal{
    font-size: 20px;   
    }
}
@media (max-width: 290px){
    .gym__titulo-principal{
    font-size: 18px;   
    }
}