/*MAIN COLORS*/

$main-colors: (
  color-primary: #9356dc,
  color-primary-lightend: lighten(#9356dc, 5%),
  color-primary-lightend-high: lighten(#9356dc, 35%),
  color-secondary: #ff79da,
  color-secondary-lightend: lighten(#ff79da, 3%),
  color-tertiary: #99e2d0,
  color-tertiary-darkened: darken(#99e2d0, 40%),
  color-icons: #8c8c8c,
);

/*BACKGROUND COLORS*/

$background-lightgrey: #f6f6f6;
$background-darkergrey: #eaeaea;
$backgroung-footer: #353535;
$background-opacity: rgba($backgroung-footer, .5);


/*SHADOWS*/

$box-shadows: (
    shadow-light:0px 4px 13px -10px #000000,
    shadow-dark: 0 1px 5px rgba(104, 104, 104, 0.8),
    shadow-intro: 0px 0px 10px
  rgba(
    $color: #000000,
    $alpha: 0.25,
  )
);

/*BUTTON COLORS*/
$background-button: linear-gradient(to top, map-get($main-colors, color-primary), map-get($main-colors, color-secondary));
$background-button-lightend: linear-gradient(to top, map-get($main-colors, color-primary-lightend), map-get($main-colors, color-secondary-lightend));

/*BREAKPOINTS*/

$breakpoints: (
  mobile: 599px,
  tablet: 600px,
  large-tablet: 800px,
  desktop: 992px,
  large-desktop: 1200px,
);

/*DELAYS*/

$delays: (
  loading_page_delay: 3000ms,
  main_page_delay: 3500ms,
  item_delay: 500ms,
);