footer {
	position: absolute;
	height: 60px;
	font-family: $font4;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;

	.copyright {
		width: 266px;
		height: 18px;
		margin-left: 40px;
	}
	.misc {
		width: 645px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.socials {
		width: 78px;
		display: flex;
		justify-content: space-between;
		margin-right: 40px;

		.fbook {
			width: 19px;
			height: 19px;
			background-image: url(../images/socials/fbook.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.insta {
			width: 19px;
			height: 19px;
			background-image: url(../images/socials/insta.png);
		}
	}
}
