.tasks-container {
  margin: -9em auto 0;
  width: 700px;
  position: relative;
  z-index: 2;

  .new-task {
    width: 100%;
    height: 3.5em;
    padding: 0 2em;
    border: none;
    border-radius: 0.3em;
    caret-color: $primary-blue;
    background-color: $box;

    font-size: 1em;
    font-family: Poppins, sans-serif;
    color: $text;
  }

  .filter-tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    padding: 0 1.5em;

    background: $box;
    margin-top: 1.5em;
    border-radius: 0.3em 0.3em 0 0;

    .tasks-left {
      color: $text-lighter;
      font-size: 0.9em;
    }

    button {
      background: none;
      border: none;
      color: $text-lighter;
      transition: 0.2s;
      font-size: 0.9em;
      cursor: pointer;
      padding: 0.5em;

      &:hover {
        color: $text;
      }

      &.selected {
        color: $primary-blue;
        font-weight: 600;
      }
    }
    .filter-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0 0.5em;
      }
    }
  }

  .task-list {
    width: 100%;

    li {
      background: $box;
      height: 3.5em;
      border-top: 1px solid $border;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border-radius: 0 0 0.3em 0.3em;
      }

      &.dragging {
        background-color: $border;
      }

      div {
        display: flex;
        align-items: center;
        transition: 0.2s;

        &.completed {
          text-decoration: line-through;
          color: $text-lighter;
        }
      }

      .complete-switch {
        background: none;
        border: none;
        height: 3.5em;
        padding: 0 1.5em;
        cursor: pointer;

        div {
          height: 1.5em;
          width: 1.5em;
          border: 1px solid $border;
          border-radius: 50%;
          background: none;
          overflow: hidden;

          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 60%;
            transform: translate(0.05em, 0.05em);
          }

          &.completed {
            background: linear-gradient(135deg, $gradient-blue, $gradient-pink);
          }
        }
      }

      .delete-task {
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: 0.2s;
        height: 100%;
        padding: 0 1.5em;
      }

      &:hover {
        .delete-task {
          opacity: 1;
        }
      }
    }
    margin-bottom: 2em;
  }

  .drag-warning {
    background: $error;
    padding: 1em;
    font-size: 0.9em;
    color: white;
    border-radius: 0.3em;

    position: absolute;
    top: -4em;
    right: 0;
  }

  .drag-info {
    width: 100%;
    text-align: center;
    color: $text-lighter;
    margin-bottom: 2em;
  }
}

@media (max-width: 800px) {
  .tasks-container {
    width: 90%;
    max-width: none;
  }
}
