@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:340;

// VARIABLE SITE TYPO
$font-body:arial,verdana,sans-serif;
$font-title:"futura-pt-condensed",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST > FONT-SIZE-TEXT
$font-size-text:1.3em;
$font-size-title:2.2em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:205;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE ANNONCES2
@import "../../../slagence_X_V5/sources/scss/modules/annonces2";

// IMPORT MODULE PUB LIB3
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


// HEADER



//HOMEPAGE
.module-annonces-homepage {background-color:$color-block;}
.bienvenue {background-color:$color-primary; padding:10px; margin-top:30px;}
.texte-bienvenue {text-align:justify;}
.hr-pub {display:none;}
.btn-idtt-selected, .btn-idtt-selected:hover { color: $color-body; }
.bg-picture .module-homepage .owl-nav [class*="owl-"] { @include gradient-secondary; }

// BTN
.btn-action-no-gradient {background-color:$color-block-dark-5; color:$color-nav-footer; border-color:$color-block-light-5;}
.btn-action-no-gradient:hover {background-color:$color-block-light-5; color:$color-nav-footer;}

// NAV
.menu-principal > li > a:hover {border-bottom:1px solid $color-nav-footer; color:$color-important-light-60;}
.menu-principal > li > a {font-size:1.2em;}
.btn-navbar {background-color:$color-important; background-image:none; filter:none; border-color:$color-important-light-5;}
.navigation {border-bottom:1px solid $color-block-light-5;}

// PUBS 
.pub {background:$color-block; filter:none; box-shadow:none;}
.pub a {color:$color-nav-footer;}
.encart-pub-boite {background-color:$color-block;}

// PAGE AGENCE
.signature {background-color:$color-primary;}
.agence-responsable {
display:none;
}

// RECHERCHE
.bouton-selection-annonces > span, .creer-alerte-email.btn-action {background-color:$color-block;}
.creer-alerte-email.btn-action {font-weight:bold; background-image:none; filter:none; border-color:$color-block-light-5; color:$color-alert;}

// DETAIL 
.bouton-zoom-detail.btn-action {background-color:$color-block; background-image:none; filter:none; border-color:$color-block-light-5; color:$color-nav-footer;}
#cboxOverlay, .zone-galerie .theme-default .nivo-directionNav a {background-color:$color-body!important; opacity: 1 !important;}
.btn-contact-agence { @include gradient-primary; color: red; font-weight:bold; border-color: $color-important-light-15;}
.bouton-selection-annonces > span { margin-left: 5px; }


.breadcrumb .typo-important{color: white;}

.nav-social-menu .btn-action.btn-mini{background: #232323;color: #fff;border-color: #3d3d3d;}

.agence-idpublication{background: transparent;}
.ville-annonce{background-color:$color-primary;padding: 2px 10px;}
.scrollToTop{display:none !important;}
#zone-bouton-alerte .bouton-alerte-moteur{background:$color-block; color:$color-action; border-color:$color-block;}

.theme-default .nivoSlider {
background-color:transparent !important;
}