@import '../../styles.scss';
@import "../../media-queries";

.in-title {
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    margin-top: 160px;
    letter-spacing: 2px;

    @include mobile {
        font-size: 40px;
    }
}

.in-subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 2px;

    @include mobile {
        font-size: 20px;
    }
}

.img-contain {
    margin: auto;
    margin-top: 56px;
    overflow: hidden;
    background-color: $green-base;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;

    img {
        object-fit: cover;
        object-position: top;
        margin: auto;
        height: 100%;
        width: 100%;
    }
}

.bottom {
    display:flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: baseline;
    margin-top: 120px;
    // background-color: red;
}

.img-computer {
    filter: invert(54%) sepia(91%) saturate(425%) hue-rotate(129deg) brightness(92%) contrast(97%);
}
