// Input Search bar

input[type="search"] {
    border: none;
    padding: .8rem 2.5rem;
    font-size: 1.6rem;
    // background-color: orangered;
    width: 100%;

    &:focus,
    &::placeholder {
        border: none;
        outline: none;
    }
}

.form-control {
    background-color: $grey-light;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 8px;
}


// Container 
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @media screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }

    @media screen and (min-width: 1400px) {
        max-width: 1320px;
    }

}


// Header 
.navigation {
    font-size: 1.6rem;
    background: #fff;
    border: 1px solid $grey-light;
    padding: .8rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    &__logo {
        img {
            height: 3.4rem;
            width: 100%;
        }

        display: flex;
        align-items: center;

        padding-right: 2rem;

    }

    &__search-bar {
        flex: 0 0 auto;
        width: 80%;

        &>div {
            display: flex;
            align-items: center;

            span {
                svg {
                    stroke: $grey-dark;
                    height: 2rem;
                    width: 2rem;
                }
            }


            @media screen and (max-width: 767px) {

                span,
                input {
                    display: none;
                }
            }

        }
    }

    @media screen and (min-width: 768px) {
         button {
             display: none;
         }
    }

    @media screen and (max-width: 768px) {
         button {
            border: none;
            background: $text-color;
            padding: 1rem;

            svg {
                stroke: #fff;
                height: 1.8rem;
                width: 1.8rem;
            }
         }
    }

   

  

    &__user {
        flex: 0 0 auto;
        width: 10%;

        img {
            border-radius: 50%;
            width: 4rem;
            height: 4rem;

        }

        &>div {
            display: flex;
            // align-items: center;
        }

        &--notification {
            display: inline-block;
            height: 4rem;
            width: 4rem;
            text-align: center;
            border-radius: 50%;
            background-color: $grey-light;
            line-height: 4rem;
            margin-right: 2.5rem;

            svg {
                fill: $grey-dark;
            }
        }


        &--notification,
        &--profile {
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

    }
}

// Favourite artists

.fav-artists {
    padding: 9rem 0;

    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;


        img {
            border-radius: 50%;
            transition: opacity .1s ease-in-out;

            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }

        .artists-box {
            text-align: center;
            margin-top: 4rem;

            margin-right: 2rem;
        }
    }
}

// Signin 

.signin {
    height: 100vh;
    overflow: hidden;

    &__wrapper {
        display: flex;

    }

    // background-color: #923cb5;
    // background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);

    &__header {
        padding: 3.5rem 0;
        background: linear-gradient(147deg, #933cb577 0%, #00000080 74%), url(../images/splash-screen.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 0 0 40%;
        min-height: 100vh;
        padding-top: 4rem;
        // text-align: center;
        padding-left: 3rem;

    }

    &__button {
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid #000;
        background-color: #000;
        padding: .7rem 1.7rem;
        border-radius: 110px;
        margin-top: 4rem;
        width: 70px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }


    &__content {
        margin-top: 3.5rem;
        // text-align: center;

        flex: 0 0 50%;

        &--title {

            color: #fff;
            font-size: 3.8rem;
            line-height: 4.2rem;

            span {
                display: block;
            }
        }

    }


}



// Artist Page

.artist-page {
    padding: 9rem 0;

    .header {

        @media screen and (min-width: 767px) {
            display: flex;
        }


        img {
            border-radius: 50%;
            

            @media screen and (max-width: 768px) {
                border-radius: unset;
                display: block;
                height: auto;
                width: 100%;
            }
        }

        .card {
            box-shadow: $shadow;
            padding: 3rem 5rem;
            border-radius: 8px;

            &__header {
                margin-bottom: 2.5rem;
                // @media screen and (max-width: 768px) {
                //     margin-top: 3rem;
                // }
            }
        }


        &__artist-info {
            @media screen and (min-width: 767px) {
                flex: 0 0 auto;
                width: 65%;
            }



            h4 {
                font-size: 3.2rem;
            }

            figure {
                display: flex;
                align-items: center;

                 @media screen and (max-width: 768px) {
                    flex-direction: column;
                 }

                figcaption {
                    margin-left: 3rem;

                      @media screen and (max-width: 768px) {
                          text-align: center;
                          margin-left: unset;
                      }
                }
            }
        }

        &__artist-tracks {
            @media screen and (min-width: 767px) {
                flex: 0 0 auto;
                width: 35%;
            }


            @media screen and (max-width: 768px) {
                margin-top: 3.5rem;
            }

            .tracklist {

                li {
                    line-height: 3rem;
                    border-bottom: 1px solid $grey-light;
                    list-style: none;
                    transition: all .2s ease;
                    cursor: pointer;
                    padding: 1.2rem;

                    &:hover {
                        background-color: rgba(0, 0, 0, .03);
                    }

                    a {
                        display: inline-block;
                        height: 3rem;
                        width: 3rem;
                        line-height: 3.4rem;
                        text-align: center;
                        border-radius: 50%;
                        background-color: $accent-color;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Albums 

.albums {
    padding-top: 7rem;

    &__content {

        display: flex;
        flex-wrap: wrap;

        figure {


            flex: 0 0 auto;
            width: 20%;
            width: calc(20% - 1.5rem - 1.5rem);
            margin-bottom: 2rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            img {
                height: auto;
                display: block;
                width: 100%;
            }


            @media screen and (max-width: 992px) {
                flex: 0 0 auto;
                width: calc(30% - 1.5rem - 1.5rem);
                // margin-left: 1.5rem;
                flex-wrap: nowrap;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }


            @media screen and (max-width: 768px) {
                flex: 0 0 auto;
                width: calc(50% - 1.5rem - 1.5rem);
                // margin-left: 1.5rem;
                flex-wrap: nowrap;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }



            img {
                box-shadow: $shadow;
                border-radius: 8px;

                transition: opacity .1s ease-in-out;

                &:hover {
                    opacity: .8;
                    cursor: pointer;
                }
            }
        }
    }
}