header{
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    transition: background-color .6s, box-shadow .6s;
    
    &.scrolled{
        background: #fff;
        box-shadow: 0 2px 8px rgba(black, .1);
    }

    & .header-wrapper{

        display: flex;

        & .logo{
            background-color: $primary;
            width: 96px;
            height: auto;
            background-position: bottom 20px center;
            background-repeat: no-repeat;
            
            @media(max-width: 900px){
                height: auto;
                background-position: center;
                background-size: 70% auto;
            }
        }

        & .logo-separator{
            flex-grow: 1;

            @media(min-width: 1101px){
                display: none;
            }
        }

        & nav{

            width: 100%;
            display: flex;

            & > ul{
                display: flex;
                
                @media(min-width: 1100px){
                    margin: 0;
                }

                & a{
                    line-height: 43px;
                    display: inline-block;
                }

                &.menu{
                    flex-grow: 1;
                    padding: 36px 20px 15px;

                  @media (max-width: 1100px){
                    padding-bottom: 0;
                  }
                    & > li{

                        display: flex;

                        & > a{

                            display: block;

                            &:hover{
                                text-decoration: underline;
                                text-underline-offset: 3px;
                            }
                        }

                        & ul{
                            left: 0;
                        }
                    }

                    @media(max-width: 1100px){
                        display: none;
                    }
                }

                &.phones{

                    padding-top: 36px;
                    padding-left: 20px;
                    color: $secondary;
                    & li {
                      display: flex;
                    }
                    @media(max-width: 1100px){
                        padding-top: 0px;
                    }

                    @media(max-width: 700px){
                        display: none;
                    }
                }

                & .nav-icon{

                    text-align: center;
                    margin: 0 2px;

                    padding-top: 36px;
                    color: $secondary;

                    @media(max-width: 1100px){
                        padding-top: 0px;
                    }

                    @media(max-width: 600px){
                        margin-top: 0px;
                    }
                    
                    @media(max-width: 400px){
                        
                        margin-top: 0px;
                        & span{
                            display: none !important;
                        }
                    }

                    &:first-of-type{
                        margin-left: 20px;
                    }
                    
                    &:before, &:after{
                        display: none !important;
                    }
                    
                    & .avatar{
                        display: inline-block;
                        background-position: bottom 4px center;
                        background-repeat: no-repeat;
                        text-align: center;
                        width: fit-content;
                        position: relative;
                        
                        & i{
                            border: 1px solid $secondary;
                            border-radius: 50%;
                            width: 26px;
                            height: 26px;
                            font-size: 22px;
                            display: block;
                            margin: auto;
                            line-height: 26px;
                        }

                        & span{
                            font-size: 10px;
                            width: 100%;
                            text-align: center;
                            line-height: 12px;

                            &.counter{
                                position: absolute;
                                top: -8px;
                                min-width: 15px;
                                border-radius: 7px;
                                left: calc(50% + 3px);
                                background: $secondary;
                                color: #fff;
                                z-index: 3;
                                width: fit-content;
                                line-height: 15px;
                            }
                        }

                        & ~ ul{
                            right: 0;
                        }
                    }
                }

                & > li{

                    &:not(:last-of-type){

                        &:after{
                            content: 'â—';
                            color: rgba($secondary, .5);
                            display: inline-block;
                            padding: 0 9px;
                            font-size: 12px;
                            line-height: 40px;
                        }
                    }

                    position: relative;

                    & > ul{
                        position: absolute;
                        z-index: 20;
                        top: calc(100% - 20px);
                        transition: top .3s, opacity .3s;
                        opacity: 0;
                        pointer-events: none;
                        box-shadow: 0 2px 6px rgba(black, .3);
                        border-radius: 4px;
                        overflow: hidden;

                        & > li{

                            background: #fff;

                            & a{
                                display: block;
                                padding: 3px 12px;
                                min-width: 130px;
                                white-space: nowrap;

                                &:hover{
                                    background: #eee;
                                }
                            }
                        }
                    }

                    &:hover{

                        & > ul{
                            opacity: 1;
                            top: calc(100% - 5px);
                            pointer-events: all;
                        }
                    }
                }

                & .avatar span{
                    display: block;
                    margin-top: 5px;
                }

                & .avatar span.logged-sign{
                    display: block;
                }

                & .avatar span.unlogged-sign{
                    display: none;
                }

                & [data-state="logged"]{

                    & .avatar{

                        & .logged-sign{
                            display: none;
                        }
    
                        & .unlogged-sign{
                            display: block;
                        }
    
                        & .unlogged-menu{
                            display: none;
                        }
                    }
                }

            }
            
            & .burger-wrapper{
                padding-top: 36px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 5px;

                & .burger{
                    font-size: 26px !important;
                    display: inline-block;
                    line-height: 40px;

                    @media(max-width: 400px){
                        line-height: 30px;
                    }
                }

                @media(min-width: 1101px){
                    display: none;
                }

                @media(max-width: 1100px){
                    padding-top: 16px;
                }
            }
        }
    }
}
