@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG
$picture-bg:no;
$picture-bg-url:'../images/degrade_bg.png';
$picture-bg-repeat-horizontal:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container:540;

// VAR SITE TYPO
$font-body:"Open Sans Condensed",verdana,sans-serif;
$font-title:"Abel",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.6em;
$font-size-title:1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:190;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/londres";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces1";

// IMPORT MODULE EXTRA2
@import "../../../slagence_X_V5/sources/scss/extra/extra12";

// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-noir";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";

// STYLES PERSO
.menu-principal {
    font-size: $font-size-title * .5;
}
.menu-principal > li {
    margin-left: 2px;
}
.slogan-index {
    margin-top: -90px;
    color: $color-primary;
    text-shadow: 2px 1px 3px $color-black;
    font-size: 1.8em;

    filter: dropshadow(color=$color-black, offx=1, offy=1);
}
.ie9 .menu-principal > li > a {
    background: $color-action;
}
.ie9 .menu-principal > li > a:hover {
    background: $color-primary-dark-5;
}
.bloc-annonces-agence .ligne-annonces-agence {
    min-height: 440px;
}
.ligne-titre,
.texte-info-agences,
.bloc-detail-prix,
.bouton-rechercher-moteur,
.btn-important,
.bouton-raz,
.pagination ul > .active > a,
.pagination ul > .active > span,
.pub a,
.bloc-agence .bg-pub-bottom,
.table-striped tbody tr td,
.table-striped tbody tr th,
.mentions .accordion-inner,
.detail-bloc-agence,
.pair,
.nav-fiche li.pair,
.nav-fiche li,
.impair,
.nav-fiche li.impair,
.recherche-annonces p,
.quartier-annonce,
.bloc-annonces-agence ul li,
.titre-section-refine,
.dpe-bloc-chiffre,
.accordion-heading a,
.btn-nouveau,
#Mini_Moteur label[for="rayon"],
#Mini_Moteur select,
#Mini_Moteur input[type="text"],
.pagination ul > li > a,
.pagination ul > li > span,
.detail-bloc-contact {
    color: $color-primary;
}
.moteur-avantage {
    background: $color-primary;
}
.btn-exclusif {
    border: 1px solid $color-primary;
    background: $color-primary;
}
.btn-exclusif:hover {
    color: $color-body;
    border: 1px solid $color-primary;
    background-color: $color-action;
}
select {
    color: $color-blue;
    border: 1px solid $color-grey;
    background-color: $color-body;
    font-size: 1em;
}
.prev-module .bg-black,
.next-module .bg-black,
.homepage-bloc-type-bien-transaction .h3-like.bg-white,
#slider .nivo-caption {
    color: $color-nav-footer;
    background-color: $color-primary;
}
.btn-exclusif {
    color: $color-body;
    font-size: .7em;
}
.btn-nouveau {
    background-color: $color-important;
    font-size: .7em;;
}
.btn-nouveau.btn-neutre:hover {
    color: $color-primary;
    background-color: $color-important-light-15;
}
.dpe-bloc-lettre {
    color: $color-important;
    background-color: $color-primary;
}
.scrollToTop {
    background: url(../images/arrow-up.png) center center no-repeat $color-important;
}
.moteur-refine .h2-title-moteur {
    color: $color-primary;
    background-color: $color-important;
}
.bouton-dessiner-end {
    color: $color-primary;
    background-color: $color-important;
}
.recherche-annonces-prix .honoraires-acquereur,
.recherche-annonces-prix .prix-honoraires-charges,
.recherche-annonces-prix .charges-annuelles {
    font-size: .4em;
}
.gestion {
    display: inline;
    border-bottom: 1px solid #ffde18;
}
.typo-important {
    color: $color-primary;
    font-style: italic;
}
.btn-action.bouton-video-360 {
    border-color: $color-important-dark-15;
    background-color: $color-important;
}
.bloc-recherche-criteres,
.bloc-recherche-geoloc {
    color: $color-primary;
}
.moteur-refine {
    color: $color-font-body;
}

.textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: $color-primary;
    border: 1px solid #bcbcbc;
    font-size: 1em;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: $color-primary;
    border: 1px solid #bcbcbc;
    font-size: 1em;
}

.quartier-annonce-detail {
    display: none;
}
.quartier-annonce {
    display: none;
}


.recherche-annonces-lien .height-50 {
    height: auto;
}

.btn-fushia {
    border-color: darken($color-fushia,15);
    background-color: $color-fushia;

    @extend .btn-action;
}


.cookie-banner {
	background-color: $color-primary;
	.button_submit {
		background-color: $color-body!important;
		color: $color-primary!important;
	}
}
.pagination-right {
 text-align:right;
 color: white;
}

.control-group .legend {
 margin:5px 5px 5px 0;
 color: white;
}

.form-horizontal .control-group {
 *zoom:1;
 color: white;
 white-space:nowrap
}

//--------------------------------------------------------------------------------------
//      CORRECTION CSS OUTILS
//--------------------------------------------------------------------------------------

label {color:$color-action;}
.wrap {color:$color-action;}
#collapseDuree > div > div > div:nth-child(2) > div > p {color:$color-action;}