@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

.logo{
    font-family: 'Shrikhand', cursive;
}

.button{
    height: 50px;

    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    border-radius: 25px;
    border: 0;
    color: white;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 3rem;
}

/*header*/

header{
    box-shadow: 0px 0px 15px gray;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        position: absolute;
        left: 10px;
    }
    i{
        font-size: 25px;
        color: black;
    }
}

/*footer*/
footer{
    background-color: rgb(56, 55, 55);
    h1{
        font-size: 1.5rem;
    }
    h1, p{
        margin: 0;
        margin-left: 1rem;
        color: white;
    }
    
}

/*main accueil*/
#resto,#desc,#list li{
    background-color: rgb(230, 227, 227);
}

#fonction,.text,#resto h2{
    margin-left: 1rem;
}

#resto h2{
    padding-top: 1rem;
}

#des{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2,p{
        width: 74%;
        text-align: center;
    }
}

.l_style{
    list-style: none;
}

#list{
    counter-reset: counter;
    li {
        counter-increment: counter;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 250px;
        height: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text{
            width: 180px;
            font-weight: bold;
        }
        .mod{
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
        }

        &::before{
            content: counter(counter);

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -18px;

            width: 25px;
            height: 25px;
            
            color: white;
            font-weight: bold;
            background: #9356DC;
            border-radius: 50%;
            box-shadow: 1px 1px 0 #999;
        }
    }
}

#local{
    display: flex;
    margin-top: 5px;
    background-color: rgb(207, 207, 207);
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    p{
        margin: 0px;
        height: 1rem;
    }
}

.img{
    width: 100%;
    height: 150px;
}

.a_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.a_fig{
    border-radius: 15px;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

.link{
    position: absolute;
    width: 92%;
    height: 255px;
}

.a_caption{
    margin-left: 1rem;
    padding-top: 10px;
    padding-bottom: 5px;
    h3, p{
        margin: 0;
        margin-bottom: 10px;
    }
}

#a_list{
    padding: 0;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.heart{
    position: absolute;
    right: 25px;
}

.a_caption .heart{
    top: 180px;
}

/*main french*/

#hf_font{
    background-image: url("img/Rouge.jpg");
}
#he_font{
    background-image: url("img/Charonne.jpg");
}
#hp_font{
    background-image: url("img/Folie.jpg");
}
#ht_font{
    background-image: url("img/Menilmontant.jpg");
}

.h_font{
    background-size: cover;
    background-repeat: no-repeat;
    height: 260px;
}

.h_color{
    background-color: rgb(230, 227, 227);
    border-radius: 25px 25px 0  0;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 320px;
    a{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    i{
        font-size: 25px;
        color: black;
    }
}

.menu{
    background-color: rgb(230, 227, 227);
    h3{
        font-weight: normal;
    }
    h2{
        margin-top: 1rem;
    }
    
}

.m_div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    p {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgb(197, 196, 196);
    }
    span{
        margin-left: 1rem;
    }
}

.center{
    display: flex;
    justify-content: center;
    height: 8rem;
}

.deep{
    font-weight: bold;
}