

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  border: none;
  outline: none;
}


button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button:focus,
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
}
button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  color: $black;
  font-weight: 400;
  background: #fefefe;
  
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  &.bg1{
    background-image: url(#{ $public_folder + "images/main_bg.png"});
    background-size: cover;
    background-position: fixed;
  }
  &.bg2{
    background-image: url(#{ $public_folder + "images/main_bg2.png"});
    background-size: cover;
    background-position: fixed;
  }
}
body.active {
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}
/* Typography */
h1 {
  font-size: 4em;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  position: relative;
  line-height: 1.8em;
}
.auto__container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 60px;
}

.fyd__container {
  margin: 0 auto;
  max-width: 1041px;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
