
@import '../../../public/styles/variables.scss';

.roomPage{
    flex: 5;
    margin-left: 15px;
    color: $contrastInonsColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  $contrastBackgroundColor;
    box-shadow: $boxShadow;
    border-radius: 10px;
    height: 80vh;

    .notFoundInterlocutor{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $mainFontColor;

        .icon{
            margin-bottom: 15px;
            width: 90px;
            height: 90px;
        }
        p{
            text-align: center;
            font-size: 15px;
        }
        .otherUser{
            font-size: 15px;
            font-weight: 500;
            color: $logoColorDark;
        }
    }

    .roomPageHeader{
        padding: 0 20px;
        width: 100%;

        &>div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 0;
            border-bottom: 2px solid $border;

            .activeMessengesPanel{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .messengesCounter{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p{
                        font-size: .8em;
                        color: $mainFontColor;
                        font-weight: 500;
                    }
                    .cancel{
                        margin-left: 5px;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        color: $placeholderFontColor;

                        &:hover{
                            color: $activeIconColor;
                        }
                    }
                }
                .messengesActions{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .actionIcon{
                        cursor: pointer;
                        width: 23px;
                        height: 23px;
                        color: $placeholderFontColor;

                        &:hover{
                            color: $activeIconColor;
                        }
                    }
                }
            }

            .profileBlock{
                display: flex;
                align-items: center;

                .profilePicture{
                    width: 40px;
                    height: 40px;

                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .nameBlock{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    .name{
                        font-size: 14px;
                        font-weight: bold;
                        color: $contrastFontColor;
                    }
                    .networkStatus{
                        margin-top: 3px;
                        color: $placeholderFontColor;
                        font-size: 11px;
                    }
                }
            }
            .userActionsElement{
                cursor: pointer;
                transition: color .2s;
                color: $placeholderFontColor;

                &:hover{
                    color: $contrastFontColor;
                }
                &:nth-of-type(n+2){
                    margin-left: 15px;
                }
                &.roomSettings{
                    font-size: 27px;
                }
                &.audioCall, &.videoCall{
                    font-size: 23px;
                }
            }
        }
    }

    .messengesBlock{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        align-items: flex-end;
        padding: 10px 0;
        padding-bottom: 30px;
        position: relative;
    
        &::-webkit-scrollbar{
            width: 9px;
            height: 9px;
        }
        &::-webkit-scrollbar-thumb{
            background: #caccd6bb;
            border-radius: 30px;
        }
        &::-webkit-scrollbar-thumb:hover{
            background: #cacdd8e3;
        }
        &::-webkit-scrollbar-track{
            visibility: hidden;
        }

        &>div{
            margin-top: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            .loading{
                position: absolute;
                right: 20px;
                bottom: 5px;
                margin-left: auto;
            }

            .noMessenges{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
    
                &>div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .img{
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                    }
                    p{
                        font-size: 0.9em;
                        margin-top: 10px;
                        text-align: center;
                        color: $mainFontColor;
                    }
                }
            }

            .dateMark{
                padding-top: 40px;
                padding-bottom: 15px;
                text-align: center;
                font-size: 0.8em;
                color: $activeIconColor;
            }
        }
    }
}