@import "color";
// BG SOLO
$bg-uni: yes;

// PICTURE BG
$picture-bg: no;
$picture-bg-url: "../images/degrade_bg.png";
$picture-bg-repeat-horizontal: no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT
$height-container: 448;

// VAR SITE TYPO
$font-body: "Source Sans Pro",verdana,sans-serif;
$font-title: "Source Sans Pro",sans-serif;
$font-deco: "Norican",cursive;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text: 1.6em;
$font-size-title: 1.8em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title: uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title: normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi: no;

$height-nav: 60;

// BORDER EFFECT ON NAV
$border-nav: no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE

$type-menu: no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape: no;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe: 0;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB
@import "../../../slagence_X_V5/sources/scss/boutons/lib4";

// IMPORT TEMPLATE LONDRES
@import "../../../slagence_X_V5/sources/scss/templates/mobilefirst";

// IMPORT MODULE SOUS MENU LIB1
@import "../../../slagence_X_V5/sources/scss/sous_menu/lib1";

// IMPORT MODULE ANNONCES1
@import "../../../slagence_X_V5/sources/scss/modules/annonces16";

// IMPORT MODULE EXTRA2
@import "../../../slagence_X_V5/sources/scss/extra/extra22";

// IMPORT MODULE PUB LIB1
@import "../../../slagence_X_V5/sources/scss/pubs/lib8";

// IMPORT MODULE PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

@import "../../../slagence_X_V5/sources/scss/multiple-select.scss";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT CHOSEN
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------------------
//		MODULE 16 V2
//---------------------------------------------------------------------------------------------

.container-modules {
	width: 100%;
	background: $color-block;
	margin-top: -10px;	
}

//---------------------------------------------------------------------------------------------
//		ENCART SERVICES	
//---------------------------------------------------------------------------------------------




//---------------------------------------------------------------------------------------------
//		PERSO BONHEURIMMO38
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------

.logo img {
	margin-top: -50px;
	@media only screen and (max-width : 767px) {
		margin-top: 0px;
	}
}

.menu-principal>li {
	padding:0 30px;
	@media only screen and (max-width : 1024px) {
		font-size: 0.8em;
		padding: 0 10px;
	}
	>a:hover {
		text-decoration: none;
		background: none;
	}
}

li.menu-estimation {
	margin-left: 200px;
	background: $color-action;
	padding: 10px;
	@include border-radius (40px);
	@media only screen and (max-width : 1024px) {
		margin-left: 0px;
	}
	&:hover {
		background: $color-action-dark-10;
		color: $color-nav-footer;
	}
	>a:hover {
		color: $color-nav-footer;
	}
	@media only screen and (max-width : 767px) {
		margin-left: 0px;
	}
}

	//---------------------------------------------------------------------------------------------
	//		BTN
	//---------------------------------------------------------------------------------------------

.btn {
	@include border-radius (40px);		
}

	//---------------------------------------------------------------------------------------------
	//		TYPO
	//---------------------------------------------------------------------------------------------

.tyo-deco {
	font-family: $font-deco;
}

body > footer > div > div.row-fluid.hidden-phone.hidden-tablet > div:nth-child(1) > div > a.btn-seo{
	display: none !important;
}

//---------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		MINI MOTEUR
	//---------------------------------------------------------------------------------------------

.moteur-video {
	right: 10%;
	left: auto;
	@media only screen and (max-width : 414px) {
		right: auto;
	}
}

@media only screen and (max-width : 414px) {
	#Moteur_content {
		margin-top: 10px;
	}
}

.form-inline svg {
	display: none;
}

.minimotperso-fs .minimotperso-idtt>* {
	height: 80px;
	font-size: 1.0em;
	@media only screen and (max-width : 414px) {
		height: auto;
	}
}

.minimotperso-fs .minimotperso-idtt>*:hover, .minimotperso-fs .minimotperso-idtt>*:focus, .minimotperso-fs .minimotperso-idtt>*:active, .minimotperso-fs .minimotperso-idtt>*.active {
	color: $color-important;
	@media only screen and (max-width : 414px) {
		background: $color-primary-dark-5;
	}
}

#Mini_Bouton {
	width: 50%;
	@media only screen and (max-width : 414px) {
		width: 100%;
	}
}

.bouton-rechercher-moteur {
	margin-left: 33%;
	@include border-radius (40px);	
	@media only screen and (max-width : 1024px) {
		font-size: 1.3em;
	}	
	@media only screen and (max-width : 414px) {
		margin-left: auto;
	}
	i {
		display: none;
	}
}

.Mini_Criteres {
	text-align: center;
}

.minimotperso-fs .mini-suggestions, .minimotperso-fs .mini-suggestions a {
	color: $color-nav-footer;
}

	//---------------------------------------------------------------------------------------------
	//		SEO
	//---------------------------------------------------------------------------------------------

/*.bg-index {
	background-image: url('../images/bg-index.jpg');
	background-repeat: no-repeat;
}*/

.container-modules {
	background-image: url('../images/bg-index.jpg') !important;
	background-repeat: no-repeat !important;
    background-position-y: -110px !important;
    margin-top: -80px;
}

.box-avis {
	background: $color-primary;
	padding: 20px;
	border: solid 1px $color-action;
	width: 55%;
    margin-left: 25%;
    @media only screen and (max-width : 414px) {
    	width: 100%;
    	margin-left: auto;
    }
}

.social-index {
	display: none !important;
}

	//---------------------------------------------------------------------------------------------
	//		MODULE PA
	//---------------------------------------------------------------------------------------------

.container-modules {
	background: $color-body;
	hr {
		display: none;
	}
}	

.btn-module {
	margin-top: 20px;
    margin-bottom: 40px;
}

	//---------------------------------------------------------------------------------------------
	//		SERVICE
	//---------------------------------------------------------------------------------------------

.zone-pub-bonheur {
	background: $color-primary;
	padding: 10px;
	border: solid 1px $color-action;	
	width: 95%;
    margin-left: 20px;
    transition: all 0.4s ease;
    @include border-radius (4px);
    @media only screen and (max-width : 414px) {
    	margin-left: auto;
    }
    &:hover {
    	@include box-shadow(rgba(0, 0, 0, 0.3) 0px 2px 5px 0px);
    }
    a {
    	color: $color-font-body;
    }
}

.container-pub {
	width: 100%;		
	background-image: url('../images/services/bg-services.jpg');
	background-repeat: no-repeat;
	height: 780px;
	background-position-x: -60px;
	@media only screen and (max-width : 414px) {
		height: auto;
	}
}

.iframe-bonheur {
	margin-top: 130px;
	margin-left: -30px;
}

//---------------------------------------------------------------------------------------------
//		DETAIL AGENCE
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		FORM
	//---------------------------------------------------------------------------------------------

.bloc-form-agence .bg-tertiary {
	color: $color-action;
}

@media only screen and (max-width : 414px) {
	.bloc-txt-agence {
		height: auto;
	}
}

@media only screen and (max-width : 767px) {
	.height-400 {
		height: auto;
	}
	.espace-seo {
	    display: none !important;
	}
}