.menu-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 0, visibility 0.1s ease-in-out 0.4s;
  z-index: 150;
  @include to(575px) {
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }
}
.menu-title {
  font-family: $default-font2;
  font-size: 48px;
  line-height: 100%;
  color: #000000;
  @include to(1440px) {
    font-size: 40px;
  }
  @include to(992px) {
    font-size: 40px;
  }
  @include to(575px) {
    font-size: 40px;
  }
}
.menu-contant {
  display: grid;
  grid-template-rows: 30px auto 30px; /* 3 строки */
  grid-template-columns: 30px auto 30px; /* 3 столбца */
  margin-top: 81px;
  height: calc(100vh - 82px);
  overflow-y: auto;
  @include to(1440px) {
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px auto 20px;
    margin-top: 61px;
    height: calc(100vh - 62px);
  }
  @include to(575px) {
    grid-template-rows: 10px auto 10px;
    grid-template-columns: 10px auto 10px;
    margin-top: 51px;
    // height: calc(100vh - 62px);
    height: calc((var(--vh, 1vh) * 100 - 52px));
  }

  .horizontal-red {
    grid-column: 2/3;
    grid-row: 1;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .vertical-red-left {
    grid-column: 1/1;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 1px);
    margin-left: -1px;
    height: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .menu {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vertical-red-right {
    grid-column: 3/3;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .horizontal-red-bottom {
    grid-column: 2/3;
    grid-row: 3;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: url(../images/noise.png);
    animation: Noise_grain 7s steps(10) infinite;
    height: 300%;
    left: -50%;
    top: -100%;
    width: 300%;
  }
}
// body {
//   margin: 0;
//   --color-text: #111;
//   // --color-bg: #f8c792;
//   --color-link: #000;
//   --color-link-hover: #000;
//   --color-border: #a7927b;
//   --marquee-bg: #000;
//   --marquee-text: #fff;
//   --menu-focus: #775e41;
//   color: var(--color-text);
//   background-color: var(--color-bg);
//   font-family: reason-new, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
  @include to(575px) {
    display: none;
  }
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: var(--color-bg);
  @include to(575px) {
    display: none;
  }
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: $black;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
  @include to(575px) {
    display: none;
  }
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: underline;
  color: $black;
  outline: none;
}

a:hover {
  color: $black;
  outline: none;
  text-decoration: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  // background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}

.unbutton:focus {
  outline: none;
}

.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.frame__logo {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 700;
}

.frame__links {
  display: inline;
}

.frame__links a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: $white;
}

// .menu-wrap {
//   display: flex;
//   flex-direction: column;
//   width: 100vw;
//   height: calc(100vh - 13rem);
//   position: relative;
//   justify-content: center;
// }

.menu__item {
  cursor: default;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px #595959;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include to(1440px) {
    height: 100px;
  }
  @include to(575px) {
    height: 60px;
  }
  &:nth-child(2) {
    margin-top: 30px;
    @include to(1440px) {
      margin-top: 20px;
    }
    @include to(575px) {
      margin-top: 10px;
    }
  }
  &:last-child {
    margin-bottom: 30px;
    @include to(1440px) {
      margin-bottom: 20px;
    }
    @include to(575px) {
      margin-bottom: 10px;
    }
  }
}

.menu__item:last-child {
  box-shadow: 0 1px #595959, 0 -1px #595959;
}
// .menu__item:nth-child(2) {
//   margin-top: 30px;
//   @include to(1440px) {
//     margin-top: 20px;
//   }
// }

.menu__item-link {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.menu__item-link:focus,
.menu__item-link:focus-visible {
  color: $white;
}

.menu__item-link:focus:not(:focus-visible) {
  color: $black;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: $black;
  transform: translate3d(0, 101%, 0);
  @include to(575px) {
    display: none;
  }
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  transform: translate3d(0, -101%, 0);
  @include to(575px) {
    display: none;
  }
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 15s linear infinite;
  will-change: transform;
  @include to(575px) {
    display: none;
  }
}

@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-weight: 700;
  font-size: 120px;
  line-height: 70%;
  text-transform: uppercase;
  color: #000000;
  @include to(1440px) {
    font-size: 80px;
  }
  @include to(575px) {
    font-size: 46px;
  }
}

.marquee span {
  text-align: center;
  color: $white;
  font-weight: 700;
}

.marquee__img {
  width: 15vw;
  height: 70%;
  margin: 0 2vw;
  border-radius: 5vw;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 53em) {
  .frame {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 1.5rem 2rem 1rem;
    pointer-events: none;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'logo credits links'
      '... ... ...'
      '... ... author';
  }
  .frame__logo {
    grid-area: logo;
    margin: 0;
  }
  .frame__credits {
    grid-area: credits;
    justify-self: center;
  }
  .frame__author {
    grid-area: author;
    justify-self: end;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
    text-align: right;
  }
  .frame a {
    pointer-events: auto;
  }
  .menu-wrap {
    height: 100vh;
  }
}
