.capabilitiesPageBody {
  p {
    margin-bottom: 0;
  }
}

#brand-component,
.what-we-do,
#career-page {
  .brandsProducts {
    .brand-p-item {
      .image-wrapper img {
        transform: initial;
      }
    }
  }
}

.main-values {
  .card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;

    .bg-wrapper {
      height: 280px;
      background: #edf2f7;
      padding: 20px 30px;
      border-radius: 10px 10px 0 0;
      transition: all ease 0.3s;
    }

    .content h4 {
      line-height: 22px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.18);
    }
  }
}

.details {
  .benefits {
    .wp-block-columns {
      margin: 0;
      padding: 0 15%;
      .wp-block-column {
        width: 20%;

        .wp-block-image {
          margin: 2rem 0 !important;
        }

        figure {
          flex-direction: column;

          figcaption {
            color: #2d343e;
          }

          img {
            max-width: 48px;
            max-height: 48px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.section.what-we-do {
  .fp-tableCell {
    vertical-align: middle;
  }
  .ant-tabs-nav-wrap {
    white-space: pre-wrap;
  }
  .ant-tabs-nav-list {
    width: 200px;

    .ant-tabs-tab {
      display: flex;
      justify-content: flex-end;
      line-height: 20px;
      text-align: right;
      margin-bottom: 40px;
      font-size: 18px;
      min-height: 60px;
      padding: 15px 25px;
      transition: all ease 0.3s;

      &.ant-tabs-tab-active {
        background: $primary-color;
        border-radius: 5px 0 0 5px;

        .ant-tabs-tab-btn {
          color: $color-white;
        }
      }

      &:hover {
        color: $text-color;
      }
    }

    .ant-tabs-ink-bar {
      background: $primary-color;
    }
  }

  .about-detail-content {
    .supply-item {
      .wrapper {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-color;
        border-radius: 50%;

        img {
          width: 45px;
          max-height: 45px;
        }
      }
      h5 {
        font-weight: 600;
        text-align: center;
        line-height: 18px;
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
  }
}

.product-image {
  max-height: 400px;
  margin: 0 auto;
}

.section.vacancies {
  .open-vacancy {
    display: flex;
    flex-wrap: wrap;
  }

  .job-item {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #eee;
    border-radius: 5px;

    .content {
      transition: all 0.3s ease;
      opacity: 0.9;
      background: linear-gradient(transparent, #222);

      h4 {
        text-transform: capitalize;
        font-weight: 600;
      }

      i {
        color: #fff;
        opacity: 0.8;
      }
    }

    &:hover {
      .content {
        opacity: 1;
      }
    }
  }
}
