@import 'variables/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', monospace;

    .logo-container {
        margin-top: 50px;
    }

    .calc-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 790px;
        background-color: white;

        box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
        border-radius: 25px 25px 0px 0px;

        margin-top: 40px;

        @media(min-width: 1400px) {
            width: 920px;
            height: 481px;
            flex-direction: row;
            justify-content: space-around;
            box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
            border-radius: 25px;
        }

        .calc-subcontainer {
            display: flex;
            flex-direction: column;
            width: 311px;

            @media(min-width: 1400px) {
                width: 379px;
                height: 399px;
            }

            .bill-container {
                display: flex;
                flex-direction: column;
                margin-top: 32px;
                position: relative;
                width: 100%;

                @media(min-width: 1400px) {
                    margin-top: 0px;
                }
            }

            label {
                font-weight: bold;
                font-size: 16px;
                color: $label;
            }

            .dollar-icon {
                width: 10px;
                height: 15px;
                position: absolute;
                left: 6.19%;
                right: 90.64%;
                top: 60%
            }

            input[type="number"] {
                height: 48px;
                width: 100%;
                margin-top: 6px;
                padding-right: 18px;
                background-color: $inputBg;
                border: none;
                border-radius: 5px; 
                text-align: right;

                font-weight: bold;
                font-size: 24px;
                line-height: 36px;

                color: #00474B;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0px;
            }

            input[type="number"]:focus {
                outline: none;
                border: 2px solid #26C2AE;
            }

            input[type="number"]:hover {
                cursor: pointer;
            }
        }

        .tip-container {
            margin-top: 32px;

            @media(min-width: 1400px) {
                margin-top: 40px;
            }

            .sub-tip-container {
                margin-top: 16px;
                height: 178px;

                display: grid; 
                grid-template-columns: 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr; 
                gap: 16px 16px;
                
                @media(min-width: 1400px) {
                    height: 112px;
                    grid-template-columns: 1fr 1fr 1fr; 
                    grid-template-rows: 1fr 1fr; 
                    gap: 16px 16px;  
                }

                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                input[type="radio"]:hover {
                    cursor: pointer;
                }

                .tip-txt {
                    display: inline-block;
                    background-color: $btnBg;
                    width: 100%;
                    height: 48px;
                    border-radius: 5px;
                    font-size: 24px;
                    line-height: 36px;
                    color: white;

                    padding-top: 4px;

                    text-align: center;
                }

                .tip-txt:hover {
                    cursor: pointer;
                }

                .checked {
                    background-color: #26C2AE;
                    color: #00474B;
                }

                .input-custom {
                    margin-top: 0px;
                    width: 100%;
                    height: 48px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                    font-family: Space Mono;
                    text-align: right;

                    color: #547878;
                }

                .input-custom::-webkit-inner-spin-button,
                .input-custom::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0px;
                }

                .input-custom:focus::placeholder {
                    color: transparent;
                }
            }
        }

        .people-container {
            margin-top: 32px;

            position: relative;

            @media(min-width: 1400px) {
                margin-top: 40px;
            }

            .error-txt {
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
                margin-left: 80px;
                color: #E17457; 
            }

            .hidding {
                display: none;
            }

            .people-icon {
                position: absolute;
                left: 6.19%;
                right: 90.64%;
                top: 60% 
            }

            .error-input {
                border: 2px solid #E17052 !important;
            }
        }
    }

    .result-container {
        margin-top: 32px;
        height: 257px;
        width: 327px;
        background-color: #00474B;
        border-radius: 15px;

        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "amount amount amount"
            "total total total"
            "reset reset reset";

        @media(min-width: 1400px) {
            height: 417px;
            width: 413px;
            grid-template-columns: 1fr  1fr; 
            grid-template-rows: .5fr .5fr 1fr;
            margin-top: 0px;
            padding: 40px;
        }
            
        .amount-container {
            width: 100%;
            grid-area: amount;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 24px;

            @media(min-width: 1400px) {
                height: 71px;
                padding: 0px;
            }

            .amount-txt-container {
                display: flex;
                flex-direction: column;

                .result-heading {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;

                    color: #FFFFFF;
                }

                .per-person {
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 19px;
                    
                    color: #7F9D9F;  
                }
            }

            .result-number {
                font-weight: bold;
                font-size: 32px;
                line-height: 47px;
                text-align: right;
                letter-spacing: -0.666667px;

                color: #26C2AE;

                @media(min-width: 1400px) {
                    font-size: 48px;
                    line-height: 71px;
                    letter-spacing: -1px;
                }
            }

        }
        
        .perperson-container {
            grid-area: total;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 24px;

            @media(min-width: 1400px) {
                height: 71px;
                padding: 0px;
            }

            .amount-txt-container {
                display: flex;
                flex-direction: column;

                .result-heading {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;

                    color: #FFFFFF;
                }

                .per-person {
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 19px;
                    
                    color: #7F9D9F;  
                }
            }

            .result-number {
                font-weight: bold;
                font-size: 32px;
                line-height: 47px;
                text-align: right;
                letter-spacing: -0.666667px;

                color: #26C2AE;

                @media(min-width: 1400px) {
                    font-size: 48px;
                    line-height: 71px;
                    letter-spacing: -1px;
                }
            }
        }

        .reset-container {
            grid-area: reset;
            display: flex;
            justify-content: center;
            width: 100%;

            @media(min-width: 1400px) {
                height: 71px;
                align-self: flex-end;
            }

            .reset-btn-active {
                width: 90%;
                height: 48px;
                background: #26C2AE;
                border-radius: 5px;
                border: none;

                font-weight: bold;
                font-size: 20px;
                line-height: 30px;

                text-align: center;

                color: #00474B;

                @media(min-width: 1400px) {
                    width: 100%;
                }
            }

            .reset-btn-active:hover {
                cursor: pointer;
                background-color: #9FE8DF;
            }

            .reset-btn-disable {
                width: 90%;
                height: 48px;
                background: #0D686D;
                border-radius: 5px;
                border: none;

                font-weight: bold;
                font-size: 20px;
                line-height: 30px;

                text-align: center;

                color: #00474B;

                @media(min-width: 1400px) {
                    width: 100%;
                }

            }
        }


    }
}