.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;

    &__rocket {
        $size: 80px;
        width: $size;
        height: $size;
        margin-right: 10px;

        @media screen and (max-width: 767px) {
            $size: 60px;
            width: $size;
            height: $size;
        }
    }

    &__text {
        font-size: 32px;
        font-weight: 700;
        margin-right: 20px;

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
}