@import "color";
// BG SOLO
$bg-uni:yes;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI 
$picture-bg:no;
$picture-bg-url:'../images/bg-wrapper.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:0;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// SIZE NAVIGATION
$height-navigation:140;

// VAR SITE TYPO
$font-body:"Droid Serif",verdana,sans-serif;
$font-title:"Droid Serif",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES9
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-noir";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


//---------------------------------------------------------------------------------------------
//		PERSO STCYR77
//---------------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------
//		GENERAL
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		CONTAINER
	//---------------------------------------------------------------------------------------------

.container {
	width:1280px;
	padding: 0 20px;
	@media only screen and (max-width : 1280px) {
		width:960px;
	}
}

.bg-picture {
	background-image: url('../images/bg-site.jpg');
	background-color: $color-body;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

	//---------------------------------------------------------------------------------------------
	//		MENU & NAV
	//---------------------------------------------------------------------------------------------

.navigation {
	background-image: url('../images/bg-nav.jpg');
	background-repeat: no-repeat;
	background-color: $color-primary;
	background-position: bottom;
	border-top: none;
	border-bottom: solid 5px $color-secondary;
}

.menu-principal {
	text-align: right;
	font-style: italic;
	>li {
	    padding: 0 20px;
	    @media only screen and (max-width : 767px) {
	    	padding: 0 5px;
	    }
	    >a:hover {
	    	color: $color-action;
	    }
	}
}

.cookie-banner {
	background-color: $color-primary;
	color: $color-font-body;
}

//---------------------------------------------------------------------------------------------
//		INDEX
//---------------------------------------------------------------------------------------------

	//---------------------------------------------------------------------------------------------
	//		TTL
	//---------------------------------------------------------------------------------------------	

.h1-index {
	margin-top: 10px;
	margin-bottom: 30px;
}

	//---------------------------------------------------------------------------------------------
	//		ENCART PA
	//---------------------------------------------------------------------------------------------	

.module-annonces-homepage .height-190 {
	height: 240px;
}

@media only screen and (max-width : 767px) {
	.module-annonces-homepage {
		background:$color-block !important;		
		color:$color-nav-footer !important;		
	}
	.homepage-bloc-type-bien-transaction .bg-white {
		background:$color-block !important;		
	}
}

.owl-theme .owl-nav [class*=owl-] {
	background:$color-important !important;		
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background:$color-important !important;			
}

.owl-theme .owl-dots .owl-dot span {
	background:$color-action !important;				
}

	//---------------------------------------------------------------------------------------------
	//		SEO
	//---------------------------------------------------------------------------------------------	

.bg-slogan-seo {
	background: $color-block;
	padding: 10px;	
	@media only screen and (max-width : 767px) {
		font-size: 0.8em;
		text-align: left;
	}
}

@media only screen and (max-width : 767px) {
	.bg-seo {
		font-size: 0.8em;
		text-align: left;
	}
}