.invoice-open-list-button-back {
	@extend .button-back;
}

.invoice-open-list-button-back-icon {
	@extend .button-back-icon;
}

.invoice-open-list-header{
	border-top: 1px solid $sc-color-theme-border-light;
	margin-bottom: $sc-margin-lv2;
	padding: $sc-padding-lv3 0;
}

.invoice-open-list-header-nav{
	margin-bottom: $sc-margin-lv4;
	position:relative;
}

.invoice-open-list-header-button-group {
	@extend .pill-button-group;
}

.invoice-open-list-header-button-open{
	@extend .button-medium;
	@extend .pill-button;
	@extend .pill-button-active;
}

.invoice-open-list-header-button-paid{
	@extend .button-medium;
	@extend .pill-button;
}

.invoice-open-list-button-payment{
	@extend .button-medium;
	@extend .button-primary;
	width:auto;
	position:absolute;
	top:62px;
	right:0px;
	z-index: 99;

	@media (min-width: $screen-sm-min){
		top:0px;
	}
}

.invoice-open-list-button-payment[disabled]{
	@extend .button-primary-disabled;
}

.invoice-open-list-records{
	@extend .table-flex-record-selectable-navigable;
}

.invoice-open-list-records-head tr{
	display: none;
	@media (min-width: $screen-md-min){
		display: table-row;
	}
}

.invoice-open-list-records-head th{
	text-align: right;
	padding-bottom: $sc-padding-lv2;
	font-weight: normal;
	border-bottom: 1px solid $sc-color-theme-border-light;
}

th.invoice-open-list-records-head-row-invoice-number {
	text-align: left;
}

.invoice-open-list-records-body td{
	vertical-align: middle;

	@media (min-width: $screen-md-min){
		height: 60px;
	}
}

.invoice-open-list-records-body {
	.recordviews-selectable-td-amount {
		margin-bottom:$sc-padding-lv3;

		@media (min-width: $screen-md-min){
			margin-bottom:0;
		}
	}
}

.invoice-open-list-no-records {
	padding:$sc-padding-lv8 $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3;
 	text-align:center;
}


//////////shekha aug 31
.invoice-open-list{
	.invoice-open-list-header{
		border-top: 1px solid #c8caca;
	}
	.invoice-open-list-title{
		font-size:30px;
		@media screen and (min-width:768px) and (max-width:991px){
			font-size:14pt;
		}
		@media(max-width:767px){
			font-size:14pt;
		}
	}
	.invoice-open-list-header-button-open{
		background-color:#E41018;
		font-size:22px;
		color:#ffffff;
		border-radius:9px 0 0 9px;
		border:none;
		@media screen and (min-width:768px) and (max-width:991px){
			font-size:16px;
		}
		@media(max-width:767px){
			font-size:14px;
		}
	}
	.invoice-open-list-header-button-paid{
		background:white;
		color:black;
		border-radius:0 10px 10px 0;
		border:1px solid #D9D9D9;
		border-left:none;
		font-size:22px;
		@media screen and (min-width:768px) and (max-width:991px){
			font-size:16px;
		}
		@media(max-width:767px){
			font-size:14px;
		}
	}
	.invoice-open-list-button-payment{
		font-size:22px;
		color:#000000;
		background:#cdfdd7;
		border-radius:5px;
		padding: 13px 25px;
		top:-62px;
	}
	.invoice-open-list-header-nav a{
		color:#000000;
	}
.credit-card-img{
	padding-left:7px;
}
.list-header-view-accordion-body-select{
	font-size:16px;
	color:black;
	font-weight:600;
	border-radius:5px;
	@media screen and (min-width:768px) and (max-width:991px){
		font-size:16px;
		border-top: 1px solid #c5c3c3;
		border-bottom: 1px solid #c5c3c3;
	}
	@media(max-width:767px){
	font-size:14px;
	
	}
}
.list-header-view-filters select{
	border: 1px solid #D9D9D9;
	outline:none;
}
.list-header-view-accordion-body-button-sort{
	border: 1px solid #D9D9D9;
	outline:none;
	border-radius:5px;
	margin-right:4px;
	@media screen and (min-width:768px) and (max-width:991px){
		margin-right:10px;
	}
}
.list-header-view-accordion-body-button-sort i{
    color:black;
  }
  .listheader-filter-sortorder-arrow-selected{
    color:#e23200 !important;
  }
.list-header-view-accordion-body-header {
	@media(min-width:1300px){
		margin-top:-58px;
	
	}
	float:right;
	width:auto;
	@media screen and (min-width:768px) and (max-width:991px){
		width:100%;
		border-top: 1px solid #c5c3c3;
		border-bottom: 1px solid #c5c3c3;
		margin-top: -50px;
		padding-top: 20px;
		padding-bottom: 7px;
	}	
	@media(max-width:991px){
		border-bottom: 1px solid #cac8c8;
		border-top: 1px solid #cac8c8;
		padding-top: 15px;
		padding-bottom: 15px;
		}
	@media(max-width:767px){
		float:left;
		margin-left:15px;
		width:100%;
	}
}
.list-header-view-select-all-label{
	font-size:22px;
	color:#000000;
}
.invoice-open-list-records-head-row{
	border-top: 1px solid #c5c3c3;
}
.invoice-open-list-records-head-row th{
	font-size:22px;
	font-weight:600;
	@media screen and (min-width:768px) and (max-width:991px){
		font-size:16px;
	}
	@media(max-width:767px){
		font-size:10pt;
	
	}
}
.recordviews-selectable-row  {
	border-bottom: 1px solid #c5c3c3;
}
.invoice-open-list-records-head th{
	border-bottom: 1px solid #c5c3c3;
	color:#000000;
}
.recordviews-selectable-td-title a{
	font-size:16px;
	color:#E41018;
	@media(max-width:767px){
		font-size:10pt;
		font-weight:400;
	}
}
.recordviews-selectable-value{
	font-size:16px;
	font-weight:400;
	text-align:center;
	@media(max-width:767px){
		font-size:10pt;
		font-weight:400;
	}

}
.invoice-date-overdue, .invoice-date-due{
	font-size:16px;
	color:black;
	
}

.invoice-open-list-no-records
{

	a{
color:#E41018;
	}

	h5{
	font-size:22px;
	color:#000000;
	@media screen and (min-width:768px) and (max-width:991px){
		font-size:15pt;
	}
	@media(max-width:767px){
		font-size:9pt;
	}
}
}

.list-header-view-accordion-header{
    float:right;
    @media(max-width:767px){
      margin-top:-68px;
    }
	@media(max-width:300px){
		margin-top:-114px;
	}

  }
  .list-header-view-filter-button{
    @media (max-width:991px){
    top:-66px;
	padding: 0px 23px;
	height:30px;
	line-height:34px;
    }

    border: none;
    color: black;
    background-color: white;
    box-shadow: 3px 3px 6px 2px #e4e1e1;
    padding: 2px 23px;
    outline: none;
	@media(max-width:767px){
		border-radius:3px;
		font-size:12px;
	}
  }
  .list-header-view-filter-button-icon{
	@media screen and (min-width:768px) and (max-width:991px){
		//line-height:54px;
		margin-top:-6px;
		font-size:20px;
	}
	@media(max-width:767px){
		font-size:20px;
		margin-top:-5px;
	}

  }
  .list-header-view-filter-button-icon::before{
	
color:black;
  }
  .recordviews-selectable-td-title{
	  width:35%;
	  @media(max-width:767px){
		vertical-align: baseline;
	  }
  }
  .recordviews-selectable-td-date, .recordviews-selectable-td-amount, .recordviews-selectable-td-due-date, .invoice-open-columns{
	  width:21.6%;
	  text-align:center;
  }
  .invoice-open-list-records-head tr{
@media(max-width:991px){
	display:table-row;
}
  }
  .recordviews-selectable-label{
	@media(max-width:991px){
	  display:none;
	}
	  
  }

  .credit-card-desk{
	  @media(max-width:991px){
		  display:none;
	  }
  }
  .credit-card-mob{
	@media(min-width:992px){
		display:none;
	}
	.invoice-open-list-button-payment{
		@media(max-width:992px){
			position:unset;
			float:right;
			margin-top:20px;
			font-size:11pt;
			padding: 10px 20px;
		}
		@media(max-width:768px){
		margin-bottom:35px;
		}

	}
}
  .invoice-open-list-records td{
	  @media(max-width:767px){
		  display:table-cell;
	  }
  }
  .invoice-open-list-no-records{
	 @media(min-width:992px){
		border-top: 1px solid #c5c3c3;
	 }
	 
  }
  .invoice-open-list-header-nav{
	  margin-bottom:0;
	  @media(max-width:1199px){
		margin-bottom:20px;
	  }
  }
  .invoice-open-list-body{
	overflow-x:auto;
  }
  .recordviews-selectable-anchor :hover{
	color:#E41018;
	  }
	  .recordviews-selectable-row:hover {
		background-color: #ffffff;
	}
	.recordviews-selectable-row.recordviews-selectable-active {
		background-color: #ffffff;
	}
	.list-header-view-sorts{
		float:right;
		@media(max-width:991px){
		width:254px;
		}
		@media (max-width:767px){
			width:184px;
			}
			@media(max-width:300px){
				float:left;
			}
	}
	.list-header-view-filters{
		
		float:right;
		@media(max-width:991px){
		width:200px;
		}
		@media (max-width:767px){
			width:131px;
			}
			@media(max-width:300px){
				float:left;
			}
	}
	.list-header-view-accordion-body-select{
		@media (max-width:991px){
		width:200px;
		}
		@media (max-width:767px){
			width:131px;
			}
	}
	.invoice-date-overdue-icon{
		display:none;
	}
}



