@import "constant";
@import "font_import";

/*********************************COMMON*********************************************/
body {
  background-color: $light-gray;
  font-family: "Poppins";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  button,
  input,
  textarea {
    font-family: "Poppins" !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.autocomplete-root {
  position: relative;
  width: 100%;
  .__inputSearch {
    // background-color: #ebebeb;
    background-image: url(https://react-public-image.s3.ap-south-1.amazonaws.com/img/icons/search.png);
    // background-size: 20px 20px;
    padding-right: 40px !important;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .autocomplete-dropdown-container {
    border: 1px solid #eee;
    border-bottom: none !important;
    border-top: none !important;
    position: absolute;
    background: $white;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
    max-height: 201px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 400px;
    .suggestion-item {
      border: 1px solid #f8f8f9;
      padding: 10px 5px 10px 12px;
      cursor: pointer;
      border-bottom: 0;
      background: url(https://react-public-image.s3.ap-south-1.amazonaws.com/img/icon-pointer.png)
        no-repeat 99% 7px;
      background-size: 28px 28px;
      padding-right: 26px;
      span {
        // white-space: nowrap;
        width: 98% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      &:hover {
        background-color: #eee;
      }
      &:active {
        background-color: #eee;
      }
      &:last-of-type {
        border: 1px solid #eee;
      }
    }
  }
}

input[type="time"],
input[type="number"],
input[type="date"],
input[type="text"],
input[type="tel"],
input[type="email"],
select,
input[type="password"] {
  border: 1px solid $light-grays;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px #f2f1f1 inset;
  &:hover {
    border: 1px solid $light-grays;
    outline: 0px;
  }
  &:focus {
    border: 1px solid $light-grays;
    outline: 0px;
  }
  &:read-only {
    background-color: $light-gray;
  }
  &.readonly {
    background-color: $light-gray;
  }
}

textarea {
  box-shadow: 1px 1px 3px 1px #f2f1f1 inset;
  border: 1px solid $light-grays;
  // height: 130px;
  padding: 12px;
  border-radius: 8px;
  &:hover {
    border: 1px solid $light-grays;
    outline: 0px;
  }
  &:focus {
    border: 1px solid $light-grays;
    outline: 0px;
  }
}

.full_width,
.fullwidth {
  width: 100% !important;
}

button {
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-weight: 700;
  height: auto;
  &.btn {
    border: 0px;
    border-radius: 8px;
    display: flex;
    height: auto;
    &.primary_btn {
      background: $primary;
      color: $white;
    }
    &:hover {
      background-color: $darkblue;
    }
  }
}

.heading1 {
  font-size: 24px !important;
  line-height: 36px !important;
  font-weight: 600 !important;
  font-weight: 600 !important;
}

.heading2 {
  font-size: 20px !important ;
  line-height: 30px !important;
  font-weight: 600 !important;
}

.page_heading {
  font-size: 18px !important;
  line-height: 27px !important;
  font-weight: 500 !important;
}

.sub_heading {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
}

.paragraph {
  font-size: 14px;
  line-height: 21px;
}

.label_text {
  font-size: 12px !important;
  line-height: 18px;
  font-weight: 400 !important;
}

.sml_text {
  font-size: 10px !important;
  line-height: 15px;
}

.cursor_pointer {
  cursor: pointer;
}

.empty_data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  gap: 16px;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - 128px);
  h5 {
    font-weight: 500;
  }
}

.hide {
  display: none !important;
}

.width_data::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.main_content {
  .my_24 {
    margin: 24px 0px !important;
  }
  .mb_8 {
    margin-bottom: 8px;
  }
  .mr8 {
    margin-right: 8px;
  }
  .mr16 {
    margin-right: 16px;
  }
  .p8 {
    padding: 8px;
  }
  .mt16 {
    margin-top: 16px;
  }
  .mt24 {
    margin-top: 24px;
  }
  .mb8 {
    margin-bottom: 8px !important;
  }
  /***********************************attachment upload css************************************ */
  .form_attachment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .add_attachment {
      flex: 0 1 160px;
      height: 160px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      border: 2px dashed $primary;
      padding: 16px;
      box-sizing: border-box;

      .file_uploader {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        cursor: pointer;

        label {
          cursor: pointer;

          &.file_attached {
            background: $lightBlue;
            display: flex;
            width: 100%;
            height: 80px;
            margin-bottom: 10px;
            color: $primary;
            border-radius: 8px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            svg,
            i {
              font-size: 32px;
            }
          }
          &.attachment_text {
            color: $primary;
            text-decoration: underline;
            font-size: 12px;
          }
        }
      }
    }
  }
  .files_upload {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px auto;

    .container_file {
      flex: 0 1 160px;
      height: 160px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid $lightBlue;
      &:before {
        background: linear-gradient(-360deg, $lightBlue, transparent);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }
      > button {
        position: absolute;
        margin-left: auto;
        left: 5px;
        top: 5px;
      }

      .img_upload {
        display: flex;
        height: 80%;
        width: 100%;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
        svg {
          color: $primary;
          font-size: 45px;
          position: relative;
        }
      }

      .file_txt {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #157ef8;
        color: #fff;
        padding: 10px;
        font-size: 11px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  /**************************************Multi Slector*********************/

  .multi_selector {
    .css-1s2u09g-control,
    .css-1pahdxg-control {
      border: 1px solid #e0e0e0;
      -webkit-box-shadow: 1px 1px 3px 1px #f2f1f1 inset;
      box-shadow: 1px 1px 3px 1px #f2f1f1 inset;
      margin: 0 0px 16px;
      border-radius: 8px;
    }
    .css-g1d714-ValueContainer {
      justify-content: flex-start;
      align-items: self-start;
    }
    select {
      background-color: #f2f2f2;
      border-radius: 12px;
      margin: 10px auto;
      box-shadow: none !important;
    }
    input {
      border: 0px !important;
      background: transparent !important;
      box-shadow: none !important;

      &.no_multi {
        border: 1px solid #e0e0e0 !important;
        -webkit-box-shadow: 1px 1px 3px 1px #f2f1f1 inset !important;
        box-shadow: 1px 1px 3px 1px #f2f1f1 inset !important;
      }
    }
    .css-7pwich-Input,
    .css-14dclt2-Input {
      border: 0px !important;
    }

    .css-1okebmr-indicatorSeparator {
      border: 0px !important;
      background: transparent !important;
    }
    .css-1rhbuit-multiValue .css-12jo7m5 {
      color: #157ef8;
      background: #c9e1fe;
      border-radius: 100px;
    }
    .css-xb97g8 {
      background: #157ef8;
      border-radius: 100px;
      width: 18px;
      height: 18px;
      margin: auto 6px;
      color: #fff;
    }
    .css-1rhbuit-multiValue {
      border-radius: 100px;
    }
  }

  .light_iconbutton {
    background-color: $light-gray;
    border-radius: 6px;
    color: $shadegray;
    width: 44px;
    height: 44px;
    min-width: 44px;
    &:hover {
      background-color: $lightBlue;
      color: $primary;
    }
  }

  .active-view {
    background-color: $lightBlue !important;
    color: $primary !important;
  }
}
