@import "color";
// BG SOLO
$bg-uni:yes;

// CHOIX UNIQUE // PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/bg-body.png';
$picture-bg-repeat-horizontal:yes;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

.bg-picture {
  background-image:url('../images/bg-wrapper.jpg');
  background-color:$color-body;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

@media only screen and (max-width : 767px) {
.bg-picture {
  background-image:url('../images/bg-wrapper_mob.jpg');
}
}

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:0;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

// SIZE NAVIGATION
$height-navigation:65;

// MARGIN UNDER NAV FIXE
$margin-top-under-nav-fixe:180;

// VAR SITE TYPO
$font-body:"Oswald",arial,sans-serif;
$font-title:"Oswald",arial,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.4em;
$font-size-title:2.1em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:normal;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:no;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib1";

// IMPORT PUB LIB BOITE
@import "../../../slagence_X_V5/sources/scss/pubs/lib1";

// IMPORT PUB LIB2
@import "../../../slagence_X_V5/sources/scss/pubs/lib2";

// IMPORT TEMPLATE PARIS
@import "../../../slagence_X_V5/sources/scss/templates/paris";

// IMPORT MODULE ANNONCES9
@import "../../../slagence_X_V5/sources/scss/modules/annonces9";

// IMPORT MODULE EXTRA
@import "../../../slagence_X_V5/sources/scss/extra/extra1";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";


//--------------------------------------------------------------------------------------
//    PERSO AMACIMMO
//--------------------------------------------------------------------------------------

.icon-v5-heart:before{ color:$color-icone-cdc;}
.icon-v5-heart.opacity-4{ opacity:1;}

.color-vert {color:$color-vert;}

h1, .h1-like, h2, .h2-like, h3, .h3-like, h4, .h4-like, h5, h6, .h5-like, .h6-like { color:$color-font-body;}

//--------------------------------------------------------------------------------------
//    MENU & NAV
//--------------------------------------------------------------------------------------

.logo img {
  padding: 8px 2px;
}

.menu-principal>li>a {
color:$color-nav-footer;
font-weight: bold;
padding: 14px 6px;
background-color:transparent;
&:hover {
color:$color-important;
background-color:$color-vert;
}
}

.navigation {
background-image:none;
border-bottom:2px solid $color-vert;
}

.ie8 .navigation, .ie9 .navigation {
filter:none;
}

//--------------------------------------------------------------------------------------
//    INDEX
//--------------------------------------------------------------------------------------



@media only screen and (max-width : 767px) {
body > section > div > div > div > div:nth-child(3) > div.row-fluid > div {
color:#FFF;
}
}

.nav-footer-titre {color:$color-nav-footer;}
