@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,100&display=swap');
body {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

section .linear {
    background: linear-gradient(to top, #000 30%, transparent 70%);
}

section.area--principal {
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .confidencial {
        img {
            max-width: 350px;
            width: 100%
        }
    }
    .headline {
        padding: 30px 30px;
        img {
            width: 100%;
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    iframe {
        height: 500px;
        width: 100%;
        border-radius: 20px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    a:hover {
        color: #000;
    }
    .botao--comprar {
        display: none;
        margin-top: 25px;
        padding: 13px 26px;
        background-color: #ffc107;
        border-radius: 7px;
        border: 1px solid #ffc1079c;
        margin-bottom: 5px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }
    .cartoes {
        display: none;
        height: 50px;
        flex-direction: row;
        .cart1,
        .cart2,
        .cart3,
        .cart4 {
            width: 50px;
            height: 50px;
            content: " ";
            background-repeat: no-repeat;
            background-size: cover;
        }
        .cart1 {
            background-image: url(../images/svg/ap.svg);
            margin-right: 3px;
        }
        .cart2 {
            background-image: url(../images/svg/mc.svg);
            margin-right: 3px;
        }
        .cart3 {
            background-image: url(../images/svg/pp.svg);
            margin-right: 5px;
        }
        .cart4 {
            background-image: url(../images/svg/vs.svg);
        }
    }
}

.more--comments {
    display: flex;
    border-left: 2px solid #f0f0f0;
    padding-left: 7px;
}

.area--comments {
    background-color: #fff;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #e9ebee;
    border-radius: 3px;
    padding: 10px 10px;
    -webkit-box-shadow: 0 1px 2px #00000033;
    box-shadow: 0 1px 2px #00000033;
    h1 {
        margin: 15px 15px 20px 15px;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 15px;
    }
}

.spc {
    margin-top: 35px;
}

.comentario--unico {
    display: flex;
    flex-direction: row;
    .foto {
        margin-right: 8px;
    }
    .foto img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    .reacoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: row;
        }
    }
}

.conteudo--comentario {
    display: flex;
    flex-direction: column;
    .nome {
        color: #365899;
        cursor: pointer;
        font-weight: 600;
        font-stretch: ultra-condensed;
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
    }
    .nome:hover {
        text-decoration: underline;
    }
    .comentario {
        background-color: #f0f2f5;
        padding: 12px 17px;
        border-radius: 17px;
        font-size: 14px;
    }
    .reacoes {
        font-size: 12px;
        margin-top: 3px;
        .left p {
            color: #4667b2;
        }
        .left p:hover {
            text-decoration: underline;
            cursor: pointer;
            transition: 0.9s;
        }
        .left p:first-child {
            margin-right: 15px;
        }
        .left .cinza {
            margin-left: 15px;
            color: #8a8484;
            cursor: pointer;
        }
        .left .cinza:hover {
            text-decoration: underline;
            transition: 0.9s;
        }
        .right {
            background-color: #f0f2f5;
            border-radius: 20px;
            padding: 2px 8px;
            line-height: 34px;
            margin-top: -7px;
            border: 2px solid #ffffff;
            cursor: pointer;
            img {
                margin-top: -2px;
            }
        }
        .right:hover {
            text-decoration: underline;
            transition: width 1s;
            transition-timing-function: ease-out;
        }
    }
}

.pff {
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    line-height: 13px;
    img {
        border-radius: 3px;
        margin-right: 4px;
    }
}

footer {
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    background-color: #101010;
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    .btn-mdl {
        display: flex;
        flex-direction: row;
        button {
            color: #fff;
            font-weight: 600;
        }
        button:hover {
            color: #ffc107;
        }
    }
    .text-center {
        color: #ffffff42;
        font-size: 13px;
        margin-top: 10px;
    }
    .modal-body {
        color: rgba(17, 17, 17, 0.822)!important;
        font-weight: 300;
    }
}


/* RESPONSIVIDADE */

@media (max-width: 575.98px) {
    article iframe {
        height: 300px;
    }
}

@media only screen and (min-width:320px) and (max-width: 540px) {
    header {
        padding-bottom: 0;
        .headline {
            padding: 10px 5px;
        }
    }
    article {
        iframe {
            height: 300px;
            margin-top: -10px;
        }
        .cartoes {
            margin-bottom: 20px;
        }
        .botao--comprar {
            font-size: 13px;
        }
    }
    .more--comments {
        margin-left: -30px;
    }
    .conteudo--comentario .reacoes {
        font-size: 10.1px;
    }
    .conteudo--comentario .comentario {
        font-size: 13px;
    }
}