@use '../styles/abstracts/vars';
@use '../styles/abstracts/mixins';


.heading1 {
	font-weight: bold;
	font-size: 2.5rem;
}
.heading2 {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 1rem;
	//background-color: pink;
}
.heading3 {
	font-weight: bold;
	font-size: 1.5rem;
	//background-color: limegreen;
	a {
		color: inherit;
	}
	&.category {
		text-transform: uppercase;
		color: vars.$color_teal;
	}
}
.heading4 {
	font-style: italic;
	font-size: 1.125rem;
}
.white {
	color: white;
}
.mb1 {
	margin-bottom: 1rem;
}
.mb2 {
	margin-bottom: 2rem;
}
