.img{
    overflow: hidden;
    
}
mat-datepicker-toggle {
    color: white !important;
   }
   .br1 {
    color: white;
}
mat-label{
    color: white !important; 
}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
   } 
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
   }

   .fun1 {
    background: rgba(180, 81, 81, 0.644);
    padding: 3px;
    border-radius: 7px;
}