.course-page-main{
    display: flex;
    background-color: #EEEEEE;
}

.courseInfo {
    display: flex;
    flex: 1;
    margin-top: 38px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.teacherAcc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courseName{
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: #cb2d3e;
    font-weight: bold;
}

.coursePhoto {
    width: 80%;
}

.courseCategory {
    font-size: 20px;
    color: #cb2d3e;
    margin: auto;
    padding: 1vw 1vw;

    &:hover{
        cursor: pointer;
        color: rgb(252, 93, 81);
    }
}

.teacherProfPic {
    width: 50%;
    border-radius: 50%;
    justify-content: end;
    cursor: pointer;
}

.teacherName {
    color: #cb2d3e;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;

    &:hover{
        cursor: pointer;
        color: rgb(252, 93, 81);      
    }
}

.courseContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: space-around;
}

.bigContainer{
    display: flex;
    padding: 20px;
}



.course-page-main .section-main{
    flex: 0 0;
}

.discriptionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px ;

    p{
        font-size: 1.1vw;
        display: flex;
        text-align: justify;
        color: #cb2d3e;
    }

    button{
        border-color:#cb2d3e ;
        color: red;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover{
            background-color: rgb(223, 223, 223);
        }
    }
}

.videoContainer {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    text-align: center;

  }

  @media (max-width: 1400px) {
      .videoContainer {
          width: 100px;
      }
  }