$handle_color: get-color(neutral, 900);

// ACF Flexible Content Heading
.acf-fc-layout-handle {
  padding-left: get-size(1.5) !important;
  background: $handle_color !important;
  color: get-color(neutral, 000) !important;
  font-weight: bold;

  .swatch {
    // Hugs the left side of the acf-handle and shows the user what bg colour is selected
    width: get-size(1);
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

// Removes borders from groups with class seamless applied
.acf-field-group {
  &.seamless {
    .acf-fields {
      border: 0;
      margin-left: n(get-size(0.75));
      margin-right: n(get-size(0.75));
      .-table & {
        margin-left: n(get-size(0.5));
        margin-right: n(get-size(0.5));
      }
    }
  }
}

.acf-field-repeater {
  &.seamless {
    .acf-table {
      border: 0;
      background: none;
      thead {
        display: none;
      }
      tr:first-of-type {
        td {
          padding-top: 0;
        }
      }
      tr:last-of-type {
        td {
          padding-bottom: 0;
        }
      }
      td {
        border: 0;
        background: none !important;
      }
    }
  }
}

// Nicer styling of handle icons
.acf-fc-layout-controls .acf-icon {
  background: get-color(neutral, 000) !important;
  &:hover {
    background-color: get-color(primary) !important;
    border-color: get-color(primary);
    color: choose-contrast-color(get-color(primary), get-color(neutral, 000), $handle_color);
  }
  &.-minus:hover {
    background-color: get-color(error) !important;
    border-color: get-color(error);
    color: choose-contrast-color(get-color(error), get-color(neutral, 000), $handle_color);
  }
  &.-plus:hover {
    background-color: get-color(success) !important;
    border-color: get-color(success);
    color: choose-contrast-color(get-color(success), get-color(neutral, 000), $handle_color);
  }
}

.acf-input label {
  font-size: 1em;
}

.acf-handle-right {
  .dashicons {
    opacity: 0.4;
  }
  font-weight: normal;
  position: absolute;
  left: 70%;
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: get-size(0.75);
}

#poststuff .acf-postbox .hndle {
  font-size: 1.2em; // header tab of ACF group
}

.acf-field {
  &.spacer {
    * {
      display: none;
    }
  }
  .acf-input > p.description {
    // Description below input field
    margin-top: get-size(0.75);
  }
}

.acf-tab-button {
  // Fix dashicon size in tabs
  .dashicons {
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin-top: get-size(0.25);
  }
}

// Wrap a button group in .swatches and use a span with class .swatch for the button to make the buttons appear as block colours
.swatches {
  label {
    padding: 0;
    border: 0;
    margin-right: get-size(0.5);
    border-radius: 0px !important;
    &.selected {
      border: 0 !important;
      background: none !important;
      .swatch {
        border: 3px solid #1e8cbe !important;
      }
    }
    &:hover {
      .swatch {
        border: 1px solid #1e8cbe !important;
      }
    }
  }
  .swatch {
    width: get-size(2);
    height: get-size(2);
    display: block;
    box-sizing: border-box;
    border-radius: 6px !important;
    border: 1px solid #eee;
  }
}

// Nicer formatting for button group with icons
.acf-has-icons {
  .acf-button-group {
    min-width: get-size(8);
    label {
      text-align: left;
    }
  }
}

// Hide Settings Cog from field group headers
.postbox-header .acf-hndle-cog {
  display: none !important;
  visibility: hidden !important;
}

// Allow Flex Wrap
.acf-button-group {
  flex-wrap: wrap;
  label {
    flex: 0;
  }
}

// Flexible Layout Options into a two column layout
.acf-fc-popup ul {
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  .dashicons {
    opacity: 0.4;
  }
  li {
    flex: 0 0 50%;
    &:nth-of-type(even) {
      border-right: 1px solid rgba(get-color(neutral, 000), 0.2);
      box-sizing: border-box;
    }
    // Stacks
    &:first-of-type() {
      order: 1;
      border-top: 1px solid rgba(get-color(neutral, 000), 0.2);
      flex: 0 0 100%;
      .dashicons {
        margin-right: 0.2em;
      }
    }
  }
}

.acf-block-disabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  //border: 2px dashed red;
  box-sizing: border-box;
  pointer-events: none;
  .ui-sortable > & {
    display: none;
  }
}

// More easy to see repeaters
.acf-repeater {
  .acf-row:nth-of-type(even) {
    .acf-row-handle {
      background-color: #eee;
    }
    td {
      background-color: #f9f9f9;
      .acf-fields {
        background: transparent;
      }
    }
  }
}

@keyframes blinking-text {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}

.column-acf-json strong {
  // Make the "Sync Available" really obvious.
  color: red;
  font-size: 1.4em;
  animation: blinking-text 1s linear infinite;
}

%flexible-content-description {
  display: block;
  position: relative;
  background: #f9f9f9;
  padding: 10px 10px 0px 10px;
  color: #666;
  //font-size: font-size(-1)
}

/**
 * Pseudo descriptions onto the ACF Flexible repeater
 */
.layout {
  &[data-layout='cards'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Cards block allows you to add a number of promotional cards to a page.';
  }
  &[data-layout='carousel'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Carousel block allows you to add a promotional carousel to a page.';
  }
  &[data-layout='chart'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Chart block allows you to add a dynamic chart to a page. For best results, you should use a white background for chart blocks.';
  }
  &[data-layout='countdown'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Countdown block allows you to display a count down to a particular date and time.';
  }
  &[data-layout='cover'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Cover block allows you to add a large text block over a background image.';
  }
  &[data-layout='faqs'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The FAQs block allows you to add a number of frequently asked questions which display in an accordion format on the page.';
  }
  &[data-layout='gallery'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Gallery block allows you to add an image gallery to the page.';
  }
  &[data-layout='html'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Unfiltered HTML block allows you to insert HTML, for example an embeddable widget.';
  }
  &[data-layout='iframe'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The iFrame block allows you to embed a website in an iFrame on your page. Note: not all websites will allow embedding within an iFrame.';
  }
  &[data-layout='image'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Image block allows you to insert an image onto the page.';
  }
  &[data-layout='image-compare'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Image Compare block allows you to compare a before/after of two images.';
  }
  &[data-layout='linked-posts'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Linked posts block allows you to link to other pages/posts on the site, displaying them as cards.';
  }
  &[data-layout='magic-columns'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Magic Columns block is an incredibly powerful and flexible block that lets you create mixed rows of media such as text, images, video, posts, and more. You can also customise the column widths.';
  }
  &[data-layout='map'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Map block allows you to add a map with markers onto the page.';
  }
  &[data-layout='number-counter'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Number Counter block allows you to add a series of numbers to a block, which count up from 0 when scrolled into view.';
  }
  &[data-layout='post-archive'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Post Archive block allows you to add a post archive to a page, showing a card layout of all recent posts.';
  }
  &[data-layout='slider'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Slider block allows you to add a slider to the page, with slides containing an image, text and optional link.';
  }
  &[data-layout='stack'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Stack block allows you to include a reusable block or set of blocks from the block library. To create a new stack, use the "Stacks" menu in the admin sidebar.';
  }
  &[data-layout='testimonials'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Testimonials block allows you to add a number of testimonials to a page, which will appear in a slider.';
  }
  &[data-layout='text'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Text block allows you to add a simple text block to a page.';
  }
  &[data-layout='text-columns'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Text Columns block allows you to add up to four columns of text to a page.';
  }
  &[data-layout='text-media'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Text and Media block allows you to add a two column layout to a page with text and a media item (eg. image/video).';
  }
  &[data-layout='video'] .acf-fc-layout-controls + .acf-fields::before {
    @extend %flexible-content-description;
    content: 'The Video block allows you to embed a video from YouTube / Vimeo onto the page.';
  }
}
