@import '../../Utilities/variables';

.res-table{
    margin-left: 4rem;
    margin-top: 2rem;
    width:60rem;
    font-family: $regular-font;
    font-size: 1.5rem;
    & .name-col{
        width: 15rem;
    }
    & .iden-col{
        width: 10rem;
    }
    & .ass-col{
        width: 10rem;
    }
}

.detail-tbl{
    width: 60rem;
}
.det-activity{
    width:30rem;
}
.det-dow{
    width: 10rem;
}
.det-date{
    width: 10rem;
}

.new-res-form{
    margin-left: 4rem;
    margin-top:2rem;
    width: 50rem;
    font-family: $regular-font;
    font-size: 1.5rem;
    & .new-res-label{
        padding-right: 2rem;
    }
}