@import "color";
// BG SOLO
$bg-uni:yes;

// PICTURE BG OU DEGRADE CSS BG COLOR PRIMARY vs SECONDARY vs BLOCK > SI NO ALL = BG BODY UNI
$picture-bg:no;
$picture-bg-url:'../images/dark_wall.png';
$picture-bg-repeat-horizontal:no;
$degrade-bg-primary:no;
$degrade-bg-secondary:no;
$degrade-bg-block:no;

// SIZE PICTURE AREA : FULLSCREEN OR NOT > UTILE SI PHOTO (TYPE SITE 1)
$height-container:300;

// PLACEMENT TOP CONTENT > UTILE SI PHOTO (TYPE SITE 1)
$placement-top-content:0;

$margin-top-under-nav-fixe:110;

// SIZE NAVIGATION
$height-navigation:75;

// VAR SITE TYPO
$font-body:"Source Sans Pro",arial,verdana,sans-serif;
$font-title:"Roboto Condensed",arial,verdana,sans-serif;

// REFINE DEPENDS OF YOUR TYPO, DEFINE FIRST >>>> FONT-SIZE-TEXT
$font-size-text:1.5em;
$font-size-title:1.7em;

// TYPE TITLE = CAPITALIZE, UPPERCASE, LOWERCASE, NONE
$type-title:uppercase;

// WEIGHT TITLE = BOLD, NORMAL, etc..
$weight-title:bold;

// ARRONDI POUR LES EFFETS SUR LI > A:HOVER/FIL ARIANE/BOUTON
$arrondi:yes;

// BORDER EFFECT ON NAV
$border-nav:yes;

// TYPE MENU : FLAT = COLOR BANNER BEHIND, NO FLAT = SHAPE OR NOT
// LINK TO VAR ID3X >>> MENU_TYPE
$type-menu:no-flat;

// STYLE NAV : IF YES = SHAPE BEHIND WORD, IF NO SHAPE BEHIND WORD ON HOVER
$shape:no;

// IMPORT ALL = FUNCTIONS SASS/COMPASS
@import "../../../slagence_X_V5/sources/scss/all";

// IMPORT PICTOS
@import "../../../slagence_X_V5/sources/scss/typicons/icov5/icov5";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_social/social_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general/general_foundicons";
@import "../../../slagence_X_V5/sources/scss/typicons/fundicons/foundation_icons_general_enclosed/general_enclosed_foundicons";

// IMPORT BOUTONS LIB1
@import "../../../slagence_X_V5/sources/scss/boutons/lib6";

// IMPORT PUB LIB LIGHT
@import "../../../slagence_X_V5/sources/scss/pubs/lib6";

// IMPORT TEMPLATE ROME
@import "../../../slagence_X_V5/sources/scss/templates/rome";

// IMPORT MODULE ANNONCES
@import "../../../slagence_X_V5/sources/scss/modules/annonces5";

// SPRITE BLANC
@import "../../../slagence_X_V5/sources/scss/sprites/social-blanc";

// IMPORT MEDIA QUERY ALL
@import "../../../slagence_X_V5/sources/scss/media";

// IMPORT IE FIXING
@import "../../../slagence_X_V5/sources/scss/ie";

@import "../../../slagence_X_V5/sources/scss/sous_menu/lib3";

/*
body {
    background-image:url('../images/bg-body.jpg');
    background-color:$color-body;
    background-position:top center;
    background-repeat:no-repeat;
}*/

.menu-principal > li {
    border-top:none;
    > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.row-fluid .col-rome+.col-rome {
    padding-right:15px;
}

#Mini_Moteur select {
    font-weight: bold;
    color: $color-action;
}


// FOOTER
footer,
footer a,
.nav-footer-titre {
    color:$color-nav-footer;
}

.menu-principal > li > a:hover,
footer a:hover {
    color: $color-content;
}


.module-homepage .picture-responsive {
    background-size: auto;
}


.bg-poly-blue {
    background: $color-primary;
}


input:-moz-placeholder, textarea:-moz-placeholder {
    color: $color-action;
} 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $color-action;
} 
input.placeholder, textarea.placeholder {
    color: $color-action;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: $color-action;
}

.saisie-suggest.italic { font-weight: bold; font-style: normal; }