// NAV
body {
  overflow-x: hidden;
}
.main__nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  z-index: 1;

  // PROJECT NAME LOGO
  .main__name {
    position: relative;
    margin-left: 5%;
    top: 8px;
    font-size: 2rem;

    .main__logo {
      position: relative;
      top: 8px;
      width: 40px;
      height: 40px;
    }
  }

  // FILTER AND MENU CONTAINER
  .main__navigation {
    position: relative;
    top: -50px;
    margin-left: 75%;
    padding-top: 15px;
    width: 500px;
    height: 40px;

    // FILTER BUTTON POSITIONING AND EFFECTS

    .main__filter-btn {
      font-size: 2rem;
      padding: 5px;
      cursor: pointer;

      transition: all 0.1s ease-in-out;
      text-decoration: none;
      color: white;
    }

    .main__filter-btn:hover {
      text-decoration: underline;
    }

    .main__filter-btn:active {
      color: grey;
    }

    .main__filter-btn:hover > .main__fil-img {
      transform: scale(1.2);
    }

    .main__fil-img {
      position: relative;
      top: 4px;
      left: 4px;
      width: 36px;
      height: 36px;
    }

    // MENU BUTTON POSITIONING AND EFFECTS

    .main__menu-btn {
      margin-left: 30px;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      text-decoration: none;
      color: white;
    }

    .main__menu-btn:hover {
      text-decoration: underline;
    }

    .main__menu-btn:active {
      color: grey;
    }

    .main__arr-img {
      position: relative;
      top: 2px;
      left: 2px;
      width: 30px;
      height: 30px;
      transition: all 0.1s ease-in-out;
    }

    .main__arr-img-click-transform {
      transform: rotate(-90deg);
    }
  }

  // POPUP MENU AFTER CLICKING MENU BUTTON ON NAV

  .main__menu {
    appearance: none;
    position: relative;
    left: 78%;
    top: -28%;
    font-size: 2rem;
    text-align: center;
    padding-top: 13px;
    width: 200px;
    height: 130px;
    background-color: black;
    border-top: 2px solid white;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    display: none;

    hr {
      border: 1px solid white;
    }

    .main__menu-link {
      text-decoration: none;
      color: white;
    }

    .main__menu-link:hover {
      text-decoration: underline;
    }
  }
}

// CONTAINER FOR SEARCH/FILTER BAR
.main__filter {
  position: relative;
  left: -100vw;
  top: 80px;
  height: 80px;
  width: 100vw;
  background-color: #1c1c1a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  transition: all 1s ease-in-out;

  .main__filter-car-btn-container {
    width: 100%;
    height: 80px;
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;

    .main__filter-car-btn-wrapper {
      width: 100%;
      height: 100%;
      background-color: #313336;
      text-align: center;
      font-size: 1.5rem;

      .main__filter-car-btn-description {
        color: white;
      }
    }

    .main__filter-car-shape-wrapper {
      width: 100%;
      height: 100%;
      background-color: #454a52;

      .main__filter-car-shape {
        position: relative;
        width: 0;
        height: 0;
        border-bottom: 80px solid #313336;
        border-right: 220px solid transparent;
        z-index: 1;
      }
    }
  }

  .main__filter-car-btn-wrapper:hover {
    cursor: pointer;
    .main__filter-car-btn-description {
      color: green !important;
    }
    .main__filter-car-btn-img {
      filter: invert(18%) sepia(94%) saturate(3120%) hue-rotate(112deg) brightness(100%) contrast(106%);
    }
  }

  .main__filter-car-btn-wrapper:active {
    .main__filter-car-btn-description {
      padding-top: 10px;
      font-size: 1rem;
    }
    .main__filter-car-btn-img {
      width: 30px;
      height: 30px;
    }
  }

  .main__filter-car-active {
    .main__filter-car-btn-description {
      color: green !important;
    }
    .main__filter-car-btn-img {
      filter: invert(18%) sepia(94%) saturate(3120%) hue-rotate(112deg) brightness(100%) contrast(106%) !important;
      padding-top: 1px;
    }
  }

  .main__filter-search-container {
    width: 100%;
    height: 80px;
    background-color: #454a52;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: white;

    .main__filter-search-input-description {
      font-size: 1.5rem;
    }

    input {
      position: relative;
      top: 0px;
      width: 300px;
      height: 30px;
      font-size: 1.5rem;
      border: 1px solid black;
      transition: all 0.1s ease-in-out;

      &:focus {
        outline: none;
        transform: scale(1.1);
        border: 3px solid black;
      }
    }
  }

  .main__filter-moto-btn-container {
    width: 100%;
    height: 80px;
    background-color: blue;
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;

    .main__filter-moto-shape-wrapper {
      width: 100%;
      height: 100%;
      background-color: #454a52;

      .main__filter-moto-shape {
        float: right;
        width: 0;
        height: 0;
        border-top: 80px solid #313336;
        border-left: 220px solid transparent;
      }
    }

    .main__filter-moto-btn-wrapper {
      width: 100%;
      height: 100%;
      background-color: #313336;
      text-align: center;
      font-size: 1.5rem;

      .main__filter-car-moto-description {
        color: white;
      }
    }
  }
}

.main__filter-moto-btn-wrapper:hover {
  cursor: pointer;
  .main__filter-car-moto-description {
    color: green !important;
  }
  .main__filter-moto-btn-img {
    filter: invert(18%) sepia(94%) saturate(3120%) hue-rotate(112deg) brightness(100%) contrast(106%);
  }
}

.main__filter-moto-btn-wrapper:active {
  .main__filter-car-moto-description {
    padding-top: 15px;
    font-size: 1rem;
  }
  .main__filter-moto-btn-img {
    width: 30px;
    height: 30px;
  }
}

// PRODUCTS LIST AND PRODUCTS

.main__shop {
  position: absolute;
  top: 80px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  .product__shop-product {
    margin: 0 auto;
    width: 1200px;
    height: 200px;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    // &:hover {
    //     border: 5px solid green;
    // }

    .product__img {
      height: 100%;
      width: 30%;
      background-position: center;
      background-size: cover;
    }

    .product__specifications {
      height: 100%;
      width: 70%;
      margin: 1% 0 0 1%;

      .product__title {
        font-size: 50px;
        font-weight: bold;
      }

      .product__description {
        font-size: 20px;

        & > span {
          margin-left: 50px;
        }
      }

      .product__price {
        font-size: 30px;
        margin-top: 5%;
      }

      .product__btn {
        position: relative;
        left: 70%;
        bottom: 20%;
        width: 220px;
        height: 40px;
        border-radius: 25px 25px;
        background-color: black;
        border: none;
        color: white;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: green;
          cursor: pointer;
        }

        &:active {
          border: none;
          transform: scale(0.9);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// STUFF FOR ANIMATIONS

.main__filter-hidden {
  animation: goLeft 1s ease-in-out;
  animation-fill-mode: forwards;
}

.main__filter-visible {
  animation: goRight 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes goLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}

@keyframes goRight {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

.main__shop-without-filter {
  animation: goUp 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

.main__shop-with-filter {
  animation: goDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes goUp {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}

@keyframes goDown {
  from {
    top: 80px;
  }
  to {
    top: 160px;
  }
}
