/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (max-width:1200px) {
    .content__title--white {
       font-size: 60px;
    }
    .white-section .white-container .content-block__item--white {
            width: 50%;
        }
    .main-contact .contact-title {
        width: 50%;
    }
    .main-contact .main-contact__form {
        gap: 70px;
        .contact-form {
            width: calc(50% - 35px);
        }
    }
}
@media screen and (max-width:1000px) {
    .services {
        .services-content {
            padding: 30px 0 30px 0;
            .services-list {                   
                .services-list__item {                                                 
                    .services-list__item--link {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .subscribe {
        padding: 50px 20px;
        .container {       
        .subscribe-content__inner {
            background-color: rgb(255, 255, 255, .5);
            border-radius: 20px;
            padding: 10px 10px 10px 20px;
        }
        .subscribe-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            gap: 20px;
            .subscribe-form_textarea {
                width: 80%;
            }
        }
    }
}
}

@media screen and (max-width:870px) {
    .white-section {
        &:before {
            opacity: .7;
        }             
    }
    .white-section .white-container .content-block__item--white {
        width: 70%;
    }      
    .about-content {
        padding-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;   
        -webkit-box-pack: center;   
            -ms-flex-pack: center;   
                justify-content: center;            
        .about-content__img {                        
            margin-left: 0;                     
        }        
        .content__title--white {
            text-align: center;            
        }
    }
    .subscribe {
        .subscribe-content__inner {
            width: 90%;            
        }
    }
    
    .blog {
        padding: 70px 0;
        .blog-content__inner {
            width: 70%;
            .content__title--white {
                margin-bottom: 40px;
            }
        }
    }  
}

@media screen and (max-width:810px) {
    #main_menu {
        display: none;
    }
    #hamburger_menu {
        display: block;
    }
    .white-section {
        padding: 150px 0;
    }
    .services {
        padding-top: 0px;
        &:before {
            opacity: .5;
        }       
        .services-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;                        
            -webkit-box-orient: vertical;                        
            -webkit-box-direction: reverse;                        
                -ms-flex-direction: column-reverse;                        
                    flex-direction: column-reverse;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;                           
            padding: 0;            
            .services-list {
                width: 70%;
                .services-list__item {
                    height: 60px;
                    .services-list__item--text {
                        padding: 15px 0;                   
                    }
                }                
                .services-list__item--icon {
                    width: 20%;
                    height: 20%;                                                          
                    }                     
            }
                .content__title--white {
                    margin-bottom: 10px;
                    padding: 20px;                 
                }              
        
            }
    
        }
    .gallery {
        &_grid {
            -ms-grid-columns: 50% 50%;
            grid-template-columns: 50% 50%;
            .big_pic {
                grid-area: span 1 / span 2;
            }
            .pic:last-child {
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2/3;
            }
        }
        .gallery-content__inner {
            width: 90%;
            .content__title {
                font-size: 60px;
            }
        }
    }
    
    .blog {
        .articles {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
    }
    .main-contact {
        padding-top: 50px;
        .contact-title {
            width: 90%;
            .content__title {
                font-size: 60px;
            }
        }
        .main-contact__form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 50px;
            .contact-form {
                width: 90%;
            }
        }
    }    
}
@media screen and (max-width:650px) {
    .footer {
        height: 170px;
    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        }
    }
}

@media screen and (max-width:600px) {
    .white-section .white-container .content-block__item--white .content__title--small  {
        font-size: 40px;
    }
    .about-content__img {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;                             
    }
    .about-content__inner {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;            

    }
    .services {         
        .services-content {
            .services-list {
                width: 90%;                     
                .services-list__item {                                                
                    .services-list__item--text {
                        width: 85%;                                       
                        }
                    .services-list__item--icon {
                        width: 15%;
                        height: 50%;                                                          
                        }
                                                     
                }      
                                 
            }        
               
        }
    }
    
    .blog {       
        .blog-content__inner {
            width: 90%;
        }
    }
}
    

@media screen and (max-width:450px) {    
    .content__title--white {
        font-size: 40px;                 
    }    
    
    .subscribe {
        .subscribe-content__inner {
            background-color: rgb(255, 255, 255, .7);
            border-radius: 5px;
            .subscribe__title {
                font-size: 26px;
            }                    
        }
        
    }
    
}
@media screen and (max-width:400px) {
    .services {
        .services-content {
            .services-list {
                .item-planet {
                    height: 80px;                             
                    padding: 0 5px;
                }
            }
            .services-title {
                margin-bottom: 5px;                
            }
        }
    }
    .services .item-planet .planet {
        overflow: hidden;
        vertical-align: middle;      
    }    
}