1​2body3&nbsp;background-color:#0004​5.button6&nbsp;display:inline-block7&nbsp;position:fixed8&nbsp;top:50%9&nbsp;left:50%10&nbsp;z-index:211&nbsp;border:2pxsolidrgba(#fff,0.6)12&nbsp;padding:20px32px13&nbsp;transform:translate(-50%,-50%)14&nbsp;font-family:sans-serif15&nbsp;text-transform:uppercase16&nbsp;color:rgba(#fff,0.8)17&nbsp;cursor:pointer18&nbsp;transition:border-color0.5s,background-color0.5s,color0.5s19​20&nbsp;&amp;:hover21&nbsp;&nbsp;background-color:#fff22&nbsp;&nbsp;border-color:transparent23&nbsp;&nbsp;color:#44424​25&nbsp;&nbsp;~.bg-126&nbsp;&nbsp;&nbsp;opacity:0