1@importurl('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900')2​3bgc=#1d1e224txt=#fff5drk=#3336lght=#efefef7grn=#07994b8on=#1da1f29tw=#ee097910thr=#1d1e2211​12colored(col)13&nbsp;backgroundcol14&nbsp;colorlighten(col,75%)15&nbsp;border-top2pxsolidlighten(col,10%)16&nbsp;border-bottom2pxsoliddarken(col,10%)17​18*19::before20::after21&nbsp;box-sizingborder-box22​23::-webkit-scrollbar24&nbsp;width6px