1.article-readmore&nbsp;2&nbsp;max-width620px3&nbsp;border-top1pxsolid#eeeeee4&nbsp;border-bottom1pxsolid#eeeeee5&nbsp;margin20px6&nbsp;positionrelative7&nbsp;8.readmore&nbsp;9&nbsp;max-width550px10&nbsp;height100%11&nbsp;overflowhidden12&nbsp;transitionheight200msease13​14.readmore-toggle15&nbsp;displayblock16&nbsp;width100%17&nbsp;text-alignright18&nbsp;clearboth19&nbsp;height40px20&nbsp;margin-top-16px21&nbsp;