.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 6px 0px 6px 10px
.fondo
  background-image: url("../assets/curso/images/tema1/fondo.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: rigth
  height: 300px
.color-custom
	background-color: #C4CFF6
	&::before
	  background-color:  #214BE5
.color-custom-1
	background-color: #F1FEFE
	&::before
	  background-color:  #F1FEFE
.sp1
  background-color: #00ACA7
.sp2
  background-color: #214BE5
.jumbotron
	background-color: #F6F6F6
	border-radius: .5rem
  margin-top: 5px
.jumbotron-1
	background-color: #AFE9E8
	border-radius: .5rem
.jumbotron-2
	background-color: #C7D3FF
	border-radius: .5rem
.jumbotron-3
	background-color: #214BE5
	border-radius: .5rem
.jumbotron-4
	background-color: #F6F6F6
	border-radius: .3rem
.jumbotron-5
	background-color: #214BE5
	border-radius: .3rem
.jumbotron-6
	background-color: #FFF3B7
.jumbotron-7
	background-color: #FFFFFF
.jumbotron-8
	background-color: #AFE9E8
	border-radius: .5rem
.jumbotron-9
	background-color: #C7D3FF
	border-radius: .5rem
	height: 780px
.jumbotron-10
  background-color: #E3E7F3
  border-radius: 5rem
.jumbotron-11
  background-color:#E4E9FC
.fondo-1
  background-color: #BCE8E7
  margin-top: -215px
  margin-left: 200px
.fondo-2
  background-color: #BCE8E7
.fondo-3
  background-color: #C7D1F6
  background-size: cover
  background-repeat: no-repeat
  background-position: left
.fondo-4
  background-image: url("../assets/curso/images/tema1/back_1.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: left
.fondo-5
  background: linear-gradient(175deg, rgba(197,218,244,1) 0%, rgba(229,242,255,1) 72%)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  margin-top: -165px
.fondo-6
  background-color: #E5F2FF
  background-size: cover
  background-repeat: no-repeat
  background-position: center
.fondo-7
  background: #FFFF
  background-size: cover
  background-repeat: no-repeat
  background-position: center
.margen-image
  margin-top: 80px
.margen-Bor
  margin-bottom: 250px
.margin-text
  margin-top: -940px
.borde
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
.borde-1
  border-top-left-radius:  20px
  border-top-right-radius: 20px
.cajon.color-primario 
    background-color: #C7D1F6
@keyframes flickerI
	0%
		opacity: 0.4
	5%
		opacity: 0.5
	10%
		opacity: 0.6
	15%
		opacity: 0.85
	25%
		opacity: 0.5
	30%
		opacity: 1
	35%
		opacity: 0.1
	40%
		opacity: 0.25
	45%
		opacity: 0.5
	60%
		opacity: 1
	70%
		opacity: 0.85
	80%
		opacity: 0.4
	90%
		opacity: 0.5
	100%
		opacity: 1
.img_bomb
  opacity: 1
  position: relative
  margin-rigth: -50px
  img
    position: relative
.img_bomb
  ::before 
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 1px;
    right: 220px;
    background: #ffd400;
    border-radius: 300px;
    opacity: .1;
    animation: flickerI 2s linear infinite reverse;
    filter: blur(10px);
.h1, .titulo-principal__numero span, .h2, .h3, .h4, .h5, .h6 
    font-family: "Roboto", sans-serif
    font-weight: 900
    line-height: 1.2
    margin: 0 0 0.75em
    color: black
.bg-color
  background-image: linear-gradient(355deg,  #f1fafe 60%, #F2FAFE 10%, #F1EEFC 100%)
.color-flip
    background-color: #F6F6F6
.tarjeta.color-secundario * 
    color: black
.tarjeta.color-infografica
    background-color: #F6F6F6
.color-custom-1
	background-color:  #B1E6E5
	&::before
	  background-color:  #00BAB5
.color-custom-3
	background-color:  #E4F5F5
	&::before
	  background-color:  #00BAB5 
.color-custom-2
	background-color:  #FFB7E0
	&::before
	  background-color:  #EE0088
.color-infografica
	background-color: #FFD400 !important
  border-color: black !important
	&::before
	  background-color:  #00BAB5
.cajon-b.color-primario::before 
    background-color: #DFE6FC
.cajon-b.color-primario-1::before 
    background-color: #FFCFEB
.cajon-b.color-primario-2::before 
    background-color: #BCEBFF
.elemento-color 
    background-color: #F6F6F6
.tabs-b__tab:active, .tabs-b__tab:focus, .tabs-b__tab:hover 
    background-color: #AABCFE
.banner-interno__titulo__icono
	background-color: #12263F !important
.imagenes 
	position: absolute
	left: 1px 
	top: 2px
.h1, .titulo-principal__numero span, .titulo-principal__numero span, .h2, .h3, .h4, .h5, .h6 
    font-family: "Roboto", sans-serif
    font-weight: 900
    line-height: 1.2
    margin: 0 0 0.75em
    color: white
.bloque-texto-g 
    position: relative
    display: flex
    justify-content: flex-end
    height: 100%
figcaption 
    display: block
    background-color: #DEE4F0
    padding: 0.75em 1.5em
    font-size: 0.8em
    font-weight: 700
.linea-tiempo-a.color-primario .linea-tiempo-a__icon__container::before 
    background-color: #7894FB
.linea-tiempo-a.color-primario .linea-tiempo-a__icon__container 
    background-color: #7894FB
    color: #12263F
.linea-tiempo-a__row::before 
    background-color: #FF0092
.tabs-b__tab 
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px
    background-color: #C0CBF5
    border-right: 2px solid #AFAFAF
    border-bottom: 2px solid #AFAFAF
    cursor: pointer
.custom_box_left     
  position: relative 
  padding: 2.5rem 1.5rem 
  background-color: #B1ECEB
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: -50%
    width: 50%
    height: 100%
    background-color: #B1ECEB
    z-index: 0
.onTop
  position: relative
  z-index: 10
.etiqueta--blue
  color: #214BE5
.acordion__accion__btn--a 
    background-color: #00BAB5
    box-shadow: 0px 3px 5px 0px rgba(17, 30, 97, 0.3)
.tarjeta.color-primario 
    background-color: #00176E
.boton.color-acento-contenido, .color-acento-contenido.boton--sm 
    background-color: #FFD400
.boton.color-acento-contenido:active, .color-acento-contenido.boton--sm:active, .boton.color-acento-contenido:focus, .color-acento-contenido.boton--sm:focus, .boton.color-acento-contenido:hover, .color-acento-contenido.boton--sm:hover 
    background-color: #FFD400
.tarjeta 
    border-radius: 1px
#carouselExampleIndicators
  .row
    padding: 2rem 0 1.5rem 0
    .col-lg-1
      &--borde
        border-right: $color-secundario dashed 2px
        margin: 1rem

.carousel-inner
  background-color: #E6F8F8
  border-radius: 1rem

button.carousel-control-next, button.carousel-control-prev
  background-color: #0D4AAD !important
  opacity: 1 !important
  width: 70px

button.carousel-control-next
  border-radius: 0 1rem 1rem 0
  
button.carousel-control-prev
  border-radius: 1rem 0 0 1rem

.carousel-indicators
  [data-bs-target]
    background-color: $color-primario
.linea-tiempo-a__row::after 
    width: 20px
    height: 20px
    background: #FF0092
.linea-tiempo-a.color-primario .linea-tiempo-a__row::before 
    background-color: #FFF
.custom_box_right   
  position: relative 
  padding: 2.5rem 1.5rem 
  background-color: #E5F2FF
  p
    position: relative 
  &:before 
    content: ""
    position: absolute
    top: 0
    left: 100%
    width: 50%
    height: 100%
    background-color: #E5F2FF
    z-index: 0

.alignLeft
  text-align: left !important

.onTop
  position: relative
  z-index: 10
.tarjeta--container > .tarjeta:first-child 
    border-top-left-radius: 1px
    border-bottom-left-radius: 1px
.tarjeta--container > .tarjeta:last-child 
    border-top-right-radius: 1px
    border-bottom-right-radius: 1px
.text-center 
    text-align: left !important

    font-family: "Roboto", sans-serif
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    color: #FFF
    margin-bottom: 1em








    



  