@import ../../../styles/helpers

.container
  display: flex
  height: 3rem
  
.logo
  height: 100%

.bemLogo
  +m
    display: none

.admDaysLogo
  height: 80% 
  margin-top: auto
  margin-bottom: auto
  +m
    height: auto
    width: 60vw

.divider
  background: #777E90
  border-radius: 1px
  width: 1px
  height: 60%
  margin-top: auto
  margin-bottom: auto
  margin-left: 1.5rem
  margin-right: 1.5rem
  +m
    display: none

  