@import "../../common/common"

.search

  font-size: 1.1em

  &__form
    display: flex
    padding: 0.1em

    background: $yandex-yellow
    height: 2.1663em
    border-radius: .625em
    position: relative

  .search__input-block
    flex-basis: 100%

  &__input
    height: 100%
    width: 100%
    border: none
    border-radius: .625em .375em .375em .625em
    position: relative
    color: black
    padding-left: 0.8em
    padding-right: 6em
    font-size: .8em

    &:focus
      outline: none

  &__icons
    position: absolute
    right: 5em
    top: .2em

  &__commit
    font-size: .9em
    padding: 0 1em

    border: none
    background: none
    cursor: pointer
    flex-basis: 4em