// contact
.contact
    margin: 30px 0 60px
    +r(1280)
        margin: 30px 0 40px
    +r(1024)
        margin: 20px 0 30px
    +r(768)
        margin: 20px 0

.contact__content
    padding: 60px
    +r(1280)
        padding: 40px
    +r(768)
        padding: 15px

    .block__title
        justify-content: space-between

    .contact__item
        grid-gap: 60px
        +r(1600)
            grid-gap: 50px
        +r(1280)
            grid-gap: 20px
        +r(768)
            padding-top: 30px
            flex-direction: column
    .location
        flex-basis: 50%
        max-width: 50%
        border: 1px solid $purple
        border-radius: 15px
        margin: 70px 0 50px
        padding: 30px
        +r(1280)
            flex-basis: 65%
            max-width: 65%
            padding: 20px
            margin: 50px 0 20px
        +r(1024)
            margin: 30px 0 20px
            flex-basis: 40%
            max-width: 40%
        +r(768)
            margin: 0
            padding: 15px
            flex-basis: 100%
            max-width: 100%

        .flex
            justify-content: space-between
            align-items: baseline

        .text--indent
            padding-top: 60px

        .contact--link
            +r(1024)
                flex-direction: column
            a
                font-size: 16px
                line-height: 100%
                +med
                color: $b
                +r(1280)
                    font-size: 16px
                +r(1024)
                    font-size: 14px

    .contacts
        flex-basis: 30%
        max-width: 30%
        border: 1px solid $purple
        border-radius: 15px
        margin: 70px 0 50px
        padding: 30px
        +r(1280)
            padding: 20px
            margin: 50px 0 20px
        +r(1024)
            margin: 30px 0 20px
        +r(768)
            margin: 0
            padding: 15px
            flex-basis: 100%
            max-width: 100%

        .contact__text--item
            font-size: 20px
            line-height: 160%
            +reg
            +r(1280)
                font-size: 16px

    .contact__block
        grid-gap: 60px
        justify-content: space-between
        +r(1600)
            grid-gap: 50px
        +r(1280)
            grid-gap: 20px
        +r(768)
            padding-top: 20px
            flex-direction: column

        .location
            margin: 0
            flex-basis: 60%
            max-width: 60%
            +r(1280)
                flex-basis: 51%
                max-width: 51%
            +r(768)
                flex-basis: 100%
                max-width: 100%

        .text--indent
            padding-top: 60px
            +r(768)
                padding: 0

        .contacts
            margin: 0
            flex-basis: 40%
            max-width: 40%
            +r(1280)
                max-width: 50%
                flex-basis: 50%
            +r(768)
                flex-basis: 100%
                max-width: 100%

    .contact__title
        padding: 15px 0
        +r(1280)
            padding-top: 10px
            font-size: 16px
        +r(768)
            font-size: 14px

    .contact__text
        font-size: 40px
        line-height: 120%
        +med
        +r(1600)
            font-size: 35px
        +r(1280)
            font-size: 30px
        +r(1024)
            font-size: 25px
        a
            font-size: 20px

.footer
    .form__content
        justify-content: space-between
        grid-gap: 30px
        +r(900)
            flex-wrap: wrap
        +r(768)
            grid-gap: 0
            flex-direction: column

    .block__title
        flex-basis: 30%
        max-width: 30%
        +r(900)
            flex-wrap: wrap
            flex-basis: 100%
            max-width: 100%
        br
            +r(1024)
                display: none


    .form__block
        max-width: 65%
        flex-basis: 65%
        +r(1024)
            flex-basis: 100%
            max-width: 100%

    .form__block-1
        justify-content: end
        grid-gap: 30px
        +r(1600)
            grid-gap: 50px
        +r(1280)
            grid-gap: 30px
        +r(1024)
            grid-gap: 15px
        +r(768)
            padding: 40px 0 0
            grid-gap: 0
            flex-direction: column

    .input
        margin-bottom: 30px
        width: 100%

    .label
        +r(768)
            margin-bottom: 20px

    .form__block-2
        display: flex
        justify-content: end
        grid-gap: 30px
        +r(1024)
            grid-gap: 15px
        +r(768)
            flex-direction: column

    .form__group
        max-width: 100%
        flex-basis: 100%

.contact__text--link
    margin-right: 15px
    &:last-child
        margin-right: 0
.contact__text--link svg
    margin-left: 3px