@import '../../../assets/style/var'

.settings-bar
    width: 100%
    font-family: $font2
    color: $white
    font-weight: regular
    font-size: 2vw
    margin: 0 0 2vw 0
    display: grid
    grid-auto-flow: column
    grid-gap: 0.7vw

.radio-input
    display: none

.radio-label
    display: flex
    flex-flow: row
    justify-content: center
    align-items: center
    width: 100%
    padding: 0.5em
    border-radius: 3px
    background: $prime-dark
    cursor: pointer
    transition: background 0.1s

.radio-label:hover
    background-color: $green-light

.radio-input:checked + .radio-label
    background-color: $green-light

