@import '../../../assets/style/var'

// ##########################################################
// ##########################################################
// ##########################################################

.crypto
    height: 10vw
    width: 100%
    font-family: $font2
    color: $white
    line-height: 1.3em
    font-weight: regular
    font-size: 2vw
    padding: 2vw
    margin: 0 0 0.7vw 0
    display: grid
    grid-template-columns: 4vw 15% 15% 20% 10% auto 5vw
    align-content: center
    grid-column-gap: 1vw
    background-color: $second
    border-radius: 6px
    cursor: pointer

.crypto:hover
    background-color: $second-light

.logo
    width: 3vw
    align-self: center

.asset-name
    align-self: center
    font-size: 2.5vw

.percentage
    align-self: center
    text-align: right
    font-size: 2vw
    margin-right: 1vw

.labels
    text-align: left
    align-self: center
    margin-left: 1vw

.asset-numbers
    text-align: right
    align-self: center
    margin-right: 1vw

.total
    text-align: right
    align-self: center
    font-size: 2.5vw
    margin-right: 1vw

.buttons
    display: flex
    flex-direction: column
    justify-content: space-between

.buy-button
    padding: 0.5vw
    border-radius: 3px
    border: 1px solid black
    font-size: 2vw
    background-color: $green
    color: $white
    text-align: center
    cursor: pointer

.buy-button:hover
    background-color: $green-light

.sell-button
    padding: 0.5vw
    border-radius: 3px
    border: 1px solid black
    font-size: 2vw
    background-color: $red
    color: $white
    text-align: center
    cursor: pointer

.sell-button:hover
    background-color: $red-light

@media only screen and (min-width: 768px)
    .crypto
        height: 5vw
        font-size: 1vw
        padding: 1vw
        margin: 0 0 0.7vw 0
        grid-template-columns: 2vw 15% 15% 20% 10% auto 2.5vw
        grid-column-gap: 0.5vw

    .logo
        width: 1.5vw

    .asset-name
        font-size: 1.25vw

    .percentage
        font-size: 1vw
        margin-right: 0.5vw

    .labels
        margin-left: 0.5vw

    .asset-numbers
        margin-right: 0.5vw

    .total
        font-size: 1.25vw
        margin-right: 0.5vw

    .buy-button
        padding: 0.25vw
        border-radius: 1.5px
        font-size: 1vw
        border: 0.5px solid black

    .sell-button
        padding: 0.25vw
        border-radius: .5px
        font-size: 1vw
        border: 0.5px solid black
