@import '../../../assets/style/var'

.choice-container
    height: 100%
    background-color: $second-dark  
    margin: 0 0 2vw 0
    padding: 0.7vw
    font-weight: bold

.header
    height: 20%
    color: $white 
    text-align: center
    font-size: 2.5vw
    padding: 2vw
    
.buttons
    height: 80%
    display: grid
    grid-template-columns: auto auto
    grid-gap: 0.7vw
    
button
    color: $white    
    background-color: $second
    cursor: pointer
    padding: 2vw
    border: none
    border-radius: 3px
    font-size: 3vw
    display: grid
    grid-template-columns: auto auto
    align-content: center
    overflow: hidden

button:hover
    background-color: $second-light   

.logo
    width: 7vw
    align-self: center
    margin-right: 2vw
    margin-left: 2vw

.chosen-container
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-evenly
    background-color: $second-dark  
    margin: 0 0 2vw 0
    font-weight: bold

.chosen-one
    color: $white    
    background-color: $second
    padding: 2vw
    border: none
    border-radius: 3px
    font-size: 5vw
    display: grid
    grid-template-columns: 14vw auto
    align-content: center
    justify-content: center
    margin: 0.7vw
   

  
.big-logo
    width: 10vw
    align-self: center
    margin-right: 4vw


@media only screen and (min-width: 768px)
    .choice-container
        margin: 0 0 1vw 0
        padding: 0.35vw

    .header
        font-size: 1.25vw
        padding: 1vw
        
    .buttons
        grid-gap: 0.35vw
        
    button
        padding: 1vw
        border-radius: 1.5px
        font-size: 1.5vw

    .logo
        width: 35vw
        margin-right: 1vw
        margin-left: 1vw

    .chosen-container
        margin: 0 0 1vw 0

    .chosen-one
        padding: 1vw
        border-radius: 1.5px
        font-size: 2.5vw
        grid-template-columns: 7vw auto
        margin: 0.35vw
    
    .big-logo
        width: 5vw
        margin-right: 2vw

