@import '../../variables.sass'

.HomeTop
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  max-width: 1200px
  margin: 70px auto
  &-card
    position: relative
    width: 100%
    margin-bottom: 50px
    padding: 30px
    box-sizing: border-box
    border-radius: 12px
    background-color: $color-secondary-contrast
    box-shadow: 1px 1px 50px #DDD
    text-align: center
    img
      position: absolute
      width: 70px
      left: 50%
      top: 0
      transform: translate(-35px, -35px)
    p
      margin: 0

@media (min-width: 767px)
  .HomeTop
    flex-wrap: nowrap
    &-card
      width: 30%
      margin-bottom: 0
