@import ../../styles/helpers

.container
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 64px
  text-align: center

.form
  width: 50%
  margin-top: 32px
  & > .button
    width: 100%
    margin-top: 32px
  .field
    margin-top: 8px

.fileContainer
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-top: 16px
