
body
  color: #F5F8FC
  background: #36415C
  
#title
  color: #212633
  background: #F5F8FC

#root
  
#editor
  color: #212633
  background: #F5F8FC
#preview
  color: #212633
  background: #F5F8FC

img 
    display: block
    max-width: 80%
    margin: 2rem auto