.tags
	margin: 0

	+xs
		width: 100%

	&__list
		display: flex
		align-items: center
		overflow-x: auto
		height: 36px

		+smd
			margin-right: -16px

	&__item
		display: flex
		justify-content: center
		align-items: center
		width: auto
		height: 32px
		margin-right: 8px
		border: 1px solid $border-grey
		border-radius: 100px
		background: $black

	&__link
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		padding: 8px 11px
		font-size: 12px
		line-height: 1.5em
		color: $white
		text-transform: uppercase
		letter-spacing: 0.1em
		text-align: center
		white-space: nowrap;

		+safari
			padding: 9px 11px 6px 11px
