.services
    width: 100%
    &__background
        background-image: url(../resources/images/backgraund/services/background.png)
        height: 560px
        width: 100%
        margin: 0 0 0 rem(-193px)
        padding: 195px 0 rem(160px) 0
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
    &__title
        //
    &__container
        margin: 490px 0 0 0
        min-width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        width: 100%
        max-height: 130px 
        background-color: #e5f4f4
        border-radius: 0.313rem
        margin: 30px 30px 0 0
        padding: 0
        display: flex
        flex-wrap: wrap
        align-items: center
        transition-duration: 0.5s
        &-main
            width: 100%
            margin: 29.5px 0
            margin-left: -15px
            justify-content: space-between
            align-items: center
        &-title
            align-items: center
        &-titleText
            font-family: "DM Sans"
            font-style: normal
            font-size: 24px
            font-weight: 700
            color: #000000
            letter-spacing: normal
            line-height: 2.708rem
            text-align: left
            font-style: normal
            letter-spacing: normal
            line-height: normal
        &-arrow
            padding: 10px
            transition-duration: 0.5s
            transition-property: transform
        &-image
            padding: 0
            margin-left: 40px
    &__column
        width: 50%
        min-height: 300px
        margin: 0
        align-self: flex-start
    &__visit
        background-image: url(../resources/images/backgraund/services/visitback.png)
        border-radius: 0.313rem
        height: 163px
        margin: rem(130px) 0
        padding: rem(50px) rem(100px)
        display: flex
        justify-content: start
        align-items: center
        &-text
            font-family: "DM Sans"
            font-size: 24px
            font-weight: 700
            color: #ffffff
            letter-spacing: normal
            line-height: 2.708rem
            text-align: center
            letter-spacing: normal
            margin: 20px
        &-button
            width: 160px
            height: 60px
            border-radius: 8px
            background-color: #ffffff
            border: none
            margin: 20px
            &:hover
                background-color: #af9768
        &-buttonText
            font-family: "DM Sans"
            font-size: 16px
            font-weight: 500
            color: #009395
            letter-spacing: 0.017rem
            line-height: 2.708rem
            text-align: center
    &__slider
        background-color: #ffffff
        width: 100%
        margin-top: auto
        margin-right: 30px
        display: flex
        flex-wrap: wrap
        &-item
            width: 100%
            margin: 0
            padding: 20px
            border: 1px solid #EEEEEE
            align-items: center
            display: flex
            flex-wrap: wrap
        &-text
            width: 70%
            font-family: "DM Sans"
            font-style: normal
            font-size: rem(16px)
            font-weight: 500
            color: #333333
            letter-spacing: 0.017rem
            line-height: rem(26px)
            text-align: left
        &-more
            font-family: "DM Sans"
            font-style: normal
            font-size: rem(16px)
            font-weight: 500
            color: #009395
            letter-spacing: 0.014rem
            line-height: 2.708rem
            text-align: left
    &__item-more
        background-color: #ffffff
        width: 100%
        margin-top: auto
        margin-right: 30px
        display: none
        flex-wrap: wrap

    &__box1, &__box2, &__box3, &__box4
        display: none
        padding: 0
        padding-right: 30px

.showS
    display: flex !important

.arrowChange
    transform: rotate(90deg)

.backChange
    background-color: #b2dedf

.backChange2
    background-color: #e5f4f4
            


@media ( max-width: 1180px )
    .services__container
        justify-content: center
    .services__item
        width: 100%
        &-titleText
            font-size: rem(22px)
    .services__background
        padding: 193px rem(60px)

@media ( max-width: 960px )
    .services
        padding: 0 30px
        &__background
            padding: 193px rem(50px)
        &__item
            width: 100%
            margin-right: 0
        &__column
            width: 100%
        &__slider
            margin-right: 0px
        &__box1, &__box2, &__box3, &__box4
            padding-right: 0

@media ( max-width: 640px )
    .services
        padding: 0 10px
        &__background
            padding: 193px rem(50px)
            background-position: -890px 0px
        &__item-titleText
            font-size: 0.9rem
    .services__item
        width: 100%
    .services__visit
        display: flex
        flex-wrap: wrap
        justify-content: center
        height: 240px
        padding: rem(20px) rem(30px)
        
@media ( max-width: 450px )
    .services
        &__background
            background-size: cover
            max-height: 280px
            background-position: -230px 0px
            padding: 65px 10px 0px 20px
        &__container
            margin-top: 200px
        