footer
    background: $bg_fon_nav
    padding: 50px 0px

.footer_cont
    @include flex (row, space-between, flex-start, wrap)


.footer_block
    padding-bottom: 30px
    h3
        color: $color_text_main
        font-size: 22px
        text-transform: uppercase
        padding-bottom: 8px
    p
        font-size: 18px
        color: #aaa
        a
            text-decoration: none
            list-style: none
            color: #aaa
