*, *::after, *::before 
    margin: 0;padding: 0;box-sizing: border-box

.container 
    height: 100vh
    display: grid
    place-items: center
    .box
        width: 100px
        height: 100px
        background-color: #333
        display: grid
        place-items: center
        color: #fff
       
        transform: scale(1)
        &:hover
            transform: scale(1.2)
           
    .box-1
        transition-timing-functione: ease
    .box-2
        transition-timing-functione: linear    
    .box-3
        transition-timing-functione: ease-in
    .box-4
        transition-timing-functione: ease-out
    .box-5
        transition-timing-functione: ease-in-out    