$color-can-can: #D89999
$color-coral-tree: #AE7C78
$color-white: #ffffff
$font-main: 'Montserrat', sans-serif
$font-title: 'Playfair Display', serif
$border: 1px solid $color-coral-tree

@mixin flex ($ai)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: $ai