//
//  Icons variables
//  _____________________________________________
@icon-font__color: @color-black;
@icon-font__size: 1.5rem;

@icon__height: 2.6rem;
@icon__width: 2.6rem;

@icons__font-path: '@{baseDir}fonts/theme-default';
@icons__font-name: 'theme-default';

@icon-single-position: "\ea03";
@icon-bulb-63: "\ea05";
@icon-zoom-e: "\ea06";
@icon-box: "\ea07";
@icon-multiple-11: "\ea08";
@icon-shop: "\ea0a";
@icon-volume-98: "\ea0b";
@icon-store: "\ea0c";
@icon-ranking: "\ea0d";
@icon-worl-marker: "\ea0f";
@icon-chart-bar-33: "\ea10";
@icon-zoom-88: "\ea12";
@icon-trash: "\ea13";
@icon-account: "\ea14";
@icon-button-power: "\ea15";
@icon-edit: "\ea16";
@icon-n-edit: "\ea17";
@icon-down: "\ea18";
@icon-prev: "\ea19";
@icon-next: "\ea1a";
@icon-up: "\ea1b";
@icon-sale: "\ea1c";
@icon-new: "\ea1d";
@icon-barcode: "\ea1e";
@icon-bag-20: "\ea1f";
@icon-credit-card: "\ea20";
@icon-present: "\ea21";
@icon-show-to-hide: "\ea22";
@icon-i-sorting: "\ea23";
@icon-cart: "\ea24";
@icon-square-simple-left: "\ea25";
@icon-square-simple-right: "\ea26";
@icon-logo-fb-simple: "\ea27";
@icon-logo-flickr: "\ea28";
@icon-logo-google-plus: "\ea29";
@icon-logo-instagram: "\ea2a";
@icon-logo-linkedin: "\ea2b";
@icon-logo-pinterest: "\ea2c";
@icon-logo-rss: "\ea2d";
@icon-logo-twitter: "\ea2e";
@icon-logo-vimeo: "\ea2f";
@icon-logo-whatsapp: "\ea30";
@icon-logo-youtube: "\ea31";
@icon-app: "\ea32";
@icon-gift-registry: "\ea33";
@icon-building: "\ea34";
@icon-bullet-list-69: "\ea35";
@icon-comment-reflected: "\ea36";
@icon-m-check: "\ea37";
@icon-code: "\ea38";
@icon-delivery-fast: "\ea39";
@icon-headphones-mic: "\ea3d";
@icon-security: "\ea3e";
@icon-metrics: "\ea40";
@icon-mobile: "\ea41";
@icon-move-down: "\ea42";
@icon-move-up: "\ea43";
@icon-location: "\ea45";
@icon-reload: "\ea47";
@icon-replay: "\ea48";
@icon-responsive: "\ea49";
@icon-rss: "\ea4a";
@icon-single-folded: "\ea4d";
@icon-swap-horizontal: "\ea4e";
@icon-swap-vertical: "\ea4f";
@icon-search: "\ea50";
@icon-award: "\ea52";
@icon-arrow-right-thin: "\ea53";
@icon-arrow-left-thin: "\ea54";
@icon-arrow-up-thin: "\ea55";
@icon-arrow-down-thin: "\ea56";
@icon-checkmark: "\ea57";
@icon-remove: "\ea58";
@icon-collapse: "\ea59";
@icon-flag: "\ea5f";
@icon-clock: "\ea60";
@icon-time-clock: "\ea61";
@icon-wand-99: "\ea62";
@icon-quote: "\ea63";
@icon-logo-skype: "\ea66";
@icon-access-key: "\ea68";
@icon-ice-cream-22: "\ea69";
@icon-warning: "\ea6a";
@icon-network: "\ea6b";
@icon-coupon: "\ea6e";
@icon-single-copies: "\ea6f";
@icon-bag-add-21: "\ea71";
@icon-wink-06: "\ea72";
@icon-expand: "\ea73";
@icon-centralize: "\ea75";
@icon-list: "\ea77";
@icon-grid: "\ea78";
@icon-wishlist-full: "\ea7a";
@icon-wishlist-remove: "\ea7b";
@icon-wishlist-empty: "\ea7c";
@icon-update: "\ea7d";
@icon-star: "\ea7e";
@icon-settings: "\ea7f";
@icon-pointer-up: "\ea80";
@icon-pointer-down: "\ea81";
@icon-info: "\ea82";
@icon-calendar: "\ea83";
@icon-envelope: "\ea84";
@icon-compare-empty: "\ea85";
@icon-compare-full: "\ea87";
@icon-arrow-down: "\ea88";
@icon-arrow-up: "\ea89";
@icon-download: "\ea8a";
@icon-private: "\ea8b";
@icon-star-empty: "\ea8c";
@icon-print: "\ea8d";
@icon-success: "\ea8e";
@icon-error: "\ea8f";
@icon-help: "\ea91";
@icon-menu: "\ea92";
@icon-bell: "\ea93";
@icon-measure-17: "\ea94";
@icon-measuring-cup: "\ea95";
@icon-scale-3: "\ea96";
@icon-measurement: "\ea97";

.icon-single-position::before {
	content: @icon-single-position;
}

.icon-bulb-63::before {
	content: @icon-bulb-63;
}

.icon-zoom-e::before {
	content: @icon-zoom-e;
}

.icon-box::before {
	content: @icon-box;
}

.icon-multiple-11::before {
	content: @icon-multiple-11;
}

.icon-shop::before {
	content: @icon-shop;
}

.icon-volume-98::before {
	content: @icon-volume-98;
}

.icon-store::before {
	content: @icon-store;
}

.icon-ranking::before {
	content: @icon-ranking;
}

.icon-worl-marker::before {
	content: @icon-worl-marker;
}

.icon-chart-bar-33::before {
	content: @icon-chart-bar-33;
}

.icon-zoom-88::before {
	content: @icon-zoom-88;
}

.icon-trash::before {
	content: @icon-trash;
}

.icon-account::before {
	content: @icon-account;
}

.icon-button-power::before {
	content: @icon-button-power;
}

.icon-edit::before {
	content: @icon-edit;
}

.icon-n-edit::before {
	content: @icon-n-edit;
}

.icon-down::before {
	content: @icon-down;
}

.icon-prev::before {
	content: @icon-prev;
}

.icon-next::before {
	content: @icon-next;
}

.icon-up::before {
	content: @icon-up;
}

.icon-sale::before {
	content: @icon-sale;
}

.icon-new::before {
	content: @icon-new;
}

.icon-barcode::before {
	content: @icon-barcode;
}

.icon-bag-20::before {
	content: @icon-bag-20;
}

.icon-credit-card::before {
	content: @icon-credit-card;
}

.icon-present::before {
	content: @icon-present;
}

.icon-show-to-hide::before {
	content: @icon-show-to-hide;
}

.icon-i-sorting::before {
	content: @icon-i-sorting;
}

.icon-cart::before {
	content: @icon-cart;
}

.icon-square-simple-left::before {
	content: @icon-square-simple-left;
}

.icon-square-simple-right::before {
	content: @icon-square-simple-right;
}

.icon-logo-fb-simple::before {
	content: @icon-logo-fb-simple;
}

.icon-logo-flickr::before {
	content: @icon-logo-flickr;
}

.icon-logo-google-plus::before {
	content: @icon-logo-google-plus;
}

.icon-logo-instagram::before {
	content: @icon-logo-instagram;
}

.icon-logo-linkedin::before {
	content: @icon-logo-linkedin;
}

.icon-logo-pinterest::before {
	content: @icon-logo-pinterest;
}

.icon-logo-rss::before {
	content: @icon-logo-rss;
}

.icon-logo-twitter::before {
	content: @icon-logo-twitter;
}

.icon-logo-vimeo::before {
	content: @icon-logo-vimeo;
}

.icon-logo-whatsapp::before {
	content: @icon-logo-whatsapp;
}

.icon-logo-youtube::before {
	content: @icon-logo-youtube;
}

.icon-app::before {
	content: @icon-app;
}

.icon-gift-registry::before {
	content: @icon-gift-registry;
}

.icon-building::before {
	content: @icon-building;
}

.icon-bullet-list-69::before {
	content: @icon-bullet-list-69;
}

.icon-comment-reflected::before {
	content: @icon-comment-reflected;
}

.icon-m-check::before {
	content: @icon-m-check;
}

.icon-code::before {
	content: @icon-code;
}

.icon-delivery-fast::before {
	content: @icon-delivery-fast;
}

.icon-headphones-mic::before {
	content: @icon-headphones-mic;
}

.icon-security::before {
	content: @icon-security;
}

.icon-metrics::before {
	content: @icon-metrics;
}

.icon-mobile::before {
	content: @icon-mobile;
}

.icon-move-down::before {
	content: @icon-move-down;
}

.icon-move-up::before {
	content: @icon-move-up;
}

.icon-location::before {
	content: @icon-location;
}

.icon-reload::before {
	content: @icon-reload;
}

.icon-replay::before {
	content: @icon-replay;
}

.icon-responsive::before {
	content: @icon-responsive;
}

.icon-rss::before {
	content: @icon-rss;
}

.icon-single-folded::before {
	content: @icon-single-folded;
}

.icon-swap-horizontal::before {
	content: @icon-swap-horizontal;
}

.icon-swap-vertical::before {
	content: @icon-swap-vertical;
}

.icon-search::before {
	content: @icon-search;
}

.icon-award::before {
	content: @icon-award;
}

.icon-arrow-right-thin::before {
	content: @icon-arrow-right-thin;
}

.icon-arrow-left-thin::before {
	content: @icon-arrow-left-thin;
}

.icon-arrow-up-thin::before {
	content: @icon-arrow-up-thin;
}

.icon-arrow-down-thin::before {
	content: @icon-arrow-down-thin;
}

.icon-checkmark::before {
	content: @icon-checkmark;
}

.icon-remove::before {
	content: @icon-remove;
}

.icon-collapse::before {
	content: @icon-collapse;
}

.icon-flag::before {
	content: @icon-flag;
}

.icon-clock::before {
	content: @icon-clock;
}

.icon-time-clock::before {
	content: @icon-time-clock;
}

.icon-wand-99::before {
	content: @icon-wand-99;
}

.icon-quote::before {
	content: @icon-quote;
}

.icon-logo-skype::before {
	content: @icon-logo-skype;
}

.icon-access-key::before {
	content: @icon-access-key;
}

.icon-ice-cream-22::before {
	content: @icon-ice-cream-22;
}

.icon-warning::before {
	content: @icon-warning;
}

.icon-network::before {
	content: @icon-network;
}

.icon-coupon::before {
	content: @icon-coupon;
}

.icon-single-copies::before {
	content: @icon-single-copies;
}

.icon-bag-add-21::before {
	content: @icon-bag-add-21;
}

.icon-wink-06::before {
	content: @icon-wink-06;
}

.icon-expand::before {
	content: @icon-expand;
}

.icon-centralize::before {
	content: @icon-centralize;
}

.icon-list::before {
	content: @icon-list;
}

.icon-grid::before {
	content: @icon-grid;
}

.icon-wishlist-full::before {
	content: @icon-wishlist-full;
}

.icon-wishlist-remove::before {
	content: @icon-wishlist-remove;
}

.icon-wishlist-empty::before {
	content: @icon-wishlist-empty;
}

.icon-update::before {
	content: @icon-update;
}

.icon-star::before {
	content: @icon-star;
}

.icon-settings::before {
	content: @icon-settings;
}

.icon-pointer-up::before {
	content: @icon-pointer-up;
}

.icon-pointer-down::before {
	content: @icon-pointer-down;
}

.icon-info::before {
	content: @icon-info;
}

.icon-calendar::before {
	content: @icon-calendar;
}

.icon-envelope::before {
	content: @icon-envelope;
}

.icon-compare-empty::before {
	content: @icon-compare-empty;
}

.icon-compare-full::before {
	content: @icon-compare-full;
}

.icon-arrow-down::before {
	content: @icon-arrow-down;
}

.icon-arrow-up::before {
	content: @icon-arrow-up;
}

.icon-download::before {
	content: @icon-download;
}

.icon-private::before {
	content: @icon-private;
}

.icon-star-empty::before {
	content: @icon-star-empty;
}

.icon-print::before {
	content: @icon-print;
}

.icon-success::before {
	content: @icon-success;
}

.icon-error::before {
	content: @icon-error;
}

.icon-help::before {
	content: @icon-help;
}

.icon-menu::before {
	content: @icon-menu;
}

.icon-bell::before {
	content: @icon-bell;
}

.icon-measure-17::before {
	content: @icon-measure-17;
}

.icon-measuring-cup::before {
	content: @icon-measuring-cup;
}

.icon-scale-3::before {
	content: @icon-scale-3;
}

.icon-measurement::before {
	content: @icon-measurement;
}

& when (@media-common = true) {
	.lib-font-face(
		@family-name: @icons__font-name,
		@font-path: @icons__font-path,
		@font-weight: normal,
		@font-style: normal
	);
}