// Shortcuts

// Image replacement

.ir() {
    display: block; 
	text-indent: -999em; 
	overflow: hidden; 
}

.nir() {
	text-indent: 0;	
}

// Opacity

.op(@op: 0.5) {
	@fo: (@op * 100);
    filter: ~'alpha(opacity=@{fo})';
	opacity: @op;
}

// Positioning

.lt(@left: 0, @top: 0, @z-index: auto) {
	position: absolute;
	left: @left;
	top: @top;
	z-index: @z-index;
	right: auto;
	bottom: auto;
}

.rt(@right: 0, @top: 0, @z-index: auto) {
	position: absolute;
	right: @right;
	top: @top;
	z-index: @z-index;
	left: auto;
	bottom: auto;
}

.lb(@left: 0, @bottom: 0, @z-index: auto) {
	position: absolute;
	left: @left;
	bottom: @bottom;
	z-index: @z-index;
	right: auto;
	top: auto;
}

.rb(@right: 0, @bottom: 0, @z-index: auto) {
	position: absolute;
	right: @right;
	bottom: @bottom;
	z-index: @z-index;
	left: auto;
	top: auto;
}

.lc(@height: 0, @z-index: auto) {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -(@height / 2);
	z-index: @z-index;
	right: auto;
	bottom: auto;
}

.rc(@height: 0, @z-index: auto) {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -(@height / 2);
	z-index: @z-index;
	left: auto;
	bottom: auto;
}

.ct(@width: 0, @z-index: auto) {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -(@width / 2);
	z-index: @z-index;
	right: auto;
	bottom: auto;
}

.cb(@width: 0, @z-index: auto) {
	position: absolute;
	right: 50%;
	top: 0;
	margin-left: -(@width / 2);
	z-index: @z-index;
	left: auto;
	bottom: auto;
}

.cc(@width: 0, @height: 0, @z-index: auto) {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -(@width / 2);
	margin-top: -(@height / 2);
	z-index: @z-index;
	right: auto;
	bottom: auto;
}

.pp() {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.pa() {
	position: absolute;
}

.pr() {
	position: relative;
}

.ps() {
	position: static;
}

.pf() {
	position: fixed;
}

.pn() {
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}

.zi(@z-index: auto) {
	z-index: @z-index;
}

// Box

.bs() {
	box-sizing: border-box;	
}

.l() {
	float: left;
}

.r() {
	float: right;
}

.nf() {
	float: none;
}

.n() {
	display: none;
}

.i() {
	display: inline;
}

.bl() {
	display: block;
}

.ib() {
	display: inline-block;
}

.ce() {
	display: table-cell;
}

.tb() {
	display: table;
}

.vc() {
	display: table-cell;
	vertical-align: middle;
}

.vm() {
	vertical-align: middle;
}

.vt() {
	vertical-align: top;
}

.vb() {
	vertical-align: baseline;
}

.b(@width: auto, @height: auto) {
	display: block;
	width: @width;
	height: @height;
}

.w(@width: auto) {
	width: @width;
}

.h(@height: auto) {
	height: @height;
}

.mxw(@width: none) {
	max-width: @width;
}

.mxh(@height: none) {
	max-height: @height;
}

.miw(@width: 0) {
	min-width: @width;
}

.mih(@height: 0) {
	min-height: @height;
}

.ov() {
	overflow: visible;
}

.oh() {
	overflow: hidden;
}

.oa() {
	overflow: auto;
}

.os() {
	overflow: scroll;
}

.ox() {
	overflow-x: auto;
	overflow-y: hidden;
}

.oy() {
	overflow-x: hidden;
	overflow-y: auto;
}

.cl() {
	clear: both; 
}

.ncl() {
	clear: none; 
}

.cf() {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
	    clear: both;
	}
}

.vh() {
	visibility: hidden;
}

.vv() {
	visibility: visibile;
}

// Sizing

.p(@padding: 0) {
	padding: @padding;
}

.pr(@padding) {
	padding-right: @padding;
}

.pl(@padding: 0) {
	padding-left: @padding;
}

.pt(@padding: 0) {
	padding-top: @padding;
}

.pb(@padding: 0) {
	padding-bottom: @padding;
}

.ph(@padding: 0) {
	padding-left: @padding;
	padding-right: @padding;
}

.pv(@padding: 0) {
	padding-top: @padding;
	padding-bottom: @padding;
}

.m(@margin: 0) {
	margin: @margin;
}

.ml(@margin: 0) {
	margin-left: @margin;
}

.mr(@margin: 0) {
	margin-right: @margin;
}

.mt(@margin: 0) {
	margin-top: @margin;
}

.mb(@margin: 0) {
	margin-bottom: @margin;
}

.mh(@margin: 0) {
	margin-left: @margin;
	margin-right: @margin;
}

.mv(@margin: 0) {
	margin-top: @margin;
	margin-bottom: @margin;
}

.br(@border-color: transparent, @border-width: 1px, @border-style: solid) {
	border-color: @border-color;
	border-width: @border-width;
	border-style: @border-style;
}

.brn() {
	border: 0 none;
}


.mc() {
	margin-left: auto;
	margin-right: auto;
}

.nmc() {
	margin-left: 0;
	margin-right: 0;
}

// Backgrounds

.svg(@img) {
	background-image: url('../img/@{img}.svg');
}

.i(@img, @width, @height) {
	background-image: url('../img/@{img}.png');
	@media (min-resolution: 120dpi) { 
		background-image: url('../img/@{img}@1.5x.png');
		background-size: @width @height;
	}
	@media (min-resolution: 192dpi) { 
		background-image: url('../img/@{img}@2x.png');
		background-size: @width @height;
	}
}

.ij(@img, @width, @height) {
	background-image: url('../img/@{img}.jpg');
	@media (min-resolution: 120dpi) { 
		background-image: url('../img/@{img}@1.5x.jpg');
		background-size: @width @height;
	}
	@media (min-resolution: 192dpi) { 
		background-image: url('../img/@{img}@2x.jpg');
		background-size: @width @height;
	}
}

.ni() {
	background-image: none;
}

.bg(@img) {
	background-image: url('../img/@{img}.png');
}

.bgj(@img) {
	background-image: url('../img/@{img}.jpg');
}

.bgg(@img) {
	background-image: url('../img/@{img}.gif');
}

.nbg() {
	background-image: none;
}

.bgc(@color: transparent) {
	background-color: @color;
}

.bgp(@position: left top) {
	background-position: @position;
}

.bgp(@x, @y) {
	background-position: @x @y;
}

.bgs(@size: cover) {
	background-size: @size;
}

.bgs(@x, @y) {
	background-size: @x @y;
}

.bglt() {
	background-position: left top;
}

.bglb() {
	background-position: left bottom;
}

.bglc() {
	background-position: left center;
}

.bgrt() {
	background-position: right top;
}

.bgrb() {
	background-position: right bottom;
}

.bgrc() {
	background-position: right center;
}

.bgct() {
	background-position: center top;
}

.bgcb() {
	background-position: center bottom;
}

.bgcc() {
	background-position: center;
}

.bgn() {
	background-position: left top;
}

.bgf() {
	background-position: left center;
}

.bgh() {
	background-position: left bottom;
}

.bgr() {
	background-repeat: repeat;
}

.bgrx() {
	background-repeat: repeat-x;
}

.bgry() {
	background-repeat: repeat-y;
}

.bgnr() {
	background-repeat: no-repeat;
}

// Text

.tl() {
	text-align: left;
}

.tr() {
	text-align: right;
}

.tc() {
	text-align: center;
}

.ttu() {
	text-transform: uppercase;
}

.ttl() {
	text-transform: lowercase;
}

.ttn() {
	text-transform: none;
}

.tdu() {
	text-decoration: underline;
}

.tdn() {
	text-decoration: none;
}

.nw() {
	white-space: nowrap;
}

.wr() {
	white-space: normal;
}

// Font

.ff(@font-face: ~'Arial, Verdana, sans-serif') {
	font-family: @font-face;
}

.f(@font-size: 1em, @line-height: 1) {
	font-size: @font-size;
	line-height: @line-height;
}

.fs(@font-size: 1em) {
	font-size: @font-size;
}

.lh(@line-height: 1) {
	line-height: @line-height;
}

.c(@color: inherit) {
	color: @color;
}

.fw(@weight: 300) {
	font-weight: @weight;
}

.fb() {
	font-weight: bold;
}

.fi() {
    font-style: italic;
}

.fn() {
    font-weight: normal;
    font-style: normal;
}

// Links

.hu() {
	&:hover {
		text-decoration: underline;
	}
}

.hi() {
	&:hover {
		.bgh;
	}
}

.cp() {
	cursor: pointer;
}

// Other

.nb {
	&:before {
		.n;
	}
}

.na {
	&:after {
		.n;
	}
}