@media screen and (min-width: 1200px){
  .i100{
    .title,.introduce{
      font-size: 40px;
    }
    .introduce{
      margin-top:100px;
      .car{
        background-color: #fff;
        height: 320px;
        padding-top: 30px;
        border-bottom: 2px solid #1A8A2F;
        cursor: pointer;
        &:hover{
          box-shadow: 0px 10px 10px #ddd;
        }
        img{
          width: 100px;
          height: 100px;
          display: block;
          margin:  0 auto;
        }
        .tab-text{
          font-size: 24px;
          text-align: center;
          margin-top: 10px;
          font-weight: bold;
          color: #18922F;
        }
        .text{
          font-size: 14px;
          padding: 20px 30px 0 30px;
        }
      }
    }
    .comply{
      background-image: url("./img/inbg.png");
      background-size: auto 100%;
      .map{
        width: 780px;
        margin: 0 auto;
        display: block;
      }
      .mapTextLeft{
        width: 460px;
        display: block;
        margin-left: 200px;
        position: relative;
        top:-40px
      }
      .mapSubTextLeft{
        width: 360px;
        margin-left: 200px;
      }
      .mapTextRight{
        width: 310px;
        margin-left: 100px;
      }
    }
  }
  .firend{
    .section-title{
      width: 365px;
      display: block;
      height: auto;
      //height: 160px;
      margin: 0 auto;
      padding: 0 0 30px 0;
    }
    .subTitle{
      text-align: center;
      font-size: 30px;
      color: #1A8A2F;
      font-weight: bold;
    }
    .subTileImg{
      width: 375px;
      display: block;
      margin: 10px auto 0 auto;
    }
    .swiper-container{
      height: 80px;
      img{
        height: 100%;
      }
    }
    .items{
      img{
        width: 340px;
        //margin-bottom: 30px;
        display: block;
        margin: 0 auto 30px auto;
        &:hover{
          box-shadow: 0px 10px 10px #ddd;
        }
      }
    }
    .container-swiper{
      position: relative;
      .siderLeft{
        position: absolute;
        width: 28px;
        height: 35px;
        left: -28px;
        top:25px;
        cursor: pointer;
      }
      .siderRight{
        position: absolute;
        width: 28px;
        height: 35px;
        right: -28px;
        top:25px;
        cursor: pointer;
      }
    }


  }
  .news{
    .section-title{
      width: 289px;
      padding-top: 0;
      display: block;
      margin: 0 auto;
    }
    .newsItems{
      .new{
        height: 272px;
        margin-bottom: 15px;
        background-color: #fff;
        .left{
          float: left;
          img{
            height: 272px;
            width: 272px;
          }
        }
        .center{
          width: 70px;
          float: left;
          height: 272px;
          .date{
            text-align: center;
            padding-top: 30px;
            .day{
              font-size: 32px;
              color: #89D05C;
              font-weight: bold;
            }
            .month{
              font-size: 12px;
              position: relative;
              top:-10px;
              color: #222;
            }
          }
        }
        .right{
          float: left;
          width: 213px;
          .title{
            font-size: 16px;
            color: #222;
            font-weight: bold;
            padding: 20px 20px 20px 10px;
          }
          .text{
            color: #777;
            font-size: 12px;
            line-height: 22px;
            height: 100px;
            overflow: hidden;
            padding: 10px;
          }
          img{
            width: 134px;
            cursor: pointer;
            margin: 10px 0 0 10px;
          }
        }
        &.sub{
          .left{
            float: right;
          }
          .center{
            float: right;
          }
          .right{
            float: right;
          }
        }
      }
    }
  }
  .join{
    background-image: url("./img/joinBg.png");
    background-size: 100% 100%;
    .container{
      padding: 0 200px;
    }
    .a{
      display: block;
      margin-bottom: 50px;
    }
    .b{
      display: block;
      margin-bottom: 60px;
    }
    .c{
      display: block;
      margin-bottom: 60px;
    }
    .d{
      margin-bottom: 30px;
      display: block;
    }
    .e{
      display: block;
      margin:0 auto 30px auto;
    }
    .f{
      display: block;
      margin: 0 auto;
    }
  }
  .qrcode{
    .container{
      text-align: center;
    }
    .code{
      width: 268px;
      display: inline-block;
      margin: 0 40px;
    }
  }
}
@media screen and(min-width: 768px)and (max-width: 1200px){
  .i100{
    .title,.introduce{
      font-size: 30px;
    }

  }
}
@media screen and (max-width: 992px){


}
@media screen and (max-width: 768px){
  .i100{
    .title,.introduce{
      font-size: 16px;
    }
  }
}
.i100{
  .phone{
    position: fixed;
    right: 70px;
    top:200px;
    z-index: 100;
  }
 .title{
   .titleEn{
      width: 16.5em;
      display: block;
      margin: 40px auto 0 auto;
   }
   .titleCn{
     width: 7em;
     display: block;
     margin: 0 auto;
     position: relative;
     top:-.3em
   }
   .subTitle{
     width: 4.5em;
     display: block;
     margin: 0.2rem auto;
   }
 }
  .introduce{
    .car{
      margin-top: 2rem;
      background-color: #fff;
      //height: 100px;
    }

  }
}