/*imports and variables*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800,800i');
@primary: #C4A27B;
@primary-dark: #4A4A4A;

/*Typography*/

* {
    font: 700 16px/24px Open Sans;
    color: #2A2A2A;
}
h1 {
    font-weight: 800;
}
h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0 0 40px 0;
    font-style: italic;
}
* {
    font: 700 15px/32px Open Sans, sans-serif
}
h3 {}
h4 {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    //margin-bottom: 16px;
}
p {
    margin: 0 0 24px 0;
    line-height: 28px;
    &:last-of-type {
        margin: 0;
    }
}
small {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
.italic {
    font-style: italic;
}

/*Generic*/

body {}
a {
    text-decoration: underline;
}
.hr {
    height: 5px;
}
.icon {
    width: 18px;
    height: 18px;
    &.icon-facebook {
        background: url('../images/icons/icon-facebook.svg') no-repeat center center;
        background-size: contain;
    }
    &.icon-instagram {
        background: url('../images/icons/icon-instagram.svg') no-repeat center center;
        background-size: contain;
    }
}
.hr-small {
    width: 23px;
    height: 2px;
    background-color: white;
    margin: 12px auto;
}
.mapbox-container {
    padding: 0;
}

/*Buttons*/

.btn {
    background-color: #444444;
    color: @primary;
    border-radius: 0;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    box-sizing: border-box;
    line-height: 43px;
    margin: 40px 0 0 0;
    padding: 0 36px;
}

/*Navbar*/

nav {
    .nav-link {
        padding: 16px 8px;
    }
    .nav-link:last-of-type {
        padding-right: 0;
    }
    a {
        color: white;
        font-size: 26px;
        line-height: 18px;
        font-style: italic;
        text-decoration: none;
    }
}

/*Sections*/

//generic
section {
    .text-box {
        background: @primary;
        padding: 40px 16px;
        text-align: center;
        line-height: 30px;
        border: none;
    }
}
.logo-wrapper {}
//specific
.hero {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #C7A188 url('../images/hero-image.jpg') center center;
    background-size: cover;
    border: 8px solid @primary-dark;
    .brand-logo {
        height: 170px;
        width: 170px;
        background: transparent url('../images/logos/port-said-white-logo.png') no-repeat center center;
        background-size: contain;
    }
    .down-arrow {
        width: 50px;
        height: 93px;
        position: absolute;
        bottom: 30px;
        background: transparent url('../images/icons/down-arrow.svg') no-repeat center center;
        background-size: contain;
    }
}
.section-01 {
    .text-box {
        background: @primary url('../images/mobile/textbox-01.jpg') center center;
        background-size: cover;
    }
    .text-box-02 {
        background: @primary url('../images/mobile/textbox-02.jpg') center center;
        background-size: cover;
    }
    .full-image {
        background: #C7A188 url('../images/image-02.jpg') no-repeat center bottom;
        background-size: cover;
        height: 300px;
    }
}
.section-02 {
    background: @primary url('../images/mobile/textbox-03.jpg') center center;
    background-size: cover;
    .full-image {
        height: 400px;
        background: @primary url('../images/image-03.jpg') center center;
        background-size: cover;
    }
    .image {
        height: 280px;
        background: @primary url('../images/image-04.jpg') center center;
        background-size: cover;
    }
    .text-box {
        background: transparent;
    }
}
.section-03 {
    background-color: @primary-dark;
    padding-top: 60px;
    padding-bottom: 60px;
    .brand-logo {
        height: 125px;
        width: 125px;
        background: transparent url('../images/brand-logo.png') no-repeat center center;
        background-size: contain;
        margin: 0 0 60px 0;
    }
    h4 {
        text-align: center;
        line-height: 30px;
        color: white;
    }
    p {
        text-align: center;
        line-height: 30px;
        color: white;
    }
    a {
        color: white;
    }
    .social-wrapper {
        margin: 60px 0 0 0;
        .icon {
            height: 24px;
            width: 24px;
            margin: 0 8px;
        }
    }
}
.google-maps {
    height: 250px;
    background: url('../images/google-maps.png') center center no-repeat;
    background-size: cover;
}
.section-04 {
    background: @primary url('../images/mobile/textbox-04.jpg') center center;
    background-size: cover;
    padding: 60px 16px;
    .hr-small {
        background-color: @primary-dark;
    }
    h4 {
        text-align: center;
        line-height: 30px;
    }
    p {
        text-align: center;
        line-height: 30px;
    }
    .logo-wrapper {
        .logo-item {
            height: 85px !important;
            margin-bottom: 40px;
            &.logo-romano {
                background: url('../images/logos/romano-logo.png') center center no-repeat;
                background-size: contain;
            }
            &.logo-miznon {
                background: url('../images/logos/miznon-logo.svg') center center no-repeat;
                background-size: contain;
            }
            &.logo-port-said {
                background: url('../images/logos/port-said-logo.png') center center no-repeat;
                background-size: contain;
            }
            &.logo-salon {
                background: url('../images/logos/salon-logo.png') center center no-repeat;
                background-size: contain;
            }
            &.logo-teder {
                background: url('../images/logos/teder-logo.png') center center no-repeat;
                background-size: contain;
            }
            &.logo-zafon {
                background: url('../images/logos/zafon-logo.png') center center no-repeat;
                background-size: contain;
            }
        }
    }
}
//footer
footer {
    padding: 25px 0;
    text-align: center;
}

/*media Queries*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    /*Generic*/
    /*Section*/
    section {
        min-height: 100vh;
        padding: 60px 16px;
        .text-box {
            border: 4px solid @primary-dark;
            background: @primary url('../images/paper-texture-wide.jpg') no-repeat center center;
            background-size: cover;
            padding: 44px 36px;
        }
    }
    .logo-wrapper {
        margin-top: 28px;
        padding: 0;
        justify-items: start;
        grid-gap: 8px;
        .logo-item {
            //background-position: left !important;
        }
    }
    .section-01 {
        background: url('../images/image-02.jpg') center center no-repeat;
        background-size: cover;
    }
    .section-02 {
        background: url('../images/image-03.jpg') center center no-repeat;
        background-size: cover;
        .text-box {
            background: @primary url('../images/paper-texture-wide.jpg') no-repeat center center;
            background-size: cover;
        }
    }
    .section-03 {
        color: black;
        background: url('../images/image-04.jpg') center center no-repeat;
        background-size: cover;
    }
    .section-04 {
        background: url('../images/paper-texture-wide.jpg') center center no-repeat;
        background-size: cover;
        height: auto;
        min-height: 0;
        padding: 48px 32px;
        .rest-hours {
            h4,
            p {
                text-align: left;
            }
            .hr-small {
                margin-left: 0;
            }
        }
        .brand-logo {
            background: url('../images/logos/port-said-logo.png') center center no-repeat;
            background-size: 80%;
            height: 80%;
        }
        .rest-location {
            h4,
            p {
                text-align: right;
            }
            .hr-small {
                margin-right: 0;
            }
            a {
                color: #2A2A2A;
            }
        }
        .social-wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            .icon {
                margin-left: 20px;
                height: 24px;
                &.icon-facebook-dark {
                    background: url('../images/icons/icon-facebook-dark.svg') no-repeat center center;
                    background-size: contain;
                }
                &.icon-instagram-dark {
                    background: url('../images/icons/icon-instagram-dark.svg') no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
    .section-05 {
        min-height: 0;
        height: auto;
        background-color: #484848;
        padding: 48px 32px;
        h4 {
            color: white;
        }
        .logo-wrapper {
            margin: 8px 0 0 0;
            background: url('../images/logos/logo-six-pack.png') left center no-repeat;
            background-size: contain;
            height: 90%;
        }
    }
    footer {
        text-align: left;
        padding: 4px 16px;
    }
}
// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
    .section-01 {
        .text-box {
            background: @primary url('../images/desktop/textbox-01.jpg') center center;
            background-size: cover;
        }
    }
    .section-02 {
        .text-box {
            background: @primary url('../images/desktop/textbox-02.jpg') center center;
            background-size: cover;
        }
    }
    .section-03 {
        .text-box {
            background: @primary url('../images/desktop/textbox-03.jpg') center center;
            background-size: cover;
        }
    }
    .section-04 {
        background: @primary url('../images/desktop/textbox-04.jpg') center center;
        background-size: cover;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    nav {
        .nav-link {
            padding: 16px 12px;
        }
        .nav-link:last-of-type {
            padding-right: 24px;
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .section-04 {
        .brand-logo {
            background-size: 50%;
        }
    }
    .section-05 {
        .logo-wrapper {
            margin: 16px 0 0 0;
            height: 80%;
        }
    }
}
