@width:1280px;
@height:52px;
header{
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 30%), 0 0 6px 2px rgb(0 0 0 / 15%);
    background: rgba(255,255,255,0.94);
    width: 100%;
    position: fixed;
    z-index: 1;
    // overflow: hidden;
    .top{
        width: 100%;
        height: 1.5px;
        background-color: red;
        // position: fixed;


    }
    nav{
        width: @width;
        height: @height;
        margin: 0 auto;
        .nav-left{
            width: 610px;
            height: @height;
            float: left;
            .nav-left-logo{
                width: 140px;
                height: @height;
                float: left;
                text-align: center;
                img{
                    display: inline-block;
                    margin-top: 10px;
                }
            }
            .nav-left-input{
                width: 468px;
                height: 30px;
                border: 1px solid #ccc;
                float: left;
                margin-top: 10px;
                position: relative;   
                background-color: #f2f2f5;    
     
                input{
                    margin-left:10px;
                    height: 30px;
                    width: 420px;
                    border: 0;
                    background-color: #f2f2f5;
                }
                span{
                    position: relative;
                    font-size: 20px;
                    margin-left: 5px;
                    top: 4px;
                }
                .nav-left-dropdown{
                    position: absolute;
                    width: 468px;
                    height: 300px;
                    border: 1px solid #ccc;
                    right: -1px;
                    top: 34px;
                    z-index: 2;
                    background-color: white;
                    display: none;
                    box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 20%);
                    ul{
                        margin-left: 10px;
                        >li a{
                            font-size: 12px;
                            color: #fa7d3c;
                        }
                        li{
                            margin-top: 10px;
                            font-size: 12px;
                            position: relative;
                            div:nth-child(1){
                                width: 14px;
                                height: 14px;
                                background-color: #ccc;
                                border-radius: 50%;
                                text-align: center;
                                float: left;
                            }
                            .fei{
                                background-color: red !important;
                            }
                            .re{
                                background-color: orange !important;
                            }
                            span{
                            position: relative;
                            font-size: 12px;
                            top: -1px;
                            } 
                            div:nth-child(3){
                                width: 15px;
                                height: 15px;
                                text-align: center;
                                // background-color: red;
                                // border: 1px solid red;
                                float: right;
                                margin-right: 10px;
                            }                            
                    }
                    }
                }
            }
        }
        .nav-right{
            position: relative;
            width:670px;
            height: @height;
            float: left;
            ul{
                margin-left: 200px;
                margin-top: 10px;

                li{
                    position: relative;
                    height: 40px;
                    line-height: 26px;
                    width: 78px;
                    float: left;
                    a{
                        position: relative;
                        top: -1px;
                        color: black;
                    }
                    .zhuti-dropdown{
                        width: 60px;
                        position: absolute;
                        margin-top: 15px;
                        margin-left: 0;
                        text-align: center;
                        background-color: white;
                        border: 1px solid black;
                        border-top:0;
                        display: none;
                        z-index: 10;
                        li{
                        height: 26px;
                        width: 60px;
                        color: black;
                        }
                       }
                       
                }
                li:nth-child(6){
                     position: relative;
                     right: 8px;      
                }
                
            }
            
        }
    }
}
