// Brand colors

@color-primary          : #ff5733;

// Theme colors

@red 					: #ef5350;
@blue 					: #42a5f5;
@green					: #66bb6a;
@txt 					: #1a1a1a;
@greylight				: #dddddd;

// Common colors

@grey20 				: #333333;
@grey30 				: #4c4c4c;
@grey40 				: #666666;
@grey50 				: #808080;
@grey60 				: #999999;
@grey70 				: #b2b2b2;
@grey80 				: #cccccc;
@grey90 				: #e5e5e5;
@grey95 				: #f2f2f2;
@w 						: #FFFFFF;

// Fonts

@font-main				: 'Nunito Sans', sans-serif;
// @font-alt				: 'Work Sans', sans-serif;

// Theme sizes

@form-height 			: 46px;
@form-fontsize 			: 14px;
@form-fontweight		: 700;
@form-radius 			: 0;
@form-border 			: 1px solid @grey90;

@btn-height             : 44px;
@btn-radius             : 0px;
@btn-fontsize           : 16px;


// Screen Sizes
@XL 					: 1200;
@LG 					: 960;
@MD 					: 720;
@SM 					: 540;
@XS 					: 480;
@XXS 					: 360;

@XL-plus : (@XL + 1);
@XL-minus : (@XL - 1);
@LG-plus : (@LG + 1);
@LG-minus : (@LG - 1);
@MD-plus : (@MD + 1);
@MD-minus : (@MD - 1);
@SM-plus : (@SM + 1);
@SM-minus : (@SM - 1);
@XS-plus : (@XS + 1);
@XS-minus : (@XS - 1);
@XXS-plus : (@XXS + 1);
@XXS-minus : (@XXS - 1);

@above-XL				: ~"screen and (min-width: @{XL-plus}px)";
@above-LG				: ~"screen and (min-width: @{LG-plus}px)";
@above-MD 				: ~"screen and (min-width: @{MD-plus}px)";
@above-SM 				: ~"screen and (min-width: @{SM-plus}px)";
@above-XS 				: ~"screen and (min-width: @{XS-plus}px)";
@above-XXS 				: ~"screen and (min-width: @{XXS-plus}px)";

@below-XL				: ~"screen and (max-width: @{XL-minus}px)";
@below-LG				: ~"screen and (max-width: @{LG-minus}px)";
@below-MD 				: ~"screen and (max-width: @{MD-minus}px)";
@below-SM 				: ~"screen and (max-width: @{SM-minus}px)";
@below-XS 				: ~"screen and (max-width: @{XS-minus}px)";
@below-XXS 				: ~"screen and (max-width: @{XXS-minus}px)";

@only-XL				: ~"screen and (min-width: @{LG-plus}px) and (max-width: @{XL}px)";
@only-LG				: ~"screen and (min-width: @{MD-plus}px) and (max-width: @{LG}px)";
@only-MD 				: ~"screen and (min-width: @{SM-plus}px) and (max-width: @{MD}px)";
@only-SM 				: ~"screen and (min-width: @{XS-plus}px) and (max-width: @{SM}px)";
@only-XS 				: ~"screen and (min-width: @{XXS-plus}px) and (max-width: @{XS}px)";
@only-XXS 				: ~"screen and (min-width: 1px) and (max-width: @{XXS}px)";

@XL-and-above			: ~"screen and (min-width: @{XL}px)";
@LG-and-above			: ~"screen and (min-width: @{LG}px)";
@MD-and-above			: ~"screen and (min-width: @{MD}px)";
@SM-and-above			: ~"screen and (min-width: @{SM}px)";
@XS-and-above			: ~"screen and (min-width: @{XS}px)";
@XXS-and-above			: ~"screen and (min-width: @{XXS}px)";

@XL-and-below			: ~"screen and (max-width: @{XL}px)";
@LG-and-below			: ~"screen and (max-width: @{LG}px)";
@MD-and-below		 	: ~"screen and (max-width: @{MD}px)";
@SM-and-below 			: ~"screen and (max-width: @{SM}px)";
@XS-and-below			: ~"screen and (max-width: @{XS}px)";
@XXS-and-below			: ~"screen and (max-width: @{XXS}px)";