.site-card-wrapper {
    // background-color: gray;
    .essay-card-row {
        // background-color: gray;
        .essay-card {
            // background-color: yellow;
            margin-bottom: 12px;
            .essay-img-wrapper {
                // background-color: yellow;
                width: 100%;
                margin-bottom: 12px;
                img {
                    width: 100%;
                }                
            }
            p {
                margin-bottom: 6px;
            }
        }
    }    
}
