.comm-main{
    padding-top:50px;
    height:100%;
    .comm-left{
        background-color: rgba(255, 255, 255, 0.548);
        padding:.3rem;
        border-radius: .3rem;
        border:1px solid #eee;
        .contentTop1{
            font-size: 16px;
            .ant-row{
                justify-content: space-between;
            }
            .ant-input{
                width: 100%;
                height: 75px;
                font-size: 16px;
                background-color: rgba(255, 255, 255, 0.192);
                border-radius: 10;
            }
            .ant-input-group-addon{
                margin-left: -25px;
                z-index: 1;
            }
            .ant-input-search-button{
                margin-left: -20px;
                height: 90px;
                z-index: 1;
            }
            .ant-input-suffix{
                cursor: pointer;
            }
            .search{
                display: flex;
                .site-button-ghost-wrapper {
                    padding: 8px 8px 0 8px;
                    background: #ff9900;
                  }
                .ant-btn{
                    height: 100%;
                    width: 100%;
                    border-color: #ff9900;
                  }
            }
            @radius:60px;
            .ant-list-item{
                flex-direction: column;
                align-items: flex-start;
                background-color: white;
                margin: 30px 0px;
                padding: 0;
                border-radius:@radius;
                overflow: hidden;
                .ant-list-split .ant-list-item {
                    border-bottom: none;
                }
                .ant-list-split .ant-list-header {
                    border-bottom: none;
                }
                .lazyload-wrapper {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                        .imgbox{
                            width: 100%; 
                            height: 100%; 
                            margin: 0 0;
                            position: relative;
                            display: inline-block;
                            .bachover{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                color: #ffffff;
                                transition: all linear .2s;
                            .bacimgtitle{
                                position: absolute;
                                font-size: 70px;
                                width: 100%;
                                text-align: center;
                                top: 50%;
                                left: 50%;
                                color: white;
                                transform:translate(-50%,-50%);
                                opacity: 1;
                                transition: all linear .2s;
                            }
                            
                             h4{
                                    position: absolute;
                                    font-size: 70px;
                                    width: 100%;
                                    text-align: center;
                                    top: 80%;
                                    left: 50%;
                                    color: white;
                                    opacity: 0;
                                    transform:translate(-50%,-50%);
                                    transition: all linear .2s;
                                }
                        }
                        .img{
                            width:100%;
                            height: 800px;
                            display: block;
                           
                        }
                    }
                }
                
                
                .imgbox:hover .bachover .bacimgtitle{
                   top: 40%;
                }
                
                
                .imgbox:hover .bachover {
                   opacity: 1;
                   background: rgba(0, 0, 0, 0.534);
     
                }
                .imgbox:hover .bachover .sentence h4{
                    top: 60%;
                    opacity: 1;
                }
                .articleTitle{
                    font-size: 50px;
                    color: #1e90ff;
                }
                .createTime{
                    margin: 0px 20px;
                    padding-bottom: 50px;
                }
                
                
                .imgDiv{
                    width: 100%; height: 100%; margin: 0 auto;
                    .imga{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        .imgs{
                            width: 100%;
                            height: 600px;
                            border-radius: 5px;
                            border: 1px solid #f0f0f0;
                            display: block;
                            margin: 8px auto;
                            
                        }
                    }
                }
                
                .ant-tag{
                    height: 36px;
                    padding: 5px;
                }
                .detail{
                    cursor: pointer;
                   display: flex;
                   justify-content: flex-end;
                   font-size: 32px;
                   color:rgb(30, 144, 255);
                   margin-top: 5px;
                   padding: 0 20px;
                }
                .lazyload-wrapper {
                    width: 100%;
                    height: 100%;
                }
            }
            .ant-list-footer{
                text-align: center;
            }
        }
    }
    .comm-right{
        height: 50%;
        padding:10px;
        margin-left:20px;
        background-color:rgba(255, 255, 255, 0.404);
        border-radius: .3rem;
        .contentRight{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .UserImg-box {
                margin: 0 auto;
                width: 100%;
                height: 30%;
                text-align: center;
                .ant-avatar {
                    width: 100%;
                    height: 100px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: 50%;
                    transition: all 0.6s;
                }
            }
            .UserImg-box .ant-avatar:hover{
                transform: rotate(-360deg);
            }
            
            .detailmsg{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            
        }
        .social{
            display: flex;
            justify-content: center;
           
            a{
                margin: 20px;
            }
        }
    }
}
