#Mypaper {
  max-width: 1920px;
  min-height: 23.642857rem;
  margin: 0 auto;
  min-width: 1190px;
  margin-top: -1.21rem;
  width: 85.14rem;

  .bread {
    .breaditem {
      cursor: pointer;
      font-size: 1.14rem;
      font-weight: 400;
      color: #222222;


      img {
        width: 0.86rem;
        height: 1.14rem;
        margin-right: 1rem;
      }
    }
  }

  .content_body {
    margin-top: 1.142857rem;
    margin-bottom: 1.428571rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .left_box {
      flex: 1;
      background-color: #fff;
      border-radius: 0.714286rem;
      padding: 0.714286rem;

      .title_box {
        padding: 1rem;
        font-size: 1.571429rem;
        font-weight: bold;
        color: #222222;

      }

      .topic_title {
        padding: 0 1rem;
        font-size: 1.142857rem;
        font-weight: bold;
        color: #222222;
        margin-bottom: 2.142857rem;
      }

      .topic_html {
        padding: 0 1rem;
        margin-bottom: 1rem;

        .title_warp {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .span {
            color: #E50304;
          }
        }
      }
    }

    .right_box {
      width: 23.428571rem;
      margin-left: 1.142857rem;

      .top_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .downbtn {
          width: 11.142857rem;
          height: 2.5rem;
          background: #E50304 !important;
          background-image: none !important;
          border-radius: 0.357143rem;
          color: #FFFFFF;

          &:hover {
            background-color: #C80304 !important;
          }
        }

        .lastbtn {
          width: 11.142857rem;
          height: 2.5rem;
          background-color: transparent !important;
          color: #E50304 !important;
          border-radius: 0.357143rem;
          border: 1px solid #E50304 !important;

          &:hover {
            background-color: #E50304 !important;
            color: #fff !important;
          }

        }
      }

      .bott_box {
        margin-top: 1.142857rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 2.714286rem 0px rgba(149, 149, 149, 0.13);
        border-radius: .714286rem;
        padding: 1.142857rem;

        .tip_top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2.142857rem;

          .left_boxx {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.142857rem;
            font-weight: bold;
            color: #222222;

            span {
              font-size: 1rem;
              font-weight: 400;
              color: #999999;
              margin-left: .428571rem;
            }
          }

          .right_boxs {
            font-size: 1.142857rem;
            font-weight: 400;
            color: #222222;
            cursor: pointer;

            &:hover {
              color: #E50304;
            }
          }
        }

        .my_chars {
          margin-top: 3.571429rem;

          .title_text {
            text-align: center;
            width: 100%;
            font-size: 1.142857rem;
            font-weight: bold;
            color: #222222;
            margin-bottom: 2.142857rem;
          }

          .list {
            .items {
              margin-bottom: 1.714286rem;

              &:last-child {
                margin-bottom: 0;
              }

              .top_text {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left_txt {
                  font-size: .75rem;
                  font-weight: 400;
                  color: #222222;
                  flex: 1;
                  overflow: hidden;

                  span {
                    font-size: .75rem;
                    font-weight: 400;
                    color: #999999;
                    margin-left: 1.142857rem;
                  }
                }

                .right_txt {
                  font-size: .75rem;
                  font-weight: 400;
                  color: #222222;

                }
              }

              .progress {
                height: .571429rem;
                border-radius: .142857rem;
                margin-top: .714286rem;
              }
            }
          }
        }
      }
    }
  }

}

.downbox {
  .title {
    font-size: 1.57rem;
    font-weight: bold;
    color: #222222;

  }

  .body_text {
    width: 100%;

    .fileformt {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 2.86rem;
      border-bottom: 1px dashed #E5E5E5;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .title_txt {
        font-size: 1.14rem;
        font-weight: 400;
        color: #222222;
        margin-right: 3.29rem;
      }

      .itemradio {}

      .itemradios {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        .context {
          .span {
            margin-right: 3.15rem;
          }

          .tip {
            font-size: 1rem;
            font-weight: 400;
            color: #999999;

          }
        }
      }
    }
  }
}

.ant-modal-body {
  overflow: auto;
}


.charsbox {


  .title {
    font-size: 1.571429rem;
    font-weight: bold;
    color: #222222;
    text-align: center;
    margin-bottom: .857143rem !important;
  }

  .levelchars {
    width: 100%;

    .tip_title {
      width: 100%;
      border-bottom: 1px solid #E5E5E5;

      .text {
        width: 10rem;
        font-size: 1.142857rem;
        font-weight: bold;
        color: #222222;
        padding-bottom: .571429rem;
        padding-right: 2.857143rem;
        border-bottom: .285714rem solid #E50304;
      }
    }

    .chars_boxs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: .357143rem;

      .tables {
        flex: 1;
        margin-left: 4.285714rem;

        td {
          padding: .714286rem 1.785714rem;
          text-align: center;
        }
      }
    }

    .my_chars {
      margin-top: 2.142857rem;

      .list {
        .items {
          margin-bottom: 1.714286rem;

          &:last-child {
            margin-bottom: 0;
          }

          .top_text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left_txt {
              font-size: 1.142857rem;
              font-weight: 400;
              color: #222222;

              span {
                font-size: 1rem;
                font-weight: 400;
                color: #999999;
                margin-left: 1.142857rem;
              }
            }

            .right_txt {
              font-size: 1.142857rem;
              font-weight: 400;
              color: #222222;

            }
          }

          .progress {
            height: .571429rem;
            border-radius: .142857rem;
            margin-top: .714286rem;
          }
        }
      }
    }
  }
}

.answerbox {
  .titles {
    font-size: 1.142857rem;
    font-weight: 400;
    color: #999999;
    margin-bottom: 2.142857rem;
  }

  .an_type {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .tip {
      font-size: 1.142857rem;
      font-weight: 400;
      color: #222222;
      margin-right: 3.571429rem;
    }

    .typelist {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .items {
        margin-right: 1.142857rem;
        width: 9.285714rem;
        height: 2.5rem;
        line-height: 2.45rem;
        border: 1px solid #E5E5E5;
        border-radius: .428571rem;
        text-align: center;
        font-size: 1.142857rem;
        font-weight: 400;
        color: #222222;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }

      .current {
        border: 1px solid #E50304;
        color: #E50304;
        position: relative;
        overflow: hidden;

        &::before {
          content: '√';
          color: #fff;
          position: absolute;
          right: 0;
          bottom: 0;
          line-height: 14px;
          font-size: 4px;
          z-index: 10 !important;
        }

        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 19px 19px;
          border-color: transparent transparent #E50304 transparent;
          _border-color: #000000 #000000 #E50304 #000000;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          text-align: center;
          position: absolute;
          right: 0;
          bottom: 0;

        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.571429rem;

    .surebtn {
      width: 6.571429rem;
      height: 2.5rem;
      border-radius: .428571rem;
      margin-right: 1.714286rem;

      &:hover {
        background-color: #C80304 !important;
      }
    }

    .canlebtn {
      width: 6.571429rem;
      height: 2.5rem;
      border-radius: .428571rem;
      border: 1px solid #E50304 !important;
      color: #E50304 !important;

      &:hover {
        background-color: #E50304 !important;
        color: #fff !important;
      }
    }
  }
}