@import url(less/color.less);
// @import url(less/fonts.less);
@import url(less/mixin.less);
@import url(less/burger.less);
@import url(less/cards.less);
@import url(less/logo_hi.less);
@import url(less/header.less);
@import url(less/border_card.less);
@import url(less/rain.less);

html {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

.main a {
    text-decoration: none;
    color: @color_light;
}

.wrapper li {
    list-style: none;
}

body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    grid-template-rows: 40px auto 40px;
}

.main {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/4;
    grid-template-columns: 0.5fr 1fr 1fr 0.75fr 5.5fr 0.75fr 0.5fr;
    grid-template-rows: 1fr auto 1fr;
}

.background_rain {
    grid-column: 1/8;
    grid-row: 1/4;
    background-image: url(/img/your_photo_1_rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    grid-column: 1/8;
    grid-row: 1/4;
    background-image: url(/img/your_photo_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    opacity: 1;
    transition: all 0.6s linear 0s;
}

.background.active {
    opacity: 0;
    transition: all 0.6s linear 0s;
}

.yourcard_menu {
    position: relative;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    bottom: 140%;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.yourcard_menu ul, .yourcard_submenu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.yourcard_menu li {
    height: 44px;
}

.yourcard_menu._yourcard_active {
    bottom: 0;
    transition: all 0.4s ease 0.6s;
} 

.yourcard_submenu {
    position: relative;
    display: flex;
    grid-column: 3/4;
    grid-row: 2/3;
    bottom: 140%;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.main span {
    height: 22px;
    width: 1px;
}

.yourcard_submenu li {
    height: 44px;
}

.yourcard_submenu.active {
    bottom: 0;
    transition: all 0.4s ease 0s;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    grid-column: 7/8;
    grid-row: 1/4;
    opacity: 1;
    transition: all 0.6s linear 0.4s;
}

.footer.active {
    opacity: 0;
    transition: all 0.6s l 0s;
}

.footer span {
    margin-right: 8px;
    color: @color_light;
    height: 14px;
    font-size: 10px;
    transform: rotate(-90deg);
}

.yourcard_menu ul, .yourcard_submenu ul {
    margin: 0;
    padding-inline-start: 0;
}

.yourcard_menu_link:hover, .yourcard_submenu_block a:hover {
    color: @color_itten_yellow;
}

.yourcard_menu_link.active, .yourcard_blocks_link.active {
    color: @color_itten_yellow;
}

.yourcard_menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.photo input {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    background: none;
    border: none;
    font-weight: 300;
    padding: inherit;
}

.yourcard_envelope, .yourcard_envelope_addres, .yourcard_photo, .yourcard_text, .yourcard_addres {
    grid-column: 5/6;
    grid-row: 2/3;
}

.yourcard_envelope {
    position: relative;
}

.yourcard_photo {
    border: @color_cards solid 1px;
    box-shadow: @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px;
    .mixin_card_size;
    margin: auto;
    z-index: 5;
}

.yourcard_photo.active {
    opacity: 0;
    transition: all 0.25s ease 0s;
}

.envelope_addres {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.yourcard_addres {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 5fr 1.8fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 5fr 1fr;
    opacity: 0;
    border: @color_cards solid 1px;
    box-shadow: @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px;
    background-color: @color_light;
    .mixin_card_size;
    margin: auto;
    z-index: 5;
    transition: @transition;
}

.yourcard_addres.active {
    opacity: 1;
    transition: @transition;
}

.addres_logo {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    margin: auto;
}

.addres_logo_img, .addres_mark_img {
    width: 100%;
    height: 100%;
}

.addres_mark {
    grid-column: 5/6;
    grid-row: 2/3;
}

.addres_area {
    grid-column: 4/6;
    grid-row: 4/5;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.addres_index_city {
    display: flex;
    width: 100%;
}

.addres_area input, .addres_area textarea {
    border: solid @color_cornflower_alfa 1px;
    font-size: 18px;
    text-align: end;
    color: @color_text_header;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    resize: none;
}

.addres_index_city input:first-child {
    width: 33%;
}

.addres_index_city input:last-child {
    width: 67%;
}

// // .logo_hidragonfly p {
    // //     margin: 0 0 6px 20px;
    // //     // padding: 0 0 10px 20px;
    // //     font-weight: 500;
    // //     font-size: 14px;
    // //     font-style: italic;
    // //     text-align: center;
    // //     z-index: 3;
// // }


// .logo_hidragonfly:hover p:last-child {
    //     color: @color_light;
    // }
    
    // .footer_block p {
        //     margin: 0;
        // }
        
        // .footer_block:last-child p {
            //     text-align: right;
            // }
            // .logo_body {
                //     display: flex;
                //     align-items: center;
                // }
                
                // .menu_login {
                    //     display: flex;
                    //     justify-content: flex-end;
                    //     width: 216px;
                    // }
                    
                    // .menu_icon {
                        //     display: none;
                        // }
                        
                        
                        // .login_list {
                            //     display: flex;
                            //     position: relative;
                            //     margin: 0;
                            //     z-index: 2;
                            //     padding-inline-start: 0px;
                            // }
                            
                            // li {
                                //     list-style: none;
                                // }

// .login_item {
    //     margin: 0 20px;
    // }
    
    // .login_item:last-child {
//     margin: 0 0 0 20px;
// }

// .cards_body_list {
    //     display: flex;
    //     margin: 0;
//     padding-inline-start: 0;
//     justify-content: center;
// }

// .card_body_item {
    //     margin: 10px 20px;
    // }
    
    // .main1 {
        //     background-image: url(/img/your_photo_11.jpg);
        //     width: 100vw;
        //     height: 100vh;
// }