.detailWrapper {
  .primary {
    margin: 0 2px;
    color: #0052d9;
    font-weight: bold;
  }
  .black {
    color: black;
  }
  .bytemd {
    height: calc(100vh - 100px);
  }

  .detailBox {
    padding: 20px;
    background: #ffffff;
    overflow: hidden;
    position: relative;

    .meta {
      display: flex;
      align-items: center;
      border-left: 6px solid #e6e6e6;
      padding-left: 10px;

      &-item {
        // font-weight: bold;
        margin-right: 20px;

        span {
          margin-right: 8px;
        }
      }
    }
    .markdownBody {
      padding-top: 40px;
      word-break: break-word;
      line-height: 1.8;
      font-weight: 400;
      font-size: 14px;
      word-spacing: 2px;
      letter-spacing: 2px;
      overflow-x: hidden;
      color: #3e3e3e;
      background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, transparent 0),
        linear-gradient(1turn, rgba(50, 0, 0, 0.05) 3%, transparent 0);
      background-size: 20px 20px;
      background-position: 50%;

      img {
        object-fit: cover;
        width: 100%;
      }

      blockquote {
        color: rgb(53, 52, 52);
        padding: 20px 23px;
        margin: 22px 0;
        border-left: 4px solid #0052d9;
        background-color: #e6ebfc;

        p {
          margin: 0;
        }
      }
      h1 {
        font-weight: bold;
      }
      h1:nth-child(1) {
        text-align: center;
      }
    }

    pre {
      padding: 10px;
      background: #f8f8f8;
    }

    .tips {
      cursor: pointer;
      margin-top: 20px;
      margin-left: 20px;

      height: 120px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .description {
      position: absolute;
      top: -24px;
      left: -47px;
      transform: rotate(-45deg);
      width: 7rem;
      height: 4rem;
      line-height: 5.8rem;
      text-align: center;
      text-transform: uppercase;
      transform-origin: center;
      color: #fff;
      font-weight: 700;
      font-size: 12.432px;
      background-color: #4f92ff;
    }
  }

  .panel {
    padding: 20px;

    .icon {
      width: 18px;
      height: 18px;
      font-size: 16px;
    }

    .panelItem {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      position: relative;
      margin-bottom: 0.75rem;
      width: 30px;
      height: 30px;
      background-color: #fff;
      background-position: 50%;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
      cursor: pointer;
    }

    &-item:hover {
      transition: all 0.3s;
      box-shadow: 0 4px 4px rgba(54, 40, 250, 0.12), 0 0 8px rgba(0, 17, 255, 0.06);
    }

    .zan {
      // font-size: 16px;
      //   color: #0052d9;
    }

    .zan:hover {
      color: #0052d9;
    }

    .active {
      color: red;
    }
  }
}
