// #DSCOMMENT: ADDITIONAL PLATFORM GLOBAL VARS
// var names based on ADP Dealer Services Styleguide names and targets

// ADP PRIMARY FONT
@ADPprimaryfont:                'Droid Sans', sans-serif;
@CDKheaderFont:                 'Helvetica Neue';
// ADP SECONDARY FONT
@ADPsecondaryfont:              'Droid Sans', sans-serif;

// CDK PRIMARY COLOR PALETTE
@CDKgreen:                      rgba(130,198,0, 1);   // HEX = #82c600

// ADP PRIMARY COLOR PALETTE
@ADPred:                        rgba(220,30,50, 1);   // HEX = #dc1e32
@ADPwhite:                      rgba(255,255,255, 1); // HEX = #ffffff
@ADPblack:                      rgba(0,0,0, 1);       // HEX = #000000

@ADPgray:                       rgba(116,118,120, 1); // HEX = #747678
@ADPdarkgray:                   rgba(77,79,83, 1);    // HEX = #4d4f53
@ADPlightgray:                  rgba(173,175,175, 1); // HEX = #adafaf

// ADP GLOBAL COLOR PALETTE
@ADPpagebg:                     rgba(238,238,238, 1); // HEX = #eeeeee
@ADPaltbg:                      rgba(249,249,249, 1); // HEX = #f9f9f9
@ADPnotifbg:                    rgba(255,247,206, 1); // HEX = #fff7ce

@ADPprimarytextcolor:           rgba(31,32,33, 1);    // HEX = #1f2021
@ADPheadertextcolor:            rgba(85,85,85, 1);    // HEX = #555555
@ADPlabeltextcolor:             rgba(173,175,175, 1); // HEX = #adafaf

@ADPlinktextcolor:              rgba(37,85,144, 1);   // HEX = #255590
@ADPnotiftextcolor:             rgba(250,150,30, 1);  // HEX = #fa961e
@ADPalertbg:                    rgba(255,204,204, 1); // HEX = #ffcccc

@ADPbordercolor:                rgba(221,221,221, 1); // HEX = #dddddd

// ADP ALERT COLORS
@ADPsuccesstextcolor:           rgba(54,171,44, 1);   // HEX = #36ab2c //@ADPprimarytextcolor
@ADPsuccessicon:                rgba(54,171,44, 1);   // HEX = #36ab2c
@ADPsuccessborder:              rgba(54,171,44, 1);   // HEX = #36ab2c
@ADPsuccessbg:                  rgba(223,240,216, 1); // HEX = #dff0d8

@ADPinfotextcolor:              rgba(58,135,173, 1);  // HEX = #3a87ad //@ADPprimarytextcolor
@ADPinfoicon:                   rgba(58,135,173, 1);  // HEX = #3a87ad
@ADPinfoborder:                 rgba(58,135,173, 1);  // HEX = #3a87ad
@ADPinfobg:                     rgba(217,237,247, 1); // HEX = #d9edf7

@ADPwarningtextcolor:           rgba(192,152,83, 1);  // HEX = #c09853 //@ADPprimarytextcolor
@ADPwarningicon:                rgba(192,152,83, 1);  // HEX = #c09853
@ADPwarningborder:              rgba(192,152,83, 1);  // HEX = #c09853 //WAS rgba(251,238,213, 1); // HEX = #fbeed5
@ADPwarningbg:                  rgba(252,248,227, 1); // HEX = #fcf8e3

@ADPerrortextcolor:             rgba(185,74,72, 1);   // HEX = #B94A48
@ADPerroricon:                  rgba(185,74,72, 1);   // HEX = #B94A48
@ADPerrorborder:                rgba(185,74,72, 1);   // HEX = #B94A48
@ADPerrorbg:                    rgba(242,222,222, 1); // HEX = #f2dede

@ADPcustomtextcolor:            @ADPprimarytextcolor;
@ADPcustomicon:                 @ADPdarkgray;
@ADPcustomborder:               rgba(204,204,204, 1); // HEX = #cccccc
@ADPcustombg:                   rgba(221,221,221, 1); // HEX = #dddddd

// ADP COMPONENT COLOR PALETTE
@ADPnotifbuttontopbg:           rgba(255,210,0, 1);   // HEX = #ffd200
@ADPnotifbuttonbottombg:        rgba(250,150,30, 1);  // HEX = #fa961e

@ADPlistheadertopbg:            rgba(201,205,209, 1); // HEX = #c9cdd1
@ADPlistheaderbottombg:         @ADPlightgray;        // HEX = #adafaf

@ADPpagingbuttontopbg:          rgba(241,241,241, 1); // HEX = #f1f1f1
@ADPpagingbuttonbottombg:       rgba(201,205,209, 1); // HEX = #c9cdd1

@ADPfilterbuttontopbg:          @ADPwhite;            // HEX = #ffffff
@ADPfilterbuttonbottombg:       rgba(238,238,238, 1); // HEX = #eeeeee

@ADPactionbuttontopbg:          rgba(49,137,245, 1);  // HEX = #3189f5
@ADPactionbuttonbottombg:       rgba(37,85,144, 1);   // HEX = #255590

@ADPactionmoremenutopbg:        @ADPwhite;            // HEX = #ffffff
@ADPactionmoremenubottombg:     rgba(239,239,239, 1); // HEX = #efefef

@ADPactionmoremenuhighlight:    rgba(254,247,206, 1); // HEX = #fef7ce

@ADPprimarybuttontopbg:         rgba(237,237,237, 1); // HEX = #ededed
@ADPprimarybuttonbottombg:      rgba(223,223,223, 1); // HEX = #dfdfdf

@ADPlinktextCommonTab:          @ADPblack;            // HEX = #000000; rgba(0,0,0, 1)
@ADPlinkbgCommonTab:            @grayLighter;         // HEX = #eeeeee

@ADPhovertextCommonTab:         @ADPblack;            // HEX = #000000; rgba(0,0,0, 1);
@ADPhoverbgCommonTab:           rgba(255,247,206, 1); // HEX = #fff7ce

@ADPactivetextCommonTab:        @ADPblack;            // HEX = #000000; rgba(0,0,0, 1);
@ADPactivebgCommonTab:          @ADPwhite;            // HEX = #ffffff; rgba(255,255,255, 1);

@ADPaccordionHeaderBg:          rgba(238,238,238, 1); // HEX = #eeeeee */

@ADPwaitIndicatorBg:            rgba(0,0,0, .7);
@ADPwaitIndicatorBodyBg:        @ADPwhite;            // HEX = #ffffff; rgba(255,255,255, 1);
@ADPwaitIndicatorBodyText:      @ADPblack;            // HEX = #000000; rgba(0,0,0, 1);

@ADPformControlErrorBorder:     @ADPerrorborder;
@ADPformControlErrorLabel:      @ADPerrortextcolor;
@ADPformHelpText:               @ADPgray;
@ADPformRequiredText:           @ADPgray;

@ADPgridFilterMainBg:           rgba(85,85,85, 1);    // HEX = #555555


// CDK: GLOBAL UI COLOR PALETTE [WIP]

@CDK-UX-COLORS-CDKBLACK:        rgba(35, 31, 32, 1); // HEX = #231f20;

// #END CDK: GLOBAL UI COLOR PALETTE [WIP]


@CDKuserstatus-icon-color:      @ADPwhite; // HEX = #ffffff // WAS #808284;
@CDKuserstatus-icon-bg-color:   @ADPlightgray; // HEX = #adafaf // WAS #d1d2d4;

// CDK HOST UI LAYOUT COLOR PALETTE: MAIN NAV
@CDKhostnavheader-bg-color:         rgba(238,238,238, 0.95); // HEX = #eeeeee
// CDK HOST UI LAYOUT COLOR PALETTE: APP NAV
@CDKhostnavapps-wrapper-bg-color:   rgba(87, 87, 87, 0.9); // HEX = #575757 // rgba(87, 87, 87, 0.9)
// STATE: DEFAULT
@CDKhostnavapps-togglebutton-default-color: @CDKhostnavapps-bg-default-color;
@CDKhostnavapps-icon-default-color: rgba(204,204,204, 1); // HEX = #cccccc // rgba(204,204,204, 1)
@CDKhostnavapps-text-default-color: rgba(204,204,204, 1); // HEX = #cccccc // rgba(204,204,204, 1)
@CDKhostnavapps-bg-default-color:   rgba(87, 87, 87, 0.9); // HEX = #575757 // rgba(87, 87, 87, 0.9)
// STATE: HOVER
@CDKhostnavapps-togglebutton-hover-color: @CDKhostnavapps-icon-hover-color;
@CDKhostnavapps-icon-hover-color:   rgba(0, 176, 219, 0.9); // HEX = #00b0db // rgba(0, 176, 219, 0.9)
@CDKhostnavapps-text-hover-color:   @ADPwhite;
@CDKhostnavapps-bg-hover-color:     rgba(51, 51, 51, 0.9); // HEX = #333333 // rgba(51, 51, 51, 0.9)
// STATE: ACTIVE
@CDKhostnavapps-icon-active-color:  @ADPwhite;
@CDKhostnavapps-text-active-color:  @ADPwhite;
@CDKhostnavapps-bg-active-color:    rgba(0, 176, 219, 0.9); // HEX = #00b0db // rgba(0, 176, 219, 0.9)



// ADP GLOBAL UTILITIES
// /////////////////////////////////////
// #PREFIX variable
// #START http://stackoverflow.com/questions/10822414/namespace-prefix-for-css-classes-shared-between-javascript-and-scss
// #DO setup var for url image paths too...

@ADPprefix: ds-;
// #EXAMPLES
//    .@{ADPprefix}grid {
//        /* compiles to .ds-grid */
//    }
//    .@{ADPprefix}other {
//        /* and so on */
//    }
//    #@{ADPprefix}grid {
//        /* compiles to #ds-grid */
//    }
// #END PREFIX

// #FONTPATH variable
@ADPfontpath: "../fonts/";
// #END FONTPATH variable

// #IMGPATH variable
@ADPimgpath: "../img/";
@ADPimgpath-quoting: "../img/quoting/";
// #EXAMPLES
//    .test {
//        background-image: url("@{ADPimgpath}ds-host-sprite-main.png"); // @{ADPimgpath}
//        /* compiles to ../img/ds-host-sprite-main.png */
//    }
//@base-url: "http://assets.fnord.com";
//    .test {
//        background-image: url("@{base-url}/images/bg.png");
//    }
// #END IMGPATH variable


// CDK - ADP GLOBAL MEASUREMENTS
// CDK APP NAV PANEL MEASUREMENTS
@ADPhostnavwidth:                     @CDKhostnavapps-default-width; // #DSCOMMENT: RENAMED original for refactor; don't lose this for outside legacy uses.

@CDKhostnavapps-default-width:        50px;
@CDKhostnavapps-expanded-width:       170px;
@CDKhostnavapps-item-height:          50px;
@CDKhostnavapps-icon-size:            30px;

// ADP COMMON TAB MEASUREMENTS
@ADPnavbarHeightCommonTab:            80px;

// ADP ACTIONBAR MEASUREMENTS
@actionbarHeight:                     80px;
@actionbarButtonHeight:               35px;
@actionbarButtonWidth:                120px;


// CDK HOST UI LAYOUT: DIMENSION SPEC VALUES:
// CDK WORKSPACE WRAPPER
@CDKhost-workspace-wrapper--padding--width--desktop: 20px;
@CDKhost-workspace-wrapper--padding--width--mobile: 2px;

// CDK FOOTER HEIGHT
@CDKfooterheight:                     25px;

// CDK Z-index list
// #DSCOMMENT: Keep this higher than the TB modal components, by '10' units: '@zindexModal:1050;'
@CDKzindexLoadingIndicator:           1060;
// #DSCOMMENT: Keep this lower than the all the TB components like:
// Dropdown, Popover, Tooltip, FixedNavbar, ModalBackdrop, Modal, etc.
@CDKzindexLoadingIndicatorSection:    900;

// DS Host sprite path
@DSHostSpriteMain:                    "@{ADPimgpath}ds-host-sprite-main.png?v=@{DSHostSpriteMainHash}";

// Default values for hash codes
@DSHostSpriteMainHash:                 "";
@IconSpritePathHash:                   "";
@IconWhiteSpritePathHash:              "";
@DroidSansVersion:                     "";
@HelveticaNeueVersion:                 "";
@GlyphiconsHalflingsHash:              "";
@GlobalStylesIconFontHash:             "";