.main {
  background-color: #25272c;
  padding-bottom: 50px;
  align-items: center;  
  overflow: hidden;
  .container {
    margin: auto;
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    li {
      margin: 10px;
      height: 483px;
      overflow: hidden;
      img {
        transition: all .3s linear;
        width: 250px;
      }
      img:hover {
        box-shadow: 0 10px 20px #fff;
        transform: translate3d(0,-20px,0);
      }
    }
  }
}

.title {
  font-size: 32px;
  line-height: 26px;
  color:white;
  padding-top: 30px;
}
.sub_title {
  font-size: 16px;
  line-height: 26px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 30px;
}
.desc {
  margin: 16px auto;
  color: #999;
  width: 80%;
  font-size: 14px;
}



@media screen and (max-width: 767px) {
  .main {
    background-color: #25272c;
    padding-bottom: 50px;
    align-items: center;  
    overflow: hidden;
    .container {
      margin: auto;
      text-align: center;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      width: 60rem;
      align-items: center;
      justify-content: center;
      list-style: none;
      animation: ma 10s ease-out infinite alternate;
      li {
        width: 10rem;
        margin: auto;
        display: block;
        margin: 10px auto;
        height: 483px;
        overflow: hidden;
        img {
          transition: all .3s linear;
          width: 8rem;
          display: block;
          margin: auto;
        }
        img:hover {
          box-shadow: 0 10px 20px #fff;
          transform: translate3d(0,-20px,0);
        }
      }
    }
  }
  .play{ animation: ma 20s ease-out infinite alternate;}
  @keyframes ma {
           0%,16.6% {        margin-left: 0;       }
           16.6%,33% {       margin-left: -10rem;    }
           33%,50% {       margin-left: -20rem;    }
           50%,66.6% {       margin-left: -30rem;    }
           66.6%,83% {       margin-left: -40rem;    }
           83%,100% {       margin-left: -50rem;    }
   
   }
}