// out: false
/* breadcrumbs */ @import (reference) 'ui.less';

@breadcrumbs-sep-size:                  5px;

@breadcrumbs-sep-color:                 fade(@black, 25%);
@breadcrumbs-sep-color-dark:            fade(@white, 25%);

._global-vars () {
    --ui-breadcrumbs-sep-color: @breadcrumbs-sep-color;
}
._global-vars-dark () {
    --ui-breadcrumbs-sep-color: @breadcrumbs-sep-color-dark;
}

.ui-breadcrumbs {
    &:not(:last-child) { margin-bottom: (@highlight-space / 2); }

    & > ul {
        & > li {
            &:not(:last-child) { margin-right: @breadcrumbs-sep-size; }

            & > a,& > b { display: inline-block; }
        }
    }

    &:not(.ui-no-separated) {
        & > ul {
            & > li {
                &:not(:first-child):before { content: "\203A"; ._color-var(breadcrumbs-sep-color); font-size: @font-18; line-height: normal; margin: 0 (@breadcrumbs-sep-size + 3) 0 (@breadcrumbs-sep-size - 2); display: inline-block; }
            }
        }
    }
}

@media (@xs-finish) {
    .ui-breadcrumbs {
        text-align: center; margin-top: @breadcrumbs-sep-size;

        & > ul {
            & > li { margin-bottom: @breadcrumbs-sep-size; }
        }
    }
}
