// Mixins

// Sprite

.sprite-icon(@x: 0, @y: 0) {
	.pr;
	&:before,
	&:after {
		.pa;
		content: '';
		.sprite;
		.bgp((@x * -(@icon-optical-size)), (@y * -(@icon-optical-size)));
		.b(@icon-optical-size, @icon-optical-size);
	}
	&:after {
		display: none;
	}
}

.sprite() when (@sprite-version > 0) {
	.bgs(@sprite-width, @sprite-height);
	.svg(~'sprite.@{sprite-version}.min');
}

.sprite() when (@sprite-version = 0) {
	.bgs(@sprite-width, @sprite-height);
	.svg('sprite.min');
}

.sprite() when (@sprite-version = false) {
	.bgs(@sprite-width, @sprite-height);
	.svg('sprite');
}

// Navs

.nav-vertical() {
	ul {
		.list-unstyled;
		.oh;
		li {
			a, span {
				.bl;
				.tdn;
			}
		}	
	}
}

.nav-horizontal() {
	ul {
		.list-unstyled;
		.oh;
		li {
			.l;
			a, span {
				.bl;
				.tdn;
			}
		}	
	}
}

// Margins

.space() {
	margin-bottom: @margin-v;
}

.space-last() {
	margin-bottom: @margin-v;
	&:last-child {
		margin-bottom: 0;
	}
}

// Lists

.list-unstyled() {
	list-style: none;
	.p(0);
	.m(0);
	li {
		.p(0);
		.m(0);
		&:before,
		&:after {
			display: none !important;
		}
	}
}

// Responsive

.img-responsive() {
	.bl;
	.mxw(100%);
	.h(auto);
}

// Other 

.hidden-accessible() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.placeholder(@color) {
	&:-moz-placeholder {
		color: @color;
	}
	&::-moz-placeholder {
		color: @color;
	}
	&:-ms-input-placeholder {
		color: @color;
	}
	&::-webkit-input-placeholder {
		color: @color;
	}
}

// Hover and toch

.hover-shadow() when (@touch = false) {
	.transition;
	&:hover {
		.shadow(0, 4px, 5px, 26%);
	}
}

.touch-shadow() when (@touch = true) {
	.transition;
	&.touch, &.ng-click-active {
		.shadow-top-z-2;
	}
}

.hover(@color, @bg-color) when (@touch = false) {
	.transition(background-color);
	&:hover {
		.c(@color);
		.bgc(@bg-color);
	}
}

.touch(@color, @bg-color) when (@touch = true) {
	.transition(background-color);
	&.touch, &.ng-click-active {
		.c(@color);
		.bgc(@bg-color);
	}
}

.hover-bg(@color) when (@touch = false) {
	.transition(background-color);
	&:hover {
		.bgc(@color);
	}
}

.touch-bg(@color) when (@touch = true) {
	.transition(background-color);
	&.touch, &.ng-click-active {
		.bgc(@color);
	}
}

.hover-text(@color) when (@touch = false) {
	.transition(color);
	&:hover {
		.c(@color);
	}
}

.touch-text(@color) when (@touch = true) {
	.transition(color);
	&.touch, &.ng-click-active {
		.c(@color);
	}
}

.hover-darken(@color) when (@touch = false) {
	.transition(background-color);
	&:hover {
		.bgc(darken(@color, 5%), @color);
	}
}

.touch-darken(@color) when (@touch = true) {
	.transition(background-color);
	&.touch, &.ng-click-active {
		.bgc(darken(@color, 5%), @color);
	}
}

.hover-lighten(@color) when (@touch = false) {
	.transition(background-color);
	&:hover {
		.bgc(lighten(@color, 5%), @color);
	}
}

.touch-lighten(@color) when (@touch = true) {
	.transition(background-color);
	&.touch, &.ng-click-active {
		.bgc(lighten(@color, 5%), @color);
	}
}

.hover-icon(@x, @y) when (@touch = false) {
	&:hover {
		&:before,
		&:after {
			.bgp((@x * -(@icon-optical-size)), (@y * -(@icon-optical-size)));
		}
	}
}

.touch-icon(@x, @y) when (@touch = true) {
	&.touch, &.ng-click-active {
		&:before,
		&:after {
			.bgp((@x * -(@icon-optical-size)), (@y * -(@icon-optical-size)));
		}
	}
}

.hover-image(@pos) when (@touch = false) {
	&:hover {
		.bgp(@pos);	
	}
}

.touch-image(@pos) when (@touch = true) {
	&.touch, &.ng-click-active {
		.bgp(@pos);	
	}
}

.hover-underline() when (@touch = false) {
	.tdu;
	&:hover {
		.tdn;
	}
}

.touch-underline() when (@touch = true) {
	.tdu;
	&.touch, &.ng-click-active {
		.tdn;
	}
}

.hover-opacity(@opacity) when (@touch = false) {
	.transition(opacity);
	&:hover {
		.op(@opacity);
	}
}

.touch-opacity(@opacity) when (@touch = true) {
	.transition(opacity);
	&.touch, &.ng-click-active {
		.op(@opacity);
	}
}

// Layout

.container-limited(@width) {
	.wrapper {
		.w(@width);
		.mxw(100%);
	}
}

.container-static(@width) {
	.miw(@width);
	.wrapper {
		.w(@width);
	}
}

.container-fluid() {
	.wrapper {
		.w(auto);
		.mxw(none);
	}
}

.header-fixed(@height) {
	header {
		.lt;
		.pf;
		.zi(@z-index-header);
		.b(100%, @height);
		.wrapper {
			.mih(@height);
		}
	}
	#middle {
		padding-top: @height;
	}
	&.platform-ios {
		header {
			padding-top: 20px;
			.h(@height + 20px);
		}
		#middle {
			padding-top: (@height + 20px);
		}
	}	
}

.header-static(@height) {
	header {
		.pr;
		.zi(@z-index-header);
		.mih(@height);
		.wrapper {
			.mih(@height);
		}
	}
	#middle {
		padding-top: 0;
	}
}

.footer-fixed(@height) {
	footer {
		.lb;
		.pf;
		.zi(@z-index-footer);
		.b(100%, @height);
		.wrapper {
			.mih(@height);
		}
	}
	#middle {
		padding-bottom: @height;
	}
}

.footer-static(@height) {
	footer {
		.lb;
		.zi(@z-index-footer);
		.b(100%, @height);
		.wrapper {
			.mih(@height);
		}
	}
	#container {
		padding-bottom: @height;
	}
}

.aside-fixed() {
	aside {
		@media @screen-normal {
			.pf;
			top: 0;
			bottom: 0;
			z-index: @z-index-aside;
			.oy;
		}
		&.platform-wp8 {
			aside {
				@media @screen-normal {
					top: 16px;
				}
			}
		}
		&.platform-ios {
			aside {
				@media @screen-normal {
					top: 20px;
				}
			}
		}	
	}
	&.header-fixed {
		aside {
			@media @screen-normal {
				top: @header-height;
			}
		}
		&.platform-ios {
			aside {
				@media @screen-normal {
					top: (@header-height + 20px);
				}
			}
		}	
	}
	&.header-fixed.header-large {
		aside {
			@media @screen-normal {
				top: @header-height-large;
			}
		}
		&.platform-ios {
			aside {
				@media @screen-normal {
					top: (@header-height-large + 20px);
				}
			}
		}	
	}
	&.footer-fixed {
		aside {
			@media @screen-normal {
				bottom: @footer-height;
			}
		}
	}
}
