.strenght{
    border-bottom: 2px solid #efefef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .content1{
        border-left: 2px solid #efefef;
        border-right: 2px solid #efefef;    
        .col(33.3333%);
        .title1{
            padding-top: 18px;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "Cormorant_Garamond";
            font-weight: 700;
            color: #333;
            letter-spacing: 2px;
        }
        .detail1{
            padding-top: 8px;
            padding-bottom: 18px;
            font-size: 14px;
            font-family: "Fira_Sans";
            font-weight: 400;
            color: #ababab;
            letter-spacing: 0px;
        }
        
    }
}
.banner-title{
    height: 323px;
    margin: auto;
    width: 50%;
    .banner-inner{
        max-width: 776px;
        font-size: 34px;
        font-family: "Cormorant_Garamond";
        font-weight: 600;
        color: #333333;
        text-align: center;
        padding-top: 108px;
        padding-left: 95px;
        line-height: 137%;
    }
}
.banner{
    &-top{
        padding-bottom: 46px;
        padding-left: 4px;
        &-inner{
            display: flex;
            justify-content: space-between;
            .left{
                margin-top: 0px;
                padding-right: 22.5px;
                position: relative;
                &-detail{
                    position: absolute;
                    left: 27%;
                    bottom: 5%;
                    .content-bn{
                        font-family: "Fira_Sans";
                        font-size: 24px;
                        font-weight: 400;
                        color: #333333;
                        text-align: center;
                        letter-spacing: 1px;
                    }
                    .price-bn{
                        padding-top: 20px;
                        padding-bottom: 12px;
                        letter-spacing: 1px;
                        font-family: "Cormorant_Garamond";
                        font-size: 24px;
                        font-weight: 700;
                        color: #d6ba8d;
                        text-align: center;
                    }
                }
            }
            .between{
                padding-left: 27.5px;
                padding-right: 28.5px;
                position: relative;
                    &-detail{
                        position: absolute;
                        left: 65%;
                        bottom: 18%;
                        .title-bn{
                            font-family: "Fira_Sans";
                            font-size: 18px;
                            font-weight: 400;
                            color: #333333;
                            text-align: center;
                            padding-bottom: 6px;
                            letter-spacing: 4px;
                            padding-left: 5px;
                        }
                        .price-bn{
                            font-family: "Cormorant_Garamond";
                            font-size: 100px;
                            font-weight: 700;
                            color: #333333;
                            text-align: center;
                            padding-bottom: 13px;
                        }
                        .content-bn{
                            font-family: "Cormorant_Garamond";
                            font-size: 24px;
                            font-weight: 700;
                            color: #696969;
                            text-align: center;
                            padding-bottom: 62px;
                        }
                        .btn-bn{
                            font-family: "Fira_Sans";
                            font-size: 14px;
                            font-weight: 700;
                            color: #696969;
                            text-align: center;
                            padding-bottom: 30px;
                            text-transform: uppercase;
                            letter-spacing: 3px;
                            padding-left: 4px;
                        }
                    }
            }
            .right{
                padding-left: 22.5px;
                position: relative;
                &-detail{
                    position: absolute;
                    left: 17%;
                    bottom: 13%;
                   .title-bn{
                        font-family: "Fira_Sans";
                        font-size: 14px;
                        font-weight: 400;
                        color: #333333;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                   }
                   .content-bn{
                        font-family: "Cormorant_Garamond";
                        font-size: 72px;
                        font-weight: 700;
                        padding-top: 15px;
                        color: #d6ba8d;
                        text-align: center;
                        letter-spacing: 2px;
                   }
                }
            }
        }
    }
    &-bot{
        padding-left: 4px;
        padding-bottom: 150px;
        &-inner{
            display: flex;
            justify-content: space-between;
            .left{
                padding-right: 22.5px;
            }
            .between{
                padding-left: 24.5px;
                padding-right: 27.5px;
                position: relative;
                &-detail{
                    position: absolute;
                    left: 23%;
                    bottom: 5%;
                    .content-bn{
                        font-family: "Fira_Sans";
                        font-size: 24px;
                        font-weight: 400;
                        color: #333333;
                        text-align: center;
                        letter-spacing: 1px;
                    }
                    .price-bn{
                        padding-top: 20px;
                        padding-bottom: 12px;
                        letter-spacing: 1px;
                        font-family: "Cormorant_Garamond";
                        font-size: 24px;
                        font-weight: 700;
                        color: #d6ba8d;
                        text-align: center;
                    }
                }
            }
            .right{
                padding-left: 22.5px;
                position: relative;
                &-detail{
                    position: absolute;
                    left: 9%;
                    bottom: 37.5%;
                    .title-bn{
                        font-family: "Cormorant_Garamond";
                        font-size: 48px;
                        font-weight: 700;
                        color: #333333;
                        padding-bottom: 22px;
                                      
                    }
                    .content-bn{
                        font-family: "Fira_Sans";
                        font-size: 14px;
                        font-weight: 400;
                        color: #333333;
                        letter-spacing: 0.7px;
                        padding-bottom: 10px;
                        padding-left: 3px;
                    }
                }
            }
        }

    }
}
.product-title{
    &-inner{
    display: flex;
    justify-content: space-between;
    .left{
        font-family: "Cormorant_Garamond";
        font-size: 56px;
        font-weight: 700;
        color: #333333;
        letter-spacing: 1px;
    }
    .right{
        .flex();
        font-family: "Fira_Sans";
        font-size: 14px;
        font-weight: 700;
        color: #333333;
        letter-spacing: 1px;   
        .play{
            color: #d6ba8d;
        }
    }
    }
}
.product{
    &-inner{
        .flex();
        .col(25%);
        .title{
            font-family: "Fira_Sans";
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            letter-spacing: 0px;
            text-align: center;
        }
        .price{
            font-family: "Cormorant_Garamond";
            font-size: 18px;
            font-weight: 700;
            color: #d6ba8d;
            letter-spacing: 0px;
            text-align: center;
        }
    }
}