.yashare {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  &__list {
    margin: 0;
    padding: 0;

    .ya-share2 {

      &_inited {
      }

      &__container {
        &_size_m {
        }

        &_mobile {
        }

        &_color-scheme_normal {
        }

        &_shape_normal {
        }
      }

      &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        &_direction_horizontal {
        }
      }

      &__item {
        padding: 0;
        margin: 0 0 0 1rem;
        border-radius: 50%;
        width: 3.6rem;
        height: 3.6rem;
        @media (min-width: @tab) {
          margin-left: 1.5rem;
        }

        &_service_twitter .ya-share2__badge {
          mask-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.6425 10.9366C28.8075 11.3066 27.9105 11.5566 26.9675 11.6696C27.9405 11.0874 28.6685 10.1711 29.0155 9.09159C28.1014 9.63458 27.1009 10.0168 26.0575 10.2216C25.3559 9.47245 24.4266 8.97591 23.4138 8.80906C22.4011 8.64221 21.3616 8.81438 20.4568 9.29884C19.5519 9.7833 18.8323 10.553 18.4097 11.4883C17.9871 12.4236 17.8851 13.4723 18.1195 14.4716C16.2672 14.3786 14.4552 13.8971 12.8009 13.0585C11.1467 12.2198 9.68736 11.0427 8.51752 9.60359C8.11752 10.2936 7.88752 11.0936 7.88752 11.9456C7.88708 12.7126 8.07596 13.4678 8.4374 14.1443C8.79885 14.8208 9.32168 15.3976 9.95952 15.8236C9.2198 15.8001 8.4964 15.6002 7.84952 15.2406V15.3006C7.84945 16.3763 8.22156 17.419 8.90271 18.2516C9.58386 19.0842 10.5321 19.6555 11.5865 19.8686C10.9003 20.0543 10.1809 20.0817 9.48252 19.9486C9.78002 20.8742 10.3595 21.6836 11.1399 22.2635C11.9203 22.8434 12.8624 23.1648 13.8345 23.1826C12.1844 24.478 10.1464 25.1807 8.04852 25.1776C7.6769 25.1777 7.3056 25.156 6.93652 25.1126C9.066 26.4818 11.5449 27.2084 14.0765 27.2056C22.6465 27.2056 27.3315 20.1076 27.3315 13.9516C27.3315 13.7516 27.3265 13.5496 27.3175 13.3496C28.2288 12.6906 29.0154 11.8745 29.6405 10.9396L29.6425 10.9366Z' fill='white'/%3E%3C/svg%3E%0A");
        }

        &_service_facebook .ya-share2__badge {
          mask-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_856:686)'%3E%3Cpath d='M23.5845 19.5002L24.2512 15.157H20.0835V12.3385C20.0835 11.1505 20.6655 9.99173 22.5322 9.99173H24.4267V6.29423C24.4267 6.29423 22.7077 6.00098 21.0637 6.00098C17.6317 6.00098 15.3885 8.08148 15.3885 11.8472V15.1577H11.5732V19.501H15.3885V30.001H20.0835V19.501L23.5845 19.5002Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_856:686'%3E%3Crect width='24' height='24' fill='white' transform='translate(6 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        &_service_telegram .ya-share2__badge {
          mask-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.4389 10.6223L25.2702 25.566C25.0309 26.6205 24.4077 26.883 23.5219 26.3865L18.6934 22.8285L16.3639 25.0695C16.1059 25.3275 15.8907 25.5428 15.3934 25.5428L15.7407 20.6258L24.6889 12.54C25.0782 12.1935 24.6042 12.0008 24.0844 12.348L13.0219 19.314L8.2594 17.823C7.22365 17.4998 7.2049 16.7873 8.4754 16.29L27.1032 9.11325C27.9657 8.79 28.7202 9.30525 28.4389 10.623V10.6223Z' fill='white'/%3E%3C/svg%3E%0A");
        }

        &_service_whatsapp .ya-share2__badge {
          mask-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 17.7425C28 23.1225 23.6038 27.485 18.1813 27.485C16.5227 27.4873 14.8904 27.0702 13.4362 26.2725L8 28L9.7725 22.7725C8.84907 21.2574 8.3616 19.5168 8.36375 17.7425C8.3625 12.3612 12.7588 8 18.1813 8C23.6038 8 28 12.3625 28 17.7425ZM18.1813 9.55125C13.63 9.55125 9.9275 13.2262 9.9275 17.7425C9.92612 19.4701 10.4771 21.1528 11.5 22.545L10.4687 25.5863L13.64 24.5788C14.9887 25.4648 16.5676 25.9359 18.1813 25.9338C22.7338 25.9338 26.4363 22.2587 26.4363 17.7425C26.4363 13.2262 22.7338 9.55125 18.1813 9.55125V9.55125ZM23.14 19.9862C23.0787 19.8862 22.9187 19.8263 22.6775 19.7075C22.4375 19.5888 21.2538 19.01 21.0338 18.9312C20.8125 18.8512 20.6525 18.8113 20.4913 19.05C20.251 19.3732 19.9966 19.6856 19.7288 19.9862C19.5888 20.1462 19.4488 20.165 19.2088 20.0463C18.9675 19.9263 18.1925 19.675 17.2725 18.8613C16.7473 18.3793 16.2965 17.8219 15.935 17.2075C15.7937 16.9688 15.9188 16.8387 16.04 16.72C16.1475 16.6125 16.28 16.4413 16.4012 16.3025C16.5212 16.1625 16.5613 16.0637 16.6413 15.9037C16.7213 15.7437 16.6813 15.605 16.6213 15.485C16.5613 15.3662 16.08 14.1912 15.8788 13.7125C15.6788 13.235 15.4787 13.315 15.3375 13.315C15.1975 13.315 15.0375 13.295 14.8763 13.295C14.7546 13.2982 14.6349 13.3263 14.5246 13.3777C14.4143 13.4291 14.3157 13.5026 14.235 13.5938C14.0137 13.8313 13.3925 14.41 13.3925 15.585C13.3925 16.76 14.255 17.895 14.375 18.055C14.495 18.2137 16.04 20.7038 18.4862 21.66C20.9337 22.615 20.9338 22.2975 21.3738 22.2562C21.815 22.2175 22.7987 21.68 22.9987 21.1212C23.1987 20.5637 23.1987 20.085 23.14 19.9862V19.9862Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }

      &__link {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        background: @dark;
        position: relative;
        transition: background-color .2s;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: @grad;
          transition: opacity .2s;
          opacity: 0;
        }

        &:hover {
          @media (min-width: @desk) {
            background: none;
            &:before {
              opacity: 1;
            }
            .ya-share2__badge {
              background: @dark;
            }
          }
        }
      }

      &__badge {
        width: 3.6rem;
        height: 3.6rem;
        display: block;
        background: @light;
        position: relative;
        mask: center center / 100% no-repeat;
        transition: background-color .2s;
      }

      &__icon {
      }

      &__title {
        font-size: 0;
        line-height: 0;
        position: absolute;
      }

      &__copied-tooltip {
        display: none;
      }
    }
  }
}