
  @fontHead: 		'Oxygen';
  @fontText: 		'Oxygen';
  @fontQuote: 		'Oxygen';
  //"Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif
  //background-color: rgba(0, 0, 0, 0.2)
  @colorHead: 		#5E8C31;
  @colorQuote: 	    #995FA3;
  @colorFrame: 	    #f5f5f5;    
  
  @colorMenuBack:   #1d365d;
  @colorHighlight:  #172b4a;
  //#333333
  @colorBack: 		#FFFFFF;
  //#1d365d;
  @colorText: 		#012A36;
  @colorWhiteText:  #FFFFFF;
  
  @screenWidth: 	    70%;
  @screenWidthMobile:   90%;
  @screenLimit: 	    1200px; 
  @screenLimitIFrame:   1200px;
  @asideWidth: 	        400px; 
  @screenTop: 	        130px;
  @screenTopMobile:     100px;

body {
	color: @colorText;
	background: @colorBack;// url(images/bg.png);
	
	font-family: @fontHead, sans-serif;
	font-family: @fontText, sans-serif;
	font-family: @fontQuote, sans-serif;

	font: large @fontText, sans-serif;
	
	margin: 0;
        
}

#wrapper {
	
    display: grid;
       
    @media (max-width: @screenLimit){
        max-width: @screenWidthMobile;
        grid-template-areas: 'content';
        grid-template-columns: auto;
    }
    
    @media (min-width: @screenLimit){
        max-width: @screenWidth;
        grid-template-areas: 'sidebar content';
        grid-template-columns: fit-content(@asideWidth) auto;
    }
	margin: auto;	
    
    
    
}

header{
    
    background: @colorMenuBack;
	color: @colorWhiteText;
    
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 10000;   
    border-top: 5px solid @colorHighlight;    
    border-bottom: 5px solid @colorHighlight;

    #header {
        
        margin: auto;
        //margin: 0 0 20px 0;
        
        //position: sticky; 
        

        //overflow: hidden;
        //background: @colorBack; // url(images/bg.png);
        
        @media (min-width: @screenLimit){
            max-width: @screenWidth;
        }
        
        @media (max-width: @screenLimit){
            max-width: @screenWidthMobile;
            margin-bottom: 0px;
        }
        nav{
            @media (max-width: @screenLimit){
                display: none;
            }
        }
        h1{
            font-size: x-large;
        }
    }
}

.content{
    grid-area: content;
    @media (min-width: @screenLimit){
        margin-top: @screenTop;
    }
    
    @media (max-width: @screenLimit){
        margin-top: @screenTopMobile;
    }
    
    iframe{
    
        @media (min-width: @screenLimitIFrame){
            width: 700px;
            height: 400px;
        }


        @media (max-width: @screenLimitIFrame){
            /*display: none;*/
            width: 250px;
            height: 150px;
        }
    }
} 

aside {

    grid-area: sidebar;

    .sticky{
        position: sticky;
        top: @screenTop;
    }

    font: small @fontHead, sans-serif;
    margin: 0 20px;
    
    @media (min-width: @screenLimit){
        /*position: fixed;*/
        /*top: 20%;*/
    }


    @media (max-width: @screenLimit){
        /*position: fixed;*/
        /*top: 20%;*/
        display: none;
    }
    
    .aside-menu {
        li {
            border-top: 1px solid @colorHighlight;
            list-style-type: none;
        }

        li:first-child {
            border: none;
        }

        li.active {
            background-color: @colorMenuBack;
        }
        li.active a{
            color: @colorWhiteText;
        }
        a {
            color: @colorText;
        }
    }
}

.main-menu {
	
    font: x-large @fontHead, sans-serif;
    text-align: left;
    
    padding: 20px 0;
    a.ref{
        color: @colorWhiteText; 
    }
}
    
.aside-menu {
    font: medium @fontText, sans-serif;
    text-align: left;
    margin-top: 20px;
    div{
        padding-top:5px;
    }

	padding-bottom: 10px;
}

blockquote {
    text-align: right;
	margin: 10px auto;
	
	background: @colorQuote;
	font-family: @fontQuote, sans-serif;
	
	padding: 10px 20px;

    p {
        color: @colorWhiteText;
        font-style: italic;
        font-size: large;
        
        margin: 0;
    }

    cite {
        display: block;
        font-size: medium;
        font-style: normal;
        color: @colorWhiteText;
        /*text-align: left;		*/
    }
}

nav {
    a {
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-position: inside;
        font: large @fontText, sans-serif;
        
        padding: 10px;
    }
    
    .top-menu {
        li {
            display: inline-block;
            
            padding: 10px 20px;
            margin: 0;	

            a {
                color: @colorWhiteText;
            }
        }    
        .active {
            background: @colorHighlight;
            a {
                color: @colorWhiteText;
            }
        }
    }
}

.section{
    line-height: 130%; 
    
    text-align:left; 
    font-size:x-large;
    font-weight: bold;
    color: @colorHighlight;
	
	margin:20px auto; 
}

iframe{
    border: 3px solid @colorHighlight; 
}

ul li{
	margin: 5px;
    line-height: 130%;
}

.faq{

}

.xx-large{
	@media (min-width: @screenLimit){
        font-size:xx-large;
    }


    @media (max-width: @screenLimit){
        font-size:x-large;
    }
}

.x-large{
	
    @media (min-width: @screenLimit){
        font-size:x-large;
    }


    @media (max-width: @screenLimit){
        font-size:large;
    }
}

.medium{
	font-size:medium;
}

.underline{
    text-decoration: underline;
}

.ref {
	display:inline; 
    color: @colorHead;
}

.inline {
	display:inline; 
}

.flex-image{
    
    @media (min-width: @screenLimit){
        width:150px; 
        margin:20px;
    }

    @media (max-width: @screenLimit){
        /*width:150px; 
        margin:10px 20px;*/
        display: none;
    }
}
.faq-item{
    
    img{
        width:40px; 
        margin:auto 50px;
        @media (max-width: @screenLimit){
            display: none;
        }
    }
    .q{
        @media (max-width: @screenLimit){
            text-decoration: underline;
        }
        display: inline;
    }
    .faq-row{
        display: flex;
        div{
            width: 200px;   
            text-align: center;
        }
        div+div{
            margin-left: 100px;
        }
        iframe{
            height: 150px;
            width: 200px;
        }                        
    }
    .faq-video{
        @media (max-width: @screenLimit){
            display: none;
        }
    }
    .faq-video-mobile{
        @media (min-width: @screenLimit){
            display: none;
        }
    }
}

.italic{
	font-style: italic;
    /*font-decoration: underline;*/
}

.frame{
    line-height: 130%; 
    border: 3px solid @colorHighlight; 
    background-color: @colorFrame; 
    
    border: 1px solid #cccccc;
    border-radius: 4px;
    
    font-size: large; 
	
	padding: 15px; 
	margin: 10px;
    //margin:20px auto; 

    li{
        list-style-type: none;
        margin: 10px;
    }   
    p{
        margin: 10px
    }
}


img {
	border: 0;
}

button {
	color: @colorWhiteText;
	background-color: @colorMenuBack;
    border: 4px solid @colorHighlight;
	
	font-family: @fontHead, sans-serif;
	
    padding: 5px; 

    a {
        color: @colorWhiteText;
        text-decoration: none;
        font: large @fontHead, sans-serif;
        
        padding: 0.1em; 
    }
}

.ownpath{
    @media (min-width: @screenLimit){
        width: 250px;
    }
    @media (max-width: @screenLimit){
        width: 100px;
    }
}

.review img{
    @media (min-width: @screenLimit){
        width: 450px;
    }
    @media (max-width: @screenLimit){
        width: 250px;
    }
}
.foto img{
    @media (max-width: @screenLimit){
        display: none;
    }
}

.contacts{
    button.ref {
        display: block;
        a{
            font-size: large;
        }
    }
}
button.ref {
	margin: 10px;
    a{
        font-size: xx-large;        
    }
}
	
button[name="CourseEnter"] {
	float: right;
    @media (max-width: @screenLimit){
        display: none;
    }
}

p {
	margin: 20px 0;
}

footer {
  
	background: @colorMenuBack;
	color: @colorWhiteText;
    //font-size: medium;
    
    a {
        color: @colorBack;
        text-decoration: none;
    }
    p {
        margin: 5px 0;
    }
    
    #footer{
        @media (max-width: @screenLimit){
            display: none;
        }
    }
    
    #footerMobile{
        @media (min-width: @screenLimit){
            display: none;
        }
    }
    
    #footer, #footerMobile{
        @media (min-width: @screenLimit){
            max-width: @screenWidth;
        }
        @media (max-width: @screenLimit){
            max-width: @screenWidthMobile;
        }
        
        margin: auto;
        padding: 10px 0;
        
        h3 {
            font: large @fontHead, sans-serif;
            color: @colorWhiteText;
            border-bottom: 1px solid @colorWhiteText;
            margin: 0 0 10px 0;
        }

        #sitemap {
            display: flex;            
        }
        .sitemap {

            margin-left: 40px;
            
            display: flex;
            
            /*@media screen and (max-width: @screenLimit){
                flex-direction: column;
            }*/
                
            div {
                display: inline-block;
            }
            div + div {                
                @media (min-width: @screenLimit){
                    margin-left: 40px;
                }
            }
            a {
                display: block;
                text-decoration: none;            
                margin-bottom: 5px;

            }
            a:hover {
                text-decoration: underline;
            }
            
            margin-bottom: 40px;
            
            .hide2{
                @media (max-width: @screenLimit){
                    display: none;
                }
            }

        }
    }
}

