#div-forgot-email{
    width: 70%;
    float: right;
}

.block-title{
    text-align: center;
}

.forgot-email-line-item > .input-forgot-email{
    width: 100%;
}

.btn-forgot-email{
    margin: 0;
    width: 70%;
    background-color: #2e90ce;
    color: @color-white;
    height: 50px;
    font-family: 'Roboto';
    text-transform: uppercase;
}

button.action {
    text-transform: none;
}

.customer-account-forgotemail  .actions-toolbar .find-email {
    display: flex;
    justify-content: flex-end;
}

#circle_sign_success {
    background-image: url("../images/icon/circle-check-512-black.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 82px;
    margin-top: 20px;
}

.customer-account-forgotpassword #maincontent .columns .main{
    padding-top: 40px;
}
.login-container-wrap .login-container {
    padding-bottom: 60px;
    padding-top: 25px;
}

.login-container-wrap .login-container #div-forgot-email .input-forgot-email{
    height: unset;
}

@media only screen and (max-width: 768px) {

    .login-container-wrap .login-container {
        padding-bottom: 30px;
        #login-customer-customize-block{
            .block-title{
                strong{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    #div-forgot-email{
        width: 100%;
    }

    .btn-forgot-email {
        width: 100%;
        height: unset;
    }
    .customer-account-forgotemail {
        login-container .block .block-title strong {
            font-size: 1rem;
        }

        #maincontent {
            #login-customer-customize-block .label-forgot-email {
                display: inline-block;
                width: 100%;
            }

            .login-container-wrap .login-container {
                display: flex;
                justify-content: center;
            }

            .login-container-inner h1.page-title {
                font-size: larger;
                text-align: center;
            }
        }
    }
}

//KhanhND25  - Reponsive on forgot password by phone

.customer-account-forgotpasswordbyphone {
    .page-wrapper #maincontent .columns .column.main{
        padding-top: 9px;
    }
    .for-got-password {

        padding: 0 60px 60px 60px;

        h4 {
            color: #444444;
        }

        .action.action-recover-password-by-phone-number {
            text-align: center;
            margin-top: 15px;
            padding-top: 17px;
            padding-bottom: 17px;
            text-transform: uppercase;
        }

        .field.note{
            white-space: unset;
            color:#666666;
            border-bottom: unset;
        }

        #form-validate > fieldset > div.field.required > label {
            width: 30% !important;
        }

        #form-validate > fieldset > div.field.required > div {
            width: 70% !important;
        }
        .label-switch-to-recover-password-by-phone-number {
            margin-top: 15px;
        }

        button.action.submit.primary{
            height: 50px;
        }
    }

    .field.note {
        color: #666666;
        white-space: unset;
        border-bottom: unset;
    }

    .space-find-password {
        display: flex;
        width: 100%;
    }

    .space-block {
        width: 30%;
    }

    .actions-toolbar-custom {
        width: 70%;
        margin-top: 10px;
    }

    .label.label span {
        font-weight: 800;
        color:  #333;
    }

    label.label {
        padding-bottom: 0 !important;
    }

    .field.required {
        display: flex;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {

    .customer-account-forgotpasswordbyphone {

        .for-got-password {
            padding: 0 15px 10px 15px;

            #form-validate {
                width: 100% !important;
            }

            #form-validate > fieldset > div.field.required > div {
                width: 100% !important;
            }
            #form-validate>fieldset>div.field.required>label{
                width: 100% !important;
            }

            .action.action-recover-password-by-phone-number{
                font-size: 14px;
                padding: 12px 2px;
                font-family: 'Poppins';
            }

            button.action.submit.primary{
                height: 40px;
            }

            h4 {
                font-size: 20px;
            }


            .space-block {
                width: 0;
            }

            .actions-toolbar-custom {
                width: 100%;
            }

            .field.required {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .field.note {
                font-size: 15px;
            }

            label.label span {
                font-weight: 700;
            }

            #form-validate > fieldset > div.field.phone.required > label{
                padding-bottom: 0 !important;
            }
        }

    }
}
.customer-account-forgotpasswordnotification .page-wrapper #maincontent {
    min-height: unset;
}
 .background-forgot-password {
     width: 100%;
     height: 500px;
     background-image: url("../images/icon/background-forgot-pasword.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }

@media (min-width: 768px) and (max-width: 1024px) {
    .background-forgot-password {
        height: 400px;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .background-forgot-password {
        height: 200px;
    }
}

@media (min-width: 321px) and (max-width: 640px) {
    .background-forgot-password {
        height: 190px;
    }
}

@media only screen and (max-width: 320px) {
    .background-forgot-password {
        height: 165px;
    }
}

/*SonNH38*/
.customer-account-forgotemail #maincontent .login-container-wrap {
    margin-top: unset;
}
