.modal-work {
    display: flex;
}

.modal-work__preview {
    width: 50%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-work__slider {
    margin: 0 !important;

    .slick-dots li button {
        background-color: transparent !important;
    }

    .slick-list {
        width: 100% !important;
    }

    .slick-track {
        margin: 0;
        padding: 0;
    }

    .slick-dots li button:before {
        color: @white  !important;

        &:hover {
            color: #FFF !important;
        }
    }

    .slick-dots li.slick-active button:before {
        color: @white;
        opacity: 1;
    }
}

.modal-work__item {
    width: 100%;
    padding: 0 .5rem;
}

.modal-work__photo {
    position: relative;
    width: 100%;
    padding-top: 70%;
    border: 1px solid rgba(@black, .75);
    display: flex;
    max-width: 100%;
    height: auto;
    background-color: rgba(@black, .75);

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        display: block;
        content: "800x560";
        font-size: 2rem;
        font-weight: bold;
        color: @white;
    }
}

.modal-work__content {
    position: relative;
    width: 50%;
    padding: 2rem;
}

.modal-work__header {
    margin-bottom: 2.5rem;
}

.modal-work__title {
    font-weight: 700;
    text-transform: uppercase;

    font-size: 2.25rem;
    color: @black;
    margin-bottom: 0.2rem;

}

.modal-work__info {
    text-transform: uppercase;

    color: @black;
    font-size: 1.25rem;

}

.modal-work__info__divider {
    margin: 0 1rem;
}

.modal-work__client {
    margin-bottom: 2.5rem;
}

.modal-work__client-title {
    font-weight: 700;

    font-size: 1rem;
    margin-bottom: 0.2rem;

    color: @black;
}

.modal-work__client-company {
    font-style: italic;

    font-size: 1rem;

    color: @black;
}

.modal-work__text {
    line-height: 2;
    font-weight: 300;

    font-size: 1rem;
    margin-bottom: 3rem;

    color: @black;
}

.modal-work__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.modal-work__btn {
    cursor: pointer;
    font-family: inherit;
    background: none;
    border: 0;
    padding: 0;
    text-transform: uppercase;
    transition: transform .2s linear;

    font-size: 1rem;

    color: @black;

    &:hover {
        transform: translateY(-20%);
    }

    & i {
        color: @black;
    }
}

.slick-dots {
    margin-bottom: 1rem;
}

.slick-dots li button:before {
    font-size: 1.25rem;
}

.slick-dots li button {
    border: 0 !important;
}