@panelLysblaa: #cfe2f3;
@fargeAdvarsel: #fdbc6d;
@fargeSuksess: #9bd0b0;

.panel--advarsel {
    background: @fargeAdvarsel;
}
.panel--suksess {
    background: @fargeSuksess;
}
.panel--lysblaa {
    background: @panelLysblaa;
}

.arbeidsgiveroppgave__rad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
    @media (max-width: @screen-xs-max) {
        display: block;
    }
}
.arbeidsgiveroppgave__rad--element {
    margin-right: 1em;
}
.arbeidsgiveroppgave__rad--knappgruppe {
    @media (max-width: @screen-xs-max) {
        margin-top: 1em;
    }
    .knapp {
        margin-right: 1em;
        text-transform: uppercase;
    }
}
.arbeidsgiveroppgave__rad--feilmelding {
    width: 20em;
}


.oppfolgingsdialoger__tekst {
    margin-bottom: 2em;
    padding: 0.5em 0;
}
.oppfolgingsdialogerIngenplan, .oppfolgingsdialogNyDialog , .oppfolgingsdialogUtenAktivSykmelding{
    h3, p {
        margin: 0;
    }
}

.oppfolgingsdialogStilling__tekst {
    vertical-align: middle;
    display: inline-block;
}


.oppfolgingsdialogerIngenplan__blokk, .oppfolgingsdialogTeaser, .oppfolgingsdialogUtenAktivSykmelding__blokk {
    display: flex;
    background: @white;
    padding: 1rem;
    @media (max-width: @screen-xs-max) {
        padding: 1em;
    }
    img {
        margin-right: 2em;
        height: fit-content;
        align-self: center;
        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }
    .inngangspanel__innhold {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: @screen-xs-max) {
            display: block;
        }
    }
}
.oppfolgingsdialogTidligereUtenSykmelding {
    .inngangspanel__tittel {
        margin-top: .5em;
        margin-bottom: .5em;
    }
}

.oppfolgingsdialogerIngenplan__header, .oppfolgingsdialogTeasere__header, .oppfolgingsdialogUtenAktivSykmelding__header {
    background: @white;
    padding: 1em 2em;
    @media (max-width: @screen-xs-max) {
        padding: 0.5em 1em;
    }
}
.oppfolgingsdialogerIngenplan__header, .oppfolgingsdialogUtenAktivSykmelding__header {
    h2 {
        margin: 0;
        font-size: 1.25em;
    }
}
.oppfolgingsdialogTeasere__header {
    h2 {
        margin: 0;
        font-size: 1.25em;
    }
}
.oppfolgingsdialoger__pil {
    display: block;
    margin: 0 auto 2em auto;
}
.oppfolgingsdialoger__rammeknapp {
    margin-bottom: 3em;
}
.godkjennPlanSendt_infoTekst {
    margin-top: 2em;
    h3 {
        margin: 0;
    }
}

