/**
 * The perspective property is used to give a 3D-positioned element some perspective.
 * The perspective property defines how far the object is away from the user.
 * So, a lower value will result in a more intensive 3D effect than a higher value.
 *
 * Chrome 12.0+, Edge 10.0+, Firefox 10.0+, Safari 4.0.3+, Opera 15.0+
 */

.perspective(@value) {
  -webkit-perspective: @value; // Safari
  -moz-perspective: @value; // Firefox
  perspective: @value;
}

/**
 * The perspective-origin property defines at from which position the user is looking at the 3D-positioned element.
 *
 * Chrome 12.0+, Edge 10.0+, Firefox 10.0+, Safari 4.0.3+, Opera 15.0+
 */

.perspective-origin(@value: 50% 50%) {
  -webkit-perspective-origin: @value; // Safari
  -moz-perspective-origin: @value; // Firefox
  perspective-origin: @value;
}
