.main-form{
min-width: 320px;
	// background: url(../img/);
	background-image:
		url(../img/img-form.png),
	url(../img/img-form3.png),
	url(../img/img-form4.png),
	url(../img/img-form2.png),
	url(../img/img-form1.png),

	linear-gradient(180.75deg, #A5E2FF 9.95%, #E7F7FF 74.43%);
	background-repeat:no-repeat;
	background-position: right 188px bottom 172px,
	right 0 bottom 0,
	right 0 bottom 0,
	left 0 top 0,
	left 0 top -20px,
	center center;
	@media(max-width: 1700px){
		background-position: right 20px bottom 172px,
	right 0 bottom 0,
	right 0 bottom 0,
	left 0 top 0,
	left 0 top -20px,
	center center;
	}
		@media(max-width: 1640px){
	background-size:550px, auto, auto, auto, auto, auto
	}
			@media(max-width: 1350px){
	background-size:450px, auto, auto, auto, auto, auto
	}
}
.main-form__wrapper{
	padding-top:55px;
padding-bottom:55px;
}
.main-form__form{
	width: 720px;
	box-sizing:border-box;
	padding:35px 70px;
	background: #FFFFFF;
box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.1);
border-radius: 10px;
@media(max-width: 1025px){
	margin:0 auto;
}
@media(max-width: 768px){
	width:auto;
}
    	@media(max-width:678px){
			padding:25px 25px;
	}
}
.main-form__form-title{
font-weight: bold;
font-size: 32px;
line-height: 36px;
/* or 112% */
margin-bottom: 38px;
text-align: center;
width:100%;
color: #000000;
    	@media(max-width:426px){
font-size: 24px;
line-height: 26px;
	}
}

.main-form__form input,
.main-form__form textarea{
	border:0;
	outline:none;
	border-bottom: 1px solid #A1A1A1;
	padding: 0 10px 10px 0;
	font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

/* identical to box height */

cursor:pointer;
color: #000000;
transition:.2s;
&:hover,
&:active,
&:focus{
border-bottom: 1px solid @main-blue;	
}
    		@media(max-width: 426px){
	font-size: 16px;
line-height: 19px;
}
}
.main-form__form textarea{
	resize:none;
}

.main-form__form {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between
}
.main-form__input{
	display: flex;
	flex-direction: column;
	width:100%;
	margin-bottom: 25px
}
.main-form__form label{
margin-bottom:15px;
font-size: 13px;
line-height: 15px;
display: block;
color: #A2A2A2;


}
.main-form__input--name,
.main-form__input--phone{
	width:48%;

		@media(max-width: 426px){
	width:100%;
}
}
// .select2-container--default .select2-selection--multiple .select2-selection__rendered {
//     position: absolute;
//     top: 100%;
//     height: 0;
//     overflow: visible !important;
//     white-space: nowrap !important;
// }

// .select2-container--default .select2-selection--multiple .select2-selection__choice {
//     float: none !important;
//     display: inline-block;
//     position: relative;
// }

// .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
//     position: absolute;
//     right: -8px;
//     top: -14px;
// }

// .select2-container .select2-search--inline {
//     position: absolute;
//     top: -100%;
//     transform: translateY(-100%); /*тут через calc можно подровнять или через margin*/
//     width: 90% !important;
// }

// .select2-container--default .select2-search--inline .select2-search__field{
//     max-width: 100% !important;
// }

// .main-form__select select {
//     box-sizing: border-box;
//     position: relative;
//     display: block;
//     width: 100%;
//     padding: 26px 80px 25px 30px;

//     background: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// 	border:0;
// 	outline:none;
// 	border-bottom: 1px solid #A1A1A1;
// 	padding: 0 10px 10px 0;
// 	font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 21px;
//     cursor: pointer;
//     outline: none;
//     		@media(max-width: 426px){
// 	font-size: 16px;
// line-height: 19px;
// }
// }

.main-form__select{
	width: 48%;
	position:relative;
		margin-bottom: 25px;

		@media(max-width: 426px){
	width:100%;
}

//     &:after {
//     content: "";
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     border-right:1px solid #000000;
//     border-bottom:1px solid #000000;
//         pointer-events: none;
// position:absolute;
//     right: 10px;
//     z-index: 1;
//    top:35px;
//     transform: rotate(45deg);
// }
}

.main-form__input-privacy{
	display:flex;
	position:relative;
	margin-bottom: 25px;
	& label{
		display: inline-block;
		vertical-align:middle;
		padding-left:35px;
font-size: 13px;
line-height: 15px;
margin-bottom: 0;
color: #A2A2A2;
	}
& #privacy-error{
	position:absolute;
	top:23px;
	padding:17px 40px 17px 17px;
	background-color:#fff;

}
	& input{
		position:relative;
		width:0;
		height:0;
			display: inline-block;
		vertical-align:middle;
		background-color:#ffff;
		&:before{
			content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;

    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    border: 1px solid #C5C5C5;
}
    &:after {
    content: "";
    display: none;
    width: 12px;
    height: 8px;
    border-left: 2px solid #00AF85;
    border-bottom: 2px solid #00AF85;
    box-sizing: border-box;

    position: absolute;
    top: 1px;
    left: 5px;
    z-index: 1;
    transform: rotate(-45deg);
    transition: border .1s linear;
    z-index: 2;
}
		}
	}
.main-form__input-privacy input:checked:after {
    display: block;
}

.main-form_submit{
	display: flex;
	justify-content:flex-end;
	width:100%;
	align-items:center;
	@media(max-width:678px){
		flex-direction:column;
		justify-content: center
	}
}
.main-form_submit input[type="submit"]{
	background: #46A6E4;
    -webkit-box-shadow: 0px 20px 32px rgba(99, 140, 166, 0.3);
    box-shadow: 0px 20px 32px rgba(99, 140, 166, 0.3);
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 19px 28px 20px;
    cursor: pointer;
    margin-left:35px;
    transition:.5s;
    &:hover{

	box-shadow: 0px 20px 32px  rgba(70, 166, 228, 0.3);	
}
    	@media(max-width:678px){
		margin:20px 0 0;
	}
}


.select2{
	width:100% !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border:0;
    border-bottom: 1px solid #A1A1A1;
    border-radius: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left:0
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
border:none;

    width: 6px;
    height: 6px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    pointer-events: none;
    position: absolute;
    right: 10px;
    z-index: 0;
    top: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
 border:none;

    width: 6px;
    height: 6px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: rotate(225deg);
}
.select2-container--open .select2-dropdown--below{
	background: #FFFFFF;
box-shadow: 0px 36px 36px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 10px 10px;
border:none;


}
.select2-search--dropdown{
	display:none;
}

.select2-selection__rendered{
font-size: 18px;
line-height: 21px
}
.select2-results__option{
	padding:0;
	margin-bottom: 6px;
	font-size: 16px;
line-height: 19px;
}
.select2-results__option:last-child{
	margin-bottom: 0
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color:#fff;
	color: #46A6E4;
}
.select2-container--default .select2-results > .select2-results__options{
	padding:17px 18px;
}
.select2-container--default .select2-results__option[aria-selected=true]{
	background-color:#fff
}
.select2-container .select2-selection--single{
	height:auto;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-bottom:10px;
	line-height: 21px !important;
}
.select2-results{
	// max-height: 250px;
	overflow-y: auto !important;
	padding:17px 18px;
max-height:250px;
}

.modal-body .select2-dropdown{
	z-index: 3001
}
// .select2-dropdown {
//   position: static;
// }
.select2-dropdown.select2-dropdown--above {
       margin-top: 280px;
        position: static;
        	background: #FFFFFF;
box-shadow: 0px 36px 36px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 10px 10px;
border:none;


}

.js-example-basic-single{
	opacity:0;
}
label.error{
	padding: 17px 40px 17px 17px;
    display: block;
    border: 1px solid;
    border-radius: 6px;
    position:relative;
    background-color:#fff;
&:after{
content:'';
display:inline-block;
position:absolute;
width:12px;
height:12px;
right:17px;
background-image:url(../img/cross-red.svg);
background-size:cover;
}
&:before {
   content: '';
  width:12px;
  height:12px;
  display:block;
  background-color:#fff;
  border-top:1px solid #BE0000;
  border-right:1px solid #BE0000;
  transform: rotate(-45deg);
  margin-top: -24px;
  margin-left:12px;
  position:absolute;
}
}

.recaptcha-error{
	margin:40px auto 20px;
	text-align: center;
	color: #BE0000 ;
	padding:20px;
	font-size: 16px;
	line-height: 19px;
	border:2px solid ;
}

.message-success{
margin:20px auto;
	text-align: center;
	color: green ;
	padding:20px;
	font-size: 16px;
	line-height: 19px;
	border:2px solid ;
}
.message-error{
margin:20px auto;
	text-align: center;
	color: #BE0000;
	padding:20px;
	font-size: 16px;
	line-height: 19px;
	border:2px solid ;
}