/* Font family*/
@font-face {
	font-family: 'ProximaNova_reg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova_blod';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: 900;
	font-style: normal;
}
body{
    margin: 0;
}
html{
    font-size: 10px;
}
p{
        .reg();
        color:#999999;
        font-size: 1.6rem;
        line-height: 2.5rem;
}

.reg(){
    font-family: 'ProximaNova_reg', sans-serif;
}
.bold(){
    font-family: 'ProximaNova_blod',sans-serif;
    font-weight: bold;
}


// Colors
@light:#fff;
@text-color:#323232;
@btn-color:#4985FF;
@bg-light:#f5f5f5;


.container{
    width: 1144px;
    margin: 0 auto;
    

}
.button{
    background-color:@btn-color;
    color:@light;
    .reg();
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.5rem 3.5rem;
    border: none;
    border-radius: 3rem;
    outline: 0;
    &:hover{
        cursor:pointer;
        background-color: darken(@btn-color, 5%);
    }
    
}
.header{
    &-row{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    hr{
        margin: 0;
        width: 100%;
    }
}
.main{
    background:url('../img/bg.png') center center no-repeat;
    background-size: cover;
    padding: 2rem 0 0rem;
    &-menu{
        margin: 2.5rem 0rem 4.5rem;
        
        // height: 10rem;
        &-text{
            text-decoration: none;
            margin-left: 40px;
            font-size: 16px;
            .reg();
            color:@light;
            margin-top: 45;
            margin-bottom: 45;
        }
    }
    &-preview{
        text-align: center;
        color: @light;
        h2{
            margin-top: 22rem;
            margin-bottom: 2rem;
            .reg();
            font-weight: 100;
        }
        h1{
            text-align: center;
            margin: 0 auto;
            .bold();
            font-size: 4.8rem;
            width:83rem;
            line-height: 6.3rem;
        }
       
    }
    &-btn{
        margin: 5rem 0rem 33.5rem;
    }

}

.services{
    text-align: center;
    margin-bottom: 8.5rem;
    &-head{
        width: 74rem;
        margin: 0 auto;
        h2{
            text-align: center;
            .bold();
            font-size: 3.6rem;
            color:@text-color;
           
            margin: 11rem auto 4rem;
            line-height: 5.2rem;
        }
        p{
            text-align: center;
        .reg();
        color:#999999;
        font-size: 1.6rem;
        
        margin: 0rem auto 7rem;
        line-height: 2.5rem;
        }
        
    }
    &-item{
        display: flex;
        justify-content: space-between;
        .item{
            img{
                float:left;
                width: 11rem;
                height: 11rem;
            }
            p{
                strong{
                    font-size: 1.8rem;
                    color: @text-color;
                }
                .reg();
                font-size: 1.4rem;
                width: 29.8rem;
                height: 8.3rem;
            }
            

        }
    }
    &-btn{
        margin: 5.5rem 0rem 0rem;
    }
}

.info{
    background-color: @bg-light;
    &-pic{
        padding-top: 10rem;
        margin-bottom: 12rem;
        img{
            z-index: 99;
            width: 50rem;
            height: 40rem;
            float:right;
        }
        h2{
            .reg();
            color:@text-color;
            font-size: 3.6rem;
            line-height: 5.2rem;
        }
        p{
            line-height: 2.5rem;
        }
        a{
            .reg();
            font-size: 1.6rem;
            color: #4985FF;
        }
    }
    hr{
        border: 1px solid #E0E0E0;
       
    }
    &-item{
        margin-top: 8rem;
        display: flex;
        justify-content: space-around;
        .item{
            display: inline-flex;
           align-items: center;
            img{
                

            }
        figcaption{
            font-size: 3.6rem;
            .reg();
            margin-left: 2rem;
            font-weight: 100;
            
        }
        h3{
            display: flex;
        }
    }
        .h3{
            display: flex;

        }
    }
    &-out{
        display: flex;
        justify-content: space-around;
        p{
            .reg();
            width: 10.04rem;
            margin: 0;
        }
        padding-bottom: 7rem;
    }

}

.works{
    background:linear-gradient(180deg, #553ac1 55.44%, #ffffff 0%), #c4c4c4;
    // height: 49rem;
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 9rem;
        padding-bottom: 7rem;
        h2{
            .bold();
            color: @light;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 5.2rem;
            margin: 0;
        }
    }
    &-btn{
        text-transform: none;
        padding: 1.5rem 5.5rem;
    }

    &-item{
        display: flex;
        justify-content: space-between;
       
        p{
            width: 35rem;
        }
        b{
            color: black;
        }
        h3{
            .reg();
            color:#999999;
            font-size: 1.6rem;
            // line-height: 2.5rem;
            // width: 35rem;
            margin: 3rem 0;
            color: #4985FF;
            margin-bottom: 3rem;
        }
        a{
            .reg();
            font-size: 1.6rem;
            color: #4985FF;
            
        }
    }
    hr{
        border: 1px solid #E0E0E0;
        margin: 8.5rem 0rem;
       
    }
}

.projects{
    background: @bg-light;
    text-align: center;
    margin: 0;
    padding: 0;
    &-head{
        text-align: center;

        h2{
            .bold();
            font-weight: 800;
            font-size: 3.6rem;
            color:black;
            margin-top: 0;
            line-height: 5.2rem;
            padding-top: 10rem;
            margin-bottom: 4rem;
        }
        p{
            margin: 0 0 6rem;
        }
    }
    &-item{
        display:flex;
        justify-content: space-between;
        img{
            width: 25.5rem;
            height: 25.5rem;
        }
        margin-bottom: 5rem;
    }
    &-btn{
        margin-bottom: 13rem;
    }
}

.video{
    background: url(../img/bgvideo.png) top center no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    &-header{
        text-align: center;
        
        h2{
            .reg();
            padding-top: 7rem;
            margin: 0;
            color: @light;
            font-size: 3.6rem;
            font-weight: 700;
        }

        p{
            color:@light;
            font-weight: 400;
            padding-bottom: 7rem;
            margin: 0;
        }


    }

    &-link{
        margin-bottom:8.5rem ;
    }
    hr{
        border: 1px solid #E0E0E0;
    }
}

.email{
    text-align: center;

    &-header{
        h2{
            .reg();
            padding-top: 7rem;
            margin: 0;
            color: black;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    
    &-input{

        input{
            border:@bg-light solid 1px;
            border-radius: 3rem;
            outline: 0;
            padding: 1.3rem 15rem 1.3rem 3rem;
            box-shadow: -1px 1px 24px -11px #000000;
    
        }
        p{
            font-size: 1.3rem;
        }
        
    }
    &-btn{
        position: absolute;
        font-size: 1.5rem;
        text-transform: none;
        padding: 1.3rem 3rem 1.2rem 3rem;
        transform: translateX(-100%);
        box-shadow: 1px 1px 24px -11px #000000;
        
    }
    margin-bottom: 2rem;
}