
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: @navbar-color;
    //background-color: transparent;
    transition: background-color 0.3s;
    box-sizing: border-box;
    background: @white-color;
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;


    .width100{
      width: 100%;
    }

    &:not(.fixed){
        background-color: @navbar-bkg-color;
    }

    a {
        color: @navbar-font-color;

    }

    &.fixed {
        position: fixed;
        top: 0;
        z-index: @zindex-fixed;
        .breakpoint-small-down({
          padding: 10px 0;
        });
    }

    &.scrolled {
        background-color: @navbar-bkg-color !important;
    }

    .navbar-brand {
      display: flex;
      //flex-basis: 292px;
      min-height: 60px;
      background-size: 500px;
      background-repeat: no-repeat;
      background-position: -105px -135px;
      .breakpoint-laptop-down({
        //height: 77px;
        //background-size: 200px!important;
        //background-position: 35px 17px!important;
      });
      .breakpoint-small-down({
        //background-size: 480px;
        //background-position: 20px 1px!important;
      });
    }

    .navbar-nav{
      list-style-type: none;
    }

    .navbar-collapse {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-direction: column-reverse;
        align-items: center;
        background-color: inherit;

        .navbar-nav {
            display: flex;
            flex-basis: 100%;
            width: 100%;
            //max-width: 737px;
            flex-grow: 1;
            padding-left: 1rem;
            //padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            justify-content: space-between;
            background-color: inherit;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            z-index: @zindex-dropdown;
            .font-size(1.6);

            .nav-item {
                display: block;

                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                z-index: @zindex-dropdown;
                cursor: pointer;
                text-align: center;

                &>a {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    margin-left: 0.6rem;
                    margin-right: 0.6rem;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;

                    &:hover {
                        opacity: 0.6;
                    }

                }

                &.active a{
                  opacity: 0.6;
                }

                background-color: inherit;
                &.dropdown {

                    .dropdown-menu {
                        position: relative;
                        z-index: @zindex-dropdown;
                        top: 0;
                        background-color: inherit;
                        display: block;
                        padding-left: 0;
                    }
                }

                &.sign-in a{
                  color: @purple-color!important;
                }
            }
        }
    }


    .breakpoint-huge({
        flex-wrap: nowrap;
        input[type='checkbox']{
          display: none;
        }

        .navbar-toggler {
            display: none;
        }
        .navbar-collapse {
            display: flex !important;
            -ms-flex-preferred-size: 100%;
            flex-basis: auto !important;
            -ms-flex-positive: 1;
            -ms-flex-align: center;
            align-items: center;
            flex-direction: row;
            padding-left: 0;
            padding-right: 0;
            width: 100%;

            .navbar-nav {
                justify-content: flex-end;
                flex-direction: row;
                width: 100%;
                .font-size(1);


                .nav-item {
                    text-align: left;

                    &>a {
                        max-width: 150px;
                    }
                    &.dropdown {
                         &:hover > .dropdown-menu {
                            display: block;

                        }

                        .dropdown-menu {
                            display: none;
                            position: absolute;
                            top: 73px;
                            padding-left: 0;
                            padding-top: 15px;
                        }
                    }
                }
            }
        }
    });
}

div.search{
    margin-right: 25px;
  .breakpoint-small-down({
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    //margin-left: 10px;
    //margin-right:10px;
    label{
      display: none;
    }
  });

}

#menuToggle{
  display: none;
}

.profile_name{
  img{
    width: auto!important;
  }
}

@media (max-width:1200px) {

  /* menu toggle effect mobile */

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    //top: 25px;
    left: -22px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    align-items: flex-end;
  }

  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: @default-color;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    //background: #36383F;
    background: @white-color;
    order: 3;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    background: @white-color;
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
    background: @white-color;
  }

  #menu
  {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 7px);
    //margin: -22px 0 0 -100vw;
    margin: -38px -22px 0 0;
    padding: 80px 0 0 85px;
    background-color: @default-color;
    color: @white-color!important;
    font-size: 28px!important;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 35px 62px 0 0;
    transition-delay: 2s;
    text-align: right;
  }

  #menu li a{
    color: @white-color;
  }

  #menu li.sign-in a{
    color: @purple-color!important;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  .hidden-xs{
    display: none;
  }


}