.site-layout {
  .site-layout-content {
    display: flex;
    flex-direction: column;
  }
  .breadcrumb_box {
    height: 48px;
    line-height: 48px;
    margin-bottom: 15px;
    padding: 0 15px;
    background-color: #fff;
  }
  .content_box {
    padding: 15px;
    background-color: #fff;
    flex: 1;
  }
}

.down {
  padding-top: 48px;
  display: flex;
  .site-layout-content {
    display: flex;
    flex-direction: column;
  }
  .breadcrumb_box {
    height: 48px;
    line-height: 48px;
    margin-bottom: 15px;
    padding: 0 15px;
    background-color: #fff;
  }
  .content_box {
    padding: 15px;
    background-color: #fff;
    flex: 1;
  }
}
