// out: false
/* tooltip*/ @import (reference) 'ui.less';

@tooltip-min-width:                     32px;
@tooltip-max-width:                     680px;
@tooltip-min-height:                    26px;
@tooltip-z-index:                       99;

@tooltip-content-line-height:           1.2em;
@tooltip-content-padding:               5px;

@tooltip-arrow-size:                    10px;

@tooltip-bg:                            @card-bg-dark;
@tooltip-bg-dark:                       @black;

._global-vars () {
    --ui-tooltip-bg: @tooltip-bg;
}
._global-vars-dark () {
    --ui-tooltip-bg: @tooltip-bg-dark;
}

.ui-ease-tooltip { transition-property: top, left, opacity; }

[data-ui-tooltip] { display: inline-block; }

.ui-tooltip {
    min-width: @tooltip-min-width; max-width: @tooltip-max-width; position: absolute; z-index: @tooltip-z-index;

    &:not([class*="ui-fill-"]) { color: @white; ._bg-var(tooltip-bg); }
    &:not(.ui-open) { display: none; }
    &:not(.ui-open-ease) { opacity: 0; }

    &-content { line-height: @tooltip-content-line-height; min-height: @tooltip-min-height; padding: @tooltip-content-padding (@tooltip-content-padding * 2); position: relative; }

    &[data-ui-pos="t"] {
        & > span {
            top: 100%; left: 50%;

            i { border-top-color: @no-color; border-left-color: @no-color; }
        }
        .ui-tooltip-content { text-align: center; }
    }
    &[data-ui-pos="b"] {
        & > span {
            bottom: 100%; left: 50%;

            i { border-bottom-color: @no-color; border-right-color: @no-color; }
        }
        .ui-tooltip-content { text-align: center;; }
    }
    &[data-ui-pos="r"] {
        & > span {
            right: 100%; top: 50%;

            i { border-top-color: @no-color; border-right-color: @no-color; }
        }
    }
    &[data-ui-pos="l"] {
        & > span {
            left: 100%; top: 50%;

            i { border-bottom-color: @no-color; border-left-color: @no-color; }
        }
        .ui-tooltip-content { text-align: right; }
    }

    &[data-ui-pos="tr"] {
        & > span {
            top: 100%; left: (@tooltip-arrow-size * 2);

            i { border-top-color: @no-color; border-left-color: @no-color; }
        }
    }
    &[data-ui-pos="tl"] {
        & > span {
            top: 100%; right: (@tooltip-arrow-size * 2);

            i { border-top-color: @no-color; border-left-color: @no-color; }
        }
        .ui-tooltip-content { text-align: right; }
    }
    &[data-ui-pos="br"] {
        & > span {
            bottom: 100%; left: (@tooltip-arrow-size * 2);

            i { border-bottom-color: @no-color; border-right-color: @no-color; }
        }
    }
    &[data-ui-pos="bl"] {
        & > span {
            bottom: 100%; right: (@tooltip-arrow-size * 2);

            i { border-bottom-color: @no-color; border-right-color: @no-color; }
        }
        .ui-tooltip-content { text-align: right; }
    }

    & > span {
        display: block; position: absolute; transform: rotate(45deg);

        i {
            box-sizing: content-box; width: @tooltip-arrow-size; height: @tooltip-arrow-size; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);

            &:not([class*="ui-fill-"]) { ._bg-var(tooltip-bg); }
        }
    }
}