.cms-index-index {
    .col1-layout > .container {
        width: 100%;
        max-width: none;
    }
}

.home-page-2 {
    .title-block {
        border-top: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;

        h2 {
            font-size: 200%;
            color: #222;
            font-weight: 500;
            display: table;
            background-color: #fff;
            position: relative;
            top: -19px;
            padding-right: 20px;
        }

        .view-all {
            position: absolute;
            top: -19px;
            right: 0;
            padding-left: 20px;
            display: table;
            background-color: #fff;

            a {
                display: block;
                height: 35px;
                line-height: 33px;
                padding: 0 30px;
                border: 1px solid #ddd;
                .border_radius(4px);
                .transition(.2s);
            }
        }
    }

    .products-grid .item .item-inner .box-info {
        text-align: unset;
        border: none;

        &:before {
            display: none !important;
        }

        .product-name {
            height: 44px;
            overflow: hidden;
        }
    }
}

.slidershow {
    margin-bottom: 60px;

    .owl-theme .owl-nav {
        .owl-next,
        .owl-prev {
            position: absolute;
            top: 50%;
            margin: -15px 0 0 0;
        }

        .owl-next {
            right: 20px;
        }

        .owl-prev {
            left: 20px;
        }
    }

    .owl-theme .owl-nav [class*="owl-"] {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-top: -25px;
        background-color: #fff;
        color: #666 !important;
        opacity: 0;
        .border_radius(50%);

        &:hover {
            color: #fff !important;
        }

        &:before {
            font-size: 28px;
            line-height: 50px;
        }
    }

    .owl-theme .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;

        .owl-dot {
            span {
                background-color: #666;
            }
        }
    }

    &:hover {
        .owl-theme .owl-nav [class*="owl-"] {
            opacity: 1;
        }
    }
}

.service-home {
    border: 1px solid #ddd;
    padding: 30px 20px 20px;
    margin-bottom: 74px;
    .border_radius(4px);

    .item {
        display: table;
        width: 100%;
    }

    .service-icon {
        display: table-cell;
        vertical-align: top;
        padding-right: 5px;
        width: 50px;
    }

    .service-info {
        display: table-cell;
        vertical-align: top;
        position: relative;

        h4 {
            color: #222;
            font-weight: 500;
            font-size: 128.571%;
        }

        p {
            color: #999;
        }
    }
}

.partners {
    margin-bottom: 30px;
}

.partners-items {
    .item {
        padding: 10px 10px 2px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .partners-title {
        border-top: none;
        text-align: center;

        a {
            font-weight: 500;
            font-size: 107.692%;
            display: inline-block;
            padding: 12px 10px;
            .transition(.2s);
        }
    }
}

.banner-full {
    margin-bottom: 74px;
}

.tab-banner {
    .banner-left {
        float: left;
        width: 32.05%;
    }

    .banner-center {
        float: left;
        width: 43.58%;
        margin: 0 10px;

        .banner-image {
            float: left;
            width: 50%;
        }
    }

    .banner-right {
        float: left;
        width: 22.56%;
    }
}

.tab-products-banner {
    position: relative;
    margin-bottom: 80px;

    .ltabs-wrap {
        position: static;

        .ltabs-tabs-container {
            padding-left: 20px;
            background-color: #fff;
            position: absolute;
            top: -17px;
            right: 0;

            .ltabs-tabs-wrap {
                border: 1px solid #ddd;
                padding: 0 20px;
                .border_radius(4px);

                ul {
                    li {
                        height: 33px;
                        line-height: 33px;
                        .transition(.2s);

                        &:not(:last-child) {
                            margin-right: 10px;

                            span:after {
                                content: "";
                                display: inline-block;
                                width: 4px;
                                height: 4px;
                                margin-left: 5px;
                                vertical-align: middle;
                                position: relative;
                                top: -1px;
                                .border_radius(50%);
                            }
                        }
                    }
                }
            }
        }
    }

    .products-grid .item .item-inner {
        margin-bottom: 20px;

        .box-image {
            margin-top: 30px;
        }
    }

    .sm-listing-tabs .ltabs-items .ltabs-loadmore {
        padding-top: 20px;
        text-transform: none;
        font-size: 107.69%;

        .ltabs-loadmore-btn {
            min-width: 145px;
            background-color: #189eff;
            padding: 8px 30px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            .border_radius(4px);
            .transition(.2s);
        }
    }
}

.deal-content {
    margin-bottom: 60px;

    .stock-qty {
        display: none;
    }

    .time-left {
        font-size: 92.30%;
    }

    .time-countdown-slide .time-ranger {
        margin: 10px 0 5px;
    }

    .title-block h2:before {
        margin-right: 7px;
        vertical-align: middle;
        position: relative;
        top: -3px;
        .font-awesome(f06d, 27px);
    }

    .block-product {
        position: relative;
    }

    .products-grid {
        margin-left: -15px;
        margin-right: -15px;

        .product-item {
            float: left;
            padding: 0 15px;

            .item-inner {
                border: 1px solid #ddd;
                .border_radius(4px);

                .box-image {
                    padding: 5px 5px 0;
                }

                .product-item-details {
                    padding: 0 20px 20px;
                }
            }
        }
    }

    .count-container {
        background-color: #fff;
        padding-left: 20px;
        position: absolute;
        top: -61px;
        right: 0;

        .deals-countdown {
            padding: 0 20px;
            .border_radius(4px);

            .deals-time {
                float: left;
                height: 35px;
                width: auto;
                line-height: 35px;
                color: #fff;

                div {
                    display: inline-block;
                    vertical-align: middle;
                }

                .num-time {
                    margin-right: 5px;
                    min-width: 20px;
                }

                &:not(:last-child) {
                    margin-right: 10px;

                    .title-time:after {
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        margin-left: 9px;
                        vertical-align: middle;
                        background-color: #fff;
                        position: relative;
                        top: -1px;
                        .border_radius(50%);
                    }
                }
            }
        }
    }
}

.view-all-bottom {
    text-align: center;

    a {
        min-width: 145px;
        display: inline-block;
        color: #fff;
        background-color: #189eff;
        padding: 8px 30px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        .border_radius(4px);
        .transition(.2s);
    }
}

.product-slider-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 30px 30px 0;
    margin-bottom: 70px;
    .border_radius(0 0 4px 4px);

    .owl-theme {
        .owl-nav {
            opacity: 0;
            .transition(.2s);

            div {
                width: 40px;
                height: 50px;
                line-height: 48px;
                background-color: #fff;
                border: 1px solid #ddd;
                color: #666;
                position: absolute;
                top: 50%;
                margin: -25px 0 0;
                .transition(.2s);

                &:hover {
                    color: #fff;
                }

                &.owl-next {
                    right: -52px;
                }

                &.owl-prev {
                    left: -52px;
                }

                &:before {
                    font-size: 26px;
                    line-height: 48px;
                }
            }
        }
    }

    &:hover {
        .owl-theme .owl-nav {
            opacity: 1;
        }
    }
}
