.Frame{
position: relative;
background-color: white;
left: 0px;
top: 10rpx;
height: 135px;
line-height: 20px;
text-align: center;
box-shadow: 0px 6px 14px -10px rgba(0, 0, 0, 0.4);
    .Title{
        position: relative;
        left: 13px;
        top: 14rpx;
        width: 182px;
        height: 45px;
        color: rgba(16, 16, 16, 100);
        font-size: 14px;
        text-align: left;
        font-family: PingFangSC-bold;
    }
    .Gain{
        position: relative;
        left: 600rpx;
        top: -46rpx;
        width: 49px;
        height: 20px;
        color: rgba(237, 79, 79, 100);
        font-size: 14px;
        text-align: left;
        font-family: PingFangSC-regular;
    }
    .Text{
        position: relative;
        top:-20rpx;
        left: 13px;
        width: 370px;
        height: 70rpx;
        color: rgba(16, 16, 16, 100);
        font-size: 12px;
        text-align: left;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-family: PingFangSC-regular;
    }
    .Ques{
        top:10rpx;
        position: relative;
        left: 15px;
        width: 49px;
        height: 17px;
        line-height: 20px;
        text-align: center;
        box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.4);
        color:  #A59F9F ;
        font-size: 24rpx;
    }
    .Remain{
        position: relative;
        left: 80px;
        top: -22rpx;
        width: 49px;
        height: 17px;
        line-height: 20px;
        text-align: center;
        box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.4);
        color: #2D77FB ;
        font-size: 24rpx;
    }
    .Type{
        top:-60rpx;
        left:610rpx;
        position: relative;
        width: 52px;
        height: 19px;
        color: rgba(105, 101, 101, 100);
        font-size: 13px;
        text-align: left;
        font-family: PingFangSC-regular;
    }
}