@import '../../variable.less';

.wrap {
  min-height: 100vh;
  padding: 0.1rem 0.12rem;
  padding-bottom: 0.8rem;
  background-color: @color-page-bg;
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.74rem;
  background: linear-gradient(180deg, @theme-color, @color-page-bg 100%);
  z-index: 1;
}

.header {
  position: relative;
  height: 0.64rem;
  line-height: 0.64rem;
  border-radius: 0.06rem;
  z-index: 999;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @color-order-text-big_btn;
  .icon {
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.08rem;
  }
}

.content {
  border-radius: 0.08rem;
  font-size: 0.15rem;
  margin-top: 0.1rem;
  background-color: #fff;
}

.address {
  padding: 0.2rem 0.15rem;
}

.addressInfo {
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

.addressIcon {
  width: 0.16rem;
  height: 0.19rem;
  margin-right: 0.1rem;
}

.info {
  color: @default-color_text;
  font-size: 0.16rem;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .flex {
    display: flex;
    align-items: center;
    .name {
      color: @default-color_text;
      font-size: 0.16rem;
      font-weight: bold;
      display: inline-block;
      max-width: 1.2rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .phone {
      font-size: 0.14rem;
      color: @default-color_text;
      font-weight: bold;
      margin-left: 0.15rem;
    }
  }
  .text {
    font-size: 0.13rem;
    color: @color-text_66;
    margin-top: 0.04rem;
  }
}
