body, html {
  font-size: 14px;
}

#main {
  padding: 0px;
}

.av-big-title,
.content-subhead {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 6px;
  margin-bottom: 6px;
}

#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
  color: #F2F2F2;
}

a {
  color: #ba0009;
  text-decoration: none;
}

.link-item a {
  display: block;
  padding: 4px;
  float: left;
}

.avdata {
  padding: 5px;
}

.avdata .av-link {
  position: relative;
  display: block;
}

.avdata .duration {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background-color: rgb(255, 40, 0);
  color: #ffffff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.avdata img.cover-img {
  width: 100%;
  aspect-ratio: 505 / 259;
}

.avdata .video-text-icon {
  position: absolute;
  top: .4rem;
  right: .4rem;
  border: 0;
  background-color: #fbbc05;
  color: #000000;
  padding: 1px 3px 0 3px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
}

.avdata .av_data_title {
  font-size: 1em;
  color: #333333;
  text-decoration: none;
  display: block;
  padding: .15em;
  line-height: 1.2em;
  font-weight: normal;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4em;
  margin: 0px;
}

.application-name .logo {
  font-size: 1.8rem;
  color: #ff3860 !important;
  font-weight: 600;
}

ul.menu li {
  margin-bottom: 10px;
}

.ui[class*="1:1"].embed {
  padding-bottom: 100%;
}

.ui[class*="16:9"].embed {
  padding-bottom: 56.25%;
}

.ui.embed {
  position: relative;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  background: #333333;
  padding-bottom: 56.25%;
}

.ui[class*="9:16"].embed {
  padding-bottom: 148.25%;
}


.ui.embed embed, .ui.embed iframe, .ui.embed object {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.tab-container .tab-item {
  float: left;
}

.none {
  display: none !important;
}

.message.is-info .message-body {
  padding: 10px;
}

aside .menu {
  padding-left: 1rem;
}

.list_item a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.list_item a {
  padding: 8px;
}


.unlike-link.active .label,
.like-link.active .label {
  color: #FFF;
}


.collect.active,
.unlike-link.active,
.like-link.active {
  color: #ff0000;
}

.ui.embed .sk-circle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
}

.header {
  font-size: 1.25rem;
  margin-bottom: 10px;
  line-height: 1.25rem;
}

.menu-list a.active {
  background-color: #f5f5f5;
  color: #363636;
}

.video-av-data:after,
.cl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.cl {
  zoom: 1
}

.vip_expire_date {
  font-weight: bold;
  color: #0c9bff;
}

.inner-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.player-ads-container .self-gg img {
  width: 100%;
}

.preview-video-container {
  position: relative;
}

.preview-video-container .vip-cover {
  background: #0c0b0b;
  opacity: .55;
}

.preview-video-container .vip-only {
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 10001;
}

.preview-video-container .vip-cover,
.preview-video-container .cover_image_url {
  position: absolute;
  width: 100%;
  height: 100%;
}

.preview-video-container .desciption {
  color: #FFF;
  text-align: center;
}

#high-resolution-button {
  display: none;
}

.logo-description {
  display: none;
  line-height: 50px;
  color: #0f6ecd;
}

.av-big-title {
  margin: 0px;
}

.full.content {
  width: 100%;
  max-width: 100%;
  padding: 0px;
}

.videos-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.avdata {
  width: 25%;
  flex: 1 0 auto;
}


@media (max-width: 640px) {
  .avdata {
    width: 50%;
    float: left;
  }
}

.like .button {
  float: left;
}


.pagination-list .pure-button {
  background: #000;
  text-decoration: none
}

.pagination-list .pure-button a {
  color: #F2F2F2;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pure-button.next-button {
  text-decoration: none;
  color: #f44336;
}

#menu .pure-menu-selected, #menu .pure-menu-heading {
  color: #11181f;
}

#menu .pure-menu-selected, #menu .pure-menu-heading {
  color: #db2828;
}

#download-button i.far,
#collect-link i.far,
.like i.far {
  font-size: 2.5rem;
  cursor: pointer;
}

.tab-container .value {
  color: #000000;
  font-weight: bold;
}

.ui.header.title {
  padding: 0px;
}

.pagination-link.is-current {
  color: #ff2800 !important;
  font-weight: bold;
}

.user-menu {
  display: inline-block;
}


.user-menu .pure-menu-item .pure-menu-item {
  display: block;
  background: #f2f2f2;
}


#menuLink1 {
  color: #FFF !important;
}

.notification,
aside {
  background: #1f8dd6;
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}

.notification a,
aside a {
  color: #c31b22;
}

.ui.top.link.header {
  padding-bottom: 10px;
}

.link-container .ui.segment {
  padding-top: 10px;
}


.avdata .vip_look {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5;
  padding: 3px 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.15);
}

.ui.label {
  color: #0c0b0b;
  font-weight: bold;
}


.loading.lazy,
.loaded.lazy {
  opacity: 1;
}

.lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.banner-gg .self-gg img {
  width: 720px;
  height: 60px;
}

.content-subhead {
  margin-top: 0px !important;
}

.pure-menu-item.stress a {
  color: #ff2d35 !important;
  font-weight: bold;
}


.video-list,
.videos-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.video-download.videos-container,
#videos-container {
  display: block !important;
}


.self-gg img.s-2 {
  height: 120px;
}

body,
html {
  font-size: 16px;
}

.more_actor a:hover {
  text-decoration: underline;
  color: #149eea;
}

.link-container {
  margin-bottom: 10px;
}

.avdata.column {
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: transparent;
}


.pure-menu-heading {
  color: #db2828;
  font-weight: bold;
}


.pure-menu-link {
  font-size: 1rem;
}


.statement p,
.video-av-data .ui.cards {
  margin: 0px;
}


.tab-item.statistic,
p.list_item {
  margin-bottom: 5px;
}


.pagination a.pagination-link,
.pagination a.pagination-next {

}

.content-subhead {
  font-size: 1.5rem;
}


.video-counttimedown svg,
.gg-close svg,
.high_resolution svg {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  fill: #F0F0F0;
}


.statement p {
  font-size: 1rem;
}

h2 {
  height: 2rem;
  line-height: 2rem;
}

.ui.header h1 {
  height: 2rem;
  line-height: 2rem;
}

@media (min-width: 1400px) {
  .ui.container {
    width: 1327px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.av-big-title {
  margin-bottom: 7px;
  margin-top: 7px;
}


.well,
fieldset {
  border: none !important;
}


.content-subhead {
  font-size: 1.5rem;
  margin-bottom: 0px;
  padding-left: 6px;
  line-height: 1.5rem;
  height: 1.5rem;
  font-weight: bold;
}


.container-fluid {
  padding-left: 0px;
  margin-bottom: 5px;
  margin-top: 5px;

}

