//compress: true

@import 'vars';

html {
    font-size: 15px;
}

/* 
font-family: 'Fredoka One', cursive;
font-family: 'Hind Madurai',sans-serif;
font-family: 'Roboto', sans-serif;
align-self: flex-start;
*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: @black;
    background-color: @white;
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0, 0, 10px;
}
a {
    text-decoration: none;
}
input {
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
    outline: none;
    border: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
blockquote {
    margin: 0;
}
// preloader
.mask {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, darken(#f2ceda, 15%), darken(#f2ceda, 8%));
    box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
}

.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;

    &:before,
    &:after {
        content: '';
        height: 40px;
        width: 40px;
        border: 8px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        position: absolute;
        top: 0;
    }

    &:before {
        animation: animate 3s infinite linear;
    }

    &:after {
        animation: animate2 3s infinite linear;
    }
}

@keyframes animate {
    100% {
        transform: rotate(180deg) skew(360deg);
    }
}
@keyframes animate2 {
    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}
.hide {
    opacity: 0;
}

/* Block */

@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/nav';
@import 'blocks/intro';
@import 'blocks/delivery';
@import 'blocks/see-details';
@import 'blocks/product';
@import 'blocks/feedback';
@import 'blocks/slider';
@import 'blocks/order';
@import 'blocks/ask-question';
@import 'blocks/footer';
