//初始设置
body {
  font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
  color: #666666;
  padding: 0px;
  margin: 0px;

}

//外边距溢出
.cl:before {
  content: "";
  display: block;

}

//清除浮动影响
.both:after {
  content: '';
  display: block;
  clear: both;
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

//整体布局
#main{
  width: 1211px;
  margin: 0 auto;
}

//顶部布局
#header {

  //顶部导航
  .header_top {
    height: 30px;
    background: #F5F5F5;
    margin: auto;
    font-size: 14px;
    background: #F5F5F5;
    line-height: 30px;
    .container {
      width: 1211px;
      margin: 0 auto;
    }
    div.welcome {
      display: inline-block;
      width: 50%;
      //line-height: 40px;
      padding: 0 10px 0 10px;
      > b {
        margin-right: 10px;
        font-weight: normal;

        a {
          color: #e4393c;
        }
      }
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
        width: 100px;
        height: 30px;
        //line-height: 40px;
        text-align: center;
        position: relative;
        border: 1px solid transparent;
        // 弹出列表样式
        > ul {
          width: 100px;
          position: absolute;
          left: -1px;
          top: 29px;
          display: none;
          background: #F5F5F5;
          border: 1px solid transparent;
        }
      }
      li.rukou:hover {
        border: 1px solid #F5F5F5;
        border-bottom: 1px solid transparent;
        background: #ffffff;
        > ul {
          display: block;
          border: 1px solid #F5F5F5;
          border-top: 1px solid transparent;
          background: #ffffff;
        }
      }
    }
  }

  //logo和搜索框样式
  #top_bottom {
    width: 1211px;
    margin: 0 auto;
    padding: 40px 0px 10px 0px;
    #logo {
      width: 35%;
      img {
        vertical-align: middle;
      }
    }
    > div {
      display: inline-block;
      //  input 样式
      #key_search {
        width: 400px;
        height: 40px;
        padding: 0px 0px 0px 10px;
        border: 1px solid #999999;
        border-right: none;
        outline: none;
      }
      // bnt 样式
      #search_btn {
        width: 100px;
        height: 40px;
        text-align: center;
        color: #ffffff;
        background: #3385FF;
        border: none;
        vertical-align: bottom;

      }
      #search_btn:hover {
        cursor: pointer;
        background-color: darken((#3385FF), 10%);
      }
    }
  }

  //导航条样式
  #nav {
    width: 1211px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    //;
    > ul {
      background: #F5F5F5;
      li {
        display: inline-block;
        width: 180px;
        height: 40px;
        text-align: center;
        a {
          font-size: 18px;
          //font-weight: bold;
          line-height: 40px;
          color: #333;
        }
      }
      li:hover > a {
        color: #e4393c;
        //background: #333333;
      }
    }
  }
}

//主体样式
//分类列表样式
#main {
  padding-top:30px;
  //background: #F5F5F5;
  #banner_container{
    height: 400px;
    position:relative;
    margin-bottom: 50px;
  }

  // 左侧分类样式
  #sort {
    //display: inline-block;
    float: left;
    position: absolute;
    margin-bottom: 50px;
    z-index: 1000;
    background-color:rgba(15,17,22,0.8);
    > ul {
      padding-top: 20px;
      height: 400px;
      > li:hover > div.list_container {
        display: block;
      }
      > li:hover {
        //background: #0E050A;
        > a {
           color: #e4393c;

         }
      }
      > li {
        //display: inline-block;
        width: 211px;
        text-align: center;

        position: relative;
        > a {
          line-height: 40px;
          font-size: 16px;
          color: #ffffff;
        }
        //  弹出框
        div.list_container {
          width: 700px;
          //height: 300px;
          position: absolute;
          //top:40px;
          left: 211px;
          display: none;
          background: #ffffff;
          // 弹出框内列表
          > ul {
            display: inline-block;
            > li {
              width: 300px;
              padding: 10px 30px;
              text-align: left;
              border-bottom: 1px solid #F5F5F5;
              > a {
                font-size: 14px;
                font-weight: bold;
              }
              > ul {
                > li {
                  display: inline-block;
                  > a {
                    font-size: 12px;
                    //text-align: center;
                    color: #CBCBCB;
                  }
                  > a:hover {
                    color: darken((#CBCBCB), 70%);
                  }
                }
              }
            }
          }
        }
      }

      //女装 列表
      li.women {
        > div {
          top: -20px;

        }

      }
      li.men {
        > div {
          top: -60px;
        }

      }
      li.kids {
        > div {
          top: -100px;
        }

      }
      li.ornament {
        > div {
          top: -140px;
        }

      }
      li.shoes {
        > div {
          top: -180px;
        }

      }

      li.bags {
        > div {
          top: -220px;
        }

      }
    }
  }
  //  轮播//////////////////////////////////////////////////////////////
  #banner {
    position:absolute;
    z-index: 1;
    float: left;
    //background: #e4393c;
    height: 400px;
    width: 1211px;
    #slider {
      width: 1211px;
      height: 400px;
      position: relative;
      //top:20px;
      overflow: hidden;
      #imgs {
        position: absolute;
        > li {
          display: inline-block;
        }
      }
      #indexs {
        position: relative;
        top:360px;
        left: (1211-140)/2px;

        > li {
          display: inline-block;
          height: 20px;
          width: 20px;
          margin: 0px 10px 0px 0px;
          border-radius: 10px;
          text-align: center;
          line-height: 20px;
          background: #ffffff;
        }
        > li:hover {
          cursor: pointer;
          background: #e4393c;
          color: #ffffff;
        }
      }
    }
  }

  //热销产品样式
  #hot_sale {
    //margin-top: 40px;
    position: relative;
    width: 100%;
    //height: 202px;
    padding: 50px 0px 0px 0px;
    clear: both;
    border-top: 2px solid #333333;
    > span {
      display: inline-block;
      height: 30px;
      width: 100px;
      line-height: 30px;
      text-align: center;
      font-size: 18px;
      color: #232323;
      background: #fff;
      position: absolute;
      top: -16px;
      left: (1211-100)/2px;
    }
    > ul {
      width: 100%;
      //clear: both;
      > li {
        //display: inline-block;
        float: left;
        width: 200px;
        height: 200px;
        margin-left: 211/5px;
      }
    }
  }
  .detail_container {
    position: relative;
    margin-top: 80px;
    border-top: 2px solid #666666;
    > span {
      position: absolute;
      top: -40px;
      font-size: 24px;
      font-weight:bold;
      color: #232323;

    }
    > b {
      font-weight: normal;
      position:absolute;
      right:0px;
      top:-30px;
    }
    > ul {
      margin: 25px auto;
      width: 1050px;
      > li {
        //display: inline-block;
        float: left;
        width: 200px;
        height: 200px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border:1px solid #CBCBCB;
        overflow:hidden;
      }
    }
  }

}

//footer样式
#footer{
  #footer_top{
    width: 1211px;
    margin:50px auto;
    padding:40px 20px 20px 20px ;
    border-top: 1px solid #CCC8C8;
    text-align: center;
    >ul{
      display: inline-block;
      height: 150px;
      vertical-align: top;
      //float:left;
      border-left:1px solid #999999;
      li{
        width:200px;
        text-align: center;
        font-size:14px;
        line-height: 30px;
      }
      li:first-child {
        font-size: 18px;
        color:#0E050A;
      }
    }
  }
  #footer_bottom{
    background: #414141;
    #container{
      width: 1211px;
      padding:30px;
      margin: 0 auto;
      text-align: center;
      line-height: 40px;
      color:#D2D2D2;
      font-size:14px;
      a{
        color:#D2D2D2;
      }
      a:hover{
        color:#e4393c;
      }
    }

  }
}
.his{
width:200px;
}